{% load staticfiles i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="refresh" content="10;url={{ request.GET.next }}" />
    <title>{% if request.GET.transaction_status == "success" %} Order Successful {% else %} Order Failed {% endif %}</title>
	<link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
	<style>
		.row {margin: 0;}
		.wrapper {background: ghostwhite;padding: 1%;margin-top: 5%;border-radius: 4px;}
		.failure-heading {padding: 1%;background: #ffc967;border: 1px solid orange;border-radius: 4px;}
		.success-heading {padding: 1%;background: #a8e898;border: 1px solid #34fc03;border-radius: 4px;}
		.success-heading > .fa-check-circle {color: forestgreen;}
		.failure-heading > .fa-warning {color: red;}
		.order-details-wrapper {border: 1px solid #ccdccc;border-radius: 4px;margin-top: 1%;}
		.order-details-wrapper > .row > h4 {margin-left: 15px;margin-bottom: 0;font-weight: bold;}
		.mLabel {font-weight: bold;}
		.container {width: 100%;}

		@media only screen and (min-width: 768px) {
			.container {width: 50%;}
		}
	</style>
</head>
<body>
<div class="intro" style="background: url('/static/website/images/bg2.jpg') center center fixed; height: 100vh;">
	<div class="container">
		<div class="wrapper">
		{% if request.GET.transaction_status == "success" %}
			<div class="row success-message">
				<h4 class="success-heading"><i class="fa fa-check-circle"></i> Your transaction is successful.</h4>
				<div class="row">Thanks for your order.
					Your payment of <i class="fa fa-rupee-sign"></i> {{ request.GET.amount }} is complete.</div>
			</div>
		{% else %}
			<div class="row failure-message">
				<h4 class="failure-heading"><i class="fa fa-warning"></i> Sorry, your transaction failed.</h4>
				<div class="row">The transaction cannot be completed successfully.
				Please try again.</div>
			</div>
		{% endif %}
			<div class="order-details-wrapper">
				<div class="row">
					<h4>Order Details</h4>
				</div>
				<hr style="margin-top: 0;margin: 5px;">
				<div class="row">
					<div class="col-md-6 mLabel">Transaction Date:</div>
					<div class="col-md-6">{{request.GET.transaction_date}}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Transaction ID:</div>
					<div class="col-md-6">{{ request.GET.transaction_id }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Amount:</div>
					<div class="col-md-6"><i class="fa fa-rupee-sign"></i> {{ request.GET.amount }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Currency:</div>
					<div class="col-md-6">{{ request.GET.currency }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Payment Mode:</div>
					<div class="col-md-6">{{ request.GET.payment_mode }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Bank Transaction ID:</div>
					<div class="col-md-6">{{ request.GET.bank_transaction_id }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Bank Name:</div>
					<div class="col-md-6">{{ request.GET.bank_name }}</div>
				</div>
				<div class="row">
					<div class="col-md-6 mLabel">Message:</div>
					<div class="col-md-6" style="text-align: justify;">{{ request.GET.message }}</div>
				</div>
			</div>
			<br>
			<p>If you are not redirected within 10 seconds,
			<a href="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ default_redirect_url }}{% endif %}">click here.</a>
		</p>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
</body>
</html>
