<html>
<h1>Catbus InfoLabs Pvt. Ltd. <br><br> Merchant Check Out Page<br><br> Please Do Not Refresh The Page</h1></br>
<form method="post" action={{ api }} name="f1">
<table border="1">
<tbody>
{% for key,value in paytmdict.items %}
    <input type="hidden" name="{{key}}" value="{{value}}">
{% endfor %}
</tbody>
</table>
<script type="text/javascript">
document.f1.submit();
</script>
</form>
</html>
