{% load static %}
<!DOCTYPE html>
<html>

<head>
  <style>
    * {font-family: Arial, Helvetica, sans-serif;}
    @page { size: a4 portrait;}
    body {
      -webkit-print-color-adjust: exact;
      font-size: 1.4rem;
      line-height: 2rem;
      background-color: #fff;
    }
    .keep-together {page-break-inside: avoid;}
    .break-before {page-break-before: always;}
    .break-after {page-break-after: always;}
    .main-table {
      border-collapse: collapse;
      border-color: #ccc;
      width: 100%;
    }
    thead {
      display: table-header-group;
    }
    .awb-barcode {
      width: 260px;
      display: block;
    }
    .header-logo{
      width: 100px;
      display: block;
    }
    .header-barcode{
      width: 180px;
      display: block;
    }
    .p-4 {padding: 1rem;}
    .p-6 {padding: 1.5rem;}
    .py-half{padding: 0.2rem 0;}
    .mb-2 {margin-bottom: 1rem;}
    .separator-cell {padding: 16px 0px;}
    .separator {border: 3px solid #4C4C4C;}
    .inline {display: inline-block;}
    .bold {font-weight: bold;}
    .text-right {text-align: right;}
    .heading-cell {padding: 0.2rem 0.2rem;font-weight: bold; font-size: larger;}
    .heading-cell_hub {padding-top: 0.5rem;font-weight: 600; font-size: larger;}
  </style>
</head>
<body>
  {% for order in data %}
    <table cellspacing="6" cellpadding="8" border="1" class="main-table break-before">
      <!-- Heading -->
      <tr>
        <td align="center" colspan="2">
          <b>{{ order.printing_header }}</b>
        </td>
      </tr>
      <tr>
        <td class="p-4" align="left">
          <img class="header-logo" src="{{ order.logo }}" alt="Blowhorn"/>
        </td>
        <td class="p-4" align="right">
          <table width="100%">
            <tr>
              <td class="heading-cell ">AWB #{{ order.number }}</td>
            </tr>
            {% if order.delivery_hub_name %}
            <tr>
              <td class="heading-cell_hub ">{{ order.delivery_hub_name }}</td>
            </tr>
            {% endif %}
          </table>
        </td>
      </tr>
      <tr>
        <!-- LEFT side -->
        <td class="p-4" style="width: 50%">
          <div class="bold mb-2">Ship To</div>
          <div class="customer__name bold">{{ order.shipping_address.name }}</div>
          <div class="address">{{ order.shipping_address.address }}</div>
          <div class="py-half">
            <div class="bold inline">Pincode</div>
            <div class="inline">{{ order.shipping_address.pincode }}</div>
          </div>
          <!-- <div class="py-half">
            <div class="bold inline">Mobile</div>
            <div class="inline">{{ order.shipping_address.mobile }}</div>
          </div> -->
        </td>
        <!-- Right side -->
        <td valign="top">
          <table width="100%">
            <tr>
              <td class="py-half">Order Date</td>
              <td class="bold text-right">{{ order.date_placed }}</td>
            </tr>
            <!-- <tr>
              <td class="py-half">Invoice No</td>
              <td class="bold text-right" align="right">{{ order.invoice_number }}</td>
            </tr> -->
            <tr>
              <td class="py-half">Order ID</td>
              <td class="bold text-right" align="right">{{ order.order_id }}</td>
            </tr>
            <tr>
              <td class="py-half">Weight</td>
              <td class="bold text-right" align="right">{{ order.weight }}</td>
            </tr>
            <tr>
              <td class="py-half">Dimensions</td>
              <td class="bold text-right" align="right">{{ order.dimension }}</td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Payment details -->
      <tr>
        <td class="p-4">
          <table width="100%">
            <tr>
              <td>Payment Mode</td>
              <td align="right"><div class="bold inline">{{ order.payment_mode }}</div></td>
            </tr>
          </table>
        </td>
        <td class="p-4">
          <table width="100%">
            <tr>
              <td>Amount to collect</td>
              <td align="right"><div class="bold inline">&#8377;{{ order.amount_to_collect }}</div></td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        {% if order.ref_barcode and order.number_barcode %}
          <td align="center">
            <img class="awb-barcode" src="{{ order.number_barcode }}" alt="AWB Number"/>
          </td>
          <td align="center">
            <img class="awb-barcode" src="{{ order.ref_barcode }}" alt="Reference Number"/>
          </td>
        {% elif order.ref_barcode %}
          <td colspan="2" align="center">
            <img class="awb-barcode" src="{{ order.ref_barcode }}" alt="Reference Number"/>
          </td>
        {% elif order.number_barcode %}
          <td colspan="2" align="center">
            <img class="awb-barcode" src="{{ order.number_barcode }}" alt="AWB Number"/>
          </td>
        {% endif %}
      </tr>
      {% if order.sku_details %}
        <tr>
          <td colspan="2">
            {% include 'pdf/shipping_label/sku_details.html' with sku_details=order.sku_details %}
          </td>
        </tr>
      {% endif %}
      {% if order.return_address %}
      <tr>
        <td colspan="2" class="p-4">
          <div class="bold">Return Address</div>
          {% if order.pickup_hub_name %}
            <div>{{ order.pickup_hub_name }}</div>
          {% endif %}
          <div>{{ order.return_address }}</div>
        </td>
      </tr>
      {% endif %}
    </table>
  {% endfor %}
</body>

</html>
