<table width="100%" border="1" class="sku-details" cellpadding="8">
  <thead>
    <th>#</th>
    <th align="left">Item</th>
    <th align="right">Rate</th>
    <th align="right">Qty</th>
    <th align="right">Amount</th>
  </thead>
  <tbody>
    {% for row in sku_details %}
    <tr>
      <td align="center">{{ forloop.counter }}</td>
      <td align="left" style="width: 60%;">{{ row.name }}</td>
      <td align="right">{{ row.each_item_price }}</td>
      <td align="right">{{ row.quantity }}</td>
      <td align="right">&#8377;{{ row.total_item_price }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<style>
  .sku-details {border-collapse: collapse;border-color: #ccc;}
  .sku-details tr { page-break-inside: avoid }
</style>
