<div class="wrapper">
  <mat-accordion #accordion="matAccordion" multi>
    <!-- Groups -->
    <mat-expansion-panel *ngIf="groups && groups.length">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="row group-header">Groups</div>
        </mat-panel-title>
        <mat-panel-description class="panel-description">
            {{ groups.length }} of {{ master_data.groups.length }} groups
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="row group-body">
        <div class="col-lg-4 group--chip" *ngFor="let group of groups">
          <i class="fa fa-check-circle"></i>
          <div class="text">{{ group.name }}</div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- Permissions -->
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="row group-header">Permissions</div>
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            {{ permissions.length }} of {{ master_data.permissions.length }} permissions
        </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row group-body" *ngFor="let system of displayData">
            <h6 style="margin-top: 12px;">{{ system.name }}</h6>
            <mat-accordion style="width:100%;">
                <mat-expansion-panel *ngFor="let module of system.modules">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="row group-header">{{ module.name }}</div>
                    </mat-panel-title>
                    <mat-panel-description class="panel-description">
                        {{ module.permissions.length }} permissions
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                      <div class="subheader col-lg-12">
                        Regional Permissions
                      </div>
                  </div>
                  <div class="row group-body margin-bottom">
                    <div class="no-data" *ngIf="module.permission_levels && !module.permission_levels.length">
                        No permissions assigned
                    </div>
                    <div class="col-lg-3" *ngFor="let permLevel of module.permission_levels">
                        <div class="row group-subheader">{{ permLevel.permission_level.name }}</div>
                        <div class="group--chip" *ngFor="let permVal of permLevel.value">
                            <i class="fa fa-check-circle"></i>
                            <div class="text">{{ permVal.name }}</div>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="subheader col-lg-12">
                      Permissions
                    </div>
                </div>
                  <div class="row group-body">
                    <div class="no-data" *ngIf="module.permissions && !module.permissions.length">
                        No permissions assigned
                    </div>
                    <div class="col-lg-3" *ngFor="let permission of module.permissions">
                        <div class="group--chip">
                            <i class="fa fa-check-circle"></i>
                            <div class="text">{{ permission.name }}</div>
                        </div>
                    </div>
                  </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
      </mat-expansion-panel>
  </mat-accordion>
</div>
