.wrapper {
    padding: 15px;
    .group-header {
        margin: 0;
    }
    .group-subheader {
        font-weight: 500;
        margin: 0 0 4px 0;
    }
    .subheader {
        font-weight: 500;
        margin: 0 0 4px 0;
        border-bottom: 1px solid #eee;
    }
    .group-body {
        margin: 0;
        .group--chip {
            display: flex;
            align-items: center;
            padding: 4px 0;
            i {
                font-size: 16px;
                color: green;
                margin-right: 8px;
            }
            .text {
                letter-spacing: 1.2px;
            }
        }
    }
}
.margin-bottom {
    margin-bottom: 12px !important;
}
.no-data {
    font-size: 12px;
    color: red;
}
.panel-description {
    justify-content: flex-end;
}
