.trips-header {
  padding: 2px 42px 0 42px;
  background-color: white;

  .trips-head {
    margin: 8px 0 15px 0;

    h1 {
      font-size: 33px;
      font-weight: 300;
    }    
  }

  .button-holder {
    .button-flat {
      padding: 8px 8px;
      border: 1px solid rgba(0, 0, 0, 0.39);
      font-size: 13px;
      background-color: white;
      font-weight: 600;
      color: #646464;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: var(--primary-color);
        border: none;
        padding: 9px 9px;
        color: black;
      }

      &.button-blue {
        border: 1px solid var(--primary-color);
        background-color: rgb(247, 251, 252);
        color: rgb(14, 134, 172);

        &:hover {
          background-color: var(--primary-color) !important;
          border: none;
          color: black !important;
        }
      }
    }

    .button-flat-out {
      padding: 9px 26px;
      background-color: var(--primary-color);
      border: none;
      color: black;
      margin-left: 6px;
      font-weight: 800;

      &:hover {
        padding: 8px 25px;
        background-color: white;
        color: #646464;
        border: 1px solid rgba(0, 0, 0, 0.39);
      }
    }

    .button-with-width {
      padding: 8px 25px;
      margin-left: 6px;
      font-weight: 800;

      &:hover {
        padding: 9px 26px;
      }

      &[disabled] {
        padding: 8px 25px;
        background-color: white;
        color: #adbcbd;
        border: 1px solid rgba(0, 0, 0, 0.39);

        &:hover {
          background-color: white !important;
          color: #adbcbd !important;
          border: 1px solid rgba(0, 0, 0, 0.39) !important;
          cursor: inherit;
          padding: 8px 25px !important;
        }
      }
    }
  }

  app-blowhorn-navbar {
    margin-right: auto;
    align-self: stretch;
  }
}

.quick-book-holder {
  position: relative;

  .quick-book {
    position: absolute;
    top: 38px;
    right: 0;
    width: 250px;
    background-color: white;
    box-shadow: 0 0 10px 0;
    z-index: 100;

    .input-autocomplete {
      margin: 16px 10px 3px 10px;
      width: 92%;      
    }

    .buttons-holder {
      width: 90%;
      margin: 10px 15px 15px 10px;
    }
  }
}


#dropdownFirst {
  margin: 30px 10px 30px 10px;
  min-width: 125px;
  padding: 8px 12px 8px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  color: black;
  background-color: rgb(240, 245, 247) !important;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: rgb(197, 244, 255) !important;
  }
}

.dropdown-item {
  font-weight: 700 !important;
  background-color: rgb(240, 245, 247) !important;
  padding: 12px 15px 10px 15px;
  outline: none;

  &:hover, &.active {
    background-color: rgb(197, 244, 255) !important;
    color: black;
    cursor: pointer;
  }
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 1px 1px 3px 0 #cecece;
  padding: 0;
  margin: 0;
}


.modal-content {
  border-radius: 0;
  box-shadow: 0 1px 12px 1px;
  border: none;
}

.modal-header {
  padding: 20px 0 0 35px;
  border: none;

  h4 {
    font-size: 17px;
    font-weight: 800;
    color: rgb(12, 133, 171);

    &.question {
      color: black;
    }
  }
}

.modal-body {
  padding: 0 33px 0 33px;

  .order-id {
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
  }

  .warning-alert {
    padding: 6px 7px;
    margin: 25px 0;
    background-color: rgb(255, 230, 238);
    color: rgb(216, 55, 69);;

    .warning {
      img {
        height: 50px;
      }
    }
  }
}

.modal-footer {
  border: none;
  padding: 25px 30px;

  .button-flat {
    padding: 7px 21px;
    font-weight: 800;

    &:hover {
      padding: 8px 22px;
    }
  }
}


.modal-header.black {
  padding: 0;
  background-color: rgba(45, 47, 48, 0.94);

  .header-holder {
    .checker {
      position: relative;
      height: 100px;
      background-color: rgb(41, 49, 51);

      img {
        position: absolute;
        margin-top: 20px;
        height: 100px;
      }

      &.error-book {
        background-color: #2e1317;

        .circle-error {
          position: absolute;
          margin-top: 16px;
          height: 100px;
          width: 100px;
          background: #fc3446;
          border-radius: 150px;

          img {
            height: 85px;
            margin: 7px;
          }
        }
      }
    }

    .head-modal {
      padding: 30px 0 20px 0;

      .modal-title {
        color: white;
        font-weight: 200;
        font-size: 22px;
      }
      .order-id {
        color: white;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
}

.modal-body.black {
  background-color: rgba(45, 47, 48, 0.94);
  border: none;
}

.booking-form-modal {
  z-index: 1001;
}
.modal-footer.black {
  background-color: rgba(45, 47, 48, 0.94);
  button {
    margin: 0 auto;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #b8c0c2;
    padding: 7px 21px;
    &:hover {
      cursor: pointer;
      padding: 7px 21px;
    }
  };
}

.qr-section {
  margin: 15px 8px;
  img {
    height: 60px;
  }
  .text {
    line-height: 1;
    margin: 20px 0 0 0;
    span {
      color: white;
    }
  }
}

@media screen and (max-width: 767px) {
  .map {
    display: none;
  }

  .sidebar {
    width: 100% !important;
  }

  .mini-map {
    height: 150px;
    width: 100%;
  }

  .modal-body {
    padding: 0 10px 0 10px !important;
  }

  .mini-map {
    display: none;
  }

  .trips-header {
    padding: 10px 0 0 12px;

    .trips-head {
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
    }
  }

  ul.nav .nav-item {
    margin: 8px 15px 0 0 !important;

    .nav-link {
      font-size: 12px !important;
    }
  }

  .quick-book {
    left: 7px !important;
  }

  .header-holder {
    .checker img{
      margin-top: 14px !important;
    }

    .checker .circle-error img{
      margin-top: 7px !important;
    }
  }
}

.modal-window {
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  opacity: 1;
  top: 40px;
  left: 0;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .booking-form-modal {
    width: 100%;
    height: 100%;
    background: #fff;
    .modal-header {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
      position: absolute;
      right: 15px;
      top: 15px;
      z-index: 999;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 1px 8px 0 #060a0c;
      .cross {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        transition: transform 300ms;
        cursor: pointer;
        &:hover {
          color: orangered !important;
          transform: scale(1.5);
        }
      }
    }
    .modal-body {
      padding: 0;
      iframe {
        margin: 0px; padding: 0px; border: 0px; height: 100vh; width: 100%;
      }
    }
  }
}