<div class="trips-header d-flex flex-column">
  <div class="d-flex">
    <app-blowhorn-navbar [show_logo]="false"
      [show_user]="false"
      [links]="links"
      [link_styles]="link_styles"
      [navbar_styles]="navbar_styles">
    </app-blowhorn-navbar>
    <div class="button-holder d-flex ">
      <div class="quick-book-holder">
        <button class="button-flat button-with-width" (click)="export_trips()" *ngIf="_enable_export">
          <i class="fa fa-upload"></i> Export
        </button>
        <div class="quick-book" *ngIf="quickBook">
          <form (submit)="createQuickBook(tripCreated)" class="d-flex flex-column align-items-start justify-content-center">
            <div class="input-autocomplete">
              <app-blowhorn-autocomplete [placeholder]="'Type from saved location'"
                [display_property]="'name'"
                [items]="locations"
                (item_selected)="onFromLocationChange($event)">
              </app-blowhorn-autocomplete>
            </div>
            <div class="input-autocomplete">
              <app-blowhorn-autocomplete [placeholder]="'Type to saved location'"
                [display_property]="'name'"
                [items]="filtered_locations"
                (item_selected)="set_to_location($event)">
              </app-blowhorn-autocomplete>
            </div>
            <div ngbDropdown placement="bottom-left" [ngClass]="{'d-inline-block': fromLocation, 'd-md-none': !fromLocation}">
              <button type="button" class="button-flat" id="dropdownFirst" ngbDropdownToggle>{{ truckTypeParamLabel }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownFirst">
                <button type="button" class="dropdown-item" [ngClass]="{'active': opt.value === truckTypeParamVal}" 
                (click)="selectSecondParam(opt)" *ngFor="let opt of truckTypeOptions">{{ opt.label}}</button>
              </div>
            </div>
            <div class="buttons-holder d-flex align-items-center justify-content-between">
              <button type="button" class="button-flat button-with-width" (click)="toggleQuckBook()">Cancel</button>
              <input class="button-flat button-blue button-with-width button-blue" type="submit" value="Book"
                [disabled]="!toLocation || !fromLocation || !truckTypeParamVal || !checkValid()" 
                [ngClass]="{disabled: !toLocation || !fromLocation || !truckTypeParamVal}">
            </div>
          </form>
        </div>
      </div>
      <div class="new-trip-holder">
        <a target="_blank" class="" (click)="openBooking()" *ngIf="canViewBookTripButton">
          <button class="button-flat button-flat-out">Book a new trip</button>
        </a>
      </div>
    </div>
  </div>
</div>

<ng-template #tripCreated let-c="close" let-d="dismiss">
  <div class="modal-header black">
    <div class="header-holder w-100 d-flex flex-column align-items-center justify-content-center">
      <div class="checker w-100 d-flex justify-content-center" [ngClass]="{'error-book' : quickBookStatus != 'PASS'}">
        <img *ngIf="quickBookStatus == 'PASS'" src="{{ constants.images.confirm_done }}" alt="">
        <span class="circle-error" *ngIf="quickBookStatus != 'PASS'">
          <img src="{{ constants.images.error }}" alt="">
        </span>
      </div>
      <div *ngIf="quickBookStatus == 'PASS'" class="head-modal d-flex flex-column align-items-center justify-content-center">
        <h4 class="modal-title">Your booking is successful</h4>
        <span class="order-id">Booking ID : {{ bookingId }}</span>
      </div>
      <div *ngIf="quickBookStatus != 'PASS'" class="head-modal d-flex flex-column align-items-center justify-content-center">
        <h4 class="modal-title">Oops!</h4>
		    <span class="order-id">{{ quickBookMessage }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="quickBookStatus == 'PASS'" class="modal-body black">

    <div class="qr-section">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <ngx-qrcode [qrc-value]="trackingURL"> </ngx-qrcode>

        <div class="text">
          <span>Scan to track on phone</span>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer black">
    <button type="button" class="button-flat button-blue" (click)="c('Close click'); moveTostartPage()">Go back to home page</button>
  </div>
</ng-template>

<div class="modal-window" *ngIf="show_booking_form">
  <div class="booking-form-modal">
    <div class="modal-header" (click)="show_booking_form=false;" title="Click to close">
        <span class="fa fa-times cross"></span>
    </div>
    <div class="modal-body">
      <iframe frameborder="0" scrolling="no" [src]="iframeSrc|safe"></iframe>
    </div>
  </div>
</div>
