.navbar-resource {height: 50px;}
.nav-item.active a {border-bottom: none;}
.list-view {
    display: grid;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;
    .splitter {
        width: 100%;
        height: 2px;
        background: #DFE6E8;
    }
    .dummy-splitter {
        background: rgb(226, 234, 236);
        height: 1px;
    }
    .resource-panel {
        padding: 10px 20px;
        background: rgb(226, 234, 236);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px minmax(auto, calc(100vh - 198px)) 55px;
        grid-row-gap: 1px;
        .allocation-grid {
            overflow: auto;
            :nth-child(odd) {
                background-color: #FAFAFA;
            }
            :nth-child(even) {
                background-color: #FFFFFF;
            }
            .error {
                display: flex;
                padding: 20px;
                align-items: center;
                justify-content: center;
                span {
                    color: red;
                }
            }
        }
        .pagination {
            margin-top: 5px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
