<div class="list-view">
    <app-blowhorn-navbar
    [show_logo]="true"
    [show_user]="true"
    [links]="links"
    [link_styles]="link_styles"
    [navbar_styles]="navbar_styles">
    </app-blowhorn-navbar>
    <div class="resource-panel">
        <app-allocation-list-filter (filter_changed)="filter_changed($event)">
        </app-allocation-list-filter>
        <app-allocation-list-view-grid-title></app-allocation-list-view-grid-title>
        <div class="allocation-grid">
            <ng-container *ngFor="let contract of contract_list">
                <app-allocation-list-view-grid-row [contract]="contract">
                </app-allocation-list-view-grid-row>
            </ng-container>
            <div *ngIf="contract_list.length <= 0" class="error" >
                <span>{{error_msg}}</span>
            </div>
        </div>
        <div *ngIf="contract_list.length > 0" class="pagination">
            <app-blowhorn-pagination #pagination
                (data_fetched)="update_contract_list($event)"
                [count]="count"
                [next]="next"
                [previous]="previous">
            </app-blowhorn-pagination>
        </div>
    </div>
    <app-whats-new
    [app_title]="app_title"
    [app_code]="app_code"
    [version]="version"
    [whats_new]="whats_new"
    ></app-whats-new>
</div>
