<nav class="navbar navbar-expand-sm wrapper">
    <div class="container-fluid">
        <a href="/" class="navbar-nav logo">
            <img src="{{_blowhorn_service.logo_url}}" alt="logo">
        </a>
        <div class="navbar-nav navbar-panel">
            <app-nav-link
                *ngIf="!c2c_sme_view && can_view_overview"
                router_link="overview"
                link_text="overview"
                (active_link_text)="route_clicked($event)"
            ></app-nav-link>
            <app-nav-link
                *ngIf="!c2c_sme_view && can_view_enterprise_trips"
                router_link="trips"
                link_text="Enterprise Trips"
                (active_link_text)="route_clicked($event)"
            ></app-nav-link>
            <app-nav-link
                *ngIf="c2c_sme_view || can_view_booking_trips"
                router_link="mytrips"
                link_text="Booking Trips"
                (active_link_text)="route_clicked($event)"
            >
            </app-nav-link>
            <app-nav-link
                *ngIf="!c2c_sme_view && can_view_shipment_orders"
                router_link="shipments"
                link_text="shipments"
                (active_link_text)="route_clicked($event)"
            >
            </app-nav-link>
            <app-nav-link
                *ngIf="is_non_individual && _blowhorn_service.is_org_admin"
                router_link="members"
                link_text="members"
                (active_link_text)="route_clicked($event)"
            >
            </app-nav-link>
            <app-nav-link
                *ngIf="!c2c_sme_view && can_view_invoices"
                [router_link]="invoiceUrl"
                link_text="invoices"
            >
            </app-nav-link>
            <app-nav-link
                *ngIf="showConfigLink"
                link_text="configuration"
                [router_link]="configurationUrl"
                (active_link_text)="route_clicked($event)"
            >
            </app-nav-link>
            <app-nav-link
                *ngIf="!c2c_sme_view && can_view_analytics"
                [router_link]="analyticsUrl"
                link_text="analytics"
                (active_link_text)="route_clicked($event)"
            >
            </app-nav-link>
        </div>
        <div class="navbar-nav ml-auto">
            <app-blowhorn-dropdown
            *ngIf="this.is_shipment_tab && (can_upload_orders || can_upload_orderlines || can_download_template)"
            [headerText]="'Upload'"
            [options]="moreActions"
            (selectedOption)="moreActionSelected($event)">
            </app-blowhorn-dropdown>
            <!-- Upload -->
            <div class="upload-wrapper">
                <div *ngIf="show.modal && is_shipment_tab"
                    #overlay_panel
                    class="upload-orders" (click)="close($event)"
                    (keyup)="close($event)" tabindex="0"
                    (mouseover)="focus_panel($event)">
                    <div class="wrapper" (click)="suppress_close($event)">
                        <span class="fa fa-times cross"
                            (click)="close($event)"></span>
                        <span>{{modal_title}}</span>
                        <div class="form-wrapper">
                            <div class="sku-orientation" *ngIf="show.orientation">
                                <div class="heading">
                                    SKU Orientation
                                </div>
                                <div class="radio-container">
                                    <div class="chip"
                                    *ngFor="let f of sku_orientations"
                                    (click)="sku_orientation_selected_upload(f.name)"
                                    [ngClass]="{'selected': f.name === selected_sku_orientation_upload}">
                                    {{f.name}}</div>
                                </div>
                            </div>
                            <div class="upload-container">
                                <app-blowhorn-upload
                                #file_upload
                                [id]="'upload_orders'"
                                (upload_file)="upload_file($event)">
                                </app-blowhorn-upload>
                            </div>
                        </div>
                        <app-blowhorn-message
                        *ngIf="show.message"
                        [type]="type"
                        [heading]="heading"
                        [message]="message"
                        [error_list]="errors"
                        (close_fired)="reset($event)">
                        </app-blowhorn-message>
                        <app-blowhorn-button
                        *ngIf="show.message"
                        [label]="'Reset'"
                        (click_fired)="reset($event)">
                        </app-blowhorn-button>
                    </div>
                </div>
                <div *ngIf="show_download_template_modal && is_shipment_tab"
                    #overlay_panel_download
                    class="upload-orders" (click)="close_template_download($event)"
                    (keyup)="close_template_download($event)" tabindex="0"
                    (mouseover)="focus_panel_download_panel($event)">
                    <div class="wrapper" (click)="suppress_close($event)">
                        <span class="fa fa-times cross"
                        (click)="close_template_download($event)">
                        </span>
                        <div class="form-wrapper">
                            <div class="sku-orientation">
                                <div class="heading download-heading">
                                    Template Download
                                </div>
                                <div class="sub-heading">
                                    Download Category ::
                                </div>
                                <div class="radio-container">
                                    <div class="chip"
                                    *ngFor="let f of template_options"
                                    (click)="type_category_selected(f.name)"
                                    [ngClass]="{'selected': f.name === selected_type_category}">
                                    {{f.name}}</div>
                                </div>
                                <div class="sub-heading" *ngIf="showOrientation">
                                    Orientation Type ::
                                </div>
                                <div class="radio-container" *ngIf="showOrientation">
                                    <div class="chip"
                                    *ngFor="let f of sku_orientations"
                                    (click)="sku_orientation_selected(f.name)"
                                    [ngClass]="{'selected': f.name === selected_sku_orientation}">
                                    {{f.name}}</div>
                                </div>
                                <div class="submit-container">
                                    <app-blowhorn-button
                                    [label]="'Submit'"
                                    (click_fired)="download_template($event)">
                                    </app-blowhorn-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-dropdown-user [username]="username" [styles]="username_styles"></app-dropdown-user>
        </div>
    </div>
</nav>

