.wrapper {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    padding: 0px;
}
.logo {
    cursor: pointer;
    margin-right: 25px;
}
.navbar-panel {
    align-self: stretch;
    app-nav-link {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.nav_btn {
    margin: auto 10px;
}
.upload-wrapper {
    position: relative;
    .upload-orders {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, .7);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        .wrapper {
            border: 1px solid rgb(255, 255, 255);
            box-shadow: 0px 0px 35px 1px rgba(255, 255, 255, 1);
            position: relative;
            background-color: #fff;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
                margin-bottom: 15px;
            }
            .cross {
                cursor: pointer;
                color: white;
                position: absolute;
                right: -20px;
                top: -20px;
                transition: transform 300ms;
                &:hover {
                    color: orangered;
                    transform: scale(1.5);
                }
            }
            app-blowhorn-message {
                width: 450px;
                margin: 5px 10px;
            }
            app-blowhorn-button {
                margin: 10px;
            }
        }
    }
    .form-wrapper {
        display: flex;
        .upload-container {
            margin-top: 20px;
        }
        .sku-orientation {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10px;
            .heading {
                padding: 2px 12px;
                text-align: center;
                margin-bottom: 4px;
            
                .download-heading {
                    font-size: larger;
                    margin-bottom: 4px;
                    color: white;
                    background-color: var(--primary-color);
                }
                
            }
            .download-heading {
                font-size: larger;
                margin-bottom: 4px;
                color: white;
                background-color: var(--primary-color);
            }
            
            .sub-heading {
                padding: 10px;
            }
            .radio-container {
                display: flex;
                .chip {
                    cursor: pointer;
                    padding: 6px;
                    border: 1px solid #ccc;
                    border-radius: 12px;
                    width: 120px;
                    text-align: center;
                    margin: 0px 8px;
                    &:hover, &.selected {
                        background-color: var(--primary-color);
                        color: #fff;
                    }
                }
            }
        }
        .submit-container {
            height: 34px;
            margin-top: 25px;
            align-self: center;
        }
    }
}
