.wrapper {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: relative;
    width: 72vw;
    height: 72vh;
    .modal-header {
        display: flex;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .error {
        font-weight: 500;
        vertical-align: middle;
        margin: auto;
        color: red;
    }
    .content {
        display: flex;
        padding: 25px;
        justify-content: center;
        padding: 25px;
        .main-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #434343;
            font-size: 14px;
            padding: 5px 0;
            width: 25%;
            text-align: center;
            .text-label {
                color: #8B8D8E;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
    .container-details {
        .header {
            padding: 10px 20px;
            font-weight: 500;
            border-bottom: 2px solid #0088A8;
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .asset-detail-container {
            background: #e2eaec;
            .wrapper-heading {
                display: grid;
                height: 45px;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                align-items: center;
                background: white;
                div {
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #8B8D8E;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            .asset-body {
                max-height: 42vh;
                overflow-y: auto;
                .wrapper-row {
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                    align-items: flex-start;
                    justify-items: start;
                    background-color: #fff;
                    border-bottom: 1px solid rgb(226, 234, 236);
                    height: 38px;
                    .col {
                        padding: 10px 20px;
                        font-size: 14px;
                        line-height: 21px;
                        .main-row {
                            color: #303232;
                            padding: 0px;
                        }
                    }
                }
            }
        }
    }
}
