<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{heading}}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content" *ngIf="!show.loader">
        <div class="main-text" *ngIf="assets.length > 0">
            <div class="text-label">Order Number:</div>
            <div class="text-val">
                {{assets.length > 0 ? assets[0].order_number : ''}}
            </div>
        </div>
        <div class="main-text" *ngIf="assets.length > 0">
            <div class="text-label">Trip Number:</div>
            <div class="text-val">
                {{assets.length > 0 ? assets[0].trip_number : ''}}
            </div>
        </div>
    </div>
    <div class="container-details">
        <div class="asset-detail-container" *ngIf="assets.length>0">
            <div class="wrapper-heading">
                <div>Number</div>
                <div>Type</div>
            </div>
            <div class="asset-body">
                <ng-container *ngFor="let asset of assets">
                    <div class="row-container">
                        <div class="wrapper-row">
                            <div class="col">
                                <div class="main-row">
                                    {{asset.container_num}}
                                </div>
                            </div>
                            <div class="col">
                                <div class="main-row">
                                    {{asset.container_type}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div *ngIf="show.loader">
            <app-mini-loader></app-mini-loader>
        </div>
    </div>
    <div class="error" *ngIf="!show.loader && assets.length<=0">
        No assets found
    </div>
</div>
