<div class="contact-us">
    <form action="#">
    <label for="customerName">Select the partner<em>&#x2a;</em></label>
    <div class="filter-options">
        <app-dropdown-select
        [styles]="filter_options_styles"
        [selected_name]="selected_option_name ? selected_option_name : '----------'"
        [selected_id]="selected_option_id ? selected_option_id : null"
        [items]="options"
        [disabled]="option_disabled || false"
        (value_changed)="option_changed($event)">
        </app-dropdown-select>
    </div>
    <div class="error" *ngIf="formError">
        {{ formError }}
    </div>
    <div class="success" *ngIf="formSuccess">
        {{ formSuccess }}
    </div>
    <button id="savesubs" (click)="save_subscription()">SUBMIT</button>
    </form>
  </div>