.wrapper {
    display: flex;
    background-color: white;
    .details {
        min-width: 400px;
        max-width: 450px;
        flex: 1;
        display: flex;
        flex-direction: column;    
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, .6);  
        z-index: 10;
        .header {
            color: #4E5454;	
            	
            font-size: 16px;	
            font-weight: 900;	
            letter-spacing: 2px;	
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid #DFE6E8;
            padding: 20px 25px;
            text-transform: uppercase;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
            }
        }
        .content {
            height: 100%;
            padding: 15px 0px;
            margin-bottom: auto;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            form {
                width: 100%;
                .block {
                    display: block;                
                }
                .label {
                    width: 100%;
                    color: #FF6E80;	
                    	
                    font-size: 14px;	
                    font-weight: 500;	
                    letter-spacing: 1px;	
                    line-height: 21px;
                    margin-bottom: 3px;
                }
                .input {
                    width: 100%;
                    outline: none;
                    border: 1px solid #F0F5F7;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    margin-bottom: 5px;
                }
                .form-unit {
                    width: 100%;
                    padding: 0px 25px;
                    margin-bottom: 15px;
                }
                .field-set-unit {
                    width: 100%;
                    margin-bottom: 15px 0px;
                    .city,
                    .label {
                        padding: 0px 25px;
                    }
                    .swapper {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        padding-right: 25px;  
                        span {
                            margin-left: auto;
                            background-color: #ddd;
                            cursor: pointer;
                            opacity: .3;                        
                            &:hover {
                                opacity: 1;
                            }
                        }
                    }
                }
                .name {
                    color: #0180A8;	
                    	
                    font-size: 16px;	
                    font-weight: 500;	
                    line-height: 24px;
                }
                .contact {
                    flex: 1;
                    color: #4E5454;	
                    	
                    font-size: 16px;	
                    line-height: 24px;
                }
                .ng-touched {
                    .ng-invalid {
                        border: 1px solid rgb(253, 123, 76);
                    }
                }
            }
        }        
        .add-stop {            
            margin: 20px 25px;
            padding: 10px 0;
            border-top: 1px solid #C9D2D6;
            color: #757E7F;	
            	
            font-size: 14px;	
            font-weight: 900;	
            letter-spacing: 2px;	
            line-height: 21px;
            text-transform: uppercase;
            &-unit {
                cursor: pointer;
                display: inline-block;
                span {
                    font-size: 14px;
                    border: 2px solid gray;
                    border-radius: 50%;
                    padding-left: 2px;
                    padding-top: 1px;
                }
                &:hover {
                    color: #0180A8;
                    span {
                        border: 2px solid #0180A8;
                    }
                }
            }
                        
        }
        .footer {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px 25px;
            border-top: 2px solid #DFE6E8;
            .button {
                cursor: pointer;
                text-transform: uppercase;
                color: #757E7F;	
                	
                font-size: 13px;	
                font-weight: 900;	
                letter-spacing: 1px;	
                line-height: 19px;	
                text-align: center;
                padding: 10px 15px;
                border: 1px solid #757E7F;
            }
            .cancel {
                &:hover {
                    color: #fff;
                    background-color: #757E7F;
                }
            }
            .disabled {
                opacity: .7;
                pointer-events: none;
                background-color: #F0F5F7;
                border: 1px solid #F0F5F7;
            }
        }
    }
    .map {
        flex: 3;
        agm-map {
            width: 100%;
            height: 100%;
        }
    }
}
.message-panel {
    min-width: 200px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    border-radius: 2px;
    app-blowhorn-message {
        flex: 1;
    }
}
.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
