<div class="wrapper bh-modal">
  <div class="details">
    <div class="header">
        <img class="logo" src="{{blowhorn_service.logo_url}}" alt="logo">
        <span *ngIf="_route_service.save_route_mode === 'add'">add new route</span>
        <span *ngIf="_route_service.save_route_mode === 'edit'">edit route</span>
    </div>
    <div class="content">
      <form id="save-route-form" #route_form="ngForm">
        <div class="form-unit">
          <label class="block label" for="name">Route Name</label>
          <input class="block input name" type="text" id="name" [(ngModel)]="route.name" name="name" #routeName="ngModel" pattern="[\d\w\s,-]*" required>
          <div *ngIf="routeName.touched && ((routeName.dirty && !routeName.valid) ||!routeName.value)" class="form-input-error">
            <div *ngIf="routeName.dirty && !routeName.valid">Enter only alphanumeric values with space, hyphen and comma.</div>
            <div *ngIf="!routeName.value">Route name is mandatory.</div>
          </div>
        </div>
        <div class="form-unit">
          <label class="block label" for="contact">Route Contact</label>
          <input class="block input contact" type="text" id="contact" placeholder="Contact name" [(ngModel)]="route.contact.name"
          name="contact_name" #contactName="ngModel" pattern="[a-zA-z\s]*">
          <div *ngIf="contactName.dirty && !contactName.valid" class="form-input-error">Enter only alphabets and space.</div>

          <div class="phone-number-container">
            <app-isd-code [styles]="isdCodeStyles"></app-isd-code>
            <input class="block input contact" type="text" id="contact" placeholder="Contact number"
            [(ngModel)]="route.contact.mobile" name="contact_mobile" #contactMobile="ngModel"
            [pattern]="regex.phone">
          </div>
          <div *ngIf="contactMobile.dirty && !contactMobile.valid" class="form-input-error">Enter a valid phone number.</div>
        </div>
        <fieldset class="field-set-unit">
          <legend class="label">Route Details</legend>
          <div class="city">
            <app-dropdown-select
              [styles]="dropdown_styles"
              [selected_name]="selected_city_name ? selected_city_name : 'choose city'"
              [selected_id]="selected_city_id ? selected_city_id : null"
              [items]="_blowhorn_service.cities"
              (value_changed)="city_changed($event)">
            </app-dropdown-select>
          </div>
          <div class="stops">
            <div [dndList]
              [dndModel]="stops_drag_list"
              (dndInserted)="stop_inserted($event)">
              <div *ngFor="let stop of stops_drag_list; let index=index"
                (dndMoved)="stop_moved(index, stops_drag_list)"
                [dndObject]="stop"
                [dndDraggable]>
                  <app-blowhorn-map-search
                    [selected_city]="selected_city_id"
                    [placeholder]="_route_service.get_stop_placeholder(index)"
                    [stop]="route.stops[index]"
                    [stop_header]="_route_service.get_stop_header(index)"
                    [stop_type]="_route_service.get_stop_type(index, stops_drag_list.length)"
                    [enable_delete]="route.stops.length > 2"
                    (stop_deleted)="delete_stop($event)"
                    [sequence]="index + 1"
                    (stop_updated)="update_stop($event, route.stops[index])"
                    (drop)="false"
                    (pan_to_location)="pan_to($event)"
                    [enable_swap]="route.stops.length > 1"
                    [has_saved_locations]="(saved_locations | savedLocationFilter : selected_city_name).length > 0"
                    [saved_locations]="saved_locations | savedLocationFilter : selected_city_name"
                    [show_current_loc]="is_current_location_in_city"
                    (place_changed)="place_changed($event, route.stops[index])"
                    [show_delete_placeholder]="true">
                  </app-blowhorn-map-search>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="add-stop">
        <div class="add-stop-unit"
          (click)="add_stop()">
          <span class="fa fa-plus"></span> Add stop
        </div>
    </div>
    <div class="footer">
      <app-blowhorn-button
        [label]="'Cancel'"
        (click_fired)="cancel()">
      </app-blowhorn-button>
      <app-blowhorn-button
        *ngIf="_route_service.save_route_mode === 'add' && _blowhorn_service.hasPermission('routes', 'can_add_route')"
        [type]="'save'"
        [label]="'Add Route'"
        (click_fired)="save_route()"
        [disabled]="!routeName.value || (routeName.value && !routeName.valid ) || (contactName.value && !contactName.valid) || (contactMobile.value && !contactMobile.valid) || (map_search_comps.length !== stops_selected.length)">
      </app-blowhorn-button>
      <app-blowhorn-button *ngIf="_route_service.save_route_mode === 'edit' && _blowhorn_service.hasPermission('routes', 'can_edit_route')"
        [type]="'edit'"
        [label]="'Save Changes'"
        (click_fired)="edit_route()"
        [disabled]="(!routeName.value || (routeName.value && !routeName.valid ) || (contactName.value && !contactName.valid) || (contactMobile.value && !contactMobile.valid) || (map_search_comps.length !== stops_selected.length)) || submittingForm">
      </app-blowhorn-button>
    </div>
  </div>
  <div class="map">
    <agm-map
      [clickableIcons]="false"
      [latitude]="map_latitude"
      [longitude]="map_longitude"
      [zoom]="14"
      [fitBounds]="map_bounds"
      [streetViewControl]="false">
      <agm-marker *ngFor="let stop of route.stops; let index = index;"
          [latitude]="stop.position[0]"
          [longitude]="stop.position[1]"
          [iconUrl]="_route_service.get_icon_url(index)"
          [visible]="true"
          [label]="{
            text: (index + 1).toString(),
            color: 'white',
            fontFamily: 'heebo',
            fontSize: '18px',
            fontWeight: '600'
          }"
          [markerDraggable]="true"
          (dragEnd)="marker_dragged($event, stop)">
          <agm-info-window>
              <app-route-info-window [stop]="stop"
                [stop_header]="_route_service.get_stop_header(index)"
                (open_contact_form)="open_contact_form($event, stop, index)"
                (open_address_form)="open_address_form($event, stop, index)">
              </app-route-info-window>
          </agm-info-window>
      </agm-marker>
      <agm-direction
        #agm_direction
        [origin]="first_stop_selected"
        [destination]="last_stop_selected"
        [waypoints]="remaining_stops_selected"
        [travelMode]="'DRIVING'"
        [optimizeWaypoints]="false"
        [visible]="_show_direction"
        [renderOptions]="_map_service.render_options"
        (onChange)="set_directions($event)">
      </agm-direction>
    </agm-map>
  </div>
</div>
<div *ngIf="show_save_address" class="modal-window">
    <app-save-location
      #address_form
      [location_name]="route.stops[stop_under_edit_index].saved_location.name"
      [contact_name]="route.stops[stop_under_edit_index].saved_location.name ? route.stops[stop_under_edit_index].saved_location.contact.name : route.stops[stop_under_edit_index].contact.name"
      [contact_mobile]="route.stops[stop_under_edit_index].saved_location.name ? route.stops[stop_under_edit_index].saved_location.contact.mobile : route.stops[stop_under_edit_index].contact.mobile"
      [latitude]="route.stops[stop_under_edit_index].geopoint.lat()"
      [longitude]="route.stops[stop_under_edit_index].geopoint.lng()"
      [heading]="_route_service.get_location_form_header()"
      [full_address]="route.stops[stop_under_edit_index].address.full_address"
      [area]="route.stops[stop_under_edit_index].address.area"
      [city]="route.stops[stop_under_edit_index].address.city"
      [postal_code]="route.stops[stop_under_edit_index].address.postal_code"
      [is_saved_location]="route.stops[stop_under_edit_index].address.name"
      (form_close)="clear_stop_under_edit_index()"
      (form_save)="update_stop_saved_location($event, route.stops[stop_under_edit_index])">
    </app-save-location>
</div>
<div *ngIf="show_save_contact" class="modal-window">
     <app-save-contact
      #contact_form
      [contact_name]="(route.stops[stop_under_edit_index].contact.name || route.stops[stop_under_edit_index].contact.mobile) ? route.stops[stop_under_edit_index].contact.name : route.stops[stop_under_edit_index].saved_location.contact.name"
      [contact_number]="(route.stops[stop_under_edit_index].contact.name || route.stops[stop_under_edit_index].contact.mobile) ? route.stops[stop_under_edit_index].contact.mobile : route.stops[stop_under_edit_index].saved_location.contact.mobile"
      [heading]="_route_service.get_contact_form_header(stop_under_edit_index)"
      [details]="route.stops[stop_under_edit_index].address.full_address"
      (form_close)="clear_stop_under_edit_index()"
      (form_save)="update_stop_contact($event)">
    </app-save-contact>
</div>
<div *ngIf="is_error" class="modal-window">
  <div class="message-panel">
    <app-blowhorn-message
      [type]="'error'" [heading]="'Route saving failed'" [message]="error_msg"
      (close_fired)="reset_error()">
    </app-blowhorn-message>
  </div>
</div>
