<div class="wrapper">
    <div class="col-title">ID</div>
    <div class="col-title name-title">Name</div>
    <div class="col-title">Description</div>
    <div class="col-title">Customer</div>
    <div class="col-title">Customer Division</div>
    <div class="col-title driver-count">Active Drivers</div>
    <div class="col-title">History</div>
</div>
