:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wrapper {
        height: calc(100vh - 150px);
        width: 100%;
        overflow-y: auto;
        .container {
            app-list-trips {            
                width: 100%;
            }
        }
    }    
}
.pagination {
    margin-top: 5px;
    padding-right: 42px;
    padding-left: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    app-blowhorn-pagination {
        box-shadow: 1px 1px 4px 0 #cecece;
    }
}
.fullscreen {
    height: 100% !important;
}
