<div class="wrapper" [ngClass]="!trips.length ? 'fullscreen' : ''">
    <div class="container">
        <app-list-trips [trips]="trips" [showMap]="true"></app-list-trips>
    </div>
</div>
<div class="container" *ngIf="trips.length" >
    <div class="pagination">
        <app-blowhorn-pagination #pagination 
            (data_fetched)="update_trips($event)"
            [count]="count"
            [next]="next"
            [previous]="previous">
        </app-blowhorn-pagination>
    </div>
</div>