:host {
    width: 100%;
    flex: 1;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 18px;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid gray;
        color: #4E5454;
        background-color: #fff;
        outline: none;
        &:hover {
            background: rgb(63, 54, 54);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
        &:disabled {
            color: rgb(127, 129, 129);
            background: rgb(63, 54, 54);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(127, 129, 129)!important;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        .title {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2;
            margin: 30px auto;
        }
        .mat-dialog-title {
            margin: 0;
        }
        .subtitle {
            font-size: 14px;
            padding: 8px 20px;
        }
        .upload-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 20px 20px 20px;
            padding: 30px;
            border-radius: 2px;
            border: 1px solid lightgray;
            box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, .3);
            span {
                font-size: 14px;
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 15px;
            }
            .network-constraints {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                ::ng-deep .mat-focused .mat-form-field-label {
                /*change color of label*/
                    color: #4E5454 !important;
                }

                ::ng-deep.mat-form-field-underline {
                /*change color of underline*/
                    background-color: #4E5454 !important;
                }

                ::ng-deep.mat-form-field-ripple {
                /*change color of underline when focused*/
                    background-color: #4E5454 !important;;
                }
                app-blowhorn-message {
                    width: 450px;
                    margin: 5px 10px;
                }
                app-blowhorn-button {
                    margin: 10px;
                    margin-bottom: 0px;
                    height: 30px;
                }
            }

        }
    }
}
