<div class="wrapper">
    <div mat-dialog-title>
        <div class="modal-header">
            <div class="modal-title-text">Route Optimizer</div>
        </div>
        <div class="subtitle">Please enter the network constraints ({{data.order_numbers.length}} orders selected)</div>
    </div>
    <div mat-dialog-content class="upload-section">
        <span>
            <form class="network-constraints">
                <span style="width: 100%">
                    <mat-form-field style="width: 100%;">
                    <div style="white-space: pre;">
                        <input placeholder="Number of Drivers" matInput #number_vehicles (keyup)="onKeyNumberOfVehicles($event)" type="number" value=3 name="vehicles" required />&nbsp;&nbsp;&nbsp;
                    </div>
                    </mat-form-field>
                </span>
                <span *ngIf="constraint_is_distance" style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                    <div style="white-space: pre;">
                        <input placeholder="Limiting Distance Per Driver in Kms" matInput #limiting_distance (keyup)="onKeyLimitingDistance($event)" type="number" value=60 name ="distance" required /> &nbsp;&nbsp;&nbsp;
                    </div>
                    </mat-form-field>
                </span>
                <span *ngIf="!constraint_is_distance" style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                    <div style="white-space: pre;">
                        <input placeholder="Limiting Duration Per Driver in Hours" matInput #limiting_duration (keyup)="onKeyLimitingDuration($event)" type="number" value=3 name ="duration" required /> &nbsp;&nbsp;&nbsp;
                    </div>
                    </mat-form-field>
                </span>
                <!--<span *ngIf="unit_is_weight" style="width: 100%">
                    <mat-form-field style="width: 100%;">
                    <div style="white-space: pre;">
                        <input placeholder="Vehicle Capacity (Weight-wise)" matInput #vehicle_capacity (keyup)="onKeyVehicleCapacity($event)" type="number" name="capacity" value=1000 />&nbsp;&nbsp;&nbsp;
                    </div>
                    </mat-form-field>
                </span>
                <span *ngIf="!unit_is_weight" style="width: 100%">
                    <mat-form-field style="width: 100%;">
                        <div style="white-space: pre;">
                            <input placeholder="Vehicle Capacity (Volume-wise)" matInput #vehicle_capacity (keyup)="onKeyVehicleCapacity($event)" type="number" name="capacity" value=1000 />&nbsp;&nbsp;&nbsp;
                        </div>
                    </mat-form-field>
                </span>
                <span style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Capacity Constraint Unit" required [(ngModel)]="selectedUnit" name="unit" (selectionChange)="changeCapacityUnit($event.value)">
                            <mat-option *ngFor="let constraint of capacity_const" [value]="constraint.param">
                                {{constraint.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>-->
                <span style="width: 100%;">
                    <mat-form-field style="width: 100%;">
                        <mat-select placeholder="Constraint Preferred" required [(ngModel)]="selectedConstraint" name="constraint" (selectionChange)="changeConstraint($event.value)">
                            <mat-option *ngFor="let constraint of constraints" [value]="constraint.param">
                                {{constraint.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </span>
            </form>
        </span>
    </div>
    <div mat-dialog-actions style="justify-content: center;">
        <button (click)="onNoClick()" >Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button [mat-dialog-close] = params_json cdkFocusInitial>Confirm Constraints & Create Routes</button>
    </div>
</div>
