:host {
    width: 100%;
    flex: 1;
    align-self: center;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 18px;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid gray;
        color: #4E5454;
        background-color: #fff;
        outline: none;
        &:hover {
            background: rgb(63, 54, 54);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
        &:disabled {
            color: rgb(127, 129, 129);
            background: rgb(63, 54, 54);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(127, 129, 129)!important;
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        .message-wrapper {
            text-transform: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 2px;
            position: relative;
            .heading {
                width: 100%;
                padding: 10px;
                z-index: 20;
                display: flex;
                align-items: center;
                justify-content: center;
                .heading-span {
                    
                    font-size: 14px;
                    font-weight: 500;
                }
                .cross {
                    margin-left: auto;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    cursor: pointer;
                    transition: transform 300ms;
                    &:hover {
                        transform: scale(1.5);
                        color: orangered;
                    }
                }
            }
            .message {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .msg-span {

                    font-size: 14px;
                    font-weight: 500;
                    .error-row {
                        display: block;
                    }
                }
                .cross {
                    margin-left: auto;
                    font-size: 14px;
                    font-weight: 500;
                    color: #fff;
                    cursor: pointer;
                    transition: transform 300ms;
                    &:hover {
                        transform: scale(1.5);
                        color: orangered;
                    }
                }
            }
        }
        .success {
            border: 1px solid rgb(0, 167, 0);
            .heading {
                background-color:  rgba(4, 167, 4, 0.5);
                box-shadow: 0px 0px 5px 0px rgb(4, 141, 4);
                .heading-span {
                    color: rgb(10, 100, 10);
                }
            }
            .message {
                background-color:  rgba(97, 233, 97, 0.5);
                .msg-span {
                    color: rgb(10, 100, 10);
                }
            }
        }
        .error {
            border: 1px solid rgb(136, 3, 3);
            .heading {
                background-color:  rgba(234, 33, 33, 0.5);
                box-shadow: 0px 0px 5px 0px rgb(172, 3, 3);
                .heading-span {
                    color: rgb(158, 19, 19);
                }
            }
            .message {
                background-color:  rgba(245, 95, 95, .5);
                .msg-span {
                    color: rgb(158, 19, 19);
                }
            }
        }
        .route_parent{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .route_display{
                flex-direction: column;
                justify-self: center;
                width: 50%;
                justify-content: center;
                align-self: flex-start;
                align-items: center;
                overflow: auto;
                .routes_displayer{
                    overflow: auto;
                    height: auto;
                    justify-content: center;
                    align-items: center;
                }
            }
            .map{
                flex-direction: column;
                flex: 1;
                height: 100%;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: stretch;
                position: relative;
                .map-container {
                    position: relative;
                    height: 100vh;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        agm-map {height: 100%; width: 100%;}
    }    
}