<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Driver Roster Changes</title>
</head>

<body>
  <b>Drivers Edited</b>
  <table width="100%" border="1" cellspacing="1" cellpadding="1">
    <tr style="margin-left: 0; margin-right: 0; background-color: #00C0E1;">
      <th>Driver ID</th>
      <th>Driver Name</th>
      <th>City</th>
      <th>Changes</th>
    </tr>
    {% for driver in drivers_edited %}
    <tr>
      <td>{{driver.id}}</th>
      <td>{{driver.name}}</th>
      <td>{{driver.city}}</th>
      <td>
        <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-width: 0px">
          <tr>
            <th>Param</th>
            <th>Old Value</th>
            <th>New Value</th>
            <th>Changed By</th>
            <th>Time</th>
          </tr>
          {% for change in driver.changes %}
          <tr>
            <td nowrap>{{change.param}}</td>
            <td>{{change.ov}}</td>
            <td>{{change.nv}}</td>
            <td nowrap>{{change.changed_by}}</td>
            <td nowrap>{{change.time}}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endfor %}
  </table>

  <br>
  <b>Drivers Added</b>
  <table width="100%" border="1" cellspacing="1" cellpadding="1">
    <tr style="margin-left: 0; margin-right: 0; background-color: #00C0E1;">
      <th>Driver ID</th>
      <th>Driver Name</th>
      <th>Vehicle Class</th>
      <th>Vehicle Number</th>
      <th>City</th>
      <th>Added By</th>
      <th>Added On</th>
    </tr>
    {% for driver in drivers_added %}
    <tr>
      <td>{{driver.id}}</th>
      <td>{{driver.name}}</th>
      <td>{{driver.vehicle_class}}</th>
      <td>{{driver.vehicle_number}}</th>
      <td>{{driver.city}}</th>
      <td>{{driver.added_by}}</th>
      <td>{{driver.added_on}}</th>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
