<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Driver Reminder</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#444444" style="background-color:#444444;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" bgcolor="#1ba5db" style="background-color:#1ba5db; padding:15px;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="33%" align="left" valign="top">
              {% for driver in drivers %}
              <table width="601" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" valign="top" style="padding-top:5px; padding-bottom:5px; padding-right: 50px; width: 2px;">
                  <img src="{{driver.driver_picture}}" width="155" height="96" style="display:block;"/>
                </td>
              
                <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#381616; padding-left: 0px;">Name: {{driver.driver_name}} <br> Driver ID: {{driver.driver_id}}<br>date: {{driver.date}}<br>Reminder-note: {{driver.reminder_note}}</td>
              </tr>
            </table>
            {% endfor %}
          </td>
            </tr>
        </table></td>
      </tr>
    </table>
    <table width="600" border="0" cellspacing="0" cellpadding="0" style="margin-top:10px;">
      
    
        </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>
