<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Driver Reminder</title>
</head>

<body>
  <table width="100%" border="1" cellspacing="0" cellpadding="0">
        
    <tr style="height: 48px;background-color: burlywood;font-size: 15px;">
      <th>Name</th>
      <th>Driver Id</th>
      <th>Date</th>
      <th>City</th>
      <th>Reminder Note</th>
    </tr>
    {% for driver in drivers %}
      <tr style="height: 49px;background-color: cornsilk;">
        <th>{{driver.driver_name}}</th>
        <th>{{driver.driver_id}}</th>
        <th>{{driver.date}}</th>
        <th>{{driver.operating_city}}</th>
        <th style="width:441px;"><textarea cols="50" style="border: none;margin: -23px -17px -14px -20px;height: 40px;background-color: cornsilk;">{{driver.reminder_note}}</textarea></th>
      </tr>
    {% endfor %}
  </table>
</body>
</html>
