{% extends "../base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'blowhorn/css/privacyterms.css' %}">
{% endblock css %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="/" title="Blowhorn">
          <img src="{% static 'blowhorn/images/blowhorn_logo.png' %}" width="135" height="104" alt="Blowhorn logo" class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="col-sm-4">
        <p id="rowborder">Privacy Policy</p>
      </div>
    </div>	
    <div class="row">
      <div class="col-sm-4 left_menu">
        <p>PRIVACY POLICY</p>
        <p><a href="#overview">Overview</a></p>
        <p><a href="#modchanges">Notification of modifications and changes</a></p>
        <p><a href="#infocollect">Information we collect</a></p>
        <p><a href="#cookies">Cookies</a></p>
        <p><a href="#linkwebsite">External links on website</a></p>
        <p><a href="#yourinfo">Our use of your information</a></p>
        <p><a href="#disyourinfo">Our disclosure of your information</a></p>
        <p><a href="#changeprofile">Accessing, Reviewing and changing your profile</a></p>
        <p><a href="#controllpass">Control of your password</a></p>
        <p><a href="#infocollector">Other information collectors</a></p>
        <p><a href="#disclaimer">Disclaimer</a></p>
        <p><a href="#disputes">Disputes and jurisdiction</a></p>
      </div>

      <div class="col-sm-8 right_doc">
        <h4>WELCOME TO THE BLOWHORN PRIVACY POLICY</h4>
        <p>We, Catbus Infolabs, the creator of this Privacy Policy iterate our commitment to your privacy vis-à-vis the protection of your information. In order to provide you with our services, we may collect and, in some circumstances, disclose information about you. To enhance better protection of your privacy we provide this notice explaining our information practices and the choices you can make about the way your information is collected and used.</p>
        <p>If you have any questions or concerns regarding this privacy policy, you should contact our Customer Support Desk at 08032322010</p>
        <h4 id="overview">1. OVERVIEW</h4>
        <p>We commit to respecting your online privacy data. We further recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. Information that are considered personal about you by us includes, but is not limited to, your name, address, email address or other contact information.</p>
        <p>In order to use this website, you are required to register yourself by providing the following information which includes, but is not limited to:</p>
        <ul class="reg">
          <li>Name;</li>
        <li>User name;</li>
        <li>Password;</li>
        <li>Mobile number; </li>
        <li>Age;</li>
        <li>E-mail address; </li>
        <li>Address for communication;</li> 
        <li>Address for pickup and delivery of goods, and details of the goods / items being moved.</li>
      </ul>
      <p>This privacy policy also applies to data we collect from users who are not registered as members of this site, including, but not limited to, browsing behavior, pages viewed etc. Further, this Policy shall apply to any user of the site who books the services offered by and through us, irrespective of whether such user avails services for himself or as part of any corporate login / booking enabled by us. </p>

      <h4 id="modchanges">2. NOTIFICATION OF MODIFICATIONS AND CHANGES</h4>

      <p>We reserve the right to change the Terms and Privacy Policy from time to time as seen fit, without any intimation, and continued use of the site will signify your acceptance of any amendment to these terms. </p>
      <p>You are therefore advised to re-read the Terms of Service on a regular basis. Should it be that you do not accept any of the modifications or amendments to the Terms, you may terminate your use of this website immediately.</p>

      <h4 id="infocollect">3. INFORMATION WE COLLECT</h4>

      <p>Our site's online requisition form requires users to give us contact information (like your name, address, telephone number and email address), and demographic information (like your zip code/pin code). As a member you are required to provide a valid email address at registration and choose a username or alias that represents your identity on our website. For using our services, you may be required to disclose the contents of the package / good you intend to transport through the services on the website. </p>
      <p>Certain information, such as your name, age, e-mail addresses, etc. is collected in order to, among other things, verify your identity and for use as account numbers in our record system. Email addresses, locations, Services viewed / reserved, any information entered in the contact us form, or any other form displayed on any section of the website, is also collected. </p>
      <p>Information such as billing and account information, and other information incidental to providing Products or Services (including information about the packages being sent) are also collected.</p>
      <p>By providing the Personal Information of another person, you imply that you have all the necessary authority and/or have obtained all necessary consents from such person to enable us to collect, use and disclose his or her Personal Information as set forth in this Privacy Policy.</p>

      <h4 id="cookies">4. COOKIES</h4>

      <p>We use data collection devices such as "cookies" on certain pages of our Websites. "Cookies" are small files sited on your hard drive that assist us in providing customized services. We also offer certain features that are only available through the use of a "cookie". Cookies can also help us provide information, which is targeted to your interests. Cookies may be used whether you register with us or not. </p>

      <h4 id="linkwebsite">5. EXTERNAL LINKS ON WEBSITE</h4>

      <p>The Website may include hyperlinks to other web sites or content or resources. We have no control over any websites or resources, which are provided by companies or persons other than us. </p>
      <p>You acknowledge and agree that we are not responsible for the availability of any such external sites or resources, and do not endorse any advertising, products or other materials on or available from such websites or resources.</p>
      <p>You acknowledge and agree that we are not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such websites or resources. These third-party service providers and third-party Sites may have their own privacy policies governing the storage and retention of your personal information that you may be subject to. We recommend that when you enter a Third-Party website, you review the Third Party website’s privacy policy as it relates to safeguarding your personal information. We use third-party advertising companies to serve ads when you visit the Website. </p>

      <h4 id="yourinfo">6. OUR USE OF YOUR INFORMATION</h4>

      <p>Your contact information is used to contact you when necessary. We use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information. Further, we may use your IP address to help protect our partners, vendors and ourselves from fraud. </p>
      <p>Your location information is used to collect the package(s) you intend to send through our vendors.</p>
      <p>We will transfer information about you if we are acquired by or merged with another company. In this event, we will notify you by email or by putting a prominent notice on the site before information about you is transferred and becomes subject to a different privacy policy.</p>
      <p>Without limitation to the foregoing, your information may be used:</p>
      <ul class="userinfo">
        <li>To develop, enhance, market, sell or provide our products or services, or those of companies with which we have a commercial relationship; </li>
        <li>o issue invoices, administer accounts, collect and process payments;</li>
        <li>To provide tips or guidance on how to use our website, inform you of new features on our website, or provide other information that may be of interest to you;</li>
        <li>To send you e-mails, e-newsletters, personalized offers via direct messaging or other communications about our services, if you have subscribed to receive this information;</li>
        <li>To process and track your transactions and to send you information about our and our affiliates’, vendors’ and business partners’ products and services and other information and materials that may be of interest to you;</li>
        <li>To evaluate credit standing and to match credit bureau or credit reporting agency information; to investigate, detect and protect ourselves and other third parties against error, negligence, breach of contract, fraud, theft and other illegal activities.</li>
        <li>To effect a corporate transaction, in connection with the sale, merger, spin-off or other corporate reorganization of our corporation, where the information is provided to the new controlling entity in regular course of business;</li>
        <li>To audit compliance with our policies and contractual obligations;</li>
        <li>As permitted by, and to comply with, any legal or regulatory requirements or provisions; or for any other purpose to which you consent.</li>
      </ul>

      <h4 id="disyourinfo">7. OUR DISCLOSURE OF YOUR INFORMATION</h4>

      <p>Due to the existing regulatory environment, we cannot ensure that all of your personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting and foregoing), we may be forced to disclose information to the government, law enforcement agencies or third parties. Under certain circumstances, third parties may unlawfully intercept or access transmissions or members may abuse or misuse your information that they collect from our Websites. Therefore, we do not promise, and you should not expect, that your personally identifiable information or private communications would always remain private.</p>
      <h4>From time to time, we may disclose your Personal Information as follows:</h4>
      <ul class="dispersonalinfo">
      <li>To those service providers and vendors with which you make arrangements through our website. We provide them with the Personal Information needed to make and complete the purchase, booking or reservation.</li>
      <li>To organizations that perform services for or on behalf of us, for example to provide customer service, deliver invoices, pick up and ship items, process credit cards, for research, marketing, data processing, to measure the use of our website, or to offer credit card services or evaluate your creditworthiness. We will share with these companies only that Personal Information which they need to work on our behalf. Some of these service providers may be located in other countries. </li>
      <li>We may collaborate with other companies to offer you additional Products or Services, for example, through sweepstakes, and promotions. We will share Personal Information that is necessary for these other companies to provide the Products or Services that you have requested. This policy will not cover the use of your Personal Information by these other companies. We encourage you to read a company's privacy policy before requesting any of its products or services.</li>
      <li>We may also disclose your information to our affiliates and non-affiliated business partners for their use both on our behalf and for their own business purposes. For example, our affiliates and business partners may use such information to send you information about their products, services, other information and materials that may be of interest to you.</li>
      <li>To protect ourselves against liability or prevent fraudulent activity; or where it is necessary to permit us to pursue available remedies or limit any damages that we may sustain.</li>
      <li>We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and you authorize us to) disclose any information about you to law enforcement and other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose us or you to legal liability.</li>
      <li>We gather up data such as personally identifiable information and disclose such information in a non-personally identifiable manner to advertisers and other third parties for other marketing and promotional purposes. However, in these situations, we do not disclose to these entities any information that could be used to identify you personally. We may use third-party advertising companies to serve advertisement on our behalf. These companies may employ cookies and action tags (also known as single pixel gifs or web beacons) to measure advertising effectiveness. Any information that these third parties collect via cookies and action tags is completely anonymous.</li>
      <li>We may use and share the User information with reliable and reputed third-party payment gateway to whom we are associated in order to ensure swift and comfortable payment mechanism for the User. The third-party payment gateway and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions. For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information and your credit/debit card details will be handled by these providers. Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</li>
    </ul>

      <h4 id="changeprofile">8. ACCESSING, REVIEWING AND CHANGING YOUR PROFILE</h4>

      <p>Following registration, you can review and change the information you submitted during registration. If you change any information we may keep track of your old information. You can change your registration information such as: name, address, city, state, zip code, country, phone number, and profile.</p>
      <p>To remove your profile so that others cannot view it, contact our customer support team at 08032322010.</p>
      <p>We will retain in our files information you have requested to remove for certain circumstances, such as to resolve disputes, troubleshoot problems and enforce our terms and conditions. Further, such prior information is never completely removed from our databases due to technical and legal constraints, including stored 'back up' systems. Therefore, you should not expect that all of your personally identifiable information will be completely removed from our databases in response to your requests.</p>

      <h4 id="controllpass">9. CONTROL OF YOUR PASSWORD</h4>

      <p>When you sign up to become a Member, you will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of your password. It is important that you protect it against unauthorized access of your account and information by choosing your password carefully, and keeping your password and computer secure by signing out after using our services</p>
      <p>You agree not to use the account, username, email address or password of another Member at any time or to disclose your password to any third party. If you choose to share this information with third parties to provide you additional services, you are responsible for all actions taken with your login information and password and therefore should review each third party's privacy policy. You are responsible for all actions taken with your login information and password, including fees. If you lose control of your password, you may lose substantial control over your personally identifiable information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password. You agree to notify us immediately if you suspect any consistent unauthorized use of your account or access to your password even after changing it.</p>

      <h4 id="infocollector">10. OTHER INFORMATION COLLECTORS</h4>

      <p>Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties, whether they are on our Websites or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. To the extent that we use third party advertisers, they adhere to their own privacy policies. Since we do not control the privacy policies of the third parties, you are subject to ask questions before you disclose your personal information to others.</p>

      <h4 id="disclaimer">11. DISCLAIMER</h4>

      <p>We cannot ensure that all of your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information will always remain private. As a user of the website, you understand and agree that you assume all responsibility and risk for your use of the website, the internet generally, and the documents you post or access and for your conduct on and off the website. </p>

      <h4 id="disputes">12. DISPUTES AND JURISDICTION</h4>

        <p>All disputes involving but not limited to rights conferred, compensation, refunds, and other claims through this policy will be resolved through the Dispute Resolution mechanism set forth in our Terms of Use / Service.</p>
    </div>
    <p class="pos_fixed" ><img id="gotop" src="{% static 'blowhorn/images/up-fast.png' %}" style="width: 95px;"></img>
      <div class="block"></div>
    </p>
    <div id="cleared"></div>
  </div>
{% endblock content %}
