{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 Page Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'website/css/booking-v2.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/blowhorn-v3.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
    <link rel='stylesheet' type="text/css" href="{% static 'website/css/font-awesome.min.css' %}"/>
    <script type="text/javascript">
        var global_params = {{params | safe}};
        var cities = global_params.vehicle_classes
            .filter(item => item.vehicles.length > 0)
            .map(item => item.city);
    </script>
</head>
<body class="error-page-wrapper">
    <div class="error-page">
            <img class="error-image" src="{% static 'assets/404.jpeg' %}"
            alt="Blowhorn logo"
            class="img-responsive blowhorn_log">
            <a class="home-btn" href="/">Home</a>
    </div>
    <footer class="error-footer">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 error-links-panel">
            <ul class="list-unstyled list-inline-xs">
                <li><a href="/about" title="About Us">About Blowhorn</a></li>
                <li><a href="/solutions" title="Solutions">Solutions</a></li>
                <li><a href="/team" title="People & Values">People &amp; Values</a></li>
                <li><a href="/careers" title="Careers">Careers</a></li>
                <li><a href="/blog" target="_blank" title="Blog">Blog</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 error-links-panel">
            <ul class="list-unstyled list-inline-xs" id="city_list">
                <!-- <li><a href="/about" title="About Us">About Blowhorn</a></li> -->

            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 error-links-panel">
            <div class="row">
                <div class="col-sm-12">
                    <strong>Contact Us</strong>
                    <hr>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <ul class="list-unstyled">
                        <li> Give us a call </li>
                        <li class="row" style="padding-left:10px;"><a href="tel:8880900300"><img src="/static/website/images/CallUs.png" alt="Give us a call"> 8880-900-300</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <ul class="list-unstyled">
                        <li> Send us an email </li>
                        <li class="row" style="padding-left:10px;"><a href="mailto:shoutout@blowhorn.com"><img src="/static/website/images/EMail.png" alt="Send us an email"> shoutout@blowhorn.com</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="list-unstyled ">
                        <li> Reach us on social media</li>
                        <li>
                            <div class="contact-social-links">
                                <ul>
                                   <li>
                                        <a href="https://www.facebook.com/Blowhornlog" title="Facebook" target="_blank">
                                            <span class="icon icon-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/blowhornlog" title="Instagram" target="_blank">
                                            <span class="icon fa fa-instagram"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/blowhornlog" title="Twitter" target="_blank">
                                            <span class="icon icon-twitter"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  pull-right error-links-panel">
            <strong>Download apps</strong>
            <hr>
            <a  href="https://itunes.apple.com/in/app/blowhorn-mini-trucks-on-hire/id1251408316?mt=8" target="_self">
                <img src="/static/website/images/applestore-badge.png" style="width:100px; margin-right:5px; margin-bottom:5px;" alt="">
            </a>
            <a  href='https://play.google.com/store/apps/details?id=net.blowhorn.app&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_self">
                <img src="/static/website/images/google-play-badge.png" alt="" style="height:30px; margin-bottom:5px;">
            </a>
        </div>
        <div class="col-xs-12 copyrightdiv error-links-panel">
            <hr>
            <span class="copyright">Copyright 2019 © Blowhorn. <br class="visible-xs"> All rights reserved.
                <a href="/termsofservice" target="_self" title="Terms of Use">Terms of Use</a>
            </span>
        </div>
    </footer>
    <script type="text/javascript">
        var city_list = document.getElementById('city_list');
        city_list.innerHTML = cities.map(item => `<li><a href="/city/${item.replace(' ', '-')}">${item}</a></li>`).join('');
        console.log(cities, city_list);
    </script>
</body>
</html>
