{% extends "website/home_base.html" %}
{% load static website_tags %}
{% block css %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.6/css/intlTelInput.css" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/modal.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/auth.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/login.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/register.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/forgot_password.css" %}" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div ng-app="authApp">
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="text/javascript">
    var user_logged_in = "{{user_logged_in}}";
    var current_build = "{{website_build}}";
    var country_code = "{{country_code}}";
    var isd_dialing_code = "{{isd_dialing_code}}";
    var isInEmbed = "{{is_embed}}";
    var homepageUrl = "{{homepage_url}}";
    var googleAnalyticsKey = "{{google_analytics_key}}";
    var states = {{states|safe}};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/oclazyload/1.1.0/ocLazyLoad.min.js"></script>
  <script src="{% static 'website/js/lib/ng-intl-tel-input.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>
  <script src="{% static 'website/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'website/js/auth/app.js' %}"></script>
  <script src="{% static 'website/js/auth/services/data.js' %}"></script>
  <script src="{% static 'website/js/auth/services/validation.js' %}"></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMDXD3');</script>
  <!-- End Google Tag Manager -->
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{google_analytics_key}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{google_analytics_key}}');
  </script>
{% endblock javascript %}
