{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}Blowhorn! Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi{% endblock title %}</title>
  <meta charset="UTF-8">
  <meta name="title" content="{% block meta_title %}blowhorn! Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi{% endblock %}">
  <meta name="keywords" content="{% block meta_keywords %}blowhorn! Simpler, Swifter, Smarter; Tempo service, Book my Mini Truck, Transport within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Transporter for Local Shifting, Tata Ace on Hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Hire Mini Truck in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Logistics Services in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Local Shifting in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Pick Up Vehicles, Door to Door Delivery, Online Pickup Booking, Schedule a Pickup, Book a Pickup, Pick Up and Drop Service, Shifting within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Movers service{% endblock %}">
  <meta name="description" content="{% block meta_description %}We are offering the most convenient way to move goods in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi with real time tracking and fixed pricing. Fast and zippy mini-trucks, pickup trucks, light trucks. Give us a try! Visit our website to make a booking.{% endblock %}">

  <meta property="og:title" content="{% block og_title %}Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi{% endblock %} - blowhorn">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://www.blowhorn.net/" />
  <meta property="og:image" content="http://storage.googleapis.com/blowhorn/logo.png" />
  <meta property="og:description" content={% block og_description %}"We are offering the most convenient way to move goods in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi with real time tracking and fixed pricing. Fast and zippy mini-trucks, pickup trucks, light trucks. Give us a try! Visit our website to make a booking."{% endblock %}>
  <meta property="og:locale" content="en_IN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="blowhorn" />

  <meta name="msvalidate.01" content="2B5E61D1BF2B61B64D8DA638DE7CBCF8" /> {# For Bing site ownership verification #}

  <meta name="facebook-app-id" content="{{ facebook_app_id }}" />

  {% csrf_token %}
  <meta name="google-signin-clientid" content="{{ google_client_id }}" />
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email" />
  <meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
  <meta name="google-signin-cookiepolicy" content="single_host_origin" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, {{ viewport_user_scalable }}">
  <link href="/static/img/favicon-32x32.png" type="image/x-icon" rel="shortcut icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
  <link rel='stylesheet' type="text/css" href="{% static 'website/css/font-awesome.min.css' %}"/>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ google_analytics_tracking_id }}', 'auto');
    ga('send', 'pageview');

    if (location.host === 'www.blowhorn.net') {
      (function() {
        var _fbq = window._fbq || (window._fbq = []);
        if (!_fbq.loaded) {
          var fbds = document.createElement('script');
          fbds.async = true;
          fbds.src = '//connect.facebook.net/en_US/fbds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(fbds, s);
          _fbq.loaded = true;
          _fbq.push(['addPixelId', '644952298969713']);
        }
      })();
      window._fbq = window._fbq || [];
      window._fbq.push(['track', '6027455166137', {'value':'0.00','currency':'INR'}]);
      window._fbq.push(['track', 'PixelInitialized', {}]);
    }
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6027455166137&amp;cd[value]=0.00&amp;cd[currency]=INR&amp;noscript=1" /></noscript>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=644952298969713&amp;ev=PixelInitialized" /></noscript>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMDXD3');</script>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMDXD3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager -->

  <link rel="stylesheet" type="text/css" href="css/toastr.css">
  <script src="https://apis.google.com/js/platform.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "{{ facebook_bot_app_id }}",
        xfbml: true,
        version: "v2.6"
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <script src="js/respond.min.js"></script>

  <title>{% block title %}Mini-Trucks for hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi{% endblock %} - blowhorn</title>
  {% endblock %}
</head>
<body class="{% block body_class %}parallax{% endblock %}" style="overflow-x: hidden;">
  <div id="intro">
    <div class="container">
      <header class="row">
        <div class="col-sm-2 col-xs-4">
          <a href="/" title="blowhorn">
            <img src="{% static "website/images/blowhorn-logo.png" %}" width="135" height="104" alt="blowhorn logo" class="img-responsive" />
          </a>
        </div>
      </header>
      {% block intro_header %}
      <div class="row mainheader">
        <div class="col-xs-12">
          <h1>{% block intro_title %}{% endblock %}</h1>
          <p>{% block intro_description %}{% endblock %}</p>
        </div>
      </div>
      <a href="#{% block intro_scroll_bookmark %}{% endblock %}" class="btn-scroll"><span class="glyphicon glyphicon-chevron-down"></span></a>
      {% endblock %}
    </div>
  </div>
  {% block content %}{% endblock %}

  <div id="contact-map" class="section text-center bg-theme">
    <div class="row contact-header">
      <div class="col-xs-12"></div>
    </div>
    <div class="col-md-4 contact_block">
      <h3 class="contacthead">contact us</h3>
      <h4>We <span class="glyphicon glyphicon-heart"></span> feedback!</h4>
      <br/>
      <span>Email</span>
      <p class="mailus"><a href="mailto:shoutout@blowhorn.net">shoutout@blowhorn.net</a></p>
      <br/>
      <span class="mailus">Call us at</span>
      <br/>
      {% for city_contact in city_contacts %}
      <ul>
        <li class="contactleft"><p>{{ city_contact.0 }}</p></li>
        <li class="contactright"><p><a href="tel:{{ city_contact.1 }}">{{ city_contact.1 }}</a></p></li>
      </ul>
      {% endfor %}
      <div class="contact-social-links">
        <ul>
          {% for link in social %}
          <li>
            <a href="{{ link.0 }}" title="{{ link.1 }}" target="_blank">
              <span class="icon {{ link.2 }}"></span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="footer_content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>blowhorn - {% block footer_seo_title %}smarter, simpler, swifter movement of goods!{% endblock %}</h1>
          {% block footer_seo_content %}
          <p align="justify">blowhorn provides mini-trucks for rent in multiple cities in India. We are currently moving goods in Bengaluru, Chennai, Hyderabad and Mumbai. blowhorn specializes in intra-city logistics.</p>
          <p align="justify">At blowhorn, you will find a wide variety of vehicles for hire to meet your transportation needs - Tata Ace, Tata 407, Tata Super Ace, Tata Ace Zip, Eicher Canter, DCM, goods autos and more.</p>
          <p align="justify">Booking a goods vehicle rental with us is easy - book online on blowhorn.net or book on your Android phone using our <a href="https://play.google.com/store/apps/details?id=net.blowhorn.app" target="_blank">app</a>. We offer transparent, simple and reasonable pricing.</p>
          <p align="justify">We ensure that you get hassle-free service. Our drivers are punctual and reliable. After booking, you can also track the vehicle from the app. They will safely pick up and transport your cargo to your destination</p>
          <p align="justify">Need a goods carrier/tempo services/pickup truck for moving houses or shifting household items? Or are you a business which needs delivery trucks or moving vans? Trust blowhorn to deliver the goods, literally!</p>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>

  <footer>
    {% block footer %}
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 copyrightdiv">
          <span class="copyright">Copyright &copy; 2014-2017 blowhorn. All rights reserved. <a href="termsofservice" title="Terms of Use">Terms of Use</a></span>
        </div>
        <div class="col-md-4 col-sm-5 blogabout">
          <nav>
            <ul>
              <li><a href="blog?src=bh_footer" target="_blank" title="Blog">Blog</a></li>
              <li><a href="about?src=bh_footer" title="About Us">About Us</a></li>
              <li><a href="careers?src=bh_footer" title="Careers">Careers</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    {% endblock %}
  </footer>
</body>
</html>
