<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        <script type="text/javascript" src="/static/js/lib/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/moment.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript" src="/static/js/lib/bootstrap-datetimepicker.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
        <script src="/static/js/lib/ui-bootstrap-tpls.js"></script>
        <script src="/static/js/lib/jquery.stickytableheaders.min.js"></script>
        <script src="/static/js/lib/smart-table.min.js"></script>

        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/blowhorn.css">
        <link rel="stylesheet" type="text/css" href="css/mobilemap.css">
        <style>
            th, td { text-align: center; }
            table thead th{margin-top:40px;color:#02bfe0;padding:10px 15px 5px 15px;border-bottom:1px dashed #B2C4C6;font-weight:400;}
            .img-responsive { width: 98px; }
            .dashboard header nav { margin-top: 0px; }
            .branding span { vertical-align: -webkit-baseline-middle; }
            .inner-table { font-size: 12px; }
            .clickableRow { cursor: pointer; }
            .input-group-addon { padding: 2px; background: #fff; border-radius: 0; border: none;     padding-top: 5px; }
            .input-group > p { margin-bottom: 0; margin-top: 8px; padding-left: 5px; }
            .modal-branding-map .modal-content { border: 5px solid #02BFE0; overflow: hidden; }
            .modal-branding-map .close { background-color: #A5A5A5;  width: 24px;  height: 24px;  margin-top: 2px;  border-radius: 100%;  font-size: 1em;  color: #FFF;  filter: alpha(opacity=60); opacity: .6; text-shadow: 0 0; position: absolute; right: 10px; top: 20px;  z-index: 1; }
            #trace-block { background: #fff; width: 150px; margin-top: 10px; box-shadow: 1px 1px 1px #888888; position: absolute; left: 120px; z-index: 1; }
            #close-btn { z-index: 1; position: absolute; top: 10px; }
            #loader-block { z-index: 1; position: absolute; left: 45%; top: 50%; }
            #map-controls { position: absolute; bottom: 25px; right: 50px; z-index: 1; }
        </style>
        <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
        <script>
            // Set the configuration for firebase
            var config = {
                apiKey: "{{firebase_apikey}}",
                authDomain: "{{firebase_authdomain}}",
                databaseURL: "{{firebase_database_url}}",
                storageBucket: "{{firebase_storagebucket}}",
                messagingSenderId: "{{firebase_messagingsenderid}}"
            };
            firebase.initializeApp(config);
            var user_id = "{{ uid }}"
        </script>
    </head>
    <body>
        <div class="dashboard" ng-controller="mainCtrl">
            <header>
                <div class="container">
                    <div class="col-sm-2 col-xs-4">
                        <a href="/" title="Blowhorn">
                            <img src="images/blowhorn_logo.png" width="70" height="68" alt="Blowhorn logo" class="img-responsive" />
                        </a>
                    </div>
                    <nav class="pull-right col-sm-6 col-xs-8 proxima-nova-light">
                        <div id="user-logged-in" >
                            <ul>
                                <li class="menu_cus_dashboard"><a href="/" title="Home">Home</a>
                                </li>
                                <li class="menu_cus_dashboard">
                                    <a href="#" id="btn-logout" title="Profile" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><img id="user-pic" src="/images/dummy_profile.png" width="36" height="36" alt="User" /> <span class="hidden-xs">Profile</span> <span class="icon-arrow-down"></span>
                                    </a>
                                    <ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="btn-logout">
                                        <li hidden role="presentation"><a id="btn-profile" role="menuitem" tabindex="-1" href="#"><span class="icon-edit-main"></span> View / Edit Profile</a>
                                        </li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="logout"><span class="icon-logout"></span> Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container"><br />
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12" style="min-height:504px;padding-top: 7px;">
                    <div class="row">
                        <table class="table table-hover table-condensed table-striped branding">
                            <thead>
                                <tr>
                                {#  <th><img src="/images/plus_minus.png" style="width: 23px;padding-left: 5px;"></th> #}
                                    <th></th>
                                    <th>Name</th>
                                    <th>Total Days</th>
                                    <th>Total KM</th>
                                    <th>HeatMap</th>
                                    <th>Live Track</th>
                                </tr>
                            </thead>
                            {% raw %}
                            <div id="tbody-wrap" hidden>
                                <tbody data-ng-repeat="storedata in storeDataModel" data-ng-switch on="dayDataCollapse[$index]">
                                    <tr class="clickableRow" title="Click to toggle collapse/expand day summaries for this store." data-ng-click="selectTableRow($index, storedata.driver_id)">
                                        <td>
                                            <span class="glyphicon" ng-class="{'glyphicon-plus-sign': !dayDataCollapse[$index], 'glyphicon-minus-sign': dayDataCollapse[$index]}"></span>
                                        </td>
                                        <td><span ng-bind="storedata.driver_name"/></td>
                                        <td><span ng-bind="storedata.total_days"/></td>
                                        <td><span ng-bind="storedata.total_km"/></td>
                                        <td><a ng-click="openHeatmap(storedata, 'all')"><img src="/images/heatmap.png" style="width: 26px;"></a></td>
                                        <td><a ng-click="openTracking(storedata)"><img src="/images/track.png" style="width: 26px;"></a></td>
                                    </tr>
                                    <tr data-ng-switch-when="true">
                                        <td colspan="9">
                                            <div class="span9">
                                                <div class="">
                                                    <table st-table="storeDataModel[$index].driver_day_data" class="table table-condensed table-striped inner-table">
                                                        <thead class="">
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>Total KM</th>
                                                            <!--    <th>Total Time</th>
                                                                <th>HeatMap</th> -->
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr data-ng-repeat="dayData in storeDataModel[$index].driver_day_data">
                                                                <td><span ng-bind="dayData.date"/></td>
                                                                <td><span ng-bind="dayData.total_km"/></td>
                                                            <!--    <td><span ng-bind="dayData.total_time"/></td>
                                                                <td><a ng-click="openHeatmap(dayData, 'datewise')">view</a></td> -->
                                                            </tr>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="4" class="text-center">
                                                                    <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="5"></div>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </div>
                            {% endraw %}
                        </table>
                        <img data-loading id="loaderDrivers" style="display:none;margin-left:40%;height:50px;width:150px;" src="/static/img/adminloader.gif"/>
                        <h4 id="message" class="text-center"></h4>
                    </div>
                </div>
            </div>
            <!-- Branding Heatmap -->
            <div id="modal-branding-map" class="modal fade modal-branding-map" tabindex="-1" role="dialog" aria-labelledby="brandingMap" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="heatmap-wrapper">
                            <!-- Close button -->
                            <button type="button" id="close-btn" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
                            <!-- Checkbox to toggle route tracing -->
                            <div class="input-group" id="trace-block">
                                <span class="input-group-addon">
                                    <input type="checkbox" id="show-routetrace" aria-label="route_trace" style="width: 20px; height: 20px;">
                                </span>
                                <p>Show route trace</p>
                            </div>
                            <!-- Map Control Buttons -->
                            <div id="map-controls">
                                <input id="toggle-infowindow" type='submit' class='btn-sm btn-default' value='Toggle Infowindow' style="margin-right: 10px" onClick="toggleInfowindow()"/>
                                <input id="fit-zoom" class="btn-sm btn-default" type="submit" value="Fit Zoom" onClick="fitZoom()">
                            </div>
                            <!-- Loader block -->
                            <div id="loader-block">
                                <h5 id="loader-text"></h5>
                            </div>
                            <!-- Map with heatmap layer / tracking-->
                            <div id="google-map" style="height:550px; width:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-7 copyrightdiv">
                            <span class="copyright">Copyright 2014 &copy; Blowhorn. All rights reserved. <a href="termsofservice" title="Terms of Use">Terms of Use</a></span>
                        </div>
                        <div class="col-md-4 col-sm-5 blogabout">
                            <nav>
                                <ul>
                                    <li><a href="blog" target="_blank" title="Blog">Blog</a></li>
                                    <li><a href="about" title="About Us">About Us</a></li>
                                    <li><a href="careers" title="Careers">Careers</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <script type="text/javascript">
            var google_map_api_key = "{{ maps_api_key }}";
        </script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="js/branding.js"></script>
    </body>
</html>
