{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <title>{% block title %}Help drivers as they move that matters{% endblock title %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#00d2f6">
    <meta name="title" content="Help drivers as they move that matters">
    <meta name="keywords" content="blowhorn! Simpler, Swifter, Smarter; Tempo service, Book my Mini Truck, Transport within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Transporter for Local Shifting, Tata Ace on Hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Hire Mini Truck in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Logistics Services in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Local Shifting in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Pick Up Vehicles, Door to Door Delivery, Online Pickup Booking, Schedule a Pickup, Book a Pickup, Pick Up and Drop Service, Shifting within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Movers service">
    <meta name="description" content="COVID-19 has hit the driver fraternity hard, they are still on the frontline keeping us all safe and indoors. Help them by donating generously with Blowhorn and Samhita (NGO). #Donate">
    <meta itemprop="image" content="https://blowhorn.com/static/donation/intro_bg.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Help drivers as they move that matters">
    <meta name="twitter:description" content="COVID-19 has hit the driver fraternity hard, they are still on the frontline keeping us all safe and indoors. Help them by donating generously with Blowhorn and Samhita (NGO). #Donate">
    <meta name="twitter:creator" content="@author_handle">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="https://blowhorn.com/static/donation/intro_bg.png">

    <meta property="og:title" content="Help drivers as they move that matters">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://blowhorn.com/relief" />
    <meta property="og:image" content="https://blowhorn.com/static/donation/intro_bg.png" />
    <meta property="og:description" content="COVID-19 has hit the driver fraternity hard, they are still on the frontline keeping us all safe and indoors. Help them by donating generously with Blowhorn and Samhita (NGO). #Donate">
    <meta property="og:locale" content="en_IN" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:site_name" content="blowhorn" />

    <meta name="msvalidate.01" content="2B5E61D1BF2B61B64D8DA638DE7CBCF8" /> {# For Bing site ownership verification #}
    <link href="{% static 'website/images/favicon-32x32.png' %}" type="image/x-icon" rel="shortcut icon">

    {% block css %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Heebo:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'website/css/blowhorn/donation.css' %}" rel="stylesheet">
    {% endblock %}

    {% csrf_token %}
    <!-- Global site tag (gtag.js) - Google Ads: 678033239 -->
    {% if google_tag_manager_key_old %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_manager_key_old }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ google_tag_manager_key_old }}');
        gtag('set', {'country': 'IN','currency': 'INR'});
    </script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52796945-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-52796945-1');
    </script>
    <script src="static/website/js/lib/google_analytics.js"></script>
    {% endif %}
    {% endblock %}
</head>

<body class="{% block body_class %}parallax{% endblock %}" style="overflow-x: hidden;">
     <!-- Google Tag Manager (noscript) -->
     {% if google_tag_manager_key_old %}
     <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
       new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
       j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
       'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
       })(window,document,'script','dataLayer', '{{ google_tag_manager_key_old }}');</script>
       <!-- Google Tag Manager (noscript) -->
     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_key_old }}"
     height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
     {% endif %}
     <!-- End Google Tag Manager (noscript) -->
     {% block content %}
       <div class="main-container container-fluid">
            <section class="intro">
                <div class="layer">
                    <div class="container logo-container">
                        <a href="/">
                            <img src="{% static 'website/images/blowhorn/logo/logo.png' %}" alt="logo"
                            class="img-responsive blowhorn_logo"/>
                        </a>
                        <a href="//www.samhita.org">
                            <img src="{% static 'donation/samhita_logo_light.png' %}" alt="logo"
                            class="img-responsive blowhorn_logo"/>
                        </a>
                    </div>
                </div>
            </section>
            <div class="floating-panel">
                <div class="main-content hidden-xs">
                    <div class="container card-container">
                        <div class="content-card row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 left">
                                <div class="text">the</div>
                                <div class="text">blowhorn</div>
                                <div class="text">front-line</div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 right">
                                <div class="line1">
                                    Our drivers are in the front-line ensuring we continue with our daily lives.
                                </div>
                                <div class="line2">
                                    At the time of this lockdown, let's give them our whole hearted support. They need it now more than ever.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content visible-xs">
                    <div class="container card-container">
                        <div class="content-card row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 left">
                                <div class="text">the blowhorn front-line</div>
                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 right">
                                <div class="line1">
                                    Our drivers are in the front-line ensuring we continue with our daily lives.
                                </div>
                                <div class="line2">
                                    At the time of this lockdown, let's give them our whole hearted support. They need it now more than ever.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="donation">
                    <div class="container-fluid">
                        <div class="row content-card">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 left">
                                <div class="heading">What Blowhorn is doing for the drivers</div>
                                <hr class="separator">
                                <div class="card-container">
                                    <div class="card">
                                        <div class="heading">Financial Assistance</div>
                                        <div class="content">
                                            <img src="{% static 'donation/finance.png' %}" class="img-responsive"/>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="heading">Medical Insurance</div>
                                        <div class="content">
                                            <img src="{% static 'donation/medical.png' %}" class="img-responsive"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right">
                                <div class="heading">Every small donation counts</div>
                                <div class="tagline">100% of the donation will go to the Drivers</div>
                                <div class="content">
                                    <form name="donationForm">
                                        <input id="email" name="email" type="email" class="form-control"
                                        placeholder="Enter you email" required/>
                                        <div class="form">
                                            <input id="amount" name="amount" type="number" class="form-control" min="1" required/>
                                            <div class="chips">
                                                <div class="chip" onclick="addAmount(100)">+100</div>
                                                <div class="chip" onclick="addAmount(200)">+200</div>
                                                <div class="chip" onclick="addAmount(500)">+500</div>
                                                <div class="chip" onclick="addAmount(1000)">+1000</div>
                                            </div>
                                        </div>
                                        <div class="btn-container">
                                            <input class="btn" type="submit" value="Donate Here">
                                        </div>
                                    </form>
                                    <div class="social-icon-heading">Share on:</div>
                                    <div class="social-icons">
                                        <a target="_blank" href="//facebook.com/sharer/sharer.php?title=COVID-19: Blowhorn raising funds to help its frontline drivers who are keeping us safe during this lockdown. Please contribute&u=https://blowhorn.com/relief" class="fa fa-facebook"></a>
                                        <a target="_blank" href="//twitter.com/intent/tweet?text=COVID-19: Blowhorn raising funds to help its frontline drivers who are keeping us safe during this lockdown. Please contribute.&u=https://blowhorn.com/relief&url=https://blowhorn.com/relief" class="fa fa-twitter"></a>
                                        <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://blowhorn.com/relief&title=COVID-19: Blowhorn raising funds to help its frontline drivers who are keeping us safe during this lockdown. Please contribute." class="fa fa-linkedin"></a>
                                        <a target="_blank" href="//api.whatsapp.com/send?text=COVID-19: Blowhorn raising funds to help its frontline drivers who are keeping us safe during this lockdown. Please contribute. https://blowhorn.com/relief" class="fa fa-whatsapp"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="blowhorn-truck">
                    <img src="{% static 'donation/truck_banner.png' %}" alt="Truck" class="img-responsive">
                </section>
                <section class="steps-taken">
                    <div class="container">
                        <div class="heading">STEPS WE TAKE TO ENSURE DRIVERS ARE SAFE</div>
                        <div class="content">
                            <div class="row row1">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-container">
                                    <img src="{% static 'donation/safety_1.png' %}" class="img-responsive"/>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-container">
                                    <img src="{% static 'donation/safety_2.png' %}" class="img-responsive"/>
                                </div>
                            </div>
                            <div class="row row2">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-container">
                                    <img src="{% static 'donation/safety_3.png' %}" class="img-responsive"/>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 img-container">
                                    <img src="{% static 'donation/safety_4.png' %}" class="img-responsive"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="precautions">
                    <div class="container">
                        <div class="heading">precautionary steps <br>you can take at your end</div>
                        <div class="content">
                            <div class="row line">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-container">
                                    <img src="{% static 'donation/precaution_1.png' %}" class="img-responsive"/>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text">
                                    Wash your hands properly for 20 seconds.
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-container">
                                    <img src="{% static 'donation/precaution_2.png' %}" class="img-responsive"/>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text">
                                    Avoid touching your eyes, nose and mouth.
                                </div>
                            </div>
                            <div class="row line">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-container">
                                    <img src="{% static 'donation/precaution_3.png' %}" class="img-responsive"/>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text">
                                    Maintain at least 3ft distance from people who are ill.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
       </div>
       <div class="modal fade" id="thanyouModal" tabindex="-1" role="dialog"
        aria-labelledby="thanyouModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <div class="img-container">
                          <img src="{% static 'donation/thank_you.jpg' %}" class="desktop-thankyou">
                          <img src="{% static 'donation/thank_you_mobile.jpg' %}" class="mobile-thankyou">
                        </div>
                        <div class="transaction-details">
                          <div class="transaction-card">
                            <div class="card-header" style="padding-left: 12px;">
                              <h6>Transaction Details</h6>
                            </div>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th scope="row">Transaction ID:</th>
                                  <td id="msg-transaction-id"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="loader-overlay">
        <div class="loader"></div>
      </div>
     {% endblock content %}

     {% block javascript %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        let rzpid = "{{ rzpid }}";
        let is_authenticated = "{{ is_authenticated|yesno:'true,false' }}";
        let donation = "{{ donation }}";
        let request_from_app = "{{ request_from_app|yesno:'true,false' }}";
    </script>
    <script src="{% static 'website/js/donation.js' %}"></script>
    {% endblock javascript %}
</body>
</html>
