{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/privacyterms.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo_black.png' %}"
               width="135" height="104" alt="Blowhorn logo"
               class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="col-sm-8">
        <p id="rowborder" class="text-center"><b>BLOWHORN GIG WORKERS</b></p>
      </div>
    </div>

    <div class="col-sm-8">
      <p><b>Dear Partners, we are arranging funds to be credited directly in your bank accounts. For this, we need your details. Please provide these documents/details ASAP. These details/documents can be uploaded within this partner app. If you have any issues, please contact your SPOCs.</b></p>
      <p style="text-align:right"><sup>*</sup>T&C apply</p>
      <ul class="documents">
        <li>Name</li>
        <li>Address</li>
        <li>Mobile Number</li>
        <li>PAN</li>
        <li>Aadhaar Number</li>
        <li>Scan copy of PAN Card</li>
        <li>Scan copy of Aadhaar Card</li>
      </ul>
      <p>If you have not uploaded any of the above mentioned documents, please upload it by clicking on <b>Accounts</b> >>> <b>My Documents</b></p>
      <p><sup>*</sup>Please note that we cannot promise to all but majority of you will definitely get money credited directly to your bank accounts. This decision lies entirely with the funding party.</p>
    </div>
  </div>
</body>
</html>
