{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/privacyterms.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo_black.png' %}"
               width="135" height="104" alt="Blowhorn logo"
               class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="col-sm-8">
        <p id="rowborder" class="text-center">Terms and Conditions</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 left_menu">
        <p style="margin-top:15px;">
        <a href="#referral-bonus-for-different-vehicle-type">Referral Bonus For Different Vehicle Type</a></p>
        <p><a href="#conditions-for-successful-referral">Conditions For Successful Referral</a></p>
      </div>

      <div class="col-sm-8 right_doc">
        <h4 id="referral-bonus-for-different-vehicle-type">WELCOME TO THE BLOWHORN TERMS AND CONDITIONS</h4>
          <p><b>Referral Bonus For Different Vehicle Type:</b></p>
          <ul class="referral-bonus-for-different-vehicle-type">
            <li>Pickup-Truck, Mini Truck, Light Truck, Cargo Van, Cargo Van XL, Truck : INR 500/-</li>
            <li>Three-Wheeler, Two Wheeler. INR 250/-</li>
          </ul>

          <!--<p><b>Termination of Duty</b></p>-->
          <p><b>Conditions For Successful Referral:</b></p>
           <ul class="conditions-for-successful-referral">

           <li>New Driver to submit all mandatory documents within 2 days of referral</li>
           <li>New Driver and you have to stay active for 2 payment cycle with Blowhorn</li>
           <li>New driver needs to have 100% Trip completion</li>
           <li>New driver needs to have 95% attendance</li>
           </ul>

        <li>The referral amount will be credited to you only upon meeting all the criteria mentioned under “Conditions for Successful Referral”. The will be
            added to your payment amount and disbursed in the payment cycle closest to the date of success</li>
        <li>There is no limit to the number of refers per user</li>
        <li>Blowhorn reserves to right to change the amount, stop referral program and/or change the terms and conditions at any point, without any prior notice</li></br>

        <div><li>For more details, please reach out to our Blowhorn Partner Helpline:</li>
          <ul class="blowhorn-partner-helpline">
            {% for contact in contacts %}
              <p>{{contact.city}} - {{contact.support_number}}</p>
            {% endfor %}
          </ul>
        </div>

      </div>
        <p class="pos_fixed" ><img id="gotop" src="{% static 'website/images/up-fast.png' %}" style="width: 95px;"></img>
          <div class="block"></div>
        </p>
        <div id="cleared"></div>
      </div>
  </div>

      <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
      <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
      <script type="text/javascript">
        $('#gotop').hover(function () {
          $('body, html').animate({scrollTop: '-=12000'}, 3000);
        }, function () {
          $('body, html').stop();
        });
      </script>
  </body>
</html>
