{% load mathfilters %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <style>
      @media only screen and (max-width: 630px) {
        .main-container {
          width: 100%;
          background-color: #d5d5d4;
          box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.6);
        }
        .sub-container {
          width: 100%;
          padding: 0px;
          background-color: #000;
        }
        .receipt {
          width: 100%;
          padding: 5px 5px;
          background-color: #f8f7f9;
        }
        .blackback {
          background-color: #000;
        }
        .total-cost {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 40px;
          font-weight: 500;
          color: #5a5a5a;
          padding: 5px 0px;
        }
        .info-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
          padding: 5px 0px;
        }
        .no-padding {
          padding: 0px;
        }
        .no-margin {
          margin: 0px;
        }
        .pickup-dropoff {
          background-color: rgb(238, 234, 238);
          padding: 5px 5px;
          width: 100%;
          margin: 0px;
          height: 100px;
        }
        .pickup-dropoff-img {
          height: 100px;
          padding-right: 5px;
          padding-top: 3px;
        }
        .date-time {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
          color: #5a5a5a;
        }
        .address {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 12px;
          font-weight: 500;
          color: #808080;
        }
        .trip-driver {
          width: 100%;
          padding: 5px 5px;
          background-color: #f8f7f9;
        }
        .driver-img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .driver-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 16px;
          font-weight: 500;
          color: #2e2c2c;
          line-height: 1.5;
        }
        .trip-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
        }
        .trip-value {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .map {
          width: 100%;
          background-color: rgb(238, 234, 238);
        }
        .map-img {
          height: 200px;
          width: 100%;
        }
        .fare-breakup {
          width: 100%;
          background-color: #fff;
          padding: 5px 5px;
        }
        .fare-header {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 25px;
          font-weight: 500;
          color: #444444;
        }
        .fare-type {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #8a8888;
        }
        .fare-value {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .footer {
          width: 100%;
          background-color: #000;
          padding: 5px 5px;
        }
        .sliptter {
          padding: 20px 0px 0px 0px;
        }
        .top-bottom-padding {
          padding: 5px 0px;
        }
        .top-bottom-padding-20 {
          padding: 10px 0px;
        }
        .top-bottom-padding-40 {
          padding: 20px 0px;
        }
        .footer-text {
          color: #fff;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
        }
        .footer-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .invoice-details {
          width: 100%;
          background-color: rgb(238, 234, 238);
          padding: 5px 5px;
        }
        .invoice-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: #727171;
          padding: 5px 0px;
          line-height: 1.3;
        }
        .invoice-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .paid {
          color: rgb(8, 167, 8);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .not-paid {
          color: rgb(216, 79, 16);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .payment-mode {
          color: rgb(48, 44, 42);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
        }
        .date {
          text-decoration: none;
        }
        .big-screen {
          display: none !important;
          height: 0px;
          width: 0px;
        }
      }
      @media only screen and (min-width: 631px) {
        .main-container {
          width: 100%;
          background-color: #d5d5d4;
          box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.6);
        }
        .sub-container {
          width: 800px;
        }
        .receipt {
          width: 100%;
          padding: 10px 50px;
          background-color: #fdfcfd;
        }
        .total-cost {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 40px;
          font-weight: 500;
          color: #5a5a5a;
          padding: 5px 0px;
        }
        .info-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
          padding: 5px 0px;
        }
        .no-padding {
          padding: 0px;
        }
        .no-margin {
          margin: 0px;
        }
        .pickup-dropoff {
          background-color: #fdfcfd;
          padding: 10px 50px;
          width: 100%;
          margin: 0px;
          height: 80px;
        }
        .pickup-dropoff-img {
          height: 60px;
          padding-right: 15px;
          padding-top: 3px;
        }
        .date-time {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
          color: #5a5a5a;
        }
        .address {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 12px;
          font-weight: 500;
          color: #808080;
        }
        .trip-driver {
          width: 100%;
          padding: 10px 50px;
          background-color: #fdfcfd;
        }
        .driver-img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .driver-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 16px;
          font-weight: 500;
          color: #2e2c2c;
          line-height: 1.5;
        }
        .trip-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
        }
        .trip-value {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .map {
          width: 100%;
          background-color: rgb(238, 234, 238);
        }
        .map-img {
          height: 350px;
          width: 100%;
        }
        .fare-breakup {
          width: 100%;
          background-color: #fff;
          padding: 10px 50px;
        }
        .fare-header {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 25px;
          font-weight: 500;
          color: #444444;
        }
        .fare-type {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #8a8888;
        }
        .fare-value {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .footer {
          width: 100%;
          background-color: #000;
          padding: 10px 50px;
        }
        .sliptter {
          padding: 20px 0px 0px 0px;
        }
        .top-bottom-padding {
          padding: 5px 0px;
        }
        .top-bottom-padding-20 {
          padding: 10px 0px;
        }
        .top-bottom-padding-40 {
          padding: 20px 0px;
        }
        .footer-text {
          color: #fff;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
        }
        .footer-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .invoice-details {
          width: 100%;
          background-color: rgb(238, 234, 238);
          padding: 10px 50px;
        }
        .invoice-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: #727171;
          padding: 5px 0px;
          line-height: 1.3;
        }
        .invoice-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .paid {
          color: rgb(8, 167, 8);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .not-paid {
          color: rgb(216, 79, 16);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .payment-mode {
          color: rgb(48, 44, 42);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
        }
        .date {
          text-decoration: none;
        }
        .small-screen {
          display: none !important;
          height: 0px;
          width: 0px;
        }
      }
    </style>
  </head>
  <body>
    <div class="main-container">
      <center>
        <div class="sub-container">
            <table class="blackback" style="background-color: #000;width: 100%;">
                <tr class="no-padding">
                  <td align="center" class="no-padding">
                    <img class="logo" src="{{logo_url}}" alt="" width="{{ logo_size.width }}" height="{{ logo_size.height }}">
                  </td>
                </tr>
            </table>
            <table class="receipt" style="width: 100%;">
              <tr class="no-padding big-screen" style="display: none">
                <td align="center" class="no-padding">
                  <img class="logo" src="{{logo_url}}" alt="" width="{{ logo_size.width }}" height="{{ logo_size.height }}">
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding">
                  <span class="total-cost">
                    {{currency.symbol}}{{trip.price|floatformat:2}}
                  </span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding">
                  <span class="info-text">Thanks for choosing {{brand_name}}, {{customer_name}}</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding">
                  <span class="info-text date">{{today}} | {{customer_name}}</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding">
                  {% if trip.payment_status == 'paid'%}
                    <span class="paid">Paid</span> | <span class="payment-mode">{{trip.payment_mode|title}}</span>
                  {% elif trip.payment_status == 'un-paid'%}
                    <span class="not-paid">Not Paid</span> |
                    <span><a class="invoice-link" href="{{tracking_link}}">Make Payment</a></span>
                  {% endif %}
                </td>
              </tr>
              <tr class="sliptter big-screen">
                <td class="sliptter">
                  <hr>
                </td>
              </tr>
            </table>
            <table class="pickup-dropoff big-screen" style="width: 100%;">
              <tr class="no-padding">
                <td class="no-padding no-margin" rowspan="2">
                  <img class="pickup-dropoff-img" src="http://storage.googleapis.com/blowhorn/receipt_src_dst.png" alt="">
                </td>
                <td class="no-padding no-margin" valign="top">
                  <table class="no-padding">
                    <tr class="no-padding" style="height: 30px;">
                      <td class="no-padding" style="height: 30px;" valign="top"><span class="date-time">{{pickup_date|date:'d M Y'}} {{trip.pickup.time}}</span> | <span class="address">{{trip.pickup.address}}</span></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr class="no-padding">
                <td class="no-padding no-margin" valign="bottom">
                  <table class="no-padding">
                    <tr class="no-padding" style="height: 30px;">
                      <td class="no-padding" style="height: 30px;" valign="bottom"><span class="date-time">{{dropoff_date|date:'d M Y'}} {{trip.dropoff.time}}</span> | <span class="address">{{trip.dropoff.address}}</span></td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr class="sliptter">
                <td colspan="2"  class="sliptter">
                  <hr>
                </td>
              </tr>
            </table>
            <table class="pickup-dropoff small-screen" style="background-color: rgb(238, 234, 238);width: 100%;">
              <tr class="no-padding">
                <td class="no-padding no-margin" rowspan="2">
                  <img class="pickup-dropoff-img" src="http://storage.googleapis.com/blowhorn/receipt_src_dst.png" alt="">
                </td>
                <td class="no-padding no-margin" valign="top">
                  <table class="no-padding">
                    <tr class="no-padding">
                      <td class="no-padding" valign="bottom">
                        <span class="date-time">{{pickup_date|date:'d M Y'}} {{trip.pickup.time}}</span>
                      </td>
                    </tr>
                    <tr class="no-padding">
                      <td class="no-padding" valign="top">
                        <span class="address">{{trip.pickup.address}}</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr class="no-padding">
                <td class="no-padding no-margin" valign="bottom">
                  <table class="no-padding">
                    <tr class="no-padding">
                      <td class="no-padding" valign="bottom">
                        <span class="date-time">{{dropoff_date|date:'d M Y'}} {{trip.dropoff.time}}</span>
                      </td>
                    </tr>
                    <tr class="no-padding">
                      <td class="no-padding" valign="top">
                        <span class="address">{{trip.dropoff.address}}</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <table class="trip-driver big-screen" style="width: 100%">
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding" align="center" valign="middle" colspan="4">
                  <span class="driver-header">Your driver was {{trip.driver_name}}</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding" rowspan="2" valign="middle" align="left">
                  <img class="driver-img" src="{{driver_picture}}" alt="" height="50px" width="50px">
                </td>
                <td class="top-bottom-padding" align="left" >
                  <span class="trip-header">{{trip.truck_type}}</span>
                </td>
                <td class="top-bottom-padding" align="left">
                  <span class="trip-header">Kilometers</span>
                </td>
                <td class="top-bottom-padding" align="left">
                  <span class="trip-header">Trip Time</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td class="top-bottom-padding" align="left">
                  <span class="trip-value">{{trip.vehicle_model}}</span>
                </td>
                <td class="top-bottom-padding" align="left">
                  <span class="trip-value">{{trip.total_distance|floatformat:1}} Kms</span>
                </td>
                <td class="top-bottom-padding" align="left">
                  <span class="trip-value">{{trip.total_duration}}</span>
                </td>
              </tr>
            </table>
            <table class="trip-driver small-screen" style="background-color: #f8f7f9;width: 100%;">
                <tr class="top-bottom-padding">
                  <td class="top-bottom-padding" colspan="3" valign="middle" align="center">
                    <img class="driver-img" src="{{driver_picture}}" alt="" height="40px" width="40px">
                  </td>
                </tr>
                <tr class="top-bottom-padding">
                  <td class="top-bottom-padding" align="center" valign="middle" colspan="3">
                    <span class="driver-header">Your driver was {{trip.driver_name}}</span>
                  </td>
                </tr>
                <tr class="top-bottom-padding">
                  <td class="top-bottom-padding" align="left">
                    <span class="trip-header">{{trip.truck_type}}</span>
                  </td>
                  <td class="top-bottom-padding" align="center">
                    <span class="trip-header">Kilometers</span>
                  </td>
                  <td class="top-bottom-padding" align="right">
                    <span class="trip-header">Trip Time</span>
                  </td>
                </tr>
                <tr class="top-bottom-padding">
                  <td class="top-bottom-padding" align="left">
                    <span class="trip-value">{{trip.vehicle_model}}</span>
                  </td>
                  <td class="top-bottom-padding" align="center">
                    <span class="trip-value">{{trip.total_distance|floatformat:1}} Kms</span>
                  </td>
                  <td class="top-bottom-padding" align="right">
                    <span class="trip-value">{{trip.total_duration}}</span>
                  </td>
                </tr>
              </table>
            <table class="map no-padding" style="width: 100%;">
              <tr class="no-padding">
                <td class="no-padding">
                    <img class="map-img" src="{{route_static_map}}" alt="" width="100%">
                </td>
              </tr>
            </table>
            <table class="fare-breakup" style="display:none">
              <tr class="top-bottom-padding-20">
                <td colspan="2" align="left" class="top-bottom-padding-20">
                  <span class="fare-header">Fare Breakup</span>
                </td>
              </tr>
              {% for fare_details in trip.fare_breakup_details %}
                  {% if fare_details.value != 0 %}
                      <tr class="top-bottom-padding-20">
                          <td class="fare-type top-bottom-padding-20" colspan="1" valign="top" align="left">{{fare_details.name}}</td>
                          <td class="fare-value top-bottom-padding-20" colspan="1" align="right" valign="top">
                              {% if fare_details.value < 0 %}
                              -
                              {% else %}
                              {{currency.symbol}}{{fare_details.value|abs|floatformat:2}}
                            {% endif %}

                          </td>
                      </tr>
                  {% endif %}
              {% endfor %}
              <tr>
                <td colspan="2">
                  <hr>
                </td>
              </tr>
              {% for fare_details in trip.amount_payable %}
                  {% if fare_details.value != 0 %}
                      <tr class="top-bottom-padding-20">
                          <td class="fare-type top-bottom-padding-20" colspan="1" valign="top" align="left">{{fare_details.name}}</td>
                          <td class="fare-value top-bottom-padding-20" colspan="1" align="right" valign="top">
                              {% if fare_details.value < 0 %}
                                -
                              {% else %}
                                {{currency.symbol}}{{fare_details.value|abs|floatformat:2}}
                              {% endif %}
                          </td>
                      </tr>
                  {% endif %}
              {% endfor %}
            </table>
            <table class="invoice-details top-bottom-padding-40" style="background-color: rgb(238, 234, 238);width: 100%;">
              <tr class="top-bottom-padding-20">
                <td class="top-bottom-padding invoice-text">
                  <span>Detailed invoice can be found in the below link.</span>
                </td>
              </tr>
              <tr class="top-bottom-padding-20">
                <td class="top-bottom-padding-20 invoice-text">
                  <a class="invoice-link" href="{{invoice_link}}">Click here</a> to view the invoice.
              </tr>
              <tr class="top-bottom-padding-20" style="display: none">
                <td class="top-bottom-padding-20 invoice-text">
                  <a class="invoice-link" href="{{download_link}}">Click here</a> to download the invoice.
                </td>
              </tr>
            </table>
            <table class="footer big-screen" style="background-color: #000;width: 100%;">
                <tr class="top-bottom-padding-40">
                  <td rowspan="2" style="width:50px; padding-right:10px;" class="top-bottom-padding-40" valign="middle">
                    <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/support@2x.png" align="left" height="41" width="45">
                  </td>
                  <td valign="bottom">
                    <span class="footer-text" style="font-size: 14px;">{{brand_name}} Support</span>
                  </td>
                  <td rowspan="2" style="width:50px" valign="middle">
                    <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/give@2x.png" alt=""  align="left" height="41" width="41">
                  </td>
                  <td rowspan="2" align="right" class="top-bottom-padding-40">
                    {% if social_links.facebookId %}
                    <a href="facebook.com/{{social_links.facebookId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                      <img height="20" src="http://storage.googleapis.com/blowhorn/facebook@2x.png" style="outline: none; text-decoration: none;" width="20">
                    </a>
                    {% endif %}
                    {% if social_links.twitterId %}
                    <a href="twitter.com//{{social_links.twitterId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                      <img height="20" src="http://storage.googleapis.com/blowhorn/twitter@2x.png" style="outline: none; text-decoration: none;" width="20">
                    </a>
                    {% endif %}
                    {% if social_links.linkedinId %}
                    <a href="linkedin.com/{{social_links.linkedinId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                      <img height="20" src="http://storage.googleapis.com/blowhorn/linked-in@2x.png" style="outline: none; text-decoration: none;" width="20">
                    </a>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                      <span  class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> about your experience.</span>
                  </td>
                </tr>
            </table>
            <table class="footer small-screen" style="background-color: #000;width: 100%;">
              <tr class="top-bottom-padding">
                <td rowspan="2" style="width:50px; padding-right:10px;" class="top-bottom-padding" valign="middle">
                  <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/support@2x.png" align="left" height="41" width="45">
                </td>
                <td valign="middle" class="top-bottom-padding" align="right" colspan="2">
                  <span class="footer-text" style="font-size: 14px;">{{brand_name}} Support</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td valign="middle" class="top-bottom-padding" align="right" colspan="3">
                  <span  class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> about your experience.</span>
                </td>
              </tr>
              <tr class="top-bottom-padding-40">
                <td style="width:50px" valign="middle" class="top-bottom-padding">
                  <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/give@2x.png" alt=""  align="left" height="41" width="41">
                </td>
                <td align="right" class="top-bottom-padding">
                  {% if social_links.facebookId %}
                  <a href="facebook.com/{{social_links.facebookId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                    <img height="20" src="http://storage.googleapis.com/blowhorn/facebook@2x.png" style="outline: none; text-decoration: none;" width="20">
                  </a>
                  {% endif %}
                  {% if social_links.twitterId %}
                  <a href="twitter.com//{{social_links.twitterId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                    <img height="20" src="http://storage.googleapis.com/blowhorn/twitter@2x.png" style="outline: none; text-decoration: none;" width="20">
                  </a>
                  {% endif %}
                  {% if social_links.linkedinId %}
                  <a href="linkedin.com/{{social_links.linkedinId}}" style="padding: 10px;color: #b2b2b2 !important; text-decoration: underline; font-size: 11px;" target="_blank">
                    <img height="20" src="http://storage.googleapis.com/blowhorn/linked-in@2x.png" style="outline: none; text-decoration: none;" width="20">
                  </a>
                  {% endif %}
                </td>
              </tr>
          </table>
        </div>
      </center>
    </div>
  </body>
</html>
