{% load staticfiles i18n website_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ seo.title }}{% endblock title %}</title>
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ seo.theme_color }}">
    <meta name="title" content="{{ seo.title }}">
    <meta name="keywords" content="{{ seo.keywords }}">
    <meta name="description" content="{{ seo.description }}">
    <meta property="og:title" content="{{ seo.title }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ seo.og_url }}" />
    <meta property="og:image" content="{{ seo.og_img }}" />
    <meta property="og:description" content="{{ seo.og_description }}">
    <meta property="og:locale" content="{{ seo.og_locale }}" />
    <meta property="og:locale:alternate" content="{{ seo.og_locale_alt }}" />
    <meta property="og:site_name" content="{{ seo.og_sitename }}" />

    <meta name="msvalidate.01" content="2B5E61D1BF2B61B64D8DA638DE7CBCF8" />
    <meta name="facebook-app-id" content="{{ facebook_app_id }}" />
    <!-- google login-->
    <meta name="google-signin-client_id" content="{{ google_client_id }}" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email" />
    <meta name="google-signin-requestvisibleactions" content="https://schemas.google.com/AddActivity" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />

    <link href="{{ seo.favicon_short_icon }}" type="image/x-icon" rel="shortcut icon" />
    <link href="{{ seo.favicon_icon }}" type="image/x-icon" rel="icon" />
    <link href="{{ seo.apple_touch_icon }}" rel="apple-touch-icon" />
    {% csrf_token %}

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'website/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/morphext.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/toastr.min.css' %}" rel="stylesheet">
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static "website/css/"|add:website_build|add:"/global.css" %}" rel="stylesheet">
    {% endblock %}

    {% if clevertap_account_id %}
    <script type="text/javascript">
      var clevertap = {event:[], profile:[], account:[], onUserLogin:[], notifications:[], privacy:[]};
      // replace with the CLEVERTAP_ACCOUNT_ID with the actual ACCOUNT ID value from your Dashboard -> Settings page
      clevertap.account.push({"id": "{{ clevertap_account_id }}"});
      clevertap.privacy.push({optOut: false}); //set the flag to true, if the user of the device opts out of sharing their data
      clevertap.privacy.push({useIP: false}); //set the flag to true, if the user agrees to share their IP data
        (function () {
          var wzrk = document.createElement('script');
          wzrk.type = 'text/javascript';
          wzrk.async = true;
          wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wzrk, s);
        })();
    </script>
    {% endif %}
  </head>
  <body class="{% block body_class %}parallax{% endblock %}" style="overflow-x: hidden;">
    <!-- Google Tag Manager (noscript) -->
    {% if google_tag_manager_key_old %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer', '{{ google_tag_manager_key_old }}');</script>
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_manager_key_old }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    <!-- End Google Tag Manager (noscript) -->
    {% block content %}
      <p>Your can override this block to render your content</p>
    {% endblock content %}

    {% block javascript %}
    <!-- stuff: Third-party javascript libraries go here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    {% if google_analytics_tag_key %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_tag_key }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ google_analytics_tag_key }}');
      gtag('send', 'pageview');
    </script>
    {% endif %}
  {% endblock javascript %}
</body>
</html>
