{% extends "website/home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/9.0.6/css/intlTelInput.css" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/blowhorn.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/booking-v2.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/blowhorn-v3.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/sprite.css" %}" rel="stylesheet">
  <link href="{% static "website/css/"|add:website_build|add:"/infobox.css" %}" rel="stylesheet">
  <link type="text/css" href="{% static 'website/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div ng-app="blowhornApp">
    <div class="chat-icon-container" id="chat-icon-container"
    onClick="!window.fcWidget.isOpen() ? window.fcWidget.open() : window.fcWidget.close()" style="display: none;">
      <img class="chat-icon" src="{% static "website/images/"|add:website_build|add:"/chat.svg" %}">
      <span class="close-chat hairline"></span>
    </div>
    <div class="chat-intro-container" id="chat-intro-container" style="display: none;">
      <div class="chat-avatar-container">
        <img class="chat-avatar" src="{% static "website/images/"|add:website_build|add:"/avatar.png" %}">
      </div>
      <div class="chat-intro-msg-container">
        <div class="chat-msg-header">Need Help?</div>
        <div class="chat-msg-content">I’m here to chat if you want to learn more</div>
      </div>
    </div>
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <!-- <script type="text/javascript">
    // To remove '#_=_' from url because of facebook redirect uri bug
    var idx = window.location.toString().indexOf("#_=_");
    if (idx > 0) {
      window.location = window.location.toString().substring(0, idx);
    }
  </script> -->
  <script type="text/javascript">
    var user_logged_in = "{{user_logged_in}}";
    var b_user_logged_in = "{{b_user_logged_in}}";
    var b_myfleet_required = "{{b_myfleet_required}}";
    var freshChatData = {{fresh_chat_data|safe}};
    var isEmbed = "{{is_embed}}";
    var loadHome = "{{load_home}}";
    try {
      loadHome = JSON.parse(loadHome);
    } catch {
      loadHome = loadHome === "True";
    }
    try {
      isEmbed = JSON.parse(isEmbed);
    } catch {
      isEmbed = isEmbed === "True";
    }
    if (!isEmbed) {
      var rebook_data = {{rebook | safe}};
    }
    var selected_city = "{{city | safe}}";
    var current_build = "{{website_build}}";
    var host = "{{host}}";
    var homepage_url = "{{homepage_url}}";
    var brandName = "{{brand_name}}";
    var googleAnalyticsKey = "{{google_analytics_key}}";
    var isd_dialing_code = "{{isd_dialing_code}}";
    var country_code = "{{country_code | safe}}";
    var default_currency = "{{default_currency | safe}}";
    var active_timezone = "{{active_timezone}}";
    var google_tag_manager_key = "{{ google_tag_manager_key }}"
    var global_params = {{params | safe}};
    var bg_url = "{{bg_url | safe}}";
    var states = {{states|safe}};
    if (current_build !== 'blowhorn' && !isEmbed && !rebook_data) {
      window.location.href = homepage_url || `/embed/home`;
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=places,geometry"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'website/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'website/js/lib/re-tree.min.js' %}"></script>
  <script src="{% static 'website/js/lib/qrcode.min.js' %}"></script>
  <script src="{% static 'website/js/lib/angular-qr.min.js' %}"></script>
  <script src="{% static 'website/js/lib/ng-device-detector.min.js' %}"></script>
  <script src="{% static 'website/js/lib/moment.2.18.1.min.js' %}"></script>
  <script src="{% static 'website/js/user_const.js' %}"></script>
  <script src="{% static 'website/js/map_helper.min.js' %}"></script>
  <script src="{% static 'website/js/lib/infobox.min.js' %}"></script>
  <script src="{% static 'website/js/lib/toastr.min.js' %}"></script>
  <script src="{% static 'website/js/lib/respond.min.js' %}"></script>
  <script src="{% static 'website/js/lib/Sortable.min.js' %}"></script>
  <script src="{% static 'website/js/lib/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'website/js/lib/ng-intl-tel-input.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/intlTelInput.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/js/utils.js"></script>

  <script src="{% static 'website/js/home/app.js' %}"></script>
  <script src="{% static 'website/js/home/services/home.js' %}"></script>
  <script src="{% static 'website/js/home/services/map_helpers.js' %}"></script>
  <script src="{% static 'website/js/home/services/general.js' %}"></script>
  <script src="{% static 'website/js/home/services/data.js' %}"></script>
  <script src="{% static 'website/js/home/controllers/home.js' %}"></script>
  <script src="{% static 'website/js/home/controllers/booking_basic.js' %}"></script>
  <script src="{% static 'website/js/home/directives/home.js' %}"></script>
  <script src="{% static 'website/js/home/filters/home.js' %}"></script>

  <!-- Google Tag Manager -->
  {% if google_tag_manager_key_old %}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ google_tag_manager_key_old }}');</script>
  {% endif %}
  <!-- End Google Tag Manager -->
  <!-- Facebook Conversion Code for Blowhorn-Checkout -->
  {% if fb_conversion_key_old %}
  <script>
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '{{ fb_conversion_key_old }}']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id={{ fb_conversion_key }}&amp;ev=PixelInitialized" /></noscript>
  {% endif %}

  <!-- New Snippets -->
  <!-- Global site tag (gtag.js) - Google Ads: 678033239 -->
  {% if google_tag_manager_key %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_tag_manager_key }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ google_tag_manager_key }}');
    gtag('set', {
      'country': '{{country_code | safe}}',
      'currency': '{{default_currency | safe}}'
    });
  </script>
  {% endif %}
  <script src="static/website/js/lib/google_analytics.js"></script>

  <!-- Facebook Pixel Code -->
  {% if fb_conversion_key %}
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '{{ fb_conversion_key }}');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id={{ fb_conversion_key }}&ev=PageView&noscript=1"/></noscript>
  {% endif %}
  <!-- End Facebook Pixel Code -->
{% endblock javascript %}
