<!DOCTYPE html>
<html ng-app="blowhornApp">
<head>
  <!-- End Google Tag Manager -->
  <title>{% block title %}Blowhorn! Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi{% endblock title %}</title>
  <meta charset="UTF-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="blowhorn! Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi.">
  <meta name="keywords" content="blowhorn! Simpler, Swifter, Smarter; Tempo service, Book my Mini Truck, Transport within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Transporter for Local Shifting, Tata Ace on Hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Hire Mini Truck in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Logistics Services in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Local Shifting in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Pick Up Vehicles, Door to Door Delivery, Online Pickup Booking, Schedule a Pickup, Book a Pickup, Pick Up and Drop Service, Shifting within Bengaluru/Hyderabad/Chennai/Mumbai/Delhi, Movers service">
  <meta name="description" content="We are offering the most convenient way to move goods in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi with real time tracking and fixed pricing. Fast and zippy mini-trucks, pickup trucks, light trucks. Give us a try! Visit our website to make a booking.">
  <meta property="og:title" content="blowhorn! Mini-Trucks on hire in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://blowhorn.com/" />
  <meta property="og:image" content="https://storage.googleapis.com/blowhorn/logo.png" />
  <meta property="og:description" content="We are offering the most convenient way to move goods in Bengaluru/Hyderabad/Chennai/Mumbai/Delhi with real time tracking and fixed pricing. Fast and zippy mini-trucks, pickup trucks, light trucks. Give us a try! Visit our website to make a booking.">
  <meta property="og:locale" content="en_IN" />
  <meta property="og:locale:alternate" content="en_US" />
  <meta property="og:site_name" content="blowhorn" />

  <meta name="msvalidate.01" content="2B5E61D1BF2B61B64D8DA638DE7CBCF8" />
  <meta name="facebook-app-id" content="{{ facebook_app_id }}" />
  <!-- google login-->
  <meta name="google-signin-client_id" content="{{ google_client_id }}" />
  <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email" />
  <meta name="google-signin-requestvisibleactions" content="https://schemas.google.com/AddActivity" />
  <meta name="google-signin-cookiepolicy" content="single_host_origin" />

  <link href="/images/favicon-32x32.png" type="image/x-icon" rel="shortcut icon" />
  <link href="/images/favicon-32x32.png" type="image/x-icon" rel="icon" />
  <link href="/images/apple-touch-icon-57x57.png" type="image/x-icon" rel="apple-touch-icon" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/blowhorn.css">
  <link rel="stylesheet" type="text/css" href="css/booking-v2.css">
  <link rel="stylesheet" type="text/css" href="css/blowhorn-v3.css">
  <link rel="stylesheet" type="text/css" href="css/infobox.css">
  <!--<link rel="stylesheet" type="text/css" href="css/mobilemap.css">-->
  <link rel="stylesheet" type="text/css" href="css/animate.css">
  <link rel="stylesheet" type="text/css" href="css/morphext.css">
  <link rel="stylesheet" type="text/css" href="css/toastr.css">
  <link rel='stylesheet' href='static/css/font-awesome.min.css'/>
  <link type="text/css" rel="stylesheet" href="css/ng-sortable.style.min.css"/>

  <link type="text/css" rel="stylesheet" href="css/sprite.css"/>
  <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">



  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="js/respond.min.js"></script>

	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WMDXD3');</script>
	<!-- End Google Tag Manager -->

  <!-- Facebook Conversion Code for Blowhorn-Checkout -->
  <script>
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '644952298969713']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId: "{{ facebook_bot_app_id }}",
        xfbml: true,
        version: "v2.6"
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) { return; }
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52796945-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-52796945-1');
		</script>

  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=644952298969713&amp;ev=PixelInitialized" /></noscript>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHnk-B5voE01PGVefEjnGvHohVA8QDY8M&libraries=places,geometry"></script>
  <script src="/static/js/lib/toastr.js"></script>
</head>

<body class="parallax" style="overflow-x: hidden;">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WMDXD3"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div ng-view></div>

  <!--
  hassle free, reliably, quickly, faster, better, swiftly, smartly, with ease, For you, expeditiously, like wildfire, like a flash, in high gear, safely, responsibly, with love

  furniture, a refrigerator, baby elephants, a box of stuff, houses, treadmills, paintings, pots, a washing machine, dirty laundry, your dreams, your time machine, your bachelorpad, almost anything

  charm, miracle, genie, dream, magic carpet, BMW, Ferrari, Smile, magic spell, boss
  -->
  <!-- Scripts -->
  <script type="text/javascript">
    var user_logged_in = {{user_logged_in}};
    var b_user_logged_in = {{b_user_logged_in}};
    var b_myfleet_required = {{b_myfleet_required}};
    var authorized_branding_user = {{authorized_branding_user}};
    var c2c_price_web_text = "{{c2c_price_web_text}}";
    var branding_url = "{{branding_url}}";
    var rebook_data = {{rebook | safe}};
    var global_params = {{params | safe}};
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="static/js/lib/ui-bootstrap-tpls.js"></script>
  <script src="static/js/lib/re-tree.min.js"></script>
  <script src="static/js/lib/ng-device-detector.js"></script>
  <script src="static/js/lib/qrcode.js"></script>
  <script src="static/js/lib/angular-qr.min.js"></script>
  <script type="text/javascript" src="/static/js/lib/moment.2.18.1.min.js"></script>
  <script src="js/user_const.js"></script>
  <script src='static/js/map_helper.js'></script>
  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/powerange.min.js"></script>
  <script src="js/zebra_datepicker.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="static/js/lib/infobox.js"></script>
  <script src="js/morphext.min.js"></script>
  <script src="js/toastr.js"></script>
  <script src="js/ng-sortable.min.js"></script>

  <script src='js/home/app.js'></script>
  <script src='js/home/services/home.js'></script>
  <script src='js/home/services/map_helpers.js'></script>
  <script src='js/home/services/general.js'></script>
  <script src='js/home/controllers/home.js'></script>
  <script src='js/home/directives/home.js'></script>
  <script src='js/home/filters/home.js'></script>
  <script type="text/javascript">
    (function() {var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
      s.src = document.location.protocol + '//wisepops.com/default/index/get-loader?user_id=13844';
      var s2 = document.getElementsByTagName('script')[0];s2.parentNode.insertBefore(s, s2);})();
  </script>
</body>
</html>
