{% extends "website/home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'website/css/booking-v2.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/blowhorn-v3.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/infobox.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div ng-app="blowhornApp">
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=places,geometry"></script>
  <script src="{% static 'website/js/lib/re-tree.min.js' %}"></script>
  <script src="{% static 'website/js/lib/ng-device-detector.js' %}"></script>
  <script src="{% static 'website/js/powerange.min.js' %}"></script>
  <script src="{% static 'website/js/zebra_datepicker.js' %}"></script>
  <script src="{% static 'website/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'website/js/lib/morphext.min.js' %}"></script>
  <script src="{% static 'website/js/lib/ng-sortable.min.js' %}"></script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <script src="{% static 'website/js/project.js' %}"></script>
  <!-- <script src="https://linked.chat/web/gz0Boa" async></script> -->

  <script type="text/javascript">
    var user_logged_in = "{{user_logged_in}}";
    var b_user_logged_in = "{{b_user_logged_in}}";
    var b_myfleet_required = "{{b_myfleet_required}}";
    var authorized_branding_user = "{{authorized_branding_user}}";
    var c2c_price_web_text = "{{c2c_price_web_text}}";
    var branding_url = "{{branding_url}}";    
    var rebook_data = ""; <!-- {{rebook | safe}}; -->
    var global_params = ""; <!-- {{params | safe}}; -->
  </script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WMDXD3');</script>
  <!-- End Google Tag Manager -->

  <!-- Facebook Conversion Code for Blowhorn-Checkout -->
  <script>
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '644952298969713']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
  </script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52796945-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52796945-1');
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=644952298969713&amp;ev=PixelInitialized" /></noscript>  
{% endblock javascript %}
