{% extends "website/home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family={{font_name}}:200,300,400,500,600,700,800,900" rel="stylesheet"/>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
  <link href="{% static "website/webapp/src/content/"|add:website_build|add:"/_variables.css" %}" rel="stylesheet">
  <link href="{% static 'website/webapp/src/content/customtheme.css' %}" rel="stylesheet">
  <link href="{% static 'website/webapp/src/content/styles.css' %}" rel="stylesheet" />
  <link href="{% static 'website/webapp/src/content/animations.css' %}" rel="stylesheet" async/>
  <link href="{% static 'website/webapp/src/content/myaccount.css' %}" rel="stylesheet" />
  <link href="{% static 'website/webapp/src/content/lib/sweetalert/sweetalert.css' %}" rel="stylesheet" async/>
{% endblock css %}

{% block content %}
<div data-ng-app="app" ng-cloak>
  <div data-ng-include="'/static/website/webapp/src/app/layout/shell.html'"></div>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="application/javascript">
    var is_authenticated = {{ is_authenticated|yesno:'true,false' }};
    var current_build = "{{website_build}}";
    var host = "{{host}}";
    var homepage_url = "{{homepage_url}}";
    var brandName = "{{brand_name}}";
    var googleAnalyticsKey = "{{google_analytics_key}}";
    var isd_dialing_code = "{{isd_dialing_code}}";
    var country_code = "{{country_code | safe}}";
    var default_currency =  "{{default_currency | safe}}";
    var active_timezone = "{{active_timezone}}";
    var rzpid = "{{rzpid}}";
    var mxAllowedRechargeAmt = "{{max_allowed_recharge_amount}}";
    var payment_methods = {{payment_methods|safe}};
    var isBusinessUser = "{{is_business_user|safe}}";
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=places,geometry"></script>
  <script src="//checkout.razorpay.com/v1/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>

  <script src="{% static 'website/js/lib/ng-device-detector.min.js' %}"></script>
  <script src="{% static 'website/js/lib/moment.2.18.1.min.js' %}"></script>
  <script src="{% static 'website/js/lib/toastr.min.js' %}"></script>
  <script src="{% static 'website/webapp/src/content/lib/sweetalert/sweetalert.min.js' %}"></script>

  <!-- App -->
  <script src="{% static 'website/webapp/src/app/app.module.js' %}"></script>

  <!-- Reusable Blocks/Modules -->
  <script src="{% static 'website/webapp/src/app/blocks/exception/exception.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/exception/exception-handler.provider.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/exception/exception.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/logger/logger.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/logger/logger.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/router/router.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/blocks/router/routehelper.js' %}"></script>

  <!-- core module -->
  <script src="{% static 'website/webapp/src/app/core/core.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/core/constants.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/core/config.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/core/data.service.js' %}"></script>

  <!-- layout -->
  <script src="{% static 'website/webapp/src/app/layout/layout.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/layout/shell.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/layout/sidebar.js' %}"></script>

  <!-- Shared -->
  <script src="{% static 'website/webapp/src/app/shared/filters.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/shared/directives.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/shared/helpers.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/shared/payment.js' %}"></script>

  <!--widgets-->
  <script src="{% static 'website/webapp/src/app/widgets/widgets.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/widgets/ccSidebar.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/widgets/ccSpinner.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/widgets/ccWidgetClose.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/widgets/ccWidgetHeader.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/widgets/ccWidgetMinimize.js' %}"></script>

  <!-- My Account -->
  <script src="{% static 'website/webapp/src/app/myaccount/myaccount.module.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/myaccount/config.route.js' %}"></script>
  <script src="{% static 'website/webapp/src/app/myaccount/myaccount.controller.js' %}"></script>

{% endblock javascript %}
