{% extends "website/home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link type="text/css" href="{% static 'website/css/myfleet/drivers_sidebar.css' %}" rel="stylesheet"/>
  <link type="text/css" href="{% static 'website/css/myfleet/myfleet_dashboard.css' %}" rel="stylesheet"/>
  <link type="text/css" href="{% static 'website/css/bootstrap-datetimepicker.css' %}" rel="stylesheet"/>
  <link type="text/css" href="{% static 'website/css/isteven-multi-select.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'website/css/toastr.css' %}" rel="stylesheet" />
  <link href="{% static 'website/css/select2.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
  <div ng-app="myfleetApp">
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=places,geometry"></script>
  <script src="{% static 'website/js/lib/moment.min.js' %}"></script>
  <script src="{% static 'website/js/lib/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'website/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'website/js/lib/smart-table.js' %}"></script>
  <script src="{% static 'website/js/lib/isteven-multi-select.js' %}"></script>
  <script src="{% static 'website/js/lib/papaparse.min.js' %}"></script>
  <script src="{% static 'website/js/lib/export_csv_lib.js' %}"></script>
  <script src="{% static 'website/js/lib/toastr.js' %}"></script>
	<script src="{% static 'website/js/map_helper.js' %}"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
  <script src="{% static 'website/js/lib/select2.full.min.js' %}"></script>
  <script>
    // Set the configuration for firebase
    var config = {
      apiKey: "{{firebase_apikey}}",
      authDomain: "{{firebase_authdomain}}",
      databaseURL: "{{firebase_database_url}}",
      storageBucket: "{{firebase_storagebucket}}",
      messagingSenderId: "{{firebase_messagingsenderid}}"
    };
    firebase.initializeApp(config);
    var user_id = "{{ uid }}";
    var google_map_api_key = "{{ google_map_api_key }}";
  </script>
  <script src="{% static 'website/js/myfleet/app.js' %}"></script>
  <script src="{% static 'website/js/myfleet/controllers/myfleet.js' %}"></script>
  <script src="{% static 'website/js/myfleet/services/myfleet.js' %}"></script>
  <script src="{% static 'website/js/myfleet/directives/myfleet.js' %}"></script>
  <script src="{% static 'website/js/myfleet/filters/common.js' %}"></script>
{% endblock javascript %}
