{% extends "../home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'blowhorn/css/maptimerbar.css' %}" type="text/css">
{% endblock css %}

{% block content %}
  <div class="dashboard">
    <header>
      <div class="container">
        <div class="col-sm-2 col-xs-4">
            <a href="/" title="Blowhorn">
                <img src="{% static 'blowhorn/images/blowhorn-logo-small.png' %}" width="70" height="68" alt="Blowhorn logo" class="img-responsive" />
            </a>
        </div>
        <nav class="pull-right col-sm-6 col-xs-8 proxima-nova-light">
          <div id="user-logged-in" >
            <ul>
              <li class="menu_cus_dashboard"><a href="/" title="Home">Home</a></li>
              <li class="menu_cus_dashboard">
                <a href="#" id="btn-logout" title="Profile" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><img id="user-pic" src="{% static 'blowhorn/images/dummy_profile.png' %}" width="36" height="36" alt="User" /> <span class="hidden-xs">Profile</span> <span class="icon-arrow-down"></span>
                </a>
                <ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="btn-logout">
                  <li hidden role="presentation"><a id="btn-profile" role="menuitem" tabindex="-1" href="#"><span class="icon-edit-main"></span> View / Edit Profile</a>
                  </li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="logout"><span class="icon-logout"></span> Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <img data-loading id="loader"  style="display:none;margin-left:40%;height:50px;width:150px;" src="/static/img/adminloader.gif"/>
      <h1>Truck Route Map</h1>
      <div style="text-align:center;">
        <label for="driver_log_id">Driver Mobile:</label>
        <input id="driver_log_id" value={{driver_id}} class="inputtext" readonly>
        <label for="driver_log_date">Date:</label>
        <input id="driver_log_date" value={{driver_log_date}} class="inputtext" readonly>
        <label for="start_time">Start Time:</label>
        <input id="start_time" class="inputtext" readonly>
        <label for="end_time">End Time:</label>
      <input id="end_time" class="inputtext" readonly>
      </div>
        <div class='site-block alt' style="height: 100vh; padding: 0 0">
          <div class="site-width" style="height: 100vh" id='map-cont'>
            <div id="type-cont" style="margin-bottom:10px;"></div>
            <div class="google-map" id="google-map-driver" style="height: 90vh;width: 100%;" ></div>
            <div class="time">
              <span id="time"></span>
            </div>
            <div id="slider-range" title="Drag Slider to get Route Map"></div>
          </div>
        </div>
    </div>
    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 copyrightdiv">
          <span class="copyright">Copyright 2016 &copy; Blowhorn. All rights reserved. <a href="termsofservice" title="Terms of Use">Terms of Use</a></span>
        </div>
        <div class="col-md-4 col-sm-5 blogabout">
          <nav>
            <ul>
              <li><a href="blog" target="_blank" title="Blog">Blog</a></li>
              <li><a href="about" title="About Us">About Us</a></li>
              <li><a href="careers" title="Careers">Careers</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=places,geometry"></script>
  <script src="{% static 'blowhorn/js/lib/jasny-bootstrap.min.js' %}"></script>
  <script src="{% static 'blowhorn/js/app.js' %}"></script>
  <script src="{% static 'blowhorn/js/myfleet_trace.js' %}"></script>
  <script type="text/javascript">
    function ShowDiv() {
      $('html, body').animate({
        scrollTop : $("#div-form-booking").offset().top;
      }, 1000);
    }
    function getContextPath() {
      return "{{ request.host_url }}";
    }
  </script>
  <script src="{% static 'blowhorn/js/jquery.validate.min.js' %}"></script>
{% endblock javascript %}
