{% extends "website/home_base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link href="/static/website/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
  <link href="/static/website/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static "website/webapp/src/content/"|add:website_build|add:"/_variables.css" %}" rel="stylesheet">
  <link type="text/css" href="{% static "website/css/"|add:website_build|add:"/blowhorn.css" %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'website/css/parcel-track.css' %}" rel="stylesheet" />
{% endblock css %}

{% block content %}
  <div ng-app="parcelTrackingApp">
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="application/javascript">
    var responseStatus = "{{status}}";
    var refNumber = "{{ref_number}}"
    var currentBuild = "{{website_build | safe}}";
    var orderDetails = {{message | safe}};
  </script>
  <script src="{% static 'website/js/parcel_tracking/app.js' %}"></script>
  <script src="{% static 'website/js/parcel_tracking/controllers/main.js' %}"></script>
  <script src="{% static 'website/js/parcel_tracking/directives/main.js' %}"></script>
{% endblock javascript %}
