{% extends "website/home_base.html" %}
{% load static currency_filters %}

{% block css %}
  <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
  <link href="{% static 'website/css/blowhorn.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/payment.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <header>
      <div class="logo-container">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo.png' %}"
            width="135" height="104" alt="Blowhorn logo"
            class="img-responsive blowhorn_log">
        </a>
      </div>
    </header>
    <div class="payment-block">
      <div class="payment-details">
        <div class="pb-details">
          <div class="pbd-header">Payment Details</div>
          <div class="pbd-content">
            <div class="pbc-total-payable">
              <div class="pbc-label">Total Payable</div>
              <div class="pbc-value">&#x20B9;{{payment_info.pending_amount}}</div>
            </div>
            <div class="pbc-order-count">
              <div class="pbc-label">No. of Orders</div>
              <div class="pbc-value">{{payment_info.unpaid_orders | length}}</div>
            </div>
          </div>
        </div>
        <div class="payment-methods">
          <div class="pm rzrpay"
            title="Credit Card / Debit Card / Net Banking / Others"
            onclick="initRazorpayTransaction()">
            <i class="fa fa-credit-card"></i>
            <div class="pm-label">Credit Card / Debit Card</div>
          </div>
          <div class="pm paytm" onclick="redirectToPaytm()">
            <div class="paytm-label pm-label">Pay by</div>
            <img class="paytm-img" src="{% static 'assets/Assets/Paytm.png' %}">
          </div>
        </div>
      </div>
    </div>
    <div id="message-status" class="message-status" style="display:none;">
      <div class="message-container">
        <div class="message">
          <i id="msg-icon"></i>
          <h2></h2>
        </div>
        <p id="redirect-message">Automatically redirects to home page after
          <span id="msg-time"></span> seconds
        </p>
        <div class="link-home">or <a class="link-a-home" href="/">click here</a></div>
        <p id="page-reload-message">
          <a href="javascript:void(0)" onclick="window.location.reload()">Click here</a>
          to try again
        </p>
      </div>
    </div>
    <div class="loader-overlay">
      <div class="loader"></div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script>
    let payment_data = {{payment_info|safe}};
    let profile = JSON.parse('{{profile|safe}}');
    let rzpid = "{{rzpid}}";
    console.log(payment_data, profile);
  </script>
  <script src="//checkout.razorpay.com/v1/checkout.js"></script>
  <script src="{% static 'website/js/web_payment.js' %}"></script>
{% endblock javascript %}
