{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/track_assets.css' %}">
</head>
<body>
  <div class="main-container">
    <div class="header">
      <div class="logo-container">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo_black.png' %}"
          width="135" height="104" alt="Blowhorn logo"
          class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="title-container">
        <h4>Asset Details</h4>
      </div>
    </div>
    <div class="content">
      {% if error %}
        <div class="error-container">
          <h4>{{error}}</h4>
        </div>
      {% else %}
      <div class="summary-header driver-details">
        <div class="trip-number">
          <div class="key">
            Driver Name
          </div>
          <div class="value">
            <!-- {{driver.name}} -->
            Manjunath M
          </div>
        </div>
        <div class="trip-number">
          <div class="key">
            Driver Mobile
          </div>
          <div class="value">
            {{driver.mobile}}
          </div>
        </div>
      </div>
      <div class="summary-header summary-header-mobile visible-xs">
        <div class="otp-mobile">
          <div class="key">One Time Password (OTP)</div>
          <div class="value">{{otp}}</div>
        </div>
      </div>
      <div class="summary-header">
        <div class="trip-number">
          <div class="key">
            Trip started at
          </div>
          <div class="value">
            {{trip_creation_time|date:'d M Y H:m'}}
          </div>
        </div>
        <div class="total-cash-collected">
          <div class="key">
            Cash to be collected
          </div>
          <div class="value">
            &#8377;{{total_cash_collected}}
          </div>
        </div>
        <div class="otp hidden-xs">
          <div class="key">One Time Password (OTP)</div>
          <div class="value">{{otp}}</div>
        </div>
      </div>
      <div class="summary-content">
        {% if assets %}
        <div class="summary-table">
          <div class="summary-table-header">Assets</div>
          {% for item in assets %}
          <div class="content-row">
            <div class="asset-label">
              {{item.container__container_type__name}}
            </div>
            <div class="asset-val">
              {{item.cont_type_count}}
            </div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% if returned_items.items %}
        <div class="summary-table">
          <div class="summary-table-header">Returned Items</div>
          <div class="table-th">
            <div class="o-th">Order</div>
            <div class="i-th">Items</div>
          </div>
          {% for key, val in returned_items.items %}
            <div class="table-cell">
              <div class="order-number">
                <div class="o-val">
                  {{key}}
                </div>
              </div>
              <div class="item-container">
                {% for item in val %}
                <div class="content-row">
                  <div class="asset-label">
                    {{item.sku__name}}
                  </div>
                  <div class="asset-val">
                    {{item.qty_returned}}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
  <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
  <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
</body>
</html>
