{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/privacyterms.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo_black.png' %}"
               width="135" height="104" alt="Blowhorn logo"
               class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="col-sm-8">
        <p id="rowborder" class="text-center">Terms and Service</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 left_menu">
        <p style="margin-top:15px;">
        <a href="#owner-driver-shall">The Owner/Driver shall</a></p>
        <p><a href="#termination-of-duty">Termination of Duty</a></p>
        <p><a href="#confidentiality-agreement">Confidentiality Agreement</a></p>
        <p><a href="#payment-terms">Payment Terms</a></p>
      </div>

      <div class="col-sm-8 right_doc">
        <h4 id="owner-driver-shall">WELCOME TO THE BLOWHORN TERMS OF SERVICE</h4>
          <p><b>The Owner/Driver shall :</b></p>
          <ul class="owner-driver-shall">
            <li>Be in Contract with CATBUS for provision of Transportation services. <b>Owner/Driver</b> also agrees he shall comply with all National, State, Local laws and ordinances governing Transport vehicle, Driver license and operation. <b>Owner/Driver</b> will not provide services to a different Service Provider while being engaged by CATBUS.</li>
            <li>Maintain good and proper business records of all services and charges provided for under this Contract. The source of these records shall be information supplied by CATBUS.</li>
            <li>Make all documentation pertaining to this Contract available to CATBUS representatives for the purpose of inspection or audit during normal business hours and upon reasonable notice.</li>
            <li><b>Owner/Driver</b> shall attend to all service requests made by CATBUS under the agreed duty hours.</li>
            <li>Provide service during inclement weather in accordance with the policies and procedures of CATBUS. The services have to be provided on all days of the month.</li>
            <li><b>Owner/Driver</b> will not charge the customer anything in excess of the CATBUS billing.</li>
            <li>Be responsible for all Devices provided by CATBUS and has to reimburse CATBUS for any damages made to the devices (e.g. Phone etc.)</li>
            <li>Owner shall be responsible and liable for all the activities carried by the Driver hired to run the Owner’s vehicle.</li>
            <li>Owner/Driver will use the safety belt (seat belt) whenever operating a company vehicle, or whenever driving for company business.</li>
            <li>Owner/Driver will operate only those vehicles which he trained and licensed to operate.</li>
            <li>Owner/Driver will always check vehicle for defects and adjust safety devices such as seat belts and mirrors before operating.  </li>
            <li>Owner/Driver will never operate any vehicle when impaired by fatigue, medication, drugs, or alcohol or vehicles that are not capable of handling in both normal and emergency situations. </li>
            <li>Owner/Driver will obey all laws, rules, regulations, and company policies. Use common sense and adjust speed and operation to conditions and possible hazards or dangers.</li>
            <li>Owner/Driver will operate vehicles in a courteous manner, irrespective of behavior of others. Driver will drive defensively anticipating possible dangers or hazards.</li>
            <li><b>Owner/Driver</b> hereby agrees to release and hold harmless CATBUS, their employees and agents, from all claims, loss, liability or expense (including attorney’s fees) arising from bodily injury, property damage or death to any person or persons resulting directly or indirectly for the provision of transportation services under this Contract.  No action of any kind relating to provision of transportation services under this Contract shall be instituted against the CATBUS, its employees or agents more than one year from the date of the alleged injury, tort or breach of contractual obligation</li>
          </ul>

          <!--<p><b>Termination of Duty</b></p>-->
          <h4 id="termination-of-duty">Termination of Duty</h4>
           <ul class="termination-of-duty">

           <li>Owner/Driver will be liable to compensate CATBUS for any Damage / Loss / Theft / Pilferage of goods /items /cash/ storage boxes that are being transported by him. Contract will be terminated with immediate effect and all the subsequent dues will be recovered from the Owner/Driver. Failure to comply with same will lead to CATBUS initiating Legal Proceedings against the Owner/Driver.</li>
           <li>Owner/Driver behaves Irrationally/Threatening way with other CATBUS Drivers, Clients, Delivery executives, Vendors or any other person directly or indirectly related to CATBUS</li>
           <li>Owner/Driver fails to maintain a minimum attendance(as required) every month</li>
           <li>Owner/Driver turns up to work in an Inebriated or Intoxicated State</li>
           <li>Owner/Driver refuses to perform his duty, reporting late for duty or leaving before scheduled timings for any particular reason</li>
           <li>Owner/Driver fails to maintain records of daily vehicle movement via Tripsheets and/or Device provided to him</li>
           <li>Owner/Driver fails to produce his License, Insurance, Fitness Certificate, Certificate of Registration (RC), Tax certificate, Emission, Bank and Other proofs as and when requested by CATBUS representative within the mentioned deadline</li>
           <li>Owner/Driver manipulates/misuses any company device/gadget or looses any company provided items such as phones/chargers. All the losses would have to be compensated to CATBUS within a fortnight of loss. Failure to comply with this will allow CATBUS to take legal actions against the Owner/Driver.</li>
           <li>Owner/Driver utilizes the vehicle for his personal use during work hours</li>
           <li>Owner/Driver is involved in any act of bribery with any Direct/Indirect member of the CATBUS or its Clients</li>
           <li>Owner/Driver is involved in the acts of creating a Union / Group and trying to create nuisance for CATBUS/ Client Operations</li>
           </ul>

        <h4 id="confidentiality-agreement">Confidentiality Agreement</h4>
            <ul class="confidentiality-agreement">
              <li>The Owner/Driver agree to maintain confidential and not to disclose or divulge to any other Party, and agree not to use any of the Confidential Information for their own benefit or to the detriment of CATBUS without the prior written consent of CATBUS</li>
            </ul>
        
        <h4 id="payment-terms">Payment Terms</h4>
            <ul class="payment-terms">
              <li>The Owner/Driver agree that they may be assigned to multiple Clients with varying payment terms. CATBUS does not guarantee the Owner/Driver to any specific Payment Term and the Driver/Owner agree to abide by the change in payment terms</li>
            </ul>

        <p><b> I have understood the above terms and condition and its been explained to me in my mother tongue.</b></p>


      </div>
        <p class="pos_fixed" ><img id="gotop" src="{% static 'website/images/up-fast.png' %}" style="width: 95px;"></img>
          <div class="block"></div>
        </p>
        <div id="cleared"></div>
      </div>
  </div>

      <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
      <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
      <script type="text/javascript">
        $('#gotop').hover(function () {
          $('body, html').animate({scrollTop: '-=12000'}, 3000);
        }, function () {
          $('body, html').stop();
        });
      </script>
  </body>
</html>
