{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .container-fluid {
        background: url(/static/website/images/homepage/revised/home_page_on_demand/intro1_bg.png)  no-repeat center center fixed;
        background-size: cover;
    }
    .layer {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.2));
    }
    .btn-container {
        display: flex;
        justify-content: flex-end;
        padding: 50px;
    }
    .dummy-content {
        display: flex;
        justify-content: flex-start;
        padding: 30px;
        color: #fff;
        flex-direction: column;
    }
    .dummy-content-1 {
        font-size: 24px;
        line-height: 36px;
    }
    .dummy-content-2 {
        font-size: 18px;
        line-height: 27px;
    }
</style>
{% endblock css %}

<html>
    <body>
    <div class="container-fluid" style="height: 100%; width: 100vw;padding:0;">
        <div class="layer">
            <div class="btn-container">
                <iframe width="200px" height="100px" frameBorder="0" src="http://localhost/track-button"></iframe>
            </div>
            <div class="dummy-content">
                <div class="dummy-content-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
                <div class="dummy-content-2">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
