{% load static %}
{% block css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    body {
        background: transparent;
    }
    .card {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        width: 300px;
    }
    .card .header {
        display: flex;
        justify-content: center;
        padding: 8px;
        border-bottom: 1px solid #eae2e2;
    }
    .card .header > p {
        margin: 0;
    }
    .card .content {
        display: flex;
        justify-content: center;
        background: #000;
    }
    #djDebug {
        display: none !important;
    }
    .iframe-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: 40%;
    }
    .iframe-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    @media (max-width: 600px) {
        .iframe-container {
            padding-top: 110%;
        }
    }
    /* style="margin: 0px;padding: 0px;border: 0px;height: 600px;width: 100%;" */
</style>
{% endblock css %}

<html>
    <body style="background: #000;">
    <div class="container-fluid" style="height: 100%; width: 100%;padding-top: 15px;">
        <div class="row" style="display: flex;justify-content: flex-end;">
            <div class="col-md-2 col-xs-12">
                <iframe name="myaccount" width="200px" height="100px" frameBorder="0"></iframe>
            </div>
            <div class="col-md-2 col-xs-12">
                <iframe name="track_button" width="200px" height="100px" frameBorder="0"></iframe>
            </div>
            <div class="iframe-container">
                <iframe name="booking" frameBorder="0" scrolling="no"></iframe>
            </div>
        </div>
    </div>
    <script>
        var host = '{{host}}';
        (function () {
            document.getElementsByName('myaccount')[0].src = `${host}/embed/myaccount`;
            document.getElementsByName('track_button')[0].src = `${host}/embed/track_button`;
            document.getElementsByName('booking')[0].src = `${host}/booking?embed=true&type=booking`;
        })();
    </script>
    </body>
</html>
