{% load static %}
{% block css %}
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <style type="text/css">
    @import url(/static/website/css/mzansigo/variable.css);
    #djDebug {
        display: none !important;
    }
    :root {
        font-family: Heebo;
        --main-bg-color: coral;
        --primary-color: #0068C9;
        --secondary-color: #FFC000;
        --primary-text-color: #fff;
        --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        --bg-gradient: linear-gradient(135deg, #0070c0, #fff);
    }
    body {
        padding-top: 15px;
        text-align: center;
        background: transparent;
    }
    .myaccount-btn-wrapper > a {
        border: 1px solid #000;
        padding: 6px 21px 5px 21px;
        border-radius: 15px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px !important;
        font-weight: 700;
        cursor: pointer;
    }
  </style>
{% endblock css %}

<html>
    <body>
    <div class="myaccount-btn-wrapper"  onclick="openMyAccount(event)">
        <a class="pointer" title="My Account">My Account</a>
    </div>
    {% block javascript %}
        <script>
            var host = '{{host}}';
            var callback = function () {};
            if (
                document.readyState === "complete" ||
                (document.readyState !== "loading" && !document.documentElement.doScroll)
            ) {
                callback();
            } else {
                document.addEventListener("DOMContentLoaded", callback);
            }

            function openMyAccount() {
                console.log('Open login/signup/dashboard');
                top.window.location.href = host + '/login?embed=true&type=myaccount';
            }
        </script>
    {% endblock %}
    </body>
</html>
