{% load static %}
{% block css %}
    <link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
    <style type="text/css">
    @import url(/static/website/css/mzansigo/variable.css);
    #djDebug {
        display: none !important;
    }
    :root {
        --font-family: 'Montserrat';
        --main-bg-color: coral;
        --primary-color: #0068C9;
        --secondary-color: #FFC000;
        --primary-text-color: #fff;
        --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
        --bg-gradient: linear-gradient(135deg, #0070c0, #fff);
    }
    body, * {
        font-family: var(--font-family);
    }
    input:hover, input:active, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
        outline: 0px !important;
        -webkit-appearance: none;
    }
    .track-btn-wrapper {
        font-size: 14px;
        line-height: 36px;
        font-weight: 400;
        cursor: pointer;
        font-weight: 700;
        color: #000;
    }
    #track-form-wrapper {position: absolute;display:none;}
    .booking-track {
        color: #fff;
        border: none;
        margin-top: 0px;
        border-radius: 5px !important;
        box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
    .trackgroup {
        position: relative;
        display: table;
        background: #fff;
        border-radius: 8px;
    }
    .booking-track:after {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        background: #fff;
        border: 1px solid rgba(255, 255, 255, 0.8);
        transform: rotate(45deg);
        z-index: 0;
        top: -3px;
        left: 30px;
    }
    .trackinput {
        width: 105px;
        color: rgb(53, 53, 53);
        border: 0px none;
        border-radius: 5px 0px 0px 5px !important;
        height: 44px;
        font-size: 14px;
        font-weight: normal !important;
        z-index: 1;
        font-weight: 300;
        position: relative;
        margin-bottom: 0;
        padding: 6px 12px;
        box-shadow: 0 0 0;
        line-height: 1.42857143;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        margin: 0;
        font: inherit;
    }
    #track-btn.btn[disabled] {
        opacity: 1;
    }
    #track-btn {
        background-image: var(--gradient-btn);
        color: var(--primary-text-color);
        cursor: pointer !important;
        border-radius: 0px 5px 5px 0px;
        height: 46px;
        width: 44px;
        margin: 0px;
        text-transform: uppercase;
        font-weight: bold;
        border: 0px none;
        font-size: 16px;
    }
  </style>
{% endblock css %}

<html>
    <body>
    <div class="track-btn-wrapper"  onclick="toggleTracking(event)">
        <a class="btn-track pointer" title="track">Track Booking <span class="arrow-down"></span></a>
        <div id="track-form-wrapper" class="form-wrapper">
            <div class="link-div booking-track">
                <form id="track-booking" method="get" action="">
                    <div class="trackgroup">
                        <input name="booking_id" id="booking_id" type="text" onclick="event.stopPropagation()"
                        placeholder="Booking ID" class="form-control trackinput"
                        onkeypress="checkKey(event)" required autocomplete="off">
                        <button id="track-btn" class="btn btn-info track-btn" onclick="trackBooking(event)">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% block javascript %}
        <script>
            var host = '{{host}}';
            function trackBooking(e) {
                console.log('Tracking..');
                var bookingIdElem = document.getElementById('booking_id');
                if (!bookingIdElem.value) {
                  return;
                }
                top.location.href = host + '/track/' + bookingIdElem.value;
            }

            function checkKey (e) {
                if (e.which === 13) {
                    trackBooking(e);
                }
            };

            function toggleTracking(event) {
                var trackWrapper = document.getElementById('track-form-wrapper');
                trackWrapper.style.display = trackWrapper.style.display ===  'block' ? 'none' : 'block';
            }

            var callback = function () {};

            if (
                document.readyState === "complete" ||
                (document.readyState !== "loading" && !document.documentElement.doScroll)
            ) {
                callback();
            } else {
                document.addEventListener("DOMContentLoaded", callback);
            }
        </script>
    {% endblock %}
    </body>
</html>
