.piechart{
    width: 620px;
    height: 357px;
    // margin-left:205px;
}

.display_data{
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color:grey;
    border: border-box;
    font-size: 14px;
    margin-left: 500px;
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}

.action-button {
    display: flex;
    justify-content: flex-end;
    
    .download-btn {
        cursor: pointer;
        background: #fff;
        border-radius: 2px;
        margin: 8px;
        border: 1px solid rgb(5, 199, 92);;
        height: 30px;
        color: rgb(5, 199, 92);
        i {
            width: 20px;
            max-width: 20px;
            height: auto;
        }
        &:hover {
            color: #fff;
            background: rgb(5, 199, 92);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
    }
}