<div *ngIf="statuswiseData.length <= 0" class="error">
  <span>{{error_msg}}</span>
</div>

<div style="width: 620px; height: 357px; background-color: white; "
  class="piechart">
  <canvas id="pieChart1"></canvas> 
</div>

<div class="action-button" *ngIf="statuswise_count?.length > 0">
    <button class="download-btn" (click)="download_charts($event)" id="download-chart"
    title="Download Chart">
        <i class="fa fa-bar-chart"></i>
  </button>
</div>
