<div *ngIf="input_data?.length == 0" class="error">
  <span>{{error_msg}}</span>
</div>

<table>
  <tr>
    <td style="width: 620px; height: 357px; background-color: white; "><canvas id="lineChart"></canvas></td>
  </tr>
  <tr>
    <div class="action-button" *ngIf="input_data?.length > 0">
      <button class="download-btn" (click)="download_charts($event)" id="download-chart"
      title="Download Chart">
          <i class="fa fa-bar-chart"></i>
    </button>
  </div>
  </tr>
</table>