<div class="wrapper">
    <div class="quick-filter">
        <div class="chip"
        *ngFor="let f of quickFilters"
        (click)="applyQuickFilter(f.val)"
        [ngClass]="{'selected': f.val===selected_quick_filter}"
        >{{f.label}}</div>
        <div class="date-range">
            <div (mouseover)="activate_date_clear($event)"
            (mouseout)="deactivate_date_clear($event)"
            (click)="reset_date($event)">
                <span [ngClass]="{
                'show-cross': date_range[0] && date_range[1],
                'hide-cross': !(date_range[0] && date_range[1]),
                'activate-cross': date_activated,
                'deactivate-cross': !date_activated
                }" class="fa fa-times">
                </span>
            </div>
            <input class="date-range-field"
            #drp="bsDaterangepicker"
            bsDaterangepicker
            [(ngModel)]="date_range"
            placeholder="Custom Period"
            (ngModelChange)="date_changed($event)"
            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY'}"
            readonly>
            <span class="fa fa-calendar" (click)="drp.toggle()"></span>
        </div>
    </div>
    <div class="dropdown-filter">
        <div class="city">
            <app-dropdown-select
            [styles]="city_styles"
            [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [items]="cities"
            [disabled]="city_disabled || false"
            (value_changed)="city_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="hub">
            <app-dropdown-select
            [styles]="hub_styles"
            [selected_name]="selected_hub_name ? selected_hub_name : 'All Hubs'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [items]="hubs"
            [disabled]="hub_disabled || false"
            (value_changed)="hub_changed($event)">
            </app-dropdown-select>
        </div>
    </div>
</div>
