.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  background: #fff;
  height: 50px;
  .quick-filter {
    padding: 8px 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    flex-flow: wrap;
    .chip {
      padding: 4px 8px;
      margin: 0 4px;
      border-radius: 16px;
      border: 1px solid #ccc;
      cursor: pointer;
      min-width: 115px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 18px;
      text-transform: uppercase;
      &:hover,
      &.selected {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
    .date-range {
      flex-basis: 200px;
      border: 1px solid #f0f5f7;
      background-color: #f7fbfc;
      height: 30px;
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      grid-column-gap: 0px;
      align-items: center;
      justify-items: center;
      padding-right: 5px;
      padding-left: 5px;
      .date-range-field {
        outline: none;
        min-width: 150px;
        margin-left: 5px;
        border: none;
        color: #3f3636;
        background-color: #f7fbfc;
        font-size: 13px;
        line-height: 18px;
      }
      span {
        color: #bbc2c4;
        cursor: pointer;
      }
      .hide-cross {
        display: none;
      }
      .show-cross {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        color: lightgray;
      }
      .activate-cross {
        color: grey;
      }
      .deactivate-cross {
        color: lightgray;
      }
    }
  }
  .dropdown-filter {
    display: flex;
    .city {
      flex-basis: 70px;
    }
    .hub {
      flex-basis: 80px;
      margin-left: 10px;
    }
  }
}

.pl {
  padding-left: 2%;
}

.action-button {
  display: flex;
  justify-content: flex-end;

  .download-btn {
    cursor: pointer;
    background: #fff;
    border-radius: 2px;
    margin: 8px;
    border: 1px solid rgb(5, 199, 92);
    height: 30px;
    color: rgb(5, 199, 92);
    i {
      width: 20px;
      max-width: 20px;
      height: auto;
    }
    &:hover {
      color: #fff;
      background: rgb(5, 199, 92);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    }
  }
}

.modal-window-status {
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper-status {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 1);
    .header {
      width: 100%;
      font-size: 16px;
      color: black;
      background-color: #e2eaec;
      padding: 10px 0px;
      display: grid;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    .result {
      margin-top: 15px;
      width: 100%;
      max-height: 60vh;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      .error {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: orangered;

        font-size: 16px;
        margin: 8px;
      }
      .title {
        background-color: #e2eaec;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        width: 100%;
        position: sticky;
        top: 0px;
        left: 0px;
        .record-column {
          flex: 1;
          padding: 10px;
        }
      }
      .status-row {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .record {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 100%;
          .record-column {
            flex: 1;
            padding: 10px;
          }
        }
        &:nth-child(odd) {
          background-color: #f7fbfc;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
    .modal-header {
      display: flex;
      width: 100%;
      padding: 0;
      border-bottom: 2px solid #0088a8;
      align-items: center;
      min-height: 45px;
      .modal-title-text {
        color: #0088a8;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 21px;
        text-transform: uppercase;
      }
      .close {
        display: flex;
        justify-content: flex-end;
        font-size: 14px;
        transition: transform 300ms;
        cursor: pointer;
        &:hover {
          color: orangered !important;
          transform: scale(1.5);
        }
      }
    }
  }
}
