{% extends "../base.html" %}
{% load static %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" />

  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/drivers_track.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/myfleet/drivers_sidebar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn-custom.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/toastr.css' %}">
  <!-- <link href="{% static 'website/css/infobox.css' %}" rel="stylesheet"> -->
  <link href="{% static 'website/css/driver_infobox.css' %}" rel="stylesheet">
  <link href="{% static 'website/css/select2.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
  {% include 'admin/header.html' with title="Live Tracking" home="/admin" %}
  <div ng-app="driversTrackApp">
    <div class="ng-view"></div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{% static 'website/js/sprintf.js' %}"></script>
  <script src="{% static 'website/js/lib/markerclusterer.js' %}"></script>
  <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'website/js/lib/moment.min.js' %}"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="{% static 'website/js/lib/toastr.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_map_api_key}}&libraries=visualization,places"></script>
  <script src="{% static 'website/js/lib/infobox.js' %}"></script>
  <script src="{% static 'website/js/lib/select2.full.min.js' %}"></script>
  <script>
    // Set the configuration for firebase
    var config = {
      apiKey: "{{firebase_apikey}}",
      authDomain: "{{firebase_authdomain}}",
      databaseURL: "{{firebase_database_url}}",
      storageBucket: "{{firebase_storagebucket}}",
      messagingSenderId: "{{firebase_messagingsenderid}}"
    };
    firebase.initializeApp(config);
  </script>
  <script src="{% static 'website/js/admin_const.js' %}"></script>
  <script src="{% static 'website/js/map_helper.js' %}"></script>
  <script src="{% static 'js/drivers_track/app.js' %}"></script>
  <script src="{% static 'js/drivers_track/controllers/drivers_track.js' %}"></script>
  <script src="{% static 'js/drivers_track/services/drivers_track.js' %}"></script>
  <script src="{% static 'js/drivers_track/directives/drivers_track.js' %}"></script>
{% endblock javascript %}
