{% load i18n %}
{% load static %}
<header>
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" id="three-dots" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-ellipsis-v"></span>
      </button>
      <a class="navbar-brand" href="{% url 'admin:index' %}">
        <img src="{% static 'website/images/blowhorn_logo_black.png' %}" alt="Blowhorn logo" class="img-responsive blowhorn_logo" width="90px"/>
      </a>
    </div>
    <div class="title-centered heading-block">
      <h2 class="page-title">{{title}}</h2>
    </div>
    <div class="collapse navbar-collapse nav-block" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{home}}"><span class="glyphicon glyphicon-home"></span>{% trans 'Home' %}</a></li>
        <li><a href="/admin/logout"><span class="glyphicon glyphicon-log-out"></span>{% trans 'Logout' %}</a></li>
      </ul>
    </div>
  </nav>
  <link type="text/css" rel="stylesheet" href="{% static 'website/css/header_custom.css' %}"/>
  <script type="text/javascript">
    // To hide the dropdown on clicking outside the menu
    window.document.addEventListener("click", function (e) {
      console.log(e);
      e.stopPropagation();
      if (e.currentTarget.id !== "three-dots" &&
      $("#bs-example-navbar-collapse-1").hasClass('in')) {
        $(".navbar-collapse").collapse("hide");
      }
    });
  </script>
</header>
