{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
<style type="text/css">
  body.login{background: url('/static/website/images/Solutions-Option-1.jpg') top center #000;}
  .errornote {color: #e75e40;background: #fff;text-align: center;}
  .home-link{text-align: center;padding: 15px 15px 0px 15px;}
  ul.messagelist{display: none !important;}
</style>
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
  <h1 id="site-name" style="text-align: center;">
    <a href="#">{{ site_header|default:_('Django administration') }}</a>
  </h1>
  <form action="{{ app_path }}" method="post" id="login-form">
    {% csrf_token %}
    <div class="form-row">
      {{ form.username.errors }}
      {{ form.username.label_tag }} {{ form.username }}
    </div>
    <div class="form-row">
      {{ form.password.errors }}
      {{ form.password.label_tag }} {{ form.password }}
      <input type="hidden" name="next" value="{{ next }}">
    </div>
    {% url 'admin_password_reset' as password_reset_url %}
    {% if password_reset_url %}
    <div class="password-reset-link">
      <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
    </div>
    {% endif %}
    <div class="submit-row">
      <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}">
    </div>
  </form>
  {% if user.is_authenticated %}
  <!-- <p class="errornote">
  {% blocktrans trimmed %}
      You are authenticated as {{ username }}, but are not authorized to
      access this page. Would you like to login to a different account?
  {% endblocktrans %}
  </p> -->
  {% endif %}
  {% if form.errors and not form.non_field_errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}
      {% trans "Please correct the error below." %}
    {% else %}
      {% trans "Please correct the errors below." %}
    {% endif %}
    </p>
  {% endif %}

  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class="errornote">{{ error }}</p>
    {% endfor %}
  {% endif %}
  <div class="home-link">
    <a href="/">Go back to home</a>
  </div>
</div>
{% endblock %}
