:host {
    width: 100%;
    flex: 1;
    position: relative;
    .wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        height: 100%;
        .confirm {
            position: fixed;
            z-index: 200;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0px;
            background-color: rgba(#000000, .7);
            .wrapper {
                width: 400px;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                box-shadow: 0px 0px 14px 0px rgba(#ffffff, .7); 
                
                font-size: 15px;
                font-weight: 500;
                padding: 15px;
                .header {
                    width: 100%;
                    font-size: 16px;
                    color: black;
                    background-color: #e2eaec;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .message {
                    width: 100%;
                    font-size: 15px;
                    font-weight: 400;
                    color: black;
                    background-color: #fff;
                    padding: 15px 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .footer {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
        .message-window {
            position: fixed;
            z-index: 100;
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#000000, .7);
            .message-panel { 
                position: relative;
                width: 400px;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                box-shadow: 0px 0px 14px 0px rgba(#ffffff, .7); 
                transform: translateY(-50%);
            }
            .header {
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                
                font-size: 15px;
                font-weight: 500;
                background-color: #e2eaec;
            }
            .body {
                width: 100%;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                
                font-size: 14px;
                font-weight: 400;
            }
            .footer {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .success {
                color: rgb(15, 209, 15) !important;
            }
            .error {
                color: rgb(247, 117, 71) !important;
            }
            .info {
                color: rgb(93, 183, 243) !important;
            }
            .warning {
                color: rgb(236, 170, 28) !important;
            }
        }
        .driver-lookup {
            z-index: 100;
            width: 100vw;
            height: 100vh;
            position: fixed;
            left: 0px;
            top: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, .7);
            .lookup-panel {
                position: relative;
                width: 70%;
                padding: 20px;
                box-shadow: 0px 0px 16px 1px rgba(255, 255, 255, 1); 
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: #fff;
                .header {
                    width: 100%;
                    font-size: 16px;
                    color: black;
                    background-color: #e2eaec;
                    padding: 10px 0px;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 15px;
                }
                .search-bar {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input {
                        margin: 10px;
                        padding-left: 5px;
                        padding-right: 5px;
                        height: 33px;
                        width: 150px;
                        
                        font-size: 14px;
                        font-weight: 400;
                        color: #080808;
                        outline: none;
                    }
                    app-blowhorn-button {
                        margin: 10px;
                    }
                }
                .result {
                    margin-top: 15px;
                    width: 100%;
                    max-height: 60vh;
                    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .1);
                    overflow-y: auto;
                    overflow-x: hidden;
                    position: relative;
                    .error {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: orangered;
                        
                        font-size: 16px;
                        margin: 8px;
                    }
                    .title {
                        background-color: #e2eaec;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        pointer-events: none;
                        width: 100%;
                        position: sticky;
                        top: 0px;
                        left: 0px;
                        .driver {
                            flex: 1;
                            padding: 10px;
                        }
                        .vehicle {
                            flex: 1;
                            padding: 10px;
                        }
                        .trips {
                            flex: 1;
                            padding: 10px;
                        }
                    }
                    .driver-row {
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-start;                
                        .record {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            width: 100%;
                            .driver {
                                flex: 1;
                                padding: 10px;
                            }
                            .vehicle {
                                flex: 1;
                                padding: 10px;
                            }
                            .trips {
                                flex: 1;
                                padding: 10px;
                            }
                            &:hover {
                                background-color: lightgray;
                                color: white;
                            }
                        }
                        &:nth-child(odd) {
                            background-color: #F7FBFC;
                        }
                        &:nth-child(even) {
                            background-color: #fff;
                        }
                    }
                }
                .driver-lookup-close {
                    position: absolute;
                    right: -20px;
                    top: -20px;
                    cursor: pointer;
                    color: #fff;
                    transition: transform 300ms;
                    &:hover {
                        color: orangered;
                        transform: scale(1.5);
                    }
                }
            }
        }
        .assign-panel {
            width: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
                
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 500;
                color: #4ddbff;
                background-color: #484c4c;
                box-shadow: 0px 5px 6px -5px rgba(#000000, .5);
            }
            .content {
                width: 100%;
                height: calc(100vh - 110px);
                padding: 10px;
                overflow-y: auto;
                .clear-all {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-bottom: 5px;
                    span {
                        cursor: pointer;
                        color: orangered;
                        
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
                .order-wrapper {
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    box-shadow: 2px 2px 3px 0px rgba(#000000, .3);
                    background-color: #f8f8f8;
                    margin-bottom: 5px;
                    .order {
                        
                        font-size: 13px;
                        font-weight: 500;
                        color: #201e1e;
                    }
                }
            }
            .assign-driver {
                box-shadow: 0px -5px 6px -5px rgba(#000000, .5);
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: center;
            }
        }
        .map {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .fullscreen {
                flex: 1;
                height: 100%;
                .info-wrapper {
                    width: 250px;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-items: stretch;
                    .header {
                        width: 100%;
                        min-height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                        background-color: #c3ecf1;
                        span {
                            display: flex;
                            align-items: center;
                            
                            text-transform: uppercase;
                            color: #0097bd;
                            font-size: 14px;
                            font-weight: 500;
                            .header-title {
                                
                                color: #080808;
                                font-size: 12px;
                                font-weight: 300;
                            }
                        }
                    }
                    .body {
                        width: 100%;
                        padding: 5px;
                        background-color: #fff;
                        
                        color: rgb(32, 32, 32);
                        font-size: 12px;
                        font-weight: 300;
                    }
                    .footer {
                        width: 100%;
                        height: 35px;
                        display: flex;
                        align-items: center;
                        app-blowhorn-button {
                            flex: 1;
                        }
                    }
                    .info {
                        width: 100%;
                        padding: 3px;
                        
                        color: #080808;
                        font-size: 12px;
                        font-weight: 300;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
            .date-range {
                position: absolute;
                top: 15px;
                left: 325px; 
                z-index: 10;
                flex-basis: 200px;
                background-color: #fff;
                height: 39px;
                display: grid;
                grid-template-columns: 1fr 7fr 1fr;
                grid-column-gap: 0px;
                align-items: center;
                justify-items: center;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                .date-range-field {            
                    outline: none;
                    min-width: 150px;
                    margin-left: 5px;
                    border: none;
                    color: #3f3636;
                    background-color: #fff;
                    
                    font-size: 13px;
                    line-height: 18px;
                }
                span {
                    color: #BBC2C4;
                    cursor: pointer;
                }
                .hide-cross {
                    display: none;
                }
                .show-cross {
                    display: block;
                    padding-left: 2px;
                    padding-right: 2px;
                    color: lightgray;
                }
                .activate-cross {
                    color: grey;
                }
                .deactivate-cross {
                    color: lightgray;
                }
            }
            .disabled {
                pointer-events: none;
                cursor: default;
                opacity: .9;
                background: rgb(172, 171, 171);
                border-width: 0px;
                .date-range-field {            
                    background: rgb(172, 171, 171);
                    color: #3f3636;
                    
                    font-size: 13px;
                    line-height: 18px;
                }
            }
            .enabled {
                pointer-events: all;
                cursor: pointer;
                opacity: 1;
                background: white;
                border-width: 1px;
            }
            .address-save {
                position: absolute;
                bottom: 15px;
                left: 15px;
                z-index: 10;
            }
            .only-modified {
                position: absolute;
                height: 33px;
                bottom: 15px;
                left: 130px;
                z-index: 10;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                background-color: #fff;
                
                font-size: 14px;
                font-weight: 400;
            }
            .multi-select {
                position: absolute;
                height: 33px;
                bottom: 15px;
                left: 15px;
                z-index: 10;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                background-color: #fff;
                
                font-size: 14px;
                font-weight: 400;
            }
            .address-restore {
                position: absolute;
                bottom: 15px;
                left: 15px;
                z-index: 10;
            }
            .shift {
                left: 296px !important;
            }
            .double-shift {
                left: 443px !important;
            }
            .order-count {
                position: absolute;
                top: 15px;
                right: 233px;
                height: 33px;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                background-color: #fff;
                padding: 0px 5px;
                
                font-size: 14px;
                font-weight: 400;
            }
            .marker-cluster {
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 10;
                display: flex;
                align-items: stretch;
                justify-content: stretch;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                background-color: #fff;
                .choice {
                    display: flex;
                    align-items: center;    
                    justify-content: flex-start;
                    .label {
                        padding: 5px;
                        
                        font-size: 14px;
                        font-weight: 400;
                    }
                    .option-wrapper {
                        display: flex;
                        align-items: stretch;
                        justify-content: stretch;
                        padding: 5px;
                        .option {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 50px;
                            color: #3e3e3e;
                            background-color: #fff;
                            border: 1px solid lightgray;
                            
                            font-size: 14px;
                            font-weight: 400;
                            cursor: pointer;
                            &:hover {
                                color: #fff;
                                background-color: #7a7777;
                            }
                        }
                        .active {
                            pointer-events: none;
                            color: #fff;
                            background-color: #3e3e3e;
                        }
                        .left {                           
                            border-right: none !important;
                        }
                        .right {
                            border-left: none !important;
                        }
                    }
                }
            }
            .legend {
                position: absolute;
                height: 33px;
                bottom: 15px;
                right: 45px;
                z-index: 10;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                border-radius: 2px;
                box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
                background-color: #fff;
                padding: 5px;
                .unsaved {
                    margin-left: 5px;
                }
            }
        }
    }
    .multi-actons {
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0px;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, .7);
        z-index: 11;
        .action-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 14;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 1);
            padding: 15px;
            .close {
                position: absolute;
                font-size: 14px;
                color: #fff;
                right: -20px;
                top: -20px;
                cursor: pointer;
                opacity: 1;
                transition: transform 300ms;
                &:hover {
                    color: orangered;
                    transform: scale(1.5);
                }
            }
            .header {
                width: 100%;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #e2eaec;
                color: #000;
                
                font-size: 16px;
                font-weight: 500;
                z-index: 20;
            }
            .actions {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                .add-to-list {
                    padding: 15px 0px;
                    width: 100%;
                }
                .remove {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: stretch;
                    app-blowhorn-button {
                        &:first-child {
                            padding: 0px 7px 0px 0px;
                        }
                        &:last-child {
                            padding: 0px 0px 0px 7px;
                        }                        
                    }
                }
            }
        }
    }
}
