<div class="wrapper">
  <div class="message-window" *ngIf="show_message">
    <div class="message-panel">
      <div class="header" [ngClass]="message_type">
        {{message_type | titlecase}} !
      </div>
      <div class="body" [ngClass]="message_type">
        <span *ngFor="let message of messages">{{message}}</span>
      </div>
      <div class="footer">
        <app-blowhorn-button [label]="'Close'"
          (click_fired)="hide_message()"></app-blowhorn-button>
      </div>
    </div>
  </div>
  <div class="confirm" *ngIf="show_confirm">
    <div class="wrapper">
        <div class="header">Confirm</div>
        <div class="message">{{confirm_message}}</div>
        <div class="footer">
          <app-blowhorn-button (click_fired)="cancel_assign()" [label]="'Cancel'"></app-blowhorn-button>
          <app-blowhorn-button (click_fired)="proceed()" [label]="'Proceed'"></app-blowhorn-button>
        </div>
    </div>
  </div>
  <div *ngIf="show_driver_lookup" class="driver-lookup">
    <div class="lookup-panel">
      <span class="fa fa-times driver-lookup-close" (click)="close_driver_lookup($event)"></span>
      <div class="header">
        Driver lookup
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Driver Name" [(ngModel)]="driver_name_search" (keyup)="reset_result_info()">
        <input type="text" placeholder="Vehicle Number" [(ngModel)]="vehicle_number_search" (keyup)="reset_result_info()">
        <app-blowhorn-button [label]="'Search'"
          (click_fired)="fetch_drivers(null)">
        </app-blowhorn-button>
      </div>
      <div class="result">
        <div *ngIf="driver_list.length <= 0">
            <span class="error">{{driver_lookup_message}}</span>
        </div>
        <div class="title" *ngIf="driver_list.length > 0">
            <span  class="driver">Driver</span>
            <span class="vehicle">Vehicle</span>
            <span class="trips">Active trips</span>
        </div>
        <div *ngFor="let driver of driver_list; let index = index;"
          class="driver-row">
          <div class="record" (click)="assign_driver(driver)">
            <span class="driver">{{driver.name}}</span>
            <span class="vehicle">{{driver.vehicle}}</span>
            <span class="trips">{{driver.trips || '---'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="assign-panel" *ngIf="selected_orders.length">
    <div class="title">
      <span>Assign Driver</span>
      <span>Total: {{selected_orders.length}}</span>
    </div>
    <div class="content">
      <div class="clear-all"><span (click)="clear_all_orders()">Clear All</span></div>
      <div class="order-wrapper" *ngFor="let order of selected_orders">
        <span class="order">{{order.order_no}}</span>
        <span class="order"><span *ngIf="false">{{order.batch_id}}</span><span class="fa fa-times" style="cursor: pointer; margin-left:10px;" (click)="remove_order(order)"></span></span>
      </div>
    </div>
    <div class="assign-driver">
        <app-blowhorn-button
          (click_fired)="open_driver_lookup()"
          [label]="'Assign Driver'"
          [footer_btn]="true" >
        </app-blowhorn-button>
    </div>
  </div>
  <div class="map">
    <app-dropdown-select
      [styles]="city_styles"
      [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
      [selected_id]="selected_city_id ? selected_city_id : null"
      [items]="cities"
      [disabled]="false"
      (value_changed)="city_changed($event)">
    </app-dropdown-select>
    <app-dropdown-select
      [styles]="customer_styles"
      [selected_name]="selected_customer_name ? selected_customer_name : 'All Customers'"
      [selected_id]="selected_customer_id ? selected_customer_id : null"
      [items]="customers"
      [disabled]="!selected_city_id"
      (value_changed)="customer_changed($event)">
    </app-dropdown-select>
    <div class="date-range"
      [ngClass]="selected_city_id ? 'enabled' : 'disabled'">
      <div (mouseover)="activate_date_clear($event)"
        (mouseout)="deactivate_date_clear($event)"
        (click)="reset_date($event)">
        <span [ngClass]="{'show-cross': date_range[0] && date_range[1], 'hide-cross': !(date_range[0] && date_range[1]), 'activate-cross': date_activated, 'deactivate-cross': !date_activated}"
          class="fa fa-times">
        </span>
      </div>
      <input  class="date-range-field"
        #drp="bsDaterangepicker"
        bsDaterangepicker
        [(ngModel)]="date_range"
        placeholder="Created date range"
        (ngModelChange)="date_changed($event)"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
        readonly>
        <span class="fa fa-calendar" (click)="drp.toggle()"></span>
    </div>
    <app-dropdown-select
      [styles]="batch_styles"
      [selected_name]="selected_batch_name ? selected_batch_name : 'All Batches'"
      [selected_id]="selected_batch_id ? selected_batch_id : null"
      [items]="batches"
      [disabled]="!selected_city_id"
      (value_changed)="batch_changed($event)">
    </app-dropdown-select>
    <app-blowhorn-multiselect
      [styles]="order_nos_styles"
      [disabled]="!selected_city_id"
      [label]="pincode_label"
      [items]="pincodes"
      (selected_items)="pincode_changed($event)">
    </app-blowhorn-multiselect>
    <div class="order-count">
      <span>Orders: {{orders.length}}</span>
    </div>
    <div class="marker-cluster">
      <div class="choice">
        <div class="label">Marker Cluster</div>
        <div class="option-wrapper">
          <div class="option left" [ngClass]="{'active': show_cluster}" (click)="show_cluster=true">On</div>
          <div class="option right" [ngClass]="{'active': !show_cluster}" (click)="show_cluster=false">Off</div>
        </div>
      </div>
    </div>
    <div class="address-save" *ngIf="address_changed">
      <app-blowhorn-button
        (click_fired)="save_filtered_addresses()"
        [label]="'Save Address'">
      </app-blowhorn-button>
    </div>
    <div class="only-modified" *ngIf="address_changed">
      <app-blowhorn-checkbox [id]="'modified_orders'"
        [label]="'Only modified orders'"
        [group_name]="'modified_orders'"
        [disabled]="false"
        [checked]="false"
        (value_changed)="show_hide_modified_orders($event)">
      </app-blowhorn-checkbox>
    </div>
    <div class="multi-select" *ngIf="selected_city_id" [ngClass]="{'shift': address_changed, 'double-shift': show_restore}">
      <app-blowhorn-checkbox #multi_selection_checkbox [id]="'multi_orders'"
        [label]="'Enable multi selection'"
        [group_name]="'multi_orders'"
        [disabled]="false"
        [checked]="false"
        (value_changed)="enable_multi_selection($event)">
      </app-blowhorn-checkbox>
    </div>
    <div class="address-restore" *ngIf="show_restore" [ngClass]="{'shift': address_changed}">
      <app-blowhorn-button
        (click_fired)="restore_addresses()"
        [label]="'Restore Addresses'">
      </app-blowhorn-button>
    </div>
    <div class="legend">
      <img class="saved" src="{{saved_icon_url}}" alt=""> Geopoint saved
      <img class="unsaved" src="{{unsaved_icon_url}}" alt=""> Geopoint modified
    </div>
    <agm-map
      [clickableIcons]="false"
      class="fullscreen"
      (mapReady)="on_map_ready($event)"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [scrollwheel]="scrollwheel"
      [streetViewControl]="streetViewControl"
      [zoomControl]="zoomControl"
      [mapDraggable]="mapDraggable"
      [fitBounds]="map_bounds"
      (mapClick)="draw_polygon($event)">
      <agm-marker-cluster *ngIf="show_cluster && !reset_cluster" imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let order of orders | unassignedOrderFilter;let index = index"
          [latitude]="order.lat"
          [longitude]="order.lng"
          [markerDraggable]="!order.is_ignore"
          [iconUrl]="order.icon_url"
          (dragEnd)="update_order($event, order)"
          [visible]="!order.is_added && !order.is_ignore"
          [openInfoWindow]="false"
          (mouseOver)="show_info_window(order)"
          (mouseOut)="hide_info_window(order)"
          (markerClick)="add_remove_restore_order(order)"
          (markerRightClick)="onRightClick()">
          <agm-info-window [isOpen]="order.is_info_window_open"
            (infoWindowClose)="close_info_window(order)">
            <div class="info-wrapper">
              <div class="header">
                <span>{{order.order_no}}</span>
                <span *ngIf="order.batch_id"><span class="header-title">Batch # :</span> {{order.batch_id}}</span>
              </div>
              <div class="body">{{order.address|titlecase}}</div>
              <div class="footer">
                <app-blowhorn-button *ngIf="!order.is_added && !order.is_ignore" [label]="'Add To List'"
                  [footer_btn]="true"
                  (click_fired)="add_order(order)"
                  style="margin-right:5px">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="order.is_added" [label]="'Remove From List'"
                  [footer_btn]="true"
                  (click_fired)="remove_order(order)">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="!order.is_added && !order.is_ignore" [label]="'Ignore'"
                  [footer_btn]="true"
                  (click_fired)="ignore_order(order)"
                  style="margin-left:5px">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="!order.is_added && order.is_ignore" [label]="'Restore'"
                  [footer_btn]="true"
                  (click_fired)="restore_order(order)">
                </app-blowhorn-button>
              </div>
              <div class="info">
                <span *ngIf="!order.is_added && !order.is_ignore">* Click marker to add to list.</span>
                <span *ngIf="order.is_added">* Click marker to remove from list.</span>
                <span *ngIf="!order.is_added && order.is_ignore">* Click marker to restore.</span>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-marker-cluster>
      <ng-container *ngIf="!show_cluster">
      <agm-marker *ngFor="let order of orders;let index = index"
          [latitude]="order.lat"
          [longitude]="order.lng"
          [markerDraggable]="!order.is_ignore"
          [iconUrl]="order.icon_url"
          (dragEnd)="update_order($event, order)"
          [visible]="!order.is_added && !order.is_ignore"
          [openInfoWindow]="false"
          (mouseOver)="show_info_window(order)"
          (mouseOut)="hide_info_window(order)"
          (markerClick)="add_remove_restore_order(order)">
          <agm-info-window [isOpen]="order.is_info_window_open"
            (infoWindowClose)="close_info_window(order)">
            <div class="info-wrapper">
              <div class="header">
                <span>{{order.order_no}}</span>
                <span *ngIf="order.batch_id"><span class="header-title">Batch # :</span> {{order.batch_id}}</span>
              </div>
              <div class="body">{{order.address|titlecase}}</div>
              <div class="footer">
                <app-blowhorn-button *ngIf="!order.is_added && !order.is_ignore" [label]="'Add To List'"
                  [footer_btn]="true"
                  (click_fired)="add_order(order)"
                  style="margin-right:5px">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="order.is_added" [label]="'Remove From List'"
                  [footer_btn]="true"
                  (click_fired)="remove_order(order)">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="!order.is_added && !order.is_ignore" [label]="'Ignore'"
                  [footer_btn]="true"
                  (click_fired)="ignore_order(order)"
                  style="margin-left:5px">
                </app-blowhorn-button>
                <app-blowhorn-button *ngIf="!order.is_added && order.is_ignore" [label]="'Restore'"
                  [footer_btn]="true"
                  (click_fired)="restore_order(order)">
                </app-blowhorn-button>
              </div>
              <div class="info">
                <span *ngIf="!order.is_added && !order.is_ignore">* Click marker to add to list.</span>
                <span *ngIf="order.is_added">* Click marker to remove from list.</span>
                <span *ngIf="!order.is_added && order.is_ignore">* Click marker to restore.</span>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
        </ng-container>
    </agm-map>
  </div>
</div>
<div class="multi-actons" *ngIf="show_multi_select_actions">
  <div class="action-panel">
      <span class="fa fa-times close" (click)="close_action_panel()"></span>
      <div class="header">Actions</div>
      <div class="actions">
        <div class="add-to-list">
          <app-blowhorn-button [label]="'All Selection To List'"
            (click_fired)="add_selection_to_list()"
            [footer_btn]="true">
          </app-blowhorn-button>
        </div>
        <div class="remove">
          <app-blowhorn-button [label]="'Clear Selection'"
            (click_fired)="remove_selection()"
            [footer_btn]="true">
          </app-blowhorn-button>
          <app-blowhorn-button [label]="'Undo Last Action'"
            (click_fired)="undo_last()"
            [footer_btn]="true">
          </app-blowhorn-button>
        </div>
      </div>
  </div>
</div>
