.trips-panel {
    padding: 10px 20px;
    background: rgb(226, 234, 236);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px minmax(auto, calc(100vh - 237px)) 55px;
    grid-row-gap: 1px;
    .trips-grid {
        overflow: auto;
        :nth-child(odd) {
            background-color: #FAFAFA;
        }
        :nth-child(even) {
            background-color: #FFFFFF;
        }
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }
    }
    .pagination {
        margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.image-panel {
    z-index: 500;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    align-items: center;
    justify-items: center;
}
