<div class="wrapper">
  <div class="filter-item city">
    <app-dropdown-select 
      [styles]="city_styles"
      [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
      [selected_id]="selected_city_id ? selected_city_id : null" 
      [items]="cities"
      (value_changed)="city_changed($event)">
    </app-dropdown-select>
  </div>
  <div class="filter-item status">
    <app-dropdown-select 
      [styles]="status_styles"
      [selected_name]="selected_status_name ? selected_status_name : 'All Statuses'"
      [selected_id]="selected_status_id ? selected_status_id : null" 
      [items]="statuses"
      (value_changed)="status_changed($event)">
    </app-dropdown-select>
  </div>
  <app-blowhorn-button  class="filter-item export" 
    [label]="'Export'"
    (click_fired)="download_file()">
  </app-blowhorn-button>
  <div class="filter-item radius">
    <label for="radius">Radius :</label>
    <input name="radius" type="number" [(ngModel)]="radius" min="1" (keydown)="check_radius($event)">
  </div>
  <div class="filter-item switch">
    <div class="switch-item">
      <label for="markercluster">
          <input type="radio" 
            name="view"
            id="markercluster"
            value="heatmap"
            (click)="switch_view($event)"
            [checked]="true">
            Heatmap
      </label>      
    </div>
    <div class="switch-item">
        <label for="heatmap">
          <input type="radio" 
            id="heatmap"
            name="view"
            value="markercluster"
            (click)="switch_view($event)">
            Marker Cluster
        </label>
    </div>  
  </div>
  <div *ngIf="selected_city_id" class="filter-item limits">
      <app-blowhorn-checkbox [id]="'city_limits'"
        [label]="'Show city limits'"
        [group_name]="'limts'"
        [disabled]="!enable_limits"
        [checked]="show_limits"
        (value_changed)="show_hide_limits($event)">
      </app-blowhorn-checkbox>
    </div>
  <app-blowhorn-heatmap
    [data_set]="data_set"
    [center]="center"
    [zoom]="12"
    [radius]="radius"
    [opacity]=".7"
    [show_heatmap]="show_heatmap"
    [show_marker_cluster]="show_marker_cluster"
    [show_limits]="show_limits"
    [city]="selected_city_id"
    (map_is_ready)="initialize($event)">
  </app-blowhorn-heatmap>
</div>