:host {
    width: 100%;
    flex: 1;
}
.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    position: relative;
    app-blowhorn-heatmap {
        flex: 1;
    }
}
.filter-item {
    padding: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    z-index: 10;
    background-color: #fff;
}
.city {
    padding: 0px;
    left: 20px;
}
.status {
    padding: 0px;
    left: 180px;
}
.export {   
    padding: 0px;
    right: 20px;
}
.radius {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 20px;
    input {
        border: none;
        outline: none;
        width: 50px;
        padding-left: 5px;
    }
    label {
        margin-bottom: 0px;
    }
}
.limits {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 365px;
    input {
        border: none;
        outline: none;
        padding-right: 5px;
    }
    label {
        margin-bottom: 0px;
    }
}
.switch {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 140px;
    .switch-item {
        color: black;
        
        font-weight: 500;
        font-size: 14px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;        
        input {
            border: none;
            outline: none;
            cursor: pointer;
        }
        label {
            margin-bottom: 0px;
            cursor: pointer;
        }
    }
}
.left-margin {
    margin-left: 15px;
}
.show-cross {
    width: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    cursor: pointer;
    margin-right: 3px;
    &:hover {
        color: gray;
    }
}
.hide-cross {
    display: none;
}
