.wrapper {
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    .close {
        position: absolute;
        font-size: 14px;
        color: #fff;
        right: 15px;
        top: -45px;
        cursor: pointer;
        opacity: 1;
        transition: transform 300ms;
        &:hover {
            color: orangered;
            transform: scale(1.5);
        }
    }
    .pre {
        justify-self: right;
    }
    .img {
        flex: 1;
        background-color: #fff;
        align-self: stretch;
        margin: 0px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            position: absolute;
            max-width: 100%;
            max-height: 100%;
            transition: opacity 1s ease-in-out;
        }
        .header {
            width: 100%;
            position: absolute;
            left: 0px;
            top: -40px;
            font-size: 30px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            .counter {
                justify-self: center;
            }
            .download {
                justify-self: right;
                margin-left: auto;
            }
        }
        .failed-message {
            position: absolute;
        }
    }
    .footer-container {
        position: absolute;
        bottom: 0;
        padding: 15px;
        width: 100%;
        justify-content: flex-end;
        background: #000;
        opacity: 0.85;
        .content {
            vertical-align: middle;
            margin: auto;
            color: #fff;
            font-weight: 500;
        }
        .btn-container {
            display: flex;
            position: absolute;
            bottom: 0px;
            justify-content: center;
            width: 100%;
            .btn-holder {
                padding: 10px;
            }
        }
    }
    .next {
        justify-self: left;
    }
    .nav {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        font-weight: 900;
        background-color: transparent;
        color: #fff;
        transition: transform 300ms;
        &:hover {
            cursor: pointer;
            transform: scale(2);
        }
    }
}
.hide {
    opacity: 0;
    left: -1000px;
    top: -1000px;
}
.show {
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
