<div class="wrapper" [ngStyle]="styles.wrapper">
  <div (click)="supress_event($event)">
      <span class="fa fa-times close" (click)="close_image_viewer($event)"></span>
  </div>
  <div class="pre nav" (click)="previous($event)">
      <span class="fa fa-angle-left"></span>
  </div>
  <div class="img" (click)="supress_event($event)">
    <div class="header">
        <span class="counter">{{current_index + 1}} of {{document_links.length}}</span>
    </div>
    <div *ngFor="let item of document_links; let index = index">
        <img
        crossOrigin=""
        alt="documents"
        *ngIf="!item.message"
        [src]="item.url"
        [ngClass]="{'show': index == current_index, 'hide': index != current_index}"
        (click)="download_image($event, item.url)"
        (error)="setPlaceholder(item)">
        <div class="failed-message"
        *ngIf="item.message"
        [ngClass]="{'show': index == current_index, 'hide': index != current_index}">
            {{ item.message }}
        </div>
    </div>
    <div class="footer-container d-flex">
        <div class="content">
            {{ currentItem ? currentItem.caption : '' }}
        </div>
        <div class="btn-content">
            <div class="btn-holder">
                <app-blowhorn-button
                [label]="'download'"
                [type]="'info'"
                (click_fired)="download_document()">
                </app-blowhorn-button>
            </div>
        </div>
    </div>
  </div>
  <div class="next nav" (click)="next($event)">
      <span class="fa fa-angle-right"></span>
  </div>
</div>
