<div class="invoice-details-modal">
    <div class="modal-header">
        <div class="modal-title-text">Delivery Details</div>
        <span class="fa fa-times cross" (click)="details_closed.emit(true)"></span>
    </div>
    <form name="initForm">
        <div class="grid-container">
            <div class="form-group md-form">
                <label for="ReferenceNumber">Bill Number<span *ngIf="!reference_number" aria-hidden="true"
                        class="required"> *</span></label>
                <input id="ReferenceNumber" type="text" class="form-control" name="ReferenceNumber"
                    [(ngModel)]='reference_number' maxlength="12" (keyup)="validReference()">
                <small *ngIf="!reference_number || !isReferenceNumberValid" class="required">Please scan / enter a 12
                    digit reference number.</small>
                <div style="margin-top:1%;">
                    <app-blowhorn-button [label]="'Proceed'" (click)="saveFormData()" (click_fired)="show_edit()">
                    </app-blowhorn-button>
                    <div *ngIf="show_details" class="modal-window">
                        <app-shipment-offline [reference_number]="reference_number"
                            (details_closed)="show_details=false" (messageEvent)="receiveMessage($event)">
                        </app-shipment-offline>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>