.invoice-details-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    // background-color:  rgb(227, 243, 246);
    background-image: url("/static/assets/images/plane.jpg");
    padding: 0 20px;
    overflow: scroll;
    .modal-header {
      display: flex;
      margin-bottom: 10px;
      padding: 10px 20px;
      border-bottom: 2px solid #0088a8;
      align-items: center;
      min-height: 45px;
      .modal-title-text {
        color: #0088a8;
        
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 21px;
        text-transform: uppercase;
      }
      .cross {
        display: flex;
        justify-content: flex-end;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .required {
      color: red;
    }
    .md-form {
      margin-left: 35%;
      margin-top: 3%;
    }
    .grid-container {
      display: grid;
      grid-template-columns: 65% 20%;
      grid-gap: 10px;
    }
  }