.pickup-dropoff-fare-panel {
    display: flex;
    flex-direction: column;
    .title {
        flex: 1;
        display: flex;        
        align-items: flex-start;
        flex-direction: column;
        .pickup-dropoff-header {
            flex: 8;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .to-from {
                flex: 1;
                color: #000000;	
                font-size: 18px;
                line-height: 27px;
                font-weight: 500;
                .stops {
                    	
                    font-size: 18px;	
                    font-weight: 400;
                    color: #0180a8;	
                }
            }
            .booking-time {
                flex: 1;
                color: #4E5454;
                font-size: 14px;	
                line-height: 21px;
            }
        }
        .total-fare-payment-mode {
            flex: 3;
            display: flex;
            flex-direction: column;
            width: 100%;
            .fare-header {                
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                .fare-title {
                    color: #141515;	
                    font-size: 18px;
                    line-height: 35px;
                }
                .amount-with-currency {
                    color: #000000;	
                    font-size: 20px;	
                    font-weight: bold;	
                    line-height: 35px;
                    text-align: right;        
                    .total-amt {
                        font-size: 24px;	
                        font-weight: bold;	
                        line-height: 35px;
                    }
                }
            }
            .payment-mode {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .title {
                    color: #4E5454;
                    font-size: 14px;
                    line-height: 21px;
                }
                .mode {
                    color: #4E5454;
                    font-size: 14px;	
                    line-height: 21px;
                }
            }
        }
    }
    .content {
        margin-top: 22px;
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        .pickup-dropoff {
            flex: 8;
            display: flex;
            flex-direction: column;
            .pickup-dropoff-address {
                display: flex;
                flex-direction: column;
                margin-bottom: auto;
                .pickup {
                    flex: 1;
                    margin-bottom: 15px;
                    .date-holder {
                        font-size: 12px;
                        font-weight: 600;
                        color: #999;                    
                    }
                }
                .dropoff {
                    flex: 1;
                    .date-holder {
                        font-size: 12px;
                        font-weight: 600;
                        color: #999;                    
                    }
                }
            }
            .pickup-dropoff-date-time {
                color: #141515;
                font-size: 12px;
                line-height: 18px;
                font-weight: 500;
                display: flex;
                .pickup {
                    flex: 1;
                    width: 75%;
                }
                .dropoff {
                    flex: 1;
                    width: 75%;
                }
            }
        }
        .fare {
            flex: 3;
            margin-bottom: 15px;
        }
    }
}

@media (min-width: 575px) {
    .pickup-dropoff-fare-panel {
        .title {
            flex-direction: row;
            .pickup-dropoff-header {
                .to-from {
                    font-size: 24px;
                    line-height: 35px;
                }
            }
            .total-fare-payment-mode {
                margin-left: 25px;
            }
        }
        .content {
            flex-direction: row;
            .pickup-dropoff {
                .pickup-dropoff-address {
                    flex-direction: row;
                    .pickup {
                        margin-bottom: unset;
                    }
                }
                .pickup-dropoff-date-time {
                    margin-top: 15px;
                    font-size: 18px;
                    line-height: 27px;
                }
            }
            .fare {
                margin-left: 25px;
                margin-bottom: 0;
            }
        }
    }
}