<div class="pickup-dropoff-fare-panel">
  <div class="title">
    <div class="pickup-dropoff-header">
        <div class="to-from">{{ pickup_location }} to {{ dropoff_location}}, {{trip.city}} <span class="stops">via {{trip.stops.length}} stops</span></div>
        <div class="booking-time">
          <span *ngIf="trip.booked_from || trip.booking_datetime">Booked <span *ngIf="trip.booked_from">via {{trip.booked_from | lowercase}} </span><span *ngIf="trip.booking_datetime">on {{trip.booking_datetime | date:'d MMM y'}} at {{trip.booking_datetime | date: 'shortTime'}}</span></span>
        </div>
    </div>
    <div class="total-fare-payment-mode">
        <div class="fare-header">
          <div class="fare-title">Payable To {{ blowhorn_service.brand_name }}</div>
          <div class="amount-with-currency">
            <div class="total-amt">{{ blowhorn_service.currency|currencySymbol }}{{ total_amount }}</div>
          </div>
        </div>
        <div class="payment-mode">
          <div *ngIf="trip.payment_status === 'paid'" class="title">
            Payment mode
          </div>
          <div *ngIf="trip.payment_status === 'un-paid'" class="title">
            Payment status
          </div>
          <div class="mode">
            {{trip.payment_status === 'paid' ? trip.payment_mode : 'Not paid'}}
          </div>
        </div>
    </div>
  </div>
  <div class="content">
    <div class="pickup-dropoff">
      <div class="pickup-dropoff-address">
        <div class="pickup-address">
          <app-invoice-stop 
            [title]="address_config.pickup.title"
            [img_url]="address_config.pickup.img_url"
            [stop]="trip.pickup">
          </app-invoice-stop>
          <div class="date-holder">
            <span *ngIf="trip.pickup.date">{{trip.pickup.date | date: 'd MMM y'}} </span><span *ngIf="pickup_time">at {{pickup_time}}</span>
          </div>
        </div>
        <div class="dropoff-address">
          <app-invoice-stop
            [title]="address_config.dropoff.title"
            [img_url]="address_config.dropoff.img_url"
            [stop]="trip.dropoff">
          </app-invoice-stop>
          <div class="date-holder">
            <span *ngIf="trip.pickup.date">{{trip.dropoff.date | date: 'd MMM y'}} </span><span *ngIf="pickup_time">at {{dropoff_time}}</span>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="show_breakup()" class="fare">
      <app-invoice-fare-breakup [fare_breakup_details]="trip.fare_breakup_details"
        [amount_payable]="trip.amount_payable">
      </app-invoice-fare-breakup>
    </div>
  </div>
</div>
