<div class="wrapper">
  <div class="modal-header">
      <div class="modal-title-text">Pay using</div>
      <div (click)="suppress_event($event)">
        <span
          class="fa fa-times cross"
          (click)="close_fired_modal($event)">
        </span>
      </div>
  </div>
  <div class="modal-body d-flex flex-column justify-content-center">
      <button *ngIf="show.paytm" class="button-flat button-with-logo"
        (click)="paymentService.initiate_paytm_payment(trip);"
          style="margin-bottom: 1%;padding:0;">
          <img src="/static/blowhorn/assets/Assets/Paytm.png" width="15%">
      </button>
      <button *ngIf="show.razorpay" class="button-flat button-payment"
        (click)="paymentService.initiate_razorpay_payment(trip);close_fired_modal($event)"
          style="padding: 5%;">
          Credit Card / Debit Card / Net Banking / Others
      </button>
      <button *ngIf="show.payfast" class="button-flat button-payment"
        (click)="paymentService.initiate_payfast_payment(trip);"
          style="padding: 5%;">
          Online payment using Payfast
      </button>
      <button *ngIf="show.wallet" class="button-flat button-payment payment-wallet"
        [ngClass]="{'disabled': walletMessages.login || walletMessages.lowBalance}"
        (click)="payViaWallet(trip);"
        style="padding: 5%;">
        Pay via Wallet
      </button>
      <div class="wallet-message" *ngIf="walletMessages.login || walletMessages.lowBalance">
        <div class="message" *ngIf="walletMessages.login">
          {{ walletMessages.login }}
        </div>
        <div class="message" *ngIf="walletMessages.lowBalance">
          {{ walletMessages.lowBalance }} <a href="/myaccount">Recharge Now</a>
        </div>
      </div>
      <div class="message">
        <div [ngClass]="{'success': success, 'error': !success}" *ngIf="message" [@fadeInOut]>
          {{ message }}
        </div>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="button-flat" (click)="close_fired_modal($event)">Cancel</button>
  </div>
</div>
