<div class="stops row" *ngIf="calcs">

  <div class="full-width col-sm-9" *ngIf="trip.status === 'ongoing' && trip.pickup && trip.pickup.status !== 'done'">
    <app-stop-item [position]="'on-way-pickup'"></app-stop-item>
  </div>

  <div class="full-width col-sm-3" *ngIf="trip.status === 'ongoing' && trip.pickup && trip.pickup.status !== 'done'">
    <app-stop-item [position]="'stop-start'" [stopsDone]="calcs.stops_done" [stop]="trip.pickup" [noLine]="true"></app-stop-item>
  </div>

  <div class="full-width" [ngClass]="{'col-sm-5': calcs.next_index !== null && calcs.next_index !== 'null',
                                       'col-sm-9': calcs.next_index === null || calcs.next_index === 'null' }"
       *ngIf="trip.pickup && trip.pickup.status === 'done' || trip.status !== 'ongoing'">
    <app-stop-item [position]="'stop-start'" [stopsDone]="calcs.stops_done" [stop]="trip.pickup"></app-stop-item>
  </div>

  <div class="full-width col-sm-4" *ngIf="(trip.pickup && trip.pickup.status === 'done' || trip.status !== 'ongoing') && calcs.next_index !== null && calcs.next_index !== 'null'">
    <app-stop-item [position]="'stop-next'" [stopsDone]="calcs.stops_done" [stopsLeft]="calcs.stops_left" [stop]="stops[calcs.next_index]"></app-stop-item>
  </div>

  <div class="full-width col-sm-3" *ngIf="trip.pickup && trip.pickup.status === 'done' || trip.status !== 'ongoing'">
    <app-stop-item [position]="'stop-end'" [stop]="trip.dropoff"></app-stop-item>
  </div>

</div>
