<div *ngIf="content?.length === 0" class="error">
    <span>{{error_msg}}</span>
  </div>
  
<div *ngIf="content?.length !== 0">    
    <table id="dispatch_chart" class="table table-bordered">
    <thead>
        <tr>
        <td *ngFor="let row of header">{{row}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of content">
        <td *ngFor="let key of header_keys">{{row[key]}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
        <td *ngFor="let key of header_keys">{{footer[key]}}</td>
        </tr>
    </tfoot>
    </table>
</div>
  
  <div class="action-button" *ngIf="content?.length > 0">
    <button class="download-btn" (click)="download_documents($event)" id="download-data"
      title="Download Table">
          <i class="fa fa-download"></i>
    </button>
  </div>