.fare-brakup-panel {
    display: flex;
    flex-direction: column;   
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 6px;
        span {
            text-transform: uppercase;
            color: #FC3446;	
            	
            font-size: 16px;	
            font-weight: 900;	
            letter-spacing: 2px;	
            line-height: 16px;
        }
    }
    .breakup {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .breakup-header {
            color: #000000;	
            	
            font-size: 14px;	
            line-height: 21px;
        }
        .breakup-value {
            color: #000000;	
            	
            font-size: 18px;	
            font-weight: bold;	
            line-height: 27px;	
            text-align: right;
        }
    }
    .splitter {
        margin: 4px 0px;
        border-bottom: 1px solid #BBC2C4;
    }
}