<div class="fare-brakup-panel">  
  <div class="header">
    <span>Fare breakup</span>    
  </div>
  <ng-container *ngFor="let fare of fare_breakup_details; let count = index">
    <div *ngIf="fare.value">
      <div class="splitter" *ngIf="count"></div>
      <div class="breakup">
        <div class="breakup-header">{{ fare.name }}</div>    
        <div class="breakup-value">{{ blowhorn_service.currency|currencySymbol }}{{ fare.value }}</div>
      </div>    
    </div>
  </ng-container>
  <br>
  <ng-container *ngFor="let fare of amount_payable; let count = index">
      <div *ngIf="fare.value">
        <div class="splitter" *ngIf="count"></div>
        <div class="breakup">
          <div class="breakup-header">{{ fare.name }}</div>    
          <div class="breakup-value">{{ blowhorn_service.currency|currencySymbol }}{{ fare.value }}</div>
        </div>    
      </div>
    </ng-container>
</div>
