<div class="print-panel">
  <div class="trip-data">
    <div class="header">
      <div class="info-card" *ngIf="invoice_no">
        <div class="header-content">invoice #</div>
        <div class="content">{{ invoice_no }}</div>
      </div>
      <div class="info-card">
        <div class="header-content">trip id</div>
        <div class="content">{{ trip_id }}</div>
      </div>
      <div class="info-card">
        <div class="header-content">date</div>
        <div class="content">{{ trip_date }}</div>
      </div>
      <div class="info-card">
        <div class="header-content">distance</div>
        <div class="content">{{ distance | number:'1.1-1'}} Kms</div>
      </div>
      <div class="info-card">
        <div class="header-content">time taken</div>
        <div class="content">{{ time_taken }}</div>
      </div>
      <div class="info-card" *ngIf="false">
        <div class="header-content">additional stops</div>
        <div *ngIf="false" class="content">{{ additional_stops }}</div>
      </div>
    </div>
  </div>
  <div class="print-btn-holder">
    <div class="print-btn" (click)="print()">
      <span>Print</span>
    </div>
    <div class="download-btn" (click)="download()">
      <span>Download</span>
    </div>
  </div>
</div>
<div class="splitter"></div>
