.print-panel {
    background: #EBFCFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    .trip-data {        
        flex: 10;
        display: flex;
        flex-direction: column;
        .header {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            .info-card {
                margin-bottom: 4px;
                width: 50%;
            }
            .header-content {
                color: #0180A8;	
                font-size: 13px;	
                font-weight: 900;	
                letter-spacing: 1px;	
                line-height: 19px;
                text-transform: uppercase;
                flex: 1;
            }
        }
        .data {
            padding-top: 3px;
            flex: 1;
            display: flex;
            flex-direction: row;
            .content {
                color: #000000;	
                	
                font-size: 16px;	
                font-weight: 500;	
                line-height: 24px;
                flex: 1;
            }
        }
    }
    .print-btn-holder {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 15px;
        .print-btn, .download-btn {
            border: 1px solid gray;
            text-transform: uppercase;
            height: 35px; 
            color: #4E5454;	
            	
            font-size: 14px;	
            font-weight: 900;	
            letter-spacing: 1px;	
            line-height: 21px; 
            margin: auto 5px;
            padding-right: 5px;
            padding-left: 5px;
            flex: 1;
            display: flex;
            align-items: center;
            span {
                flex: 1;
                text-align: center;
            }
            &:hover {
                cursor: pointer;
                background: rgb(63, 54, 54);
                color: #e6faff;
            }
        }        
    }
}
.splitter {
    margin-top: 1px;
    background: #DFE6E8;
    width: 100%;
    height: 2px;
}

@media (min-width: 575px) {
    .print-panel {
        flex-direction: row;
        .trip-data {
            .header {
                .info-card {
                    margin-bottom: 4px;
                    width: unset;
                }
            }
        }
    }
}

@media print {
    .print-panel {
        background: #EBFCFF;
        padding: 10px;
        display: flex;
        .trip-data {        
            flex: 10;
            display: flex;
            flex-direction: column;
            .header {
                flex: 1;
                display: flex;
                flex-direction: row;
                .header-content {
                    color: #0180A8;	
                    	
                    font-size: 13px;	
                    font-weight: 900;	
                    letter-spacing: 1px;	
                    line-height: 19px;
                    text-transform: uppercase;
                    flex: 1;
                }
            }
            .data {
                padding-top: 3px;
                flex: 1;
                display: flex;
                flex-direction: row;
                .content {
                    color: #000000;	
                    	
                    font-size: 16px;	
                    font-weight: 500;	
                    line-height: 24px;
                    flex: 1;
                }
            }
        }
        .print-btn-holder {
            display: none !important;   
        }
    }
}
