:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .header {
        color: #303232;
        font-size: 24px;
        font-weight: 300;
        line-height: 35px;
    }
}
