<div class="wrapper bg-light">
    <div class="modal-header">
        <div class="modal-title-text">{{ header_text }}</div>
        <span class="fa fa-times cross" (click)="activeModal.dismiss('Cross click')"></span>
    </div>
    <form
        [formGroup]="bankForm"
        novalidate
        class="d-flex flex-column rounded bg-white p-4 shadow"
    >
        <mat-form-field class="mt-3">
            <input matInput type="text" placeholder="Account holder name" formControlName="account_name" id="account_name">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('account_name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('account_name', 'maxlength')">More than 60 characters are not allowed.</mat-error>
            <mat-error *ngIf="hasError('account_name', 'pattern')">Only dot and space are allowed.</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <input matInput [type]="editMode ? 'password' : 'text'" placeholder="Account number" formControlName="account_number" id="account_number">
            <mat-error *ngIf="hasError('account_number', 'required')">Account number is required</mat-error>
            <mat-error *ngIf="hasError('account_number', 'maxlength')">Account number cannot be more than 18 digits</mat-error>
            <mat-error *ngIf="hasError('account_number', 'minlength')">Account number cannot be less than 9 digits</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-3" *ngIf="editMode">
            <input matInput type="password" placeholder="Confirm account number" formControlName="confirm_account_number" id="confirm_account_number">
            <mat-error *ngIf="confirmedValidator('account_number', 'confirm_account_number')">Account number mismatch.</mat-error>
            <mat-error *ngIf="hasError('account_number', 'required')">Account number is required</mat-error>
            <mat-error *ngIf="hasError('account_number', 'maxlength')">Account number cannot be more than 18 digits</mat-error>
            <mat-error *ngIf="hasError('account_number', 'minlength')">Account number cannot be less than 9 digits</mat-error>
        </mat-form-field>
        <div class="d-flex mt-3">
            <mat-form-field class="w-100 mr-4">
                <input matInput type="text" placeholder="IFSC Code" formControlName="ifsc_code" id="ifsc_code"
                (keyup)="clearDependantFeilds()" (blur)="getBankDetailsFromIFSC()">
                <mat-error *ngIf="hasError('ifsc_code', 'required')">IFSC Code is required</mat-error>
                <mat-error *ngIf="hasError('ifsc_code', 'pattern')">Enter a valid IFSC code.</mat-error>
            </mat-form-field>
            <button [disabled]="!editMode" mat-mini-fab color="primary" aria-label="Click to search IFSC code">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        <mat-form-field class="mt-3">
            <input matInput type="text" placeholder="Bank name" formControlName="bank_name" id="bank_name">
            <mat-error *ngIf="hasError('bank_name', 'required')">Bank name is required</mat-error>
            <mat-error *ngIf="hasError('bank_name', 'maxlength')">More than 255 characters are not allowed.</mat-error>
        </mat-form-field>
        <mat-form-field class="mt-3">
            <input matInput type="text" placeholder="Branch name" formControlName="branch_name" id="branch_name">
            <mat-error *ngIf="hasError('branch_name', 'required')">Branch name is required</mat-error>
            <mat-error *ngIf="hasError('branch_name', 'maxlength')">More than 255 characters are not allowed.</mat-error>
        </mat-form-field>
        <!-- Readonly -->
        <div *ngIf="showIfscDependancyField">
            <mat-form-field class="mt-3 w-100">
                <input matInput type="text" placeholder="Address" formControlName="address" id="address">
            </mat-form-field>
            <div class="d-flex justify-content-between">
                <mat-form-field class="mt-3 mr-1 w-50">
                    <input matInput type="text" placeholder="District" formControlName="district" id="district">
                </mat-form-field>
                <mat-form-field class="mt-3 ml-1 w-50">
                    <input matInput type="text" placeholder="City" formControlName="city" id="city">
                </mat-form-field>
            </div>
            <mat-form-field class="mt-3 w-50">
                <input matInput type="text" placeholder="State" formControlName="state" id="state">
            </mat-form-field>
        </div>
        <!-- Footer -->
        <mat-divider></mat-divider>
        <div class="d-flex justify-content-end pt-3" *ngIf="editMode">
            <button mat-stroked-button color="warn" class="mx-2" (click)="activeModal.dismiss('Cross click')">Cancel</button>
            <button
                mat-raised-button
                color="primary"
                class="mx-2 w-25"
                type="submit"
                (click)="onSubmit()"
                [disabled]="loading"
            >Save</button>
        </div>
        <div class="text-black-50 text-sm" *ngIf="bank && !editMode">
            Account details are stored in encrypted format, so there is no way to edit details. However, you can deactivate/delete the account and add new account.
        </div>
    </form>
    <div class="d-flex flex-column rounded bg-white p-5 mt-3 shadow" *ngIf="bank">
        <h5 class="text-danger mb-1">Danger Zone</h5>
        <div class="d-flex justify-content-between align-items-center">
            <div class="text-black-50">
                Once you delete, there is no going back. Please be certain.
            </div>
            <button mat-raised-button color="accent" class="mx-2 w-25" (click)="deleteRecord()">Delete</button>
        </div>
    </div>
</div>
