<div class="modal fade" id="modal-autocomplete-drivers"
  tabindex="-1" role="dialog" aria-labelledby="modalAutocompleteDriversLabel"
  aria-hidden="true">
  <div class='modal-dialog modal-md'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="modal-header-text">Search Driver</h4>
      </div>
      <div class="modal-body">
        <div class="form-wrapper" style="text-align: center;min-height: 30vh;">
          <h5>Search Driver</h5>
          <form name="driver-autocomplete-form" id="driver-autocomplete-form">
            <div class="form-group driver-autocomplete-wrapper">
              <label for="driver-autocomplete"></label>
              <input type="text" name="driver-autocomplete" id="driver-autocomplete"
                placeholder="Enter the driver name/vehicle number">
            </div>
          </form>
          <div class="selected-driver-wrapper" style="text-align: center;">
            <div class="selected-label">Selected Driver:</div>
            <h5 class="selected-driver" id="selected-driver"></h5>
          </div>
        </div>
        <div class="modal-footer modal-custom-footer">
          <button type="button" class="btn btn-danger btn-footer"
            data-dismiss="modal" style="border-radius: 0;">Cancel</button>
          <input type='button' class='default font12' 
            id="btn-submit" value="ok" data-dismiss="modal"
            onclick="$('#changelist-form').submit()">
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .driver-autocomplete-wrapper .ui-menu .ui-menu-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  .ui-autocomplete {
    max-height: 55vh;
    overflow: auto;
  }  
  .driver-autocomplete-wrapper .ui-menu .ui-menu-item:hover {
    background-color: aquamarine;
  }
  .driver-autocomplete-wrapper .ui-menu .ui-menu-item a:hover {
    background-color: transparent;
    text-decoration: none;
    color: black;
  }
  input[name='driver-autocomplete'] {
    width: 200px;
    height: 32px;
  }
  span[role='status'] {
    bottom: -25px;
    color: red;
  }
  #btn-submit {
    height: 34px;
    border-radius: 0;
    width: 80px;
    font-weight: 800;
    font-size: 11px;
  }
</style>
<script>
  (function($) {
      $('#driver-autocomplete')
        .on('focus', function () {
          $('#driver-autocomplete-form .ui-autocomplete').css('display', 'block');
          $('span[role="status"]').removeClass('ui-helper-hidden-accessible');
        })
        .on('blur', function () {
          $('#driver-autocomplete-form .ui-autocomplete').css('display', 'none');
          $('span[role="status"]').addClass('ui-helper-hidden-accessible');
        });
  })(django.jQuery);
</script>
