
@import "variable.css";

.modal-login-header-logo,
.modal-register-header-logo {
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

/* Social auth buttons */
.social-links {
    padding: 0px 15px 0;
    text-align: center;
}
.social-links a {
    display: inline-block;
    text-align: left;
    color: #fff;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin-bottom: 12px;
    overflow: hidden;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    border: 1px solid #C9D2D6;
    width: 140px;
    margin-top: 18px;
    position: relative;
}
.social-links a .icon {
    position: relative;
    float: left;
    width: 36px;
    margin-right: 20px;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'blowhorn-fonts' !important;
    font-style: normal !important;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak-as: none;
    font-size: 19px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: 'blowhorn-fonts' !important;
    font-style: normal !important;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    speak-as: none;
    font-size: 19px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social-links a:after {
    content: "";
    position: absolute;
    border-left: 1px solid;
    top: 8px;
    left: 45px;
    bottom: 8px;
    background: #333;
}

/* Google */
.social-links a.btn-gplus {
    background-color: transparent;
    color: #DB4432;
}
.social-links a.btn-gplus .fa-google {
    font-size: 1.667em;
    top: 10px;
    left: 12px;
    position: relative;
    float: left;
    width: 36px;
    margin-right: 20px;
}

/* Facebook */
.social-links a.btn-fb,
.social-links a.btn-fb {
    background-color: #2A457E;
    color: #fff !important;
    border: 1px solid #2A457E;
}
.social-links a.btn-fb,
.social-links a.btn-fb:hover {    
    /* color: #2A457E !important; */
    margin-right: 4%;
}
.social-links a.btn-fb .icon {
    font-size: 1.667em;
    top: 6px;
    left: 8px;
}
.icon-facebook:before {
    content: "\66";
    font-size: 28px;
}

/* Other */
.bg-EyeOFFDark {
    width: 22px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -614px;
}
[class*="bg-"] {
    display: block;
    margin: 0 auto;
}
