/* @import "variable.css"; */
:root {
  /* Font */
  /* --font-regular: MetropolisRegular, sans-serif;
    --font-thin: MetropolisRegular, sans-serif;
    --font-bold: MetropolisBold, sans-serif;
    --font-medium: MetropolisMedium, sans-serif; */

  --font-regular: Heebo, sans-serif;
  --font-thin: Heebo, sans-serif;
  --font-bold: Heebo, sans-serif;
  --font-medium: Heebo, sans-serif;

  --primary-color: #00d2f6;
  --primary-color-dark: rgb(0, 136, 168);
}
*,
body,
button,
input,
textarea,
form * {
  font-family: var(--font-regular);
}
textarea,
select,
input,
button {
  outline: none;
}
*:focus {
  outline: none !important;
}
.main-container {
  padding: 0;
}
.intro {
  width: 100vw;
  min-height: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(/static/donation/intro_bg.png) no-repeat center center;
  background-size: cover;
}
.blowhorn_logo {
  width: 120px !important;
}
.logo-container {
  height: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.layer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  );
}
/* .main-content > .card-container {
    padding: 0 30px;
} */
.main-content > .card-container > .content-card {
  background: rgba(0, 210, 246, 0.7);
  justify-content: center;
  min-height: 200px;
  padding: 15px;
  line-height: 62.4px;
  border-radius: 6px;
  margin: auto;
}
.main-content > .card-container > .content-card .left {
  padding: 15px;
  text-align: center;
  border: none;
}
.main-content > .card-container > .content-card .left .text {
  font-size: 36px;
  text-align: center;
  display: inline;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-medium);
}
.main-content > .card-container > .content-card .right .line1 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}
.main-content > .card-container > .content-card .right .line2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-medium);
}
/* .donation div.left,
.donation div.right {
    padding: 30px;
} */
.donation .content-card {
  margin: 20px auto;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  padding: 5% 0% 2% 0%;
}
.donation .content-card .heading {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-weight: 500;
  font-family: var(--font-medium);
}
.donation div.right > .heading {
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  font-weight: 500;
  font-family: var(--font-medium);
}
.separator {
  max-width: 200px;
  border: 1.5px solid;
}
.donation .card-container {
  display: flex;
  justify-content: space-evenly;
}
.donation .card-container .card {
  padding: 30px;
  text-align: center;
  font-size: 18px;
  border: none;
  width: 240px;
}
.donation .content-card .left {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.donation .card-container .card .heading {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
}
.donation .card-container .card > .content {
  margin: auto;
}
.donation .card-container .card img {
  width: 120px;
}
section.donation {
  margin-top: 15px;
}
.donation div.right .content {
  padding: 30px 0;
  /* max-width: 70%; */
}
.donation div.right .content .form {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  flex-direction: column;
}
.donation div.right .content #amount,
input#email {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  margin-bottom: 20px;
}
.donation div.right .content #amount:focus {
  border: none !important;
  border-bottom: 1px solid var(--primary-color);
}
.donation div.right .content .chips {
  display: flex;
  justify-content: space-between;
}
.donation div.right .content .chip {
  width: 75px;
  text-align: center;
  border-radius: 20px;
  background: #dedada;
  cursor: pointer;
  margin: 0px 4px;
  padding: 8px;
}
.donation div.right .content .chip:hover {
  background: var(--primary-color);
}
.donation div.right .content .btn-container {
  padding: 15px;
  justify-content: center;
  display: flex;
}
.donation div.right .content .btn-container .btn {
  width: 60%;
  background: var(--primary-color);
  padding: 12px;
  color: #fff;
  font-family: var(--font-medium);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  width: 100%;
}
.donation div.right .content .btn-container .btn:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}
.blowhorn-truck {
  margin: 20px auto;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.blowhorn-truck > img {
  width: 100%;
}
.steps-taken,
.precautions {
  margin-top: 30px;
}
.steps-taken .heading,
.precautions .heading {
  display: flex;
  justify-content: center;
  font-size: 26px;
  line-height: 34px;
  font-family: var(--font-bold);
  margin-bottom: 30px;
  text-transform: uppercase;
  text-align: center;
}
.steps-taken .heading {
  color: var(--primary-color);
}
.precautions .heading {
  color: #fff;
}
.steps-taken img {
  width: 280px;
}
.steps-taken .row1,
.steps-taken .row2 {
  text-align: center;
}
.steps-taken .img-container {
  margin-bottom: 30px;
}
.precautions {
  padding: 30px;
  background: url(/static/donation/prec_bg.png) no-repeat center center fixed;
  background-size: cover;
}
.precautions .container .content {
  text-align: center;
}
.precautions .container img {
  width: 160px;
}
.precautions .container .line {
  margin-bottom: 15%;
}
.precautions .container .icon-container {
  text-align: right;
}
.precautions .container .text {
  font-size: 24px;
  color: #fff;
  vertical-align: middle;
  margin: auto;
  line-height: 32px;
}
.floating-panel {
  position: absolute;
  width: 100%;
  top: 360px;
}
.main-content.hidden-xs {
  display: none;
}
.social-icon-heading {
    display: flex;
    justify-content: center;
}
.social-icons {
    justify-content: center;
    display: flex;
}
.fa {
  padding: 5px 20px 20px 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}
.fa-facebook {
    color: #3b5998;
}
.fa-twitter {
    color: #55acee;
}
.fa-google {
    color: #dd4b39;
}
.fa-linkedin {
    color: #007bb5;
}
.fa-whatsapp {
    color: #25d366;
}

/* Modal Styles */
.modal-dialog {
  max-width: 100%;
}
.modal-body {
  padding: 0;
}
.modal-body .close {
  position: fixed;
  right: 25px;
  top: 25px;
}
.modal-body .img-container {
  display: block;
  justify-content: center;
}
.modal-dialog .img-container img {
  width: 100%;
}
.desktop-thankyou {
  display: none;
}
.mobile-thankyou {
  display: block;
}
.loader-overlay {
  position: fixed;
  z-index: auto;
  margin: auto;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  background: #111;
}
.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transaction-details {
  display: flex;
  justify-content: center;
}
.transaction-card {
  margin: 12px;
  width: 100%;
  font-size: 12px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}

@media (min-width: 767px) {
  .transaction-card {
    width: 50%;
  }
  .main-content.hidden-xs {
    bottom: 0;
    display: block;
  }
  .main-content.visible-xs {
    display: none;
  }
  .main-content > .card-container > .content-card {
    padding: 15px 50px;
    margin: auto;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  }
  .main-content > .card-container > .content-card .right {
    padding: 20px 80px;
  }
  .main-content > .card-container > .content-card .left {
    text-align: left;
    border-right: black 1px solid;
  }
  .main-content > .card-container > .content-card .left .text {
    font-size: 48px;
    line-height: 62.4px;
  }
  .main-content > .card-container > .content-card .right .line1 {
    margin-bottom: 50px;
  }
  .donation .card-container .card {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  }
  .donation .content-card .left {
    border-bottom: none;
    margin-bottom: unset;
  }
  .donation div.right .content {
    max-width: 70%;
  }
  .donation div.right .content .form {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    flex-direction: row;
  }
  .donation div.right .content .chips {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
  }
  .donation div.right .content .chip {
    width: 65px;
    padding: 2px;
  }
  .donation div.right .content .btn-container .btn {
    width: 60%;
  }
  .steps-taken,
  .blowhorn-truck,
  .precautions {
    margin-top: 30px;
  }
  .steps-taken .heading,
  .precautions .heading {
    font-size: 42px;
    line-height: 55px;
  }
  .precautions {
    padding: 30px;
  }
  .precautions .container .text {
    font-size: 28px;
    line-height: 36px;
    text-align: left;
  }
  .precautions .container .line {
    margin-bottom: 5%;
  }
  .precautions .container .icon-container {
    text-align: center;
    margin-bottom: 15px;
  }

  /* Modal Styles */
  .modal {
    top: 0;
  }
  .modal-dialog {
    width: fit-content;
    width: intrinsic;
    width: -moz-fit-content;
  }
  .modal-dialog .img-container img {
    width: 620px;
  }
  .desktop-thankyou {
    display: block;
  }
  .mobile-thankyou {
    display: none;
  }
}
