@import 'variable.css';

*, body, button, input, textarea, form * {
    font-family: var(--font-family);
}

a {
    cursor: pointer !important;
}
a.link-blue,
a.link-blue:focus,
a.link-blue:hover,
a.link-blue:visited,
a.link-blue:active {
    color: var(--primary-color);
}
.home-button {
    font-size: 14px;
    color: var(--primary-color);
}
.btn-submit, .btn-blue {
    color: #000;
    border: none;
    font-size: 18px;
    padding: 0 38px;
    margin-top: 40px;
    height: 56px;
    background-color: var(--primary-color);
}
.mobile-number > div.intl-tel-input,
.intl-tel-input {
    width: 100%;
}
.intl-tel-input input {
    padding-left: 65px !important;
}
.intl-tel-input .flag-container {
    right: unset !important;
}
.selected-dial-code {
    position: absolute;
    margin: auto;
    top: 11px;
    left: 30px;
    border: 0;
    height: 22px;
    color: #929A9B;
}
#signup-mobile {
    padding-left: 20%;
}
.userBar .dropdown-menu {
    right: unset !important;
}
.no-bottommargin {
    margin-bottom: 0 !important;
}

.initial-left-padding {
    padding-left: 10px !important
}
