@import 'variable.css';

.modal {
    background: rgba(0, 0, 0, .8);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, 0%);
}
.modal-header {
    border-radius: 8px 8px 0 0;
}
.modal-content {
    border-radius: 8px;
    font-weight: 100;
}

/* Modal Small */
.modal-sm {
    width: 420px;
    color: #303232;
    font-size: 18px;
}
.modal-sm .modal-header .close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-top: 2px;
    border-radius: 100%;
    font-size: 1em;
    color: #87E9FF;
    filter: alpha(opacity=60);
    opacity: .6;
    text-shadow: 0 0 0;
}
.modal-sm .modal-header {
    padding: 15px 20px 0px 20px;
    border-bottom: none;
    color: #fff;
    min-height: 80px;
}
.modal-sm .modal-header .header-logo {
    background: url(/static/website/images/blowhorn/logo/Logo@2x.png) no-repeat center center;
    width: 88px;
    height: 88px;
    display: block;
    margin: 0 auto;
    position: relative;
    background-size: cover;
    top: 10px;
    z-index: 1;
}
.modal-sm .modal-body {
    padding: 15px 50px 20px;
    font-weight: 100;
}
.modal-sm h5 {
    margin: 5px 0 16px;
    font-size: 18px;
    font-weight: 300;
}
.modal-sm .modal-form-fixer {
    border-radius: 0;
    border: 0px solid #1a1a1a;
    height: 48px;
    padding: 6px 12px;
    margin-bottom: 15px;
    background-color: #F0F5F7;
    box-shadow: 0 0 0;
    font-size: 18px;
    color: #141515;
    font-weight: 300;
}
.modal-sm input.btn-blue {
    height: 48px;
    margin: 9px 0 12px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 3px;
    max-width: 240px !important;
    min-width: 240px !important;
}
.modal-sm a,
.modal-sm a:link,
.modal-sm a:hover,
.modal-sm a:focus,
.modal-sm a:active,
.modal-sm a:visited {
    color: #FC3446;
    font-weight: 300;
    text-decoration: none;
}
.modal-sm .forgot-password {
    font-size: 18px;
    color: #303232;
    text-decoration: none;
    margin-bottom: 30px;
}
.has-divider {
    position: relative;
}
.has-divider span {
    position: relative;
    z-index: 1;
    padding: 0 5px 0 6px;
}
.has-divider:after {
    content: "";
    position: absolute;
    height: 0px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border: 0px solid #ddd;
    z-index: 0;
    right: 0;
}

@media (min-width: 992px) {
    .modal-sm input.btn-blue {
        max-width: 100% !important;
        min-width: 100% !important;
    }
}

@media (max-width: 767px) {
    .modal-sm {
        width: auto !important;
    }
}