#register-modal {
    color: #333;
}
#register-modal .modal-header {
    background: var(--bg-dark-header-gradient);
}
#register-modal h5 {
    color: #C5F4FF;
}
#register-modal .modal-content {
    background: var(--bg-dark-gradient);
    color: #fff;
}
#register-modal .modal-sm .modal-form-fixer {
    background-color: rgba(48, 50, 50, 0.17);
    color: #929A9B;
}
#register-modal .social-links a.btn-gplus {
    background-color: #DB4432;
    color: #fff;
    font-weight: 300;
    border: 1px solid #DB4432;
}
/* Custom Checkbox */
.roundedTwo [type="checkbox"]:not(:checked)+label,
.roundedTwo [type="checkbox"]:checked+label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}
.roundedTwo [type="checkbox"]:not(:checked),
.roundedTwo [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.roundedTwo [type="checkbox"]:not(:checked)+label:before,
.roundedTwo [type="checkbox"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}
.roundedTwo [type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}
.roundedTwo [type="checkbox"]:not(:checked)+label:after, .roundedTwo [type="checkbox"]:checked+label:after {
    content: '✔';
    position: absolute;
    top: .1em;
    left: .1em;
    font-size: 1.4em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
}

#is-business-user+label {
    font-weight: 300;
}
