.bg-What,
.bg-WhatDone,
.bg-WhatSelected,
.bg-When,
.bg-WhenDone,
.bg-WhenSelected,
.bg-Where,
.bg-WhereDone,
.bg-WhereSelected {
    width: 40px;
    height: 40px
}
.bg-What {
    background: url(/static/website/images/cssSprites.png) -550px -784px
}
.bg-WhatDone {
    background: url(/static/website/images/cssSprites.png) -70px -784px
}
.bg-WhatSelected {
    background: url(/static/website/images/cssSprites.png) -798px -670px
}
.bg-When {
    background: url(/static/website/images/cssSprites.png) -490px -784px
}
.bg-WhenDone {
    background: url(/static/website/images/cssSprites.png) -798px -250px
}
.bg-WhenSelected {
    background: url(/static/website/images/cssSprites.png) -10px -784px
}
.bg-Where {
    background: url(/static/website/images/cssSprites.png) -190px -784px
}
.bg-WhereDone {
    background: url(/static/website/images/cssSprites.png) -670px -784px
}
.bg-WhereSelected {
    background: url(/static/website/images/cssSprites.png) -798px -70px
}
.bg-WhiteLogo {
    width: 150px;
    height: 39px;
    background: url(/static/website/images/cssSprites.png) -198px -108px
}
.bg-ZoomIn {
    width: 22px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -918px -406px
}
.bg-ZoomOut {
    width: 22px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -918px -490px
}
.bg-AddContact {
    width: 17px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -433px -404px
}
.bg-AddContactHover {
    width: 17px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -396px -404px
}
.bg-AddStop {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -142px
}
.bg-AddStopHover {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -98px
}
.bg-BlackLogo {
    width: 150px;
    height: 39px;
    background: url(/static/website/images/cssSprites.png) -330px -198px
}
.bg-BlueMarker {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -278px -404px
}
.bg-Cancel {
    width: 26px;
    height: 26px;
    background: url(/static/website/images/cssSprites.png) -728px -844px
}
.bg-CheckOFF {
    width: 22px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -918px -448px
}
.bg-CheckON {
    width: 22px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -918px -532px
}
.bg-ChooseOnMap {
    width: 16px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -674px -544px
}
.bg-ChooseOnMapHover {
    width: 16px;
    height: 22px;
    background: url(/static/website/images/cssSprites.png) -10px -900px
}
.bg-Confirm {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -798px -550px
}
.bg-ConfirmDone {
    width: 84px;
    height: 84px;
    background: url(/static/website/images/cssSprites.png) -374px -296px
}
.bg-ConfirmSelected {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -130px -784px
}
.bg-Contact {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -190px -900px
}
.bg-Done {
    width: 18px;
    height: 18px;
    background: url(/static/website/images/cssSprites.png) -472px -257px
}
.bg-DoneMarker {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -610px -784px
}
.bg-Drag,
.bg-DragHover,
.bg-DragPressed,
.bg-DropDown {
    width: 26px;
    height: 26px
}
.bg-Drag {
    background: url(/static/website/images/cssSprites.png) -682px -844px
}
.bg-DragHover {
    background: url(/static/website/images/cssSprites.png) -636px -844px
}
.bg-DragPressed {
    background: url(/static/website/images/cssSprites.png) -590px -844px
}
.bg-DropDown {
    background: url(/static/website/images/cssSprites.png) -544px -844px
}
.bg-DropOff {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -854px
}
.bg-DropOffBig {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -798px -370px
}
.bg-EditContact {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -154px -900px
}
.bg-EditContactHover {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -674px -586px
}
.bg-Error {
    width: 64px;
    height: 64px;
    background: url(/static/website/images/cssSprites.png) -510px -544px
}
.bg-EyeOFFDark {
    width: 22px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -614px
}
.bg-EyeOFFLight {
    width: 22px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -574px
}
.bg-EyeOnDark {
    width: 22px;
    height: 18px;
    background: url(/static/website/images/cssSprites.png) -430px -257px
}
.bg-EyeOnLight {
    width: 22px;
    height: 18px;
    background: url(/static/website/images/cssSprites.png) -388px -257px
}
.bg-FBBlue {
    width: 30px;
    height: 30px;
    background: url(/static/website/images/cssSprites.png) -344px -844px
}
.bg-FBWhite {
    width: 30px;
    height: 30px;
    background: url(/static/website/images/cssSprites.png) -394px -844px
}
.bg-Ghost {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -694px
}
.bg-GhostBig {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -858px -130px
}
.bg-GhostMarker {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -478px -336px
}
.bg-GhostMarkerOFF {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -814px
}
.bg-GhostOff {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -774px
}
.bg-GoogleRed {
    width: 30px;
    height: 30px;
    background: url(/static/website/images/cssSprites.png) -294px -844px
}
.bg-GoogleWhite {
    width: 30px;
    height: 30px;
    background: url(/static/website/images/cssSprites.png) -444px -844px
}
.bg-Indicator {
    width: 18px;
    height: 18px;
    background: url(/static/website/images/cssSprites.png) -358px -404px
}
.bg-Location {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -238px -404px
}
.bg-LocSaved {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -118px -900px
}
.bg-LocSavedHover {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -82px -900px
}
.bg-Logo {
    width: 44px;
    height: 44px;
    background: url(/static/website/images/cssSprites.png) -210px -716px
}
.bg-LogoDark {
    width: 44px;
    height: 44px;
    background: url(/static/website/images/cssSprites.png) -274px -716px
}
.bg-MyLocation {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -734px
}
.bg-Notifications {
    width: 30px;
    height: 30px;
    background: url(/static/website/images/cssSprites.png) -494px -844px
}
.bg-Optimize {
    width: 25px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -866px -844px
}
.bg-OptimizeHover {
    width: 25px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -10px
}
.bg-OptimizePath {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -478px -296px
}
.bg-OptimizePathHover {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -158px -404px
}
.bg-Pickup {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -918px -654px
}
.bg-PickupBig {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -790px -784px
}
.bg-PurpleMarker {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -318px -404px
}
.bg-RadioSelected {
    width: 26px;
    height: 26px;
    background: url(/static/website/images/cssSprites.png) -774px -844px
}
.bg-RadioUnSelected {
    width: 26px;
    height: 26px;
    background: url(/static/website/images/cssSprites.png) -820px -844px
}
.bg-RedMarkerWithNumber {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -798px -490px
}
.bg-Ripple {
    width: 38px;
    height: 18px;
    background: url(/static/website/images/cssSprites.png) -330px -257px
}
.bg-SavedLocDrop {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -186px
}
.bg-SavedLocDropHover {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -274px
}
.bg-SavedLocDropPressed {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -318px
}
.bg-SaveLoc {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -470px -404px
}
.bg-SaveLocHover {
    width: 16px;
    height: 16px;
    background: url(/static/website/images/cssSprites.png) -226px -900px
}
.bg-SaveRoute {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -54px
}
.bg-SaveRouteHover {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -230px
}
.bg-Stop {
    width: 20px;
    height: 20px;
    background: url(/static/website/images/cssSprites.png) -198px -404px
}
.bg-StopBig {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -798px -190px
}
.bg-Toggle {
    width: 16px;
    height: 19px;
    background: url(/static/website/images/cssSprites.png) -46px -900px
}
.bg-ToggleHover {
    width: 24px;
    height: 24px;
    background: url(/static/website/images/cssSprites.png) -918px -362px
}
.bg-Vehicle {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -858px -190px
}
.bg-VehicleDone {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -310px -784px
}
.bg-VehicleSelected {
    width: 40px;
    height: 40px;
    background: url(/static/website/images/cssSprites.png) -718px -716px
}
