@import "https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900";

:root {
    --main-bg-color: coral;
    --primary-color: #00d2f6;
    --primary-color-dark: rgb(0, 136, 168);
    --secondary-color: #514a9d;
    --primary-text-color: #fff;
    --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --bg-gradient: linear-gradient(134.18deg, #E4FAFF 0%, #FFFFFF 100%);
    --bg-dark-header-gradient: linear-gradient(134.19deg, #2E3031 0%, #39616A 100%);
    --bg-dark-gradient: linear-gradient(134.19deg, #2E3031 0%, #39616A 100%);
    --logo-url: url(/static/website/images/blowhorn/logo/logo.png);
    --font-family: 'Heebo', Helvetica,Arial,Lucida,sans-serif;

    --home-ondemand-bg: url(/static/website/images/blowhorn/homepage/home_page_on_demand/ondemand_bg.jpg);
    --home-enterprise-bg: url(/static/website/images/blowhorn/homepage/home_page_enterprise/enterprise_intro_bg.jpg);
    --bg-about: url(/static/website/images/blowhorn/homepage/about.jpg);
    --bg-solutions: url(/static/website/images/blowhorn/homepage/solutions.jpg);
    --bg-contact: url(/static/website/images/blowhorn/homepage/contact.jpg);
    --bg-career: url(/static/website/images/blowhorn/homepage/careers.jpg);
    --bg-team: url(/static/website/images/blowhorn/homepage/values.jpg);
    --bg-faq: url(/static/website/images/blowhorn/homepage/values.jpg);
    --bg-newsroom: url(/static/website/images/blowhorn/homepage/newsroom.jpg);

    --bg-home-ondemand-small: url(/static/website/images/blowhorn/homepage/home_page_on_demand/ondemand_bg_small.jpg);
    --bg-home-enterprise-small: url(/static/website/images/blowhorn/homepage/home_page_enterprise/enterprise_intro_bg.jpg);
    --bg-about-small: url(/static/website/images/blowhorn/homepage/about_small.jpg);
    --bg-solutions-small: url(/static/website/images/blowhorn/homepage/solutions_small.jpg);
    --bg-contact-small: url(/static/website/images/blowhorn/homepage/contact_small.jpg);
    --bg-career-small: url(/static/website/images/blowhorn/homepage/careers_small.jpg);
    --bg-team-small: url(/static/website/images/blowhorn/homepage/values_small.jpg);
    --bg-faq: url(/static/website/images/blowhorn/homepage/values_small.jpg);

    /* Alert Colors */
    --info: #52b9e9;
    --success: #4caf50;
    --warning: #f88529;
    --danger: #fa3031;
}

/*fontastic.me*/
@font-face {
    font-family: 'blowhorn-fonts';
    src: url('/static/website/fonts/blowhorn-fonts.eot');
    src: url('/static/website/fonts/blowhorn-fonts.eot?#iefix') format('embedded-opentype'),
        url('/static/website/fonts/blowhorn-fonts.woff') format('woff'),
        url('/static/website/fonts/blowhorn-fonts.ttf') format('truetype'),
        url('/static/website/fonts/blowhorn-fonts.svg#blowhorn-fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

*, body, button, input, textarea, form * {
	font-family: var(--font-family);
}

