:host {
    width: 100%;
    padding: 10px;
    background-color: #989898;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr min-content min-content min-content min-content min-content  1fr;
    grid-gap: 10px;        
    .current {
        position: relative;
        .search {
            color: #000000;
            height: 50px;
            width: 60px;
            background: white;
            display: grid;
            justify-items: center;
            align-items: center;
            padding: 0px 5px;
            
            font-weight: 400;
            font-size: 16px;
            outline: none;
            border: 1px solid lightgray;
            box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
            position: absolute;
            top: -55px;
            left: 50%;
        }
    }
    .first,
    .last,
    .current {
        height: 40px;
        min-width: 40px;
        span {
            font-weight: 400;
            font-size: 16px;
        }
    }
    .previous,
    .next {
        height: 40px;
        width: 40px;
        span {
            font-weight: 700;
            font-size: 30px;
        }
    }
    .next,
    .last {            
        justify-self: start;
    }
    .previous,
    .first {           
        justify-self: end;
    }
    .link {
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, .7);
        outline: none;
        border: none;
        border-radius: 2px;
        color: black;            
        background: white;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr; 
        transition: box-shadow .5s;           
        &:hover {
            outline: none;
            border: none;
            background: black;   
            color: white;             
            cursor: pointer;
            box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 1);            
        }            
    }        
    .disable {
        opacity: .4;
        pointer-events: none;
        box-shadow: 0px 0px 0px 0px transparent;
    }
    .enable {
        opacity: 1;
        pointer-events: all;
    }
    .hide {
        display: none;
        opacity: 0;
        z-index: -2;
    }
    .show {
        display: block;
        opacity: 1;
        transform: translateX(-50%);
        z-index: 5;
    }
    .pagination-info {
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 17px;
        span {
            
            font-size: 15px;
            font-weight: 500;
        }
    }
}
