<div class="wrapper">
    <span></span>
    <button class="link first"
      (click)="fetch_first()"
      [ngClass]="current_page !== 1 ? 'enable' : 'disable'"
      title="first page">
      <span>1</span>
    </button>
    <button class="link previous" 
      (click)="fetch_previous()"
      [ngClass]="previous ? 'enable' : 'disable'"
      title="previous page">
      <span class="fa fa-angle-left"></span>
    </button>
    <button class="link current"
      (click)="show_current_page_search($event)"
      [ngClass]="next || previous ? 'enable' : 'disable'"
      title="click to edit current page">
      <input #search_page class="search"
        [ngClass]="show_page_search ? 'show' : 'hide'"
        type="text"
        value="{{current_page}}"
        (blur)="hide_current_page_search($event)"
        (keydown)="fetch_current($event)" autofocus>
        <span>{{current_page}}</span>
    </button>
    <button class="link next"
      (click)="fetch_next()"
      [ngClass]="next ? 'enable' : 'disable'"
      title="next page">
      <span class="fa fa-angle-right"></span>
    </button>
    <button class="link last"
      (click)="fetch_last()"
      [ngClass]="current_page !== last_page ? 'enable' : 'disable'"
      title="last page">
      <span>{{last_page}}</span>
    </button>
    <div class="pagination-info">
      <span> {{(current_page - 1) * page_size + 1}} - {{current_page*page_size < count ? current_page*page_size : count}} of {{count}} records.</span>
    </div>
</div>