.main {
    background: white;
    margin: 0px auto;
    -webkit-box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
    box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
    padding: 15px;
    .title-container {
        display: flex;
        align-items: center;
        padding: 0px 0px 4px 0;
        .title {
            color: #141515;
            font-size: 18px;	
            line-height: 27px;
            margin-right: auto;
        }
    }
    .stops-fare {
        margin-top: 15px;
        display: flex;
        .pickup-dropoff-fare {
            flex: 1;
        }
    }
    .driver-vehicle-section {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .map {
        margin-top: 5px;
    }
    .shipment-details {
        margin-top: 20px;
        flex-direction: column;
    }
    .splitter {
        margin-top: 10px;
        background: #F7FBFC;
        width: 100%;
        height: 15px;
    }
    .footer {
        margin-top: 15px;
    }
}
@media (min-width: 575px) {
    .main {
        padding: 30px;
        .title-container {
            .title {
                font-size: 36px;
                line-height: 54px;
            }
        }
        .shipment-details {
            flex-direction: row;           
        }
    }
}