<div class="main">
  <div class="title-container">  
    <div class="title">
      <span>Invoice/Consignment Note</span>
    </div>
    <div class="logo-container">
      <img class="logo-invoice" src="{{blowhorn_service.rect_logo_url}}" alt="logo">
    </div>    
  </div>
  <app-invoice-print-panel [trip]="trip"
    (download_pressed)="download_invoice($event)">
  </app-invoice-print-panel>
  <div class="stops-fare">
    <div class="pickup-dropoff-fare">
      <app-invoice-pickup-dropoff-fare [trip]="trip"></app-invoice-pickup-dropoff-fare>
    </div>
  </div>
  <div class="driver-vehicle-section">
      <app-invoice-driver-vehicle-details [trip]="trip"></app-invoice-driver-vehicle-details>
  </div>
  <div class="map">
      <app-blowhorn-map [trip]="trip"
        [scrollwheel]="false"
        [streetViewControl]="false"
        [zoomControl]="false"
        [mapDraggable]="false"
        [height]="'40vh'">
      </app-blowhorn-map>
  </div>  
  <div class="shipment-details">
      <app-invoice-shipment-details
        [consignor]="consignor"
        [consignee]="consignee"
        [shipments]="shipments.length ? shipments : ['Generic goods/loose items']"
        [customer]="customer">
      </app-invoice-shipment-details>
  </div>
  <div class="splitter">
  </div>
  <div class="footer">
    <app-invoice-footer [office]="office" [trip]="trip"></app-invoice-footer>
  </div>
</div>
