<div class="trips-panel">
  <app-my-trips-list-view-filter (filter_changed)="filter_changed($event)"
    (export_fired)="export()"
    (search_fired)="search()">
  </app-my-trips-list-view-filter>
  <app-my-trips-list-view-grid-title>
  </app-my-trips-list-view-grid-title>
  <div class="trips-grid">
    <ng-container *ngFor="let trip of trips">
      <app-my-trips-list-view-grid-row
      [trip]=trip
        (is_assign_route_fired)="enable_assign_route($event)"
        (trip_clicked)="open_details($event)"
        (btn_doc_clicked)="show_document_gallery($event)">
      </app-my-trips-list-view-grid-row>
    </ng-container>
    <div *ngIf="trips.length <= 0" class="error">
      <span>{{error_msg}}</span>
    </div>
  </div>
  <div *ngIf="trips.length" class="pagination">
    <app-blowhorn-pagination #pagination
      (data_fetched)="update_trips($event)"
      [count]="count"
      [next]="next"
      [previous]="previous">
    </app-blowhorn-pagination>
  </div>
</div>
<div *ngIf="show.details" class="details-panel image-panel" tabindex="0"
    #overlay_panel_details
    (mouseover)="focus_details_panel($event)"
    (keyup)="close_details_fired($event)">
    <app-shipment-sku
    [heading]="'Trip Number: ' + selected_trip.trip_number"
    [show_order_number]="true"
    (close_fired)="close_details_fired($event)"
    ></app-shipment-sku>
</div>
<div *ngIf="show_documents">
  <app-proof-of-delivery
  [image_urls]="document_details"
  (details_closed)="show_documents=false">
  </app-proof-of-delivery>
</div>
