<div class="modal fade" id="modal-handed_over_to_cms" tabindex="-1" role="dialog"
  aria-labelledby="modalHandedOverToCms" aria-hidden="true">
  <div class='modal-dialog modal-lg'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="handed_over_to_cms-title"></h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="form-group" style="display: inline-block;">
            <label for="id_ack_number">Acknowledgement Number</label>
            <input type="text" name="ack_number" id="id_ack_number" class="form-control"
            style="height: 32px !important;">
          </div>
          <div class="row" id="ack-proof-document-container">
            <div class="form-group" style="width: 50%;display: inline-block;">
              <label for="id_ack_proof_document">Acknowledgement Slip Proof</label>
              <input type="file" name="ack_proof_document" id="id_ack_proof_document" class="form-control">
            </div>
            <input type="reset" class="btn btn-danger btn-footer border-0">
          </div>
          <div class="modal-footer modal-custom-footer">
            <button type="button" class="btn btn-danger btn-footer border-0"
              data-dismiss="modal">Cancel</button>
            <input type="submit" value="submit" class="btn btn-info btn-footer border-0" style="height: 32px; width:100px;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .row {margin: 0;}
  .border-0 {border: 0;}
  .id_ack_number {width: 50%; height: 32px !important;}
</style>