<agm-map
  [clickableIcons]="false"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="14"agm-map
  [fitBounds]="bounds"
  [streetViewControl]="false">
  <agm-marker *ngFor="let stop of route.stops; let index = index;"
      [latitude]="stop.position[0]" 
      [longitude]="stop.position[1]"
      [iconUrl]="get_icon_url(index)"
      [visible]="true"
      [label]="{
        text: (index + 1).toString(),
        color: 'white',
        fontFamily: 'heebo',
        fontSize: '18px',
        fontWeight: '600'
      }"
      [markerDraggable]="false">
      <agm-info-window>
          <app-route-info-window [stop]="stop"
            [stop_header]="get_stop_header(index)"
            (open_contact_form)="open_contact_form($event, stop, index)"
            (open_address_form)="open_address_form($event, stop, index)">
          </app-route-info-window>
      </agm-info-window>
  </agm-marker> 
  <agm-direction
    [origin]="route.stops[0].geopoint"
    [destination]="route.stops[route.stops.length -1].geopoint"
    [waypoints]="waypoints"
    [travelMode]="'DRIVING'"
    [optimizeWaypoints]="false"
    [visible]="true"
    [renderOptions]="renderOptions">
  </agm-direction>
</agm-map>

<div *ngIf="show_save_address" class="modal-window">
  <app-save-location 
    #address_form
    [location_name]="route.stops[stop_under_edit_index].saved_location.name"
    [contact_name]="route.stops[stop_under_edit_index].saved_location.name ? route.stops[stop_under_edit_index].saved_location.contact.name : route.stops[stop_under_edit_index].contact.name"
    [contact_mobile]="route.stops[stop_under_edit_index].saved_location.name ? route.stops[stop_under_edit_index].saved_location.contact.mobile : route.stops[stop_under_edit_index].contact.mobile"
    [latitude]="route.stops[stop_under_edit_index].geopoint.lat()"
    [longitude]="route.stops[stop_under_edit_index].geopoint.lng()"
    [heading]="_route_service.get_location_form_header()"
    [full_address]="route.stops[stop_under_edit_index].address.full_address"
    [area]="route.stops[stop_under_edit_index].address.area"
    [city]="route.stops[stop_under_edit_index].address.city"
    [postal_code]="route.stops[stop_under_edit_index].address.postal_code"
    [is_saved_location]="route.stops[stop_under_edit_index].address.name"
    (form_close)="close_address_form()"
    (form_save)="update_stop_saved_location($event, route.stops[stop_under_edit_index])">
  </app-save-location>
</div>
<div *ngIf="show_save_contact" class="modal-window">
   <app-save-contact 
    #contact_form
    [contact_name]="(route.stops[stop_under_edit_index].contact.name || route.stops[stop_under_edit_index].contact.mobile) ? route.stops[stop_under_edit_index].contact.name : route.stops[stop_under_edit_index].saved_location.contact.name"
    [contact_number]="(route.stops[stop_under_edit_index].contact.name || route.stops[stop_under_edit_index].contact.mobile) ?  route.stops[stop_under_edit_index].contact.mobile : route.stops[stop_under_edit_index].saved_location.contact.mobile"
    [heading]="_route_service.get_contact_form_header(stop_under_edit_index)"
    [details]="route.stops[stop_under_edit_index].address.full_address"
    (form_close)="close_contact_form()"
    (form_save)="update_stop_contact($event, route.stops[stop_under_edit_index])">
  </app-save-contact>
</div>
<div *ngIf="is_error.address || is_error.contact" class="modal-window">
  <div class="message-panel">
    <app-blowhorn-message
      [type]="'error'" [heading]="error_heading" [message]="error_msg"
      (close_fired)="reset_error()">
    </app-blowhorn-message>
  </div>  
</div>
