agm-map {
    width: 100%;
    height: 100%;
}
.message-panel {
    min-width: 200px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    border-radius: 2px;
    app-blowhorn-message {
        flex: 1;
    }
}
.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
