$baseFontSize: 14;
$blue: #5677fc;
$blueDark: #3b50ce;

$slideDistance: 100;
$slideDuration: .4s;

@function rem($val) {
  @return #{$val / $baseFontSize}rem;
}

:host {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.blowhorn-checkbox {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .checkbox-label {
        position: relative;
        margin: 5px;
        line-height: 1.1;
        cursor: pointer;
        display: flex;
        align-items: center;
        .checkbox-input {
            margin-right: 7px;
            cursor: pointer;
            background: white;
            border: none;         
            &:before {
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                content: "";
                position: absolute;
                left: 0;
                top: -1px;
                z-index: 1;
                width: 15px;
                height: 15px;
                border: 2px solid #ccc;
                background: white;
            }            
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: -1px;
                width: 15px;
                height: 15px;
                background: #fff;
                cursor: pointer;
            }
        }
        .box-checked {
            &:before {
                transform: rotate(-45deg);
                top: -1px;
                height: 8px;
                border-color: #757575;
                border-top-style: none;
                border-right-style: none;
                background: white;
            }
        }
    }
}
