<div class="blowhorn-checkbox" [ngStyle]="styles['checkbox-group-styles']">
  <label class="checkbox-label" for="{{id}}"
    [ngStyle]="styles['checkbox-label-styles']">
    <input #checkbox type="checkbox"
    class="checkbox-input"
    id="{{id}}"
    name="{{group_name}}"
    [ngStyle]="styles['checkbox-input-styles']"
    [ngClass]="checked ? 'box-checked' : ''"
    [checked]="checked"
    [disabled]="disabled"
    (change)="selectValue($event)">
    {{ !hide_label ? (label ? label : id) : '' }}
  </label>
</div>
