:host {
    width: 100%;
    flex: 1;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .driver-form {
            width: 100%;
            ::ng-deep .mat-focused .mat-form-field-label {
            /*change color of label*/
                color: #4E5454 !important;
            }
            
            ::ng-deep.mat-form-field-underline {
            /*change color of underline*/
                background-color: #4E5454 !important;
            } 
            
            ::ng-deep.mat-form-field-ripple {
            /*change color of underline when focused*/
                background-color: #4E5454 !important;;
            }
            .field-full-width {
                width: 100%;
            }
        }
          
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 10px;
            border-radius: 2px;
            
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
            border: 1px solid gray;
            color: #4E5454;
            background-color: #fff;
            outline: none;
            &:hover {
                background: rgb(63, 54, 54);
                color: #fff;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
            }
            &:disabled {
                color: rgb(127, 129, 129);
                pointer-events: none;
                .icon-holder {
                    background-color: rgb(127, 129, 129)!important;
                }
            }
        }
    }
}