<div class="wrapper">
  <h1 mat-dialog-title >Route Confirmation and Driver Selection</h1>
  <div mat-dialog-content>
    <span>
      <mat-accordion class="acc">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Selected Route
            </mat-panel-title>
            <mat-panel-description>
              Load: {{data.route.route_load}} &nbsp;&nbsp; Distance: {{ data.route.route_distance/1000 }} kms
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table style="
            padding: 5px;
            border: 15px solid white; 
            border-collapse: collapse;">
            <tr>
              <th style="text-align: center;">Order ID</th>
              <th style="text-align: center;">Stop Address</th>
              <th style="text-align: center;">Stop Type</th>
              <th style="text-align: center;">Stop Sequence</th>
            </tr>
            <tr *ngFor="let elements of data.route.elements">
              <td style="text-align: center;">{{ elements.order_id }}</td>
              <td style="text-align: center;">{{ elements.stop }}</td>
              <td style="text-align: center;">{{ elements.type }}</td>
              <td style="text-align: center;">{{ elements.stop_sequence }}</td>
            </tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </span>
    <br>
    <span>
      <form class="driver-form">
        <mat-form-field class="field-full-width">
          <input aria-label="Driver" placeholder="Select a Driver From the List" type="text" style= "width: 100%" matInput [formControl]="driverControl" [matAutocomplete]="auto" (blur) ="checkDriver()">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)='selectDriver($event.option.value)'>
            <mat-option *ngFor="let driver of filteredDrivers | async" [value]="driver">
              <span>{{ driver.name }}</span> 
              <small> || Driver ID: {{ driver.id }} </small>
              <small> || Vehicle Number: {{ driver.driver_vehicle }} </small>
              <small *ngIf="driver.is_blowhorn_driver"> || Blowhorn Driver || Contract ID: {{driver.contract}}</small>
              <small *ngIf="driver.is_marketplace_driver"> || Marketplace Driver </small>
            </mat-option>
          </mat-autocomplete>
      </mat-form-field>
      </form>
    </span>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" >Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button [mat-dialog-close] = data.selected_driver cdkFocusInitial>Confirm Trip Creation</button> 
  </div>
</div>