<div *ngIf="upload_tab" class="wrapper">
  <div class="title">Find Optimized Routes for Shipment Orders</div>
  <div class="upload-section">
    <span>Upload Shipment Order Export CSV </span>
    <span>[Recommended csv size is less than 60 orders! If the orders are more than 60 please be patient, it may take a while!]</span>
    <br>
    <form class="upload-form">
      <span style="width: 100%">
        <mat-form-field style="width: 100%;">
          <div style="white-space: pre;">
            <input placeholder="Number of Drivers" matInput #number_vehicles (keyup)="onKeyNumberOfVehicles($event)" type="number" value=3 name="vehicles" required />&nbsp;&nbsp;&nbsp;
          </div>
        </mat-form-field>
      </span>
      <span style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Constraint Preferred" required [(ngModel)]="selectedConstraint" name="constraint" (selectionChange)="changeConstraint($event.value)">
            <mat-option *ngFor="let constraint of constraints" [value]="constraint.param">
              {{constraint.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span *ngIf="constraint_is_distance" style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <div style="white-space: pre;">
            <input placeholder="Limiting Distance Per Driver in Kms" matInput #limiting_distance (keyup)="onKeyLimitingDistance($event)" type="number" value=60 name ="distance" required /> &nbsp;&nbsp;&nbsp;
          </div>
        </mat-form-field>
      </span>
      <span *ngIf="!constraint_is_distance" style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <div style="white-space: pre;">
            <input placeholder="Limiting Duration Per Driver in Hours" matInput #limiting_duration (keyup)="onKeyLimitingDuration($event)" type="number" value=3 name ="duration" required /> &nbsp;&nbsp;&nbsp;
          </div>
        </mat-form-field>
      </span>
      <span style="width: 100%;">
        <mat-form-field style="width: 100%;">
          <mat-select placeholder="Capacity Constraint Unit" required [(ngModel)]="selectedUnit" name="unit" (selectionChange)="changeCapacityUnit($event.value)">
            <mat-option *ngFor="let constraint of capacity_const" [value]="constraint.param">
              {{constraint.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </span>
      <span *ngIf="unit_is_weight" style="width: 100%">
        <mat-form-field style="width: 100%;">
          <div style="white-space: pre;">
            <input placeholder="Vehicle Capacity (Weight-wise)" matInput #vehicle_capacity (keyup)="onKeyVehicleCapacity($event)" type="number" name="capacity" value=0 />&nbsp;&nbsp;&nbsp;
          </div>
        </mat-form-field>
      </span>
      <span *ngIf="!unit_is_weight" style="width: 100%">
        <mat-form-field style="width: 100%;">
          <div style="white-space: pre;">
            <input placeholder="Vehicle Capacity (Volume-wise)" matInput #vehicle_capacity (keyup)="onKeyVehicleCapacity($event)" type="number" name="capacity" value=0 />&nbsp;&nbsp;&nbsp;
          </div>
        </mat-form-field>
      </span>
      <app-blowhorn-upload #file_upload [id]="'shipment_orders_export'"
        (file_changed)="file_changed($event)"
        (upload_file)="upload_file($event)">
      </app-blowhorn-upload>
    </form>
  </div>
</div>
<div *ngIf="map_tab" class="title"> Routes Information - {{ api_response.batch_id }} </div>
<div class="message-wrapper" *ngIf="map_tab && show_message" [ngClass]="{'success': type === 'success', 'error':type === 'error' }">
  <div class="heading" *ngIf="heading">
    <span class="heading-span">{{heading}}</span>
    <span class="fa fa-times cross" (click)="close()"></span>
  </div>
  <div class="message" *ngIf="error_lists.length || message">
    <span class="msg-span" *ngIf="message">{{message}}</span>
    <span class="msg-span" *ngIf="error_lists.length">
      <span class="error-row" *ngFor="let item of error_lists">
        Order Number: {{item.order_number}} &nbsp;&nbsp;&nbsp;&nbsp; Coverage: {{item.coverage}}
      </span>
    </span>
    <span *ngIf="!heading" class="fa fa-times cross" (click)="close()"></span>
  </div>
</div>
<div *ngIf="map_tab" class="route_parent">
  <div class="route_display">
    <div *ngFor="let cluster of api_response.rows">
      <mat-accordion class="acc">
        <div *ngFor="let route of cluster.routes_information">
          <mat-expansion-panel (click)="generateRoute(route)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Available Route
              </mat-panel-title>
              <mat-panel-description *ngIf="constraint_is_distance">
                Load Carried in Route ({{ selectedUnit }}): {{route.route_load}} &nbsp;&nbsp; Distance Travelled in Route: {{ route.route_distance/1000 | number:'.2-2' }} kms
              </mat-panel-description>
              <mat-panel-description *ngIf="!constraint_is_distance">
                Load Carried in Route ({{ selectedUnit }}): {{route.route_load}} &nbsp;&nbsp; Duration of Travel in Route: {{ (route.route_distance - (route.route_distance%3600))/3600 | number:'.0-0' }}hrs {{ ((route.route_distance%3600)/60) | number:'.0-0' }} mins
              </mat-panel-description>
            </mat-expansion-panel-header>
            <table style="
              padding: 5px;
              border: 15px solid white; 
              border-collapse: collapse;">
              <tr>
                <th style="text-align: center;">Order ID</th>
                <th style="text-align: center;">Stop Address</th>
                <th style="text-align: center;">Stop Type</th>
                <th style="text-align: center;">Stop Sequence</th>
              </tr>
              <tr *ngFor="let elements of route.elements">
                <td style="text-align: center;">{{ elements.order_id }}</td>
                <td style="text-align: center;">{{ elements.stop }}</td>
                <td style="text-align: center;">{{ elements.type }}</td>
                <td style="text-align: center;">{{ elements.stop_sequence }}</td>
              </tr>
            </table>
            <mat-action-row>
              <button name="trip" (click)="openDialog(route)">Create Trip for this Route</button>
            </mat-action-row>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
    <br>
    <div>
      <button style="width: 100%;" name="clear" (click)="clearRoutes()">Clear Routes on Map</button>
    </div>
    <br>
    <div>
      <button style="width: 100%;" name="clear" (click)="refreshRoutes()"> Upload a New File</button>
    </div>
  </div>
  <div class="map">
    <div class="map-container">
      <agm-map
          [clickableIcons]="false"
          (mapReady)="on_map_ready($event)"
          [latitude]="latitude_center"
          [longitude]="longitude_center"
          [zoom]="zoom_level"
          [streetViewControl]=true
          [zoomControlOptions] = "{position: zoomPosition}">
          <div *ngFor="let cluster of api_response.rows">
            <div *ngFor="let route of cluster.routes_information">
              <agm-marker *ngFor="let stops of route.elements"
                [latitude]="stops.stop_coordinates.latitude"
                [longitude]="stops.stop_coordinates.longitude"
                (markerClick)="select_marker(stops)"
                [iconUrl]="get_icon_url(stops.stop_sequence, route)"
                [visible]="true"
                [label]="{
                  text: (stops.stop_sequence).toString(),
                  color: 'white',
                  fontFamily: 'heebo',
                  fontSize: '18px',
                  fontWeight: '600'
                }"
                [markerDraggable]="false">
                <agm-info-window>
                  <p style="text-align: center;"><strong>Stop Details</strong></p>
                  <p>Order ID: {{ stops.order_id }}</p>
                  <p>Stop Type: {{ stops.type }}</p>
                  <p>Sequence: {{ stops.stop_sequence }}</p>
                </agm-info-window>
              </agm-marker>
            </div>
          </div>
          <div *ngIf="route_directory.length > 0">
            <div *ngFor="let route of route_directory">
              <agm-direction 
                [(origin)]="route.origin" 
                [(destination)]="route.destination" 
                [(waypoints)]="route.waypoints" 
                [visible]="route.visible"
                [travelMode]="'DRIVING'"
                [optimizeWaypoints]="false"
                [renderOptions]="renderOptions">
              </agm-direction>
            </div>
          </div>
      </agm-map>
    </div>
  </div>
</div>