<div class="dashboard">
  <header>
    <div class="container">
      <div class="col-sm-2 col-xs-4">
        <a href="/" title="Blowhorn">
          <img src="/static/website/images/blowhorn_logo.png" width="70" height="68" alt="Blowhorn logo" class="img-responsive" />
        </a>
      </div>
      <nav class="pull-right col-sm-6 col-xs-8 proxima-nova-light">
        <div id="user-logged-in">
          <ul>
            <li class="menu_cus_dashboard"><a href="/" title="Home">Home</a>
            </li>
            <li class="menu_cus_dashboard">
              <a id="btn-logout" title="Profile" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><img id="user-pic" src="/static/website/images/dummy_profile.png" width="36" height="36" alt="User" /> <span class="hidden-xs">Profile</span> <span class="icon-arrow-down"></span>
              </a>
              <ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="btn-logout">
                <li hidden role="presentation"><a id="btn-profile" role="menuitem" tabindex="-1" href="#"><span class="icon-edit-main"></span> View / Edit Profile</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout/"><span class="icon-logout"></span> Logout</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <br/>
  <div class="container-fluid col-lg-offset-1">
    <ul class="nav nav-tabs">
      <li class="nav-item" ng-class="{active:isSelected(1)}"><a class="nav-link" ng-click="selectTab(1); refreshMap();">Live Tracking</a></li>
      <li class="nav-item" ng-class="{active:isSelected(2)}"><a class="nav-link" ng-click="selectTab(2)">Tripsheets</a></li>
    </ul>
  </div>
  <div class="driver_table" ng-show="isSelected(2)">
    <div class="container-fluid" style="min-height: 80vh;">
      <div class="row top-row">
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <label for="driver" style="margin-top: 0;">Drivers</label>
            <div isteven-multi-select id="drivers" class="sub-text pointer" input-model="driver_id_name_list" output-model="selected_driver_id" button-label="name" item-label="name" output-properties="name value" max-labels="1" tick-property="ticked" helper-elements="filter" max-height="250px" is-disabled="isLoading || (driver_id_name_list.length === 0)"></div>
          </div>
          <div class="col-md-2">
            <label for="tripsheet_from" style="margin-top: 0;">Start Date</label>
            <input ng-disabled="isLoading" type='text' class="form-control sub-text" placeholder="From Date" id='tripsheet_from'/>
          </div>
          <div class="col-md-2">
            <label for="tripsheet_to" style="margin-top: 0;">End Date</label>
            <input ng-disabled="isLoading" type='text' class="form-control sub-text" placeholder="To Date" id='tripsheet_to'/>
          </div>
          <div class="col-md-2" style="margin-top: 15px;">
            <button ng-disabled="isLoading"  id="fetchData" type="button" class="btn btn-success btn-md btn-filter" ng-click="fetchTripsheets()">
              <span ng-show="isLoading"><i class="fa fa-spinner fa-spin"></i></span>
              <span ng-show="!isLoading">Fetch</span>
            </button>
          </div>
          <div class="col-md-2 pull-right" style="margin-top: 15px;" ng-show="rowTripsheetCollection.length > 0">
            <div class="inner-addon right-addon">
              <input type="text" class="sub-text form-control" ng-model="searchText" placeholder="Search" />
              <i class="sub-text glyphicon glyphicon-search"></i>
            </div>
          </div>
      </div>
      <br/>
      <!-- Displaying message in page -->
      <div class="init-info-text" id="info-text">
        <h4>{{infoText}}</h4>
      </div>
      <!-- Tripsheet tables -->
      <div id="tripsheet-tables-wrapper" class="tripsheet-tables-wrapper" ng-hide="rowTripsheetCollection.length===0">
        <!-- <div id="tripsheet-data" ng-repeat="bf in businessFlows" class="text-nowrap tripsheet-data"> -->
            <!-- <div class="row text-center" ng-hide="businessFlows.length == 1">{{bf.name}}</div> -->
            <table class="table table-bordered table-striped top-buffer tripsheet-table" st-table="tripsheetCollection" st-safe-src="rowTripsheetCollection" export-functions export-ignore-headers="{{headersToIgnore}}" export-filename-prefix="{{filenamePrefix}}">
              <thead class="table-header">
                <tr>
                  <th>Sl No</th>
                  <th class="pointer" st-sort="creation_date">Date</th>
                  <th class="pointer" st-sort="driver_name">Driver</th>
                  <th class="pointer" st-sort="vehicle_number">Vehicle</th>
                  <th class="pointer" st-sort="start_time">Start Time</th>
                  <th class="pointer" st-sort="end_time">End Time</th>
                  <!-- <th class="pointer" st-sort="estimated_drop_time">Estimated Drop Time</th> -->
                  <th class="pointer" st-sort="total_distance">Total Distance</th>
                  <th class="pointer" st-sort="total_time">Total Time</th>
                  <th class="pointer" st-sort="status">Status</th>
                  <!-- <th class="pointer" st-sort="hub">Hub</th> -->
                  <!-- <th class="pointer" st-sort="{{h.key}}" ng-repeat="h in bf.columns track by $index">{{h.name}}</th> -->
                </tr>
              </thead>
                <tbody>
                  <tr st-select-row="row" ng-repeat="row in collection = (tripsheetCollection | filter: searchText) track by $index" class="text-nowrap">
                      <td>{{$index + 1}}</td>
                      <td>{{row.creation_date}}</td>
                      <td class="pointer">{{row.driver_name}}</td>
                      <td class="pointer">{{row.vehicle_number}}</td>
                      <td class="pointer">{{row.start_time}}</td>
                      <td class="pointer">{{row.end_time}}</td>
                      <!-- <td class="pointer">{{row.estimated_drop_time}}</td> -->
                      <td class="pointer right-align">{{row.total_distance | number: 1}}</td>
                      <td class="pointer right-align">{{row.total_time}}</td>
                      <td class="pointer">{{row.status}}</td>
                      <!-- <td ><a href="http://maps.google.com/maps?q={{row.hub_geopt}}" target="_blank">{{row.hub}}</a></td> -->
                      <!-- <td ng-repeat="col in bf.columns track by $index">{{row[col.key]}}</td> -->
                  </tr>
                </tbody>
                <tfoot>
                  <tr style="background-color: #e9e9e9;">
                    <td colspan="6" class="footer-cell"><b>Total:</b></td>
                    <!-- <td ng-repeat="col in bf.columns track by $index">
                        <b ng-show="col.total">{{col.total = (collection | grandTotal: col.key)}}</b>
                        <b ng-show="!col.total"></b>
                    </td> -->
                    <td class="right-align">{{collection | grandTotal: col.key}}</td>
                    <td colspan="2"></td>
                  </tr>
                </tfoot>
                <!-- <thead class="table-header">
                    <tr>
                        <th>Sl No</th>
                        <th class="pointer" st-sort="creation_date">Date</th>
                        <th class="pointer" st-sort="driver_name">Driver</th>
                        <th class="pointer" st-sort="hub">Hub</th>
                        <th class="pointer" st-sort="{{h.key}}" ng-repeat="h in bf.columns track by $index">{{h.name}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="row in collection = (tripsheetCollection | filter: {business_flow_key: bf.key} | filter: searchText) track by $index" class="text-nowrap">
                        <td>{{$index + 1}}</td>
                        <td>{{row.creation_date}}</td>
                        <td class="pointer" ng-click="viewDriverTrace(row, $event)"><a>{{row.driver_name}}</a></td>
                        <td ><a href="http://maps.google.com/maps?q={{row.hub_geopt}}" target="_blank">{{row.hub}}</a></td>
                        <td ng-repeat="col in bf.columns track by $index">{{row[col.key]}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr style="background-color: #e9e9e9;">
                        <td colspan="4" class="footer-cell"><b>Total:</b></td>
                        <td ng-repeat="col in bf.columns track by $index">
                            <b ng-show="col.total">{{col.total = (collection | grandTotal: col.key)}}</b>
                            <b ng-show="!col.total"></b>
                        </td>
                    </tr>
                </tfoot> -->
            </table>
          <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="map" ng-show="isSelected(1)">
    <div class="container-fluid custom-container">
      <div class="row top-row">
        <div class="col-md-2 pull-left">
          <select id="drivers-search" class="form-control select2" ng-options="k as v for (k, v) in driver_names" ng-model="driver" ng-change="selectDriver()" custom-select2></select>
          <!-- <div class="input-group dropdown" uib-dropdown  ng-init="showdrivers = false" is-open="showdrivers" tooltip-placement="bottom">
              <input type="text" id="driver-search" ng-keydown="showdrivers = true" ng-model="driver_searchText" class="form-control text-left" placeholder="Search Driver by Name" />
              <div class="input-group-btn">
                  <button type="button" class="btn btn-default dropdown-toggle driver-dropdown" uib-dropdown-toggle style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;"><span class="caret"></span></button>
              </div>
              <ul class="dropdown-menu custom-dropdown" uib-dropdown-menu role="menu">
                  <li role="menuitem" ng-repeat="driver in driver_names | filter:driver_searchText track by $index"><a ng-click="selectDriver(driver)">{{driver}}</a></li>
              </ul>
          </div> -->
        </div>
      </div>
      <div class="container-fluid">
        <div class="row map-row">
          <div ng-class="showSidebar ? 'sidebar-map-wrapper' : 'collapse-sidebar-display' ">
            <div id="left-nav-driver" style="background-color:#fff;">
              <div class="collapse-marker">
                <a ng-click="openDriverListSidebar()"><i ng-class="toggleSidebar ? 'minus-marker' : 'plus-marker' " id="i_class"></i></a>
              </div>
              <div class="nav-container-driver">
                <ul class="nav-driver" id="driver-details-list"> 
                  <li ng-repeat="(key, value) in driver_details track by $index">
                    <a ng-click="getDriverFromSidebar(key)">
                      <span class="text" id="driver-name-map">{{value.name}}</span></br>
                      <span class="booking-id-text">Category: {{value.status}}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="google-map" id="google-map"></div>
        </div>
      </div>
    </div>
    <div hidden>
      <input id="toggle-infowindow" type='submit' class='btn-sm btn-orange' value='Toggle Infowindow' style="margin-right: 10px" ng-click="toggleInfowindow()"/>
      <input id="fit-zoom" class="btn-sm btn-orange" type="submit" value="Fit Zoom" ng-click="fitZoom()">
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 copyrightdiv">
          <span class="copyright">Copyright 2016 &copy; Blowhorn. All rights reserved. <a title="Terms of Use">Terms of Use</a></span>
        </div>
        <div class="col-md-4 col-sm-5 blogabout">
          <nav>
            <ul>
              <li><a href="blog" target="_blank" title="Blog">Blog</a></li>
              <li><a href="about" title="About Us">About Us</a></li>
              <li><a href="careers" title="Careers">Careers</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>
<myfleet-driver-log></myfleet-driver-log>   
<myfleet-driver-chart></myfleet-driver-chart>
<myfleet-past-driver></myfleet-past-driver>

<script type="text/javascript">
  $(document).ready(function () {
    $("#datevalid").validate({
      rules: {
        start: "required",
        end: "required",
      },
      errorPlacement: function (error, element) {
        return true;
      }
    });
  });
  $('#tripsheet_from').datetimepicker({
    format: "DD-MMM-YYYY",
    useCurrent: false,
    showClear:true,
  });
  $('#tripsheet_to').datetimepicker({
    format: "DD-MMM-YYYY",
    useCurrent: false,
    showClear:true,
  });
</script>
