<div id="modal-driver-chart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-driver-chart" aria-hidden="true" style="z-index: 1050;">
    <div class="modal-dialog modal-lg" style="width: 80%;">
        <div class="modal-content" style="border: 5px solid #02BFE0;overflow: hidden;">
        	<div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" style="margin:0 !important;"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">Driver Distance Stats</h4>
            </div>
            <div class="modal-body" >
            	<div class="container" style="width: 100%;height: 100%;">
                    <div id="distance_chart"></div> 
            	</div>
            </div>   
        </div>
    </div>
</div>
