<div id="modal-driver-details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-driver-details" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 95%;">
        <div class="modal-content" style="border: 5px solid #02BFE0;overflow: hidden;">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" style="margin:0 !important;"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">Driver Details</h4>
            </div>
            <div class="modal-body" style="width: 100%; height: 95%">
                <div class="container" style="width: 100%;height: 100%;">
                    <div class="row top-row">
                        <div class="col-md-7">
                            <label for="driver_name" style="margin:0;float:none;" >Driver Name</label>
                            <input type="text" name="driver_name" id="driver_name" readonly/>
                            <label for="driver_id" style="margin:0;float:none;" >Driver ID</label>
                            <input type="text" name="driver_id" id="driver_id" readonly/>
                            <span id="displayoption">
                                <label style="margin:0;float:none;">Display Options:</label>
                                <button type="button" class="btn1 btn1-info1" title="Display All" id="displayall">All</button>
                                <button type="button" class="btn1 btn1-info1" title="Distance Table" id="displaydistance">Distance</button>
                                <button type="button" class="btn1 btn1-info1" title="Meter Table" id="displaymeter">Meter</button>
                            </span>
                        </div>
                        <div class="col-md-5 top-row-right">
                            <input type="text" placeholder="Start Date" name="startdate" id="startdate">
                            <input type="text" placeholder="End date" name="enddate" id="enddate">
                            <button type="button" class="btn1 btn1-info1" title="Report" id="report" ng-click=showReport(); ><i class="glyphicon glyphicon-stats" style="vertical-align:text-top;margin-right: 3px;"></i>Get Report</button>
                            <div id="export" class="dropdown col-md-1 no-padding-left pull-right" ng-show="distanceCollection.length>0" style="width: auto;"></div>
                        </div>
                    </div>
                    <div id="distance_table">
                        <center><h3>Driver Distance Table</h3></center>
                        <div class="container-fluid custom-container" st-table="distanceCollection" st-safe-src="distanceRowCollection">
                            <table id="distance-table" class="table table-bordered table-striped top-buffer" export-functions export-container-id="export" export-filename-prefix="{{exportFilenamePrefix}}">
                                <thead style="background: #0193ac; color:#fff;">
                                    <tr>
                                        <th style="width: 10px;">Sl No</th>
                                        <th>Date</th>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Distance in Km</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div id="distance-table-wrap">
                                        <tr ng-repeat="row in distanceCollection">
                                            <td>{{$index + 1}}</td>
                                            <td><a class="pointer" ng-click="openDriverTrace(row.driver_id, row.date)">{{row.date}}</a></td>
                                            <td>{{row.start_time}}</td>
                                            <td>{{row.end_time}}</td>
                                            <td>{{row.distance_km}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                            <h4 id="no-table-data" class="text-center" ng-show="distanceCollection.length===0">No records found</h4>
                        </div>
                    </div>
                    <div id="meter_table">
                        <center><h3>Driver Meter Table</h3></center>
                        <div class="container-fluid custom-container" st-table="meterCollection" st-safe-src="meterRowCollection">
                            <table id="meter-table" class="table table-bordered table-striped top-buffer">
                                <thead style="background: #0193ac; color:#fff;">
                                    <tr>
                                        <th style="width: 10px;">Sl No</th>
                                        <th>Meter start time</th>
                                        <th>Meter start value</th>
                                        <th>Meter end time</th>
                                        <th>Meter end value</th>
                                        <th>Meter Distance</th>
                                        <th>GPS distance</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div id="meter-table-wrap">
                                        <tr ng-repeat="row in meterCollection">
                                            <td>{{$index + 1}}</td>
                                            <td><a class="pointer" ng-click="openDriverTrace(row.driver_id, row.date)">{{row.mr_begin_time}}</a></td>
                                            <td>{{row.mr_begin_value}}</td>
                                            <td>{{row.mr_end_time}}</td>
                                            <td>{{row.mr_end_value}}</td>
                                            <td>{{row.mr_distance}}</td>
                                            <td>{{row.distance_gps_km}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                            <h4 id="no-table-data" class="text-center" ng-show="meterCollection.length===0">No records found</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getContextPath() {
        return "{{ request.host_url }}";
    }
    function hideAll(){

        $("#distance_table").hide();
        $("#meter_table").hide();
    }
    function showAll(){
        $("#distance_table").show();
        $("#meter_table").show();
    }
    $( document ).ready(function() {
        $('#displayall').click(function(){
            showAll();
        });
        $('#displaydistance').click(function(){
            $("#distance_table").show();
            $("#meter_table").hide();
        });
        $('#displaymeter').click(function(){
            $("#meter_table").show();
            $("#distance_table").hide();
        });
    });
    $('#startdate').datetimepicker({
        format: "DD-MMM-YYYY",
        useCurrent: false,
        //autoclose: true,
    });  
    $('#enddate').datetimepicker({
        format: "DD-MMM-YYYY",
        useCurrent: false,
        //autoclose: true,
    });
</script>
