<div id="modal-past-driver-details" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-past-driver-details" aria-hidden="true" style="z-index: 1020;">
    <div class="modal-dialog modal-lg" style="width: 75%;">
        <div class="modal-content" style="border: 5px solid #02BFE0;overflow: hidden;">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close" style="margin:0 !important;"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title">Past Driver Details</h4>
            </div>
            <div class="modal-body" style="width: 100%; height: 100%">
                <div class="container" style="width: 100%;height: 100%;">
                    <!-- <div class="row">
                        <div style="float:left;">
                            
                        </div>
                        <div style="float:right;text-align:right;">
                            <button type="button" class="btn1 btn1-info1" title="Export as CSV" id="export"><i class="glyphicon glyphicon-export" style="vertical-align:text-top;margin-right: 3px;"></i>Export as CSV</button>
                        </div>
                    </div> -->
                    <div id="past_drivers_table">
                        <div class="container-fluid custom-container" st-table="pastDriverCollection" st-safe-src="pastDriverRowCollection">
                            <table id="past-driver-table" class="table table-bordered table-striped top-buffer">
                                <thead style="background: #0193ac; color:#fff;">
                                    <tr>
                                        <th style="width: 10px;">Sl No</th>
                                        <th>Date</th>
                                        <th>Driver Mobile</th>
                                        <th>Driver Name</th>
                                        <th>Group</th>
                                        <th>Reg no</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <div id="past-driver-table-wrap">
                                        <tr ng-repeat="row in pastDriverCollection">
                                            <td>{{$index + 1}}</td>
                                            <td><a class="pointer" ng-click="showLog(row)">{{row.date}}</a></td>
                                            <td>{{row.driver_id}}</td>
                                            <td>{{row.name}}</td>
                                            <td>{{row.mapped_to}}</td>
                                            <td>{{row.regno}}</td>
                                        </tr>
                                    </div>
                                </tbody>
                            </table>
                            <h4 id="no-table-data" class="text-center" ng-show="pastDriverCollection.length===0">No records found</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
