<!-- {% load mathfilters %} -->

<!DOCTYPE html>
<html style="background-color: #fff;">

<head>
  <style>

    thead {
      display: table-header-group
    }

    tfoot {
      display: table-row-group
    }

    tr {
      page-break-inside: avoid;
      padding: 5px;
      line-height: 1.2;
    }

    div.container {
      height: 29.7cm;
      width: 29cm;
      margin-left: auto;
      margin-right: auto;
    }

    header,
    footer {
      font-family: Calibri;
    }

    .head_top_padding {
      margin-top: 0px;
      display: inline-block;
    }

    .table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }

    .table-with-padding {
      padding: 15px 0px;
    }

    .table_th {
      font-family: sans-serif;
      font-size: 13pt;
      margin: 0px;
      padding: 0px;
    }

    .tr_with_right_border {
      border-right: 1px solid black;
    }

    .tr_with_right_top_border {
      border-right: 1px solid black;
    }

    .tr_with_no_right_border {
      border-right: none !important;
    }

   .tr_with_left_border {
      border-left: 1px solid black;
    }

   .tr_with_no_left_border {
      border-left: none !important;
    }


    .table_td {
      font-family: sans-serif;
      font-size: 12pt;
      text-align: left;
      padding: 0.2em 0.2em 0.2em 0.5em;
      font-weight: 400;
    }

    .display_style {
      font-family: sans-serif;
      font-size: 19px;
      text-align: center;
      width: 100%;
      line-height: 1.2;
    }

    .border_right {
      border-right: 1px solid black;
    }

    .border_left {
      border-left: 1px solid black;
    }

    .border_bottom {
      border-bottom: 1px solid black;
    }

    .border_right_bottom {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    .border_left_bottom{
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      }

    .border_rbl {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
    }

    .border_right_top {
      border-right: 1px solid black;
      border-top: 1px solid black;
    }

    .border_top {
      border-right: 1px solid black;
      border-top: 1px solid black;
    }

    .border_rbt {
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .border_right_left {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }

    .entire_border {
      border: 1px solid black;
    }

    .padding_class {
      padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .table_tr {
      border: 1px solid black;
    }

    .text_align_center {
      text-align: center;
    }

    .table_row_space {
      padding-top: 40px;
    }

    .caption_your_details {
      text-align: left;
      font-size: 10pt;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    tablefooter {
      margin-top: 0em;
      font-family: Arial, sans-serif;
      font-size: 8pt;
    }

    article {
      font-size: 13pt;
      text-align: justify-all;
      font-family: Calibri;
    }

    .head_padding {
      margin-bottom: 0.2em;
    }

    .grey_background {
      background-color: #eaeff4;
    }

    sup {
      font-size: 5pt
    }

    th,
    td {
      padding: 5px !important;
    }

    .annexure {
      width: 100% !important;
      font-family: Calibri;
      font-size: 18px !important;
      font-weight: 600 !important;
      text-align: center !important;
      margin: 20px auto !important;
    }

    .table-caption {
      font-family: Calibri;
      line-height: 1.2 !important;
      font-size: 16px !important;
      font-weight: 500 !important;
      float: left !important;
    }

    .table-right-caption {
      font-family: Calibri;
      line-height: 1.2 !important;
      font-size: 15px !important;
      font-weight: 400 !important;
      float: right !important;
    }

    @page {
      size: A4;
      /*margin: 70pt 60pt 120pt;*/
    }

    @media print {
      body {
        -webkit-print-color-adjust: exact;
      }

      h4 {
        page-break-after: auto;
        page-break-inside: avoid;
      }

      table {
        page-break-after: auto;
        page-break-inside: avoid;
      }

      header .print {
        display: block;
      }

      thead {
        display: table-header-group;
        page-break-inside: avoid;
      }

      tfoot {
        display: table-row-group
      }

      tr {
        page-break-inside: avoid
      }

      h1,
      h2,
      h3,
      h4,
      article {
        page-break-after: auto;
        page-break-inside: avoid;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <table class="table">
      <tr class="tr_with_right_border">
        <th class="table_th border_right_top border_left grey_background" width="100%" colspan="5" valign="bottom">GOODS RECEIVED NOTE</th>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_th border_right_top border_left grey_background" width="15%">Supplier</td>
        <td class="table_th border_right_top border_left" width="30%">{{data.supplier_name}}</td>
        <td class="table_td border_right border_top" width="10%"></td>
        <td class="table_th border_right_top border_left grey_background" width="15%">GRN No.</td>
        <td class="table_th border_right_top border_left" width="30%">{{data.grn_number}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_th border_rbt border_left grey_background" width="15%">Total Price</td>
        <td class="table_th border_rbt border_left" width="30%">&#8377;{{data.total_price}}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_th border_rbt grey_background" width="15%">Date</td>
        <td class="table_th border_rbt border_left" width="30%">{{data.date}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_th border_rbt border_left grey_background" width="15%">Delivery Address</td>
        <td class="table_th border_rbt border_left" width="30%">{{data.address}}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_th border_rbt grey_background" width="15%">GSTIN</td>
        <td class="table_th border_rbt border_left" width="30%">{{data.gstin}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_th border_left" width="15%">&nbsp;</td>
        <td class="table_th" width="30%">&nbsp;</td>
        <td class="table_td" width="10%"></td>
        <td class="table_th" width="15%">&nbsp;</td>
        <td class="table_th border_right" width="30%">&nbsp;</td>
      </tr>
    </table>

    <table class="table">
      <tr class="tr_with_right_border">
        <th class="table_th border_right_top border_left grey_background" width="5%" valign="bottom">S. NO</th>
        <th class="table_th border_right_top grey_background" width="15%" valign="bottom"> Product Name</th>
        <th class="table_th border_right_top grey_background" width="9%" valign="bottom"> Pack Size</th>
        <th class="table_th border_right_top grey_background" width="10%" valign="bottom">Price</th>
        <th class="table_th border_right_top grey_background" width="6%" valign="bottom">Ordered Qty</th>
        <th class="table_th border_right_top grey_background" width="10%" valign="bottom">Recieved Qty</th>
      </tr>

    {% for item in data.items %}
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl" width="5%"> {{forloop.counter}}</td>
        <td class="table_td border_right_bottom" width="15%"> {{item.name}}</td>
        <td class="table_td border_right_bottom " width="9%" style="text-align:right"> {{item.size}}</td>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> &#8377;{{item.price}}</td>
        <td class="table_td border_right_bottom " width="6%" style="text-align:right"> {{item.quantity}}</td>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> {{item.delivered_quantity}}</td>
      </tr>
      {% endfor %}

    <table class="table">
      <tr class="tr_with_left_border">
        <td class="table_td border_right " style="text-align: left;" colspan="6"></td>
      </tr>
      <tr class="tr_with_left_border">
        <td class="table_td border_right" style="text-align: center;" colspan="6"> </td>
      </tr>
      <tr class="tr_with_left_border">
        <td class="table_td border_left_bottom" style="text-align: center; font-weight: 600;" colspan="6"> Received By </td>
      </tr>

      <tr class="tr_with_left_border">
        <td class="table_td border_left_bottom " style="text-align: center;" colspan="3"> {{data.receiver_name}}</td>
      </tr>
      <tr class="tr_with_left_border">
        <td class="table_td border_right" style="text-align: center;" colspan="6"> </td>
      </tr>

      <tr class="tr_with_left_border">
        <td class="table_td border_left_bottom " style="text-align: center;" colspan="6">This is computer generated GRN requires no signature</td>
      </tr>

      <tr class="tr_with_left_border">
        <td class="table_td border_rbl grey_background " colspan="6" rowspan="6" style="text-align: center;"> Authorised Signatory</td>
      </tr>

    </table>
      <br><br>

  </div>
</body>

</html>