<div class="map-container">
  <agm-map
    [clickableIcons]="false"
    (mapReady)="on_map_ready($event)"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [scrollwheel]="scrollwheel"
    [streetViewControl]="streetViewControl"
    [zoomControl]="zoomControl"
    [mapDraggable]="mapDraggable"
    [ngStyle]="{ 'height': height, 'width': width }">

    <agm-marker
      [latitude]="trip.pickup.location.lat"
      [longitude]="trip.pickup.location.lng"
      [iconUrl]="trip.pickup.status != 'done'? pickup_marker_img : pickup_marker_done_img">
    </agm-marker>
    <agm-marker
      [latitude]="trip.dropoff.location.lat"
      [longitude]="trip.dropoff.location.lng"
      [iconUrl]="trip.dropoff.status != 'done'? dropoff_marker_img : dropoff_marker_done_img">
    </agm-marker>

    <div class="markers" *ngFor="let m of markers; let i = index">
      <agm-marker
        [latitude]="m.location.lat"
        [longitude]="m.location.lng"
        [label]="(i+1).toString()"
        [iconUrl]="m.status != 'done'? stop_marker_img : stop_marker_done_img">
      </agm-marker>
    </div>
    <agm-polyline [strokeWeight]="stroke_weight" [strokeColor]="stroke_color">
      <div *ngFor="let p of trace" >
        <agm-polyline-point [latitude]="p.lat" [longitude]="p.lng">
        </agm-polyline-point>
      </div>
    </agm-polyline>
  </agm-map>
</div>
