<div dropdown
  #dropdown="bs-dropdown"
  class="dropdown dropdown-styles"
  [ngStyle]="styles['dropdown-styles']"
  (mouseover)="dropdown.show()"
  (mouseout)="dropdown.hide()">
  <div dropdownToggle
    class="btn dropdown-toggle dropdown-toggle-styles"
    (click)="false"
    [ngStyle]="styles['dropdown-toggle-styles']">
    <img class="user-image" src="{{blowhorn_service.avatar_url}}" alt="user">
    <div class="dropdown-toggle-display-styles"
      [ngStyle]="styles['dropdown-toggle-display-styles']">
      <span class="content">{{ username }}</span>
    </div>
    <span class="caret dropdown-toggle-caret-style"
      [ngStyle]="styles['dropdown-toggle-caret-styles']">
    </span>
  </div>
  <div *dropdownMenu
    class="dropdown-menu dropdown-menu-styles"
    [ngStyle]="styles['dropdown-menu-styles']">
    <a class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      (click)="openProfile()">
      <span class="content">Profile</span>
    </a>
    <a class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      href="/wms/dashboard" *ngIf="!userProfile.is_staff && blowhorn_service.is_non_individual">
      <span class="content">WMS Dashboard</span>
    </a>
    <a class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      href="/myaccount" *ngIf="!userProfile.is_staff && userProfile.is_org_admin">
      <span class="content">My Wallet</span>
    </a>
    <a class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      (click)="openChangePassword()">
      <span class="content">Change Password</span>
    </a>
    <a class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      (click)="logoutUser()"
    >
      <span class="content">Logout</span>
    </a>
  </div>
</div>
<!-- PROFILE POPUP -->
<div class="modal-window" *ngIf="showProfile">
  <div class="profile">
    <div class="modal-header">
      <div class="modal-title-text">Profile</div>
      <span class="fa fa-times cross" *ngIf="!profileUpdateRequired" (click)="showProfile=false"></span>
    </div>
    <div class="modal-body">
      <div class="loader-container" *ngIf="submittingProfile">
        <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
      </div>
      <form name="form" (ngSubmit)="f.form.valid && updateProfile()" #f="ngForm"
        novalidate (change)="isUpdateSuccess=false">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="userProfile.email"
          [readonly]="userProfile.email"
            #email="ngModel" [ngClass]="{ 'is-invalid': (email.dirty || email.touched) && email.invalid }"
            placeholder="Email" required />
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="userProfile.name"
          #name="ngModel" [ngClass]="{ 'is-invalid': (name.dirty || name.touched) && name.invalid }"
          placeholder="Name" required />
          <div *ngIf="(name.dirty || name.touched) && name.invalid" class="invalid-feedback">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <div class="phone-number-container">
            <app-isd-code [styles]="isdCodeStyles"></app-isd-code>
            <input type="text" class="form-control" name="mobile" [(ngModel)]="userProfile.mobile"
            #mobile="ngModel" [ngClass]="{ 'is-invalid': (mobile.dirty || mobile.touched) && mobile.invalid }"
            placeholder="Mobile" required />
          </div>
          <div *ngIf="(mobile.dirty || mobile.touched) && mobile.invalid" class="invalid-feedback">
            <div *ngIf="mobile.errors.required">Mobile is required</div>
            <div *ngIf="mobile.invalid">Enter a valid mobile number</div>
          </div>
        </div>
        <!-- <div class="form-group form-check" *ngIf="!userProfile.is_staff">
          <input type="checkbox" class="form-control form-check-input" name="is_business_user"
          [(ngModel)]="userProfile.is_business_user"
          [readonly]="true"
          #is_business_user="ngModel" />
          <label for="is_business_user" class="form-check-label">I'm a business user</label>
        </div> -->
        <div class="form-group" *ngIf="userProfile.is_business_user && !userProfile.is_staff" [@fadeInOut]>
          <label for="legal_name">Company Name</label>
          <input type="text" class="form-control" name="legal_name" [(ngModel)]="userProfile.legal_name"
          #legal_name="ngModel" [ngClass]="{ 'is-invalid': (legal_name.dirty || legal_name.touched) && legal_name.invalid }"
          [required]="userProfile.is_business_user"
          [readonly]="true"
          placeholder="Company Name" />
          <div *ngIf="(legal_name.dirty || legal_name.touched) && legal_name.invalid" class="invalid-feedback">
            <div *ngIf="legal_name.errors.required">Company name is mandatory for business user</div>
          </div>
        </div>
        <div class="form-group" *ngIf="userProfile.is_business_user && !userProfile.is_staff" [@fadeInOut]>
          <label for="gstin">GSTIN</label>
          <input type="text" class="form-control" name="gstin" [(ngModel)]="userProfile.gstin"
          #gstin="ngModel" [ngClass]="{ 'is-invalid': (gstin.dirty || gstin.touched) && gstin.invalid }"
          [required]="userProfile.is_business_user"
          [readonly]="true"
          placeholder="GSTIN" />
          <div *ngIf="(gstin.dirty || gstin.touched) && gstin.invalid" class="invalid-feedback">
            <div *ngIf="gstin.errors.required">Reg. number is mandatory for business user</div>
          </div>
        </div>
        <div class="message">
          <div class="success" *ngIf="isUpdateSuccess" [@fadeInOut]>{{ successMessage }}</div>
          <div class="error" *ngIf="errorMessage" [@fadeInOut]>{{ errorMessage.message }}</div>
          <div class="error" *ngIf="error" [@fadeInOut]>{{ error }}</div>
        </div>
        <div class="modal-footer">
            <app-blowhorn-button
            *ngIf="!profileUpdateRequired"
            class="mr-2"
            [label]="'Cancel'"
            [type]="'delete'"
            (click)="showProfile=false">
            </app-blowhorn-button>
            <app-blowhorn-button
            [label]="'Submit'"
            [disabled]="f.form.invalid"
            [type]="'save'">
            </app-blowhorn-button>
        </div>
      </form>
      <div class="d-flex flex-column rounded bg-white p-3 mt-3 shadow" *ngIf="blowhorn_service.is_org_owner">
        <h5 class="text-danger mb-1">Danger Zone</h5>
        <div class="justify-content-between align-items-center">
            <div class="text-black-50 mb-2">
                All your data will be deleted from blowhorn system.
                Once you delete, there is no going back. Please be certain.
            </div>
            <app-blowhorn-button
            [label]="'Delete my data'"
            [type]="'delete'"
            [styles]="deleteBtnStyles"
            [disabled]="submittingProfile"
            (click)="deleteRequest()">
            </app-blowhorn-button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CHANGE PASSWORD POPUP -->
<div class="modal-window" *ngIf="showChangePassword">
  <div class="change-password-modal">
    <div class="modal-header">
      <div class="modal-title-text">Change Password</div>
      <span class="fa fa-times cross" (click)="showChangePassword=false"></span>
    </div>
    <div class="modal-body">
      <div class="loader-container" *ngIf="pwdSubmitting">
        <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
      </div>
      <form name="pwdForm" (ngSubmit)="pwdForm.form.valid && updatePassword()" #pwdForm="ngForm"
        novalidate (change)="pwdUpdateSuccess=false;pwdErrorMessage='';">
        <div class="form-group">
          <label for="current-password">Current Password</label>
          <input type="password" class="form-control"
            name="oldpassword"
            placeholder="Current Password"
            [(ngModel)]="pwdData.oldpassword"
            #oldpassword="ngModel"
            [ngClass]="{ 'is-invalid': (oldpassword.dirty || oldpassword.touched) && oldpassword.invalid }"
            required/>
          <div *ngIf="oldpassword.invalid && (oldpassword.dirty || oldpassword.touched)" class="invalid-feedback">
            <div *ngIf="oldpassword.errors?.required">Enter the current password</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password1">New Password</label>
          <input type="password" class="form-control"
          name="password1"
          #password1="ngModel"
          [(ngModel)]="pwdData.password1"
          [ngClass]="{ 'is-invalid': (password1.dirty || password1.touched) && password1.invalid }"
          placeholder="New Password" required />
          <div
          *ngIf="(password1.dirty || password1.touched) && password1.invalid"
          class="invalid-feedback">
            <div *ngIf="password1.errors?.required">Enter a new password</div>
            <div *ngIf="pwdData.password1 && pwdData.password1 === pwdData.oldpassword">New password can't be same as old</div>
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control" name="password2" [(ngModel)]="pwdData.password2"
          #password2="ngModel"
          [ngClass]="{
            'is-invalid': (password2.dirty || password2.touched) &&
            (password2.invalid || pwdData.password2 !== pwdData.password1)}"
          placeholder="Confirm Password" required />
          <div *ngIf="(password2.dirty || password2.touched) &&
          (password2.invalid || (pwdData.password2 && pwdData.password2 !== pwdData.password1))"
          class="invalid-feedback">
            <div *ngIf="password2.errors?.required">Confirm your new password</div>
            <div *ngIf="pwdData.password2 && pwdData.password2 !== pwdData.password1">
              Confirm password not matched with new password
            </div>
          </div>
        </div>
        <div class="message">
          <div class="success" *ngIf="pwdUpdateSuccess" [@fadeInOut]>Password changed successfully</div>
          <div class="error" *ngIf="!pwdUpdateSuccess" [@fadeInOut]>{{pwdErrorMessage}}</div>
        </div>
        <div class="modal-footer">
          <app-blowhorn-button
          [label]="'Cancel'"
          [type]="'delete'"
          (click)="showChangePassword=false">
        </app-blowhorn-button>
          <app-blowhorn-button
          [label]="'Submit'"
          [disabled]="pwdForm.form.invalid || pwdData.password2 !== pwdData.password1"
          [type]="'save'">
        </app-blowhorn-button>
        </div>
      </form>
    </div>
  </div>
</div>
