.summary-holder {
  margin: 30px 42px;
  box-shadow: 1px 1px 3px 0 #cecece;
  background-color: white;
  position: relative;

  .filter-holder {
    padding: 12px 15px 0 12px;

    .label {
      color: gray;
      font-size: 17px;
    }

    #dropdownFirst, #dropdownSecond {
      min-width: 125px;
      padding: 8px 12px 8px 12px;
      border: none;
      outline: none;
      font-size: 14px;
      color: gray;
      background-color: white !important;
      cursor: pointer;

      &:hover {
        color: black;
        background-color: var(--primary-color) !important;
      }
    }

    .dropdown-item {
      font-weight: 700 !important;
      color: #5e5e5e !important;
      background-color: white !important;
      margin: 10px 0 !important;
      outline: none;

      &:hover, &.active {
        color: #fc3446 !important;
        background-color: white !important;
        cursor: pointer;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      box-shadow: 1px 1px 3px 0 #cecece;
      padding: 0;
      margin: 0;
    }
  }

  .statistic-holder {
    padding: 0 15px 15px 15px;

    .trips {
      font-size: 40px;
      font-weight: 600;
      color: #535353;
    }

    .label {
      font-size: 22px;
      font-weight: 300;
      color: #5e5e5e;
      white-space: nowrap;

      .cost, .distance {
        font-weight: 600;
        color: #535353;
      }

      img {
        padding-bottom: 7px;
        height: 26px;
        opacity: 0.6;
      }
    }
  }

  .chart {
    overflow-x: scroll;
    width: calc(100vw - 670px);
    margin: 10px;
  }
}

@media screen and (max-width: 767px){
  .summary-holder {
    margin: 10px 12px !important;

    .filter-holder {
      flex-direction: column;

      .params-holder {
        justify-content: center;
        align-items: center;
        flex-direction: row !important;

        [ngbDropdown] {
          margin: 10px 0 !important;
          display: flex !important;
        }
      }
    }

    .statistic-holder-out {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

      .label {
        font-size: 18px;
      }
    }

    .chart {
      width: 90%;
    }
  }
}

@media screen and (max-width: 575px){
  .chart {
    width: 90%;
  }

  .params-holder {
    justify-content: center;
    align-items: center;
    flex-direction: column;

    [ngbDropdown] {
      margin: 10px 0 !important;
      display: flex !important;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .chart {
    width: calc(100vw - 400px) !important;
  }
}
