@import 'variable.css';

*, body {
  font-family: var(--font-family);
}

.bookingSummaryForm-mobile input {
  padding-left: 60px !important;
  padding-right: 10px !important;
}

.bookingSummaryForm-mobile .selected-dial-code {
  top: 6px !important;
}
.main-content {
  padding-top: 10%;
}
.estimated-fare-text .glyphicon {
  margin-left: 12px;
}
.roundedTwo {
  padding: 15px;
}
#register-modal .modal-sm .modal-form-fixer {
  background-color: #F0F5F7;
  color: #929A9B;
}

.scroll-yes {
  overflow: auto;
  height: auto;
}

.scroll-no {
  overflow: hidden;
  height: 100vh;
}

.show-success {
  transform: rotateY(180deg);
}

#track-btn {
  background-image: var(--gradient-btn);
  color: var(--primary-text-color);
  cursor: pointer !important;
  border-radius: 0px 5px 5px 0px;
}

.city-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-download {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact-us {
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-flow: wrap;
}

.btn-submit,
.btn-blue {
  font-family: var(--font-family);
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 0 38px;
  margin-top: 40px;
  height: 56px;
  background-color: var(--primary-color);
}

#register-modal .modal-content,
#completed .modal-content {
  background: var(--bg-gradient);
  color: #fff;
}

#register-otp {
  color: #fff;
}

.trackinput {
  background-color: #fff !important;
  color: rgb(53, 53, 53);
  border-radius: 5px 0px 0px 5px !important;
}

.booking-track {
  border: none;
}

.booking-track:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  z-index: 0;
  top: -3px;
  left: 30px;
}

#intro nav .dropdown-menu {
  border: none;
  border-radius: 8px;
  background-color: var(--primary-text-color);
}

#intro nav .dropdown-menu li,
#intro nav .dropdown-menu li a {
  background-color: transparent;
  cursor: pointer;
}

#intro nav .dropdown-menu li a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#intro nav li .dropdown-menu li a {
  color: rgb(53, 53, 53) !important;
}

#intro nav li .dropdown-menu li a:hover {
  color: #fff !important;
  background-color: rgb(53, 53, 53);
}

a .due-amount {
  font-size: 10px;
  color: #e02222;
  line-height: 15px;
  font-weight: 700;
}

a:hover .due-amount {
  color: var(--primary-text-color);
}

.header-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-panel .header-main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.header-panel .header-main .header-burger,
.header-panel .header-main .header-logo,
.header-panel .header-main .header-singup {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.header-panel .header-main .header-logo {
  margin-right: auto !important;
}

.header-panel .header-main .header-logo img {
  margin-left: -5px !important;
}

.header-panel .header-main .header-burger {
  flex-direction: column;
  clear: both !important;
  width: unset !important;
  padding: 0px 5px 0px 0px;
}

.header-panel .header-main .header-burger .icon-bar {
  margin: 3px 0px;
}

.mobile-nvbar {
  display: flex;
  align-items: center;
}

.modal-content {
  border-radius: 8px;
  background: var(--bg-gradient);
}

.pac-container {
  display: block;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  font-family: var(--font-family);
  font-size: 14px;
  border-radius: 8px;
  background-color: var(--primary-text-color);
}

.pac-container::after {
  content: '';
}

.pac-container .pac-item {
  padding: 10px 10px;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0px;
  transition: border 0.3s 0.2s;
  transform-origin: center;
}

.pac-container .pac-item:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pac-container .pac-item>span {
  color: rgb(53, 53, 53) !important;
}

.pac-container .pac-item:hover {
  background-color: rgb(53, 53, 53) !important;
  border-left: 5px solid #fff;
}

.pac-container .pac-item:hover>span {
  color: #fff !important;
}

.blowhorn_logo {
  margin-left: 8px !important;
  width: 150px !important;
}

.dropdown-menu {
  left: 15px;
  width: calc(100% - 30px);
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-text-color);
}

.dropdown-menu li,
.dropdown-menu li a {
  background-color: transparent;
  cursor: pointer;
}

.dropdown-menu li a {
  padding: 15px 10px;
  color: rgb(53, 53, 53) !important;
  transition: border 0.3s 0.2s;
  transform-origin: center;
}

.dropdown-menu li a:hover {
  background-color: rgb(53, 53, 53);
  color: #fff !important;
  border-left: 5px solid #fff;
}

.dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.home-page .enterprise-bg {
  background: var(--home-enterprise-bg) no-repeat center center fixed;
  background-size: cover;
}

.home-page .ondemand-bg {
  background: var(--home-ondemand-bg) no-repeat center center fixed;
  background-size: cover;
}

.home-page .booking-section {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-page .select-city {
  flex: 1;
}

.home-page .layer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0.7) 100%);
}

.home-page .main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-page .arrow {
  animation: scroll-arrow 1.5s infinite;
}

.home-page .ondemand-enterprise {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  margin: 25px 0px;
}

.home-page .what-we-offer-main-content,
.home-page .customers-main-content,
.home-page .help-you-need-main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 25px 0px;
}

.home-page .ondemand-enterprise .tab-bar,
.faq-page .tab-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.faq-page .tab-bar {
  align-items: center;
  justify-content: center;
}

.home-page .tab-content {
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.home-page .tab-btn,
.faq-page .tab-btn {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02px;
  line-height: 21px;
  padding: 5px;
  padding-left: 0px;
  margin: 10px 20px 10px 0px;
  border-bottom: 2px solid #ffffff;
  cursor: pointer;
}

.faq-page .tab-btn {
  color: #434343;
  /* width: 20%; */
  justify-content: center;
  display: flex;
}

.faq-page .panel-group {
  width: 100%;
  position: relative;
}

.home-page .tab-bar-active,
.faq-page .tab-bar-active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

.faq-page .faq-vehicle-load-details {
  font-family: var(--font-family);
  box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.faq-page .faq-vehicle-load-details .faq-vd-head {
  display: flex;
  background-color: #ccc;
  font-weight: 400;
}

.faq-page .faq-vehicle-load-details .faq-vd-head div {
  padding: 0.8em 1.2em;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
}

.faq-page .faq-vehicle-load-details .faq-vd-row {
  display: flex;
}
.faq-page .faq-vehicle-load-details .faq-vd-row div {
  padding: 0.8em 1.2em;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
}


.faq-page .faq-vehicle-load-details .faq-vd-row .sub-header {
  text-align: center;
  background: #ece8e8;
  font-weight: 300;
}

.home-page .banner-title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.06px;
  line-height: 54px;
  color: var(--primary-text-color);
  padding: 0px 0px;
  color: #000;
  font-weight: 800;
}

.home-page .banner-sub-title {
  margin-top: 15px;
  display: flex;
}

.home-page .banner-sub-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.04px;
  line-height: 36px;
  padding: 0px 0px;
}

.home-page .flip-right,
.home-page .flip-left {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04px;
  line-height: 36px;
  font-weight: 500;
  transition: all 3s;
  position: relative;
}

.home-page .column-container {
  display: flex !important;
  align-items: stretch;
}

.home-page .before-flip {
  padding-right: 5px;
}

.home-page .scroll-down {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-top: auto;
  padding-bottom: 15px;
  padding-top: 25px;
}

.home-page .scroll-down span {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.02px;
  line-height: 21px;
}

.home-page .what-we-offer,
.home-page .what-we-offer-enterprise,
.home-page .customers,
.home-page .help-you-need {
  width: 100vw;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .help-you-need,
.home-page .what-we-offer,
.home-page .what-we-offer-enterprise {
  background-color: rgb(250, 249, 249);
}

.home-page .cutomers {
  background-color: #ffffff;
}

.home-page .title,
.about-page .title,
.contacts-page .title,
.team-page .title,
.solutions-page .title,
.faq-page .title,
.news-page .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .title .header,
.about-page .title .header,
.contacts-page .title,
.team-page .title .header,
.faq-page .title .header,
.solutions-page .title,
.solutions-page .title .text,
.news-page .title {
  height: auto !important;
  color: #434343;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03px;
  line-height: 27px;
}

.faq-page .title .header,
.news-page .title .header {
  font-size: 18px !important;
  line-height: 27px !important;
}

.home-page .card-panel {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.blowhorn_logo {
  width: 120px !important;
}

.home-page .horizontal-split,
.about-page .horizontal-split,
.contacts-page .horizontal-split,
.team-page .horizontal-split,
.solutions-page .horizontal-split,
.faq-page .horizontal-split {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.home-page .horizontal-split .splitter,
.about-page .horizontal-split .splitter,
.contacts-page .horizontal-split .splitter,
.team-page .horizontal-split .splitter,
.solutions-page .horizontal-split .splitter,
.faq-page .horizontal-split .splitter {
  width: 71px;
  height: 4px;
  border-radius: 3.5px;
  background-color: #434343;
}

.home-page .get-started {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px;
}

.home-page .get-started .get-started-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 228px;
  border-radius: 30px;
  background-image: var(--gradient-btn);
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  cursor: pointer;
}

.solutions-page .inner-card-panel {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: wrap;
}

.solutions-page .inner-card {
  width: 400px;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.solutions-page .inner-card .text {
  font-size: 16px;
  line-height: 24px;
}

.home-page .pickup-dropoff-wrapper {
  padding: 25px 0px;
}

.home-page .inputs {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.home-page .inputs-ent {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px 10px;
  opacity: 0.8;
}

.home-page .top-input {
  border-radius: 8px 8px 0px 0px;
}

.home-page .inputs-ent .name,
.home-page .inputs-ent .contact-no,
.home-page .inputs-ent .email-id {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 0px 5px;
  flex: 1;
}

.home-page .inputs-ent .name img,
.home-page .inputs-ent .contact-no img,
.home-page .inputs-ent .email-id img {
  padding-right: 10px;
  width: 30px;
  height: 20px;
}

.home-page .inputs-ent div {
  display: flex;
}

.home-page .inputs-ent:not(:last-child) {
  border-bottom: 1px solid rgba(151, 151, 151, 0.4);
}

.home-page .inputs-ent div input {
  flex: 1;
  outline: none;
  border: none;
}

.home-page .input-header {
  color: #434343;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px;
}

.home-page .city {
  padding: 15px 10px;
  background-color: #ffffff;
  border-radius: 8px;
  opacity: 0.8;
}

.home-page .city,
.home-page .pickup,
.home-page .dropoff {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.home-page .pickup,
.home-page .dropoff {
  background-color: #ffffff;
  border-radius: 8px;
  opacity: 0.8;
  padding: 0px;
}

.home-page .pickup img,
.home-page .dropoff img {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -8px;
}

.home-page .pickup input,
.home-page .dropoff input {
  padding: 13px 3px 13px 30px;
  border: 2px solid transparent !important;
  border-radius: 8px;
}

.home-page .pickup input[type='text'].error,
.home-page .pickup input[type='password'].error,
.home-page .dropoff input[type='text'].error,
.home-page .dropoff input[type='password'].error {
  border: 2px solid #f64656 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(246, 70, 86, 0.4);
  box-shadow: inset 0 1px 1px rgba(246, 70, 86, 0.4);
}

.home-page .city {
  line-height: 25px;
}

.home-page .city .caret {
  justify-self: flex-end;
}

.home-page .city img {
  margin-right: 10px;
  margin-top: -3px;
}

.home-page .select-city {
  cursor: pointer;
}

.home-page .address-input {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
  background-color: var(--primary-text-color);
  font-size: 16px;
  line-height: 24px;
}

.home-page #book {}

.home-page .cities-list {
  position: absolute;
  top: 55px;
  left: 0px;
}

.home-page .cities-list li a {
  padding: 10px;
}

.home-page .city-item {
  padding: 5px;
  font-size: 16px;
  line-height: 24px;
}

.home-page .inputs:not(:last-child) {
  border-right: 1px solid rgba(151, 151, 151, 0.4);
}

.home-page .book {
  width: 228px;
  outline: none;
  border: none;
  background-image: var(--gradient-btn);
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  border-radius: 30px;
  padding: 15px;
}

.home-page .book-btn-wrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page .offer-panel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
}

.home-page .offer-card,
.solutions-page .offer-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 25px 0px;
  max-width: 400px;
}

.home-page .offer-card .card-title {
  color: #3388a7;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03px;
  line-height: 24px;
  padding: 10px 0px;
  text-align: center;
}

.solutions-page .offer-card .card-image-holder span {
  position: absolute;
  bottom: 0px;
  left: 15px;
  font-weight: bold;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.03px;
  line-height: 24px;
  text-transform: uppercase;
}

.home-page .card-main,
.solutions-page .card-main {
  width: 100%;
  border-radius: 8px;
  background-color: #ffffff;
  flex: 1;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.home-page .card-image {
  border-radius: 8px 8px 0px 0px;
}

.home-page .points-panel {
  flex: 1;
  margin-top: -5px;
  width: 100%;
  border-radius: 8px;
  padding: 15px 0px 10px 0px;
  background-color: #ffffff;
}

.home-page .points-panel li {
  color: #6a6a6a;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03px;
  line-height: 21px;
  padding: 5px 10px 5px 0px;
}

.home-page .learn-more-panel,
.about-page .learn-more-panel {
  width: 100%;
  padding: 45px 0px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.home-page .learn-more,
.about-page .learn-more {
  color: #696969;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.home-page .learn-more-btn,
.about-page .learn-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
}

.home-page .learn-more-link,
.about-page .learn-more-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.home-page .learn-more-btn i,
.about-page .learn-more-btn i {
  color: var(--primary-text-color);
}

.home-page .customer-images {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
}

.home-page .customer-row {
  width: 100%;
}

.home-page .ondemand-tab {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
}

.home-page .customer-image {
  /* padding: 40px 10px; */
  padding: 24px 38px;
  width: 16%;
  vertical-align: middle;
  margin: auto;
  /* flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  /* width: 10%; */
}

.home-page .customer-image img {
  width: 100px;
}

.home-page .help-row {
  width: 100%;
}

.home-page .help-row-text {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 0px;
  text-align: center;
}

.home-page .help-row-text span {
  font-size: 16px;
  line-height: 24px;
}

.home-page .help-item {
  padding: 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.home-page .help-item img {
  padding: 15px;
  height: 80px;
}

.home-page .help-item div {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  color: #434343;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03px;
  line-height: 24px;
}

.home-page .help-row span {
  color: #434343;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03px;
  line-height: 24px;
  margin: 20px 0px;
}

.home-page .enterprise-tab {}

.home-page .enterprise-left {
  padding: 15px 0px;
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-page .enterprise-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0px;
}

.home-page .enterprise-form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  perspective: 1000px;
}

.home-page .call-back {
  border: none;
  outline: none;
  transition: transform 0.6s ease-in-out;
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  transform-style: preserve-3d;
}

.call-back-front,
.call-back-back {
  border-radius: 0px 0px 8px 8px;
  width: 100%;
  color: #ffffff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  backface-visibility: hidden;
  padding: 15px 10px;
}

.call-back-front {
  border: none;
  background-image: var(--gradient-btn);
  cursor: pointer;
}

.call-back-back {
  background-image: linear-gradient(to right,
    #57f48f,
    #4cd76e,
    #41ba4d,
    #359e2c,
    #288300);
  transform: rotateY(180deg);
}

.home-page .why-wait {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  padding: 15px 0px;
  margin-top: 56px !important;
}

.solutions-section .layer,
.about-section .layer,
.contacts-section .layer,
.career-section .layer,
.team-section .layer,
.faq-section .layer,
.news-section .layer {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5) 30%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  flex: 1;
}

#solutions-contact-form {
  perspective: 1000;
}

#solutions-contact-form input {
  background-color: #f1f0f0;
  border-radius: 8px;
  outline: none !important;
  border: none;
  height: 42px;
  width: 100%;
  padding-left: 10px;
}

#solutions-contact-form input::placeholder {
  padding: 0px;
  opacity: 0.7;
  color: #434343;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.03px;
  line-height: 24px;
}

.send-button-panel {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.send-button,
.send-button-message {
  width: 100%;
  position: absolute;
  height: 42px;
  border-radius: 21px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.04px;
  line-height: 27px;
  text-transform: uppercase;
  backface-visibility: hidden;
  border: none;
}

.send-button {
  background: var(--gradient-btn);
}

.send-button-message {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right,
    #57f48f,
    #4cd76e,
    #41ba4d,
    #359e2c,
    #288300);
  transform: rotateY(180deg);
}

.inner-card-form {
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 56px;
  text-align: center;
}

.solutions-page .offer-card .card-image-holder {
  position: relative;
}

.solutions-page .solutions-panel {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-flow: wrap;
}

.solutions-page .offer-card .card-image-holder img {
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.09);
}

.solutions-page .offer-card .card-content {
  padding: 15px;
}

.solutions-page .offer-card .card-content p {
  color: #434343;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03px;
  line-height: 21px;
  text-align: justify;
  margin: 0px;
  padding: 10px;
}

element.style {
  overflow-x: hidden;
}
.section-height {
  height: 530px;
}

.about-page .about-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-about) no-repeat center center fixed;
  background-size: cover;
}

.solutions-page .solutions-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-solutions) no-repeat center center fixed;
  background-size: cover;
}

.contacts-page .contacts-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-contact) no-repeat center center fixed;
  background-size: cover;
}

.career-page .career-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-career) no-repeat center center fixed;
  background-size: cover;
}

.team-page .team-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-team) no-repeat center center fixed;
  background-size: cover;
}

.faq-page .faq-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-faq) no-repeat center center fixed;
  background-size: cover;
}

.news-page .news-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--bg-newsroom) no-repeat center center fixed;
  background-size: cover;
}

.about-page .floating-panel,
.contacts-page .floating-panel,
.career-page .floating-panel,
.team-page .floating-panel,
.solutions-page .floating-panel,
.faq-page .floating-panel,
.news-page .floating-panel {
  position: absolute;
  width: 100%;
  top: 155px;
}

.contacts-page .contents,
.career-page .contents,
.team-page .contents,
.solutions-page .contents,
.faq-page .contents,
.news-page .contents {
  margin-bottom: 50px;
}

.contacts-page .contents .contacts-card,
.career-page .contents .career-card,
.career-page .contents .job-card,
.team-page .contents .team-card,
.solutions-page .contents .solutions-card,
.solutions-page .contents .fixed-card {
  margin: 20px 0px;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 5%;
}

.career-page .contents .jobs-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.career-page .contents .job-card {
  width: 350px;
  margin: 15px;
  padding: 25px;
}

.career-page .contents .job-card .btn-apply {
  background-image: var(--gradient-btn) !important;
  color: #ffffff !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  line-height: 24px !important;
  border-radius: 8px !important;
  padding: 10px 25px !important;
  border: none;
}

.contacts-page .contents .contacts-card .talktous {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-page .contents .contacts-card .talktous a {
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  height: 50px;
  width: 230px;
  background-image: var(--gradient-btn);
  border-radius: 25px;
  text-decoration: none;
  margin: 25px auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-page .contents .contacts-card .body,
.career-page .contents .career-card .text,
.career-page .contents .job-card .text,
.team-page .contents .team-card .text,
.solutions-page .contents .solutions-card .text {
  color: rgba(67, 67, 67, 0.87);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.contacts-page .contents .contacts-card .body .contact-options {
  display: flex;
  align-items: center;
}

.contacts-page .contents .contacts-card .body .contact-options a {
  color: rgba(67, 67, 67, 0.87);
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: underline;
}

.about-page .contents .contents-card,
.team-page .floating-panel .contents-card,
.faq-page .floating-panel .contents-card,
.news-page .floating-panel .contents-card {
  margin: 20px auto;
  background-color: var(--primary-text-color);
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.08);
  padding: 5%;
}

.news-page .floating-panel .contents-card {
  box-shadow: none;
}

.faq-page .floating-panel .contents-card {
  padding: 2% 5%;
}
.news-page .floating-panel .contents-card {
  background: transparent;
  padding: 0 5%;
}

.about-page .header,
.team-page .header,
.solutions-page .header,
.faq-page .header,
.news-page .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8% auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.07px;
  line-height: 72px;
}

.team-page .values-panel {
  display: flex;
  align-items: stretch;
  flex-flow: wrap;
  border-radius: 8px;
  margin: 50px 0px;
}

.team-page .value-card {
  width: 320px;
  border-radius: 8px;
  background-color: var(--primary-text-color);
  margin: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.team-page .value-card h4 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
  color: #0AD1F2;
}

.team-page .value-card h5 {
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.team-page .value-card .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 27px;
}

.team-page .value-card .value {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.faq-page .floating-panel .contents-card .panel-group .panel-default {
  padding: 24px 24px 24px 24px;
  margin: 15px;
  border: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.faq-page .floating-panel .contents-card .panel-group .title {
  cursor: pointer;
  height: auto;
}

.faq-page .floating-panel .contents-card .panel-group .panel-heading {
  width: 100%;
  padding: 0;
  background: unset;
  cursor: pointer;
}

.faq-page .floating-panel .contents-card .panel-group .panel-heading .panel-title div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  text-align: left;
}

.faq-page .floating-panel .contents-card .panel-group .panel-heading .panel-title .glyphicon {
  -webkit-text-stroke: 2px white;
  vertical-align: middle;
  margin: auto 0px auto 8px;
}
.faq-page .floating-panel .contents-card .panel-group .panel-collapse {
  /* padding: 2% 0; */
  width: 100%;
  margin-top: 8px;
  font-weight: 300;
}

.faq-page .floating-panel .contents-card .panel-group .panel-collapse .panel-body {
  padding: 15px 0;
}


.faq-page .floating-panel .contents-card .panel-group .collapsing {
  transition: all 0.3s ease;
}

.news-page .card {
  display: flex;
  justify-content: flex-start;
  border-radius: 8px;
  background-color: var(--primary-text-color);
  margin: 10px;
  padding: 25px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.news-page .news-card .left-part {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.news-page .news-card .left-part .thumbnail {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 144px;
  width: 184px;
  border-radius: 8px;
}

.news-page .news-card .left-part .share-container {
  padding: 8px;
  text-transform: uppercase;
  position: relative;
  width: 100%;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
}

.news-page .news-card .center-part {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

.news-page .news-card .center-part .news-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.03px;
}
.news-page .news-card .center-part .published-date {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02px;
  padding: 4px 0;
}
.news-page .news-card .center-part .divider {
  height: 2px;
  width: 126px;
  border: 1px solid #979797;
  opacity: 0.31;
}
.news-page .news-card .center-part .news-body {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03px;
  padding: 15px 0;
}

.news-page .news-card .right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.news-page .news-card .right-part .publisher-logo {
  width: 94.63px;
}
.news-page .news-card .right-part .publisher-logo > img {
  width: inherit;
  height: inherit;
}

.news-page .news-card .btn-read-more {
  color: #00C0E1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04px;
  line-height: 21px;
  cursor: pointer;
  text-transform: uppercase;
}
.load-more-news {
  display: flex;
  justify-content: center;
}
.load-more-news div.btn-flat {
  text-align: center;
  border-radius: 8px;
  width: 150px;
  padding: 10px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.btn-flat {
  color: #00C0E1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04px;
  line-height: 21px;
  cursor: pointer;
  text-transform: uppercase;
}

.no-news {
  min-height: 100px;
  font-weight: 500;
  font-size: 18px;
}
.no-news > div {
  vertical-align: middle;
  margin: auto;
}

.share-container:after {
  width: inherit;
  height: inherit;
  position: absolute;
  content: 'Share';
  top: 0;
  left: 0;
  margin-top: 14px;
  text-align: center;
  transition: 1s;
  color: #00C0E1;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.04px;
  line-height: 21px;
  cursor: pointer;
  text-transform: uppercase
}
.share-container:hover {
  transform: scale(1.1, 1.1);
}
.share-container:hover:after {
  left: -225px;
}
.share-container:hover button {
  visibility: visible;
  opacity: 1;
  transform: scale(1, 1);
}
.share-container:hover button:first-child {
  transition-delay: .8s;
}
.share-container:hover button:nth-child(2) {
  transition-delay: .6s;
}
.share-container:hover button:nth-child(3) {
  transition-delay: .4s;
}
.share-container:hover button:nth-child(4) {
  transition-delay: .2s;
}
.share-container button {
  border: 0;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.5, 0.5);
  transition: .5s;
  outline: none;
}

.share-mobile button {
  border: 0;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  outline: none;
}
.share-container button i {
  color: grey;
}
.share-container button:first-child,
.share-mobile button:nth-child(2) {
  transition-delay: .0s;
}
.share-container button:nth-child(2),
.share-mobile button:nth-child(2) {
  transition-delay: .1s;
}
.share-container button:nth-child(3),
.share-mobile button:nth-child(3) {
  transition-delay: .1s;
}
.share-container .twitter:hover,
.share-mobile .twitter {
  color: #55acee;
}
.share-container .facebook:hover,
.share-mobile .facebook {
  color: #3b5999;
}
.share-container .instagram:hover,
.share-mobile .instagram {
  color: #e4405f;
}

.share-container .linkedin:hover,
.share-mobile .linkedin {
  color: #0077B5;
}

.share-mobile .facebook,
.share-mobile .twitter,
.share-mobile .whatsapp,
.share-mobile .linkedin  {
  font-size: 24px;
}
.share-mobile .whatsapp {
  color: #25D366;
}

.contacts-page .sub-header,
.career-page .sub-header,
.news-page .sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.03px;
  line-height: 27px;
  margin-bottom: 8%;
}

.contacts-page .header,
.career-page .header,
.news-page .header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.07px;
  line-height: 72px;
  margin: 8% auto 5px auto;
}

.about-page .delivered-with {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  margin: 4% auto;
}

.about-page .contents-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-page .contents-card .learn-more-panel {
  align-self: flex-end;
}

.about-page .blue {
  color: var(--primary-color);
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  padding: 5px;
}

.about-page .black {
  color: rgba(67, 67, 67, 0.87);
  font-size: 64px;
  font-weight: 900;
  line-height: 96px;
  padding: 5px;
}

.about-page .red {
  padding: 5px;
  color: rgb(226, 92, 92);
  font-size: 58px;
  font-weight: 900;
  line-height: 95px;
  margin-top: -10px;
  text-transform: uppercase;
}

.about-page .contents-card .text {
  color: rgba(67, 67, 67, 0.87);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.faq-page .contents-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spin {
  animation: rotate1 0.5s ease-in-out 1;
}

.reset {
  animation: none;
}

@keyframes scroll-arrow {
  0% {
    position: absolute;
    top: -10px;
  }

  50% {
    position: absolute;
    top: 0px;
  }

  100% {
    position: absolute;
    top: -10px;
  }
}

@keyframes rotate1 {
  0% {
    transform: rotateX(-90deg);
    transform-origin: top;
    top: -5px;
  }

  100% {
    transform: rotateX(0deg);
  }
}

@media (max-width: 1199px) {

  .solutions-page .inner-card,
  .solutions-page .offer-card {
    width: 350px;
  }

  .team-page .value-card {
    width: 350px;
  }

  .enterprise-card-panel {
    flex-flow: wrap !important;
  }

  .section-height {
    height: 480px;
  }

  .contacts-page .header,
  .career-page .header,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header {
    margin: 8% auto 15px auto;
  }
}

@media (max-width: 991px) {
  .home-page .card-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enterprise-card-panel {
    flex-flow: wrap !important;
  }

  .team-page .value-card {
    width: 300px;
  }

  .solutions-page .inner-card,
  .solutions-page .offer-card {
    width: 300px;
  }

  .section-height {
    height: 480px;
  }

  .contacts-page .header,
  .career-page .header,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header {
    margin: 10% auto 15px auto;
  }

  nav li {
    margin-left: 25px !important;
  }
}

@media (max-width: 767px) {
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
  }

  .footer-nav li {
    padding: 5px 5px;
    margin: 0px auto;
  }

  .app-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .home-page .card-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enterprise-card-panel {
    flex-flow: wrap !important;
  }

  .main-content {
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: -10px !important;
  }

  .about-page .floating-panel,
  .contacts-page .floating-panel,
  .career-page .floating-panel,
  .team-page .floating-panel,
  .solutions-page .floating-panel,
  .faq-page .floating-panel,
  .news-page .floating-panel {
    position: absolute;
    top: 105px;
  }

  .contacts-page .header,
  .career-page .header,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header,
  .faq-page .header,
  .news-page .header {
    margin: 12% auto 15px auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
  }

  .contacts-page .sub-header,
  .career-page .sub-header,
  .news-page .sub-header {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-bottom: 12%;
  }

  .solutions-page .inner-card,
  .solutions-page .offer-card {
    width: 450px;
  }

  .team-page .value-card {
    width: 450px;
  }

  .faq-page .floating-panel .contents-card .panel-group .panel-default {
    margin: 10px 0;
    padding: 15px;
  }

  .section-height {
    height: 380px;
  }

  .career-section,
  .contacts-section {
    height: 550 !important;
  }
}

@media (max-width: 540px) {
  .home-page .card-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .enterprise-card-panel {
    flex-flow: wrap !important;
  }

  .banner-title,
  .solutions-page .header,
  .team-page .header,
  .about-page .contents>.header,
  .contacts-page .header,
  .career-page .header {
    font-size: 32px !important;
    line-height: 48px !important;
  }

  .banner-sub-title {
    font-size: 18px !important;
    line-height: 27px !important;
    flex-direction: column;
  }

  .home-page .customer-image {
    width: 50%;
  }

  .home-page .customer-image img {
    width: 70px;
  }

  .about-page .floating-panel,
  .contacts-page .floating-panel,
  .career-page .floating-panel,
  .team-page .floating-panel,
  .solutions-page .floating-panel,
  .faq-page .floating-panel {
    position: absolute;
    top: 120px;
  }

  .contacts-page .header,
  .career-page .header,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header,
  .faq-page .header {
    margin: 15% auto 15px auto;
  }

  .contacts-page .sub-header,
  .career-page .sub-header,
  .news-page .sub-header {
    margin-bottom: 15%;
  }

  .section-height {
    height: 650px;
  }

  .home-page .enterprise-bg {
    background: var(--bg-home-enterprise-small) no-repeat center center fixed;
    background-size: cover;
  }

  .home-page .ondemand-bg {
    background: var(--bg-home-ondemand-small) no-repeat center center fixed;
    background-size: cover;
  }

  .about-page .about-section {
    background: var(--bg-about-small) no-repeat center center fixed;
    background-size: cover;
  }

  .solutions-page .solutions-section {
    background: var(--bg-solutions-small) no-repeat center center fixed;
    background-size: cover;
  }

  .contacts-page .contacts-section {
    background: var(--bg-contact-small) no-repeat center center fixed;
    background-size: cover;
  }

  .career-page .career-section {
    background: var(--bg-career-small) no-repeat center center fixed;
    background-size: cover;
  }

  .team-page .team-section {
    background: var(--bg-team-small) no-repeat center center fixed;
    background-size: cover;
  }

  .news-page .floating-panel .contents-card {
    padding: 0;
  }
  .news-page .card {
    margin: 15px 0;
    padding: 15px;
    flex-direction: column;
  }
  .news-page .news-card .left-part .thumbnail {
    width: inherit;
    height: 184px;
  }
  .share-mobile {
    text-align: right;
  }
  .news-page .news-card .center-part {
    padding: 0;
  }
  .news-page .news-card .right-part {
    flex-direction: row-reverse;
  }
  .news-page .news-card .right-part .btn-read-more {
    vertical-align: middle;
    margin: auto 0;
  }
}

@media (max-width: 400px) {

  .banner-title,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header,
  .contacts-page .header,
  .career-page .header,
  .faq-page .header,
  .news-page .header {
    font-size: 28px !important;
    line-height: 42px !important;
  }

  .banner-sub-title,
  .contacts-page .sub-header,
  .career-page .sub-header,
  .news-page .sub-header {
    font-size: 16px !important;
    line-height: 24px !important;
    flex-direction: column;
  }

  .enterprise-card-panel {
    flex-flow: wrap !important;
  }

  .solutions-page .main-content .main-header h1 {
    font-size: 18px;
    line-height: 27px;
  }

  /* body div {
    overflow-x: hidden;
  } */

  .center-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-holder {
    padding: 10px 0;
    width: 100%;
    height: 60px;
  }

  .btn-holder button {
    margin: 0;
  }

  .section-height {
    height: 520px;
  }

  .contacts-page .header,
  .career-page .header,
  .about-page .contents>.header,
  .team-page .header,
  .solutions-page .header,
  .faq-page .header,
  .news-page .header {
    margin: 15% auto 15px auto;
  }

  .chat-intro-container {
    max-width: 90%;
  }

  .chat-intro-container .chat-msg-header {
    font-size: 14px !important;
  }
  .chat-intro-container .chat-msg-content {
    font-size: 10px !important;
  }


  @media (max-width: 330px) {

    .banner-title,
    .about-page .contents>.header,
    .team-page .header,
    .solutions-page .header,
    .contacts-page .header,
    .career-page .header,
    .faq-page .header,
    .news-page .header {
      font-size: 24px !important;
      line-height: 38px !important;
    }
  }
}

.chat-icon-container, .chat-intro-container, .chat-icon-close-container {
  position: fixed;
  bottom: 20px;
  z-index: 3;
  cursor: pointer;
}
.chat-intro-container {
  /* width: 375px; */
  height: 50px;
  width: 50px;
  border-radius: 40px;
  animation: ease-in-out forwards;
  /* transform-origin: 100%; */
  transition: width .75s;
  z-index: 2;
  border: 5px solid white;
  background-color: var(--primary-text-color);
  display: flex;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  right: 15px;
  height: 60px;
  bottom: 15px;
  padding: 5px;
  padding-right: 45px;
}
.grow {width: 375px;}
.chat-icon-container, .chat-icon-close-container {
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.chat-icon-close-container {
  display: none;
}
.chat-icon-container img.chat-icon {
  width: inherit;
  height: auto;
}

.close-chat {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30%;
  left: 28%;
  display: none;
}
.close-chat:hover::before, .close-chat:hover::after {
  background: #fff;
  color: #1ebcc5
}
.close-chat::before, .close-chat::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
}
.close-chat::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.close-chat::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.close-chat.hairline::before, .close-chat.hairline::after {
  height: 2px;
}

.chat-icon-close-container img.chat-icon {
  width: 50px;
}
.chat-intro-container .chat-avatar-container {
  width: 50px;
  height: auto;
}
.chat-intro-container .chat-avatar-container img.chat-avatar {
  width: 40px;
  height: auto;
}

.chat-intro-container .chat-intro-msg-container {
  overflow: hidden;
}
.chat-intro-container .chat-intro-msg-container .chat-msg-header {
  font-weight: 500;
  font-size: 14px;
}

.chat-intro-container .chat-intro-msg-container .chat-msg-content {
  font-size: 12px;
}

.news-page .placeholder-animation-container {
  background-color: var(--primary-text-color);
}
.placeholder-item {
  background: linear-gradient(to right, #ddd 8%, #d3d3d3 18%, #ddd 28%);
  background-size: 400% 100%;
  -webkit-animation: loading 2s infinite linear;
          animation: loading 2s infinite linear;
  border-radius: 8px;
}
.news-page .placeholder-animation-container .thumbnail-placeholder {
  border: none;
  border-radius: 8px;
  margin-bottom: 20px;
  height: 144px;
  width: 184px;
}
.news-page .placeholder-animation-container .center-part {
  width: 70%;
}
.news-page .placeholder-animation-container .center-part .news-heading {
  height: 25%;
  margin-bottom: 5px;
}
.news-page .placeholder-animation-container .center-part .published-date {
  height: 10%;
  margin-bottom: 5px;
}
.news-page .placeholder-animation-container .center-part .divider {
  margin-bottom: 5px;
}
.news-page .placeholder-animation-container .center-part .news-body {
  height: 42%;
}
.news-page .placeholder-animation-container .publisher-logo,
.news-page .placeholder-animation-container .btn-read-more,
.news-page .placeholder-animation-container .share-option {
  height: 32px;
}

.homeLoader {
  position:fixed;top:0;left:0;bottom:0;right:0;z-index: 999;background: #fff;display: flex;justify-content: center;
}
#floatingCirclesG{
	position:relative;
	width:70px;
	height:70px;
	margin:auto;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:13px;
	width:13px;
	border-radius:7px;
		-o-border-radius:7px;
		-ms-border-radius:7px;
		-webkit-border-radius:7px;
		-moz-border-radius:7px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:29px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:8px;
	top:8px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:29px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:8px;
	top:8px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:29px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:8px;
	bottom:8px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:29px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:8px;
	bottom:8px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:var(--primary-color);
	}

	100%{
		background-color:var(--main-bg-color);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:var(--primary-color);
	}

	100%{
		background-color:var(--main-bg-color);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:var(--primary-color);
	}

	100%{
		background-color:var(--main-bg-color);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:var(--primary-color);
	}

	100%{
		background-color:var(--main-bg-color);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:var(--primary-color);
	}

	100%{
		background-color:var(--main-bg-color);
	}
}

@-webkit-keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}

@keyframes placeholderAnimate {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}

@keyframes chat-animation {
  0% {transform: scaleX(0);opacity: 0;}
  25% {transform: scaleX(1);opacity: 1;}
  75% {transform: scaleX(1);opacity: 1;}
  100% {transform: scaleX(0);opacity: 0;}
}

@-webkit-keyframes loading {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -100% 0%;
  }
}

@keyframes loading {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: -100% 0%;
  }
}

.home-loader-wrapper {
  background-color: rgba(0, 0, 0, .7);
}

.home-loader-wrapper .loader {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  animation: rotate 1s ease-in-out 0s infinite;
  transform-origin: left top;
}

.home-loader-wrapper .loader-inner {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  width: 35px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border-radius: 50%;
  animation: rotate-opp 1s ease-in-out 0s infinite;
  transform-origin: left top;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.3) rotate(180deg) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) rotate(360deg) translate(-50%, -50%);
    }
}

@keyframes rotate-opp {
    0% {
        transform: scale(1) rotate(90deg) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.3) rotate(-90deg) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) rotate(-270deg) translate(-50%, -50%);
    }
}

@media only screen and (max-device-width: 667px),
  only screen and (max-device-width: 900px) and
  (min-device-width: 668px) and (orientation: landscape) {
  #fc_frame.h-open-container {
    left: 0 !important;
  }
  #bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info .vehicle-label span {
    font-size: 16px !important;
  }
}


.input-icon {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}
.input-icon + input {
    padding-left: 45px !important;
}

#login-form .selected-flag {
    padding-top: 12px
}
