body {
    background: #000;
}
a {
    cursor: pointer !important;
}
.btn-submit,
.btn-blue {
    font-family: var(--font-family);
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 0 38px;
    margin-top: 40px;
    height: 56px;
    background-color: var(--primary-color);
}
.modal {
    background: #000;
}
.modal-content {
    border-radius: 8px;
    background: var(--bg-gradient);
    color: #333;
}
.home-button {
    font-size: 14px;
    color: var(--primary-color);
}
.close {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  transition: transform 300ms;
  cursor: pointer;
}
.close:hover {
  color: orangered !important;
  transform: scale(1.2);
}

.mobile-number > div.intl-tel-input,
.intl-tel-input {
    width: 100%;
}
.intl-tel-input input {
  padding-left: 65px !important;
}
.intl-tel-input .flag-container {
    right: unset !important;
}
.selected-dial-code {
    position: absolute;
    margin: auto;
    top: 11px;
    left: 30px;
    border: 0;
    height: 22px;
    color: #929A9B;
}
#signup-mobile {
  padding-left: 65px;
}
.userBar .dropdown-menu {
    right: unset !important;
}
/*fontastic.me*/
@font-face {
  font-family: 'blowhorn-fonts';
  src: url('/static/website/fonts/blowhorn-fonts.eot');
  src: url('/static/website/fonts/blowhorn-fonts.eot?#iefix') format('embedded-opentype'),
    url('/static/website/fonts/blowhorn-fonts.woff') format('woff'),
    url('/static/website/fonts/blowhorn-fonts.ttf') format('truetype'),
    url('/static/website/fonts/blowhorn-fonts.svg#blowhorn-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'blowhorn-fonts';
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'blowhorn-fonts' !important;
  font-style: normal !important;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  font-size: 19px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e601"
}

.icon-gift:before {
  content: "\e600"
}

.icon-facebook:before {
  content: "\66";
  font-size: 28px;
}

footer .icon-facebook:before {
  content: "\66";
  font-size: 18px;
}

.icon-gplus:before {
  content: "\67"
}

.icon-twitter:before {
  content: "\74"
}

.icon-linkedin:before {
  content: "\6c"
}

.icon-arrow-down:before {
  content: "\64"
}

.icon-tick:before {
  content: "\76"
}

.icon-edit:before {
  content: "\65"
}

.icon-edit-main:before {
  content: "\61"
}

.icon-logout:before {
  content: "\6f"
}

a[title="Facebook"] {
  background-color: #3B5998;
}

a[title="Twitter"] {
  background-color: #55ACEE;
}

a[title="Instagram"] {
  background-color: #3F729B;
}

a[title="Linkedin"] {
  background-color: #007ab7;
}
.no-bottommargin {
  margin-bottom: 0 !important;
}

.initial-left-padding {
    padding-left: 10px !important
}
