/* #login-modal .modal-sm .modal-header {
    background: var(--bg-gradient);
} */
#login-modal {
    color: #333;
}
#login-modal .social-links a.btn-gplus {
    background-color: #DB4432;
    color: #fff;
    font-weight: 300;
    border: 1px solid #DB4432;
}
.no-account {
    font-weight: 300;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.no-account > span {
    padding: 0px 0px 0px 8px;
}
.show-password {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 0px;
    background: transparent;
    border: 0px none;
    height: 48px;
    width: 48px;
    display: none;
}
#login-form .col-xs-12 {
    margin-bottom: 15px;
}
#login-form .col-xs-12 .error {
    font-size: 14px;
}
#login-form input {
    margin-bottom: 0;
}
#login-modal #login-form .flag-container {
    height: 48px !important;
}
#login-modal #login-form .flag-container > .selected-flag {
    align-content: center;
    align-items: center;
    display: flex;
}
#login-modal #login-form .flag-container > .selected-flag > i {
    font-size: 20px;
    padding-bottom: 2px;
}
#login-modal #login-form .intl-tel-input input {
    padding-left: 35px !important;
}
.input-icon {
    position: absolute;
    top: 0;
    z-index: 1;
    padding: 10px;
}
.input-icon + input {
    padding-left: 45px !important;
}
/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity:1;
}

.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}