@import "https://fonts.googleapis.com/css?family=Montserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&ver=5.2.4#038;subset=latin,latin-ext";

:root {
    --main-bg-color: coral;
    --primary-color: #0068C9;
    --primary-color-dark: #0070c0;
    --primary-color-light: #c5e3ff;
    --secondary-color: #FFC000;
    --primary-text-color: #fff;
    --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --bg-gradient: linear-gradient(135deg, #0070c0, #fff);
    --logo-url: url(/static/website/images/mzansigo/logo/logo.png);
    --logo-dark-url: url(/static/website/images/mzansigo/logo/logo_dark.png);
    --font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;

    --home-ondemand-bg: url(/static/website/images/mzansigo/homepage/home_page_on_demand/intro1_bg.jpg);
    --home-enterprise-bg: url(/static/website/images/mzansigo/homepage/home_page_enterprise/enterprise_intro_bg.png);
    --bg-about: url('');
    --bg-solutions: url('');
    --bg-contact: url('');
    --bg-career: url('');
    --bg-team: url('');
    --bg-faq: url('');
    --bg-newsroom: url('');

    --bg-home-ondemand-small: url(/static/website/images/mzansigo/homepage/home_page_on_demand/intro1_bg.jpg);
    --bg-home-enterprise-small: url(/static/website/images/mzansigo/homepage/home_page_enterprise/enterprise_intro_bg.png);
    --bg-about-small: url('');
    --bg-solutions-small: url('');
    --bg-contact-small: url('');
    --bg-career-small: url('');
    --bg-team-small:url('');
    --bg-faq: url('');
}
