.order-details-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(/static/blowhorn/assets/images/plane.jpg);
  padding: 0 20px;
  overflow: scroll;
  .modal-header {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-bottom: 2px solid #0088a8;
    align-items: center;
    min-height: 45px;
    .modal-title-text {
      color: #0088a8;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 21px;
      text-transform: uppercase;
    }
    .cross {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      transition: transform 300ms;
      cursor: pointer;
      &:hover {
        color: orangered !important;
        transform: scale(1.5);
      }
    }
  }
  .required {
    color: red;
  }
  .hint {
    color: #050505;
  }
  .submit {
    background-color: #0088a8 !important;
    color: white;
    border-radius: 5px;
    height: 40px;
  }
  .grid-view {
    height: 600px;
    overflow: scroll;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    overflow: visible;
  }
  .orderline-table {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 8px;
    margin-left: 60px;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    .header {
      display: grid;
      grid-template-columns: repeat(4, minmax(100px, 1fr)) 20px;
      align-items: center;
      text-align: center;
      padding: 8px 2px;
      border-bottom: 1px solid #eee;
      div {
        color: #0088a8;
        font-weight: 600;
        font-size: 14px;
      }
    }
    .table-area {
      .original-table {
        height: 280px;
        max-height: 280px;
        overflow-y: auto;
        border: 1px solid #efefef;
        .error {
          display: flex;
          font-weight: 600;
          color: red;
          padding: 12px;
          justify-content: center;
        }
      }
      .removed-item-table {
        border: 1px solid #efefef;
        .header {
          display: flex;
          justify-content: space-between;
          padding: 4px 15px;
          margin-top: 2px;
          font-weight: 600;
          color: #0088a8;
          text-transform: uppercase;
          font-size: 12px;
          .remove-all {
            font-weight: 500;
            text-transform: capitalize;
            cursor: pointer;
          }
        }
      }
      .table-row {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 1fr)) 25px;
        align-items: center;
        text-align: center;
        padding: 2px 0;
        font-size: 12px;
        border-bottom: 1px solid rgb(226, 234, 236);
        .item_name {
          font-size: 14px;
        }
        .quantity {
          display: flex;
          justify-content: center;
          .glyphicon {
            padding: 0 8px;
            transition: transform 300ms;
            cursor: pointer;
            &.disabled {
              cursor: not-allowed;
              color: #eee;
              &:hover {
                color: #eee;
                transform: none;
              }
            }
            &:hover {
              color: orangered !important;
              transform: scale(1.5);
              &.disabled {
                color: #eee;
              }
            }
          }
        }
        .btn-remove {
          display: flex;
          .close {
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
              color: orangered !important;
              transform: scale(1.5);
            }
          }
        }
        &.even {
          background: #efefef;
        }
      }
    }
  }
  .grid-blank {
    width: 0;
    height: 0;
  }
  .map-container {
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    padding: 8px;
    background: #fff;
    .map-control-container {
      padding: 8px 0;
      display: flex;
      justify-content: space-between;
      .distance {
        display: flex;
        .val {
          font-weight: 600;
        }
      }
    }
    .distance-alert {
      color: red;
      text-transform: uppercase;
      font-size: 12px;
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
    .address {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 15px;
      .heading {
        padding: 4px 0;
        background: #ccc;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        color: #0088a8;
      }
      .content {
        background: #efefef;
      }
    }
  }
  .fixed {
    left: 35%;
    top: 10%;
    width: 50%;
  }
  .radio {
    margin-left: 5%;
    margin-right: 3%;
  }
  .flex-container > div {
    width: 100%;
    margin: 3px;
    text-align: center;
    justify-content: space-between;
  }
  .flex-container-col {
    display: flex;
    border-bottom: 1px solid black;
  }
  .flex-container-col > div {
    width: 100%;
    margin: 2px;
    text-align: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 10px;
  }
  #searchinput {
    width: 200px;
  }
  #searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
  }
  /* -----------------------Loader---------------------------- */
  .loader,
  .loader:before,
  .loader:after {
    background: #ade8f3;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .loader {
    color: #ade8f3;
    text-indent: -9999em;
    margin-top: 20%;
    margin-left: 50%;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .loader:before,
  .loader:after {
    position: absolute;
    top: 0;
    content: "";
  }
  .loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  agm-map {
    height: 300px;
  }
}
