<div class="order-details-modal">
  <div class="modal-header">
    <div class="modal-title-text">Delivery Details</div>
    <span class="fa fa-times cross" (click)="details_closed.emit(true)"></span>
  </div>
  <form name="myForm">   
    <div class="grid-container">
      <div class="grid-view " >
        <div class="form-group md-form">
          <label for="ReferenceNumber">Bill Number<span *ngIf="!reference_number" aria-hidden="true" class="required">
              *</span></label>
          <input id="ReferenceNumber" type="text" class="form-control" name="ReferenceNumber"
            [(ngModel)]='reference_number' readonly>
          <!-- (change)="getData()" -->
          <small *ngIf="!reference_number" class="required" >Please scan the bill for reference number.</small>
          <div><button id="submit" type="submit" class="submit"
              (click)="getData()">Fetch</button></div>
        </div>
        <div class="form-group">
          <label for="DeliveryAddress">Select Hub<span *ngIf="!hub_address" aria-hidden="true" class="required">*</span></label>
          <select class="form-control" id="HubName" [(ngModel)]="hub_address" name="HubName" (change)="loadHub()">
            <option *ngFor="let data of res" [value]="data?.id">
              {{data?.name}}
            </option>
          </select>
          <small *ngIf="!hub_address" class="hint"><b><u>Hint</u></b>: Please select a hub.</small>
        </div>
        <div class="form-group">
          <label for="Name">Name<span *ngIf="!customer_name" aria-hidden="true" class="required"> *</span></label>
          <input class="form-control" id="Name" [(ngModel)]='customer_name' name="Name" [value]='customer_name'>
          <small *ngIf="!customer_name && nameValid" class="required"> Please enter customer name.</small>
        </div>
        <div class="form-group">
          <label for="Mobile">Mobile<span *ngIf="!customer_mobile" aria-hidden="true" class="required"> *</span></label>
          <input class="form-control" id="Mobile" [(ngModel)]='customer_mobile' name="Mobile" (change)="validPhone()"
            maxlength="12">
          <small *ngIf="mobileDigitValid" class="required"> Please enter valid mobile number(91 followed by 10 digit number).</small>
        </div>
        <div class="form-group">
          <label for="Email">Email Address</label>
          <input type="email" class="form-control" id="Email" [(ngModel)]='customer_email' name="Email">
        </div>
        <div class="form-group">
          <label>Address<span *ngIf="!address" aria-hidden="true" class="required"> *</span></label>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
            placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search
            name="first" #first [(ngModel)]='address'>
            <button  class="close" aria-label="Close" title="Click to clear address field" (click)="first.value = ''"> <span aria-hidden="true">&times;</span></button>
          <small *ngIf="!address" class="hint"><b><u>Hint</u></b>: Please select a location in map / Enter
            delivery address.</small>
          <small *ngIf="!address && addressValid" class="required"> Please enter address.</small>
        </div>
        <div class="distance" *ngIf="dist">
            <span class="label">Distance B/W hub and delivery address :</span>
            <span class="val"><b>{{ dist}}KM(s)</b></span>
          </div>
        <div class="form-group">
          <label>Land Mark</label>
          <input class="form-control" name="LandMark" [(ngModel)]='land_mark' (change)="landmark()">
        </div>
        <div class="form-group">
          <label>Pin Code<span *ngIf="!delivery_postal_code" aria-hidden="true" class="required"> *</span></label>
          <input class="form-control" name="PinCode" [(ngModel)]='delivery_postal_code'>
          <small *ngIf="!delivery_postal_code" class="hint"><b><u>Hint</u></b>: Copy pin code from the address
            at bottom of the map / Enter delivery pin code.</small>
        </div>        
        <div class="form-group">
          <label for="ExpectedDeliveryDate">Delivery Slot<span aria-hidden="true" class="required"> *</span> :</label>
          <span class="radio" *ngIf='currentHour<12'>
            <label><input type="radio" id = "r1" name="ExpectedDeliveryDate" #today (click)="onChange(today.value)" value="today">Today</label>
          </span>
          <span class="radio">
            <label><input type="radio" id="r2" name="ExpectedDeliveryDate"  #tomorrow (click)="onChange(tomorrow.value)" checked value="tomorrow">Tomorrow</label>
          </span>
        </div>
        <div class="form-group">
          <label for="comment">Remarks:</label>
          <textarea class="form-control" rows="5" id="comment" [(ngModel)]='remarks' name="remarks"></textarea>
        </div>
        <div class="form-group"><span aria-hidden="true" class="required"> *</span><b> Indicates mandatory / required
            field.</b></div>
        <div>
          <button id="submit" type="submit" class="submit"
            (click)="saveFormData()">Save</button>
        </div>
        </div>
      
      <!-- START: Orderline table -->
      <div class="orderline-table grid-view scroll">
        <div class="header">
          <div>ITEM NAME</div>
          <div>QUANTITY</div>
          <div>ITEM PRICE PER EACH</div>
          <div>TOTAL PRICE</div>
          <div></div>
        </div>
        <div class="table-area" id="itemBlock">
          <div *ngIf="reference_number && !this.results && !errorMessage" class="loader">Loading...</div>
          <div class="original-table">
            <div class="error" *ngIf="displayOrderLines.length===0">No items to deliver</div>
            <div class="table-row"
              *ngFor="let item of displayOrderLines; let i=index; let isEven=even;"
              [class.even]="isEven">
              <div class="item-name">
                <div class="item_name">{{item.item_name}}</div>
              </div>
              <div class="quantity">
                <div class="glyphicon" (click)="subQuantity(item)"
                title="Click to decrease quantity"
                [ngClass]="{'disabled': item.item_quantity<=0}">&#x2212;</div>
                <div>{{item.item_quantity}}</div>
                <div class="glyphicon" (click)="addQuantity(item)"
                title="Click to increase quantity"
                [ngClass]="{'disabled': item.disable_add}">&#x2b;</div>
              </div>
              <div class="per-item-price">
                <div class="item_price_per_each">{{item.item_price_per_each}}</div>
              </div>
              <div class="total-price">
                <div class="total_item_price">{{item.total_item_price}}</div>
              </div>
              <div class="btn-remove">
                <button type="button" class="close" aria-label="Close" (click)="removeItem(item, i)"
                  title="click to remove">
                  <div aria-hidden="true">&times;</div>
                </button>
              </div>
            </div>
          </div>
          <div class="removed-item-table">
            <div class="header" *ngIf="removedOrderLines.length">
              <div class="heading">Removed Items</div>
              <div class="remove-all" (click)="restoreInitialOrderlines()"
              title="Click to restore all">Remove All</div>
            </div>
            <div class="table-row"
              *ngFor="let item of removedOrderLines; let i=index; let isEven=even;"
              [class.even]="isEven">
              <div class="item-name">
                <div class="item_name">{{item.item_name}}</div>
              </div>
              <div class="quantity">
                <!-- <div class="glyphicon" (click)='subQuantity(item)'>&#x2212;</div> -->
                <div>{{item.item_quantity}}</div>
                <!-- <div class="glyphicon" (click)='addQuantity(item)'>&#x2b;</div> -->
              </div>
              <div class="per-item-price">
                <div class="item_price_per_each">{{item.item_price_per_each}}</div>
              </div>
              <div class="total-price">
                <div class="total_item_price">{{item.total_item_price}}</div>
              </div>
              <div class="btn-remove">
                <button type="button" class="close" aria-label="Close" (click)="addBackItem(item, i)"
                  title="click to add back to delivery">
                  <div aria-hidden="true">&times;</div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END: Orderline table -->
      <div class="grid-blank"></div>
      <div class="map-container">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
            (dragEnd)="markerDragEnd($event)" title="Delivery Address" [label]="'D'">
            <agm-info-window>
              <strong>Delivery Address (You can change delivery address by dragging the pointer)</strong>
            </agm-info-window>
          </agm-marker>
          <agm-marker [latitude]="dlat" [longitude]="dlon" [markerDraggable]="false" title="Hub Address" [label]="'H'">
            <agm-info-window>
              <strong>Hub Address (You cannot change Hub)</strong>
            </agm-info-window>
          </agm-marker>
          <agm-direction *ngIf="direction" [origin]="direction.origin" [destination]="direction.destination"></agm-direction>
        </agm-map>
        <div class="map-control-container">
          <app-blowhorn-button (click_fired)="getDirection()" [label]="'Show Distance'">
          </app-blowhorn-button>
          <div class="distance" *ngIf="dist">
            <div class="label">Distance:</div>
            <div class="val">{{dist}}KM(s)</div>
          </div>
        </div>
        <div class="distance-alert" *ngIf="dist>6">Distance between hub and delivery address is more than 6 KMs</div>
        <div class="address">
          <div class="heading">Address</div>
          <div class="content">{{address}}</div>
        </div>
      </div>  
  </div>
  </form>
</div>