<div class="wrapper">
  <div class="flex-row">
    <div class="column">
      <div class="card">
        <div class="card-header"> 
          <div class="header-text">Delivered Packages</div>
          <div class="img img-icon"> <i class="fa fa-archive fa-lg"></i> </div>
        </div>
        <div class="card-body">
          <p class="data-value">{{delivered_packages || 0}}</p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="card-header"> 
            <div class="header-text">Parking Charges</div>
            <div class="img img-icon"> <i class="fa fa-money fa-lg"></i> </div>
          </div>
          <div class="card-body">
            <p class="data-value">{{_blowhorn_service.currency|currencySymbol}}{{parking_charges || 0}}</p>
          </div>
        </div>
      </div>
  </div>
  <div class="flex-row">
    <div class="column">
      <div class="card">
        <div class="card-header"> 
          <div class="header-text">Toll Charges</div>
          <div class="img img-icon"> <i class="fa fa-money fa-lg"></i> </div>
        </div>
        <div class="card-body">
          <p class="data-value">{{_blowhorn_service.currency|currencySymbol}}{{toll_charges || 0}}</p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="card-header"> 
            <div class="header-text">Rejected Packages</div>
            <div class="img img-icon"> <i class="fa fa-archive fa-lg"></i> </div>
          </div>
          <div class="card-body">
            <p class="data-value">{{rejected_packages || 0}}</p>
          </div>
        </div>
    </div>
  </div>
</div>