
.title{
    // font-weight: bold;
    font-size: 12px;
}
.flex-row{
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.card{
    border:none;
}

.card-header{
    border:none;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size:15px;
    padding: 0.25rem 0.25rem !important;

    .header-text {
        margin-block-start: 10px;
    }

    .img{
        color: var(--primary-color);
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-icon {
        background: #F7FBFC;
        border-radius: 50%!important;
    }

}

.data-value{
    text-align: center;
    font-size: 1.75rem;
    margin-right: 0px;
    font-weight: 400;
    color: black;
}
.time-duration{
    color:  rgba(242, 244, 247, 0.801);
    margin:-10px;
    float: left;
    margin-left: 30px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    width: 225px;
    height: 185px;
    flex: 1;
    margin: 18px;
    padding: 7px;
    text-align: center;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    background-color: #fff;
    background-clip: border-box;
    border-radius: .428rem;
  }
