<div id="collections" class="tab-pane fade">
    <table>
        <thead>
            <tr>
								<th>
                    <div class="text">
                        <a href="#">Collection ID</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Customer</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Transaction Type</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Invoice Numbers</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Transaction Status</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Transaction Date</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Total Received Or Receivable</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Allocated Bank Credit</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">TDS Allocaton</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Balance Amount</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in collections_list %}
            <tr class="{ % cycle 'row1' 'row2' %}">
								<td> {{row.collection_id}} </td>
                <td> {{row.customer_name}} </td>
                <td> {{row.transaction_type}} </td>
                <td> {{row.invoice_numbers}} </td>
                <td> {{row.transaction_status}} </td>
                <td> {{row.transaction_date}} </td>
                <td> {{row.total_received_or_receivable}} </td>
                <td> {{row.allocated_bank_credit}} </td>
                <td> {{row.tds_allocated}} </td>
                <td> {{row.balance_amount|floatformat:2}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
