{% load customer_filter %}
<div id="invoices" >
    <table>
        <thead>
            <tr>
                <th>
                    <div class="text">
                        <a href="#">Customer</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Customer Type</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Transaction Type</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Invoice Number</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Credit Note Against</a>
                    </div>
								</th>
                <th>
                    <div class="text">
                        <a href="#">Transaction Status</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Financial Year</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Transaction Date</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Collection ID</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Service Start</a>
                    </div>
                </th>
                <th>
										<div class="text">
                        <a href="#">Service End</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Service State</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Total Received Or Receivable</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Allocated Bank Credit</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">TDS Allocaton</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Credit Allocation</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Balance Amount</a>
                    </div>
                </th>
                <th>
                    <div class="text">
                        <a href="#">Credit Days</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Due Date</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Age in days</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Ageing Bucket</a>
                    </div>
                </th>
								<th>
                    <div class="text">
                        <a href="#">Sales SPOC</a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in invoice_list %}
            <tr class="{ % cycle 'row1' 'row2' %}">
                <td> {{row.customer_name}} </td>
								<td> {{row.customer_type}} </td>
                <td> {{row.transaction_type}} </td>
                <td> {{row.invoice_identifier|default_if_none:""}} </td>
                <td> {{row.cn_against_invoice|default_if_none:""}} </td>
                <td> {{row.transaction_status}} </td>
                <td> {{row.financial_year|default_if_none:""}}</td>
								<td> {{row.transaction_date|date:"d-M-Y"}} </td>
								<td> {{row.collection_id|default_if_none:""}} </td>
                <td> {{row.service_start|default_if_none:""|date:"d-M-Y"}} </td>
                <td> {{row.service_end|default_if_none:""|date:"d-M-Y"}} </td>
								<td> {{row.source_state|default_if_none:""}} </td>
                <td> {{row.total_recvd_or_receivable}} </td>
                <td> {{row.allocated_bank_credit|default_if_none:""}} </td>
                <td> {{row.tds_allocation|default_if_none:""}} </td>
                <td> {{row.credit_amount|default_if_none:""}} </td>
                <td> {% subtractify row %} </td>
                <td> {{row.credit_days|default_if_none:""}} </td>
								<td> {{row.due_by|default_if_none:""|date:"d-M-Y"}} </td>
								<td> {{row.ageing_in_days|default_if_none:""}} </td>
								<td> {{row.ageing_bucket|default_if_none:""}} </td>
								<td> {{row.sales_spoc|default_if_none:""}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
