<div class="wrapper">
  <div class="card">
    <div class="card-header">REATTEMPTED DATA <span class="fa fa-times close"
        (click)="close_fired_wrapper($event)"></span></div>
    <div class="card-body">
      <div class="table table-bordered">
        <tr>
          <th>Attempts</th>
          <th>First Attempt</th>
          <th>Second Attempt</th>
          <th>Third Attempt</th>
        </tr>

        <tr>
          <td>Total Orders</td>
          <td>{{order_report.first_attempt}}</td>
          <td>{{order_report.second_attempt}}</td>
          <td>{{order_report.third_attempt}}</td>
        </tr>
      </div>
    </div>
  </div>
</div>