<!-- {% load mathfilters %} -->

<!DOCTYPE html>
<html style="background-color: #fff;">

<head>
  <style>

    thead {
      display: table-header-group
    }

    tfoot {
      display: table-row-group
    }

    tr {
      page-break-inside: avoid;
      padding: 5px;
      line-height: 1.2;
    }

    div.container {
      height: 29.7cm;
      width: 29cm;
      margin-left: auto;
      margin-right: auto;
    }

    header,
    footer {
      font-family: Calibri;
    }

    .head_top_padding {
      margin-top: 0px;
      display: inline-block;
    }

    .table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
    }

    .table-with-padding {
      padding: 15px 0px;
    }

    .table_th {
      font-family: sans-serif;
      font-size: 13pt;
      margin: 0px;
      padding: 0px;
    }

    .tr_with_right_border {
      border-right: 1px solid black;
    }

    .tr_with_no_right_border {
      border-right: none !important;
    }

    .table_td {
      font-family: sans-serif;
      font-size: 12pt;
      text-align: left;
      padding: 0.2em 0.2em 0.2em 0.5em;
      font-weight: 400;
    }

    .display_style {
      font-family: sans-serif;
      font-size: 19px;
      text-align: center;
      width: 100%;
      line-height: 1.2;
    }

    .border_right {
      border-right: 1px solid black;
    }

    .border_left {
      border-left: 1px solid black;
    }

    .border_bottom {
      border-bottom: 1px solid black;
    }

    .border_right_bottom {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
    }

    .border_rbl {
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
    }

    .border_right_top {
      border-right: 1px solid black;
      border-top: 1px solid black;
    }

    .border_right_left {
      border-right: 1px solid black;
      border-left: 1px solid black;
    }

    .entire_border {
      border: 1px solid black;
    }

    .padding_class {
      padding: 0.5em 0.5em 0.2em 0.5em;
    }

    .table_tr {
      border: 1px solid black;
    }

    .text_align_center {
      text-align: center;
    }

    .table_row_space {
      padding-top: 40px;
    }

    .caption_your_details {
      text-align: left;
      font-size: 10pt;
      font-weight: bold;
      font-family: Arial, sans-serif;
    }

    tablefooter {
      margin-top: 0em;
      font-family: Arial, sans-serif;
      font-size: 8pt;
    }

    article {
      font-size: 13pt;
      text-align: justify-all;
      font-family: Calibri;
    }

    .head_padding {
      margin-bottom: 0.2em;
    }

    .grey_background {
      background-color: #eaeff4;
    }

    sup {
      font-size: 5pt
    }

    th,
    td {
      padding: 5px !important;
    }

    .annexure {
      width: 100% !important;
      font-family: Calibri;
      font-size: 18px !important;
      font-weight: 600 !important;
      text-align: center !important;
      margin: 20px auto !important;
    }

    .table-caption {
      font-family: Calibri;
      line-height: 1.2 !important;
      font-size: 16px !important;
      font-weight: 500 !important;
      float: left !important;
    }

    .table-right-caption {
      font-family: Calibri;
      line-height: 1.2 !important;
      font-size: 15px !important;
      font-weight: 400 !important;
      float: right !important;
    }

    @page {
      size: A4;
      /*margin: 70pt 60pt 120pt;*/
    }

    @media print {
      body {
        -webkit-print-color-adjust: exact;
      }

      h4 {
        page-break-after: auto;
        page-break-inside: avoid;
      }

      table {
        page-break-after: auto;
        page-break-inside: avoid;
      }

      header .print {
        display: block;
      }

      thead {
        display: table-header-group;
        page-break-inside: avoid;
      }

      tfoot {
        display: table-row-group
      }

      tr {
        page-break-inside: avoid
      }

      h1,
      h2,
      h3,
      h4,
      article {
        page-break-after: auto;
        page-break-inside: avoid;
      }
    }
  </style>
</head>

<body>
  <div class="container">
    <table class="table">
      <th class="table_th entire_border grey_background" colspan="5" style="font-size: 14pt; padding: 0.2em">DELIVERY CHALLAN</th>
      <tr class="table_tr">
        <td class="table_td border_right" colspan="5">&nbsp;</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%">M/S</td>
        <td class="table_td border_right_bottom" width="30%">{{data.consignor.name}}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_td border_right_bottom grey_background" width="15%">Challan No.</td>
        <td class="table_td border_right_bottom" width="30%">{{data.challan.number}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
        <td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.consignor.address}}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Challan Date</td>
        <td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.challan.date}}</td>
      </tr>

      <tr>
        <td class="table_td border_right" width="10%">&nbsp;</td>
      </tr>
      <tr>
        <td class="table_td border_right" width="10%">&nbsp;</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%">GSTIN</td>
        <td class="table_td border_right_bottom" width="30%">{{data.consignor.gstin}}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_td border_right_bottom grey_background" width="15%">E-Way No.</td>
        <td class="table_td border_right_bottom" width="30%"> {{data.eway_number}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%">State / Place Of Supply</td>
        <td class="table_td border_right_bottom" width="30%">{{ data.consignor.state }}</td>
        <td class="table_td border_right" width="10%"></td>
        <td class="table_td border_right_bottom grey_background" width="15%">Vehicle No.</td>
        <td class="table_td border_right_bottom" width="30%">{{ data.vehicle_number }}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_left" width="15%"></td>
        <td class="table_td" width="30%"> </td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_bottom border_left" colspan="2">&nbsp;</td>
        <td class="table_td" width="10%">&nbsp;</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" colspan="2"><b> Details of Consignee</b></td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%"> Name</td>
        <td class="table_td border_right_bottom" width="30%"> {{data.consignee.name}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
        <td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;"> {{data.consignee.address}}</td>
      </tr>
      <tr>
        <td width="10%">&nbsp;</td>
      </tr>
      <tr>
        <td width="10%">&nbsp;</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%"> State</td>
        <td class="table_td border_right_bottom" width="30%"> {{data.consignee.state}}</td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" width="15%"> GSTIN</td>
        <td class="table_td border_right_bottom" width="30%"> {{data.consignee.gstin}}</td>
      </tr>
      <tr class="tr_with_no_right_border">
        <td class="table_td border_left" width="15%"></td>
        <td class="table_td" width="30%"> </td>
      </tr>
      <tr class="tr_with_no_right_border">
        <td class="table_td border_bottom border_left" colspan="9">&nbsp;</td>
        <td class="table_td" width="10%">&nbsp;</td>
      </tr>
    </table>

    <table class="table">
      <tr class="tr_with_right_border">
        <th class="table_th border_right_left grey_background" width="5%" valign="bottom">S</th>
        <th class="table_th border_right grey_background" width="15%" valign="bottom"> Product Name /</th>
        <th class="table_th border_right grey_background" width="9%" valign="bottom"> HSN /</th>
        <th class="table_th border_right grey_background" width="10%" valign="bottom"> Rate</th>
        <th class="table_th border_right grey_background" width="6%" valign="bottom"> Qty</th>
        <th class="table_th border_right grey_background" width="10%" valign="bottom">Taxable</th>
        <th class="table_th border_right_bottom grey_background" colspan="2"> CGST</th>
        <th class="table_th border_right_bottom grey_background" colspan="2"> SGST</th>
        <th class="table_th border_right_bottom grey_background" colspan="2"> IGST</th>
      </tr>

      <tr class="tr_with_right_border">
        <th class="table_th border_rbl grey_background" width="5%" valign="top">No.</th>
        <th class="table_th border_right_bottom grey_background" width="15%" valign="top">Service</th>
        <th class="table_th border_right_bottom grey_background" width="9%" valign="top">SAC</th>
        <th class="table_th border_right_bottom grey_background" width="10%" valign="top"></th>
        <th class="table_th border_right_bottom grey_background" width="6%" valign="top"></th>
        <th class="table_th border_right_bottom grey_background" width="10%" valign="top">Value</th>
        <th class="table_th border_right_bottom grey_background" width="6"> %</th>
        <th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
        <th class="table_th border_right_bottom grey_background" width="6"> %</th>
        <th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
        <th class="table_th border_right_bottom grey_background" width="6"> %</th>
        <th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
      </tr>

      {% for item in data.items %}
      <tr class="tr_with_right_border">
        <td class="table_td border_rbl" width="5%"> {{forloop.counter}}</td>
        <td class="table_td border_right_bottom" width="15%"> {{item.name}}</td>
        <td class="table_td border_right_bottom " width="9%" style="text-align:right"> {{item.hsn}}</td>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> {{item.rate}}</td>
        <td class="table_td border_right_bottom " width="6%" style="text-align:right"> {{item.quantity}}</td>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> {{item.taxable_value}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> {{item.cgst_rate}}</td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{item.cgst_amount}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> {{item.sgst_rate}}</td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{item.sgst_amount}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> {{item.igst_rate}}</td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{item.igst_amount}}</td>
      </tr>

      {% endfor %}

      <tr class="tr_with_right_border">
        <th class="table_td border_rbl grey_background" colspan="4" style="text-align: right"> Total&nbsp;</th>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> {{data.total_quantity}}</td>
        <td class="table_td border_right_bottom " width="10%" style="text-align:right"> {{data.amount.taxable_value}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> </td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{data.amount.cgst_amount}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> </td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{data.amount.sgst_amount}}</td>
        <td class="table_td border_right_bottom " width="6" style="text-align:right"> </td>
        <td class="table_td border_right_bottom " width="9" style="text-align:right"> {{data.amount.igst_amount}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl " style="font-style: italic;" colspan="12"> * Value of Product/Service</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" style="text-align: center; font-weight: 600;" colspan="6"> Total in Words</td>
        <td class="table_td border_bottom " style="text-align: left; font-weight: 600;" colspan="3"> Taxable Amount</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3">{{data.amount.taxable_value}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl " style="text-align: center;" colspan="6" rowspan="3"> {{data.amount.value_in_words}}</td>
        <td class="table_td border_bottom " style="text-align: left;" colspan="3">Add: CGST</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3">{{data.amount.cgst_amount}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_bottom " style="text-align: left;" colspan="3">Add: SGST</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3">{{data.amount.sgst_amount}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_bottom " style="text-align: left;" colspan="3">Add: IGST</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3">{{data.amount.igst_amount}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background" style="text-align: center; font-weight: 600;" colspan="6"> Terms & Conditions</td>
        <td class="table_td border_bottom " style="text-align: left; font-weight: 600;" colspan="3"> Total Tax</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3">{{data.amount.total_tax}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl " colspan="6" rowspan="10">
          {% for term in data.terms %}
          {{forloop.counter}}. {{ term.text }}
          {% endfor %}
        </td>
        <td class="table_td border_bottom " style="text-align: left; font-weight: 600;" colspan="3"> Total Amount After Tax</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3"> {{data.amount.currency_unit}} {{data.amount.value_in_figure}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_bottom " style="text-align: left;" colspan="3"></td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3"> (E & O.E.)</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_bottom " style="text-align: left;" colspan="3">GST Payable on Reverse Charge</td>
        <td class="table_td border_right_bottom " style="text-align: right;" colspan="3"> 
          {% if data.amount.rcm == 0 %}
            &nbsp;
          {% else %}
            {{data.amount.rcm}}
          {% endif %} 
        </td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_right" style="text-align: center;" colspan="6"> </td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_right" style="text-align: center;" colspan="6"> Certified that particulars given above are true and correct for </td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_right_bottom " style="text-align: center;" colspan="6"> {{data.consignor.name}}</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_right" style="text-align: center;" colspan="6"> </td>
      </tr>
      <tr class="tr_with_right_border">
        <td class="table_td border_right_bottom " style="text-align: center;" colspan="6">This is computer generated challan requires no signature</td>
      </tr>

      <tr class="tr_with_right_border">
        <td class="table_td border_rbl grey_background " colspan="6" rowspan="2" style="text-align: center;"> Authorised Signatory</td>
      </tr>
    </table>
    <br><br>

  </div>
</body>

</html>