<div class="wrapper">
  <div class="quick-filter">
    <div
      class="chip"
      *ngFor="let f of quickFilters"
      (click)="applyQuickFilter(f.val)"
      [ngClass]="{'selected': f.val=== selected_quick_filter}"
    >
      {{f.label}}
    </div>
    <div class="date-range">
      <div
        (mouseover)="activate_date_clear($event)"
        (mouseout)="deactivate_date_clear($event)"
        (click)="reset_date($event)"
      >
        <span
          [ngClass]="{
            'show-cross': date_range[0] && date_range[1],
            'hide-cross': !(date_range[0]&&date_range[1]),
            'activate-cross': date_activated,
            'deactivate-cross': !date_activated
          }"
          class="fa fa-times"
        >
        </span>
      </div>
      <input
        class="date-range-field"
        #drp="bsDaterangepicker"
        bsDaterangepicker
        placeholder="Custom Period"
        [(ngModel)]="date_range"
        (ngModelChange)="date_changed($event)"
        [bsConfig]="{
            dateInputFormat: 'DD/MM/YYYY',
            containerClass: 'theme-blue'
        }"
        readonly
      />
      <span class="fa fa-calendar" (click)="drp.toggle()"></span>
    </div>
    <div class="action-buttons">
        <app-blowhorn-button
        *ngIf="_blowhorn_service.hasPermission('enterprise_trips', 'can_download_stops_template')"
        class="download-btn"
        (click_fired)="download_template()"
        [label]="'Download Stops Template'"
        >
        </app-blowhorn-button>
        <app-blowhorn-button
        *ngIf="_blowhorn_service.hasPermission('enterprise_trips', 'can_request_additional_vehicle')"
        class="download-btn"
        (click_fired)="open_request_order()"
        [label]="'Request Additional Vehicle'"
        >
        </app-blowhorn-button>
    </div>
  </div>
  <div class="filter">
    <div class="city">
      <app-dropdown-select
        [styles]="city_styles"
        [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
        [selected_id]="selected_city_id ? selected_city_id : null"
        [items]="cities"
        [disabled]="city_disabled || false"
        (value_changed)="city_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="hub">
      <app-dropdown-select
        [styles]="hub_styles"
        [selected_name]="selected_hub_name ? selected_hub_name : 'All Hubs'"
        [selected_id]="selected_city_id ? selected_city_id : null"
        [items]="hubs"
        [disabled]="hub_disabled || false"
        (value_changed)="hub_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="vehicle">
      <app-dropdown-select
        [styles]="vehicle_type_styles"
        [selected_name]="selected_vehicle_type_name ? selected_vehicle_type_name : 'All Vehicle Types'"
        [selected_id]="selected_vehicle_type_id ? selected_vehicle_type_id : null"
        [items]="vehicle_types"
        [disabled]="vehicle_type_disabled || false"
        (value_changed)="vehicle_type_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="driver">
      <app-dropdown-select
        [styles]="driver_styles"
        [selected_name]="selected_driver_name ? selected_driver_name : 'All Drivers'"
        [selected_id]="selected_driver_id ? selected_driver_id : null"
        (value_changed)="driver_changed($event)"
        [items]="drivers"
        [disabled]="driver_disabled || false"
      >
      </app-dropdown-select>
    </div>
    <div class="status">
      <app-dropdown-select
        [styles]="status_styles"
        [selected_name]="selected_status_name ? selected_status_name : 'All Status'"
        [selected_id]="selected_status_id ? selected_status_id : null"
        (value_changed)="status_changed($event)"
        [items]="status_list"
        [disabled]="status_disabled || false"
      >
      </app-dropdown-select>
    </div>
    <div class="contract-type">
        <app-dropdown-select
          [styles]="contract_type_styles"
          [selected_name]="selected_contract_type_name ? selected_contract_type_name : 'All Trip Types'"
          [selected_id]="selected_contract_type_id ? selected_contract_type_id : null"
          (value_changed)="contract_type_changed($event)"
          [items]="contract_types"
        >
        </app-dropdown-select>
      </div>
    <div class="order">
        <div (mouseover)="activate_order_clear($event)"
           (mouseout)="deactivate_order_clear($event)"
           (click)="reset_order($event)">
           <span [ngClass]="{
               'show-cross': order_trip_number,
               'hide-cross': !order_trip_number,
               'activate-cross': order_activated,
               'deactivate-cross': !order_activated
            }"
             class="fa fa-times">
           </span>
         </div>
        <input class="order-no"
        type="text"
        placeholder="Order/trip number"
        [(ngModel)]="order_trip_number"
        (ngModelChange)="order_changed($event)">
    </div>
    <div *ngIf="false" class="menu">
      <span class="fa fa-bars"></span>
    </div>
    <div *ngIf="false" class="map-list">
      <div class="map">
        <span class="fa fa-map-marker"></span>
      </div>
      <div class="list">
        <span class="fa fa-list"></span>
      </div>
    </div>
    <div class="search-btn-holder">
      <app-blowhorn-button
        class="search-btn"
        (click_fired)="search()"
        [label]="'Search'"
      >
      </app-blowhorn-button>
    </div>
    <div class="export-btn-holder">
      <app-blowhorn-button
        *ngIf="_blowhorn_service.hasPermission('enterprise_trips', 'can_export_data')"
        class="export-btn"
        (click_fired)="export()"
        [label]="'Export'"
      >
      </app-blowhorn-button>
    </div>
  </div>
</div>
