.wrapper {
    display: flex;
    flex-direction: column;
    height: 100px;
  .quick-filter {
    height: 50px;
    padding: 8px 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    flex-flow: wrap;
    .chip {
      padding: 4px 8px;
      margin: 0 4px;
      border-radius: 16px;
      border: 1px solid #ccc;
      cursor: pointer;
      min-width: 115px;
      text-align: center;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 18px;
      text-transform: uppercase;
      &:hover,
      &.selected {
        background-color: var(--primary-color);
        color: #fff;
      }
    }
    .date-range {
      flex-basis: 200px;
      border: 1px solid #f0f5f7;
      background-color: #f7fbfc;
      height: 30px;
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      grid-column-gap: 0px;
      align-items: center;
      justify-items: center;
      padding-right: 5px;
      padding-left: 5px;
      .date-range-field {
        outline: none;
        min-width: 160px;
        margin-left: 5px;
        border: none;
        color: #3f3636;
        background-color: #f7fbfc;
        font-size: 13px;
        line-height: 18px;
      }
      span {
        color: #bbc2c4;
        cursor: pointer;
      }
      .hide-cross {
        display: none;
      }
      .show-cross {
        display: block;
        padding-left: 2px;
        padding-right: 2px;
        color: lightgray;
      }
      .activate-cross {
        color: grey;
      }
      .deactivate-cross {
        color: lightgray;
      }
    }
    .action-buttons {
        display: flex;
        margin-left: auto;
        .download-btn {
            margin-left: 8px;
        }
    }
  }
  .filter {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    flex-flow: wrap;
    .city {
      flex-basis: 150px;
    }
    .hub {
      flex-basis: 200px;
    }
    .vehicle {
      flex-basis: 150px;
    }
    .driver {
      flex-basis: 200px;
    }
    .status {
      flex-basis: 150px;
    }
    .date-range {
      flex-basis: 230px;
      border: 1px solid #f0f5f7;
      background-color: #f7fbfc;
      height: 30px;
      display: grid;
      grid-template-columns: 1fr 7fr 1fr;
      grid-column-gap: 0px;
      align-items: center;
      justify-items: center;
      padding-right: 5px;
      padding-left: 5px;
      .date-range-field {
        outline: none;
        min-width: 170px;
        margin-left: 10px;
        border: none;
        color: #3f3636;
        background-color: #f7fbfc;

        font-size: 14px;
        line-height: 18px;
      }
      span {
        color: #bbc2c4;
        cursor: pointer;
      }
      .hide-cross {
        display: none;
      }
      .show-cross {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        color: lightgray;
      }
      .activate-cross {
        color: grey;
      }
      .deactivate-cross {
        color: lightgray;
      }
    }
    .hide {
      border: none;
      background-color: transparent;
    }
    .order {
      margin-left: 10px;
      flex-basis: 200px;
      border: 1px solid #f0f5f7;
      background-color: #f7fbfc;
      height: 30px;
      display: grid;
      grid-template-columns: 2fr 15fr;
      grid-column-gap: 0px;
      align-items: center;
      justify-items: center;
      padding-left: 5px;
      padding-right: 5px;
      .order-no {
        outline: none;
        border: none;
        height: 18px;
        min-width: 150px;
        color: #3f3636;
        background-color: #f7fbfc;

        font-size: 14px;
        line-height: 18px;
      }
      span {
        color: #bbc2c4;
        cursor: pointer;
      }
      .hide-cross {
        display: none;
      }
      .show-cross {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        color: lightgray;
      }
      .activate-cross {
        color: grey;
      }
      .deactivate-cross {
        color: lightgray;
      }
    }
    .menu {
      flex: 0;
      justify-self: center;
      cursor: pointer;
    }
    .map-list {
      height: 30px;
      border: 1px solid #dfe6e8;
      background-color: #ffffff;
      display: grid;
      align-self: center;
      grid-template-columns: 1fr 1fr;
      .map {
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
      }
      .list {
        cursor: pointer;
        display: grid;
        align-items: center;
        justify-items: center;
        background-color: #c5f4ff;
      }
    }
    .search-btn-holder,
    .export-btn-holder,
    .download-btn-holder {
      display: flex;
      align-items: center;
      margin-left: 5px;
    }
  }
}
