@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");
body {
  font-family: "Raleway", sans-serif;
  background: #fafafa;
}

h1 {
  text-align: center;
  padding: 30px 0 0 0;
}

h4 {
  font-size: 1.2em;
  text-align: center;
}

h5 {
  font-size: 0.7em;
  text-align: center;
  padding: 0 0 5px 0;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 3px;
  background-color: #d9d9d9;
  margin-left: -1.5px;
  left: 20px;
}
@media (min-width: 576px) {
  .timeline:before {
    left: 50%;
  }
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
  padding-left: 55px;
}
.timeline > li:after, .timeline > li:after {
  content: "";
  display: table;
  clear: both;
}
.timeline > li .panel {
  width: 100%;
  float: left;
  font-size: 0.9rem;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 1px 2px 80px 0 rgba(0, 0, 0, 0.1);
}
.timeline > li .panel summary {
  display: block;
  user-select: none;
  outline: none;
  padding: 10px;
  margin-bottom: 0px;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: margin, background;
  font-weight: 400;
}
.timeline > li .panel summary::-webkit-details-marker {
  display: none;
}
.timeline > li .panel summary:hover {
  background: #b3e5fc;
}
.timeline > li .panel p {
  padding: 0 20px 10px;
}
.timeline > li .panel[open] summary {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 576px) {
  .timeline > li {
    padding-left: 0px;
  }
  .timeline > li .panel {
    width: 50%;
  }
  .timeline > li:not(:nth-child(even)) {
    padding-right: 90px;
  }
  .timeline > li:nth-child(even) {
    padding-left: 90px;
  }
  .timeline > li:nth-child(even) > :nth-child(even) {
    float: right;
  }
}
.timeline > li > .icon {
  color: #d9d9d9;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  left: 20px;
  margin-left: -25px;
  background-color: #fafafa;
  z-index: 999;
  border-radius: 50%;
  font-family: Font Awesome\ 5 Free;
}
.timeline > li > .icon:before {
  content: "";
}
@media (min-width: 576px) {
  .timeline > li > .icon {
    left: 50%;
  }
}
.timeline > li > .icon.done {
  color: #b3e5fc;
}
.timeline > li > .icon.done:before {
  content: "";
}
.timeline > li > .icon.working {
  // color: #eeba4c;
  color: #b3e5fc;
}
.timeline > li > .icon.working:before {
  content: "";
}