<div class="container">
    <h4><i>STEPS</i></h4>
    <h5><i>CLICK ON HEADING FOR MORE DETAILS</i></h5>
      <ul class="timeline">
        
          <li class="timeline" *ngFor="let flow of flowData">
            <div class="icon done"></div>
            <details class="panel">
              <summary>{{ flow.summary }}</summary>
              <p>{{ flow.detail }}</p>
            </details>
          </li>

      </ul>
</div>
