.members-panel {
    padding: 10px 20px;
    background: rgb(226, 234, 236);
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    grid-template-rows: 50px 30px minmax(auto, calc(100vh - 198px)) 55px;
    position: relative;
    .members-list {
        overflow: auto;
        background-color: #FFFFFF;
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }
    }
    .members-grid {
        overflow: auto;
        background: inherit;
        padding: 8px 0;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }
    }
    .pagination {
        margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
