<div class="members-panel">
    <app-member-list-view-filter
    [total_count]="members.length"
    (filter_changed)="filter_changed($event)"
    (view_changed)="viewChanged($event)"
    (add_member_clicked)="open_member_modal()">
    </app-member-list-view-filter>
    <!-- Grid View -->
    <div *ngIf="currentView === views.grid"></div>
    <div class="members-grid" *ngIf="currentView === views.grid">
      <ng-container *ngFor="let member of members">
          <app-card
          [member]="member"
          (show_message)="show_alert($event)"
          ></app-card>
      </ng-container>
      <div *ngIf="members.length <= 0" class="error" >
          <span>{{ error_msg }}</span>
      </div>
    </div>
    <!-- List View -->
    <div *ngIf="currentView === views.list">
      <app-member-list-view-grid-title></app-member-list-view-grid-title>
    </div>
    <div class="members-list" *ngIf="currentView === views.list">
      <ng-container *ngFor="let member of members">
        <app-member-list-view-grid-row
        [member]="member"
        (show_message)="show_alert($event)">
        </app-member-list-view-grid-row>
      </ng-container>
      <div *ngIf="members.length <= 0" class="error" >
        <span>{{error_msg}}</span>
      </div>
    </div>
    <div *ngIf="members.length > 0" class="pagination">
      <app-blowhorn-pagination #pagination
        (data_fetched)="update_members($event)"
        [count]="count"
        [next]="next"
        [previous]="previous">
      </app-blowhorn-pagination>
    </div>
    <div *ngIf="confirmation.show_alert" class="modal-window">
        <app-blowhorn-confirm
        [heading]="confirmation.heading"
        [details]="confirmation.details"
        [show_warning]="confirmation.show_warning"
        [action_buttons]="confirmation.action_buttons"
        [styles]="confirmation.styles"
        (proceed)="close_alert($event)">
        </app-blowhorn-confirm>
    </div>
</div>
