<div class="wrapper">
  <div class="header">{{ heading }}</div>
  <div class="address">{{ details }}</div>
  <form>
    <input type="text" placeholder="Contact name" [(ngModel)]="contact_name" name="contact_name" #contactName="ngModel" pattern="[a-zA-z\s]*" [disabled]="disabled">
    <div *ngIf="contactName.dirty && !contactName.valid" class="form-input-error">Enter only alphabets and space.</div>
    <div class="phone-number-container">
      <app-isd-code [styles]="isdCodeStyles"></app-isd-code>
      <input type="text" placeholder="Contact number" [(ngModel)]="contact_number" name="contact_number" 
      #contactNumber="ngModel" [pattern]="regex.phone" [disabled]="disabled">
    </div>
    <div *ngIf="contactNumber.dirty && !contactNumber.valid" class="form-input-error">Enter a valid phone number.</div> 
  </form>
  <div class="footer">
    <app-blowhorn-button
      [label]="'Cancel'"
      (click_fired)="close_form()">
    </app-blowhorn-button>
    <app-blowhorn-button *ngIf="!disabled"
      [label]="'Save'"
      [type]="'save'"
      [disabled]="(!contactName.value && !contactNumber.value && !contactName.dirty && !contactNumber.dirty) || (contactName.value && !contactName.valid) || (contactNumber.value && !contactNumber.valid)"
      (click_fired)="save_contact()">
    </app-blowhorn-button>
  </div>
</div>