div.tag-input {float: left;}
.tags span {color: white;padding: 0.2em 0.5em;background-color: #5bc0de;vertical-align: top;}
.tags span a {padding-left: 0.4em;color: red;font-weight: bolder;text-decoration: none;cursor: pointer;}
a.add-tag {cursor: pointer;}
.aligned .form-row input {vertical-align: top;}
.invalid-pincode {color: red !important; border: 1px solid red !important;}
