#toast-content th, .notification-type {text-align: left;}
#toast-content td, .order-number {text-align: right;}
#toast-content tr {border: none;}
#toast-content {background: #2f96b4 !important;}
#btn-track-live {background-color: aqua;}
#btn-track-live:hover{background-color: lightgrey; color: black; cursor: pointer;}
.flash-new-record {background-color: springgreen;}

.status-new {color: blue;}
.status-inprogress {color: yellow;}
.status-delivered {color: lawngreen;}
.status-cancelled {color: red;}
.field-box.field-customer {width:40%;}

#track-modal .modal-dialog {margin: 0;height:100%;}
#track-modal .modal-body {padding-left: 0;padding-right: 0;}
#track-modal .modal-content {border-radius: 0;height:100%;}
#track-modal {position: absolute; top: 0; right: 0; bottom: 0; left:0; width: 100%; height: 100%;}
iframe {width: 100%; height: calc(100vh - 70px);}
