#businesscustomer_form .field-get_hub_view div label{display: none;}
#businesscustomer_form .field-get_hub_view div p{margin-left: 0;}
#businesscustomer_form .select2-selection__choice,
#businesscustomer_form .field-contracts {min-width:350px; width: fit-content;}
#businesscustomer_form .selector-filter img {display: none;}
#businesscustomer_form .selector-filter input {width: 200px;}
#businesscustomer_form .field-aggregates .related-widget-wrapper .add-related {display: none;}

.sortedm2m-container {width: 200px !important;}

