#businesscustomerconfigview_form .select2-selection__choice,
#businesscustomerconfigview_form .field-contracts .select2-selection__rendered,
#businesscustomerconfigview_form .select2-selection__choice {min-width:350px; width: max-content !important;}
#businesscustomerconfigview_form .selector-filter img {display: none;}
#businesscustomerconfigview_form .selector-filter input {width: 200px;}
#businesscustomerconfigview_form .field-aggregates .related-widget-wrapper .add-related {display: none;}

.sortedm2m-container {width: 200px !important;}

