.limit>input[name='limit'],
.mode>input[name='mode'],
.byday>input[name='byday'] {display: inline-block !important;}
.mode>label, .limit>label, .byday>label{display:none !important;}

#c2ccontract_form .dynamic-labourconfiguration h3 span a.inline-deletelink,
#smecontract_form .dynamic-labourconfiguration h3 span a.inline-deletelink {display: none;}
