/* Driver Id card */
#driverCard {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.cardDriver {
  font-family: "Ubuntu";
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: black;
}

#frontCover {
  height: 278px;
  width: 454px;
  background-size: cover;
  display: flex;
}

#frontCover .left-part {
  width: 54%;
  position: relative;
  padding-left: 6.5%;
  text-align: center;
}

#frontCover .right-part {
  width: 44%;
  position: relative;
  text-align: center;
}

.vehicle-number-holder {
  position: absolute;
  bottom: 7%;
  width: 88%;
}

#cardPic {
  position: absolute;
  left: 68px;
  top: 35px;
}

#cardId {
  position: relative;
  bottom: 7%;
  color: white;
}

#cardName {
  position: relative;
  top: 25%;
}

#designation {
  position: relative;
  top: 24%;
  font-weight: normal;
}

#cardPhone {
  position: relative;
  top: 62%;
  font-size: 1.5em;
}

#backCover {
  height: 278px;
  width: 454px;
  background-size: cover;
  position: relative;
}

#cardQr {
  position: absolute;
  left: 7%;
  top: 10%;
}

#cardIdBack {
  position: absolute;
  left: 18%;
  bottom: 15%;
  color: #fff;
}

#cardQr canvas {
  width: 180px;
  height: 180px;
}

#id-card-message {
  color: red;
  font-weight: bold;
  text-align: left;
}

.history p {
  margin: 0;
}

.history th,
.history td {
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 2px;
  max-width: 80px !important;
}

#disclaimer {
  color: #fff;
  position: absolute;
  right: 2%;
  bottom: 5%;
  width: 40%;
  text-align: center;
}
#disclaimer .disclaimer-header {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}

#disclaimer .disclaimer-body {
  font-size: 8px;
}
