.err-block { vertical-align: middle; text-align: center; border-radius: 12px; font: "RobotoBold"; background: white; padding: 15px; margin-bottom: 50px; box-shadow: 0 2px 4px 0 rgba(2, 2, 2, 0.42),0 2px 10px 0 rgba(0,0,0,0.12) !important; }
.error-text { margin: 25px;}
.home-link { display: inline;}
.home-linktext{ float: left; margin-top: 15px; margin-right: 15px;}
h1 {font-size: 4em;font-weight: bolder;margin-bottom: 40px;}
h2 {font-size: 2em;margin-bottom: 10px;}
a {text-decoration: none;color: white;}
a:hover{color: #00c1ef;}
