@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.driver_btn {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: green; /* White text */
    padding: 2px 8px; /* Some padding */
    font-size: 17px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-top: 8px;
    margin-left: 10px;

}

.customer_btn {
    background-color: white; /* Blue background */
    border: none; /* Remove borders */
    color: green; /* White text */
    padding: 0px 6px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-left: 10px;

}

.whitelist_btn {
    /*background-color: white; /* Blue background */*/
    border: none; /* Remove borders */
    color: green; /* White text */
    padding: 0px 6px; /* Some padding */
    font-size: 13px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin-left: 10px;
}