.select2-selection__rendered {max-width: 200px !important;}
img[src$="admin/img/icon-no.gif"] + span, img[src$="admin/img/icon-no.svg"] + span {color:red;}
img[src$="admin/img/icon-yes.gif"] + span, img[src$="admin/img/icon-yes.svg"] + span {color:green;}
ul.messagelist li.success > a {color: #1a0080 !important;}

/* Single selection dropdowns */
.select2-selection__rendered,
.select2-dropdown--below,
.select2-dropdown--above {max-width: 500px !important; width: max-content !important;width: -moz-max-content !important;}


/* Multi selection dropdowns */
.select2-selection--multiple>.select2-selection__rendered {max-width: 200px !important;}
.select2-selection--multiple>.select2-selection__rendered>.select2-selection__choice{width: 200px;white-space: normal;}
#companybankaccount_form .field-contracts .select2 {display: none !important;}

/* Following styles are overridden from Bootstrap */
.results th, .results td {padding:8px !important;}
.ui-timepicker * {box-sizing: content-box !important;}
div.date .form-control {z-index: 1 !important;}

.flash-new-record {
  animation: newrecord 1s linear infinite;
}

@keyframes newrecord {
  50% {background: green; color: black;}
}

.flash-update-record {
  animation: updaterecord 1s linear infinite;
}

@keyframes updaterecord {
  50% {background: #ffe000;color: black;}
}

/* Permission multi-select */
div.form-row.field-permissions span.select2-container--jet {width: 100% !important;}
div.form-row.field-permissions ul.select2-selection__rendered {max-width: unset !important; width: auto !important;}
.bootstrap-datetimepicker-widget li {list-style-type:none !important;}
.bootstrap-datetimepicker-widget {position: relative !important;}

/* FSM Hints block */
.hints-block {background: aliceblue;padding: 5px;}
.hints-block > h2 {font-size: 20px; color: red;font-weight: bold;margin: 0;}
.hints-block > .form-row {padding-top: 0;}
.user-tools ul {width: 17%;}

/* SortedM2M checkboxes fix */
.sortedm2m {display: inline-block !important;}

.paginator .label {font-size: 10px; color: black; }

input[type='tel'] {
  width: 20em;
  font-size: 13px;
  height: 32px;
  white-space: nowrap;
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  background-color: #fff;
  color: #4E5454;
  border: 1px solid #EDEDED;
  padding: 0 12px;
  appearance: none;
  transition: background 0.3s, box-shadow 0.3s, border 0.3s;
}
