#modal-send-to-customer h2 {padding: 6px;text-align: left;text-transform: uppercase;font-size: 11px;font-weight: bold;}
#modal-send-to-customer .modal-content {border-radius: 0;border: none;}
#modal-send-to-customer .modal-header {padding: 10px; background: #ccc; text-align: center;}
#modal-send-to-customer .modal-body .row {margin: 0;}
#modal-send-to-customer .hard-copy-info {font-size: 10px;}
#modal-send-to-customer .additional-email-block input {border-radius: 0;}
#modal-send-to-customer .additional-email-block .input-group-addon {padding: 0;width: 20%;border-radius: 0;border: none;background: #ccc;}
#modal-send-to-customer .additional-email-block .input-group-addon button {padding: 0;background: transparent;width: 100%;height: 100%;}
#modal-send-to-customer .modal-footer {display: flex;justify-content: flex-end;}
#modal-send-to-customer .btn-danger {margin-right: 10px;padding: 4px 12px;}
#modal-send-to-customer .customer-contacts-block {margin-bottom: 10px;}
#modal-send-to-customer #disclaimer-block {margin-top: 15px;padding: 10px;background-color: #ccc;}
#modal-send-to-customer #email-id-container {padding: 10px;margin-top: 10px; max-height: 150px;max-width: 400px;overflow: auto;}
#modal-send-to-customer #email-id-container div {padding: 4px 8px;width: 100%;background: #ccc;margin: 1px;overflow: hidden;}
#modal-send-to-customer #email-id-container div i {cursor: pointer;float: right;}
#modal-send-to-customer #confirm-recipients,
#modal-send-to-customer #confirm-cc-emails {max-height: 300px;overflow-y: auto;}
.ui-autocomplete {max-height: 200px;overflow: auto;}

.radio > input + label {background: white; box-shadow: 2px 3px #0C1A28; width: 90px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); padding: 5px;}
.radio > input:checked + label {background: #0acf24;}
#content #content-main #customerinvoice_form div .field-get_calculation label {display:None}
#content #content-main #customerinvoice_form div .field-get_calculation pre {width: 640px}
#invoicehistory_set-group > div > fieldset > table > thead > tr > th:last-child {display:none;}
#id-to_email_from, #id-to_email_to {min-height: 50px;}
.field-suggested_value div  {display:none}
.field-suggested_tds div  {display:none}
