#toast-content th, .notification-type {text-align: left;}
#toast-content td, .order-number {text-align: right;}
#toast-content tr {border: none;}
#toast-content {background: #2f96b4 !important;}

.flash-new-record {background-color: springgreen;}

.field-box.field-customer {width:40%;}

iframe {width: 100%; height: calc(100vh - 70px);}
