.version-info {
  padding: 0 14px 0 24px;
  font-weight: bold;
  color: #ccc;
  display: inline;
}
.bar-chart {
    display: flex;
    justify-content: space-around;
    height: 160px;
    padding-top: 60px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.bar-chart .bar {
    flex: 100%;
    align-self: flex-end;
    margin-right: 2px;
    position: relative;
    opacity: 0.8;
}

.bar-chart .bar:last-child {
    margin: 0;
}

.bar-chart .bar:hover {
    opacity: 1;
}

.bar-chart .bar .bar-tooltip {
    position: relative;
    z-index: 999;
}

.bar-chart .bar .bar-tooltip {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
    opacity: 0;
}

.chart-container {
    margin: 1% 0;
}

.bar-chart .bar:hover .bar-tooltip {
    opacity: 1;
}

.chart-title {
    padding: 5px;
    color: #fff;
}

.chart-title h2 {
    margin: 0;
}

*,
:active,
:focus {
    outline: 0;
}

ul li {
    list-style: none !important;
    padding: 8px !important;
}

.tab-header {
    width: 100%;
    float: left;
}

.count_badge {
    background-color: #6592e2;
    margin-left: 12px;
    font-size: 11px;
    padding: 3px 6px;
    color: #FFF;
    margin-bottom: 0px;
    margin-top: -03px;
    font-weight: 300;
    line-height: 12px;
}

.ripple-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.invoice_tab_list {
    background-color: transparent !important;
    font-weight: 500 !important;
}

.invoice_tab_list .nav-tabs.scrollable {
    background-color: transparent !important;
    font-weight: 500 !important;
}

.invoice_tab_list .nav-tabs.scrollable::before {
    font-weight: 500;
}

.nav-tabs {
    border: none;
    background: #fff;
    list-style: none;
    padding: 0;
    white-space: nowrap;
    margin: 0;
    width: 100%;
    box-shadow: inset 0 -2px 0 0 #e6edf1;
}

.nav-tabs.scrollable {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    display: flex;
}

.nav-tabs.scrollable::before {
    white-space: nowrap;
}

.nav-tabs::before {
    list-style: none;
    white-space: nowrap;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #516073 !important;
    ;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    text-decoration: none;
}

.nav-tabs a {
    text-decoration: none !important;
}

.nav-tabs li {
    position: relative;
    cursor: pointer;
}

.nav-tabs li.active a::after {
    background: #ec407a;
}

.nav-tabs li.active a::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.nav-tabs li a::after {
    content: "";
    left: 0;
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.accordian-body.show {
    -webkit-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    max-height: 80vh;
    overflow-y: auto;
}

.main-row {cursor: pointer;}
.highlight-row {
    -webkit-box-shadow: -8px -5px 16px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -8px -5px 16px -4px rgba(0, 0, 0, 0.58);
    box-shadow: -8px -5px 16px -4px rgba(0, 0, 0, 0.58);
    font-weight: bold;
    background: deepskyblue;
}

.col-right-text {
    text-align: right;
}

.tr-collapsible {
    border: none !important;
}

.tr-collapsible > td > .row {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.invoice-history-wrapper {
  margin: 0;
}

.history-btn-container {
  text-align: right;
}

.tr-collapsible .history-container {
    width: 100%;
    padding: 8px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
}

.tr-collapsible .history-container .status-holder {
    display: inline-block;
    width: 100%;
}

.tr-collapsible .history-container .icon-holder {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
}

.tr-collapsible .history-container .icon-holder:first {display: none;}
.tr-collapsible .history-container .icon-holder i.fa-long-arrow-alt-right {
    font-size: 24px;
    vertical-align: bottom;
    margin-right: 10px;
}

.tr-collapsible .history-container .icon-holder i.fa-clock {color: #ff6e00;cursor: pointer;}
.basic-info-holder {display: inherit;}

.tr-collapsible .history-container .history-error {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.tr-collapsible .history-container .history-block {
    padding: 5px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.tr-collapsible .history-container .history-block .h-status {
    padding: 5px;
    color: #fff;
    border-radius: 15px;
    /* text-align: center; */
    position: relative;
    display: inline-block;
    width: 100%;
}

.tr-collapsible .history-container .history-block .h-status .tooltip-content {
    visibility: hidden;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    margin: 0;
    color: #000;
    background: #fff;
    padding: 8px;
    -webkit-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
    box-shadow: -8px 6px 25px -4px rgba(0, 0, 0, 0.58);
}

.tr-collapsible .history-container .history-block .h-status:hover .tooltip-content {
    visibility: visible;
}
.tr-collapsible .history-container .history-block .col-history {margin: 0;}
.tr-collapsible .history-container .history-block .col-history .h-label {
    font-weight: bold;
}
.tr-collapsible .remarks-heading-block, .tr-collapsible .remarks-content-block {
  margin: 0;
}

.tr-collapsible .remarks-heading-block div {
  font-weight: bold;
  text-decoration: underline;
  padding: 8px 10px;
}
.tr-collapsible .remarks-content-block {
  text-align: justify;
  padding: 10px;
}
.tr-collapsible .remarks-content-block > div {
  padding: 0;
}
.tr-collapsible .remarks-content-block .horizontal-separator {
  border-right: 1px solid #ccc;
}

.opening-balance div {
    display: inline-block;
}

.summary-head {
    min-height: 30px;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.total-text-container {
  display: flex;
  margin: auto 0 auto auto;
}

.summary-head>div.amount-label {
    font-size: 10px;
}

.summary-container {
    padding: 0;
}

.tablesorter-header-inner {
    font-size: 12px;
}

.legend-row {
    position: relative;
    min-height: 30px;
}

.legend-row .legend-container {
    float: right;
}

.legend-row .legend {
    padding: 0 5px;
}

.legend-row .legend:not(:last-child) {
    border-right: 1px solid #ccc;
}

.legend-row .legend-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.legend-row .legend-info-text {
    display: inline-block;
    vertical-align: text-bottom;
}

th.sorter-false {
    background-image: none !important;
    cursor: default;
}

td.invoice-pk a i {
    font-size: 18px;
    color: yellow;
}

#loading {
    height: 100px;
    width: 100%;
    position: relative;
}

.btn-flat {
  border-radius: 0;
}

.btn-flat:hover {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
}

.btn-download {
  position: absolute;
  right: 0;
}

#icon-loading {
    position: absolute;
    top: 100%;
    left: 45%;
    width: 100px;
    height: auto;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
