.wrapper {
	display: flex;
	flex-direction: column;
}
.trip-status {
	display: flex;
	/*background-color: lightgray;*/
}
.input-radio {
	flex: 1;
}
.splitter {
	display: flex;
}
.no-show-reason {
	flex: 1;
	padding: 10px;
	/*background-color: lightblue;*/
}
.suspend-reason {
	flex: 1;
	padding: 10px;
	/*background-color: lightgreen;*/
}

.payment-status {
	display: flex;
	padding: 10px;
}

.payment-status-input {
	flex-basis: calc(30% - 20px);
}