:host {
  background-color: #f5f9fa;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
}

app-header {
  box-shadow: 0px 0px 8px 0px rgba(0 ,0, 0, .3);
  z-index: 10;
  position: relative;
}

.fullscreen {
  width: 100%;
  height: 100%;
}

.tabs-view {
  max-width: 975px;
}

.all-trips {
  width: 100%;
  padding-left: 0;
  height: calc(100vh - 87px);
}
