<div class="wrapper">
    <div class="col-title" *ngIf="show_city">City</div>
    <div class="col-title">Hub</div>
    <div class="col-title">Vehicle Type</div>
    <div class="col-title">Slot</div>
    <div class="col-title">Radius enabled?</div>
    <div class="col-title">Radius</div>
    <div class="col-title number">Total Drivers</div>
    <div class="col-title"></div>
</div>
