<div class="invoice-download-modal">
    <div class="modal-header">
        <div class="modal-title-text">Documents</div>
        <span class="fa fa-times cross" (click)="download_closed.emit(true)"></span>
    </div>
    <div class="details">
        Invoice #: {{invoice_number}}
    </div>
    <div class="btn-wrapper">
        <app-blowhorn-button class="action-btn"
        (click_fired)="click_fired.emit('invoice')"
        [label]="download.invoice.label"
        [type]="download.invoice.type">
        </app-blowhorn-button>
        <app-blowhorn-button class="action-btn"
        (click_fired)="click_fired.emit('mis')"
        [label]="download.mis.label"
        [type]="download.mis.type">
        </app-blowhorn-button>
    </div>
</div>
