.invoice-download-modal {
    display: flex;
    flex-direction: column;
    width: 420px;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 4px;
    background-color: #FFFFFF;
    padding: 0 0 20px 0;
    .modal-header {
        display: flex;
        margin-bottom: 10px;
        .modal-title-text {
            color: #434343;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
        }
        .cross {
            display: flex;
            justify-content: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .details {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 29px;
        margin-bottom: 10px;
    }
    .btn-wrapper {
        display: flex;
        justify-content: space-around;
        padding: 15px 5px 0 5px;
    }
}
