.header {
    background-color: #e4f6fe;
    color: #303232;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    font-variant: small-caps;
    padding: 30px 20px 10px 20px;
}

.row {
    margin-block-start: 20px;
    padding-left: 20px;
}