<div class="header">Third Party Integrations</div>

<div class="row">
    <div class="col-lg-6">
        <app-tpi-process-flow></app-tpi-process-flow>
    </div>
    <div class="col-lg-6">
        <app-tpi-form></app-tpi-form>
    </div>
</div>

