.card {
    border: none;
    margin-bottom: 2rem;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    background-color: #fff;
    background-clip: border-box;
    border-radius: .428rem;
    .card-body {
        padding: 1.5rem;
        .truncate {
            .heading {
                color: #5e5873;
                line-height: 1.2;
            }
            span {
                color: #6e6b7b;
            }
        }
        .b-avatar {
            width: 45px;
            height: 45px;
            text-align: center;
            font-size: .857rem;
            font-weight: 600;
            .b-avatar-custom {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                mask-image: radial-gradient(#fff,#000);
            }
        }
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
}
