<div class="card" [ngStyle]="styles.wrapper">
  <div class="card-body d-flex justify-content-between align-items-center" [ngStyle]="styles.body">
    <div class="truncate">
      <h2 class="mb-25 heading">{{ value }}</h2>
      <span>{{ label }}</span>
    </div>
    <span class="b-avatar rounded-circle" [ngStyle]="styles.avatar">
        <span class="b-avatar-custom" [ngStyle]="styles.icon">
            <img [src]="srcData" />
        </span>
    </span>
  </div>
</div>
