<div class="invoice-panel">
    <app-invoice-list-filter (filter_changed)="filter_changed($event)">
    </app-invoice-list-filter>
    <app-invoice-list-view-grid-title
    [show_actions]="show_actions"
    [styles]="grid_styles"
    [show_auditlog]="show_auditlog"
    [created_time_title]="created_time_title"
    [created_by_title]="created_by_title">
    </app-invoice-list-view-grid-title>
    <div class="invoice-grid">
        <ng-container *ngFor="let invoice of invoice_list">
            <app-invoice-list-view-grid-row [invoice]="invoice"
            [show_actions]="show_actions"
            [styles]="grid_styles"
            [show_auditlog]="show_auditlog"
            (action_clicked)="perform_action($event)">
            </app-invoice-list-view-grid-row>
        </ng-container>
        <div *ngIf="invoice_list.length <= 0" class="error" >
            <span>{{error_msg}}</span>
        </div>
    </div>
    <div *ngIf="invoice_list.length > 0" class="pagination">
        <app-blowhorn-pagination #pagination
            (data_fetched)="update_invoice_list($event)"
            [count]="count"
            [next]="next"
            [previous]="previous">
        </app-blowhorn-pagination>
    </div>
    <div *ngIf="show_details" class="modal-window">
        <app-invoice-details
        [invoice]="selected_invoice"
        [show_actions]="show_actions"
        [prev_available]="prev_available"
        [next_available]="next_available"
        (details_closed)="show_details=false"
        (action_clicked)="perform_action($event)"
        (paginator_clicked)="apply_pagination($event)"
        ></app-invoice-details>
    </div>
    <div class="modal-window" *ngIf="prompt.show">
        <app-invoice-action
        [dispute_reasons]="dispute_reasons"
        [heading]="prompt.heading"
        [details]="prompt.details"
        [show_warning]="prompt.show_warning"
        [action_buttons]="prompt.action_buttons"
        [styles]="prompt.styles"
        [show_reason]="prompt.show_reason"
        [show_comments]="prompt.show_comments"
        [show_footer]="prompt.show_footer"
        [loader]="prompt.loader"
        (click_fired)="submit_action($event)">
        </app-invoice-action>
    </div>
</div>
