.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        position: sticky;
        top: 0px;
        background-color: #F7FBFC;
    }
    .title {
        box-shadow: inset 8px 0px 16px -8px #C9D2D6;
        position: sticky;
        top: 100px;
        width: 100%;
        background-color: #fff;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 30px;
        padding-right: 30px;
        color: #757E7F;		font-size: 12px;	line-height: 18px;
        margin-bottom: 5px;
        .no {
            flex: 1;
            margin: 0px auto;
        }
        .detail {
            flex: 6;
        }
        .contact {
            flex: 3;
        }
    }
    .grid {
        width: 100%;
        flex: 1;
        .grid-row {
            box-shadow: inset 8px 0px 16px -8px #C9D2D6;
            padding: 10px 30px;
            background-color: #fff;
            margin-bottom: 10px;
        }
    }
}
.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-panel {
    min-width: 200px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    border-radius: 2px;
    app-blowhorn-message {
        flex: 1;
    }
}