<div *ngIf="route" class="wrapper">
  <div class="title">
    <div class="no">Stop No.</div>
    <div class="detail">Stop Details</div>
    <div class="contact">Stop Contact Details</div>
  </div>
  <div class="grid">
    <div class="grid-row" *ngFor="let stop of sorted_stops(route.stops); let index = index">
        <app-route-detail-list-row [stop]="stop"
          [stop_type]="get_stop_type(index)"
          (fire_stop_edit)="set_stop_under_edit($event)">
        </app-route-detail-list-row>
    </div>
  </div>
</div>
<div *ngIf="show_save_address" class="modal-window">
    <app-save-location 
      #address_form
      [location_name]="_stop_under_edit.saved_location.name"
      [contact_name]="_stop_under_edit.saved_location.name ? _stop_under_edit.saved_location.contact.name : _stop_under_edit.contact.name"
      [contact_mobile]="_stop_under_edit.saved_location.name ? _stop_under_edit.saved_location.contact.mobile : _stop_under_edit.contact.mobile"
      [latitude]="_stop_under_edit.geopoint.lat()"
      [longitude]="_stop_under_edit.geopoint.lng()"
      [heading]="_route_service.get_location_form_header()"
      [full_address]="_stop_under_edit.address.full_address"
      [area]="_stop_under_edit.address.area"
      [city]="_stop_under_edit.address.city"
      [postal_code]="_stop_under_edit.address.postal_code"
      [is_saved_location]="_stop_under_edit.address.name"
      (form_close)="close_address_form()"
      (form_save)="update_stop_saved_location($event, _stop_under_edit)">
    </app-save-location>
</div>
<div *ngIf="show_save_contact" class="modal-window">
     <app-save-contact 
      #contact_form
      [contact_name]="(_stop_under_edit.contact.name || _stop_under_edit.contact.mobile) ? _stop_under_edit.contact.name : _stop_under_edit.saved_location.contact.name"
      [contact_number]="(_stop_under_edit.contact.name || _stop_under_edit.contact.mobile) ? _stop_under_edit.contact.mobile : _stop_under_edit.saved_location.contact.mobile"
      [heading]="_route_service.get_contact_form_header(_stop_under_edit.seq_no)"
      [details]="_stop_under_edit.address.full_address"
      (form_close)="close_contact_form()"
      (form_save)="update_stop_contact($event, _stop_under_edit)">
    </app-save-contact>
</div>
<div *ngIf="is_error.address || is_error.contact" class="modal-window">
  <div class="message-panel">
    <app-blowhorn-message
      [type]="'error'" [heading]="'Failed to save contact'" [message]="error_msg"
      (close_fired)="reset_error()">
    </app-blowhorn-message>
  </div>  
</div>