*,
body {
  font-family: var(--font-regular);
}
body {
  background-color: #ffffff;
}
.logo-image {
  min-height: 45px;
  width: 300px;
  padding: 10px;
}
.logo-image > img {
  width: 100px;
}
.header {
  flex: 1;
  margin: 0;
  padding: 0;
  align-self: stretch;
  background-color: white;
  align-items: stretch;
  justify-items: flex-start;
}
.navbar-custom {
  padding: 10px 20px;
  align-items: center;
  font-weight: bold;
  height: 90px;
  box-shadow: var(--box-shadow);
  display: flex;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;
}
.container-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.rightbar {
  padding: 15px;
}
.category-block {
  display: flex;
  flex-direction: column;
}
.category-block .statuses {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  box-shadow: var(--box-shadow);
}
.upcoming {
  margin-right: 5px;
}
.category-block div {
  cursor: pointer;
}
.rightbar .products {
  width: 100%;
  margin: 30px 0;
  justify-content: center;
  display: flex;
}
.rightbar span.select2 {
  width: 100% !important;
}
.select2-selection,
.select2-selection__rendered,
.select2-selection__arrow {
  height: 40px !important;
}
.select2-selection__rendered {
  padding: 2%;
}

/* For current static page */
.page-container {
  height: 100vh;
  width: 100%;
}
.nav {
  box-shadow: var(--box-shadow);
  background: rgb(230, 245, 247);
}
.header {
  padding: 5px;
}
.heading {
  font-size: 18px;
  line-height: 27px;
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
  font-weight: 700;
}
.content-wrapper {
  padding-left:10%;
  padding-right:10%;
}
.content-wrapper .right-aligned-pills > li.active > a,
.content-wrapper .right-aligned-pills > li.active > a:hover,
.content-wrapper .right-aligned-pills > li.active > a:focus {
  background: none !important;
  border-left: 4px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 0;
}
.content-wrapper .subtabs > li.active > a,
.content-wrapper .subtabs > li.active > a:hover,
.content-wrapper .subtabs > li.active > a:focus,
.content-wrapper .subtabs > li > a:hover {
  color: var(--primary-color);
  background: none !important;
  border-bottom: 4px solid var(--primary-color) !important;
  border-radius: 0;
}
.tab-content {
  box-shadow: var(--box-shadow);
  background: #fff;
}
.subtabs {
  border-bottom: 1px solid #eee;
}
#sub-tabContent .container-fluid {
  padding: 15px;
}
.category {
  font-size: 18px;
  border: 2px solid rgb(153, 226, 245);
  border-radius: 5px;
  margin-top: 10px;
  padding-top: 5px;
  text-align:center;
  cursor: pointer;
  width:30%;
}
.response {
  padding: 0px 15px 15px 15px;
}
.modal-title-text {
  color: var(--primary-color-dark);
  font-family: MetropolisRegular, sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-align: center;
  display: flex;
  position: relative;
}
.version-info {
  font-size: 12px;
  line-height: 18px;
  vertical-align: bottom;
  margin: auto 0 1% 0;
}
.modal-caption {
  color: grey;
  font-family: MetropolisRegular, sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.highlight {
  background-color: var(--primary-color);
  color: #fff;
}
.card-content-wrapper {
  display: flex;
  flex-direction: column;
}
.release-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  padding: 15px;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0 0;
}
.card-footer .text {
  font-family: var(--font-medium);
  margin-right: 5px;
}
.release-date, .tags {
  display: flex;
}
.heading-separator {
  width: 100%;
  margin-top: 0;
}
#no-data{
  text-align: center;
  color: var(--danger);
  font-size:20px;
  height: 45vh;
}
#no-data div {
  vertical-align: middle;
  margin: auto;
}
#no-data .message {
  display: flex;
  justify-content: center;
  height: 100%;
}
p.pos_fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.hidden-xs .rightbar {
    position: fixed;
    z-index: 1;
    right: 10%;
    width: 25%;
    height: 100vh;
    background: #fff;
}
#gotop {
  width: 60px;
}

/*  ********************** LOADER ************************** */
#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #000;
  opacity: 0.7;
}
.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 45%;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--primary-color);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (max-width: 769px) {
  .modal-title-text {
    font-size: 18px;
    line-height: 27px;
  }
  .modal-caption {
    font-size: 12px;
    line-height: 18px;
  }
  .container-wrapper,
  .container-wrapper .container {
    padding: 0;
  }
  .rightbar .category-block {
    flex-direction: row;
  }
  .card-footer {
    flex-direction: column;
  }
}
