<div class="side-bar">
    <div class="header">
        <img class="logo" src="{{blowhorn_service.logo_url}}" alt="logo">
        <span>New Order</span>
    </div>
    <div class="details">
        <div class="form">
            <form #order_form="ngForm">
                <input type="text" [(ngModel)]="customer_name" name="customer_name"
                #customerName="ngModel" required pattern="[a-zA-Z0-9\s]+" placeholder="Customer name"
                [ngClass]="{'invalid': customerName.touched && !customerName.valid}">
                <div *ngIf="customerName.touched && (!customerName.value || !customerName.valid)"class="form-input-error">
                  <div *ngIf="customerName.touched && !customerName.value">Mandatory field</div>
                  <div *ngIf="customerName.touched && !customerName.valid" >Only alphabets and space are allowed.</div>
                </div>

                <input type="text" [(ngModel)]="customer_email"
                name="customer_email" #customerEmail="ngModel"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" placeholder="Customer email"
                [ngClass]="{'invalid': customerEmail.touched && !customerEmail.valid}">
                <div *ngIf="customerEmail.touched && (!customerEmail.value || !customerEmail.valid)"class="form-input-error">
                    <div *ngIf="customerEmail.touched && !customerEmail.value">Mandatory field</div>
                    <div *ngIf="customerEmail.touched && !customerEmail.valid">Invalid email</div>
                </div>

                <input type="text" [(ngModel)]="customer_number"
                name="customer_number" #customerNumber="ngModel"
                required pattern="[1-9][0-9]{9}" maxLength="10"
                minLength="10" placeholder="Customer number"
                [ngClass]="{'invalid': customerNumber.touched && !customerNumber.valid}">
                <div *ngIf="customerNumber.touched && !customerNumber.valid"
                class="form-input-error">
                Enter 10 digit number. Do not start with zero
                </div>

                <div class="city">
                    <app-dropdown-select
                    [styles]="dropdown_styles"
                    [selected_name]="selected_city_name ? selected_city_name : 'select city'"
                    [selected_id]="selected_city_id ? selected_city_id : null"
                    [items]="_blowhorn_service.cities"
                    (value_changed)="city_changed($event)">
                    </app-dropdown-select>
                </div>

                <app-blowhorn-map-search
                [selected_city]="selected_city_id"
                [placeholder]="'Enter pickup location'"
                [stop]="stops[0]"
                [stop_header]="'Pickup'"
                [stop_type]="'pickup'"
                [enable_delete]="false"
                [sequence]="'1'"
                [enable_swap]="false"
                [has_saved_locations]="false"
                [show_current_loc]="is_current_location_in_city"
                [default_current_location]="true"
                [draggable]="false"
                [favourites]="false"
                (place_changed)="place_changed($event, stops[0], 'Enter pickup location', 'pickup')"
                (stop_updated)="update_stop($event, stops[0])"
                (pan_to_location)="pan_to($event)"
                (focused)="focused($event, 'pickup')"
                (blur)="blurred($event)"
                >
                </app-blowhorn-map-search>
                <app-blowhorn-map-search
                [selected_city]="selected_city_id"
                [placeholder]="'Enter dropoff location'"
                [stop]="stops[1]"
                [stop_header]="'Dropoff'"
                [stop_type]="'dropoff'"
                [enable_delete]="false"
                [sequence]="'2'"
                [enable_swap]="false"
                [has_saved_locations]="false"
                [show_current_loc]="is_current_location_in_city"
                [draggable]="false"
                [favourites]="false"
                (place_changed)="place_changed($event, stops[1], 'Enter dropoff location', 'dropoff')"
                (stop_updated)="update_stop($event, stops[1])"
                (pan_to_location)="pan_to($event)"
                (focused)="focused($event, 'dropoff')"
                (blurred)="blurred($event)"
                >
                </app-blowhorn-map-search>

                <div class="radio-group cost-category">
                    <label for="cost_category">Cost Category</label>
                    <div class="radio-button-wrapper">
                        <input id="fixed" class="toggle-left"
                        type="radio" value="fixed" name="cost_category"
                        required [(ngModel)]="cost_category" #costCategory="ngModel"
                        (change)="cost_category_changed($event)">
                        <label for="fixed" class="btn">Fixed</label>
                        <input id="variable" class="toggle-right"
                        type="radio" value="variable" name="cost_category"
                        required [(ngModel)]="cost_category" #costCategory="ngModel"
                        (change)="cost_category_changed($event)">
                        <label for="variable" class="btn">Variable</label>
                    </div>
                </div>

                <div class="contract" *ngIf="is_variable_price">
                    <app-dropdown-select
                    [styles]="dropdown_styles"
                    [selected_name]="selected_contract_name ? selected_contract_name : 'select contract'"
                    [selected_id]="selected_contract_id ? selected_contract_id : null"
                    [items]="contracts"
                    [disabled]="!is_variable_price"
                    (value_changed)="contract_changed($event)">
                    </app-dropdown-select>
                </div>

                <div *ngIf="!is_variable_price">
                    <input type="text" [(ngModel)]="order_cost"
                    name="order_cost" #orderCost="ngModel"
                    pattern="[0-9]+(\.[0-9]{1,2})?"
                    placeholder="Order Cost (Rs)"
                    [ngClass]="{'invalid': orderCost.touched && !orderCost.valid}">
                    <div *ngIf="orderCost.touched && !orderCost.valid"
                    class="form-input-error">Only digits are allowed</div>
                </div>

                <!-- Number of floors -->
                <div class="number-of-floors" *ngIf="selected_contract_id">
                    <app-dropdown-select
                    [styles]="dropdown_styles"
                    [selected_name]="selected_floor_name ? selected_floor_name : 'select a floor'"
                    [selected_id]="selected_floor_id ? selected_floor_id : null"
                    [items]="available_floor_slabs"
                    (value_changed)="floor_changed($event)">
                    </app-dropdown-select>
                </div>

                <!-- Number of items -->
                <div class="number-of-items" *ngIf="selected_contract_id">
                    <app-dropdown-select
                    [disabled]="!selected_contract_id"
                    [styles]="dropdown_styles"
                    [selected_name]="selected_item_name ? selected_item_name : 'select number of items'"
                    [selected_id]="selected_item_id ? selected_item_id : null"
                    [items]="num_of_item_slabs"
                    (value_changed)="item_changed($event)">
                    </app-dropdown-select>
                </div>

                <div class="package" *ngIf="selected_contract_id">
                    <app-dropdown-select
                    [disabled]="!selected_contract_id"
                    [styles]="dropdown_styles"
                    [selected_name]="selected_package_name ? selected_package_name : 'select package'"
                    [selected_id]="selected_package_id ? selected_package_id : null"
                    [items]="packages"
                    (value_changed)="package_changed($event)">
                    </app-dropdown-select>
                </div>

                <app-blowhorn-yesno
                [label]="'PREPAID :'"
                [active]="pre_paid"
                [justify]="'between'"
                (is_active)="payment_status_change($event)">
                </app-blowhorn-yesno>
                <div *ngIf="pre_paid" class="payment-mode">
                    <div class="payment-mode">
                        <app-dropdown-select
                        [styles]="dropdown_styles"
                        [selected_name]="selected_payment_mode_name ? selected_payment_mode_name : 'select payment mode'"
                        [selected_id]="selected_payment_mode_id ? selected_payment_mode_id : null"
                        [items]="payment_modes"
                        (value_changed)="payment_mode_changed($event)">
                        </app-dropdown-select>
                    </div>
                </div>

                <div class="total-cost" *ngIf="total_cost">
                    <div class="estimates-block">
                        <div class="estimates">Distance: {{display_info.distance}}</div>
                        <div class="estimates">Time: {{display_info.time}}</div>
                    </div>
                </div>
                <div class="loader-container" *ngIf="show_mini_loader">
                    <div class='blur'></div>
                    <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
                    <div class="message-loader">Loading contracts..</div>
                </div>
            </form>
        </div>
        <app-blowhorn-button
        [label]="'Place Order'"
        (click_fired)="create_order(order_form)"
        [footer_btn]="true"
        [type]="'save'"
        [disabled]="!selected_city_id
        || !customerName.valid
        || !customerNumber.valid
        || !customerName.value
        || !customerNumber.value
        || !stops[0].position[0]
        || !stops[0].position[1]
        || !stops[1].position[0]
        || !stops[1].position[1]
        || is_price_invalid()
        || is_prepaid_invalid()">
        </app-blowhorn-button>
    </div>
</div>
<div class="map">
    <agm-map
      [clickableIcons]="false"
      [latitude]="map_latitude"
      [longitude]="map_longitude"
      [zoom]="14"
      [fitBounds]="map_bounds"
      [streetViewControl]="false">
      <agm-marker *ngFor="let stop of stops; let index = index;"
          [latitude]="stop.position[0]"
          [longitude]="stop.position[1]"
          [iconUrl]="get_icon_url(index)"
          [visible]="true"
          [label]="{
            text: (index + 1).toString(),
            color: 'white',
            fontSize: '18px',
            fontWeight: '600'
          }"
          [markerDraggable]="true"
          (dragEnd)="marker_dragged($event, stop)">
          <agm-info-window>
            <div class="info-window">
              <div class="header">{{get_stop_header(index)}}</div>
              <div class="body">{{stop.address.full_address}}</div>
            </div>
          </agm-info-window>
      </agm-marker>
      <agm-direction
        #agm_direction
        [origin]="pickup_position"
        [destination]="dropoff_position"
        [travelMode]="'DRIVING'"
        [optimizeWaypoints]="false"
        [visible]="show_direction"
        [renderOptions]="_map_service.render_options"
        (onChange)="set_directions($event)">
      </agm-direction>
      <agm-polygon
      [paths]="currentPolygon.path"
      [fillColor]="currentPolygon.config.fillColor"
      [fillOpacity]="currentPolygon.config.fillOpacity"
      [strokeColor]="currentPolygon.config.strokeColor"
      ></agm-polygon>
    </agm-map>
</div>
<div *ngIf="show_message" class="modal-window">
  <div class="message-panel">
    <app-blowhorn-message
    [type]="message_type" [heading]="message_header" [message]="message"
    (close_fired)="reset_error()">
    </app-blowhorn-message>
  </div>
</div>
