:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    height: 100%;
    .side-bar {
        height: 100%;
        min-width: 400px;
        max-width: 450px;
        flex: 1;
        display: flex;
        flex-direction: column;
        z-index: 10;
        .header {
            color: #4E5454;
            font-size: 16px;
            font-weight: 900;
            letter-spacing: 2px;
            line-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid #DFE6E8;
            padding: 8px 25px;
            text-transform: uppercase;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translateY(-50%);
            }
        }
        .details {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .form {
                width: 100%;
                flex: 1;
                padding: 10px;
                overflow-y: scroll;
                * {
                    margin: 5px auto;
                    width: 300px;
                }
                input {
                    border: 1px solid transparent;
                    border-radius: 2px;
                    outline: none;
                    background-color: #f7fbfc;
                    
                    font-size: 14px;
                    font-weight: 500;
                    color: rgb(31, 29, 29);
                    height: 40px;
                    padding: 0px 5px;
                }
                .invalid {
                    border: 1px solid orangered;
                    border-radius: 2px;
                }
                .paid {
                    background-color: lightgreen;
                    border: 1px solid rgb(33, 133, 33);
                    .top {
                        color: green;
                    }
                    .bottom {
                        color: green;
                    }
                }
                .un-paid {
                    background-color: rgb(247, 156, 156);
                    border: 1px solid rgb(167, 27, 27);
                    .top {
                        color: rgb(167, 27, 27);
                    }
                    .bottom {
                        color: rgb(167, 27, 27);
                    }
                }
                .cost-category {
                    label {
                        color: #3f3636;
                        font-size: 14px;
                        width: 100%;
                        height: 100%;
                        text-align: left;
                        font-weight: bold;
                        padding: 6px 12px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                    }
                    .radio-group {
                        label {
                            margin: 0;
                        }
                    }
                    .radio-button-wrapper {
                        display: flex;
                        padding: 0px 15px;
                        margin: 0;
                        .btn {
                            display: inline-block;
                            padding: 5px;
                            position: relative;
                            text-align: center;
                            transition: background 600ms ease, color 600ms ease;
                        }
                    }
                    input {
                        display: none;
                        & + label{
                            cursor: pointer;
                            min-width: 60px;
                            &:hover{
                                background: none;
                                color: rgb(5, 199, 92);
                            }
                            &:after{
                                background: rgb(5, 199, 92);;
                                content: "";
                                height: 100%;
                                position: absolute;
                                top: 0;
                                transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
                                width: 100%;
                                z-index: -1;
                            }
                        }
                        &.toggle-left + label {
                            border-right: 0;
                            &:after{
                                left: 100%
                            }
                        }
                        &.toggle-right + label{
                            margin-left: -5px;
                            &:after{
                                left: -100%;
                            }
                        }
                        &:checked + label {
                            cursor: default;
                            color: #fff;
                            transition: color 200ms;
                            &:after{
                                left: 0;
                            }
                        }
                    }
                }
                .total-cost {
                    width: 100%;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    transition: all .3s;
                    .top {
                        width: 100%;
                        
                        font-size: 12px;
                        font-weight: 400;
                        padding: 0px;
                        margin: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .estimates-block {
                        display: flex;
                        font-size: 10px;
                        .estimates {
                            text-align: center;
                        }
                    }
                    .bottom {
                        margin: 0px;
                        padding: 0px;
                        padding-top: 5px;
                        width: 100%;
                        
                        font-size: 14px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .loader-container {
                    position: fixed;
                    .blur{
                        width: inherit;
                        height: 350px;
                        position: absolute;
                        margin: auto;
                        top: -20px;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #fff;
                        border-radius: 6px;
                        overflow: hidden;
                        &:after{
                            content: "";
                            height: 350px;
                            width: 300px;
                            display: block;
                            -webkit-filter: blur(5px);
                            opacity:.6;
                        }
                    }
                    .message-loader {
                        color: #000;
                        position: fixed;
                        text-align: center;
                        
                    }
                }
            }
            app-blowhorn-button {
                margin-top: auto;
                width: 100%;
            }
        }
    }
    .map {
        flex: 3;
        height: 100%;
        agm-map {
            width: 100%;
            height: 100%;
        }
    }
}
.info-window {
    width: 250px;
    .header {
        padding: 10px 5px;
        background-color: lightgray;
        
        font-size: 14px;
        font-weight: 500;
    }
    .body {
        padding: 10px 5px;
        background-color: white;
        
        font-size: 13px;
        font-weight: 400;
    }
}
.message-panel {
    min-width: 200px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    border-radius: 2px;
    app-blowhorn-message {
        flex: 1;
    }
}
