<div *ngIf="dataForInprogress.length <= 0" class="error">
  <span>{{error_msg}}</span>
</div>
<div>
  <table style="margin-left: 130px;">
    <tr>
      <td style="width: 700px; height: 550px; background-color: white; ">
        <canvas id="barChart">
        </canvas></td>
    </tr>
  </table>
</div>