.wrapper {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    flex-flow: wrap;
    border-bottom: 1px solid #ddd;
    position: relative;
    .filter {
        display: flex;
        .city {
            flex-basis: 70px;
        }
    }
    .toggle-view {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        i {
            font-size: 20px;
            padding: 6px 8px;
            cursor: pointer;
            &.active {
                background: var(--primary-color);
                cursor: not-allowed;
            }
        }
    }
}
