<div class="wrapper">
    <div class="filter">
        <div class="city">
            <app-dropdown-select
            [styles]="city_styles"
            [selected_name]="selected_city_name ? selected_city_name : 'Select City'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [items]="cities"
            (value_changed)="city_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="hubs">
            <app-dropdown-select
            [styles]="hub_styles"
            [selected_name]="selected_hub_name ? selected_hub_name : 'Select Hub'"
            [selected_id]="selected_hub_id ? selected_hub_id : null"
            [items]="hubs"
            (value_changed)="hub_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="vehicle-classes">
            <app-dropdown-select
            [styles]="hub_styles"
            [selected_name]="selected_vclass_name ? selected_vclass_name : 'Select Vehicle Type'"
            [selected_id]="selected_vclass_id ? selected_vclass_id : null"
            [items]="vehicle_classes"
            (value_changed)="vclass_changed($event)">
            </app-dropdown-select>
        </div>
    </div>
    <div class="toggle-view">
        <i class="fa fa-list" [ngClass]="{ 'active': currentView === 'list' }" (click)="changeView('list')"></i>
        <i class="fa fa-th" [ngClass]="{ 'active': currentView === 'group' }" (click)="changeView('group')"></i>
    </div>
</div>
