<div class="row">
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.total_trips.label"
        [value]="total_trips"
        [icon]="statistics.total_trips.icon"
        [styles]="statistics.total_trips.styles"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.active_trips.label"
        [value]="active_trips"
        [icon]="statistics.active_trips.icon"
        [styles]="statistics.active_trips.styles"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.avg_time.label"
        [value]="avg_time + ' Hours'"
        [icon]="statistics.avg_time.icon"
        [styles]="avg_time"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.avg_distance.label"
        [value]="avg_distance + ' Kms'"
        [icon]="statistics.avg_distance.icon"
        [styles]="statistics.avg_distance.styles"
        ></app-statistic-card>
    </div>
</div>
