
.title{
    // font-weight: bold;
    font-size: 12px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  
}

.card{
    flex-direction: row;
    border:none;
    background-color: inherit;
}

.card-header{
    border:none;
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-size:15px;

    .card-header-1{
        border:none;
        background-color: white;
        justify-content: space-between;
        font-size:15px;
        text-align: left;
    }

    .img{
        color: white;
        // height: 50px;
        // width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .bg-primary-light {
        background: #F7FBFC;
    }
    
    .rounded-circle {
        border-radius: 50%!important;
    }
}

.image-logo{
    text-align: left;
    margin:40px;
   
}
.hidden-data{
    float:right;
    margin-top: -29px;
}
.hidden-data:hover{
    height:25px;
    width:25px;
}

.data-value{
    text-align: center;
    font-size: 1.75rem;
    margin-right: 0px;
    font-weight: 400;
    color: black;
}
.time-duration{
    color:  rgba(242, 244, 247, 0.801);
    margin:-10px;
    float: left;
    margin-left: 30px;
}

.maximise{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    
}
.column {
    display: flex;
    flex-basis: 100%;
    width: 500px;
    height: 80px;
    flex: 1;
    margin: 18px;
    // padding: 7px;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

.column-red {
    background-color: #F27BA3;
}

.column-green {
    background-color: #BCDD96;
}

.column-blue {
    background-color: #99DCFF;
}

.column-orange {
    background-color: #FFCE85;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.12);
}

.card-header-1 {
    padding: 10px;
    color: white;
    font-size: 15px;
}

.header-text {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-left: 0px;
    text-align: left;
}

.header-title {
    margin-left: 0px;
    text-align: left;
}