{% load static %}
<div class="tab-pane fade in active" id="releases{{ forloop.counter0 }}"
role="tabpanel" aria-labelledby="releases{{ forloop.counter0 }}-tab">
    <div class="container-fluid">
        <zero-md 
            src="{% static 'admin/changelog/releases_'|add:p|add:'.md' %}">
        </zero-md>
    </div>
</div>
<div class="tab-pane fade" id="upcoming{{ forloop.counter0 }}"
    role="tabpanel" aria-labelledby="upcoming{{ forloop.counter0 }}-tab">
    <div class="container-fluid">
        <zero-md 
            src="{% static 'admin/changelog/upcoming_'|add:p|add:'.md' %}">
        </zero-md>
    </div>
</div>
