
<div class="container-wrapper">
  <div class="container">
    <div id="loader">
      <div class="lds-ripple"><div></div><div></div></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 visible-xs visible-sm">
      <div class="rightbar">
        <div class="products">
          <select id="products" class="mySelect">
            <option val="">All products</option>
          </select>
        </div>
        <div class="category-block">
          {% for k, v in statuses.items %}
            <div id="{{ k }}" class="statuses {{ k }}" onclick="selectStatus('{{ k }}')">{{ v|title }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div id="response" class="response"></div>
      <div id="no-data">
        <div class="message">
          <div id="error-message"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 hidden-xs hidden-sm">
      <div class="rightbar">
        <div class="category-block">
          {% for k, v in statuses.items %}
            <div id="{{ k }}" class="statuses" onclick="selectStatus('{{ k }}')">{{ v|title }}</div>
          {% endfor %}
        </div>
        <div class="products">
          <select id="products" class="mySelect">
            <option val="">All products</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
