{% for result in data %}
<div class="release-card">
    <div class="card-content-wrapper">
        <div class="heading">
            {{ result.product__name|title }}
            {% if result.release__version %}
                v{{ result.release__version }}
            {% endif %}
        </div>
        <hr class="heading-separator">
        <div class="content">
            {{ result.content|safe }}
        </div>
        <div class="card-footer">
            <div class="release-date">
                <div class="text">Release Date:</div>
                <div class="val">
                    {% if result.release__date_of_release %}
                        {{ result.release__date_of_release|date:"M d, Y" }}
                    {% else %}
                        -- NA --
                    {% endif %}
                </div>
            </div>
            <div class="tags">
                <div class="text">Tags:</div>
                <div class="val">
                    {% if result.tags %}
                        {{ result.tags|join:", "}}
                    {% else %}
                        -- NA --
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
