{% load static %}
<div class="navbar-custom row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="{{ homepage_url }}/admin" class="logo-image">
            <img class="img" src="{{ logo_url }}" alt="logo">
        </a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8">
        <div class="title-container">
            <div class="modal-title-text">
              <div class="title">Changelog</div>
              <div class="version-info">v2.1.1</div>
            </div>
            <div class="modal-caption">Release updates from the <span class="color">Blowhorn</span> team.</div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-1 hidden-xs"></div>
</div>
