 <!-- START: Platform Tabs -->
 <ul class="nav nav-tabs platform-tabs">
    {% for p in products %}
        <li role="presentation"><a data-toggle="tab" href="#content{{ forloop.counter0 }}">{{p}}</a></li>
    {% endfor %}
</ul>
<!-- END: Platform Tabs -->