.wrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    .heading {
        color: #303232;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
        margin-bottom: 15px;
    }
    .details {
        color: #0180A8;
        
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

}