<div class="wrapper">
    <div>
        <div class="heading" [ngStyle]="styles.header">Delete Confirmation</div>
        <div class="footer" [ngStyle]="styles.footer">
            <div class="" *ngIf="action_buttons.decline.show">
                <app-blowhorn-button
                class="no"
                (click_fired)="submitForm(false)"
                [label]="action_buttons.decline.label"
                [type]="action_buttons.decline.type"
                [flat_btn]="true">
                </app-blowhorn-button>
            </div>
            <div class="" *ngIf="action_buttons.confirm.show">
                <app-blowhorn-button
                class="yes"
                (click_fired)="submitForm(true)"
                [label]="action_buttons.confirm.label"
                [type]="action_buttons.confirm.type"
                [flat_btn]="true">
                </app-blowhorn-button>
            </div>
        </div>
    </div>
</div>
