<main class="my-fleet-main-section container-fluid">

    <app-dropdown-select 
        [styles]="city_styles"
        [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
        [selected_id]="selected_city_id ? selected_city_id : null" 
        [items]="cities"
        [disabled]="city_disabled || false"
        (value_changed)="city_changed($event)">
    </app-dropdown-select>
    <app-dropdown-select 
        [styles]="hub_styles"
        [selected_name]="selected_hub_name ? selected_hub_name : 'All Hubs'"
        [selected_id]="selected_city_id ? selected_city_id : null"
        [items]="hubs"
        [disabled]="hub_disabled || false"
        (value_changed)="hub_changed($event)">
    </app-dropdown-select>
    <app-dropdown-select 
        [styles]="vehicle_type_styles"
        [selected_name]="selected_vehicle_type_name ? selected_vehicle_type_name : 'All Vehicle Types'"
        [selected_id]="selected_vehicle_type_id ? selected_vehicle_type_id : null"
        [items]="vehicle_types"
        [disabled]="vehicle_type_disabled || false"
        (value_changed)="vehicle_type_changed($event)">
    </app-dropdown-select> 
    <app-dropdown-select 
        [styles]="driver_styles"
        [selected_name]="selected_driver_name ? selected_driver_name : 'All Drivers'"
        [selected_id]="selected_driver_id ? selected_driver_id : null"
        (value_changed)="driver_changed($event)"
        [items]="drivers"
        [disabled]="driver_disabled || false">
    </app-dropdown-select>

    <ng-template #reported_trips_template>
        <span class="reported-trips-count">{{ reported_trips_count }}</span>/<span class="total-trips-count">{{ total_trips_count }}</span>
    </ng-template>
    <ng-template #ongoing_trips_template>
        <span class="ongoing-trips-count">{{ ongoing_trips_count }}</span>
    </ng-template>
    <app-my-fleet-map-mini-card [reported_count]="reported_trips_count"
        [total_count]="total_trips_count"
        [ongoing_count]="ongoing_trips_count"
        [styles]="trip_card_styles">
    </app-my-fleet-map-mini-card>
    <div class="row stretch">
        <section class="col-sm-12 stretch">
            <agm-map 
                [clickableIcons]="false"
                [latitude]="latitude_center" 
                [longitude]="longitude_center" 
                [zoom]="zoom_level"
                [streetViewControl]=false>
                <agm-marker *ngFor="let marker of markers"
                    [id]="marker.driver.id" 
                    [latitude]="marker.driver.last_updated_location[0]" 
                    [longitude]="marker.driver.last_updated_location[1]"
                    [visible]="marker.visible"
                    [iconUrl]="marker.icon_url"
                    (markerClick)="select_marker_and_fetch_trip(marker)">
                    <agm-info-window (infoWindowClose)="reset_selected_marker_icon(marker, $event)">
                        <app-my-fleet-info-window [marker]="marker">
                        </app-my-fleet-info-window>
                    </agm-info-window>
                </agm-marker>                                          
            </agm-map>
        </section>
    </div>  
    
</main>

