.my-fleet-main-section {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.stretch {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.reported-trips-count {
    color: red;
    font-weight: bold;
}
.total-trips-count {
    color: gray;
}
.ongoing-trips-count {
    font-weight: bold;
    color:rgba(10, 120, 153, 0.938);
}
agm-map {
    height: 100%;
    width: 100%;
    margin: 0px;
}