{% load i18n %}

{% if transition_hints %}
  <div class="aligned hints-block">
    <h2>{% trans "Hints: To" %}</h2>

    {% for action, hints in transition_hints.items %}
        {% for hint in hints %}
          <div class="form-row">
            <div>
                {% if forloop.first %}
                  <label><strong>{{ action }} :</strong></label>
                {% endif %}
                <p>{{ hint }}</p>
            </div>
          </div>
        {% endfor %}
    {% endfor %}
  </div>
{% endif %}
