<div class="what-we-offer-main-content container">
    <div class="title">
        <div class="header">Here's what we offer to enterprises</div>
    </div>
    <div class="horizontal-split">
        <div class="splitter"></div>
    </div>
    <div class="card-panel">
        <div class="offer-card">
            <span class="card-title">Regular deliveries</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/regular.jpg" 
                alt="">
                <div class="points-panel">
                    <ul>
                        <li>Hourly/Daily package deliveries</li>
                        <li>Fixed vehicles</li>
                        <li>Line haul</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="visible-md visible-lg visible-xl" style="padding:10px"></div>
        <div class="offer-card">
            <span class="card-title">On-demand logistics</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/ondemand.jpg" 
                alt="">
                <div class="points-panel">
                    <ul>
                        <li>First mile/Last mile</li>
                        <li>Reverse logistics</li>
                        <li>4-hour rapid deliveries</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden-md visible-lg visible-xl" style="padding:10px"></div>
        <div class="offer-card hidden-md">
            <span class="card-title">Storage and micro-warehouse</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/storage.jpg" 
                alt="">
                <div class="points-panel">
                    <ul>
                        <li>Micro-warehousing</li>
                        <li>Milk run</li>
                        <li>Multi-pick up and drop off points</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden-md visible-lg visible-xl" style="padding:10px"></div>
        <div class="offer-card hidden-md">
            <span class="card-title">Special services</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/dashboard.jpg" 
                alt="">
                <div class="points-panel">
                    <ul>
                        <li>API integration</li>
                        <li>Driver + driver help</li>
                        <li>Access to dashboard</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="visible-md" style="width: 100%">
        <div class="card-panel">
            <div class="offer-card">
                <span class="card-title">Storage and micro-warehouse</span>
                <div class="card-main">
                    <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/storage.jpg" 
                    alt="">
                    <div class="points-panel">
                        <ul>
                            <li>Micro-warehousing</li>
                            <li>Milk run</li>
                            <li>Multi-pick up and drop off points</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="visible-md visible-lg visible-xl" style="padding:10px"></div>
            <div class="offer-card">
                <span class="card-title">Special services</span>
                <div class="card-main">
                    <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/dashboard.jpg" 
                    alt="">
                    <div class="points-panel">
                        <ul>
                            <li>API integration</li>
                            <li>Driver + driver help</li>
                            <li>Access to dashboard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="learn-more-panel">
        <a class="learn-more-link" href="/solutions">
            <span class="learn-more">Learn more</span>
            <span class="learn-more-btn">
                <i class="fa fa-chevron-right"></i>
            </span>
        </a>
    </div>
</div>