<div class="what-we-offer-main-content container">
    <div class="title">
        <div class="header">Our Offerings</div>
    </div>
    <div class="horizontal-split">
        <div class="splitter"></div>
    </div>
    <div class="card-panel">
        <div class="offer-card">
            <span class="card-title">Seamless payments and GST-ready invoices</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/payment-gateway.jpg" 
                alt="Seamless payments and GST-ready invoices">
                <div class="points-panel">
                    <ul>
                        <li>Cash/Paytm</li>
                        <li>Debit or credit card</li>
                        <li>Net banking</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="visible-md visible-lg visible-xl" style="padding:10px"></div>
        <div class="offer-card">
            <span class="card-title">Multi pick-up and drop-off points</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/pickup-dropoff.jpg" 
                alt="Multi pick-up and drop-off points">
                <div class="points-panel">
                    <ul>
                        <li>Load and unload at different places on your way</li>
                        <li>Hassle free route options</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="visible-md visible-lg visible-xl" style="padding:10px"></div>
        <div class="offer-card">
            <span class="card-title">End-to-end visibility</span>
            <div class="card-main">
                <img class="card-image img-responsive" lazy-load lazy-src="/static/website/images/homepage/tracking.jpg" 
                alt="End-to-end visibility">
                <div class="points-panel">
                    <ul>
                        <li>Track your vehicle on the app</li>
                        <li>Get notified for every moment</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>