.filter-holder {
  margin: 30px 42px;
  box-shadow: 1px 1px 3px 0 #cecece;
  background-color: white;
  position: relative;
  padding: 12px 15px 12px 12px;

  .label {
    color: gray;
    font-size: 17px;
  }
}

#dropdownFirst, #dropdownSecond {
  min-width: 125px;
  padding: 8px 12px 8px 12px;
  border: none;
  outline: none;
  font-size: 14px;
  color: gray;
  background-color: white !important;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: var(--primary-color) !important;
  }
}

.dropdown-item {
  font-weight: 700 !important;
  color: #5e5e5e !important;
  background-color: white !important;
  margin: 10px 0 !important;
  outline: none;

  &:hover, &.active {
    color: #fc3446 !important;
    background-color: white !important;
    cursor: pointer;
  }
}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 1px 1px 3px 0 #cecece;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px){
  .filter-holder {
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 10px 12px !important;
  }

  .params-holder {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
