.gst_panel {
    color: #141515;
    margin-top: 15px;
    font-size: 13px;    	
    line-height: 19px;
    .gst-category {
        margin-top: 3px;
        font-weight: 500;
    }
    .gst_in {
        margin-top: 3px;
    }
    .hsn_code {
        margin-top: 3px;
    }
    .cin {
        margin-top: 3px;
    }
    .pan {
        margin-top: 3px;
    }
    .rcm {
        margin-top: 5px;
        margin-right: 5px;
        padding: 10px;
        border: 1px solid lightgray;
        box-shadow: inset 0px 0px 5px 0px lightgray;
    }
}