<div class="gst_panel">
    <div class="gst-category" *ngIf="show.gst_category">
        <span>GST Category : {{gst_category}}</span>
    </div>
    <div *ngIf="gst_in && show.gst_in" class="gst_in">
        <span>{{ taxationLabel }} : {{gst_in}}</span>
    </div>
    <div *ngIf="hsn_code && show.hsn_code" class="hsn_code">
        <span>HSN Code : {{hsn_code}}</span>
    </div>
    <div *ngIf="cin && show.cin" class="cin">
        <span>CIN : {{cin}}</span>
    </div>
    <div *ngIf="pan && show.pan" class="pan">
        <span>PAN : {{pan}}</span>
    </div>
    <div *ngIf="rcm && rcm_message && show.rcm_message" class="rcm">
        <span>{{rcm_message}}</span>
    </div>      
</div>
