<div class="resource-modal">
    <div class="modal-header">
        <div class="modal-title-text">{{header_text}}</div>
        <span class="fa fa-times cross" (click)="activeModal.dismiss('Cross click')"></span>
    </div>
    <div class="resource-modal-body">
        <div class="resource-content-wrapper" *ngIf="!show_form">
            <div class="table-header-wrapper">
                <div class="col-title">Hub</div>
                <div class="col-title">Drivers</div>
                <div class="col-title">Unplanned Additional Drivers</div>
                <div class="col-title">Shift Start Time</div>
                <div class="col-title">Remind Driver</div>
                <div class="col-title">Exotel App ID</div>
                <div class="col-title"></div>
            </div>
            <ng-container *ngFor="let resource of currentPageData">
                <div class="table-row-wrapper">
                    <div class="col name-col">
                        <div class="main-row">{{resource.hub?.name}}</div>
                    </div>
                    <div class="col driver-count">
                        <div class="main-row" title="Click to view drivers"
                        [ngbPopover]="popContent"
                        placement="right" container="body"
                        #p="ngbPopover" (document:click)="p.close()" (click)="$event.stopPropagation()">
                            <div class="link">
                                {{resource.drivers.length}}
                            </div>
                            <ng-template #popContent>
                                <div class="popover-message"
                                *ngIf="resource.drivers.length===0">
                                    No drivers found
                                </div>
                                <ul *ngIf="resource.drivers.length > 0">
                                    <li class="driver-list" *ngFor="let d of resource.drivers">
                                        {{d.name}} - {{d.vehicle_number}}
                                    </li>
                                </ul>
                            </ng-template>
                        </div>
                    </div>
                    <div class="col">
                        <div class="main-row">{{resource.unplanned_additional_drivers}}</div>
                    </div>
                    <div class="col">
                        <div class="main-row">{{resource.shift_start_time | date: 'shortTime'}}</div>
                    </div>
                    <div class="col">
                        <i class="fa"
                            [ngClass]="{'fa-times': !resource.remind_driver, 'fa-check': resource.remind_driver}">
                        </i>
                    </div>
                    <div class="col">
                        <div class="main-row">{{resource.exotel_app_id || '--' }}</div>
                    </div>
                    <div class="col">
                        <div class="main-row action-buttons-wrapper">
                            <app-blowhorn-button
                            [label]="action_buttons.delete.label"
                            [type]="action_buttons.delete.type"
                            [disabled]="disable_button"
                            (click_fired)="open_confirmation_dialog(resource)">
                            </app-blowhorn-button>
                            <span class="clear"></span>
                            <app-blowhorn-button
                            [label]="action_buttons.edit.label"
                            [type]="action_buttons.edit.type"
                            [disabled]="disable_button"
                            (click_fired)="open_resource(resource)">
                            </app-blowhorn-button>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="resources.length <= 0" class="error">
                <span>{{error_message}}</span>
            </div>
            <ngb-pagination *ngIf="resources.length > itemsPerPage"
            class="d-flex justify-content-center"
            [collectionSize]="resources.length"
            [pageSize]="itemsPerPage"
            [maxSize]="5"
            [(page)]="currentPage"
            [boundaryLinks]="true"
            (pageChange)="pageChanged($event)"
            ></ngb-pagination>
            <div class="action-buttons">
                <app-blowhorn-button
                [label]="action_buttons.dismiss.label"
                [type]="action_buttons.dismiss.type"
                [disabled]="disable_button"
                (click_fired)="activeModal.dismiss('Cross click')">
                </app-blowhorn-button>
                <span class="clear"></span>
                <app-blowhorn-button
                [label]="action_buttons.add.label"
                [type]="action_buttons.add.type"
                [disabled]="disable_button"
                (click_fired)="open_add_modal()">
                </app-blowhorn-button>
            </div>
        </div>
        <div class="resource-edit-form" *ngIf="show_form">
            <div class="form-holder">
                <div class="form-row">
                    <div class="form-group">
                        <label>Hub</label>
                        <div class="field">
                            <app-dropdown-select
                            [styles]="hub_dropdown_styles"
                            [items]="available_hubs"
                            [selected_id]="selected_hub_id"
                            [selected_name]="selected_hub_name"
                            (value_changed)="hubChanged($event)"
                            ></app-dropdown-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Shift Start Time</label>
                        <ngb-timepicker
                        [(ngModel)]="instance.shift_start_time"
                        [hourStep]="1"
                        [minuteStep]="5">
                        </ngb-timepicker>
                    </div>
                    <div class="form-group">
                        <label>Unplanned Additional Drivers</label>
                        <div class="field">
                            <input class="unplanned_additional_drivers"
                            [(ngModel)]="instance.unplanned_additional_drivers"
                            placeholder="Unplanned Additional Drivers"
                            type="number"
                            min="0"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                           <app-blowhorn-checkbox
                            [id]="remind_driver.name"
                            [group_name]="remind_driver"
                            [checked]="remind_driver.checked || false"
                            [styles]="remind_driver_styles"
                            (value_changed)="remind_driver_changed($event)">
                            </app-blowhorn-checkbox>
                        </div>
                    </div>
                     <div class="form-group">
                        <label>Exotel Applet ID</label>
                        <div class="field field-with-error">
                            <input class="unplanned_additional_drivers"
                            [(ngModel)]="instance.exotel_app_id"
                            (keyup)="exotel_app_id_changed($event)"
                            placeholder="Exotel Applet ID"
                            type="number"
                            min="0"/>
                            <div class="field-error"
                                *ngIf="remind_driver.checked && !this.instance.exotel_app_id">
                                Exotel App ID is mandatory.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row drivers">
                    <div class="form-group">
                        <label>Resources: </label>
                        <app-multiselect-box
                        [items]="available_drivers"
                        (selected_options)="drivers_changed($event)"
                        [available_panel_label]="'Available Drivers'"
                        [action_buttons]="multiselect_action_buttons"
                        [chosen_panel_label]="'Selected Drivers'"
                        ></app-multiselect-box>
                    </div>
                </div>
                <div class="form-action-buttons">
                    <app-blowhorn-button
                    [label]="action_buttons.dismiss.label"
                    [type]="action_buttons.dismiss.type"
                    [disabled]="disable_button"
                    (click_fired)="activeModal.dismiss('Cross click')">
                    </app-blowhorn-button>
                    <span class="clear"></span>
                    <app-blowhorn-button
                    [label]="action_buttons.return.label"
                    [type]="action_buttons.return.type"
                    [disabled]="disable_button"
                    (click_fired)="show_form=false;confirmation.show_alert=false;">
                    </app-blowhorn-button>
                    <span class="clear"></span>
                    <app-blowhorn-button
                    [label]="action_buttons.submit.label"
                    [type]="action_buttons.submit.type"
                    [disabled]="disable_button || disabled_submit"
                    (click_fired)="onSubmit(instance);confirmation.show_alert=false;">
                    </app-blowhorn-button>
                </div>
            </div>
        </div>
        <div *ngIf="confirmation.show_alert" class="modal-window">
            <app-blowhorn-confirm
            [heading]="confirmation.heading"
            [details]="confirmation.details"
            [show_warning]="confirmation.show_warning"
            [action_buttons]="confirmation.action_buttons"
            [styles]="confirmation.styles"
            (proceed)="delete_resource($event)">
            </app-blowhorn-confirm>
        </div>
    </div>
</div>
