.popover-body {
    min-width: 300px;
    max-width: 450px;
}
.modal-dialog{
    max-width:100%;
    height: 100%;
    margin: 0 !important;
}
.popover-body {
    ul {
        max-width: 300px;
        max-height: 50vh;
        overflow: auto;
    }
}
.resource-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 0 20px;

    .modal-header {
        display: flex;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .cross {
            display: flex;
            justify-content: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .resource-modal-body {
        // margin-top: 20px;
        .resource-content-wrapper {
            display: flex;
            flex-direction: column;
            width: 100vw;
            padding: 2%;
            max-height: 75vh;
            overflow-y: auto;

            .confirmation-dialog {
                background: #fff;
                max-width: 500px;
                border: 1px solid #ccc;
                padding: 15px;
                border-radius: 4px;
                box-shadow: 0px 0px 8px 0px rgba(0, 0 , 0, .5);
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                .heading {
                    background: orange;
                    padding: 10px;
                    margin-bottom: 10px;
                    h5 {
                        margin-bottom: 0;
                    }
                }
                .message {
                    
                    color: #6c6c6c;
                    font-size: 13px;
                }
                .confirmation-btn-wrapper {
                    display: flex;
                    padding: 10px;
                    justify-content: flex-end;
                }
            }

            .action-buttons {
                position: absolute;
                bottom: 10px;
                right: 16.5%;
                display: flex;

                .clear {
                    padding: 5px;
                }
            }

            .pagination {
                margin-top: 2%;
                position: absolute;
                bottom: 0;
            }

            .error {
                display: flex;
                padding: 20px;
                align-items: center;
                justify-content: center;
                span {
                    color: red;
                }
            }

            .table-header-wrapper {
                display: grid;
                height: 45px;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) 110px);
                align-items: center;
                background: white;
                div {
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #8B8D8E;
                    
                    font-size: 14px;
                    line-height: 21px;
                }
            }

            .table-row-wrapper {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) 110px);
                align-items: flex-start;
                justify-items: start;
                background-color: #fff;
                border-bottom: 1px solid rgb(226, 234, 236);

                .fa-times {
                    color: #f00;
                    font-weight:bold;
                }
                .fa-check {
                    color: rgb(39, 255, 10);
                    font-weight: bold;
                }

                &:hover {
                    background-color: #dcd9d9;
                }
                .col {
                    padding: 10px 20px;
                    
                    font-size: 14px;
                    line-height: 21px;
                    .main-row {
                        color: #303232;
                        padding: 0px;
                        overflow-wrap: break-word;
                        

                        &.action-buttons-wrapper {
                            display: flex;
                        }

                    }
                    .sub-row {
                        padding: 0px;
                        color: #757E7F;
                    }
                }
                .btn-grp {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .btn {
                        border: 1px solid #C9D2D6;
                        padding: 5px 10px;
                        border-radius: 0px;
                        margin: auto 5px;
                        color: #303232;
                        
                        font-size: 14px;
                        line-height: 21px;
                        &:hover {
                            background-color: #303232;
                            border: 1px solid #303232;
                            color: white;
                        }
                    }
                }
            }

        }
        .resource-edit-form {
            padding: 20px;
            display: flex;
            justify-content: center;
            .drivers {
                justify-content: center;
            }

            .form-group {
                margin-right: 15px;
                margin-bottom: 0;
                label {
                    margin-right: 10px;
                    font-size: 13px;
                    color: #6c6c6c;
                }
                .field {
                    display: table-cell;
                    vertical-align: middle;
                    height: 18vh;
                    .field-error {
                        font-size: 10px;
                        color: red;
                    }
                    .unplanned_additional_drivers {
                        width: 100%;
                        height: calc(2.25rem + 2px);
                        padding: 10px;
                        border-radius: 4px;
                        border: 1px solid #ccc;
                    }
                }
            }

            .form-action-buttons {
                justify-content: center;
                display: flex;

                .clear {
                    padding: 5px;
                }
            }

            .driver-info-container {
                margin-left: 20px;
                border: 1px solid #ccc;
                box-shadow: 0px 0px 8px 0px rgba(0, 0 , 0, .5);
                position: relative;

                .heading {
                    background: #fff;
                    width: 100%;
                    font-size: 14px;
                    
                    color: #6c6c66;
                    padding: 5px;
                    text-align: center;
                    border-bottom: 1px solid #ccc;
                }

                ul {
                    overflow: auto;
                    max-height: 50vh;
                    max-width: 50vw;
                    width: 300px;
                    li {
                        font-size: 13px;
                        
                        color: #6c6c6c;
                    }
                }

                .driver-info-message {
                    overflow: auto;
                    max-height: 50vh;
                    max-width: 50vw;
                    width: 300px;
                    text-align: center;
                    padding: 20%;
                }
            }
        }
    }

    .modal-footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 15px 10px 10px 10px;
    }

    .clear {
        padding: 5px;
    }

    .success {
        border: none !important;
    }

    .error {
        border: none !important;
    }

    .fa {
        font: 14px/1 FontAwesome;
    }

    .fa-close:before, .fa-remove:before, .fa-times:before {
        // content: "\f00d";
    }
}

.backdrop-color {
    background-color: rgba(0, 0, 0, 0.7);
}
