<div id="password-recover" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="recover-modal"
    aria-hidden="true" controller="passwordRecoveryController">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="goToHome()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title">Password Recovery</h4>
            </div>
            <div class="modal-body text-center">
                <form id="recoverForm" class="row" name="recoverForm" ng-submit="resetPassword()" novalidate>
                    <div class="col-xs-12" ng-show="!success">
                        <div style="margin-bottom:10px;">
                            Enter your email address and we'll send you an email to reset your
                            password
                        </div>
                        <input id="recovery-email" type="email" class="form-control modal-form-fixer"
                            placeholder="Email" name="recoveryEmail" ng-model="recoveryEmail"
                            ng-change="passwordRecoveryMessage = ''" required />
                        <div ng-show="recoverForm.$submitted || recoverForm.recoveryEmail.$touched">
                            <div class="error" ng-show="recoverForm.recoveryEmail.$error.required">Email is required</div>
                            <div class="error" ng-show="recoveryEmail && recoverForm.recoveryEmail.$invalid">Enter a valid email</div>
                        </div>
                    </div>
                    <div class="danger col-xs-12" ng-if="passwordRecoveryMessage">
                        <p id="password-recovery-message" ng-if="passwordRecoveryMessage"
                            ng-bind="passwordRecoveryMessage" ng-class="{'error': !success}"></p>
                    </div>
                    <div class="col-xs-12" ng-show="!success">
                        <input id="btn-password-recover" type="submit" class="btn-blue" value="submit"
                        title="submit" name="recover" ng-disabled="recoverForm.$invalid"/>
                    </div>
                    <a class="forgot-password link-red" href="{{loginUrl}}" title="Go back to login">Go back to login</a>
                </form>
            </div>
        </div>
    </div>
</div>
