<div id="login-modal" class="modal" ng-class="{'fade': !isInEmbed}" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="goToHome()">
            <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
          </button>
          <a href="{{homepageUrl}}" class="header-logo modal-login-header-logo"
            ng-style="{'background-image': data.header_logo}"></a>
        </div>
        <div class="modal-body text-center">
          <h5>{{data.subheader}}</h5>
          <form id="login-form" class="row" name="loginForm" ng-submit="signIn($event)" novalidate>
            <div class="col-xs-12">
                <div class="input-icon">
                  <i class="fa fa-envelope" ng-if="primaryLoginFieldType==='email'"></i>
                  <span class="dial-code" ng-if="primaryLoginFieldType==='phone'">{{ isd_dialing_code }}</span>
                </div>
                <input
                id="primary-login-field"
                type="text"
                class="form-control modal-form-fixer no-bottommargin"
                placeholder="Email / Phone Number"
                name="primaryLoginField"
                ng-model="primaryLoginField"
                ng-change="checkInputType()"
                ng-pattern="/^(?:\d{9,10}|^[^\s@]+@[^\s@]+\.[^\s@]{2,})$/"
                required>
                <div ng-show="loginForm.$submitted || loginForm.primaryLoginField.$touched">
                  <div class="error" ng-show="loginForm.primaryLoginField.$error.required">Email/Phone number is required</div>
                  <div class="error" ng-show="loginForm.primaryLoginField.$error.invalid">
                    {{ primaryLoginFieldType==='phone' ? 'Phone number' : 'Email' }} is invalid
                  </div>
                </div>
            </div>
            <div class="col-xs-12 fade in" ng-if="primaryLoginFieldType==='email'">
              <div class="input-icon">
                <i class="fa fa-key"></i>
              </div>
              <input
              id="password"
              type="password"
              class="form-control modal-form-fixer no-bottommargin"
              placeholder="Password"
              name="password"
              ng-model="password"
              ng-change="resetLoginErrorMessage()"
              required>
              <button class="show-password" title="Show Password">
                <i class="bg-EyeOFFDark"></i> Show Password</button>
              <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                <div class="error" ng-show="loginForm.password.$error.required">Password is required</div>
              </div>
            </div>
            <div class="danger col-xs-12" ng-if="errorMessage">
              <p id="login-message">{{errorMessage}}</p>
            </div>
            <div class="col-xs-12">
              <input
              id="input-login"
              type="submit"
              class="btn-blue"
              value="{{submitBtnText}}"
              title="{{submitBtnText}}"
              ng-click="signIn($event)"
              ng-disabled="submitting || loginForm.$invalid">
            </div>
            <a class="forgot-password link-red" ng-if="primaryLoginFieldType==='email'" href="{{recoverPasswordUrl}}" title="Forgot your Password?">
                {{data.forgotPassword}}
            </a>
          </form>
          <div class="social-links row">
            <div class="text-center has-divider"><span>or login with</span></div>
            <div class="social-btn-container">
              <a class="btn-fb" href="/accounts/facebook/login/" title="Login using Facebook" target="_self">
                  <span class="icon icon-facebook"></span>Facebook
              </a>
              <a class="btn-gplus" href="/accounts/google/login/" title="Login using Google" target="_self">
                  <span class="fa fa-google"></span>Google
              </a>
            </div>
          </div>
          <div class="text-center no-account">
            Don't have a account? <span><a class="link-blue" title="Sign Up" href="{{signupUrl}}"> Sign Up </a></span>
          </div>
          <div class="home-button" style="margin-top: 15px;">
            <a href="{{homepageUrl}}">Go Back</a>
          </div>
        </div>
      </div>
    </div>
</div>
