<div id="otp-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="otp-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="goToHome()">
                    <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
                </button>
                <h4 class="modal-title text-center">OTP Verification</h4>
            </div>
            <div id="register-otp" class="modal-body text-center">
                <h5 ng-if="!success">Enter the One time password(OTP) to verify your Mobile</h5>
                <form id="otp-form" class="row" name="signupOtpForm" ng-submit="verifySignupOtp($event)" novalidate>
                    <div class="col-xs-12" hidden>
                        <input id="otp-email" type="text" class="form-control modal-form-fixer" placeholder="Email"
                            name="email" ng-model="otp.email" readonly>
                    </div>
                    <div class="col-xs-12 intl-tel-input separate-dial-code iti-sdc-3" ng-if="!success">
                        <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
                        <input id="otp-mobile" type="tel" class="form-control modal-form-fixer" placeholder="Mobile"
                            name="mobile" ng-model="otp.mobile" readonly>
                    </div>
                    <div class="col-xs-12" ng-if="!success">
                        <input id="otp-otp" type="text" class="form-control modal-form-fixer" placeholder="OTP"
                            name="otp" ng-model="otp.otp" ng-change="message=''" required>
                        <div ng-show="signupOtpForm.$submitted || signupOtpForm.otp.$touched">
                            <div class="error" ng-show="signupOtpForm.otp.$error.required">Otp is required</div>
                        </div>
                    </div>
                    <div class="error">
                        <p ng-show="message" ng-bind="message"
                        ng-class="{'error': !success}"></p>
                    </div>
                    <div class="col-xs-12" ng-if="!success">
                        <input id="btn-otp-verify" type="submit" class="btn-blue" value="Verify" title="Verify"
                            name="Verify">
                    </div>
                </form>
                <p class="modal-body text-center" ng-if="success">Mobile verified successfully</p>
            </div>
        </div>
    </div>
</div>
