<div
  id="register-modal"
  class="modal"
  ng-class="{'fade': !isInEmbed}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="register-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          ng-click="goToHome()"
        >
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
        <a
          href="{{homepageUrl}}"
          class="header-logo modal-register-header-logo"
          ng-style="{'background-image': data.header_logo}"
        ></a>
      </div>
      <div id="register-signup" class="modal-body text-center">
        <h5>{{data.subheader}}</h5>
        <form
          id="signup-form"
          class="row"
          name="signupForm"
          ng-submit="proceedRegistration($event, signupForm)"
          novalidate
        >
          <!-- Name -->
<!--          <div class="col-xs-12">-->
<!--            <input-->
<!--              id="signup-name"-->
<!--              type="text"-->
<!--              class="form-control modal-form-fixer"-->
<!--              placeholder="Name"-->
<!--              name="name"-->
<!--              ng-model="signupDetails.name"-->
<!--              ng-change="signupDetails.error = ''"-->
<!--            />-->
<!--            <div ng-messages="signupForm.name.$error" ng-if="signupForm.name.$touched" role="alert" class="slide">-->
<!--              <div ng-message="required" class="error">Name is required.</div>-->
<!--            </div>-->
<!--          </div>-->

          <!-- Email -->
          <div class="col-xs-12">
            <div class="input-icon">
              <i class="fa fa-envelope" ng-if="primaryLoginFieldType==='email'"></i>
              <span class="dial-code" ng-if="primaryLoginFieldType==='phone'">{{ isd_dialing_code }}</span>
            </div>
            <input
              id="primary-signup-field"
              type="text"
              class="form-control modal-form-fixer no-bottommargin"
              placeholder="Email / Phone Number"
              name="primaryLoginField"
              ng-model="primaryLoginField"
              ng-change="checkInputType()"
              ng-pattern="/^(?:\d{9,10}|^[^\s@]+@[^\s@]+\.[^\s@]{2,})$/"
            required>
            <div ng-messages="signupForm.primaryLoginField.$error" ng-if=signupForm.primaryLoginField.$touched role="alert" class="slide">
              <div ng-message="required" class="error">Email / Phone number is required</div>
              <div ng-message="pattern" class="error">{{ primaryLoginFieldType==='phone' ? 'Phone number' : 'Email' }} is invalid</div>
            </div>
          </div>

          <!-- Password -->
          <div class="col-xs-12" ng-if="primaryLoginFieldType==='email'">
            <div class="input-icon">
              <i class="fa fa-key" ng-if="primaryLoginFieldType==='email'"></i>
            </div>
            <input
              id="signup-password"
              type="password"
              class="form-control modal-form-fixer"
              placeholder="Password"
              name="password"
              ng-model="signupDetails.password"
              ng-change="signupDetails.error = ''"
            />
            <div ng-messages="signupForm.password.$error" ng-if=signupForm.password.$touched role="alert" class="slide">
              <div ng-message="required" class="error">Password is required</div>
            </div>
          </div>

          <!-- Mobile -->
<!--          <div class="col-xs-12 mobile-number">-->
<!--            <div class="intl-tel-input separate-dial-code iti-sdc-3">-->
<!--              <country-code-->
<!--                country-code-a2="country_code"-->
<!--                isd-dialing-code="isd_dialing_code"-->
<!--              ></country-code>-->
<!--              <input-->
<!--                id="signup-mobile"-->
<!--                type="text"-->
<!--                class="form-control modal-form-fixer"-->
<!--                placeholder="Mobile *"-->
<!--                name="mobile"-->
<!--                ng-model="signupDetails.mobile"-->
<!--                ng-change="signupDetails.error = ''"-->
<!--                required-->
<!--                ng-keydown="telephoneOnKeydown($event)"-->
<!--              />-->
<!--            </div>-->
<!--            <div ng-messages="signupForm.mobile.$error" ng-if=signupForm.mobile.$touched role="alert" class="slide">-->
<!--              <div ng-message="required" class="error">Mobile is required</div>-->
<!--            </div>-->
<!--          </div>-->

          <!-- Is business user? -->
          <div class="col-xs-12 roundedTwo">
            <input
              id="is-business-user"
              type="checkbox"
              class="form-control modal-form-fixer"
              name="isBusinessUser"
              ng-model="signupDetails.is_business_user"
              ng-change="isBusinessUser(signupDetails)"
            />
            <label for="is-business-user">I'm a business user</label>
          </div>

          <!-- Company Name -->
          <div class="col-xs-12" ng-if="signupDetails.is_business_user">
            <input
              id="signup-legal-name"
              type="text"
              class="form-control modal-form-fixer"
              name="legalname"
              placeholder="Company Name *"
              ng-model="signupDetails.legal_name"
              ng-change="signupDetails.error = ''"
              ng-required="signupDetails.is_business_user"
            />
            <div ng-messages="signupForm.legalname.$error" ng-if=signupForm.legalname.$touched role="alert" class="slide">
              <div ng-message="required" class="error">Company name is required</div>
            </div>
          </div>

          <!-- State -->
          <div class="col-xs-12" ng-if="signupDetails.is_business_user">
            <select
              name="state"
              class="form-control modal-form-fixer"
              ng-options="item.id as item.name for item in states track by item.id"
              ng-model="signupDetails.state"
              ng-change="signupDetails.error = ''"
              ng-required="signupDetails.gstin"
            >
              <option value="">State / Province</option>
            </select>
            <div ng-messages="signupForm.state.$error" ng-if=signupForm.state.$touched role="alert" class="slide">
              <div ng-message="required" class="error">State is required</div>
            </div>
          </div>

          <!-- GSTIN -->
          <div class="col-xs-12" ng-show="signupDetails.is_business_user">
            <input
              id="signup-gstin"
              type="text"
              class="form-control modal-form-fixer"
              name="gstin"
              placeholder="Company VAT number (optional)"
              ng-model="signupDetails.gstin"
              ng-change="signupDetails.error = ''"
            />
          </div>

          <!-- Server Error -->
          <div class="col-xs-12">
            <div class="error" ng-show="signupDetails.error">
              <p
                class="error"
                ng-show="signupDetails.error"
                ng-bind="signupDetails.error"
              ></p>
            </div>
          </div>

          <!-- Agree PP & T&C  -->
          <div class="checkbox col-xs-12 small agreement-content">
            <label class="small">
              <input name="checkbox" type="checkbox" required />
              <div
                bind-html-compile="data.agreement_content"
                style="display: inline;"
              ></div>
            </label>
          </div>

          <!-- Submit -->
          <div class="col-xs-12">
            <input
              id="input-signup"
              type="submit"
              class="btn-blue"
              value="proceed"
              title="proceed"
              name="proceed"
              ng-disabled="!signupForm.$valid || submitting"
            />
          </div>
        </form>

        <!-- Social Register -->
        <div class="social-links row">
          <div class="text-center has-divider">
            <span>or sign up with</span>
          </div>
          <div class="social-btn-container">
            <a
              class="btn-fb"
              href="/accounts/facebook/login/"
              title="Facebook"
              target="_self"
              ><span class="icon icon-facebook"></span>Facebook</a
            >
            <a
              class="btn-gplus"
              href="/accounts/google/login/"
              title="Google"
              target="_self"
              ><span class="fa fa-google"></span>Google</a
            >
          </div>
        </div>

        <!-- Login Link -->
        <div class="social-unwrap">
          Already have an account?
          <a
            id="link-signin"
            class="link-blue"
            title="Login"
            href="{{loginUrl}}"
            >Login</a
          >
        </div>
        <div class="home-button" style="margin-top: 15px;">
          <a href="{{homepageUrl}}">Go Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
