<div class="batch">
  <div (mouseover)="activate_batch_clear($event)"
    (mouseout)="deactivate_batch_clear($event)" 
    (click)="reset_batch($event)">
    <span [ngClass]="{'show-cross': batch_id, 'hide-cross': !batch_id, 'activate-cross': _batch_activated, 'deactivate-cross': !_batch_activated}"
      class="fa fa-times">
    </span>
  </div>
  <input class="batch-id" 
    type="text" 
    placeholder="Batch number"
    [(ngModel)]="batch_id"
    (ngModelChange)="batch_changed($event)">
  <i class="fa fa-search search" aria-hidden="true" (click)="open_search()"></i>
</div> 
<div class="modal-window" #overlay_panel_batch_id *ngIf="show_search" tabindex="0"
(mouseover)="focus_panel($event)" (keyup)="close_search($event)" (click)="close_search($event)">
  <div class="wrapper" (click)="supress_click($event)">
    <div class="header">Batch lookup</div>
    <div class="filter">
      <div class="date-range">
        <div (mouseover)="activate_date_clear($event)"
          (mouseout)="deactivate_date_clear($event)" 
          (click)="reset_date($event)">
          <span [ngClass]="{
            'show-cross': date_range[0] && date_range[1],
            'hide-cross': !(date_range[0] && date_range[1]),
            'activate-cross': _date_activated,
            'deactivate-cross': !_date_activated
          }" class="fa fa-times">
          </span>
        </div>
        <input  class="date-range-field" 
          #drp_batch_id="bsDaterangepicker" 
          bsDaterangepicker 
          [(ngModel)]="date_range"
          placeholder="Date range"
          (ngModelChange)="date_changed($event)"
          [bsConfig]="{ dateInputFormat: DD/MM/YYYY}"
          readonly>
          <span class="fa fa-calendar" (click)="drp_batch_id.toggle()"></span>
      </div>
      <button class="search-batch"
        [ngClass]="(date_range[0] && date_range[1]) ? 'enable' : 'disable'"
        (click)="fetch_batches()">Search
      </button>
    </div>
    <div class="result">
      <div *ngIf="_batches.length === 0">
        <span class="error">{{_error_msg}}</span>
      </div>
      <div *ngIf="_batches.length" class="title">
        <span  class="id">ID</span>
        <span class="description">Description</span>
        <span class="no-of-entries">No. of orders</span>
      </div>
      <div *ngFor="let batch of _batches; let index = index;" 
        class="batch-row">        
        <div class="record" (click)="select_batch(index)">
          <span class="id">{{batch.id}}</span>
          <span class="description">{{batch.description}}</span>
          <span class="no-of-entries">{{batch.number_of_entries}}</span>
        </div>
      </div>
      <div *ngIf="_batches.length && count > page_size" class="pagination">
          <div class="link first"
            (click)="fetch_first()"
            [ngClass]="current_page !== 1 ? 'enable' : 'disable'">
            <span>1</span>
          </div>
          <div class="link previous" 
            (click)="fetch_previous()"
            [ngClass]="previous ? 'enable' : 'disable'">
            <span class="fa fa-angle-left"></span>
          </div>
          <div class="link current"
            (click)="show_current_page_search()"
            [ngClass]="next || previous ? 'enable' : 'disable'">
            <input #search_page class="search"
              [ngClass]="show_page_search ? 'show' : 'hide'"
              type="text"
              value="{{current_page}}"
              (blur)="hide_current_page_search($event)"
              (keydown)="fetch_current($event)">
              <span>{{current_page}}</span>
            </div>
          <div class="link next"
            (click)="fetch_next()"
            [ngClass]="next ? 'enable' : 'disable'">
            <span class="fa fa-angle-right"></span>
          </div>
          <div class="link last"
            (click)="fetch_last()"
            [ngClass]="current_page !== last_page ? 'enable' : 'disable'">
            <span>{{last_page}}</span>
          </div>
        </div> 
    </div>
    <div>
      <span class="fa fa-times close" (click)="close_search($event)"></span>
    </div>
  </div>
</div>
