.batch {
        margin-left: 10px;
        width: 130px;
        border: 1px solid #F0F5F7;
        background-color: #F7FBFC;
        height: 30px;
        display: grid;
        grid-template-columns: 2fr 15fr;
        grid-column-gap: 0px;
        align-items: center;
        justify-items: center;
        padding-left: 2px;
        padding-right: 2px;
        position: relative;
        .batch-id {
            max-width: 126px;
            outline: none;
            border: none;
            height: 18px;
            color: #3f3636;
            background-color: #F7FBFC;
            
            font-size: 13px;
            line-height: 18px;
            padding-right: 18px;
            padding-left: 16px;
        }
        span {
            color: #BBC2C4;
            cursor: pointer;
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translateY(-50%);
        }
        .hide-cross {
            display: none;
        }
        .show-cross {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            color: lightgray;
        }
        .activate-cross {
            color: grey;
        }
        .deactivate-cross {
            color: lightgray;
        }
        .search {
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            color: #BBC2C4;
            &:hover {
                cursor: pointer;
            }
        }
    } 

.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    opacity: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 70%;
        padding: 20px;
        position: relative;
        box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 1); 
        .header {
            width: 100%;
            font-size: 16px;
            color: black;
            background-color: #e2eaec;
            padding: 10px 0px;
            display: grid;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
        }
        .filter {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .date-range {
                flex-basis: 220px;
                border: 1px solid #F0F5F7;
                background-color: #F7FBFC;
                height: 30px;
                display: grid;
                grid-template-columns: 1fr 7fr 1fr;
                grid-column-gap: 0px;
                align-items: center;
                justify-items: center;
                padding-right: 5px;
                padding-left: 5px;
                margin-right: 15px;
                .date-range-field {            
                    outline: none;
                    min-width: 170px;
                    margin-left: 5px;
                    border: none;
                    color: #3f3636;
                    background-color: #F7FBFC;
                    
                    font-size: 13px;
                    line-height: 18px;
                }
                span {
                    color: #BBC2C4;
                    cursor: pointer;
                }
                .hide-cross {
                    display: none;
                }
                .show-cross {
                    display: block;
                    padding-left: 2px;
                    padding-right: 2px;
                    color: lightgray;
                }
                .activate-cross {
                    color: grey;
                }
                .deactivate-cross {
                    color: lightgray;
                }
            }
            .search-batch {
                border: 1px solid gray;
                background-color: white;
                padding-left: 5px;
                padding-right: 5px;
                text-transform: uppercase;
                height: 30px; 
                color: #4E5454;	
                	
                font-size: 13px;	
                font-weight: 500;		
                line-height: 21px; 
                outline: none;
                &:hover {
                    cursor: pointer;
                    background: rgb(63, 54, 54);
                    color: white;
                }
                &:focus {
                    outline: none;
                }                
            }
            .enable {
                pointer-events: all;
                opacity: 1;
            }
            .disable {
                pointer-events: none;
                opacity: .7;
            }
        }
        .result {
            margin-top: 15px;
            width: 100%;
            max-height: 60vh;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .1);
            overflow-y: auto;
            overflow-x: hidden;
            position: relative;
            .error {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: orangered;
                
                font-size: 16px;
                margin: 8px;
            }
            .title {
                background-color: #e2eaec;
                display: flex;
                align-items: center;
                justify-content: center;
                pointer-events: none;
                width: 100%;
                position: sticky;
                top: 0px;
                left: 0px;
                .id {
                    flex: 1;
                    padding: 10px;
                }
                .description {
                    flex: 1;
                    padding: 10px;
                }
                .no-of-entries {
                    flex: 1;
                    padding: 10px;
                }
            }
            .batch-row {
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;                
                .record {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    width: 100%;
                    .id {
                        flex: 1;
                        padding: 10px;
                    }
                    .description {
                        flex: 1;
                        padding: 10px;
                    }
                    .no-of-entries {
                        flex: 1;
                        padding: 10px;
                    }
                    &:hover {
                        background-color: lightgray;
                        color: white;
                    }
                }
                &:nth-child(odd) {
                    background-color: #F7FBFC;
                }
                &:nth-child(even) {
                    background-color: #fff;
                }
            }
            .pagination {
                background-color: #e2eaec;
                position: sticky;
                bottom: 0px;
                left: 0px;
                margin-top: 5px;
                padding: 5px;
                display: grid;
                grid-template-columns: 1fr min-content min-content min-content  1fr;
                grid-gap: 5px;        
                .current {
                    position: relative;
                    .search {
                        color: #000000;
                        height: 50px;
                        width: 60px;
                        background: white;
                        display: grid;
                        justify-items: center;
                        align-items: center;
                        padding: 0px 5px;
                        
                        font-weight: 400;
                        font-size: 16px;
                        outline: none;
                        border: 1px solid lightgray;
                        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
                        position: absolute;
                        top: -55px;
                        left: 50%;
                    }
                }
                .first,
                .last,
                .current {
                    height: 40px;
                    min-width: 40px;
                    span {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
                .previous,
                .next {
                    height: 40px;
                    width: 40px;
                    span {
                        font-weight: 700;
                        font-size: 30px;
                    }
                }
                .next,
                .last {            
                    justify-self: start;
                }
                .previous,
                .first {           
                    justify-self: end;
                }
                .link {
                    color: black;            
                    background: white;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: 1fr;            
                    &:hover {
                        background: black;   
                        color: white;             
                        cursor: pointer;
                    }            
                }        
                .disable {
                    opacity: .4;
                    pointer-events: none;
                }
                .enable {
                    opacity: 1;
                    pointer-events: all;
                }
                .hide {
                    display: none;
                    opacity: 0;
                    z-index: -2;
                }
                .show {
                    display: block;
                    opacity: 1;
                    transform: translateX(-50%);
                    z-index: 5;
                }
            }
        }
        .close {
            position: absolute;
            font-size: 14px;
            color: #fff;
            right: -25px;
            top: -25px;
            cursor: pointer;
            opacity: 1;
            outline: none;
            transition: transform .3s;
            &:hover {
                color: orangered;
                transform: scale(1.5);
            }
        }
    }
}
