.stop-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .title {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .image {
            height: 28px;	
            width: 28px;
            margin-right: 5px;
            margin-left: -3px;
        }
        span {
            text-transform: uppercase;
            color: #FC3446;
            font-size: 16px;	
            font-weight: 900;	
            letter-spacing: 2px;	
            line-height: 24px;
        }
    }
    .address {
        .address-heading {
            color: #141515;
            font-size: 16px;	
            font-weight: 500;	
            line-height: 24px;
            margin-bottom: 2px;
        }
        .address-details {   
            color: #141515;
            font-size: 14px;
            line-height: 21px;
        }
    }
}

@media (min-width: 575px) {
    .stop-container {
        .address {
            width: 75%;
        }
    }
}