<div class="stop-container">
  <div class="title">
    <img class ="image" src="{{ img_url }}" alt="stop_image">
    <span> {{ title }} </span>
  </div>
  <div class="address">
    <div *ngIf="address_headding" class="address-heading">
      {{ address_headding }}
    </div>
    <div *ngIf="address_details" class="address-details">
      <span> {{ address_details }} </span>
    </div>
  </div>
</div>
