
.wrapper {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F7FBFC;
    height: 100%; 
    .header {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .title-new-route {
            padding-right: 25px;
            padding-left: 25px;
            width: 99%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .title {
                margin-right: auto;
                color: #303232;	
                	
                font-size: 24px;	
                font-weight: 300;	
                line-height: 35px;
            }
            .new-route {
                color: #FC3446;	
                	
                font-size: 14px;	
                font-weight: 500;	
                letter-spacing: 1px;	
                line-height: 21px;                
                cursor: pointer;
                border-bottom: 3px solid transparent;
                transition:  border-bottom 500ms;
                &:hover {
                    border-bottom: 3px solid #FC3446;
                }
            }
        }
        .search {
            width: 100%;
            margin-top: 8px;
            height: 40px !important;
            padding-right: 25px;
            padding-left: 25px;
            background-color: #F0F5F7;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            input {
                flex: 1;
                height: 100%;
                margin: auto;
                padding: 5px;
                color: #757E7F;	
                background-color: #F0F5F7;
                	
                font-size: 14px;	
                line-height: 21px;
                border: none;
                outline: none;
            }
            span {
                color: #757E7F;	
                cursor: pointer;
            }
        }
        .no-routes {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            flex: 1;
            color: #FC3446;
            
            font-size: 18px;
            font-weight: 400;
        }
        .result {            
            width: 100%;
            overflow-y: auto;
            overflow-x: visible;
            .city-wrapper {
                width: 100%;                  
                .title {
                    padding-right: 25px;
                    padding-left: 25px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    height: 35px;
                    color: rgb(104, 109, 110);	  
                    background-color: #fff;                
                    .left {
                        text-transform: uppercase;
                        color: inherit;
                        	
                        font-size: 12px;	
                        font-weight: 900;	
                        letter-spacing: 1px;	
                        line-height: 18px;
                    }
                    &:hover {
                        cursor: pointer;
                        color: rgb(104, 109, 110);	
                    }
                    .right {
                        margin-left: auto;
                        font-size: 15px;
                        color: inherit;
                    }
                }
                .collapsed {
                    color: #BBC2C4;
                }
                .wrapper {
                    display: flex;
                    flex-direction: column;
                    padding: 0px;
                    overflow: hidden;
                    height: auto;
                    transition: height .4s;
                    .header {
                        width: 100%;
                        padding-right: 25px;
                        padding-left: 25px;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-direction: row;
                        color: #757E7F;	
                        	
                        font-size: 12px;	
                        line-height: 18px;
                        height: 35px;
                        margin-bottom: 3px;
                        .id {
                            flex-basis: 20%;
                        }
                        .name {
                            flex-basis: 80%;
                        }
                    }
                    .route-card {                        
                        position: relative;                    
                        width: 100%;
                        padding-right: 25px;
                        padding-left: 25px;
                        background-color: #fff;
                        border: 1px solid transparent;
                        margin-right: 20px;
                        &:not(:last-child) {
                            margin-bottom: 3px;
                        }
                        &:hover {
                            cursor: pointer;
                            border: 1px solid #FFCCD6;
                        }
                    }
                    .active {
                        border: 1px solid orangered;
                        &:hover {
                            border: 1px solid orangered;
                        }
                        &::after {
                            z-index: 1000;
                            content: '';
                            position: absolute;
                            right: -5px;
                            top: 50%;
                            transform: translateY(-50%);
                            border-right: 9px solid transparent;
                            border-left: 9px solid red;
                            border-top: 9px solid transparent;
                            border-bottom: 9px solid transparent;
                        }
                        
                    }
                    .in-active {
                        border: 1px solid transparent;
                    }
                }
                .hide {
                    //max-height: 0px;
                    height: 0px;
                    transition: height .4s;
                }  
                .show {
                    height: auto;
                    transition: height .4s;
                    //max-height: fit-content;
                }     
            }
            .splitter {
                margin-bottom: 3px;  
            }
        }
    }
}
