<div class="wrapper">
    <div class="header">
      <div class="title-new-route">
        <div class="title"><span>Routes</span></div>
        <div class="new-route"
            *ngIf="_blowhorn_service.hasPermission('routes', 'can_add_route')"
            (click)="add_new_route()">
            <span>Add New Route</span>
        </div>
      </div>
      <div *ngIf="routes.length" class="search">
        <input type="text"
            class="search-text"
            [placeholder]="_search_placeholder"
            [(ngModel)]="filter_keyword"
            (keyup)="_filter_cities()">
        <span class="fa fa-search"></span>
      </div>
      <div *ngIf="!routes.length" class="no-routes">
        No routes configured
      </div>
      <div class="result">
        <div class="city-wrapper" *ngFor="let city of _city_routes_arr; let index = index"
          [ngClass]="{'splitter': !_city_visible.get(city.name)}">
          <div class="title"
            [ngClass]="{'collapsed': !_city_visible.get(city.name)}"
            (click)="hide_show(city.name)">
            <span class="left">{{city.name}} | {{city.routes.length}} Routes</span>
            <span class="fa right" [ngClass]="!_city_visible.get(city.name) ? 'fa-caret-down': 'fa-caret-up'"></span>
          </div>
          <div class="wrapper"
              [ngClass]="{'hide': !_city_visible.get(city.name), 'show': _city_visible.get(city.name)}">
              <div class="header">
                <span class="id">ID.</span>
                <span class="name">Route Name</span>
              </div>
              <div class="route-card" *ngFor="let route of city.routes" [ngClass]="{'active': route===selected_route}">
                <app-route-summary-card [route]="route" (click)="load_route(route)">
                </app-route-summary-card>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
