:root {
    --main-bg-color: coral;
    --primary-color: #00d2f6;
    --primary-color-dark: rgb(0, 136, 168);
    --secondary-color: #514a9d;
    --primary-text-color: #fff;
    --primary-dark-text-color: #333;
    --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --bg-gradient: linear-gradient(134.18deg, #E4FAFF 0%, #FFFFFF 100%);
    --bg-dark-header-gradient: linear-gradient(134.19deg, #2E3031 0%, #39616A 100%);
    --bg-dark-gradient: linear-gradient(134.19deg, #2E3031 0%, #39616A 100%);
    --logo-url: url(/static/website/images/blowhorn/logo/logo.png);
    --box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);

    /* Font */
    --font-regular: MetropolisRegular, sans-serif;
    --font-thin: MetropolisRegular, sans-serif;
    --font-bold: MetropolisBold, sans-serif;
    --font-medium: MetropolisMedium, sans-serif;

    /* Alert Colors */
    --info: #52b9e9;
    --success: #4caf50;
    --warning: #f88529;
    --danger: #FF6E80;
}
