{% load static humanize customer_tags %}
<div class="history-container">
  {% if history_qs %}
    {% for history in history_qs %}
    <div class="history-block">
      {% if forloop.counter != 1 %}
      <div class="icon-holder" style="color: {% if history.new_status == 'REJECTED'  or history.new_status == 'CUSTOMER DISPUTED' %} red
        {% else %} green {% endif %};">
        <i class="fa fa-long-arrow-alt-right"></i>
        {% with previous_element=invoice.invoicehistory_set.all|previous:forloop.counter0 %}
        {% if previous_element and previous_element.due_date and previous_element.due_date|date:"Y-m-d" < history.created_time|date:"Y-m-d" %}
        <i class="fa fa-clock" title="Processed after due date: {{previous_element.due_date}}"></i>
        {% endif %}
        {% endwith %}
      </div>
      {% endif %}
      <div class="basic-info-holder">
        <div class="status-holder">
          <div class="h-status"
          style="background-color: {% if history.new_status == 'REJECTED' or history.new_status == 'CUSTOMER DISPUTED' %} red; cursor: pointer;
          {% else %} green {% endif %};"
          title="{% if history.new_status == 'REJECTED' or history.new_status == 'CUSTOMER DISPUTED' %}
          {{history.reason}}{% endif %}">{{history.new_status}}
        </div>
      </div>
      <div class="col-history h-created_time">{{history.created_time|date:'dS N - H:i'}}</div>
        {% if history.created_by %}
          <div class="col-history h-created_by">{{history.created_by}}</div>
        {% else %}
          <div>--NA--</div>
        {% endif %}
        <div class="tooltip-content" style="display:none;">
          <div class="col-history h-owner">
            <div class="h-label">Owner: </div>
            <div class="h-value">{{history.action_owner}}</div>
          </div>
          <div class="col-history h-due_date">
            <div class="h-label">Due Date: </div>
            <div class="h-value">{{history.due_date}}</div>
          </div>
          {% if history.reason %}
          <div class="col-history h-reason">
            <div class="h-label">Remarks: </div>
            <div class="h-value">{{history.reason}}</div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <div class="history-error">No history found.</div>
  {% endif %}
</div>
