{% for l in legend_info %}
<div class="legend" style="display: inline-block;">
  <div class="legend-color" style="background-color: {{l.color}};"></div>
  <div class="legend-info-text">{{l.info}}</div>
</div>
{% endfor %}
