
{% load static humanize customer_tags currency_filters %}

<div class="table-responsive">
  <div class="summary-head">
    <div class="total-text-container">
      <div class="amount-label">Total Amount:</div>
      <div class="status-invoice-total"></div>
    </div>
  </div>
  <table class="table table-condensed" style="border-collapse:collapse;">
    <tfoot style="display:none;">
      <tr>
        <th colspan="9">Visible Total</th>
        <th data-math="col-sum"></th>
      </tr>
    </tfoot>
    <thead>
      <th class="col-id">ID</th>
      <th>Invoice Number</th>
      <th>Invoice Date</th>
      <th>Service State</th>
      <th>Invoice Type</th>
      <th>Customer</th>
      <th>Assignee</th>
      <th class="sorter-usLongDate">Assigned Date</th>
      <th>Due Date</th>
      <th class="sorter-currency col-right-text">Amount (Rs.)</th>
    </thead>
    <tbody>
      {% for invoice in invoices %}
        {% include 'admin/customer/invoice/partials/main_table_row.html' %}
      {% endfor %}
    </tbody>
  </table>
</div>
