{% load static humanize customer_tags currency_filters %}

<tr style="background-color: {% with due_date_percent=invoice.due_date|date_delta:invoice.assigned_date %}
  {% if invoice.is_credit_debit_note == True and invoice.invoice_type == 'Tax Invoice' %} #8a8007;
  {% elif due_date_percent <= 0 %} red; color: #fff;
  {% elif due_date_percent > 0 and due_date_percent <= 25 %} orange;
  {% elif due_date_percent > 25 and due_date_percent <= 50 %} yellow;
  {% endif %}
  {% endwith %}"
  class="main-row">
  <td class="invoice-pk">
    <a href="/admin/customer/customerinvoice/{{invoice.id}}/change" target="_blank">
      {{invoice.id}}
      {% if invoice.is_credit_debit_note == True and invoice.invoice_type == 'Tax Invoice' %}
      <i class="fa fa-frown"></i>
      {% endif %}
    </a>
  </td>
  <td class="toggle">{{invoice.invoice_number}}</td>
  <td class="toggle">{{invoice.invoice_date}}</td>
  <td class="toggle">{{invoice.bh_source_state}}</td>
  <td class="toggle">{{invoice.invoice_type}}</td>
  <td class="toggle">{{invoice.customer}}</td>
  <td class="toggle">{{invoice.current_owner}}</td>
  <td class="toggle">{{invoice.assigned_date}}</td>
  <td class="toggle">{{invoice.due_date}}</td>
  <td class="col-right-text">{{invoice.total_amount | default:0 }}</td>
</tr>
<tr class="tr-collapsible tablesorter-childRow">
  <td colspan="10" style="padding:0 !important;">
    <div class="row" style="padding: 8px;margin: 0;">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <b>Tax Payable under RCM:</b> {{invoice.total_rcm_amount | default:0}}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <b>Total Payable:</b> {{invoice.total_amount | default:0}}
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 history-btn-container">
        <div class="btn btn-info btn-flat" id="btn-history{{invoice.id}}"
          onclick="fetchHistory('{{invoice.id}}')">History
        </div>
      </div>
    </div>
    <div class="remarks-heading-block row">
      {% if invoice.comments %}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Comments</div>
      {% endif %}
      {% if invoice.remarks %}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">Remarks</div>
      {% endif %}
    </div>
    <div class="remarks-content-block row">
      {% if invoice.comments %}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">{{invoice.comments}}</div>
      {% endif %}
      {% if invoice.comments and invoice.remarks %}
      <div class="horizontal-separator"></div>
      {% endif %}
      {% if invoice.remarks %}
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">{{invoice.remarks}}</div>
      {% endif %}
    </div>
    <div class="row invoice-history-wrapper" id="invoice-history{{invoice.id}}"></div>
  </td>
</tr>
