<ul class="nav nav-tabs scrollable" role="tablist">
  {% for st in statuses %}
    {% for status in results %}
      {% if status.status == st %}
      <li class="" role="presentation" onclick="fetchInvoices('{{status.status}}', '{{ forloop.counter0 }}')">
        <a id="nav-{{status.status}}-tab">
        {{status.status | title}}
          <span id="{{status.status}}_badge" class="badge count_badge">
            {{status.total}}</span>
          <div class="ripple-container"></div>
        </a>
      </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>
