{% load static i18n %}
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/invitation.css' %}">
<link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
<head>
  <title>Blowhorn - Intracity Logistics for Same-Day Delivery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta data-hid="description" name="description" content="From Micro-warehousing to Hyperlocal Distribution, we provide same-day delivery for a variety of intracity logistics needs">
  <meta name="keywords" content="logistics solutions, logistics Services, end to end logistics">
  <meta property="og:title" name="og:title" content="Blowhorn - Blowhorn | Intracity Logistics for Same-Day Delivery">
  <meta property="og:type" name="og:type" content="website">
  <meta property="og:url" name="og:url" content="https://blowhorn.com/">
  <meta property="og:image" name="og:image" content="https://docs.blowhorn.com/social_banner_a8cef740c4.png">
  <meta property="og:description" name="og:description" content="From Micro-warehousing to Hyperlocal Distribution, we provide same-day delivery for a variety of intracity logistics needs">
  <meta property="og:locale" name="og:locale" content="en_IN">
  <meta property="og:locale:alternate" name="og:locale:alternate" content="en_US">
  <meta property="og:site_name" name="og:site_name" content="blowhorn">
  <meta property="google-signin-client_id" name="google-signin-client_id" content="309303081199-mfh2l774kgcfs49a37qne030nj7sf9iu.apps.googleusercontent.com">
  <meta property="google-signin-scope" name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email">
  <meta property="google-signin-requestvisibleactions" name="google-signin-requestvisibleactions" content="https://schemas.google.com/AddActivity">
  <meta property="google-signin-cookiepolicy" name="google-signin-cookiepolicy" content="single_host_origin">
  <meta property="facebook-app-id" name="facebook-app-id" content="120045861414801">
  <meta property="fb:app_id" content="120045861414801">
  <meta data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
  <meta data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="blowhorn">
  <link rel="icon" type="image/x-icon" href="/static/assets/images/favicon.ico">
  <link rel="shortcut icon" href="/static/assets/images/favicon-32x32.png">
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52796945-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52796945-1');
  </script>
</head>
<main>
  <div class="relative overflow-hidden p-6 min-h-screen" style="background-image: url('https://docs.blowhorn.com/truck_1_cb410e2131.jpg')">
    <div class="absolute mask w-full top-0 left-0 z-10"></div>
    <div class="container mx-auto relative max-w-7xl">
      <div class="flex flex-col md:flex-row items-center justify-center md:justify-start pt-32 pb-16 md:pb-0">
        <div class="w-full px-8 z-20 bg-white mx-auto max-w-xs md:max-w-md p-6 shadow-lg rounded-lg overflow-hidden">
          <div class="flex flex-col justify-center items-center">
            <a href="/">
              <img src="/static/website/images/blowhorn/logo/logoDark2X.png" alt="logo" class="logo w-16">
            </a>
            <div class="text-blue-900">Welcome to Blowhorn</div>
          </div>
          <div class="flex flex-col mx-auto">
            <div class="modal-header">
              <h1 class="text-2xl font-bold text-center mb-4 text-gray-700">
                {% trans "Registration Form" %}
              </h1>
            </div>
            <form action="." method="post" class="flex flex-col">
              {% csrf_token %}
              {{ form }}
              <div class="flex justify-center items-center mt-4">
                <input type="submit" value="Submit" class="w-full py-4 px-8 rounded-lg font-bold mx-auto bg-gradient-to-r from-blue-500 to-purple-500 text-white flex items-center justify-center cursor-pointer" type="button" title="submit" name="action">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script type="application/javascript">
  (function ($) {
    $(document).ready(() => {
      $('#id_name, #id_email, #id_phone_number_1, #id_password, #id_password_confirm, #id_phone_number_0').addClass('block text-sm py-3 px-4 rounded-lg w-full border outline-none');
      $('#id_email').prop('readonly', 'readonly').addClass('bg-gray-400');
      $('#id_password').prop('placeholder', 'Password');
      $('#id_password_confirm').prop('placeholder', 'Confirm Password');
      $('#id_phone_number_1').addClass('mt-1')
      if ($('#id_phone_number_1').val()) {
        $('#id_phone_number_1').prop('readonly', 'readonly');
        $('#id_phone_number_1').addClass('mt-1');
      }
      $('#id_phone_number_0').find('option').prop('hidden', true);
      $('#id_phone_number_0').prop('readonly', 'readonly');
      $('label').addClass('text-gray-700 mt-2');
      $('#id_phone_number_1').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9]/g) || e.target.value.toString().length > 9) {
          return false;
        }
      });
    });
  })(jQuery);
</script>
