{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ brand_name }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/favicon.ico" %}" rel="icon" type="image/x-icon"/>
  <link href="{% static current_build|add:"/assets/css/sprite.css" %}" rel="stylesheet" type="text/css"/>
  <link href="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/styles.css" %}" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family={{font_name}}:200,300,400,500,600,700,800,900" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

  {% if current_build == 'blowhorn' %}
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52796945-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-52796945-1');
  </script>
  {% endif %}
</head>
<body>
  <script>
    var modules = {{modules|safe}};
    var viewport_user_scalable = '{{viewport_user_scalable}}';
    var customer = '{{ customer }}';
    var customer_id = '{{ customer_id }}';
    var logged_user = {{logged_user|safe}};
    var is_authenticated = {{ is_authenticated|yesno:'true,false' }};
    var is_business_user = {{ is_business_user|yesno:'true,false' }};
    var is_non_individual = {{ is_non_individual|yesno:'true,false' }};
    var is_staff = {{is_staff|yesno:"true,false"}};
    var is_org_admin = {{is_org_admin|yesno:"true,false"}};
    var is_org_owner = {{is_org_owner|yesno:"true,false"}};
    var payment_methods = {{payment_methods|safe}};
    var cancellationReasons = {{cancellation_reasons|safe}};
    var homepage_url = '{{ homepage_url|safe }}';
    var country_code = '{{ country_code|safe }}';
    var isd_dialing_code  = '{{ isd_dialing_code|safe }}';
    var default_currency = '{{ default_currency|safe }}';
    var current_build = '{{ current_build|safe }}';
    var google_map_api_key = '{{ google_map_api_key }}';
    var fontName = '{{ font_name|safe }}';
    var termsOfServiceUrl = '{{ terms_of_service_url|safe }}';
    var supportEmail = "{{support_email|safe}}";
    var brand_name = '{{ brand_name|safe }}';
    var eta_recalculation_interval = '{{ eta_recalculation_interval|safe }}';
    var dashboard_config = JSON.parse(('{{ dashboard_config }}').replace(/&quot;/g, '"'));
    var customer_params = JSON.parse(('{{ params }}').replace(/&quot;/g, '"'));
    var permissions = JSON.parse(('{{ permissions }}').replace(/&quot;/g, '"'));
    var logging = false;
    if (!logging) {
      console.log = function () {};
    }
  </script>
  <app-root></app-root>
  <script type="text/javascript" src="{% static 'website/js/lib/markerclusterer.js' %}"></script>
  <script type="text/javascript" src="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/runtime.js" %}"></script>
  <script type="text/javascript" src="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/polyfills.js" %}"></script>
  <script type="text/javascript" src="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/main.js" %}"></script>
  <script type="text/javascript" src="{% static "myfleets/"|add:current_build|add:"/"|add:build_flavour|add:"/scripts.js" %}"></script>
</body>
</html>
