body {
    font-family: "Roboto";
  }
  
  .registration-form {
    width: 500px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background: transparent;
  }
  

  .registration-form form {
    position: relative;
  }

  .registration-form .error {
    border: none !important;
    color: red;
    margin-top: 20px;
    font-size: 14px;
    padding-block-start: 15px;
    padding-left: 20px;
  }

  .registration-form .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: 45px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
  }

  .registration-form form input {
    background: white;
    color: #b3e5fc;
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;
  }
  .registration-form form input:focus {
    outline: none;
  }
  .registration-form form input::-moz-placeholder {
    color: #b3e5fc;
    font-weight: 100;
  }
  .registration-form form input:-ms-input-placeholder {
    color: #b3e5fc;
    font-weight: 100;
  }
  .registration-form form input::placeholder {
    color: #b3e5fc;
    font-weight: 100;
  }
  
  .animated-button {
    width: 20%;
    background-color: #b3e5fc;
    border: none;
  }
  .animated-button span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 75px;
    text-align: center;
    height: 50px;
    transition: all 0.2s ease-in;
  }
  .animated-button span i {
    font-size: 20px;
    color: white;
  }
  
  .header {
    width: 30%;
    background-color: #b3e5fc;
    padding: 10px 20px 20px 20px;
  }