<div class="registration-form">
    <form>
      <div class="input-section email-section" >
        <div class="header">API Key</div>
        <input class="email" type="email" id="api-key-area" [(ngModel)]="apikey" [ngModelOptions]="{standalone: true}" READONLY/>
        <button class="animated-button" (click)="copyInputMessage()" >
            <span class="icon-paper-plane">
                <i class="fa fa-clipboard" aria-hidden="true"></i>
            </span>
        </button>
      </div>
      <br>
      <div class="error" >
        {{ formError }}
      </div>
    </form>
</div>

