:root {
    --font-family: 'Heebo';
    --primary-color: #00d2f6;
    --primary-color-light: #e4faf8;
    --secondary-color: #FC3446;
    --disabled-text: #adbcbd;
    --disabled-bg: rgb(236, 234, 234);
    --light: #f8f9fa;
}

/* For use in src/lib/core/theming/_palette.scss */
$mat-blowhorn: (
    50 : #e0fafe,
    100 : #b3f2fc,
    200 : #80e9fb,
    300 : #4de0f9,
    400 : #26d9f7,
    500 : #00d2f6,
    600 : #00cdf5,
    700 : #00c7f3,
    800 : #00c1f2,
    900 : #00b6ef,
    A100 : #ffffff,
    A200 : #e3f7ff,
    A400 : #b0e9ff,
    A700 : #96e2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



// For more information: https://material.angular.io/guide/theming

@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$theming-material-components-primary: mat-palette($mat-blowhorn);
// $theming-material-components-accent: mat-palette($mat-blowhorn, A200, A100, A400);

// The warn palette is optional (defaults to red).

$theming-material-components-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).

$theming-material-components-theme: mat-light-theme(
  $theming-material-components-primary,
  $theming-material-components-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($theming-material-components-theme);

@font-face{
    font-family:'FontAwesome';
    src: url('/static/myfleets/fontawesome-webfont.eot');
    src:url('/static/myfleets/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/myfleets/fontawesome-webfont.woff2') format('woff2'),
    url('/static/myfleets/fontawesome-webfont.woff') format('woff'),
    url('/static/myfleets/fontawesome-webfont.ttf') format('truetype'),
    url('/static/myfleets/fontawesome-webfont.svg?#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
}
*, body, button, input, textarea, form * {
  font-family: var(--font-family);
}
html {
    height: 100%;
    width: 100%;
    padding: 0px;
    min-width:1100px;
    min-height: 500px;
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        min-width:1100px;
        min-height: 500px;
        app-root {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    html, body {min-width: unset !important;}
}

app-my-fleet-home,
app-configuration-main,
app-my-fleet-main,
app-my-trips-main,
app-shipment-order-main {flex: 1;}
.bh-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 1002;
}
.stretch-height {
    height: 100%;
}
.stretch-width {
    width: 100%;
}
.stretch {
    height: 100%;
    width: 100%;
}
.to-right {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.to-left {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.pac-container {
    display: block;
    z-index: 2000;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
    border-radius: 0px;

    font-size: 14px;
    &::after {
        content: '';
    }
    .pac-item {
        padding: 5px;
        height: 40px;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        background-color: #fff;
        > span {
            color: rgb(63, 54, 54);;
        }
        &:hover {
            background-color: rgb(63, 54, 54);;
            > span {
                color: #fff;
            }
        }
    }
}

.agm-style div{color: #fff !important; font-weight: bold;}
.mat-dialog-container {
    padding: 0!important;
}
.bs-timepicker-field {
    width: 72px !important;
}
.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    &.priority {
        z-index: 1040;
    }
}

.modal-header {
  display: flex;
  padding: 10px 20px;
  border-bottom: 2px solid #0088A8;
  align-items: center;
  min-height: 45px;
  .modal-title-text {
      color: #0088A8;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 21px;
      text-transform: uppercase;
  }
  .close {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      transition: transform 300ms;
      cursor: pointer;
      &:hover {
          color: orangered !important;
          transform: scale(1.5);
      }
  }
}

.form-input-error {
    padding: 5px;
    border: 1px solid rgb(253, 123, 76);
    color: rgb(253, 123, 76);
    background-color: rgb(255, 190, 167);
    border-radius: 2px;
    font-size: 12px;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
    opacity: .5;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background: #d2d2d2;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    width: 6px;
    height: 6px;
    background: transparent;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.button-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  color: #646464;
  outline: none;
  cursor: pointer;

  &.button-blue {
    border: 1px solid var(--primary-color);
    background-color: rgb(247, 251, 252);
    color: rgb(14, 134, 172);
  }

  &:hover {
    background-color: rgb(135, 233, 255);
    border: none;
    padding: 9px 9px;
    color: black;
  }

  &.button-black {
    border: 1px solid #141515;
    background-color: #141515;
    color: var(--primary-color);

    &:hover {
      border: 1px solid var(--primary-color);
      background-color: transparent;
      padding: 8px 8px;
      color: black;
    }
  }

  &[disabled] {
    padding: 6px 8px;
    border:none;
    background-color: white;
    color: #adbcbd;
    font-size: 17px;

    &:hover {
      border:none;
      background-color: white;
      color: #adbcbd;
      cursor: inherit;
      padding: 6px 8px;
    }
  }

  &.empty {
    padding: 3px 8px;
    margin: 5px 0 7px 11px;
    background: transparent;
    color: white;
    border-color: white;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      border: none;
      background-color: #87e9ff;
      color: black;
      padding: 4px 9px;
    }

    &.disabled:hover {
      border: none;
      background-color: #87e9ff;
      color: black;
      padding: 3px 8px;
    }
  }
}

.button-flat-out {
  padding: 9px 26px;
  background-color: rgb(135, 233, 255);
  border: none;
  color: black;
  margin-left: 6px;
  font-weight: 800;

  &:hover {
    padding: 8px 25px;
    background-color: white;
    color: #646464;
    border: 1px solid rgba(0, 0, 0, 0.39);
  }
}

.modal-dialog .modal-content{
  border-radius: 0;
  border: none;
}

.ng2-auto-complete-wrapper li {
  background-color: rgb(247, 251, 252) !important;
  border: 1px solid rgb(231, 233, 234);
  font-size: 14px !important;
  font-weight: 700 !important;
  padding: 12px 15px 10px 15px !important;
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng2-auto-complete-wrapper li:hover,
.ng2-auto-complete-wrapper li.active,
.ng2-auto-complete-wrapper li.selected {
  cursor: pointer;
  background-color: #c5f4ff !important;
}

date-picker .datepicker-actions input,
date-picker .datepicker-actions button {
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  padding: 5px 5px 6px 5px !important;
  border-radius: 0 !important;
}

date-picker .datepicker-actions button {
  padding: 0 10px !important;
}

date-picker .datepicker-actions input:focus,
date-picker .datepicker-actions button:focus{
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  box-shadow: none !important;
}
button:focus {
  outline: none !important;
}
date-picker .datepicker-panel {
  border-radius: 0 !important;
}

.second-section ngx-qrcode .qrcode img,
.buttons-holder ngx-qrcode .qrcode img{
  height: 100px;
}
.logo {
  width: 32px;
  height: 32px;
  img {
    width: 32px;
    height: 32px;
  }
}
.logo-invoice {
  float: right;
  width: 120px;
}
.cross {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  &:hover {
    color: orangered !important;
    transform: scale(1.5);
  }
}
.stop {
  background-image: url('/static/assets/Assets-Common/StopBig.png');
}
.pickup {
  background-image: url('/static/blowhorn/assets/markers/Blue-Marker@2x.png');
}
.dropoff {
  background-image: url('/static/blowhorn/assets/markers/Purple-Marker@2x.png');
}

.bgPrimary {
  background-color: var(--primary-color);
}
.textPrimary {
  color: var(--primary-color);
}
.disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}
.phone-number-container {
  display: flex;
}
.full-width-bottomsheet {
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vw !important;
    max-height: 100vw !important;
}
.cursor-pointer {
    cursor: pointer;
}
