@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face{
    font-family:'FontAwesome';
    src: url('/static/myfleets/fontawesome-webfont.eot');
    src:url('/static/myfleets/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('/static/myfleets/fontawesome-webfont.woff2') format('woff2'),
    url('/static/myfleets/fontawesome-webfont.woff') format('woff'),
    url('/static/myfleets/fontawesome-webfont.ttf') format('truetype'),
    url('/static/myfleets/fontawesome-webfont.svg?#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
  --font-family: 'Heebo',Helvetica,Arial,Lucida,sans-serif;
  --primary-color: #0068C9;
  --primary-color-light: #fff;
  --light: #f8f9fa;
  --disabled-text: #adbcbd;
  --disabled-bg: rgb(236, 234, 234);
}

* {
  box-sizing: border-box;
}
*, body, button, input, textarea, form * {
  font-family: var(--font-family);
}
html {
    height: 100%;
    width: 100%;
    padding: 0px;
    min-width:1100px;
    min-height: 500px;
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px;
        min-width:1100px;
        min-height: 500px;
        app-root {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (max-width: 767px) {
    html, body {min-width: unset !important;}
}

app-my-fleet-home,
app-configuration-main,
app-my-fleet-main,
app-my-trips-main,
app-shipment-order-main {
    flex: 1;
}
.bh-modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    z-index: 1002;
}
.stretch-height {
    height: 100%;
}
.stretch-width {
    width: 100%;
}
.stretch {
    height: 100%;
    width: 100%;
}
.to-right {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.to-left {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
}
.pac-container {
    display: block;
    z-index: 2000;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .5);
    border-radius: 0px;

    font-size: 14px;
    &::after {
        content: '';
    }
    .pac-item {
        padding: 5px;
        height: 40px;
        cursor: pointer;
        font-family: inherit;
        font-size: inherit;
        background-color: #fff;
        > span {
            color: rgb(63, 54, 54);;
        }
        &:hover {
            background-color: rgb(63, 54, 54);;
            > span {
                color: #fff;
            }
        }
    }
}

.agm-style div{color: #fff !important; font-weight: bold;}

.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    &.priority {
        z-index: 1040;
    }
}
.modal-header {
  display: flex;
  padding: 10px 20px;
  border-bottom: 2px solid #0088A8;
  align-items: center;
  min-height: 45px;
  .modal-title-text {
      color: #0088A8;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 21px;
      text-transform: uppercase;
  }
  .close {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      transition: transform 300ms;
      cursor: pointer;
      &:hover {
          color: orangered !important;
          transform: scale(1.5);
      }
  }
}

.form-input-error {
    padding: 5px;
    border: 1px solid rgb(253, 123, 76);
    color: rgb(253, 123, 76);
    background-color: rgb(255, 190, 167);
    border-radius: 2px;

    font-size: 12px;
}

::-webkit-input-placeholder {
    opacity: .5;
}

:-moz-placeholder {
    opacity: .5;
}

::-moz-placeholder {
    opacity: .5;
}

:-ms-input-placeholder {
    opacity: .5;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    width: 3px;
    height: 3px;
    background: #d2d2d2;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    width: 3px;
    height: 3px;
    background: transparent;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}


.button-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  color: #646464;
  outline: none;
  cursor: pointer;

  &.button-primary {
    background-color: var(--primary-color);
    color: var(--light);
    &:hover {
      background-color: var(--light);
      color: var(--primary-color);
    }
  }

  &.button-blue {
    border: 1px solid var(--primary-color);
    background-color: rgb(247, 251, 252);
    color: rgb(14, 134, 172);
  }

  &:hover {
    background-color: var(--primary-color);
    border: none;
    padding: 9px 9px;
    color: var(--light);
    text-decoration: none;
  }

  &.button-black {
    border: 1px solid #141515;
    background-color: #141515;
    color: rgb(128, 230, 247);

    &:hover {
      border: 1px solid var(--primary-color);
      background-color: transparent;
      padding: 8px 8px;
      color: black;
    }
  }

  &[disabled] {
    padding: 6px 8px;
    border:none;
    background-color: white;
    color: #adbcbd;
    font-size: 17px;

    &:hover {
      border:none;
      background-color: white;
      color: #adbcbd;
      cursor: inherit;
      padding: 6px 8px;
    }
  }

  &.empty {
    padding: 3px 8px;
    margin: 5px 0 7px 11px;
    background: transparent;
    color: white;
    border-color: white;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      border: none;
      background-color: var(--primary-color);
      color: black;
      padding: 4px 9px;
    }

    &.disabled:hover {
      border: none;
      background-color: var(--primary-color);
      color: black;
      padding: 3px 8px;
    }
  }
}

.button-flat-out {
  padding: 9px 26px;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  margin-left: 6px;
  font-weight: 800;

  &:hover {
    padding: 8px 25px;
    background-color: white;
    color: #646464;
    border: 1px solid rgba(0, 0, 0, 0.39);
  }
}

.modal-dialog .modal-content{
  border-radius: 0;
  border: none;
}

.ng2-auto-complete-wrapper li {
  background-color: rgb(247, 251, 252) !important;
  border: 1px solid rgb(231, 233, 234);
  font-size: 14px !important;
  font-weight: 700 !important;
  padding: 12px 15px 10px 15px !important;
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng2-auto-complete-wrapper li:hover,
.ng2-auto-complete-wrapper li.active,
.ng2-auto-complete-wrapper li.selected {
  cursor: pointer;
  background-color: #c5f4ff !important;
}

date-picker .datepicker-actions input,
date-picker .datepicker-actions button {
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  padding: 5px 5px 6px 5px !important;
  border-radius: 0 !important;
}

date-picker .datepicker-actions button {
  padding: 0 10px !important;
}

date-picker .datepicker-actions input:focus,
date-picker .datepicker-actions button:focus{
  outline: none !important;
  border: 1px solid rgba(0, 0, 0, 0.39) !important;
  box-shadow: none !important;
}

date-picker .datepicker-panel {
  border-radius: 0 !important;
}

.second-section ngx-qrcode .qrcode img,
.buttons-holder ngx-qrcode .qrcode img {
  height: 100px;
}

.cross {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  &:hover {
    color: orangered !important;
    transform: scale(1.5);
  }
}
.logo {
  width: 34px !important;
  height: 34px;
  img {
    width: 34px !important;
    height: 34px;
  }
}
.logo-invoice {
  float: right;
  width: 50px;
  height: 50px;
}
.stop {
  background: url('/static/mzansigo/assets/Assets-Common/StopBig.png') center center;
  background-size: contain;
}
.pickup {
  background: url('/static/mzansigo/assets/markers/Blue-Marker@2x.png') center center;
  background-size: contain;
}
.dropoff {
  background: url('/static/mzansigo/assets/markers/Purple-Marker@2x.png') center center;
  background-size: contain;
}
.bgPrimary {
  background-color: var(--primary-color);
}
.textPrimary {
  color: var(--primary-color);
}
.disabled {
  background-color: var(--disabled-bg);
  color: var(--disabled-text);
}
.phone-number-container {
  display: flex;
}
