.locations-holder {
  margin: 22px 33px;
  height: calc(100vh - 220px);

  .location {
    box-shadow: 0 0 1px 1px black;
    position: relative;

    .location-text {
      color: #303232;
      font-size: 14px;
      line-height: 21px;
      max-width: 250px;
    }
  }

  .location, .location-name-columns {
    padding: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px 0 #DFE6E8;

    .fragment-2 {
      width: 35%;
    }

    .fragment-1, .fragment-4 {
      width: 20%;
    }

    .fragment-3 {
      width: 25%;
    }

  }

  .location {
    margin-bottom: 10px;
    min-height: 128px;
  }

  .location-name-columns {

    span {
      color: #757E7F;
      font-size: 14px;
      line-height: 21px;
    }
  }
}

.locations-header {
  padding: 48px 48px 21px 48px;
  background-color: white;

  h1 {
    color: #141515;
    font-size: 36px;
    font-weight: 300;
    line-height: 53px;
  }
}

.search-bar {
  height: 46px;
  background-color: #F0F5F7;

  .search-input-holder {
    position: relative;
    margin-left: 150px;

    input {
      border: none;
      outline: none;
      height: 32px;
      padding-right: 26px;
      padding-left: 3px;
    }

    img {
      width: 18px;
      position: absolute;
      top: 6px;
      right: 4px;
    }
  }

  .text {
    text-transform: uppercase;
    color: #929A9B;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 24px;
    padding-left: 33px;
  }
}

.delete {

  &.modal-header {
    padding: 20px 0 0 35px;
    border: none;

    h4 {
      color: #303232;
      font-size: 18px;
      font-weight: bold;
      line-height: 27px;
    }
  }

  &.modal-body {
    padding: 0 33px 0 33px;

    .order-id {
      color: #0180A8;
      font-size: 14px;
      line-height: 21px;
      margin-top: 20px;
    }

    .warning-alert {
      padding: 6px 7px;
      margin: 25px 0;
      background-color: rgb(255, 230, 238);
      color: rgb(216, 55, 69);;

      .warning {
        img {
          height: 50px;
        }
      }
    }
  }

  &.modal-footer {
    border: none;
    padding: 25px 30px;

    .button-flat {
      padding: 11px;
      font-weight: 800;
      width: 100px;
      &:hover {
        padding: 12px;
      }
    }
  }
}

.button-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  background-color: white;
  color: #4E5454;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  outline: none;
  cursor: pointer;
  width: 76px;

  &.button-blue {
    border: 1px solid var(--primary-color);
    background-color: rgb(247, 251, 252);
    color: rgb(14, 134, 172);
    margin-left: 10px;
  }

  &:hover {
    background-color: var(--primary-color);
    border: none;
    padding: 9px 9px;
    color: black;
  }

  &.button-black {
    border: 1px solid #141515;
    background-color: #141515;
    color: rgb(128, 230, 247);

    &:hover {
      border: 1px solid var(--primary-color);
      background-color: transparent;
      padding: 8px 8px;
      color: black;
    }
  }

  &[disabled] {
    padding: 6px 8px;
    border:none;
    background-color: white;
    color: #adbcbd;
    font-size: 17px;

    &:hover {
      border:none;
      background-color: white;
      color: #adbcbd;
      cursor: inherit;
      padding: 6px 8px;
    }
  }

  &.empty {
    padding: 3px 8px;
    margin: 5px 0 7px 11px;
    background: transparent;
    color: white;
    border-color: white;
    font-size: 12px;
    font-weight: 700;

    &:hover {
      border: none;
      background-color: var(--primary-color);
      color: black;
      padding: 4px 9px;
    }

    &.disabled:hover {
      border: none;
      background-color: var(--primary-color);
      color: black;
      padding: 3px 8px;
    }
  }
}

.button-flat-out {
  padding: 9px 26px;
  background-color: var(--primary-color);
  border: none;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  margin-left: 6px;

  &:hover {
    padding: 8px 25px;
    background-color: white;
    color: #646464;
    border: 1px solid rgba(0, 0, 0, 0.39);
  }
}

@media screen and (max-width: 1150px) {
  .location .fragment-4 {
    align-items: center !important;

    .buttons-holder {
      flex-direction: column;

      .button-blue {
        margin-left: 0;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .locations-header {
    flex-direction: column;
    padding: 48px 25px 21px 25px;
  }

  .search-bar {
    flex-direction: column;
    height: 80px;
    align-items: center !important;
    justify-content: space-around !important;

    .text {
      padding-left: 0;
    }

    .search-input-holder {
      margin-left: 0;
    }
  }

  .locations-holder {
    margin: 22px 10px;

    .fragment-3 {
      display: none !important;
    }
  }

  .location-name-columns {
    .fragment-2 {
      padding-right: 20px;
    }
  }

  .fragment-2 {
    width: 60% !important;
    padding-left: 20px;
  }

  .fragment-1, .fragment-2 {
    .location-text {
      //max-width: 80px !important;
      padding-right: 15px;
    }
  }
}
