<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="flex-box myaccount-container">
        <div class="balance-bar-container">
          <div class="card-body">
            <div class="row">
              <div class="col-5 col-md-4 col-sm-4 col-xs-4">
                <div class="icon-container">
                  <img ng-show="vm.showRupeeIcon" ng-src="/static/website/webapp/src/content/blowhorn/images/rupee.svg"
                  width="50px">
                </div>
              </div>
              <div class="col-7 col-md-8">
                <div class="numbers">
                  <p class="card-category">Available Balance</p>
                  <p class="card-title">
                    <div class="loader-container" ng-show="vm.show.loading_transactions">
                      <mini-loader slSize="5px"></mini-loader>
                    </div>
                    <div ng-show="!vm.show.loading_transactions">
                      {{vm.currencySymbol}}{{vm.available_balance| number:2}}
                    </div>
                    <div class="low-balance-message" ng-show="vm.show.low_balance">
                      Low balance
                    </div>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats" title="Click to add money"
              ng-click="vm.openRachargeModal()">+ add money
            </div>
          </div>
        </div>
        <div class="transaction-container">
          <div class="heading">Recent Transactions</div>
          <div class="table-container">
            <div class="header hidden-xs">
              <div>Transaction No.</div>
              <div>Description</div>
              <div>Date</div>
              <div>Type</div>
              <div>Closing Balance</div>
              <div class="amount">Amount</div>
            </div>
            <div class="table-body">
              <div class="loader-container" ng-show="vm.show.loading_transactions">
                <mini-loader slSize="8px"></mini-loader>
              </div>
              <div class="no-data-message" ng-show="!vm.show.loading_transactions && !vm.transactions.length">
                <div class="message">
                  <h5>You haven't done any transactions.</h5>
                  <p>Start adding money</p>
                  <div class="stats" title="Click to recharge wallet"
                    ng-click="vm.openRachargeModal()">
                    <div class="btn-recharge">
                      <i class="fa fa-credit-card"></i> Recharge Now
                    </div>
                  </div>
                </div>
              </div>
              <div class="trans-row" ng-repeat="row in vm.transactions track by row.id"
                ng-class-odd="'odd'" ng-class-even="'even'">
                <div class="number hidden-xs">{{row.number}}</div>
                <div class="hidden-xs">{{row.desc}}</div>
                <div class="date hidden-xs">{{row.transaction_time | date:"MMM dd, yyyy h:mma"}}</div>
                <div class="status hidden-xs">
                  <span class="badge badge-table"
                    ng-class="{
                      'badge-warning': row.status === 'Hold',
                      'badge-success': row.status !== 'Hold' && row.transaction_type === 'Credit',
                      'badge-danger': row.status !== 'Hold' && row.transaction_type === 'Debit'}">
                    {{row.status || row.transaction_type}}
                  </span>
                </div>
                <div class="closing-amount hidden-xs">{{vm.currencySymbol}}{{(row.balance| number:2).toString().replace('-', '')}}</div>
                <div class="amount hidden-xs"
                  ng-class="{
                  'orange': row.status === 'Hold',
                  'green': row.status !== 'Hold' && row.transaction_type === 'Credit',
                  'red': row.status !== 'Hold' && row.transaction_type === 'Debit'}">
                  {{row.transaction_type === 'Credit' ? '+' : '-'}}{{vm.currencySymbol}}{{(row.amount| number:2).toString().replace('-', '')}}
                </div>
                <div class="mobile-view visible-xs">
                  <div class="desc">{{row.desc}}</div>
                  <div class="date">{{row.transaction_time | date:"MMM dd, yyyy h:mma"}}</div>
                  <div class="number">Transaction No.: {{row.number}}</div>
                </div>
                <div class="mobile-view visible-xs">
                  <div class="amount"
                    ng-class="{
                    'orange': row.status === 'Hold',
                    'green': row.status !== 'Hold' && row.transaction_type === 'Credit',
                    'red': row.status !== 'Hold' && row.transaction_type === 'Debit'}">
                    {{row.transaction_type === 'Credit' ? '+' : '-'}}{{vm.currencySymbol}}{{(row.amount| number:2).toString().replace('-', '')}}
                  </div>
                  <div class="amount">Closing Balance: {{vm.currencySymbol}}{{(row.balance| number:2).toString().replace('-', '')}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
