
<div class="modal-header">
    <h3 class="modal-title" id="modal-title-{{$ctrl.name}}">{{$ctrl.name}}</h3>
    <div (click)="$ctrl.suppress_event($event)">
        <span class="fa fa-times close" ng-click="$ctrl.cancel()"></span>
    </div>
</div>
<div class="modal-body" id="modal-body-{{$ctrl.name}}">
    <div class="amount-container">
        <div class="heading">Add Money</div>
        <div class="money-options">
            <div class="money-chip"
                ng-repeat="amount in $ctrl.amountOptions"
                ng-click="$ctrl.selectAmountOption(amount)">
                +{{amount}}
            </div>
        </div>
        <div class="amount-box-container">
            <form name="rechargeForm">
                <md-input-container class="md-block">
                    <input name="amountToAdd" ng-model="$ctrl.amountToAdd"
                        type="number" ng-min="1" ng-max="$ctrl.mxAllowedRechargeAmt"
                        placeholder="Enter custom amount"
                        ng-pattern="/^[0-9]+$/">
                    <div ng-messages="rechargeForm.amountToAdd.$error">
                        <div ng-message="min">
                          Minimum amount accepted is {{$ctrl.default_currency|formatCurrency}}1
                        </div>
                        <div ng-message="max">
                          Maximum amount accepted is {{$ctrl.default_currency|formatCurrency}}{{$ctrl.mxAllowedRechargeAmt}}
                      </div>
                    </div>
                </md-input-container>
            </form>
        </div>
    </div>
    <div class="loader-recharge" ng-if="$ctrl.updatingRazorpayStatus">
        <div class="loader-container">
            <mini-loader slSize="8px"></mini-loader>
        </div>
    </div>
    <div class="payment-method-container">
        <div class="heading">Choose payment method</div>
        <div class="payment-methods">
            <div class="pm rzrpay" ng-if="$ctrl.show.paytm"
                title="Credit Card / Debit Card / Net Banking / Others"
                ng-click="$ctrl.initRazorpayTransaction()"
                ng-class="{'enabled': $ctrl.amountToAdd && $ctrl.amountToAdd > 0 && $ctrl.amountToAdd <= $ctrl.mxAllowedRechargeAmt && !$ctrl.updatingRazorpayStatus }">
                <i class="fa fa-credit-card"></i>
                <div class="pm-label">Credit Card / Debit Card</div>
            </div>
            <div class="pm paytm" ng-if="$ctrl.show.razorpay"
                ng-click="$ctrl.initPaytmTransaction()"
                ng-class="{'enabled': $ctrl.amountToAdd && $ctrl.amountToAdd > 0 && $ctrl.amountToAdd <= $ctrl.mxAllowedRechargeAmt && !$ctrl.updatingRazorpayStatus }">
                <div class="paytm-label pm-label">Pay by</div>
                <img class="paytm-img" src="/static/assets/Assets/Paytm.png">
            </div>
            <div class="pm payfast" ng-if="$ctrl.show.payfast"
                ng-click="$ctrl.initPayfastTransaction()">
                <i class="fa fa-credit-card"></i>
                <div class="pm-label">Online payment using Payfast</div>
            </div>
        </div>
    </div>
</div>
