$boxShadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
.reschedule-modal {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: #fff;
    padding: 0 20px;
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);
    
    .modal-header {
        display: flex;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            // 
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .reschedule-modal-body {
        height: 100%;
        width: 100%;
        display: flex;
        padding: 0 15px 15px;
        .retry-container {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 15px;
            vertical-align: middle;
            margin: auto;
            .message {
                color: #999;
                
                padding: 8px;
            }
            .btn-container {
                display: flex;
                justify-content: center;
                padding: 8px;
            }
        }
        .reschedule-message-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .message {
                text-align: center;
                margin-bottom: 8px;
                &.success {
                    color: green;
                }
                &.error {
                    color: red;
                }
            }
            .btn-container {
                display: flex;
                justify-content: center;
            }
        }
        .reschedule-picker-container {
            display: flex;
            flex-direction: column;
            width: inherit;
            .timeframe-container {
                display: flex;
                justify-content: center;
                padding: 8px;
                .radio {
                    padding: 7px 28px;
                    margin-right: 13px;
                    border: 1px solid #929A9B;
                    border-radius: 100px;
                    text-transform: capitalize;
                    cursor: pointer;
                    &:hover {
                        background: var(--primary-color);
                        box-shadow: $boxShadow;
                    }
                    &.selected {
                        background: var(--primary-color);
                        box-shadow: $boxShadow;
                        cursor: default;
                    }
                }
            }
            .calendar-container {
                display: flex;
                h3 {
                    font-size: 24px;
                    font-weight: 300;
                    height: auto;
                    margin-top: 15px;
                    color: #58535E;
                    line-height: 53px;
                    vertical-align: middle;
                    margin: auto;
                    span {
                        font-weight: bold;
                        color: #FC3446;
                        font-size: inherit;
                    }                
                }
                .calender {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    h6 {
                        font-size: 14px;
                        color: #929A9B;
                    }
                    .customCalendar {
                        width: 320px;
                        margin-bottom: 30px;
                        .dayName {
                            display: flex;
                            justify-content: space-evenly;
                            span {
                                font-size: 12px;
                                color: #898390;
                                padding: 0;
                                line-height: 10px;
                                border: 0px solid #ECE9F1;
                                margin: 0 0 15px 0;
                                width: 40px;
                            }
                        }
                        span {
                            display: inline-block;
                            width: 32px;
                            font-size: 15px;
                            padding: 0px 0px;
                            border: 1px solid #ECE9F1;
                            border-radius: 37px;
                            text-align: center;
                            margin: 0px 7px 12px 5px;
                            line-height: 28px;
                            color: #ECE9F1;
                            cursor: not-allowed;
                            position: relative;
                            em {
                                font-size: 9px;
                                font-style: normal;
                                font-weight: normal;
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: -19px;
                            }
                            &.today {
                                color: red !important;
                            }
                            &.on {
                                color: #37323D;
                                cursor: pointer;
                            }
                            &.selected {
                                background-color: var(--primary-color);
                                color: #37323D;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .time {
                    h6 {
                        font-size: 14px;
                        color: #929A9B;
                        text-align: center;
                    }
                    // .hour-container {
                    //     display: flex;
                    //     span {
                    //         display: inline-block;
                    //         width: 32px;
                    //         font-size: 15px;
                    //         padding: 0px 0px;
                    //         border: 1px solid #ECE9F1;
                    //         border-radius: 37px;
                    //         text-align: center;
                    //         margin: 0px 7px 12px 5px;
                    //         line-height: 28px;
                    //         cursor: not-allowed;
                    //         position: relative;
                    //         em {
                    //             font-size: 9px;
                    //             font-style: normal;
                    //             font-weight: normal;
                    //             // position: absolute;
                    //             // left: 0;
                    //             // right: 0;
                    //             // top: -19px;
                    //         }
                    //         &.today {
                    //             color: red !important;
                    //         }
                    //         &.on {
                    //             color: #37323D;
                    //             cursor: pointer;
                    //         }
                    //         &.enabled {
                    //             cursor: pointer;
                    //         }
                    //         &.disabled {
                    //             color: #ECE9F1;
                    //         }
                    //         &.selected {
                    //             background-color: var(--primary-color);
                    //             color: #37323D;
                    //             font-weight: bold;
                    //         }
                    //     }
                    // }
                    .timepicker-container {
                        display: flex;
                        width: 320px;
                        justify-content: center;
                        input {
                            width: 110px;
                            border: none;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
            .message-container {
                display: flex;
                justify-content: center;
                h2 {
                    font-size: 16px;
                    margin: 0;
                    height: 24px;
                    color: #FC3446;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
            .footer {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                bottom: 15px;
                right: 15px;
                .btn-container {
                    padding: 4px;
                }
            }
        }
    }
}
