<div class="reschedule-modal">
  <div class="modal-header">
    <div class="modal-title-text">reschedule booking</div>
    <span class="fa fa-times cross close" (click)="details_closed.emit(true)"></span>
  </div>
  <div class="reschedule-modal-body">
    <div class="loader-container" *ngIf="show_loader">
      <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
    </div>
    <div class="reschedule-picker-container"
    *ngIf="!show_loader && !error_message && !reschedule_error && !reschedule_message">
        <div class="timeframe-container">
          <div class="radio now" (click)="selectTimeframe('now')" 
          [ngClass]="{'selected': selected_timeframe === TIMEFRAME_NOW}">now</div>
          <div class="radio later" (click)="selectTimeframe('later')" 
          [ngClass]="{'selected': selected_timeframe === TIMEFRAME_LATER}">later</div>
        </div>
        <div class="calendar-container" *ngIf="selected_timeframe && (!nowNotAvailable || !noSlots)">
          <h3 class="" *ngIf="selected_timeframe === TIMEFRAME_NOW && !nowNotAvailable">
            We can schedule your pick up in <span>1 hour</span>
          </h3>
          <div class="calender" *ngIf="selected_timeframe === TIMEFRAME_LATER">
            <h6>Select a date in {{max_advance_booking_days}} days</h6>
            <div class="customCalendar">
              <div class="dayName">
                <span>Mon</span>
                <span>Tue</span>
                <span>Wed</span>
                <span>Thu</span>
                <span>Fri</span>
                <span>Sat</span>
                <span>Sun</span>
              </div>
              <span [ngClass]="{
                on: dayIsAvailable(day),
                selected: selected_day && selected_day.isSame(day, 'day'),
                today: day.isSame(today, 'day'),
                disabled: !dayIsAvailable(day)
                }" (click)="selectDay(day)"
                *ngFor="let day of days_array">
                {{day.format('DD')}}
                <!--Show it if start of month-->
                <em *ngIf="day.date()==1">{{day.format('MMM')}}</em>
              </span>
            </div>
          </div>
          <div class="time" *ngIf="selected_day && showSlots && !noSlots" style="position: relative">
            <h6>Select a timeslot</h6>
            <div class="timepicker-container">
              <input placeholder="{{pickerConfig.startStr}} to {{pickerConfig.endStr}}"
              [ngxTimepicker]="toggleTimepicker"
              [disableClick]="true" readonly
              [min]="pickerConfig.start"
              [max]="pickerConfig.end"
              [format]="pickerConfig.format"
              value="{{pickerConfig.defaultTime}}">
              <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
              <ngx-material-timepicker #toggleTimepicker
              [minutesGap]="pickerConfig.minutesGap"
              [defaultTime]="pickerConfig.defaultTime"
              (timeSet)="setTimeslot($event)"
              ></ngx-material-timepicker>
            </div>
          </div>
        </div>
        <div class="message-container">
          <div *ngIf="nowNotAvailable">
            <h2>Sorry! No vehicles are available now :(</h2>
          </div>
          <div *ngIf="noSlots">
            <br />
            <h2>Sorry! All time slots are closed :( </h2>
          </div>
        </div>
        <div class="footer">
          <div class="btn-container">
            <app-blowhorn-button
            class="yes"
            (click_fired)="close_modal($event)"
            [label]="'close'"
            [type]="'delete'">
            </app-blowhorn-button>
          </div>
          <div class="btn-container">
            <app-blowhorn-button
            class="yes"
            (click_fired)="submit()"
            [label]="'submit'"
            [type]="'save'"
            [disabled]="disableSubmit">
            </app-blowhorn-button>
          </div>
        </div>
    </div>
    <div class="retry-container" *ngIf="error_message">
      <div class="message">Failed to fetch order details</div>
      <div class="btn-container">
        <app-blowhorn-button
        class="yes"
        (click_fired)="fetch_timeslots()"
        [label]="'retry'"
        [type]="'delete'"
        [flat_btn]="true">
        </app-blowhorn-button>
      </div>
    </div>
    <div class="reschedule-message-container" *ngIf="!show_loader && (reschedule_error || reschedule_message)">
      <div class="message" [ngClass]="{'error': reschedule_error, 'success': reschedule_message}">
        {{reschedule_error || reschedule_message}}
      </div>
      <div class="btn-container">
        <app-blowhorn-button
        class="yes"
        (click_fired)="closeMessage($event)"
        [label]="'ok'"
        [type]="'save'"
        [flat_btn]="true">
        </app-blowhorn-button>
      </div>
    </div>
  </div>
</div>
