.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    .label {
        margin-right: 10px;
        
        font-size: 14px;
        font-weight: 500;
    }
    .bar {
        position: relative;
        width: 47px;
        height: 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s;
        display: flex;
        align-items: center;
        .yes {
            display: flex;
            align-items: center;
            color: white;
            margin-right: auto;
            padding: 5px;
            
            font-size: 13px;
            font-weight: 500;
        }
        .no {
            display: flex;
            align-items: center;
            color: white;
            margin-left: auto;
            padding: 5px;
            
            font-size: 13px;
            font-weight: 500;
        }
        .switch {
            width: 20px;
            height: 20px;
            position: absolute;
            border-radius: 10px;
            transition: all .3s;
        }
        .active {            
            transform: translateX(27px);
            background-color: rgb(10, 231, 202);
            border: 3px solid rgb(26, 118, 148);
        }
        .inactive {
            transform: translateX(0px);
            background-color: white;
            border: 3px solid rgb(48, 48, 48);
        }
    }
    .active {
        background-color: rgb(26, 118, 148);
    }
    .inactive {
        background-color: rgb(48, 48, 48);
    }
}
.between {
    justify-content: space-between;
}