
<div class="wrapper" [ngClass]="{'between': justify === 'between'}">
  <div class="label">{{label}}</div>
  <div class="bar" [ngClass]="active ? 'active' : 'inactive'" (click)="active_change()">
    <div *ngIf="active" class="yes">Yes</div>
    <div *ngIf="!active" class="no">No</div>
    <div class="switch" [ngClass]="active ? 'active' : 'inactive'"></div>    
  </div>
</div>