<div class="wrapper">
  <div class="flex-column">
    <div class="column analytics">
      <div class="card">
        <div class="card-header"> Shipment Delivery
        </div>
        <div class="card-body">
          <p class="data-value">{{shipment_delivery_percent.shipment_delivery}}%</p>
        </div>
      </div>
    </div>

    <div class="column analytics">
      <app-blowhorn-title-content class="home-lost" [title]="lost.home.title" [content]=codorder_report.total_orders>
      </app-blowhorn-title-content>
    </div>

    <div class="column analytics">
      <div class="card">
        <div class="card-header"> Amount Of Cash Collected
        </div>
        <div class="card-body">
          <p class="data-value">{{ _blowhorn_service.currency|currencySymbol }}{{codorder_report.cash_collected}}</p>
        </div>
      </div>
    </div>
  </div>
</div>