.wrapper{
    width:100%;
    margin-top:15px;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.flex-column{
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: -67px;
 
}

h5{
    font-size: 14px;
    
}
.analytics{
    width:402px;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 18px;
    padding: 7px;
    text-align: center;
    background-color: white;
    border-radius: 12.2px 12px 12px 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);


    // box-shadow: 0 0 13px 0 rgba(119, 119, 115, 0.45);
  }

  .card{
    border:none;
}

.card-header{
    border:none;
    border-radius: 8px 8px 0px 0px;
    background-color: white;
    text-align: left;
    font-weight:bold;
    font-size:20px;
}
.data-value{
    text-align: left;
    font-size: 45px;
    margin-right: 0px;
    font-weight: 600;
    color:#4DA1FF;
}