<div class="stops" [ngClass]="{overflowScroll: overflowScroll}">

  <div class="before-pickup d-flex flex-column align-items-start"
  *ngIf="trip.status==='ongoing' && trip.pickup.status !== 'done'">
    <span class="before-pickup-text">On the way to pickup point</span>
    <app-distance-done [finished]="trip.pickup_distance_done" [small]="true"
                       [estimation]="trip.pickup_distance" [color]="'#FF6E80'"></app-distance-done>
    <div class="line" [ngClass]="{'solid': trip.pickup.status === 'done'}" [ngStyle]="{'height': (height ? height : 35) + 'px'}"></div>
  </div>
  <div class="before-pickup d-flex flex-column align-items-start" *ngIf="trip.status==='ongoing' && trip.pickup.status === 'done'">
  <span class="before-pickup-text" *ngIf="trip.pickup && trip.pickup.time">Reached pick up point at {{trip.pickup.time}}</span>
  <span class="before-pickup-text-small" *ngIf="trip.pickup && trip.pickup.time">{{ trip.pickup_distance | number : '1.1-1' }} km in {{trip.pickup_time_duration}} </span>
  <div class="line"
    [ngClass]="{'solid': trip.pickup.status === 'done'}"
    [ngStyle]="{'height': (height ? height : 35) + 'px'}"
    *ngIf="trip.pickup && trip.pickup.time"></div>
  </div>

  <div class="stop" *ngIf="trip.pickup">
    <app-detail-stop [stop]="trip.pickup" [firstStop]="true" [name]="'pickup'" [index]="1"></app-detail-stop>
  </div>

  <div class="stop" *ngFor="let stop of trip.stops; let i = index;">
    <app-detail-stop [stop]="stop" [name]="'stop'" [index]="i + 1" [isStop]="true"></app-detail-stop>
  </div>

  <div class="stop">
    <app-detail-stop [stop]="trip.dropoff" [lastStop]="true" [index]="trip.stops.length + 1" [name]="'dropoff'"></app-detail-stop>
  </div>

</div>
