.stops {
  padding: 7px 0;
  &::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.42);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar
  {
    width: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #828282;
  }
}

.overflowScroll {
  overflow-y: scroll;
  height: calc(100vh - 210px);
}

.before-pickup {
  background: white;
  padding: 16px 0 24px 27px;
  position: relative;

  .before-pickup-text {
    color: #4E5454;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }

  .before-pickup-text-small {
    color: #4E5454;
    font-size: 14px;
    line-height: 21px
  }

  .line {
    width: 1px;
    border: 1px dashed #535353;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 28px;

    .solid {
      border: 1px solid #535353;
    };
  }
}

@media screen and (max-width: 767px) {
  .overflowScroll {
    height: calc(100vh - 254px);
  }
}
