<div class="wrapper">
    <div class="search">
        <div (mouseover)="activate_search_clear()"
            (mouseout)="deactivate_search_clear()"
            (click)="reset_search()">
            <span [ngClass]="{'show-cross': search_value, 'hide-cross': !search_value, 'activate-cross': search_activated, 'deactivate-cross': !search_activated}"
            class="fa fa-times"></span>
        </div>
        <input class="search-global"
            #search_input
            type="text"
            placeholder="Invoice Number"
            [(ngModel)]="search_value">
    </div>
    <div class="date-range">
    <div (mouseover)="activate_date_clear()"
        (mouseout)="deactivate_date_clear()"
        (click)="reset_date()">
        <span [ngClass]="{
            'show-cross': date_range,
            'hide-cross': !date_range,
            'activate-cross': date_activated,
            'deactivate-cross': !date_activated
        }"
        class="fa fa-times">
        </span>
    </div>
    <input class="date-range-field"
        #drp="bsDatepicker"
        placeholder="Date"
        bsDatepicker
        [(ngModel)]="date_range"
        [bsConfig]="bsConfig"
        (ngModelChange)="fire_filter()"
        readoly>
        <span class="fa fa-calendar" (click)="drp.toggle();"></span>
    </div>
    <div class="state">
        <app-dropdown-select
        [styles]="state_styles"
        [selected_name]="selected_state_name ? selected_state_name : 'States'"
        [selected_id]="selected_state_id ? selected_state_id : null"
        (value_changed)="state_changed($event)"
        [items]="states"
        [disabled]="state_disabled || false">
        </app-dropdown-select>
    </div>
</div>
