.wrapper {
    min-height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    .search {
        position: relative;
        margin-left: 10px;
        flex-basis: 100px;
        border: 1px solid #F0F5F7;
        background-color: #F7FBFC;
        height: 30px;
        display: grid;
        grid-template-columns: 2fr 15fr;
        grid-column-gap: 0px;
        align-items: center;
        justify-items: center;
        padding-left: 2px;
        padding-right: 2px;
        margin-right: 8px;
        .search-global {
            outline: none;
            border: none;
            height: 18px;
            color: #3f3636;
            background-color: #F7FBFC;

            font-size: 13px;
            line-height: 18px;
            padding-left: 16px;
        }
        span {
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translateY(-50%);
            color: #BBC2C4;
            cursor: pointer;
        }
        .hide-cross {
            display: none;
        }
        .show-cross {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            color: lightgray;
        }
        .activate-cross {
            color: grey;
        }
        .deactivate-cross {
            color: lightgray;
        }
    }
    .date-range {
        flex-basis: 200px;
        border: 1px solid #F0F5F7;
        background-color: #F7FBFC;
        height: 30px;
        display: grid;
        grid-template-columns: 1fr 7fr 1fr;
        grid-column-gap: 0px;
        align-items: center;
        justify-items: center;
        padding-right: 5px;
        padding-left: 5px;
        margin-right: 8px;
        .date-range-field {
            outline: none;
            min-width: 150px;
            margin-left: 5px;
            border: none;
            color: #3f3636;
            background-color: #F7FBFC;
            font-size: 13px;
            line-height: 18px;
        }
        span {
            color: #BBC2C4;
            cursor: pointer;
        }
        .hide-cross {
            display: none;
        }
        .show-cross {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            color: lightgray;
        }
        .activate-cross {
            color: grey;
        }
        .deactivate-cross {
            color: lightgray;
        }
    }
    .state {
        margin-left: 10px;
    }
    .filter-submit {
        position: relative;
        margin-left: 2%;
    }
    .filter-message {
        font-size: 12px;
        color: #FC3446;
        padding: 5px 15px;
    }
}
