<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
			body {
				margin-bottom: 10px;
			}
			div.container {
				width: 29cm;
				margin-left: auto;
				margin-right: auto;
				margin-top:-30px;
				padding-bottom: 2px;

			}

			header, footer {
				font-family:"Arial Rounded MT Bold";
			}
			td {
				padding: 5px;
			}

		</style>
	</head>
	<body>
		<div class="container">
			<br>
			<header style="text-align: justify;">
				<div class="container">
      <br>
         <div style="text-align: justify;">
           <p style="position:relative;top: 22px; font-size: 22px; padding-left: 43%"><b>Tax Invoice</b> </p>
           <table style="width: 100%;">
              <tr class="tr_with_right_border">
                <td class="table_td", style="font-size: 18px;margin-left:-266px;" > <b>Sold By: {{data.company.name}},</b></td>
                <td class="table_td " style="text-align: right;" colspan="1"><p class="dotted"><b>Invoice Number</b>  # {{data.invoice_number|upper}}</td></p>
                <td class="table_td  " style="position:absolute;top: 140px; font-size: 12px;margin-left:-266px;text-align: right;"> <b>Invoice Date:</b> {{data.invoice_date}}</td>
             </tr>
           </table>
           <table style="width: 100%; margin-top: 10px">
             	<tr>
                <td class="table_td"  style="position:absolute;top: 104px; font-size: 14px;"> <b>Ship-from Address:</b></td>
                <td class="table_td"  style="position:absolute; top: 104px; font-size: 12px;margin-left: 160px;" colspan="2">{{data.company.address}}</td>
                <td class="table_td"  style="position:absolute; top: 125px; font-size: 14px;" colspan="2"><b>GSTIN : </b> {{data.company.gstin}}</td>
              </tr>
           </table>
         </div>
      </br>
		</div>
			</header>
		</div>
		<hr>
	</body>
</html>
