{% load mathfilters %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<style>
		div.b {
  position: absolute;
  right: 20%;
  width: 300px;
  height: 80px;
  border: 3px solid blue;

}

.bel {
    position:absolute;
    margin-left: 85%;
    margin-right: 38%;
    bottom:-50pc;
}
		hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 1.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
			body {
				margin-bottom: 10px;
			}
			div.container {
				width: 29cm;
				margin-left: auto;
				margin-right: auto;
				margin-top:-30px;
				padding-bottom: 2px;

			}

			p.dotted {
			    border-style: dotted;
			    margin-left: 45%;
          margin-right: 5%;
          text-align: center;
          border-color: #cec8c8;
          font-family:"Arial Rounded MT Bold";
      }

			header, footer {
				font-family:"Arial Rounded MT Bold";
			}
			td {
				padding: 5px;
			}
			* {
        margin-left: 0;

      }

		</style>
	</head>
	<body>
<!--		<div class="container">-->
<!--      <br>-->
<!--         <div style="text-align: justify;">-->
<!--           <p style="position:relative;top: 22px; font-size: 22px; padding-left: 43%"><b>Tax Invoice</b> </p>-->
<!--           <table style="width: 100%;">-->
<!--              <tr class="tr_with_right_border">-->
<!--                <td class="table_td", style="font-size: 18px;margin-left:-266px;" > <b>Sold By: {{data.company.name}},</b></td>-->
<!--                <td class="table_td " style="text-align: right;" colspan="1"><p class="dotted"><b>Invoice Number</b>  # {{data.invoice_number|upper}}</td></p>-->
<!--                <td class="table_td  " style="position:absolute;top: 140px; font-size: 12px;margin-left:-266px;text-align: right;"> <b>Invoice Date:</b> {{data.invoice_date}}</td>-->
<!--             </tr>-->
<!--           </table>-->
<!--           <table style="width: 100%; margin-top: 10px">-->
<!--             	<tr>-->
<!--                <td class="table_td"  style="position:absolute;top: 104px; font-size: 14px;"> <b>Ship-from Address:</b></td>-->
<!--                <td class="table_td"  style="position:absolute; top: 104px; font-size: 12px;margin-left: 160px;" colspan="2">{{data.company.address}}</td>-->
<!--                <td class="table_td"  style="position:absolute; top: 125px; font-size: 14px;" colspan="2"><b>GSTIN : </b> {{data.company.gstin}}</td>-->
<!--              </tr>-->
<!--           </table>-->
<!--           <hr style="width:100%;text-align:left;margin-left:0">-->
<!--         </div>-->
<!--      </br>-->
<!--		</div>-->
    <div class="container">
      <table style="width: 100%; margin-top: 20px">
				<tr>
					<td class="table_td border_right_bottom" width="30%"><b>Order ID:</b> {{data.order_number}}<br></td>
          <td class="table_td border_right_bottom" width="20%"; style="margin-left: -740px"><b>Bill To </b><br></td>
          <td class="table_td border_right_bottom" width="30%"; style="margin-left: -740px";><b>Ship To </b><br></td>
          <td class="table_td border_right_bottom" width="10%"; style="margin-left: -740px";><b> </b><br></td>
				</tr>
			</table>
			<table style="width: 100%; margin-top: 10px">
				<tr>
					<td class="table_td border_right_bottom" width="30%"> <b>Order Date:</b> {{data.date_placed}}</td>
          <td class="table_td border_right_bottom" width="20%" rowspan="2" style="text-align:left;vertical-align:top;"> {{data.billing_address}}</td>
          <td class="table_td border_right_bottom" width="20%" rowspan="2" style="text-align:left;vertical-align:top;"> {{data.billing_address}}</td>
          <td class="table_td border_right_bottom" width="20%">* Keep this invoice and manufacturer box for warranty purposes</td>
        </tr>
			</table>
      <table style="width: 100%; margin-top: 10px">
				<tr>
					<td class="table_td border_left_bottom"> Total items: {{data.total_item}}</td>
          </tr>
			</table>
      <hr style="width:100%;text-align:left;margin-left:0">
      <table style="width: 100%; margin-top: 10px">
				<tr>
          <td class="table_td border_right_bottom" width="10%"> <b>S.No</b></td>
					<td class="table_td border_right_bottom" width="30%"> <b>Product </b></td>
					<td class="table_td border_right_bottom" width="15%"> <b>Qty </b></td>
					<td class="table_td border_right_bottom" width="20%"> <b>Unit Price </b></td>
					<td class="table_td border_right_bottom" width="20%"> <b>Tax</b></td>
					<td class="table_td border_right_bottom" width="20%"> <b>Total (₹)</b></td>
         </tr>
        {% for line in data.line %}
				<tr class="tr_with_right_border">
          <td class="table_td border_right_bottom" width="10%" style="text-align:left"> {{forloop.counter}}</td>
					<td class="table_td border_right_bottom" width="30%" style="text-align:left"> {{line.product}}</td>
					<td class="table_td border_right_bottom" width="15%" style="text-align:left"> {{line.qty}}</td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> {{line.amt}}</td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> 0 </td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> {{line.total}}</td>
				</tr>

				{% endfor %}
        <tr class="tr_with_right_border">

					<td class="table_td border_right_bottom" width="10%" style="text-align:left"> {{data.total_item  | add:1}} </td>
					<td class="table_td border_right_bottom" width="30%" style="text-align:left"> Delivery Charge</td>
					<td class="table_td border_right_bottom" width="15%" style="text-align:left"> 1 </td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> {{data.delivery_charge}}</td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> 0 </td>
					<td class="table_td border_right_bottom" width="20%" style="text-align:left"> {{data.delivery_charge}}</td>
				</tr>

      </table>
      <hr style="width:90%;text-align:left;margin-left:11%;margin-right:15%;">
      <table style="width: 100%; margin-top: 10px">
      <td class="table_td border_right_bottom"  width="35%" style="text-align:right;margin-left: 740px"> <b>Total</b></td>
      <td class="table_td border_right_bottom"  width="7%" style="text-align:right"> <b>{{data.total_qty}}</b></td>
      <td class="table_td border_right_bottom"  width="34%" style="text-align:right"> <b>0</b></td>
      <td class="table_td border_right_bottom"  style="text-align:right"> <b>{{data.total_payable}}</b></td>
			</table>
      <hr style="width:100%;text-align:left;margin-left:0">
    </div>

  </table><br><br><br>
     <table style="width: 100%; margin-top: 10px">
       <div class="b">
         <br><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <b> Grand Total : {{data.total_payable}}</b>
			</div>
     </table>
    <br><br>

  <div class="bel">
      <br><img src={{ data.logo }} alt="Blowhorn" style="float:left;width:170px;height:150px;margin-left: -30px;"><br><br>
      <p style="font-size: 12px; text-align: center">Thank you! <br>
        for shopping with us </p>
  </div>





	</body>
</html>

