<div class="d-flex justify-content-between permission-header">
    <div>Role</div>
    <div class="d-flex">
        <app-blowhorn-button
        style="margin-right: 8px;"
        [label]="dismissButton.label"
        [disabled]="dismissButton.disabled"
        (click_fired)="dismiss($event)">
        </app-blowhorn-button>
        <span class="clear"></span>
        <app-blowhorn-button
        [label]="submitButton.label"
        [type]="submitButton.type"
        [disabled]="submitButton.disabled"
        (click_fired)="saveForm($event)">
        </app-blowhorn-button>
    </div>
</div>
<div class="member-modal-body">
    <div class="row">
        <div class="col-lg-4">
            <div class="group--name">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="formData.name">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="permissions-container">
        <app-permissions
        *ngIf="permissions && permissions.length"
        [master_permissions]="permissions"
        [modules]="modules"
        [systems]="systems"
        [permission_levels]="permission_levels"
        (permissions_selected)="selectedPermissions($event)"
        ></app-permissions>
    </div>
</div>
