.permission-header {
  margin-top: 8px;
  padding: 12px 15px;
  color: #0088a8;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 76px;
  left: 0;
  background: #fff;
}
.member-modal-body {
  max-height: 80vh;
  overflow-y: auto;
  padding: 15px 0;
  background-color: #f9f9f9;
  .permissions-container {
    padding: 0 15px;
  }
  .permission-level-value {
    width: 200px;
    margin: 15px;
  }
  .text--or {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  .group--name {
    padding: 0 15px;
    mat-form-field {
      width: 100%;
    }
  }
}
