<div class="members-panel">
  <app-group-list-view-filter (filter_changed)="filter_changed($event)">
  </app-group-list-view-filter>
  <app-group-list-view-grid-title></app-group-list-view-grid-title>
  <div class="members-list">
    <ng-container *ngFor="let group of groups">
      <app-group-list-view-grid-row
      [group]="group"
      (edit_group_clicked)="showEditGroup(group)"
      >
      </app-group-list-view-grid-row>
    </ng-container>
    <div *ngIf="groups.length <= 0" class="error">
      <span>No groups found.</span>
    </div>
  </div>
</div>
