.members-panel {
    padding: 10px 20px;
    background: rgb(226, 234, 236);
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1px;
    position: relative;
    .members-list {
        overflow: auto;
        background-color: #FFFFFF;
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }
    }
}
