<div *ngIf="route" class="wrapper">
  <div class="route">
    <div class="id">Route {{route.id}}</div>
    <div class="name">{{route.name}}</div>
    <div class="stops">
        <span *ngIf="route.distance">{{_route_service.get_meter_to_km(route.distance)}} KM </span>via {{route.stops.length -2}} Stops
    </div>
  </div>
  <div class="contact">
    <div class="header">CONTACT DETAILS</div>
    <div class="content">
      <div class="name-number">
        <div *ngIf="route.contact.name" class="name">{{route.contact.name}}</div>
        <div *ngIf="route.contact.mobile" class="number">{{route.contact.mobile}}</div>
        <div *ngIf="!route.contact.name && !route.contact.mobile" class="add-contact"
          (click)="open_contact_form()">Add contact</div>
        <div *ngIf="route.contact.name || route.contact.mobile" class="add-contact"
          (click)="open_contact_form()">Edit contact</div>
      </div>
      <div class="image">
        <img src="{{ constants.images.contact }}" alt="contact-image">
      </div>
    </div>
  </div>
</div>
<div *ngIf="show_save_contact" class="modal-window">
  <app-save-contact 
    #contact_form
    [contact_name]="route.contact.name"
    [contact_number]="route.contact.mobile"
    [heading]="'Edit contact for ' + route.name"
    (form_close)="close_contact_form()"
    (form_save)="update_route_contact($event)">
  </app-save-contact>
</div>