.wrapper {
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-width: 200px;
    min-width: 220px;
    .route {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .id {
            text-transform: uppercase;
            width: 100%;
            color: #C9D2D6;	
            	
            font-size: 12px;	
            font-weight: 900;	
            letter-spacing: 1px;	
            line-height: 18px;
        }
        .name {
            width: 100%;
            color: #303232;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
        }
        .stops {
            width: 100%;
            color: #0180A8;	
            	
            font-size: 13px;	
            font-weight: 500;	
            letter-spacing: 1px;	
            line-height: 19px;
        }
    }
    .contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .header {
            width: 100%;
            color: #C9D2D6;	
            	
            font-size: 12px;	
            font-weight: 900;	
            letter-spacing: 1px;	
            line-height: 18px;
        }
        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .name-number {
                flex: 8;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                .name {
                    width: 100%;
                    color: #4E5454;	
                    	
                    font-size: 14px;	
                    font-weight: 500;	
                    line-height: 21px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .number {
                    width: 100%;
                    color: #757E7F;	
                    	
                    font-size: 14px;	
                    line-height: 21px;
                }
                .add-contact {
                    padding: 1px 0px;
                    text-decoration: #1080A8 underline;
                    color: #0180A8;	
                    	
                    font-size: 14px;	
                    font-weight: 500;	
                    line-height: 21px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .image {
                flex: 2;
                height: 25px;
                width: 25px;
            }
        }   
    }
}