$color: var(--primary-color);
.wrapper {
    background-color: rgba(0, 0, 0, .7);
    .loader {
        position: absolute;
        border: 4px solid transparent;
        border-top-color: $color;
        border-bottom-color: $color;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border-radius: 50%;
        animation: rotate 1s ease-in-out 0s infinite; 
        transform-origin: left top;       
    }

    .loader-inner {
        position: absolute;
        border: 4px solid transparent;
        border-top-color: $color;
        border-bottom-color: $color;
        width: 35px;
        height: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border-radius: 50%;
        animation: rotate-opp 1s ease-in-out 0s infinite;
        transform-origin: left top;
    }
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.3) rotate(180deg) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) rotate(360deg) translate(-50%, -50%);
    }
}

@keyframes rotate-opp {
    0% {
        transform: scale(1) rotate(90deg) translate(-50%, -50%);
    }
    50% {
        transform: scale(1.3) rotate(-90deg) translate(-50%, -50%);
    }
    100% {
        transform: scale(1) rotate(-270deg) translate(-50%, -50%);
    }
}
