<div class="wrapper">
    <div class="col trip">
        <div class="main-row">
            {{trip.trip_number}}<br/>
            <span class="link" (click)="open_details()"
            *ngIf="_blowhorn_service.hasPermission('enterprise_trips', 'can_view_orderlines')"
            title="Click to view more details">
            Order Lines</span>
        </div>
    </div>
    <div class="col driver">
        <div class="main-row driver-name">{{trip.driver.name | titlecase}}</div>
        <div *ngIf="false" class="sub-row driver-contact">{{trip.driver.phone}}</div>
    </div>
    <div class="col vehicle">
        <div class="main-row no">{{trip.vehicle.name}}</div>
        <div class="sub-row model">{{trip.vehicle.type}}</div>
    </div>
    <div class="col scheduled">
        <div class="main-row time">{{trip.time_scheduled | date: 'shortTime'}}</div>
        <div class="sub-row date">{{trip.time_scheduled | date: 'EEE, dd MMM y'}}</div>
    </div>
    <div class="col start">
        <div *ngIf="current_status !== 'upcoming'">
            <div class="main-row time">{{trip.time_started_actual | date: 'shortTime'}}</div>
            <div class="sub-row date">{{trip.time_started_actual | date: 'EEE, dd MMM y'}}</div>
        </div>
        <div>--</div>
    </div>
    <div class="col end">
        <div *ngIf="current_status === 'completed'">
            <div class="main-row time">{{trip.time_ended_actual | date: 'shortTime'}}</div>
            <div class="sub-row date">{{trip.time_ended_actual | date: 'EEE, dd MMM y'}}</div>
        </div>
        <div>--</div>
    </div>
    <div *ngIf="false" class="col elapsed">
        <div *ngIf="trip.time_elapsed" class="main-row mins">{{get_seconds_in_hours(trip.time_elapsed)}}</div>
        <div *ngIf="trip.distance_elapsed" class="sub-row kms">{{trip.distance_elapsed | number: '1.1-1'}} kms</div>
    </div>
    <div class="col total">
        <div *ngIf="current_status === 'completed'">
            <div *ngIf="trip.total_time" class="main-row mins">{{get_mins_in_hours(trip.total_time)}}</div>
            <div *ngIf="trip.total_distance" class="sub-row kms">{{trip.total_distance | number: '1.1-1'}} kms</div>
            <div *ngIf="trip.wait_time" class="sub-row mins">{{get_mins_in_hours(trip.wait_time)}} (wait time)</div>
        </div>
        <div>--</div>
    </div>
    <div class="col status">
        <div class="main-row">
            <span [ngStyle]="statusChipColorStyles">
                {{trip.short_status|uppercase|replaceString}}
            </span>
        </div>
        <!-- <div class="sub-row status-info">
            <span class="link" (click)="show_status_history(shipment)">View History</span>
        </div> -->
    </div>
    <div class="col total">
        <div class="main-row stop_count">No. of stops: {{trip.stops_count || '0'}}<br/>
            <span *ngIf="current_status !== 'completed' && this.trip.trip_type !== 'Shipment'"
            class="link"
            title="Click to upload stops"
            (click)="upload_stops()">
            Upload Stops
            </span>
        </div>
    </div>
    <div class="col btn-grp">
        <app-blowhorn-dropdown *ngIf="moreActions.length"
        [headerText]="'More'"
        [options]="moreActions"
        (selectedOption)="moreActionSelected($event)">
        </app-blowhorn-dropdown>
        <div *ngIf="current_status !== 'completed' && trip.city_id" class="assign-route-panel">
            <div *ngIf="_is_assign_route" class="pointer"></div>
            <div *ngIf="_is_assign_route" class="routes">
                <span *ngIf="routes.length" class="fa fa-times close" (click)="close_routes()"></span>
                <div class="searcher" *ngIf="routes.length">
                    <input type="text" placeholder="Search for routes" [(ngModel)]="filter_text">
                    <span class="fa fa-search icon"></span>
                </div>
                <div class="results">
                    <div class="route" (click)="select_route(route)" *ngFor="let route of routes | nameFilter: filter_text">
                        <div class="header">
                            {{route.name}}
                        </div>
                        <div class="details">
                            {{route.pickup}} to {{route.dropoff}}
                            <span class="highlight">via {{route.stop_count}} stops</span>
                        </div>
                    </div>
                    <app-blowhorn-message *ngIf="!routes.length" type="error" [message]="no_route_message" (close_fired)="close_routes()">
                    </app-blowhorn-message>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="show_confirm" class="modal-window">
    <app-blowhorn-confirm
        [heading]="'Confirm route selection'"
        [details]="confirm_message"
        [show_warning]="false"
        (proceed)="proceed($event)">
    </app-blowhorn-confirm>
</div>
<div *ngIf="show.modal"
    #overlay_panel
    class="upload-stops"
    (click)="close($event)"
    (keyup)="close($event)"
    (mouseover)="focus_panel($event)"
    tabindex="0">
    <div class="wrapper" (click)="suppress_close($event)">
        <span class="fa fa-times cross"
            (click)="close($event)"></span>
        <span>{{modal_title}}</span>
        <div class="form-wrapper">
            <div class="upload-container">
                <app-blowhorn-upload
                #file_upload
                [id]="'upload_stops'"
                (upload_file)="upload_file($event)">
                </app-blowhorn-upload>
            </div>
        </div>
        <app-blowhorn-message
        *ngIf="show.message"
        [type]="type"
        [heading]="heading"
        [message]="message_"
        (close_fired)="reset($event)">
        </app-blowhorn-message>
        <app-blowhorn-button
        *ngIf="show.message"
        [label]="'Reset'"
        (click_fired)="reset($event)">
        </app-blowhorn-button>
    </div>
<div *ngIf="message.show" class="modal-window">
    <app-blowhorn-message
    [type]="message.type"
    [heading]="message.heading"
    [message]="message.text"
    [styles]="messageStyles"
    (close_fired)="message.show=false">
    </app-blowhorn-message>
</div>
