.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 140px 150px 140px 150px 150px 150px 135px 130px 150px auto;
    align-items: flex-start;
    justify-items: start;
    background-color: inherit;
    border-bottom: 1px solid rgb(226, 234, 236);
    .col {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 21px;
        &.status {
            text-align: center;
        }
        .main-row {
            color: #303232;
            padding: 0px;
            .link {
                cursor: pointer;
                color: rgb(6, 58, 170);
                text-decoration: underline;
                &:hover {
                    color: #5283ec;
                }
            }
        }
        .sub-row {
            padding: 0px;
            color: #757E7F;
        }
        .assign-route-panel {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0px;
            .pointer {
                z-index: 11;
                position: absolute;
                top: 35px;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border-right: 1px solid white;
                border-top: 1px solid white;
                transform: rotate(-45deg);
            }
            .routes {
                position: absolute;
                right: 0px;
                top: 40px;
                z-index: 10;
                width: 400px;
                max-height: 400px;
                background-color: #fff;
                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
                padding: 10px 10px;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
                .close {
                    font-size: 13px;
                    position: absolute;
                    right: 1px;
                    top: 0px;
                    color: rgb(228, 65, 65);
                    transition: transform 300ms;
                    &:hover {
                        color: rgb(184, 0, 0);
                        transform: scale(1.2);
                    }
                }
                .searcher {
                    margin: 5px 0px;
                    padding: 5px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: stretch;
                    border: 1px solid #F0F5F7;
                    background-color: #F7FBFC;
                    input {
                        flex: 1;
                        background-color: #F7FBFC;
                        padding: 0px 5px;
                        outline: none;
                        border: none;
                        color: rgb(29, 30, 31);

                        font-size: 12px;
                    }
                    .icon {
                        padding: 5px;
                        color: gray;
                        font-size: 16px;
                    }
                }
                .results {
                    flex: 1;
                    overflow-y: auto;
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    .route {
                        width: 100%;
                        background-color: #FBFBFB;
                        padding: 10px;
                        margin: 5px 0px;
                        cursor: pointer;
                        .header {
                            width: 100%;
                            color: #4E5454;

                            font-size: 14px;
                            font-weight: 500;
                            line-height: 21px;
                            margin-bottom: 5px;
                        }
                        .details {
                            width: 100%;
                            color: rgb(182, 188, 189);

                            font-size: 12px;
                            line-height: 18px;
                            .highlight {
                                color: #0180A8;
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-grp {
        display: flex;
        align-items: center;
        justify-content: space-between;
        app-blowhorn-button {
            margin: 3px;
        }
    }
}

.btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    app-blowhorn-button {
        margin: 3px;
    }
}

.upload-stops {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    .wrapper {
        border: 1px solid rgb(255, 255, 255);
        box-shadow: 0px 0px 35px 1px rgba(255, 255, 255, 1);
        position: relative;
        background-color: #fff;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        span {
            margin-bottom: 15px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
        }
        .cross {
            cursor: pointer;
            color: white;
            position: absolute;
            right: -20px;
            top: -20px;
            transition: transform 300ms;
            &:hover {
                color: orangered;
                transform: scale(1.5);
            }
        }
        app-blowhorn-message {
            width: 450px;
            margin: 5px 10px;
        }
        app-blowhorn-button {
            margin: 10px;
        }
    }
}
.form-wrapper {
    display: flex;
    .upload-container {
        margin-top: 20px;
    }
    .submit-container {
        height: 34px;
        margin-top: 25px;
    }
}

