<div class="wrapper">
    <div class="col id-col">
        <div class="main-row">
            <div class="link" title="Click to edit resource" (click)="open_resource_modal()">{{contract.id || '--'}}</div>
        </div>
    </div>
    <div class="col name-col">
        <div class="main-row">
            <div class="link" title="Click to open Contract"
            (click)="open_contract(contract)">
                {{contract.name || '--'}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="main-row">{{contract.description}}</div>
    </div>
    <div class="col">
        <div class="main-row">
            <div class="link" title="Click to open Customer"
            (click)="open_link(contract.customer_url)">
                {{contract.customer?.name || '--'}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="main-row">{{contract.division?.name || '--'}}</div>
    </div>
    <div class="col driver-count">
        <div class="main-row">{{contract.active_drivers || 0}}</div>
    </div>
    <div class="col">
        <div class="main-row">
            <app-blowhorn-button
            [label]="'View'"
            (click_fired)="show_allocation_history(contract)">
            </app-blowhorn-button>
        </div>
    </div>
</div>
