.modal-dialog{
    max-width:100%;
}
.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 100px 320px repeat(auto-fit, minmax(150px, 1fr));
    align-items: flex-start;
    justify-items: start;
    background-color: #fff;
    border-bottom: 1px solid rgb(226, 234, 236);

    &:hover {
        background-color: #dcd9d9;
    }
    .col {
        padding: 10px 20px;
        
        font-size: 13px;
        line-height: 21px;
        max-width: 500px;
        &.name-col {
            width: 300px;
        }
        .main-row {
            color: #303232;
            padding: 0px;
            overflow-wrap: break-word;

            .link {
                cursor: pointer;
                color: rgb(6, 58, 170);
                &:hover {
                    color: #5283ec;
                    text-decoration: underline;
                }
            }
        }
        .sub-row {
            padding: 0px;
            color: #757E7F;
        }
    }
}
