{% extends "admin/change_list.html" %}
{% load static humanize %}

{% block content_title %}
		<h1>Collections Summary</h1>
{% endblock %}

{% block extrahead %}
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="{% static 'admin/css/summary.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link href="{% static 'website/css/theme.materialize.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'website/css/dragtable.mod.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'website/css/filter.formatter.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'website/css/highlights.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'admin/css/download_button.css' %}" rel="stylesheet" type="text/css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="{% static 'website/js/lib/jquery.tablesorter.min.js' %}"></script>
		<script src="{% static 'website/js/lib/jquery.tablesorter.widgets.min.js' %}"></script>
		<script src="{% static 'website/js/lib/widget-math.js' %}"></script>
		<script src="{% static 'website/js/lib/widget-output.min.js' %}"></script>
		<script src="{% static 'website/js/lib/widget-cssStickyHeaders.min.js' %}"></script>
    <script src="{% static 'admin/js/customer/export_html_table_as_csv.js' %}"></script>
{% endblock %}

{% block result_list %}

<div class="text-right">
  <button class="button">Download</button>
</div>
<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 summary-container">
					{% include 'admin/customer/collections/partials/invoice_details.html' %}
		  </div>
		</div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}

