.bottom-margin {
    margin-bottom: 45px !important;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0px;
    height: 35px;
    .disable-dragger {
        width: 25px;
        pointer-events: none;
    }
    .dragger {
        width: 25px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 25px;
            left: 0%;
            top: 50%;
            transform: translateY(-50%);
            background: url(/static/assets/images/cssSprites.png) -682px -844px;            
        }
        &:hover {
            cursor: pointer;
            &::before {
                background: url(/static/assets/images/cssSprites.png) -636px -844px;
            }
        }
    }
    .input-wrapper {
        display: flex;
        flex: 1;
        .image{
            flex: 1;
            background-color: #F7FBFC;
            display: flex;
            align-items: center;
            justify-content: center;
            
            font-size: 12px;
            font-weight: 500;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .input-panel {
            flex: 8;
            .search-box {
                height: 35px;
                width: 100%;
                border: none;
                outline: none;
                background-color: #F7FBFC;
                margin-bottom: 5px;
                padding-right: 5px;
                padding-left: 5px;
            }    
            .invalid {
                border: 1px solid rgb(253, 123, 76);
            }
            .error {
                margin-bottom: 5px;
            }
        }
        .favourite {    
            flex: 1;
            background-color: #DFE6E8;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;        
            &:hover {
                span {
                    opacity: 1;
                }
            }
            span {
                font-size: 20px;   
                opacity: .5;         
            }
            &::after {
                content: none;
            }
        } 
        .saved-loc {
            width: 100%;
            border-radius: 0px;
            padding: 0px;
            margin: 0px;
            .current-loc {
                font: heebo;
                color: #898390;
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 10px;
                background-color: #fff;
                .bg-MyLocation {
                    margin-right: 10px;
                }
                &:hover {   
                    color: #3e3e3e;                 
                    cursor: pointer;
                    background-color: #f5f5f5;
                }
            }
            .header {
                color: #aaa4b1;
                font-size: 10px;
                padding: 10px;
                border-top: 1px solid #f0eef2;
            }
            .no-saved-loc {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                height: 30px;
                color: #aaa4b1;
                font-size: 13px;
                padding: 10px;
                color: orangered;
                border-top: 1px solid #f0eef2;
            }
            .saved-locations {
                max-height: 50vh;
                overflow-y: auto;
                .location {
                    border-top: 1px solid #f0eef2;
                    background-color: #fff;
                    font-size: 16px;
                    padding: 10px;
                    &:hover {
                        background-color: #f5f5f5;
                        cursor: pointer;
                    }
                    .name {
                        color: #1d2836;
                        font-weight: normal !important;
                    }
                    .address {
                        color: #58535e;
                        small {
                            white-space: normal;
                        }
                    }
                }
            }
        }
    }
    .delete {
        width: 25px;
        display: flex;
        align-items: center;
        justify-content: center;        
        font-size: 20px;
        font-weight: 300;
        div {
            width: 50%;
            height: 50%;
            opacity: .8;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
    }   
}
