<div class="wrapper"
  [ngClass]="{'bottom-margin': search_model.touched && !stop.address.full_address}">
    <div *ngIf="draggable" [ngClass]="{'disable-dragger': !enable_swap || disabled, 'dragger': enable_swap && !disabled}">
    </div>
    <div dropdown
      #dropdown="bs-dropdown"
      class="dropdown input-wrapper">
      <div class="image" (drag)="false">
        <span [ngClass]="{
          'bg-BlueMarker': stop_type === 'pickup',
          'bg-PurpleMarker': stop_type === 'dropoff',
          'bg-Stop': stop_type === 'stop'}">
            <ng-container *ngIf="sequence">{{ sequence }}</ng-container>
        </span>
      </div>
      <div class="input-panel">
        <input #search
          #search_model="ngModel"
          type="text"
          class="search-box"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="off"
          [ngClass]="{invalid : search_model.touched && !stop.address.full_address}"
          (drag)="false"
          [placeholder]="placeholder || 'Enter location'"
          [ngModel]="stop.address.full_address"
          (change)="check_value($event)"
          (click)="pan_to()"
          (focus)="inputFocused()"
          (blur)="reset_search_text()"
          required
          pattern="[\d\D\w\W\s\S]+"
          [disabled]="disabled">
        <div *ngIf="search_model.touched && !stop.address.full_address" class="form-input-error error">Mandatory field</div>
      </div>
      <div *ngIf="!disabled && (favourites || show_current_loc)" dropdownToggle class="favourite dropdown-toggle" (drag)="false">
        <span class="fa fa-star-o"></span>
      </div>
      <div *dropdownMenu class="dropdown-menu saved-loc">
        <div *ngIf="show_current_loc && !disabled"
          class="current-loc dropdown-item"
          (click)="set_current_loc()">
          <div class="bg-MyLocation"></div>
          <div>Use my current location</div>
        </div>
        <div *ngIf="has_saved_locations && !disabled">
          <div class="header">Saved Locations</div>
          <div class="saved-locations">
            <ng-container *ngFor="let location of saved_locations">
              <div *ngIf="location.name || location.address"
                class="location dropdown-item"
                (click)="set_stop_loc(location)">
                <div *ngIf="location.name" class="name">{{location.name | titlecase}}</div>
                <div *ngIf="location.address" class="address"><small>{{location.address.full_address}}</small></div>
              </div>
            </ng-container>
          </div>
        </div>
        <div *ngIf="favourites && !has_saved_locations && !disabled">
          <div class="no-saved-loc">No saved locations</div>
        </div>
      </div>
    </div>
    <div *ngIf="!disabled && enable_delete" class="delete" (drag)="false">
      <div>
        <span class="fa fa-times cross"
        (click)="fire_delete()"></span>
      </div>
    </div>
    <div class="delete" *ngIf="(show_delete_placeholder && !enable_delete) || (disabled && enable_delete)">
    </div>
</div>
