.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    .my-fleet-nav-section {
        -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
        -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
        box-shadow: 0 1px 8px 0 #C9D2D6;
        z-index: 50;
        position: sticky;
        left: 0px;
        top: 0px;
        background-color: #fff;
    }
}
.modal-window {
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    opacity: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}