.wrapper {
    display: grid;
    height: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)) 120px;
    align-items: center;
    background: white;
    div {
        padding-left: 20px;
        padding-right: 20px;
        color: #8B8D8E;
        
        font-size: 14px;
        line-height: 21px;
    }
}
