.blowhorn-address {
    width: 80%;
    .mailing-address{
        margin-top: 5px;
        color: #141515;
        font-size: 13px;	
        line-height: 19px;
        .legal-name {
            font-size: 14px;
            font-weight: 500;
            color: #141515;
        }
    }
    .website{
        margin-top: 7px;
        a {
            margin-top: 0px;
            text-decoration: none;
            color: #4E5454;
            font-size: 13px;	
            line-height: 19px;
            .website-image {
                width: 20px;
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
            }
        }
    }
    .contact-phone {        
        a {
            text-decoration: none;
            margin-top: 7px;
            color: #4E5454;	
            	
            font-size: 12px;	
            line-height: 18px;
            .contact-phone-image {
                margin-left: -4px;
            }
        }
    }
    .contact-email {
        a {
            text-decoration: none;
            margin-top: 7px;
            color: #4E5454;	
            	
            font-size: 12px;	
            line-height: 18px;
            .contact-email-image {
                margin-left: -4px;
            }
        }
    }
}