<div class="blowhorn-address">
  <div class="logo-container">
    <img class="logo" src="{{blowhorn_service.logo_url}}" alt="logo">
  </div>
  <div class="mailing-address">
    <div *ngIf="legal_name" class="legal-name">{{ legal_name }}</div>
    <span>{{ address }}</span>
  </div>
  <div class="website">
    <a href="{{blowhorn_service.homepage_url}}" target="_blank">
      <img class="website-image" src="{{ constants.images.home }}" alt="website"> {{blowhorn_service.homepage_url}}
    </a>
  </div>
  <div class="contact-phone">
      <a href="tel:{{phone_number}}">
        <img class="contact-phone-image" src="{{ constants.images.call_us }}" alt="call-us"> {{ phone_number }}
      </a>
  </div>
  <div class="contact-email">
    <a href="mailto:{{support_email}}">
      <img class="contact-email-image" src="{{ constants.images.email }}" alt="email"> {{support_email}}
    </a>
  </div>
</div>
