<div *ngIf="total_order_count == 0" class="error">
  <span>{{error_msg}}</span>
</div>

<table>
  <tr class="cash" *ngIf="cod_sum > 0">
    <div class="calc-val">Cash Amount: {{ blowhorn_service.currency|currencySymbol}}{{cod_sum}} </div>
  </tr>
  <tr>
    <td class="chart-container" [ngClass]="{'hover': showInfo }">
      <div class="outer">
        <canvas id="barChart1" width="600" height="400"></canvas>
        <canvas id="secondContainer" width="100" height="400"></canvas>
        <p class="percent" *ngIf="cod_per > 0" >{{cod_per}}%</p>
      </div>
    </td>
  </tr>
  <tr>
    <div class="action-button" *ngIf="total_order_count > 0">
        <button class="download-btn" (click)="download_charts($event)" id="download-chart"
        title="Download Chart">
            <i class="fa fa-bar-chart"></i>
        </button>
        <button class="download-btn" (mouseenter)="showInfo=true" 
                    (mouseleave)="showInfo=false" *ngIf="online_payment_modes?.length > 0">
            <i class="fa fa-info"></i>
        </button>
  </div>
  </tr>
</table>