<div class="header-details">
    <div class="content-panel">
        <div class="content-holder">
            <div class="content-title-wrapper">
                <div class="content-title date">Date</div>
                <div class="content-title total">Total Shipments</div>
		<div class="content-title vehicle">Vehicle</div>
                <div class="content-title driver">Driver</div>           
            </div>
            <div class="content-wrapper">
                <div class="content date">{{ date_time | date: 'd MMM y' }} at {{ date_time | date: 'shortTime' }}</div>
                <div class="content total">{{ count }}</div>
                <div class="content vehicle">{{ vehicle_number }}</div>
                <div class="content driver">{{ driver_name }}</div>
            </div>
        </div>
    </div>
    <div class="print">
        <div class="print-btn" (click)="print()">
            <span>Print</span>
        </div>
    </div>
</div>
