.header-details {
    display: flex;  
    align-items: center;  
    background: #EBFCFF;  
    .content-panel {
        flex: 21;        
        width: 100%;
        display: flex;
        align-items: center;
        .content-holder {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px;
            .content-title-wrapper {
                width: 100%;
                flex: 1;
                display: flex;
                align-items: center; 
                margin-bottom: 2px; 
                .content-title {                
                    	
                    font-size: 13px;	
                    font-weight: 700;	
                    letter-spacing: 1px;	
                    line-height: 13px; 
                    color: #0180A8;
                    text-transform: uppercase;
                }
                .date {
                    flex: 3;
                }
                .total {
                    flex: 3;
                }
                .driver {
                    flex: 3;                    
                }
                .vehicle {
                    flex: 3;
                }
            }
            .content-wrapper {
                width: 100%;
                flex: 1;
                display: flex;
                align-items: center;                
                .content {
                    flex: 1;
                    color: #000000;
                    	
                    font-size: 14px;	
                    font-weight: 500;	
                    line-height: 44px;
                }
                .date {
                    flex: 3;
                }
                .total {
                    flex: 3;
                }
                .driver {
                    flex: 3;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: nowrap;
                }
                .vehicle {
                    flex: 3;
                }
            }
        }               
    }
    .print {
        flex: 1;
        display: flex;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
        .print-btn {
            padding-right: 15px;
            padding-left: 15px;
            border: 1px solid gray;
            text-transform: uppercase;
            height: 30px; 
            color: #4E5454;	
            	
            font-size: 13px;	
            font-weight: 700;	
            letter-spacing: 1px;	
            line-height: 13px; 
            display: flex;
            align-items: center;
            span {                
                flex: 1;
                text-align: center;
            }
            &:hover {
                cursor: pointer;
                background: rgb(63, 54, 54);
                color: #e6faff;
            }
        } 
    } 
}


@media print {
    .header-details {
        display: flex;  
        align-items: center;  
        background: white;  
        margin: 10px auto;
        border: 1px solid black;
        box-shadow: none;
        .content-panel {
            flex: 1;        
            width: 100%;
            display: flex;
            align-items: center;
            .content-holder {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin: 10px;
                .content-title-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center; 
                    margin-bottom: 5px; 
                    .content-title {           
                        flex: 1;     
                        	
                        font-size: 13px;	
                        font-weight: 700;	
                        letter-spacing: 1px;	
                        line-height: 21px; 
                        color: rgb(0, 0, 0);
                        text-transform: uppercase;
                    }
                    .date {
                        flex: 1;
                    }
                    .total {
                        flex: 1;
                    }
                    .driver {
                        flex: 1;
                    }
                }
                .content-wrapper {
                    width: 100%;
                    display: flex;
                    align-items: center;                
                    .content {
                        flex: 1;
                        color: #000000;
                        	
                        font-size: 16px;	
                        font-weight: 500;	
                        line-height: 24px;
                    }
                    .date {
                        flex: 1;
                    }
                    .total {
                        flex: 1;
                    }
                    .driver {
                        flex: 1;
                    }
                }
            }               
        }
        .print {
            display: none;   
        }
    }    
}