.wrapper {
    background-color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;
}

.icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

a{
    text-decoration: none;
    color: grey;
    padding: 10px;
}

a:hover, a:active{
    color: black;
}

.mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px;
}

i{
    font-size: x-large;
    color: gray;
    padding: 5px;
    cursor: pointer;
}

i:hover, i:active{
    color: #FC3446;
}