<mat-toolbar class="wrapper">
    <app-blowhorn-navbar
        [show_logo]="false"
        [show_user]="false"
        [links]="links"
        [link_styles]="link_styles"
        [navbar_styles]="navbar_styles">
    </app-blowhorn-navbar>

    <div class="icon-wrapper">
        <div (click)="download_documents($event)" title="Download"
        *ngIf="_blowhorn_service.hasPermission('analytics', 'can_download_reports')">
            <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>
        </div>
        <div (click)="open_feedback_modal()" title="Feedback">
            <i class="fa fa-comments-o" aria-hidden="true"></i>
        </div>
        <div (click)="open_member_modal()" title="Schedule Reports" *ngIf="can_view_schedule_reports">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
