<div class="awb-form">
  <div class="form__group field">
    <input
      type="input"
      class="form__field"
      placeholder="Name"
      name="name"
      id="name"
      [(ngModel)]="awb_number"
      required
    />
    <label for="name" class="form__label">
      Please enter required AWB count
    </label>
    <app-dropdown-select
          [styles]="hub_styles"
          [selected_name]="selected_hub_name ? selected_hub_name : 'Select the Store'"
          [selected_id]="selected_hub_id ? selected_hub_id : null"
          [items]="hubs"
          [disabled]="hub_disabled || false"
          (value_changed)="hub_changed($event)">
    </app-dropdown-select>
    <div class='error'>*Not a mandatory field</div>

  </div>

  <div class="download-btn-holder">
    <app-blowhorn-button
      *ngIf="_blowhorn_service.hasPermission('awb_generator', 'can_generate_awb_numbers')"
      class="download-btn"
      [disabled]="submit_button.disabled"
      (click_fired)="download_template()"
      [label]="'Download File'"
    >
    </app-blowhorn-button>
  </div>
</div>

<div class="error" *ngIf="show_error">{{error_message}}</div>
