.awb-form {
  margin-block-start: 20px;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.download-btn-holder {
  align-items: center;
  padding-block-start: 30px;
  margin-left: 20px;
  margin-top: 25px;
  
}

.error {
  color: red;
  padding: 5px;
  font-size: small;
  padding-left: 20px;
  font-style: italic;
}

$primary: var(--primary-color);
$secondary: var(--primary-color-light);
$white: black;
$gray: #9b9b9b;

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 30%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 15px;
  color: $white;
  padding: 7px 0;
  background: transparent;
  margin-left: 20px;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  margin-left: 20px;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    color: $primary;
    font-weight: 200;
  }
  padding-bottom: 6px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
