.panel-container {
    max-width: 380px;
    text-align: center;
    margin-bottom: 5px;
    .nav-panel {
        background: #fff;
        display: flex;
        position: relative;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 4px 0 0;
        .option-count {
            color: #6c6c6c;
            font-size: 14px;
            
            font-weight: 600;
        }
        .option-selectall {
            position: absolute;
            right: 15px;
            .select-all {
                font-size: 12px;
                color: #6c6c6c;
                cursor: pointer;
                padding: 2px 0;
            }
        }
    }
    .filter-panel {
        position: relative;
        flex-basis: 100px;
        height: 30px;
        display: grid;
        grid-template-columns: 2fr 15fr;
        grid-column-gap: 0px;
        align-items: center;
        justify-items: center;
        padding-left: 2px;
        padding-right: 2px;
        border: 1px solid #ccc;
        border-width: 0 1px;
        .search-options {
            outline: none;
            border: none;
            color: #3f3636;
            background-color: #F7FBFC;
            
            font-size: 13px;
            line-height: 18px;
            padding-left: 16px;
            width: 100%;
            position: absolute;
            height: 100%;
            &:disabled {
                background-color: rgba(0, 0, 0, 0.16);
            }
        }
        span {
            position: absolute;
            right: 5px;
            top: 50%;
            z-index: 2;
            transform: translateY(-50%);
            color: #BBC2C4;
            cursor: pointer;
        }
        .hide-cross {
            display: none;
        }
        .show-cross {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            color: lightgray;
        }
        .activate-cross {
            color: grey;
        }
        .deactivate-cross {
            color: lightgray;
        }
    }
    .option-panel {
        width: 300px;
        height: 40vh;
        max-width: 380px;
        max-height: 22vh;
        overflow: auto;
        border: 1px solid #ccc;
        background: #fff;
        position: relative;
        .dropdown-item-styles {
            font-size: 14px;
            
            text-align: left;
            padding: 8px 10px;
            color: #6c6c6c;
            &.selected {
                color: rgb(114, 114, 114);
                background: rgb(190, 190, 190);
            }
            &:hover {
                cursor: pointer;
                color: rgb(248, 249, 250);
                background: gray;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgb(247, 245, 245);
            }
        }
    }
}
