<div class="panel-container">
    <div class="nav-panel">
        <div class="option-count">{{label}} ({{items.length}})</div>
        <div class="option-selectall" *ngIf="show_select_all && items.length">
            <div class="select-all" *ngIf="!select_all" (click)="trigger_all_select()">{{select_all_label}}</div>
        </div>
    </div>
    <div class="filter-panel">
        <div (mouseover)="activate_search_clear($event)"
        (mouseout)="deactivate_search_clear($event)"
        (click)="reset_search($event)">
            <span [ngClass]="{'show-cross': search_text, 'hide-cross': !search_text, 'activate-cross': search_activated, 'deactivate-cross': !search_activated}"
                class="fa fa-times">
            </span>
        </div>
        <input class="search-options"
        type="text"
        placeholder="Search here.."
        [disabled]="items.length<max_items_to_enable_search"
        [(ngModel)]="search_text">
    </div>
    <div class="option-panel">
        <div class="text-danger my-5" *ngIf="!items.length">No results found.</div>
        <div *ngFor="let item of items | nameFilter: search_text" class="dropdown-item-styles"
            (click)="on_item_select(item)"
            (dblclick)="move_item(item)"
            [ngClass]="{selected: item.chosen}">
            <span class="content" [attr.data-item-id]="item.id" [attr.data-item-name]="item.name">
                {{item.name | uppercase}}
            </span>
        </div>
    </div>
</div>
