<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <style type="text/css">
    body {font-family: Poppins;}
    .brandname {display: flex;justify-content: center;font-size: 28px;line-height: 48px;}
    .subtitle {display: flex;justify-content: CENTER;padding: 1%;font-size: 24px;}
    .warning-message {display: flex;justify-content: center;color: red;}
  </style>
</head>
<body>
  <div class="brandname">Catbus InfoLabs Pvt. Ltd.</div>
  <div class="subtitle">Merchant Check Out Page</div>
  <div class="warning-message">Please Do Not Refresh The Page</div>
  <form method="post" action={{ end_point }} name="f1">
    <!-- Explicitly adding csrf token inside form -->
    {% csrf_token %}
    {% for key,value in data.items %}
      <input type="hidden" name="{{key}}" value="{{value}}">
    {% endfor %}
    <script type="text/javascript">
      document.f1.submit();
      var isMobile = window.innerWidth <= 375;
    </script>
  </form>
</body>
</html>
