{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/webapp/src/content/blowhorn/_variables.css' %}">
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
  <style type="text/css">
        *, body {
            font-family: var(--font-regular);
            -webkit-font-smoothing: antialiased;
        }
      .container {padding: 0;justify-content: center;display: flex;}
      .card {flex-direction: column;display: flex;background: #fff;}
      .logo-container{padding: 20px;background: var(--primary-color);display: flex;justify-content: center;}
      .content{padding: 20px;}
      .greeting{margin-bottom: 10px;}
      .line, .list{margin-bottom: 20px;}
      .img-container{padding: 20px 0px;}
      @media (min-width: 575px) {
        .container {padding: 30px;}
        .content{border-radius: 6px;}
        .card {box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);width: 90%;border-radius: 6px;border: 2px solid var(--primary-color);}
      }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
        <div class="logo-container">
            <a href="/" title="Blowhorn">
                <img src="{% static 'website/images/blowhorn_logo.png' %}"
                    width="135" height="104" alt="Blowhorn logo"
                    class="img-responsive blowhorn_log">
            </a>
        </div>
        <div class="content">
            <div class="greeting">
                Greetings from Blowhorn,
            </div>
            <div class="line">
                <p>In January 2020 the World Health Organization (WHO) declared the outbreak of a new coronavirus disease in Hubei Province, China. WHO stated there is a high risk of the 2019 coronavirus disease (COVID-19) spreading to other countries around the world. We at Blowhorn are taking some proactive measures to control and reduce the spread of the coronavirus. The safety of our customers, employees, delivery partners has always been a matter of top priority for us - now more than ever.</p>
            </div>
            <div class="line">
                Here is a quick update on some of the steps we've taken to maintain a safe and healthy environment for all:
            </div>
            <div class="list">
                <ul>
                    <li>Our delivery partners are continually being trained in best practices of respiratory hygiene, proper method & frequency of washing hands as well as identification of associated symptoms.</li>
                    <li>Should a delivery partner notice any associated symptoms, they’ve been asked to immediately reach out to us and consult a medical professional.</li>
                    <li>Our delivery partners have been advised to self-quarantine themselves for the recommended period upon noticing any symptoms.</li>
                    <li>We are also in touch with our partners to ensure they’re aware of the best hygiene practices.</li>
                </ul>
            </div>
            <div class="line">
                Blowhorn is doing this in an attempt to ensure no serviceability issue is faced by any of our customers. We’re confident that with the right practices, we can help curb the spread of COVID-19.
            </div>
            <div class="line">
                In the meantime, should you have any concerns on the matter, please reach out to our customer support team at <a href="mailto:shoutout@blowhorn.com">shoutout@blowhorn.net</a> or raise a complaint through the app.
            </div>
            <div class="line">
                <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">Read More</a> about the WHO's recommendations on best practices.
            </div>
            <div class="footer-sign">
                <div class="pre-sign-label">Stay safe,</div>
                <div class="team-blowhorn">Team Blowhorn.</div>
            </div>
            <div class="img-container">
                <img src="{% static 'corona/customer_advisory.jpg' %}"
                    class="img-responsive" alt="Customer Advisory">
            </div>
        </div>
    </div>
  </div>
    <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
  </body>
</html>
