{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <style type="text/css">
      .container {padding: 0;justify-content: center;display: flex;}
      .card {display: flex;justify-content: center;border-radius: 6px;max-width: 420px;}
      @media (min-width: 575px) {
        .container {padding: 30px;}
        .card {box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);}
      }
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
        <img src="{% static 'corona/partner_advisory.jpg' %}" class="img-responsive" alt="Partner Advisory">
    </div>
  </div>
      <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
      <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
  </body>
</html>
