.alert, label {display: none;}
.errorlist, .text-danger {list-style-type: none; color:red;padding-left: 0;font-size: 14px;font-weight: 300}
.help-text {font-size: 12px; text-align: justify;font-weight: 400;}
.modal-header h2 {display: block !important;text-align: center;}
header {padding: 15px;}
@media (max-width: 767px) {
  header div {margin-left: 35%;}
  .message-block {width: 100% !important;}
}
.content {height: 100vh;background: rgba(0, 0, 0, 0.8);}
.message-block {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;background: #fff;width: 50%;padding: 15px;text-align: center;}
.message-row {margin: 0;}
