body {font-size: 12px !important; color: #555;}
.custom-container {padding-right: 0 !important; padding-left: 0 !important;}
.sticky-wrapper {border-bottom: 1px solid rgba(0, 0, 0, 0.18);}
.top-row {display:flex; align-items: center; background-color: #f5f5f5; font-size: 12px; margin-left: 0 !important; margin-right: 0 !important; background: #fff; margin-bottom: 5px;}
/*.map-block {margin-top: 6.5%;}*/
.navbar-default {position: relative !important;}
.search-box {height: 45px;}
.filter-row {background-color: #f5f5f5;}
.map-row {display: table; border-top: 1px solid rgba(0, 0, 0, 0.18);}
.google-map {width:100%; height: 100%; position:relative; display: table-cell; background: #fff; border: 5px solid #fff;}
.filter-city {display: inline-block; margin-right: 10px;}
.filter-city label {vertical-align: middle;}
.filter-vehicle-class {display: inline-block; margin-right: 10px;}
.driver-dropdown {padding: 6px 9px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 0;margin-left:-1px;}
.custom-dropdown {max-height: 200px; height: auto; overflow-x: hidden; font-size: 12px !important;}
#driver-search {font-size: 12px !important;}
.driver-action {margin: 10px !important; width: 13.5rem !important;}
.gm-style-iw {
  background-color: #fff;
  width: 200px !important;
  height: auto !important;
  left : 0 !important;
  top: 20px !important;
  z-index: 10;
}
.gm-style-iw .table>tbody>tr>td {
  padding-top : 2px !important;
  padding-bottom : 2px !important;
  font-weight : bold;
  font-size : small;
  vertical-align: middle;
}
/*Orange*/
.btn-orange {
  background-color: #ff8000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800), to(#ff8000));
  background: -webkit-linear-gradient(top, #ff8000, #ff5800);
  background: -moz-linear-gradient(top, #ff8000, #ff5800);
  background: -ms-linear-gradient(top, #ff8000, #ff5800);
  background: -o-linear-gradient(top, #ff8000, #ff5800);
  border: 1px solid #ff5800;
}
.btn-orange:hover {
  background-color: #ff5800;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff5800), to(#ff5800));
  background: -webkit-linear-gradient(top, #ff5800, #ff5800);
  background: -moz-linear-gradient(top, #ff5800, #ff5800);
  background: -ms-linear-gradient(top, #ff5800, #ff5800);
  background: -o-linear-gradient(top, #ff5800, #ff5800);
}
.btn-facebook, .btn-twitter, .btn-google, input[type="submit"] {
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
/*Blue*/
.btn-blue {
  background-color: #00C0E1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#00C0E1));
  background: -webkit-linear-gradient(top, #00C0E1, #4f74bf);
  background: -moz-linear-gradient(top, #00C0E1, #4f74bf);
  background: -ms-linear-gradient(top, #00C0E1, #4f74bf);
  background: -o-linear-gradient(top, #00C0E1, #4f74bf);
  border: 1px solid #4f74bf;
}
.btn-blue:hover {
  background-color: #4f74bf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f74bf), to(#4f74bf));
  background: -webkit-linear-gradient(top, #4f74bf, #4f74bf);
  background: -moz-linear-gradient(top, #4f74bf, #4f74bf);
  background: -ms-linear-gradient(top, #4f74bf, #4f74bf);
  background: -o-linear-gradient(top, #4f74bf, #4f74bf);
}
.btn-facebook, .btn-twitter, .btn-google, form input[type="text"], input[type="password"], input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.btn-facebook, .btn-twitter, .btn-google, input[type="submit"] {
  -moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
}
