* {font-family: Heebo;}
@media (max-width: 767px) {
  .message-block {width: 100% !important;}
}
.absolutely-centered {position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);} 
.mask {height: 100%;background: rgba(0,0,0,.5);}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
/* Firefox */
input[type=number] {-moz-appearance: textfield;}
