<div class="modal fade" id="modal-fsm-confirm"
  tabindex="-1" role="dialog" aria-labelledby="fsmStatusConfirmModalLabel"
  aria-hidden="true">
  <div class='modal-dialog modal-md'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="modal-header-text">Confirm Action</h4>
      </div>
      <div class="modal-body">
        <div class="row" style="text-align: center;">
          <h5>Are you sure you want to <span id="fsm-action"></span> this contract?</h5>
          <p class="help-text">
            Click Confirm to continue or Cancel to abort.
          </p>
        </div>
        <div class="modal-footer modal-custom-footer">
          <button type="button" class="btn btn-danger btn-footer"
            data-dismiss="modal" style="border-radius: 0;">Cancel</button>
          <input type='submit' class='default font12'
            id="btn-fsm-submit" value="Confirm">
        </div>
      </div>
    </div>
  </div>
</div>
