<div class="modal fade" id="datasetgraphdisplay" tabindex="-1" role="dialog" 
    aria-labelledby="graphModalLabel" aria-hidden="true">
    <div class='modal-dialog' style="width: fit-content;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                    aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="graphModalLabel">
                    Margin trends as per predfined dataset</h4>
                <div class="modal-body">
                    <form id="dataset_form">
                        <input id="contract_id" name="contract_id"
                        type="hidden">
                        <label for="fetch_leave_num">Absent Days</label>
                        <input id="fetch_leave_num" name="leave_num"
                        placeholder="absent days" value="0">
                        <input id="fetch_data" type="button" value="Submit">
                    </form>
                    <div id="for_graph"></div>
                </div>
            </div>
        </div>
    </div>
</div>
