<div class="modal fade" id="graphdisplay" tabindex="-1" role="dialog" 
    aria-labelledby="graphModalLabel" aria-hidden="true">
    <div class='modal-dialog' style="width: fit-content;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                    aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="graphModalLabel">
                    n-Trip Graphs [MARGIN PER MONTH]</h4>
                <div class="modal-body">
                    <div id="filter_box">
                        <form id="filterForm">
                            <input id="contract_id" name="contract_id" 
                                type="hidden">
                            Number of trips per day: <input id="num_trips" type="number"
                             name="num_trips" placeholder="number of trips" 
                             min="1" max="3"><br>
                            <div id="filter-inputs">   
                            </div>
                            <input id="fetch_data" type="button" value="Submit">
                        </form>
                        <p id="result_margin">Margin per month : <span></span>%</p>
                        <p id="distance_month">Distance per month : <span></span>km</p>
                        <p id="time_month">Time per month : <span></span>hrs</p>
                        <p id="distance_day">Distance per day : <span></span>km</p>
                        <p id="time_day">Time per day : <span></span>hrs</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>
 
