.base-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    .main-panel {
        width: 100%;
        max-width: 1200px;
        min-width: 900px;
        background: white;    
        min-height: 100vh;    
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        -webkit-box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
        box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
        .title-panel {
            width: 100%; 
            display: flex;
            align-items: center;
            .title { 
                flex: 1;  
                color: #141515;
                font-size: 48px;	
                line-height: 70px;    
            }   
            .logo{
                flex: 1;
                img {
                    float: right;	
                    width: 60px;
                }
            } 
        }
        .header {
            margin-top: 15px;
            width: 100%;   
        }
        .splitter {    
            width: 100%; 
            max-width: 1200px;
            min-width: 900px; 
            margin-top: 1px;        
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                flex: 1;
                border: 1px solid lightgray;
                width: 100%;
                height: 0px;
            }
        }
        .content {
            width: 100%; 
            max-width: 1200px;
            min-width: 900px;
        }
    }
    .error-panel {
        width: 100%; 
        max-width: 1200px;
        min-width: 900px; 
        height: 100vh;
        padding-top: 50px;
        text-align: center;
        background: white;
        color: red;
        	
        font-size: 25px;	
    }
}
@media print {
    .base-panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        .main-panel {
            width: 100%;
            max-width: 1200px;
            min-width: 900px;
            background: white;    
            min-height: 100vh;    
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;
            -webkit-box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
            box-shadow: 0 1px 40px 0 rgba(0,0,0,0.5);
            .title-panel {
                width: 100%; 
                display: flex;
                align-items: center;
                .title { 
                    flex: 1;  
                    color: #141515;
                    font-size: 20px;	
                    line-height: 20px;    
                }   
                .logo{
                    flex: 1;
                    img {
                        float: right;	
                        width: 60px;
                    }
                } 
            }
            .header {
                margin-top: 5px;
                width: 100%;   
            }
            .splitter {    
                display: none;
            }
            .content {
                width: 100%; 
                max-width: 1200px;
                min-width: 900px;
            }
        }
        .error-panel {
            width: 100%; 
            max-width: 1200px;
            min-width: 900px; 
            height: 100vh;
            padding-top: 50px;
            text-align: center;
            background: white;
            color: red;
            font-size: 20px;	
        }
    }
}
