<div class="base-panel">
    <div *ngIf="!status" class="main-panel">
        <div  class="title-panel">
            <div class="title">Departure Sheet</div>
            <div class="logo">
                <img src="{{blowhorn_service.logo_url}}" alt="logo"/>
            </div>
        </div>
        <div class="header">
            <app-departure-sheet-header [date_time]="date_time"
                [driver_name]="driver_name"
                [vehicle_number]="vehicle_number"
                [count]="shipments.length">
            </app-departure-sheet-header>
        </div>
        <div class="splitter">
            <div></div>
        </div>
        <div class="content">
            <app-departure-sheet-content [shipments]="shipments">
            </app-departure-sheet-content> 
        </div>
        <div class="splitter">
            <div></div>
        </div>
    </div>
    <div *ngIf="status" class="error-panel">
        <span>{{message}} / not a shipment trip</span>
    </div>
</div>

