<div class="filter-card">
  <span class="filter-card-header" (click)="expandCard = !expandCard">
    <span class="header-text">{{headerText}}</span>
    <span class="caret" 
    [ngClass]="expandCard ? 'caret-up' : 'caret-down'"></span>
  </span>
  <div class="filter-card-content" [ngClass]="expandCard ? 'expand' : 'collapsed'">
    <div class="" *ngFor="let item of items">
      <app-blowhorn-checkbox
        [id]="item.name"
        [attr.group_name]="filter_name"
        [attr.checked]="item.checked || false"
        (value_changed)="selectionChanged($event)">
      </app-blowhorn-checkbox>
    </div>
  </div>
</div>
