<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{heading}}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content">
        <div class="main-text" *ngIf="!show_order_number">
            <div class="text-label">Payment Mode:</div>
            <div class="text-val">
                {{details.total_cost === 0 ? 'Prepaid' : 'COD ' + ( details.payment_mode ? '(' + details.payment_mode + ')' : '')}}
            </div>
        </div>
        <div class="main-text">
            <div class="text-label">Cash On Delivery Amount:</div>
            <div class="text-val">
                {{bh_service.currency|currencySymbol}}{{details.total_cost}}
            </div>
        </div>
        <div class="main-text">
            <div class="text-label">Amount Paid Online:</div>
            <div class="text-val">{{bh_service.currency|currencySymbol}}{{details.amount_paid_online}}</div>
        </div>
        <div class="main-text">
            <div class="text-label">Cash Collected:</div>
            <div class="text-val">{{bh_service.currency|currencySymbol}}{{details.cash_collected}}</div>
        </div>
        <div class="main-text">
            <div class="text-label">OTP:</div>
            <div class="text-val">{{details.otp}}</div>
        </div>
    </div>
    <div class="order-lines">
        <div class="order-line-container">
            <div class="wrapper-heading">
                <div>Name</div>
                <div class="number-col">Quantity</div>
                <div class="number-col" *ngIf="details.status!=status_new">
                    Picked Quantity
                </div>
                <div class="number-col">Quantity Delivered</div>
                <div class="number-col">Quantity Returned</div>
                <div class="number-col">Cost Per Item</div>
                <div class="number-col">Total Cost</div>
                <div *ngIf="show_order_number">Order Number</div>
                <div *ngIf="show_order_number">Ref. Number</div>
            </div>
            <div class="sku-body">
                <ng-container *ngFor="let o of details.orderlines">
                    <div class="wrapper-row">
                        <div class="col">
                            <div class="main-row">
                                {{o.sku}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="main-row number-col">
                                {{o.quantity}}
                            </div>
                        </div>
                        <div class="col" *ngIf="details.status!=status_new">
                            <div class="main-row number-col">
                                {{o.quantity - o.qty_removed}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="main-row number-col">
                                {{o.qty_delivered}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="main-row number-col" *ngIf="details.status!=status_new">
                                {{o.quantity - o.qty_removed - o.qty_delivered}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="main-row number-col">
                                {{bh_service.currency|currencySymbol}}{{o.each_item_price}}
                            </div>
                        </div>
                        <div class="col">
                            <div class="main-row number-col">
                                {{bh_service.currency|currencySymbol}}{{o.total_item_price}}
                            </div>
                        </div>
                        <div class="col" *ngIf="show_order_number">
                            <div class="main-row left-padding-5">
                                {{o.order_number}}
                            </div>
                        </div>
                        <div class="col" *ngIf="show_order_number">
                            <div class="main-row left-padding-5">
                                {{o.reference_number}}
                            </div>
                        </div>
                    </div>
                </ng-container>
                <div class="error text-center" *ngIf="details.orderlines.length<=0">
                    No items found
                </div>
            </div>
        </div>
    </div>
</div>
