.nav-container-driver{
  width:300px;
  box-shadow: 0 2px 2px 2px black;
  transition: all 0.3s linear;
  overflow:auto;
    height:92vh;
  background-color: #3D3737;
}
.nav-driver{
  list-style-type:none;
  margin:0;
  padding:0;
}
.nav-container-driver li{
  height:55px;
  position:relative;
  background: linear-gradient(#292929, #242424);
}
.nav-container-driver a {
  cursor: pointer;
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid black;
  text-decoration:none;
  display:block;
  height:100%;
  width:100%;
  line-height:25px;
  color:#bbb;
  text-transform: uppercase;
  font-weight: bold;
  padding-left:25%;
  border-left:5px solid transparent;
  letter-spacing:1px;
  transition: all 0.3s linear;
}
.nav-container-driver .active a{
  color: #FFF;
  border-left:5px solid #FFF;
  background-color: #1b9bff;
  outline:0;
}
.nav-container-driver li:not(.active):hover a{
  color: #eee;
  border-left: 5px solid #FCFCFC;
  background-color: #1b9bff;
}

.nav-container-driver span[class ^= "icon"]{
  position:absolute;
  left:20px;
  font-size: 1.5em;
  transition: all 0.3s linear;
}
.nav-container-driver span[class ^= "text"]{
  position:absolute;
  left:20px;
  font-size: 1.0em;
  transition: all 0.3s linear;
}
.nav-container-driver span[class ^= "booking-id-text"]{
  position:absolute;
  left:20px;
  font-size: 0.7em;
  transition: all 0.2s linear;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.modal-driver-sidebar-open {
}
.modal-driver-sidebar {background:rgba(0,0,0,.8)}
.modal-booking-status p.h1{	margin-bottom: 0;	font-weight: bold;}
.modal-booking-status p.h1 em{font-style: normal;font-weight: 300;}
.modal-booking-status .col-left{border-right: 1px solid #F6F7FB;	padding-bottom: 30px;	min-height: 530px;}
.modal-booking-status .col-right{border-left: 1px solid #F6F7FB;	min-height: 530px;}
.modal-booking-status .col-right .row.text-center{min-height: 70px;}
.modal-booking-status .col-right strong {  margin-top: 15px;  margin-bottom: 5px;}
.modal-booking-status .col-right h4 {  margin: 0 0 15px 0;  font-size: 1.4em;}
.modal-booking-status hr {  margin-top: 0px;  margin-bottom: 0px;    border-top: 1px dashed #DDD;}
.modal-booking-status .loc-from {  border-left: 1px dashed #B3B3B3;  padding-bottom: 30px;  margin-top: 30px;}
.modal-booking-status .loc-from, .modal-booking-status .loc-to {  position: relative;  padding-left: 15px;  margin-left: 5px;}
.modal-booking-status .col-left strong{  font-size: .9em;text-transform:none;}
.modal-booking-status strong {  font-size: 1em;  display: block;  text-transform: uppercase;  color: #000;	line-height: 1.2em;}
.modal-booking-status .loc-from h4, .modal-booking-status .loc-to h4{margin: 0 0 5px 0;}
.modal-booking-status .map-marker-from, .modal-booking-status .map-marker-to {  position: absolute;  width: 12px;  height: 16px;  background: url(../../images/map_markers-small.png) 0 0;  left: -6px;}
.modal-booking-status .map-marker-to {background: url(../../images/map_markers-small.png) 0 -16px;}
.modal-booking-status .booking-details {  border-bottom: 1px dashed #DDD;  height: 354px;  margin-bottom: 15px;}
.modal-booking-status .assigned-driver{padding-bottom: 15px;}
.modal-booking-status .assigned-driver img{  float: left;  width: 40px;  margin-right: 15px;	height: 40px;}
.modal-booking-status .booking-details > div{margin-bottom: 30px;}
.modal-booking-status .current-status-details {  background: #F1F1F1;  padding: 1px 10px 10px 10px;  margin-top: 15px;  height: 430px;	position: relative;}
.modal-booking-status .current-status-details table {  margin-bottom: 5px;  margin-top: 5px;}
.modal-booking-status .current-status-details table td {  border: 0px;  font-size: .85em;  padding: 4px 0px;}
.modal-booking-status .current-status-details table tr td:last-child {	text-align: right;}
.modal-booking-status .current-status-details table td b{color: #000;}
.modal-booking-status .close {  background-color: #A5A5A5;  width: 24px;  height: 24px;  margin-top: 2px;  border-radius: 100%;  font-size: 1em;  color: #FFF;  filter: alpha(opacity=60);  opacity: .6;  text-shadow: 0 0;  position: absolute;  right: 10px;  top: 20px;  z-index: 1;}
#modal-booking-status-cancelled .h1{color: #f00;}
#modal-booking-status-cancelled .current-status, #modal-booking-status-in-progress .current-status{  color: #F00;  font-size: .95em;  font-weight: 700;  line-height: 1.3em;}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  display: none;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.45);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-backdrop {
  display:none;
}
.modal-backdrop.fade {
  display:none;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/** ICON CLASS */
a [class^="icon-"], a [class*=" icon-"] {
    display: inline;
}
.pocp_button i {
    font-size: 18px;
    padding-top: 1px;
    float: left;
    line-height: 32px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0px;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
}
.pocp_button {
    font-size: 14px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
}
.sidebar-map-wrapper{
    max-width:300px !important;
    display:table-cell !important;
    vertical-align: top;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.minus-marker {margin-left:275px; margin-top: 70px; cursor: pointer;}
.plus-marker {margin-left:5px; margin-top: 70px; cursor: pointer;}

.collapse-marker .minus-marker{ position:absolute; z-index:99; width:65px; height: 65px; background: url(../../images/minus_sign_collapse_65.png);-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
.collapse-marker .plus-marker{ position:absolute; z-index:99; width:65px; height: 65px; background: url(../../images/plus_sign_collapse_65.png);-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}


.collapse-sidebar-display{
    display:table-cell !important;
    max-width:1px !important;
    overflow: hidden;
    vertical-align: top;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#modal-driver-status{
    z-index:999;
}


/* Gcards CSS */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

#gcards { float:left; display:none; height:92vh; font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; overflow:scroll;}

#gcards body{ background:#222;  }


#gcards main{
  display:block;
  position:relative;
  width:34rem;
  padding:1.5rem 0 0;
  background:#d5d5d5;
  border-radius:.25rem;
  transform:scale(1);
  transform-origin:center 3rem;
  transition:transform .3s;
}
#gcards:hover main {
  transform:scale(1);
}

#gcards header {
  position:absolute;
  z-index:0;
  top:0; left:0; right:0;
  height:10rem;
  transition:transform .5s, opacity .3s;
  background-size:cover;
}

#gcards input, .card {
  position:relative;
  z-index:2;
}
#gcards input {
  display:block;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

#gcards input:focus {
  margin:0 1rem 1rem;
  outline:0;
}

#gcards input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}

#gcards .card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
#gcards .card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}

#gcards @keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

#gcards @keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}



#gcards h1 {
  font-size:2rem;
  font-weight:200;
  margin: 0;
    padding-top: 0;
}
#gcards .address {
    color:#539D00;
  }

#gcards h2 {
  font-size:1.1rem;
  color:gray;
  font-weight:400;
}
#gcards td
{
    padding:0 7px 0 0;
    vertical-align: top;
}
#gcards td
{
    vertical-align: top;
}
#gcards .map-marker-from, .map-marker-to {  margin-left:15px; position: absolute;  width: 12px;  height: 16px;  background: url(../../images/map_markers-small.png) 0 0;  left: -6px;}
#gcards .map-marker-to {background: url(../../images/map_markers-small.png) 0 -16px;}

/* Gcards CSS */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,700,500italic,900,700italic,900italic);

#gcardsright { float:right; display:none; height:92vh; font-family: 'Roboto', sans-serif; line-height:1.2; vertical-align:middle; overflow:scroll;}

#gcardsright body{ background:#222;  }


#gcardsright main{
  display:block;
  position:relative;
  width:34rem;
  height:100%;
  padding:1.5rem 0 5px;
  background:#d5d5d5;
  border-radius:.25rem;
  transform:scale(1);
  transform-origin:center 3rem;
  transition:transform .3s;
}
#gcardsright:hover main {
  transform:scale(1);
}

#gcardsright header {
  position:absolute;
  z-index:0;
  top:0; left:0; right:0;
  height:10rem;
  transition:transform .5s, opacity .3s;
  background-size:cover;
}

#gcardsright input, .card {
  position:relative;
  z-index:2;
}
#gcardsright input {
  display:block;
  width:26rem;
  margin:4.5rem 1rem 2rem;
  border:0;
  font-size:1.2rem;
  padding:.75rem 1rem;
  border-radius:3px;
  box-shadow:0 1px 2px #aaa;
  transition:.5s, margin-bottom .15s;
}

#gcardsright input:focus {
  margin:0 1rem 1rem;
  outline:0;
}

#gcardsright input:focus + header {
  transform:translate3d(0,-10rem,0);
  opacity:0;
}

#gcardsright .card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
#gcardsright .card:nth-child(even){
  animation-name:fly-in-from-right;
  animation-delay:1.1s;
 transform-origin:top right;
}

#gcardsright @keyframes fly-in-from-left {
  from {
    transform:translateY(15rem) rotate(15deg);
    opacity:0;
  }
}

#gcardsright @keyframes fly-in-from-right {
  from {
    transform:translateY(15rem) rotate(-15deg);
    opacity:0;
  }
}



#gcardsright h1 {
  font-size:2rem;
  font-weight:200;
  margin: 0;
    padding-top: 0;
}
#gcardsright .address {
    color:#539D00;
  }

#gcardsright h2 {
  font-size:1.1rem;
  color:gray;
  font-weight:400;
}
#gcardsright td
{
    padding:0 7px 0 0;
    vertical-align: top;
}
#gcardsright td
{
    vertical-align: top;
}
#gcardsright .map-marker-from, .map-marker-to {  margin-left:15px; position: absolute;  width: 12px;  height: 16px;  background: url(../../images/map_markers-small.png) 0 0;  left: -6px;}
#gcardsright .map-marker-to {background: url(../../images/map_markers-small.png) 0 -16px;}

.point{
  cursor: pointer;
}
#auto-search {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
}

#auto-search:focus {
  border-color: #4d90fe;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
::-webkit-input-placeholder {
  color: #aaa; }

:-moz-placeholder {
  color: #aaa; }

::-moz-placeholder {
  color: #aaa; }

:-ms-input-placeholder {
  color: #aaa; }

.autocomplete{
    padding: 0 11px 0 13px;
    margin: 5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 32px;
}
