<div class="wrapper">
  <div *ngIf="map_view" class="message">Click on stops for more details</div>
  <app-blowhorn-button
    *ngIf="_blowhorn_service.hasPermission('routes', 'can_edit_route')"
    [type]="'edit'"
    [label]="'Edit Route'"
    (click_fired)="edit_route()">
  </app-blowhorn-button>
  <app-blowhorn-button
    *ngIf="_blowhorn_service.hasPermission('routes', 'can_delete_route')"
    [type]="'delete'"
    [label]="'Delete Route'"
    (click_fired)="delete_route()">
  </app-blowhorn-button>
  <!-- <div class="assign">assign trucks</div> -->
</div>
<div *ngIf="show_confirm" class="modal-window">
  <app-blowhorn-confirm
    [heading]="'Are you sure you want to delete this route?'"
    [details]="route.name"
    [show_warning]="true"
    (proceed)="proceed($event)">
  </app-blowhorn-confirm>
</div>
