.wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 15px;
    z-index: 48;
    .message {
        display: flex;
        align-items: center;
        justify-content: left;
        color: #BBC2C4;	
        	
        font-size: 13px;	
        letter-spacing: 1px;	
        line-height: 19px;
        margin-right: auto;
    }
    app-blowhorn-button {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}