.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 2px;
    box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
    background-color: #fff;
    padding: 0px 5px;
    .display {
        width: 100%;
        display: flex;
        align-items: center;
        color:rgb(63, 54, 54);
        
        font-size: 14px;
        font-weight: bold;
        .cross {
            font-size: 14px;
            margin-right: 5px;
            color: lightgray;
            &:hover {
                color: gray;
            }
        }
        .text {
            display: flex;
            align-items: center;
            margin-right: 5px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .trigger {
            align-self: flex-start;
            font-size: 12px;
            margin-left: auto;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .selection-panel {
        position: absolute;
        top: 45px;
        left: 0px;
        background-color: #fff;
        box-shadow:  0px 0px 8px 0px rgba(0, 0 , 0, .5);
        max-height: 50vh;
        div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-height: 50vh;
            width: 100%;
            .disabled {
                height: 40px;
                pointer-events: none;
                .content {
                    
                    font-size: 16px;
                    color: red;
                    background-color: #fff;
                }
            }
            app-blowhorn-button {
                width: 100%;
            }
            .holder {
                flex: 1;
                overflow-y: scroll;
                .dropdown-item-styles {
                    height: 40px;
                    
                    font-size: 16px;
                    color: grey;
                    padding: 0px;
                    display: table;
                    width: 100%;
                    &:hover {
                        cursor: pointer;
                        color: rgb(248, 249, 250);
                        background: gray;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid rgb(247, 245, 245);
                    }
                    &:active {
                        color: white;
                        background: gray;
                    }
                    .content {
                        width: 100%;
                        height: 100%;
                        padding-left: 15px;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
                .selected {
                    color: rgb(114, 114, 114);
                    background: rgb(190, 190, 190);
                }
            }
            .dropdown-menu-filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 42px;
                vertical-align: middle;
                background: rgb(226, 239, 248);
                color: grey;
                padding-left: 15px;
                .filter-styles {
                    width: 90%;
                    height: 35px;
                    background: rgb(226, 239, 248);
                    
                    font-size: 14px;
                    color: grey;
                    outline: none;
                    border: none;
                }
            }
        }
    }
    .hide {
        display: none;
    }
    .show {
        display: block;
    }
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .9;
    background: rgb(172, 171, 171);
    border-width: 0px;
}
.enabled {
    pointer-events: all;
    cursor: pointer;
    opacity: 1;
    background: white;
    border-width: 1px;
}
