<div class="wrapper" [ngStyle]="styles['dropdown-styles']"
    [ngClass]="disabled ? 'disabled' : 'enabled'">
    <div class="display" (click)="hide_show_panel()">
        <span class="fa fa-times cross" 
            (click)="reset_and_suppress_click($event)"
            *ngIf="items_selected.length">
        </span>
        <div class="text">
            {{label}}
        </div>
        <span class="fa fa-caret-down trigger"></span>
    </div>
    <div class="selection-panel" [ngClass]="show_panel ? 'show' : 'hide'" 
        [ngStyle]="styles['dropdown-menu-styles']">
        <div *ngIf="!items.length" (click)="hide_show_panel()">
            <div class="disabled" [ngStyle]="styles['dropdown-item-styles']">
                <span class="content" [attr.data-item-id]="" [attr.data-item-name]=""> No data </span>
            </div>
        </div>
        <div *ngIf="items.length">
            <div *ngIf="items.length > 10" class="dropdown-menu-filter" (click)="on_filter_field_click($event)">
                <input id="filter-field" class="filter-styles" [(ngModel)]="filter_word" placeholder="Type to filter">
                <span class="fa fa-filter"></span>
            </div>
            <div class="holder">
                <div *ngFor="let item of items | nameFilter: filter_word" class="dropdown-item-styles" [ngStyle]="styles['dropdown-item-styles']"
                    (click)="on_item_select(item)"
                    [ngClass]="{selected: item.selected}">
                    <span class="content" [attr.data-item-id]="item.id" [attr.data-item-name]="item.name">
                        {{item.name | titlecase}}
                    </span>
                </div>
            </div>
            <app-blowhorn-button [footer_btn]="true"
                [label]="'Done'"
                (click_fired)="fire_selection()">
            </app-blowhorn-button>
        </div>
    </div>
</div>
