<div class="modal fade" id="modal-confirm"
  tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel"
  aria-hidden="true">
  <div class='modal-dialog modal-md'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center" id="modal-heading">Confirm Action</h4>
      </div>
      <div class="modal-body">
        <div class="row" style="text-align: center;">
          <h5 id="modal-content"></h5>
          <p class="help-text">
            Click Confirm to continue or Cancel to abort.
          </p>
        </div>
        <div class="modal-footer modal-custom-footer">
          <button type="button" id="action-confirm-dismiss" class="btn btn-danger btn-footer"
            data-dismiss="modal" style="border-radius: 0;">No</button>
            <input type='submit' class='default font12'
            id="btn-action-submit" value="Yes" onclick="this.disabled=true;$('#loader').show();submitForm();">
        </div>
      </div>
    </div>
  </div>
</div>
<div id="loader" class="loader-container">
  <div class="l-wrapper">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
</div>
<style>
  .loader-container {position:fixed;left: 0;top: 0;bottom: 0;right:0;display: none;z-index: 1440;background: rgba(0,0,0,0.8);}
  .l-wrapper {display: flex;width: 100%;height: 100%;}
  .lds-ripple{margin:auto;display:inline-block;position:relative;width:80px;height:80px}.lds-ripple div{position:absolute;border:4px solid #fff;opacity:1;border-radius:50%;animation:lds-ripple 1s cubic-bezier(0,.2,.8,1) infinite}.lds-ripple div:nth-child(2){animation-delay:-.5s}@keyframes lds-ripple{0%{top:36px;left:36px;width:0;height:0;opacity:1}100%{top:0;left:0;width:72px;height:72px;opacity:0}}
  #btn-action-submit{border-radius: 0;height: 34px;width: 80px;font-weight: 700;font-size: 14px;line-height: 21px;}
</style>
