<div class="modal fade" id="modal-gen-driver-card" tabindex="-1" role="dialog" aria-labelledby="driverCardModalLabel" aria-hidden="true">
    <div class='modal-dialog' style="width: fit-content;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="DriverIdModalLabel">Driver Identity Card</h4>
            </div>
            <div class="modal-body">
                <div id='driverCard'>
                  <div id='frontCover'>
                    <div class="left-part">
                      <img id='cardPic' height='175' width='140'/>
                      <div class='vehicle-number-holder'>
                        <div id='cardId' class='cardDriver'></div>
                      </div>
                    </div>
                    <div class="right-part">
                      <div id='cardName' class='cardDriver'></div>
                      <div id='designation' class='cardDriver'>Delivery Associate</div>
                      <div id='cardPhone' class='cardDriver'></div>
                    </div>
                  </div>
                  <div id='backCover'>
                    <div class="left-part">
                      <div id='cardQr'></div>
                      <div id='cardIdBack' class='cardDriver'></div>
                    </div>
                    <div class="right-part">
                      <div id="disclaimer">
                        <div class="disclaimer-header">Disclaimer</div>
                        <div class="disclaimer-body"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer modal-custom-footer">
                  <div id="footer-btn-wrap">
                    <button onclick="downloadCard('driverCard')" type='button' class='btn btn-success font12' id='genIdCardFull'><span class='glyphicon glyphicon-download-alt'></span> Full Badge</button>
                    <button onclick="downloadCard('backCover')" type='button' class='btn btn-success font12' id='genIdCardBack'><span class='glyphicon glyphicon-download-alt'></span> Back Cover</button>
                    <button onclick="downloadCard('frontCover')" type='button' class='btn btn-success font12' id='genIdCardFront'><span class='glyphicon glyphicon-download-alt'></span> Front Cover</button>
                    <button type="button" class="btn btn-warning btn-footer" data-dismiss="modal">Cancel</button>
                  </div>
                  <p id="id-card-message">Name, Photo, Phone Number and Vehicle Registration Number is mandatory for id card.
                  <br>Please, provide missing data to download the ID.</p>
                </div>
            </div>
        </div>
    </div>
</div>
