<div class="trips-holder">

    <div class="no-trips d-flex flex-column align-items-center justify-content-center" *ngIf="trips.length == 0">
        <img class="empty-truck" src="{{constants.images.empty_truck}}" />
        <span>No Trips</span>
    </div>

    <div *ngIf="showMap; else noMap;">
        <div class="trip d-flex flex-column align-items-center justify-content-center" *ngFor="let trip of trips">

            <div class="trip-main-info d-flex align-items-center justify-content-between">
                <span class="direction">{{ trip.header_from }} to {{ trip.header_to }}, {{ trip.city }}</span>
                <app-distance-done [fullWidth]="false" [estimation]="trip.estimated_distance" *ngIf="trip.pickup.status === 'done'"
                    [finished]="trip.finished_distance"></app-distance-done>
                <app-distance-done [fullWidth]="false" [estimation]="trip.pickup_distance" *ngIf="trip.pickup.status !== 'done'"
                    [onWayToPickup]="true" [finished]="trip.pickup_distance_done"></app-distance-done>
            </div>

            <div class="trip-details d-flex align-items-stretch justify-content-start">
                <div class="direction d-flex flex-column align-items-stretch justify-content-start">
                    <app-map [trip]="trip" [scrollwheel]="false"></app-map>
                    <app-stops [trip]="trip"></app-stops>
                </div>

                <div class="right-bar">
                    <app-right-bar [truckType]="trip.truck_type" [driverName]="trip.driver_name" [orderId]="trip.order_id"
                        [driverMobile]="trip.status === 'done' ? '' : trip.driver_mobile" [trackingUrl]="trip.tracking_url"
                        [truckURL]="trip.truck_url" [vehicleNumber]="trip.vehicle_number"></app-right-bar>
                </div>
            </div>

        </div>
    </div>

    <ng-template #noMap>
        <div class="trip-nomap d-flex flex-column align-items-center justify-content-center" *ngFor="let trip of trips"
            [ngStyle]="{'margin-top': trip.status === 'upcoming' ? '3px' : '30px'}">

            <div class="trip-main-info-nomap line-bottom-nomap w-100 d-flex align-items-center justify-content-between">
                <div class="date-direction d-flex align-items-center justify-content-center">
                    <span class="date" *ngIf="trip.date">{{ trip.date }}</span>
                    <span class="direction">{{ trip.header_from }} to {{ trip.header_to }}, {{ trip.city }}</span>
                </div>
                <a routerLink="/track/{{trip.order_id}}" target="_blank" class="button-flat">
                    More details <i class="fa fa-chevron-right"></i>
                </a>
            </div>

            <div class="direction-nomap line-bottom-nomap w-100">
                <app-stops [trip]="trip"></app-stops>
            </div>

            <div class="hor-bar-nomap line-bottom-nomap w-100" *ngIf="!bookingMode">
                <app-right-bar [horizontal]="true" [truckType]="trip.truck_type" [truckURL]="trip.truck_url"
                    [driverName]="trip.driver_name" [driverMobile]="trip.status === 'done' ? '' : trip.driver_mobile"
                    [trackingUrl]="trip.tracking_url" [orderId]="trip.order_id" [vehicleNumber]="trip.vehicle_number"></app-right-bar>
            </div>

            <div class="hor-bar-book-main line-bottom-nomap w-100 d-flex align-items-center justify-content-between"
                *ngIf="bookingMode">

                <div class="hor-bar-book w-100 d-flex align-items-center justify-content-start">
                    <div class="truck-type-hor d-flex align-items-center justify-content-center">
                        <div class="crop" style="background-color: rgb(216, 216, 216)">
                            <img src="{{ trip.truck_url }}" alt="">
                        </div>

                        <span class="truck-type-hor-text">{{ trip.truck_type }}</span>
                    </div>

                    <span class="allocation">Driver will be allocated 2 hours before trip</span>
                </div>

                <div class="d-flex align-items-center justify-content-end">
                    <span class="order-id">Trip ID : {{ trip.order_id }}</span>
                </div>
            </div>

            <div class="action-buttons-nomap line-bottom-nomap w-100 d-flex align-items-center justify-content-between"
                *ngIf="!bookingMode">
                <div class="d-flex align-items-center justify-content-center">
                    <span class="price" [ngClass]="{'paid': trip.payment_status === 'paid'}">
                        {{ blowhorn_service.currency|currencySymbol }}{{ trip.price }}
                    </span>
                    <span class="price"
                        *ngIf="trip.payment_status !== 'paid' && trip.balance_payable && trip.balance_payable > 0">
                        Balance Payable: {{ blowhorn_service.currency|currencySymbol }}{{ trip.balance_payable }}
                    </span>
                    <button class="button-flat button-blue" *ngIf="trip.payment_status != 'paid'"
                    (click)="showPaymentOptions(trip)">Make Payment</button>
                    <button class="button-flat disabled" disabled *ngIf="trip.payment_status == 'paid'">Paid</button>
                    <button class="button-flat disabled" disabled *ngIf="trip.payment_status == 'paid'">
                        {{trip.payment_mode | titlecase}}
                    </button>
                </div>

                <div class="second-group d-flex align-items-center justify-content-center">
                    <!--<button class="button-flat d-none d-sm-none d-md-flex d-lg-flex d-xl-flex" (click)="moveToInvoice(trip.orderId)">Print Invoice</button>-->
                    <button class="button-flat" (click)="show_documents(trip.pod_list)" *ngIf="trip.pod_list.length">
                        Proof of Delivery</button>
                    <a href="/invoice/{{trip.order_id}}" target="_blank" class="button-flat d-none d-sm-none d-md-flex d-lg-flex d-xl-flex">Print
                        Invoice</a>
                    <button class="button-flat" (click)="openShareInvoice(trip)">Email Invoice</button>
                    <!-- <button class="button-flat button-flat-out" (click)="openRebooking(rebook, tripRebookCreated, trip)">Rebook</button>-->
                    <a href="/?rebook={{trip.order_id}}" target="_blank" class="button-flat button-flat-out">Rebook</a>
                </div>
            </div>

            <div class="action-buttons-nomap booking-actions line-bottom-nomap w-100 d-flex align-items-center justify-content-end"
                *ngIf="bookingMode">

                <div class="second-group booking d-flex align-items-center justify-content-center">
                    <button class="button-flat" (click)="cancelBooking(cancelBookingModal, trip)">Cancel Booking</button>
                    <button class="button-flat" (click)="rescheduleBooking(trip)">Reschedule</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="modal-window" *ngIf="show_share_invoice_modal">
    <app-share-invoice
    [trip]="selectedTrip"
    (close_fired)="show_share_invoice_modal=false">
    </app-share-invoice>
</div>

<div class="modal-window" *ngIf="show_payment_options">
    <app-payment
    [trip]="selectedTrip"
    (close_fired)="show_payment_options=false">
    </app-payment>
</div>

<ng-template #cancelBookingModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title question">Are you sure you want to cancel this booking?</h4>
    </div>
    <div class="modal-body d-flex flex-column align-items-start justify-content-center">
        <span class="order-id">Trip ID : {{ selectedTrip.order_id }}</span>

        <app-dropdown-select
        [styles]="cancellation_reason_dropdown_styles"
        [selected_name]="selected_reason_name ? selected_reason_name : 'Select a reason'"
        [selected_id]="selected_reason_id ? selected_reason_id : null"
        [show_cross]="false"
        [items]="cancellationReasonKeyValues"
        (value_changed)="reason_selected($event)">
        </app-dropdown-select>
        <span class="warning-alert w-100">
            <span class="warning">
                <img src="{{ constants.images.warning }}" alt="">
            </span>
            <span class="message">Warning! This cannot be undone.</span>
        </span>
    </div>
    <div class="modal-footer">
        <button type="button" class="button-flat" (click)="d('Cross click')">No</button>
        <button type="button" class="button-flat button-blue" [disabled]="!selected_reason_name" (click)="c('Close click')">Yes</button>
    </div>
</ng-template>

<ng-template #rebook let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Rebook Trip</h4>
    </div>
    <div class="modal-body d-flex flex-column alight-items-center justify-content-center" style="padding:20px 33px 10px 33px;">
        <span class="order-id">Trip ID : {{ selectedTrip.order_id }}</span>
        <!-- <date-picker [(ngModel)]="datetime" mode="datetime" name="date" showClearButton="false" [showClearButton]="false" format="MMM DD YYYY h:mm:ss A"></date-picker> -->
    </div>
    <div class="modal-footer">
        <button type="button" class="button-flat" (click)="d('Cross click')">Cancel</button>
        <button type="button" class="button-flat button-blue" (click)="c('Close click')">Rebook</button>
    </div>
</ng-template>

<ng-template #tripRebookCreated let-c="close" let-d="dismiss">
    <div class="modal-header black with-confirm">
        <div class="header-holder w-100 d-flex flex-column align-items-center justify-content-center">
            <div class="checker w-100 d-flex justify-content-center">
                <img src="{{constants.images.confirm_done}}" alt="">
            </div>
            <div class="head-modal d-flex flex-column align-items-center justify-content-center">
                <h4 class="modal-title">Your trip is rebooked</h4>
                <span class="order-id">Booking ID : {{ bookingId }}</span>
            </div>

        </div>
    </div>
    <div class="modal-body black">
        <div class="qr-section">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <ngx-qrcode [qrc-value]="trackingURL"> </ngx-qrcode>
                <div class="text">
                    <span>Scan to track on phone</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer black">
        <button type="button" class="button-flat button-blue" (click)="c('Close click'); moveTostartPage()">
            Go back to home page
        </button>
    </div>
</ng-template>

<div *ngIf="show_image_viewer" class="image-panel" tabindex="0" #overlay_panel_image (mouseover)="focus_panel($event)"
    (click)="close_fired($event)" (keyup)="close_fired($event)">
    <app-blowhorn-image-viewer [document_links]="document_links" [styles]="document_viewer_styles" (close_fired)="close_fired($event)">
    </app-blowhorn-image-viewer>
</div>
