.trips-holder {
  padding-bottom: 10px;

  .trip {
    margin: 30px 42px;
    box-shadow: 1px 1px 3px 0 #cecece;
    background-color: white;
    position: relative;

    .trip-main-info {
      width: 100%;
      padding: 17px 17px;

      .direction {
        color: #4E5454;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
      }
    }

    .trip-details {
      width: 100%;

      .direction {
        width: calc(100% - 220px);

        app-map {
          //background-color: cadetblue;
          height: 300px;
          max-height: 300px;
          margin: 0;
          overflow: hidden;
        }

        app-stops {
          min-height: 145px;
        }
      }

      .right-bar {
        width: 220px;
      }
    }
  }

  .trip-nomap {
    margin: 30px 42px;
    box-shadow: 1px 1px 4px 0 #cecece;
    background-color: white;
    position: relative;

    .trip-main-info-nomap {
      padding: 13px 15px;

      .date {
        padding: 3px 7px;
        background: var(--primary-color);
        color: #000000;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin-right: 12px;
      }

      .direction {
        color: #4E5454;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
      }

      .button-flat {
        border: none;

        .more-arrow {
          height: 25px;
          -ms-transform: rotate(270deg); /* IE 9 */
          -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
          transform: rotate(270deg);
        }

        &:hover {
          padding: 8px 8px;
        }
      }
    }

    .direction-nomap {
      padding: 13px 15px;
    }

    .hor-bar-nomap {
      padding: 13px 15px;
    }

    .action-buttons-nomap {
      padding: 25px 15px;

      .price {
        padding: 7px 20px 7px 9px;
        background: rgb(255, 230, 238);
        color: #fc3446;
        font-size: 16px;
        font-weight: 800;
        margin-right: 12px;

        &.paid {
          background: rgb(247, 251, 252);
          color: #5e5e5e;

          img {
            opacity: 0.7;
          }
        }

        .rupee {
          height: 13px;
        }
      }

      .second-group button {
        margin: 0 8px;

        &.button-flat-out {
          margin-left: 17px;
        }
      }

    }

    .line-bottom-nomap {
      border-bottom: 1px solid rgb(243, 243, 243);
    }
  }

  .empty-truck {
	height: 161px;
	width: 241px;
	opacity: 0.29;
  }

}

.hor-bar-book-main {
  padding-right: 25px;

  .hor-bar-book {
    padding: 12px 0;

    .allocation {
      color: #4E5454;
      font-size: 16px;
      line-height: 27px;
      font-weight: 300;
    }

    .truck-type-hor {
      margin: 0 30px 0 17px;
    }

    span {
      font-size: 17px;
      font-weight: 600;
      color: #5e5e5e;
    }

    .truck-type-hor-text {
      color: #4E5454;
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
    }

    .crop {
      position: relative;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 10px 0 0;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .order-id {
    color: #4E5454;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    padding: 0;
    white-space: nowrap;
  }
}

.no-trips {
  height: calc(100vh - 161px);

  span {
    font-size: 24px;
    color: gray;
  }
}

.modal-content {
  border-radius: 0;
  box-shadow: 0 1px 12px 1px;
  border: none;
}

.modal-header {
  padding: 20px 0 0 35px;
  border: none;

  h4 {
    font-size: 17px;
    font-weight: 800;
    color: rgb(12, 133, 171);

    &.question {
      color: black;
    }
  }
}

.select-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 15px;
  background-color: white;
  font-weight: 600;
  color: #646464;
  outline: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1%;
}

.option-flat {
  cursor: pointer;
  font-size: 15px;
}

.button-flat {
  padding: 8px 8px;
  border: 1px solid rgba(0, 0, 0, 0.39);
  font-size: 13px;
  background-color: white;
  font-weight: 600;
  color: #646464;
  outline: none;
  cursor: pointer;

  &.button-blue {
    border: 1px solid rgb(128, 230, 247);
    background-color: rgb(247, 251, 252);
    color: rgb(14, 134, 172);
  }

  &:hover {
    background-color: var(--primary-color);
    border: none;
    padding: 9px 9px;
    color: black;
  }

  &[disabled] {
    padding: 6px 8px;
    border:none;
    background-color: white;
    color: #adbcbd;
    font-size: 17px;

    &:hover {
      border:none;
      background-color: white;
      color: #adbcbd;
      cursor: inherit;
      padding: 6px 8px;
    }
  }
}

.button-flat-out {
  padding: 9px 26px;
  background-color: var(--primary-color);
  border: none;
  color: black;
  margin-left: 6px;
  font-weight: 800;

  &:hover {
    padding: 8px 25px;
    background-color: white;
    color: #646464;
    border: 1px solid rgba(0, 0, 0, 0.39);
  }
}

.modal-body {
  padding: 0 33px 0 33px;

  .order-id {
    font-size: 14px;
    font-weight: 400;
    padding: 18px 0 0 0;
  }

  .warning-alert {
    padding: 6px 7px;
    margin: 25px 0;
    background-color: rgb(255, 230, 238);
    color: rgb(216, 55, 69);;

    .warning {
      img {
        height: 50px;
      }
    }
  }
}

.modal-footer {
  border: none;
  padding: 25px 30px;

  .button-flat {
    padding: 7px 21px;
    font-weight: 800;

    &:hover {
      padding: 8px 22px;
    }
  }
}


.modal-header.black {
  padding: 0;
  background-color: rgba(45, 47, 48, 0.94);

  .header-holder {


    .checker {
      position: relative;
      height: 100px;
      background-color: rgb(41, 49, 51);

      img {
        position: absolute;
        margin-top: 35px;
        height: 80px;
      }
    }

    .head-modal {
      padding: 30px 0 20px 0;

      .modal-title {
        color: white;
        font-weight: 200;
        font-size: 22px;
      }
      .order-id {
        color: white;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }
}

.modal-header.with-confirm {
  .checker {

    img {
      position: absolute;
      margin-top: 25px;
      height: 60px;
    }
  }
}

.modal-body.black {
  background-color: rgba(45, 47, 48, 0.94);
  border: none;
}

.modal-footer.black {
  background-color: rgba(45, 47, 48, 0.94);

  button {
    margin: 0 auto;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #b8c0c2;
    padding: 7px 21px;

    &:hover {
      cursor: pointer;
      padding: 7px 21px;
    }
  };

}

.button-with-logo:hover {padding: 0;}

.qr-section {
  margin: 15px 8px;

  img {
    height: 60px;
  }
  .text {
    line-height: 1;
    margin: 20px 0 0 0;

    span {
      color: white;
    }
  }
}

@media screen and (max-width: 767px){
  .button-flat-out {
    margin-left: 0px;
  }

  .trips-holder {
    .trip {
      margin: 10px 0px;

      .trip-details {
        flex-direction: column-reverse;
        align-items: center !important;

        .direction {
          width: calc(100% - 10%);
        }
      }
    }

    .trip-main-info {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
    }
  }

  .trip-nomap {
    flex-direction: column !important;
    margin: 10px 12px !important;

    .trip-main-info-nomap {
      flex-direction: column;

      .date-direction {
        flex-direction: column-reverse;

        .date {
          margin: 10px 0;
        }
      }
    }

    .hor-bar-book {
      flex-direction: column;
      width: 80% !important;
      text-align: center;
    }

    .action-buttons-nomap {
      flex-direction: column !important;

      .second-group {
        flex-direction: row;
        padding: 10px 0;

        button {
          margin: 8px 8px !important;
          width: 100%;
        }
      }
    }

    .booking-actions {
      justify-content: center !important;
      padding: 0 10px !important;

      .booking {
        flex-direction: column;

        .button-flat {
          margin: 7px 5px !important;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 575px){
  .action-buttons-nomap {
    flex-direction: column !important;

    .second-group {
      flex-direction: column !important;
    }
  }
}

@media screen and (max-width: 1050px){
  .hor-bar-book-main {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hor-bar-book {
      justify-content: center !important;
    }
  }
}

.image-panel {
    z-index: 500;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    align-items: center;
    justify-items: center;

    .wrapper {
        width: 65vw;
        height: 70vh;
    }
}
