.error {
    width: 100%;
    height: 100%;
    background-image: url('/static/assets/404.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    a {
        position: fixed;
        top: 50px;
        left: 50px;
        text-decoration: none;
        
        font-weight: 700;
        font-size: 20px;
        color: rgb(97, 238, 128);
        img {
            width: 50px;
            height: 50px
        }
    }
}