.trip-card {
    position: absolute;
    max-width: 200px;
    background: white;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    -moz-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    z-index:1;
    top: 130px;
    
    padding: 0px 10px;
    padding-bottom: 10px;
    .trip-card-count {        
        font-size: 50px;
        color: lightgray;
    }
    .trip-card-info {
        
        color: grey;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .trip-card-link {        
        a {
            color: rgba(10, 120, 153, 0.938);
            
            font-size: 14px;    
            font-weight: bold;    
            text-decoration: underline;
        }
    }
}
.hide-card {
    display: none;
}
.show-card {
    display: 'block';
}
.first-card {
    left: 25px !important;
}