<div class="trip-card"
  [ngClass]="{'show-card': show_card, 'hide-card': !show_card, 'first-card': first_card}"
  [ngStyle]="styles['trip-card-styles']">
  <div class="trip-card-count"
    [ngStyle]="styles['trip-card-count-styles']">
    <ng-container *ngTemplateOutlet="count_template"></ng-container>
  </div>
  <div class="trip-card-info"
    [ngStyle]="styles['trip-card-info-styles']">
    <span> {{ info }}</span>
  </div>
  <div *ngIf="show_link" class="trip-card-link"
    [ngStyle]="styles['trip-card-link-styles']">
    <a [routerLink]="router_link"> {{ link }}</a>
  </div>
</div>