<div class="wrapper">
    <div class="quick-filter">
        <div class="chip"
        *ngFor="let f of quickFilters"
        (click)="applyQuickFilter(f.val)"
        [ngClass]="{'selected': f.val===selected_quick_filter}">
            {{f.label}}
        </div>
        <div class="date-range">
            <div (mouseover)="activate_date_clear($event)"
            (mouseout)="deactivate_date_clear($event)"
            (click)="reset_date($event)">
                <span [ngClass]="{
                'show-cross': date_range[0] && date_range[1],
                'hide-cross': !(date_range[0] && date_range[1]),
                'activate-cross': date_activated,
                'deactivate-cross': !date_activated
                }" class="fa fa-times">
                </span>
            </div>
            <input  class="date-range-field"
            #drp="bsDaterangepicker"
            bsDaterangepicker
            [(ngModel)]="date_range"
            placeholder="Custom Period"
            (ngModelChange)="date_changed($event)"
            [bsConfig]="{
                dateInputFormat: 'DD/MM/YYYY',
                containerClass: 'theme-blue'
            }"
            readonly>
            <span class="fa fa-calendar" (click)="drp.toggle()"></span>
        </div>
        <div class="export-btn-holder">
            <div class="mx-1">
                <app-blowhorn-button [label]="'Sync Order'" (click_fired)="sync_order()"></app-blowhorn-button>
            </div>
            <div class="mx-1" *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_view_home_delivery')">
                <app-blowhorn-button [label]="'Home Delivery'" (click_fired)="show_edit()"></app-blowhorn-button>
                <div *ngIf="show_details" class="modal-window">
                    <app-offline-initial (details_closed)="show_details=false"></app-offline-initial>
                </div>
            </div>
            <div class="mx-1">
                <app-blowhorn-button
                *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_view_route_optimizer')"
                (click_fired)="route_optimiser_selected($event)"
                [label]="'Route Optimiser [BETA]'">
                </app-blowhorn-button>
            </div>
            <div class="mx-1">
                <app-dropdown-select
                [styles]="export_styles"
                [selected_name]="selected_shipment_label_name ? selected_shipment_label_name : 'Print'"
                [selected_id]="selected_shipment_label_id ? selected_shipment_label_id : null"
                [show_cross]="false"
                [items]="print_options"
                (value_changed)="print_changed($event)">
                </app-dropdown-select>
            </div>
            <div class="mx-1">
                <app-dropdown-select
                *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_export_data')"
                [styles]="export_styles"
                [selected_name]="selected_export_name ? selected_export_name : 'Export'"
                [selected_id]="selected_export_id ? selected_export_id : null"
                [show_cross]="false"
                [items]="export_options"
                (value_changed)="export_changed($event)">
                </app-dropdown-select>
            </div>
        </div>
    </div>
    <div class="filter">
        <div class="city">
            <app-dropdown-select
            [styles]="city_styles"
            [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [items]="cities"
            [disabled]="city_disabled || false"
            (value_changed)="city_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="hub">
            <app-dropdown-select
            [styles]="hub_styles"
            [selected_name]="selected_delivery_hub_name ? selected_delivery_hub_name : 'All Hubs'"
            [selected_id]="selected_delivery_hub_id ? selected_delivery_hub_id : null"
            [items]="delivery_hubs"
            [disabled]="delivery_hub_disabled || false"
            (value_changed)="delivery_hub_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="hub">
            <app-dropdown-select
            [styles]="hub_styles"
            [selected_name]="selected_pickup_hub_name ? selected_pickup_hub_name : 'All Hubs'"
            [selected_id]="selected_pickup_hub_id ? selected_pickup_hub_id : null"
            [items]="pickup_hubs"
            [disabled]="pickup_hub_disabled || false"
            (value_changed)="pickup_hub_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="status">
            <app-dropdown-select
            [styles]="status_styles"
            [selected_name]="selected_status ? selected_status : 'All Statuses'"
            [selected_id]="selected_status_id ? selected_status_id : null"
            [items]="statuses"
            (value_changed)="status_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="order">
            <div (mouseover)="activate_order_clear($event)"
                (mouseout)="deactivate_order_clear($event)"
                (click)="reset_order($event)">
                <span [ngClass]="{
                    'show-cross': order_number,
                    'hide-cross': !order_number,
                    'activate-cross': order_activated,
                    'deactivate-cross': !order_activated
                }" class="fa fa-times">
                </span>
            </div>
            <input class="order-no"
                type="text"
                placeholder="Order/Ref number"
                [(ngModel)]="order_number"
                (ngModelChange)="order_changed($event)">
        </div>
        <app-batch-id-lookup class="batch"
            (batch_id_changed)="batch_changed($event)">
        </app-batch-id-lookup>
        <div class="search-btn-holder">
            <app-blowhorn-button (click_fired)="search()" [label]="'Search'">
            </app-blowhorn-button>
        </div>
    </div>
</div>
