<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{heading}}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content">
        <div id="barcode-container">
            <ngx-barcode6
            [bc-format]="format"
            [bc-value]="value"
            [bc-display-value]="show_value"
            [bc-height]="height"
            ></ngx-barcode6>
        </div>
        <div class="btn-grp">
            <app-blowhorn-button
            [label]="'download'"
            [type]="'info'"
            [disabled]="disable.download"
            (click_fired)="download_barcode()">
            </app-blowhorn-button>
        </div>
    </div>
</div>
