.wrapper {
    background: #fff;
    position: relative;
    min-width: 30vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    .modal-header {
        display: flex;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .content {
        display: flex;
        flex-direction: column;
        padding: 15px;
        #barcode-container {
            justify-content: center;
            display: flex;
        }
        .btn-grp {
            display: flex;
            justify-content: space-evenly;
            padding: 15px 0px 0 0;
        }
    }
}
