<!-- <div class="feedback-modal">
  <div class="modal-header">
    <div class="modal-title-text">FeedBack Form</div>
    <div (click)="activeModal.dismiss('Cross click')">
        <span class="fa fa-times cross"
        (click)="activeModal.dismiss('Cross click')"></span>
    </div>
  </div>

  <div class="feedback-modal-body">
    <div class="feedback-content-wrapper">
      <textarea id="feedback"
        name="customer_feedback" rows="5" cols="50" maxlength="255" [(ngModel)]='user_feedback' required>
      </textarea>
    </div>
    </div>
  
  <div class="error" *ngIf="formError">
    {{ formError }}
  </div>

  <mat-progress-bar mode="indeterminate" *ngIf="request_loader"></mat-progress-bar>    
    
  <div class="modal-footer" >
        <app-blowhorn-button
            [label]="submit_button.label"
            [type]="submit_button.type"
            [disabled]="submit_button.disabled"
            (click_fired)="submit_feedback()">
        </app-blowhorn-button>

        <span class="clear"></span>
        <app-blowhorn-button
            [label]="dismiss_button.label"
            [disabled]="dismiss_button.disabled"
            (click_fired)="activeModal.dismiss('Cross click')">
        </app-blowhorn-button>
        <span class="clear"></span>
    </div>

</div> -->

<div class="wrapper centered" [ngClass]="{'sent': sent}">
  <article class="letter">
    <div class="side">
      <h1>We would love to hear your feedback</h1>
      <p>
        <textarea placeholder="Your message" [(ngModel)]='user_feedback' required></textarea>
      </p>
    </div>
    <div class="side">
      <div class="buttonwrap">
      <p>
        <button id="sendLetter" (click)="submit_feedback()" [disabled]="user_feedback === ''">Send</button>
      </p>
      </div>
    </div>
  </article>
  <div class="envelope front"></div>
  <div class="envelope back"></div>
  <p class="result-message centered">Thank you for your message</p>
</div>
