.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: flex-start;
    justify-items: start;
    background-color: #fff;
    border-bottom: 1px solid rgb(226, 234, 236);
    .col {
        padding: 10px 20px;
        font-size: 14px;
        line-height: 21px;
        .main-row {
            color: #303232;
            padding: 0px;
            overflow-wrap: break-word;
            .link {
                cursor: pointer;
                color: rgb(6, 58, 170);
                text-decoration: underline;
                &:hover {
                    color: #5283ec;
                }
            }
            &.active {
                color: green;
            }
            &.inactive {
                color: red;
            }
        }
        .sub-row {
            padding: 0px;
            color: #757E7F;
        }
        .fa-times {
            color: #f00;
            font-weight:bold;
        }
        .fa-check {
            color: rgb(39, 255, 10);
            font-weight: bold;
        }
        &.is-admin-col {
            padding-left: 18%;
        }
        &.email-col {
            word-wrap: break-word;
        }
        .loader-container {
            padding: 25%;
        }
    }
    .btn-grp {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            border: 1px solid #C9D2D6;
            padding: 5px 10px;
            border-radius: 0px;
            margin: auto 5px;
            color: #303232;
            font-size: 14px;
            line-height: 21px;
            &:hover {
                background-color: #303232;
                border: 1px solid #303232;
                color: white;
            }
        }
    }
}
