<div class="wrapper">
    <div class="col name-col">
        <div class="main-row">
            {{ group.name }}
        </div>
    </div>
    <div class="col name-col">
        <div class="main-row">
            {{ group.permissions.length }}
        </div>
    </div>
    <div class="col name-col">
        <div class="main-row cursor-pointer">
            <i class="fa fa-edit" (click)="showGroupEdit()"></i>
        </div>
    </div>
</div>
