{% load static %}

{% block css %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
<style>
.box, .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 97vh;
}

.box {
  flex-direction: column;
  padding: 15px;
  background: #f1f3f6;
  border-radius: 20px;
  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0), inset 0 0 20px rgba(255, 255, 255, 0), 7px 7px 15px rgba(55, 84, 170, 0.15), -7px -7px 20px white, inset 0px 0px 4px rgba(255, 255, 255, 0.2);
}

.btn-wrapper {
  margin-top: 1.2rem;
}
.btn-wrapper .cta {
  border-radius: 29px;
  background: #4fc1e2;
  color: #fff;
  box-shadow:  5px 5px 10px #bebebe, -5px -5px 10px #ffffff;
  padding: 15px 20px;
  cursor: pointer;
}

.btn-wrapper .cta:hover {
  box-shadow:  5px 5px 10px #4fc1e2, -20px -20px 92px #ffffff;
}

/* Id card */
  #driverCard {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .cardDriver {
    font-family: "Ubuntu";
    text-align: center;
    font-weight: bold;
    color: black;
  }

  #frontCover {
    height: 278px;
    width: 454px;
    background-size: cover;
    display: flex;
  }

  #frontCover .left-part {
    width: 54%;
    position: relative;
    padding-left: 6.5%;
    text-align: center;
  }

  #frontCover .right-part {
    width: 44%;
    position: relative;
    text-align: center;
  }

  .vehicle-number-holder {
    position: absolute;
    bottom: 7%;
    width: 88%;
  }

  #cardPic {
    position: absolute;
    left: 68px;
    top: 35px;
  }

  #cardId {
    position: relative;
    bottom: 7%;
    color: white;
  }

  #cardName {
    position: relative;
    top: 25%;
  }

  #designation {
    position: relative;
    top: 24%;
    font-weight: normal;
  }

  #cardPhone {
    position: relative;
    top: 62%;
  }

  #backCover {
    height: 278px;
    width: 454px;
    background-size: cover;
    position: relative;
  }

  #cardQr {
    position: absolute;
    left: 7%;
    top: 10%;
  }

  #cardIdBack {
    position: absolute;
    left: 12%;
    bottom: 15%;
    color: #fff;
  }

  #cardQr canvas {
    width: 180px;
    height: 180px;
  }

  #id-card-message {
    color: red;
    font-weight: bold;
    text-align: left;
  }

  .history p {
    margin: 0;
  }

  .history th,
  .history td {
    font-size: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
    max-width: 80px !important;
  }

  #disclaimer {
    color: #fff;
    position: absolute;
    right: 2%;
    bottom: 5%;
    width: 40%;
    text-align: center;
  }
  #disclaimer .disclaimer-header {
    text-align: center;
    font-size: 10px;
    font-weight: 600;
  }

  #disclaimer .disclaimer-body {
    font-size: 8px;
  }

  .btn-wrapper {
    padding: 15px;
  }

  .error-message {
    color: #cd5c5c;
    padding: 12px;
    border: 1px solid red;
    margin-top: 15px;
    border-radius: 8px;
  }

  @media print {
    #driverCard {
      -webkit-print-color-adjust: exact;
      color-adjust: exact;
    }
    .btn-wrapper {
      display: none;
    }
    .box {
      background: #fff;
    }
  }
</style>
{% endblock css %}

{% block content %}
<div class='container'>
  <div class='box'>
    <div class='text'>
      <div id="driverCard">
        <div id="frontCover" style="background-image: url({{frontcover}});">
          <div class="left-part">
            <img id="cardPic" height="175" width="140" src="{{avatar_url}}" />
            <div class="vehicle-number-holder">
              <div id="cardId" class="cardDriver">{{registration_number}}</div>
            </div>
          </div>
          <div class="right-part">
            <div id="cardName" class="cardDriver">{{driver_name}}</div>
            <div id="designation" class="cardDriver">Delivery Associate</div>
            <div id="cardPhone" class="cardDriver">{{phone_number}}</div>
          </div>
        </div>
        <div id="backCover" style="background-image: url({{backcover}});">
          <div class="left-part">
            <div id="cardQr"></div>
            <div id="cardIdBack" class="cardDriver">{{phone_number}}</div>
          </div>
          <div class="right-part">
            <div id="disclaimer">
              <div class="disclaimer-header">Disclaimer</div>
              <div class="disclaimer-body">{{disclaimer}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if show_download %}
    <div class='btn-wrapper'>
      <div class='cta' onclick="downloadPDF()">Download as PDF</button>
    </div>
    {% else %}
    <div class="error-message">
      <p>Name, Photo, Phone Number and Vehicle Registration Number is mandatory for id card.
      <br>Please, update missing data to download.</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'website/js/lib/jquery.min.js' %}"></script>
<script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
<script src="{% static 'website/js/lib/jquery.qrcode.min.js' %}"></script>
<script src="{% static 'website/js/lib/dom-to-img.js' %}"></script>
<script>
  let driver_name = "{{driver_name|safe}}";
  let avatar_url = "{{avatar_url|safe}}";
  let phone_number = "{{phone_number|safe}}";
  let registration_number = "{{registration_number|safe}}";
  let build = "{{build|safe}}";
  let brand_name = "{{brand_name|safe}}";
  let qr_value = "{{qr_value|safe}}";
  let disclaimer = "{{disclaimer|safe}}";
  if (!driver_name || !avatar_url || !phone_number || !registration_number) {
    $("#footer-btn-wrap").hide();
    $("#id-card-message").show();
  }
  $("#cardQr").qrcode(qr_value);
  function downloadPDF() {
    print();
  }
</script>
{% endblock javascript %}
