
{% load static %}

{% block content %}

<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </head>
<body>
<div class="container-fluid" style="box-shadow: 0 8px 6px -8px rgba(0,0,0,.3);min-height: 30px;
    padding: 10px;">
  <div style="display:flex; justify-content: space-between;">
    <div>
      <a href="#" title="Blowhorn">
        <img src="https://s3.us-east-2.amazonaws.com/enterprise-blowhorn/blowhorn_logo_black.png"
             width="100" height="26" alt="Blowhorn logo" class="img-responsive blowhorn_log">
      </a>
    </div>
    <div>
      <div style="margin-top:4%;font-size:12px;font-weight:600;">Tax Deducted at Source (TDS)</div>
    </div>
  </div>

</div>
<div class="container">
  <div class="row" style="margin-bottom:10px; margin-top:20px;">To</div>
  <div style="padding-left: 20px;margin-bottom:20px;">
    Catbus InfoLabs Pvt. Ltd., <br>
     511, 8th Cross,<br>
     J P Nagar Third Phase,<br>
    Bangalore - 560078, Karnataka INDIA
  </div>

 <div style="text-align:center;font-weight:600;">
   Sub: Declaration for Non-deduction of Tax Deducted at Source (TDS) under Section 194 C (6) of the Income tax Act, 1961
 </div>
  <hr>
  <div>
   This is to certify that:
  </div>
  <ol>
    <li>{{driver.name}} is a
      sole proprietor</li>

<li>The Permanent Account Number (PAN) of {{driver.name}}
  is {{driver.pan}}.</li>

<li>{{driver.name}} is engaged in the
  business of plying, hiring or leasing of goods carriage for its business.</li>

<li>{{driver.name}}
  does not own (whether Registered or as Beneficial Owner) more than ten goods carriage as on date.</li>

<li>If the number of goods carriages owned (whether registered or as beneficial owner) by {{driver.name}} exceeds
  ten at any time during the Financial Year {{financial_year}}, then {{driver.name}}
  undertake to intimate Catbus Infolabs Private Ltd (Catbus) forthwith in writing of this fact.</li>

    <li>In the event of any default, {{driver.name}} undertakes to indemnify
      Catbus for any costs, taxes, expenses and any other liability that may arise upon you.</li>
  </ol>

  <div style="margin-top:50px;">
I,{{driver.name}}, do hereby make the above declaration
    as required under sub-section (6) of Section 194C of Income Tax Act 1961 for
    receiving payments from your company without deduction of tax at source (TDS).
    The above points of the Declaration as stated are true and correct to my knowledge
    and belief and no part of it is false and nothing material has been concealed in it.
</div>

<!--___________________________________-->
<!--(Name and Designation of the Declarant)-->

<!--Date:-->

<!--Place:-->
  </div>
</body>
{% endblock content %}
</html>
