.card-header {
  font-size: 20px;
  border: none;
  border-radius: 8px 8px 0px 0px;
  background-color: white;
  text-align: left;
  font-weight: bold;
}
.card {
  border: none;
}

.table {
  width: auto;
}

th {
  width: 255px;
  text-align: center;
  background-color: rgba(168, 183, 206, 0.219);
  font-size: 18px;
  margin-top: 15px;
  padding-top: 19px;
}
td {
  text-align: center;
}

.error {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  span {
    color: red;
  }
}
