<div class="wrapper">
  <div class="card">
    <div class="card-header">Hub Wise Performance</div>
    <div class="card-body">
      <div class="table table-bordered">
        <div *ngIf="data.length <= 0" class="error">
          <span>{{error_msg}}</span>
        </div>
        <table *ngIf="data.length >0">
          <thead>
            <tr>
              <th>Hub Name</th>
              <th *ngFor="let item of slot">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data">
              <td>{{row.hub}}</td>
              <td *ngFor="let slot of row.slots">
                {{slot}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>