<!-- You've been invited to join {{ organization|safe }} on {{ domain.name }} by {% if sender %} {{ sender.name|safe }} ({{ sender.email|safe }}). {% else %} Blowhorn team. {% endif %}

Follow this link to create your user account and set your password.

{{ base_url }}{% url "invitations_register" user.id token %}

If you are unsure about this link please contact the sender. This link will expire in {{ expiry_days }} days. -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <!--[if gte mso 9]>
		<xml>
			<o:OfficeDocumentSettings>
				<o:AllowPNG/>
				<o:PixelsPerInch>96</o:PixelsPerInch>
			</o:OfficeDocumentSettings>
		</xml>
		<![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="x-apple-disable-message-reformatting">
    <!--[if !mso]>
					<!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--
						<![endif]-->
    <title></title>
    <style type="text/css">
      table,
      td {
        color: #000000;
      }

      a {
        color: #54bcd6;
        ;
        text-decoration: underline;
      }

      @media (max-width: 480px) {
        #u_content_image_2 .v-src-width {
          width: 800px !important;
        }

        #u_content_image_2 .v-src-max-width {
          max-width: 75% !important;
        }

        #u_content_image_6 .v-container-padding-padding {
          padding: 10px !important;
        }

        #u_content_image_4 .v-container-padding-padding {
          padding: 10px !important;
        }

        #u_content_image_7 .v-container-padding-padding {
          padding: 10px !important;
        }
      }

      @media only screen and (min-width: 670px) {
        .u-row {
          width: 650px !important;
        }

        .u-row .u-col {
          vertical-align: top;
        }

        .u-row .u-col-33p33 {
          width: 216.645px !important;
        }

        .u-row .u-col-33p34 {
          width: 216.71000000000004px !important;
        }

        .u-row .u-col-35p22 {
          width: 228.93px !important;
        }

        .u-row .u-col-64p78 {
          width: 421.07px !important;
        }

        .u-row .u-col-66p67 {
          width: 433.355px !important;
        }

        .u-row .u-col-100 {
          width: 650px !important;
        }
      }

      @media (max-width: 670px) {
        .u-row-container {
          max-width: 100% !important;
          padding-left: 0px !important;
          padding-right: 0px !important;
        }

        .u-row .u-col {
          min-width: 320px !important;
          max-width: 100% !important;
          display: block !important;
        }

        .u-row {
          width: calc(100% - 40px) !important;
        }

        .u-col {
          width: 100% !important;
        }

        .u-col>div {
          margin: 0 auto;
        }

        .no-stack .u-col {
          min-width: 0 !important;
          display: table-cell !important;
        }

        .no-stack .u-col-33p33 {
          width: 33.33% !important;
        }

        .no-stack .u-col-35p22 {
          width: 35.22% !important;
        }

        .no-stack .u-col-64p78 {
          width: 64.78% !important;
        }

        .no-stack .u-col-66p67 {
          width: 66.67% !important;
        }
      }

      body {
        margin: 0;
        padding: 0;
      }

      table,
      tr,
      td {
        vertical-align: top;
        border-collapse: collapse;
      }

      p {
        margin: 0;
      }

      .ie-container table,
      .mso-container table {
        table-layout: fixed;
      }

      * {
        line-height: inherit;
      }

      a[x-apple-data-detectors='true'] {
        color: inherit !important;
        text-decoration: none !important;
      }

      @media (max-width: 480px) {
        .hide-desktop {
          display: block !important;
        }

        table.hide-desktop {
          display: table !important;
        }
      }
    </style>
    <!--[if !mso]>
						<!-->
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet" type="text/css">
    <!--
								<![endif]-->
  </head>
  <body class="clean-body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #F8FDFD;color: #000000">
    <!--[if IE]>
								<div class="ie-container">
									<![endif]-->
    <!--[if mso]>
									<div class="mso-container">
										<![endif]-->
    <table style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;min-width: 320px;Margin: 0 auto;background-color: #F8FDFD;width:100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr style="vertical-align: top">
          <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
            <!--[if (mso)|(IE)]>
														<table width="100%" cellpadding="0" cellspacing="0" border="0">
															<tr>
																<td align="center" style="background-color: #d0ecf3;">
																	<![endif]-->
            <div class="u-row-container" style="padding: 5px 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																				<table width="100%" cellpadding="0" cellspacing="0" border="0">
																					<tr>
																						<td style="padding: 5px 0px;background-color: transparent;" align="center">
																							<table cellpadding="0" cellspacing="0" border="0" style="width:650px;">
																								<tr style="background-color: #ffffff;">
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="650" style="width: 650px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/logo.png" alt="Blowhorn" title="Blowhorn" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 26%;max-width: 163.8px;" width="163.8" class="v-src-width v-src-max-width" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																													<!-->
                      </div>
                      <!--
																												<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																									</td>
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																				<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																				<table width="100%" cellpadding="0" cellspacing="0" border="0">
																					<tr>
																						<td style="padding: 0px;background-color: transparent;" align="center">
																							<table cellpadding="0" cellspacing="0" border="0" style="width:650px;">
																								<tr style="background-color: transparent;">
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="650" style="width: 650px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top; background-color: #ffffff">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 0px;font-family:verdana,geneva;" align="left">
                                <div style="color: #333333; line-height: 140%; text-align: left; word-wrap: break-word;">
                                  <p style="line-height: 140%; text-align: center; font-size: 14px;">
                                    <span style="color: #10547e; font-size: 14px; line-height: 19.6px; font-family: verdana, geneva;">
                                      <strong>
                                        <span style="font-size: 28px; line-height: 39.2px;">Welcome to Blowhorn</span>
                                      </strong>
                                    </span>
                                  </p>
                                  <p style="line-height: 140%; text-align: center; font-size: 14px;">
                                    <span style="color: #10547e; font-size: 14px; line-height: 19.6px; font-family: verdana, geneva;">
                                      <span style="font-size: 16px; line-height: 39.2px;">Your one stop shop for all your delivery needs. </span>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table id="u_content_image_2" style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:0px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/image-7.png" alt="Onboarding" title="Onboarding" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 65%;max-width: 422.5px;" width="422.5" class="v-src-width v-src-max-width" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																													<!-->
                      </div>
                      <!--
																												<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																									</td>
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																				<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																				<table width="100%" cellpadding="0" cellspacing="0" border="0">
																					<tr>
																						<td style="padding: 0px;background-color: transparent;" align="center">
																							<table cellpadding="0" cellspacing="0" border="0" style="width:650px;">
																								<tr style="background-color: transparent;">
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="650" style="background-color: #ffffff;width: 650px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;">
                    <div style="background-color: #ffffff;width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:30px 10px;font-family:verdana,geneva;" align="left">
                                <div style="line-height: 180%; text-align: center; word-wrap: break-word;">
                                  <p style="font-size: 14px; line-height: 180%; text-align: left;">
                                    <span style="font-family: verdana, geneva; font-size: 14px; line-height: 25.2px;">
                                      <span style="font-size: 14px; line-height: 25.2px;">Hi there,</span>
                                    </span>
                                  </p>
                                  <p style="font-size: 14px; line-height: 180%; text-align: left;">&nbsp;</p>
                                  <p style="font-size: 14px; line-height: 180%; text-align: left;">
                                    <span style="font-family: verdana, geneva; font-size: 14px; line-height: 25.2px;">
                                      <span style="font-size: 14px; line-height: 25.2px;">You've been invited to join {{ organization|safe }} on {{ domain.name }} by {% if sender %} {{ sender.name|safe }} ({{ sender.email|safe }}). {% else %} Blowhorn team. {% endif%} </span>
                                    </span>
                                  </p>
                                  <p style="font-size: 14px; line-height: 180%; text-align: center;">&nbsp;</p>
                                  <p style="font-size: 14px; line-height: 180%; text-align: left;">
                                    <span style="font-family: verdana, geneva; font-size: 14px; line-height: 25.2px;">
                                      <span style="font-size: 14px; line-height: 25.2px;">Click on the link below to create your user account and set your password.</span>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px 30px;font-family:verdana,geneva;" align="left">
                                <div align="center">
                                  <!--[if mso]>
																																		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing: 0; border-collapse: collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;font-family:verdana,geneva;">
																																			<tr>
																																				<td style="font-family:verdana,geneva;" align="center">
																																					<v:roundrect
																																						xmlns:v="urn:schemas-microsoft-com:vml"
																																						xmlns:w="urn:schemas-microsoft-com:office:word" href="https://wmslite.blowhorn.com/" style="height:42px; v-text-anchor:middle; width:630px;" arcsize="0%" stroke="f" fillcolor="#79d0e7">
																																						<w:anchorlock/>
																																						<center style="color:#FFFFFF;font-family:verdana,geneva;">
																																							<![endif]-->
                                  <a href='{{ base_url }}{% url "invitations_register" user.id token %}' target="_blank" style="box-sizing: border-box;display: inline-block;font-family:verdana,geneva;text-decoration: none;-webkit-text-size-adjust: none;text-align: center;color: #FFFFFF; background-color: #79d0e7; border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; width:auto; max-width:100%; overflow-wrap: break-word; word-break: break-word; word-wrap:break-word; mso-border-alt: none;border-top-color: #CCC; border-top-style: solid; border-top-width: 0px; border-left-color: #CCC; border-left-style: solid; border-left-width: 0px; border-right-color: #CCC; border-right-style: solid; border-right-width: 0px; border-bottom-color: #CCC; border-bottom-style: solid; border-bottom-width: 0px;">
                                    <span style="display:block;padding:10px 20px;line-height:140%;">
                                      <span style="font-size: 16px; line-height: 22.4px;">
                                        <span style="line-height: 22.4px; font-size: 16px;">Accept Invite</span>
                                      </span>
                                    </span>
                                  </a>
                                  <!--[if mso]>
																																						</center>
																																					</v:roundrect>
																																				</td>
																																			</tr>
																																		</table>
																																		<![endif]-->
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px 10px;font-family:verdana,geneva;" align="left">
                                <div style="line-height: 180%; text-align: center; word-wrap: break-word;">
                                  <p style="font-size: 14px; line-height: 180%; text-align: left;">
                                    <span style="font-family: verdana, geneva; font-size: 14px; line-height: 25.2px;">
                                      <span style="font-size: 14px; line-height: 25.2px;">If you are unsure about this link please contact the sender. This link will expire in {{ expiry_days }} days.</span>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																													<!-->
                      </div>
                      <!--
																												<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																									</td>
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																				<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																				<table width="100%" cellpadding="0" cellspacing="0" border="0">
																					<tr>
																						<td style="padding: 0px;background-color: transparent;" align="center">
																							<table cellpadding="0" cellspacing="0" border="0" style="width:650px;">
																								<tr style="background-color: #ffffff;">
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="650" style="width: 650px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:22px 10px 10px;font-family:verdana,geneva;" align="left">
                                <div style="color: #333333; line-height: 140%; text-align: left; word-wrap: break-word;">
                                  <p style="font-size: 14px; line-height: 140%; text-align: center;">
                                    <span style="font-size: 18px; line-height: 25.2px; color:#10547e">
                                      <strong>PRODUCT FEATURES</strong>
                                    </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:0px 10px 25px;font-family:verdana,geneva;" align="left">
                                <table height="0px" align="center" border="0" cellpadding="0" cellspacing="0" width="10%" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;border-top: 3px solid #eb2ba8;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                  <tbody>
                                    <tr style="vertical-align: top">
                                      <td style="word-break: break-word;border-collapse: collapse !important;vertical-align: top;font-size: 0px;line-height: 0px;mso-line-height-rule: exactly;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%">
                                        <span>&#160;</span>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																													<!-->
                      </div>
                      <!--
																												<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																									</td>
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																								</tr>
																							</table>
																						</td>
																					</tr>
																				</table>
																				<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																				<table width="100%" cellpadding="0" cellspacing="0" border="0">
																					<tr>
																						<td style="padding: 0px;background-color: transparent;" align="center">
																							<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																								<tr style="background-color: transparent;">
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:40px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhorn.com/static/email/imgmw.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 220px;" width="220" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																													<!-->
                      </div>
                      <!--
																												<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																									</td>
																									<![endif]-->
                  <!--[if (mso)|(IE)]>
																									<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																										<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																												<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																													<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div>
                                  <span style="font-size:14px;">
                                    <strong>
                                      <span style="font-weight:900"> Micro-Warehousing & Distribution </span>
                                    </strong>
                                  </span>
                                  <br>
                                  <br>
                                  <span style="font-size:13px;color:#697b7c">Leverage our intricate network of Micro-warehouses to grow your business.</span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																															<!-->
                      </div>
                      <!--
																														<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																											</td>
																											<![endif]-->
                  <!--[if (mso)|(IE)]>
																										</tr>
																									</table>
																								</td>
																							</tr>
																						</table>
																						<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																						<table width="100%" cellpadding="0" cellspacing="0" border="0">
																							<tr>
																								<td style="padding: 0px;background-color: transparent;" align="center">
																									<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																										<tr style="background-color: transparent;">
																											<![endif]-->
                  <!--[if (mso)|(IE)]>
																											<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																												<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																														<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																															<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:50px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhorn.com/static/email/imgdemand.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 200px;" width="200" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																															<!-->
                      </div>
                      <!--
																														<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																											</td>
																											<![endif]-->
                  <!--[if (mso)|(IE)]>
																											<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																												<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																														<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																															<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div>
                                  <span style="font-size:14px;">
                                    <strong>
                                      <span style="font-weight:900"> On Demand Transportation </span>
                                    </strong>
                                  </span>
                                  <br>
                                  <br>
                                  <span style="font-size:13px;color:#697b7c"> Meet consumer’s complex delivery needs with our on demand deliveries solution with state of the art tracking facility. </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																	<!-->
                      </div>
                      <!--
																																<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																													</td>
																													<![endif]-->
                  <!--[if (mso)|(IE)]>
																												</tr>
																											</table>
																										</td>
																									</tr>
																								</table>
																								<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																								<table width="100%" cellpadding="0" cellspacing="0" border="0">
																									<tr>
																										<td style="padding: 0px;background-color: transparent;" align="center">
																											<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																												<tr style="background-color: transparent;">
																													<![endif]-->
                  <!--[if (mso)|(IE)]>
																													<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																														<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																	<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:40px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhorn.com/static/email/imgscheduled.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 220px;" width="220" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																	<!-->
                      </div>
                      <!--
																																<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																													</td>
																													<![endif]-->
                  <!--[if (mso)|(IE)]>
																													<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																														<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																	<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div>
                                  <span style="font-size:14px">
                                    <strong>
                                      <span style="font-weight:900;"> Scheduled Transportation </span>
                                    </strong>
                                  </span>
                                  <br>
                                  <br>
                                  <span style="font-size:13px;color:#697b7c"> Our planning and scheduling solution is designed to help you scale up your business with increased operational efficiency. </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																			<!-->
                      </div>
                      <!--
																																		<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																															</td>
																															<![endif]-->
                  <!--[if (mso)|(IE)]>
																														</tr>
																													</table>
																												</td>
																											</tr>
																										</table>
																										<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																										<table width="100%" cellpadding="0" cellspacing="0" border="0">
																											<tr>
																												<td style="padding: 0px;background-color: transparent;" align="center">
																													<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																														<tr style="background-color: transparent;">
																															<![endif]-->
                  <!--[if (mso)|(IE)]>
																															<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																		<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																			<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:40px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://blowhorn.com/static/email/imghyperlocal.png" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 220px;" width="220" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																			<!-->
                      </div>
                      <!--
																																		<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																															</td>
																															<![endif]-->
                  <!--[if (mso)|(IE)]>
																															<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																		<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																			<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div>
                                  <span style="font-size:14px;">
                                    <strong>
                                      <span style="font-weight:900"> Hyperlocal Solutions </span>
                                    </strong>
                                  </span>
                                  <br>
                                  <br>
                                  <span style="font-size:13px;color:#697b7c"> We have created a specific solution to enable quick deliveries of essentials in every neighbourhood. </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																					<!-->
                      </div>
                      <!--
																																				<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																																	</td>
																																	<![endif]-->
                  <!--[if (mso)|(IE)]>
																																</tr>
																															</table>
																														</td>
																													</tr>
																												</table>
																												<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																												<table width="100%" cellpadding="0" cellspacing="0" border="0">
																													<tr>
																														<td style="padding: 0px;background-color: transparent;" align="center">
																															<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																																<tr style="background-color: transparent;">
																																	<![endif]-->
                  <!--[if (mso)|(IE)]>
																																	<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																		<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																				<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																					<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:20px;font-family:verdana,geneva;" align="left">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                  <tr>
                                    <td style="padding-right: 0px;padding-left: 0px;" align="center">
                                      <img align="center" border="0" src="https://docs.blowhorn.com/enterprise_features_1_cd87751456.jpg" alt="Image" title="Image" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: inline-block !important;border: none;height: auto;float: none;width: 100%;max-width: 260px;" width="260" />
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																					<!-->
                      </div>
                      <!--
																																				<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																																	</td>
																																	<![endif]-->
                  <!--[if (mso)|(IE)]>
																																	<td align="center" width="300" style="width: 300px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																		<![endif]-->
                  <div class="u-col u-col-50" style="max-width: 320px;min-width: 300px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																				<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																					<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div>
                                  <span style="font-size:14px;">
                                    <strong>
                                      <span style="font-weight:500,color:#697b7c"> Reporting & Analytics </span>
                                    </strong>
                                  </span>
                                  <br>
                                  <br>
                                  <span style="font-size:13px;color:#697b7c"> Gain advantage with our special tools and features. </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																							<!-->
                      </div>
                      <!--
																																						<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																																			</td>
																																			<![endif]-->
                  <!--[if (mso)|(IE)]>
																																		</tr>
																																	</table>
																																</td>
																															</tr>
																														</table>
																														<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px ;background-color: rgba(255,255,255,0)">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																														<table width="100%" cellpadding="0" cellspacing="0" border="0">
																															<tr>
																																<td style="padding: 0px 10px 10px;background-color: rgba(255,255,255,0);" align="center">
																																	<table cellpadding="0" cellspacing="0" border="0" style="width:600px;">
																																		<tr style="background-color: transparent;">
																																			<![endif]-->
                  <!--[if (mso)|(IE)]>
																																			<td align="center" width="600" style="width: 600px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																				<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 600px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																						<!-->
                      <div style="padding: 30px 10px 10px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																							<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div style="line-height: 140%; text-align: left; word-wrap: break-word;">
                                  <p style="font-size: 14px; line-height: 140%;">
                                    <span style="color: #000000; font-size: 14px; line-height: 19.6px;">We would love to hear from you if you have <a href="mailto:shoutout@blowhorn.com?subject=Invitation%20Mail%20Query&amp;body=" target="_blank" rel="noopener">queries</a> about our product or <a href="mailto:shoutout@blowhorn.com?subject=WMS%20Customer%20Feedback&amp;body=" target="_blank" rel="noopener">feedback</a> for us to help you better.&nbsp; </span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																							<!-->
                      </div>
                      <!--
																																						<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																																			</td>
																																			<![endif]-->
                  <!--[if (mso)|(IE)]>
																																		</tr>
																																	</table>
																																</td>
																															</tr>
																														</table>
																														<![endif]-->
                </div>
              </div>
            </div>
            <div class="u-row-container" style="padding: 0px;background-color: transparent">
              <div class="u-row" style="Margin: 0 auto;min-width: 320px;max-width: 650px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #10547e;">
                <div style="border-collapse: collapse;display: table;width: 100%;background-color: transparent;">
                  <!--[if (mso)|(IE)]>
																														<table width="100%" cellpadding="0" cellspacing="0" border="0">
																															<tr>
																																<td style="padding: 0px;background-color: transparent;" align="center">
																																	<table cellpadding="0" cellspacing="0" border="0" style="width:650px;">
																																		<tr style="background-color: #10547e;">
																																			<![endif]-->
                  <!--[if (mso)|(IE)]>
																																			<td align="center" width="650" style="width: 650px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top">
																																				<![endif]-->
                  <div class="u-col u-col-100" style="max-width: 320px;min-width: 650px;display: table-cell;vertical-align: top;">
                    <div style="width: 100% !important;">
                      <!--[if (!mso)&(!IE)]>
																																						<!-->
                      <div style="padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;">
                        <!--
																																							<![endif]-->
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div align="center">
                                  <div style="display: table; max-width:175px;">
                                    <!--[if (mso)|(IE)]>
																																													<table width="175" cellpadding="0" cellspacing="0" border="0">
																																														<tr>
																																															<td style="border-collapse:collapse;" align="center">
																																																<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:175px;">
																																																	<tr>
																																																		<![endif]-->
                                    <!--[if (mso)|(IE)]>
																																																		<td width="32" style="width:32px; padding-right: 12px;" valign="top">
																																																			<![endif]-->
                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 12px">
                                      <tbody>
                                        <tr style="vertical-align: top">
                                          <td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                                            <a href="https://twitter.com/blowhornlog" title="Twitter" target="_blank">
                                              <img src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/twitter_round_white.png" alt="Twitter" title="Twitter" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--[if (mso)|(IE)]>
																																																			</td>
																																																			<![endif]-->
                                    <!--[if (mso)|(IE)]>
																																																			<td width="32" style="width:32px; padding-right: 12px;" valign="top">
																																																				<![endif]-->
                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 12px">
                                      <tbody>
                                        <tr style="vertical-align: top">
                                          <td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                                            <a href="https://www.linkedin.com/company/blowhorn" title="LinkedIn" target="_blank">
                                              <img src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/linkedin_round_white.png" alt="LinkedIn" title="LinkedIn" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--[if (mso)|(IE)]>
																																																				</td>
																																																				<![endif]-->
                                    <!--[if (mso)|(IE)]>
																																																				<td width="32" style="width:32px; padding-right: 12px;" valign="top">
																																																					<![endif]-->
                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 12px">
                                      <tbody>
                                        <tr style="vertical-align: top">
                                          <td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                                            <a href="https://www.instagram.com/blowhornlog" title="Instagram" target="_blank">
                                              <img src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/insta_round_white.png" alt="Instagram" title="Instagram" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--[if (mso)|(IE)]>
																																																					</td>
																																																					<![endif]-->
                                    <!--[if (mso)|(IE)]>
																																																					<td width="32" style="width:32px; padding-right: 0px;" valign="top">
																																																						<![endif]-->
                                    <table align="left" border="0" cellspacing="0" cellpadding="0" width="32" height="32" style="border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 0px">
                                      <tbody>
                                        <tr style="vertical-align: top">
                                          <td align="left" valign="middle" style="word-break: break-word;border-collapse: collapse !important;vertical-align: top">
                                            <a href="https://www.facebook.com/Blowhornlog" title="Facebook" target="_blank">
                                              <img src="https://blowhornwebsite.s3.us-east-2.amazonaws.com/email/facebook_round_white.png" alt="Facebook" title="Facebook" width="32" style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important">
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <!--[if (mso)|(IE)]>
																																																						</td>
																																																						<![endif]-->
                                    <!--[if (mso)|(IE)]>
																																																					</tr>
																																																				</table>
																																																			</td>
																																																		</tr>
																																																	</table>
																																																	<![endif]-->
                                  </div>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table style="font-family:verdana,geneva;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                          <tbody>
                            <tr>
                              <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:verdana,geneva;" align="left">
                                <div style="line-height: 140%; text-align: left; word-wrap: break-word;">
                                  <p style="font-size: 14px; line-height: 140%; text-align: center;">
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">You received this email because you signed up for Blowhorn service.</span>
                                    <br />
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">&copy; 2021 Blowhorn. All Rights Reserved.</span>
                                    <br />
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">&nbsp;</span>
                                    <br />
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">3rd Floor, Enzyme Tech Park, #142, Koramangala Industrial Layout,</span>
                                    <br />
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">Hosur Main Road, Koramangala, Bengaluru - 560095, </span>
                                  </p>
                                  <p style="font-size: 14px; line-height: 140%; text-align: center;">
                                    <span style="color: #ced4d9; font-size: 12px; line-height: 16.8px;">Karnataka</span>
                                  </p>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if (!mso)&(!IE)]>
																																											<!-->
                      </div>
                      <!--
																																										<![endif]-->
                    </div>
                  </div>
                  <!--[if (mso)|(IE)]>
																																							</td>
																																							<![endif]-->
                  <!--[if (mso)|(IE)]>
																																						</tr>
																																					</table>
																																				</td>
																																			</tr>
																																		</table>
																																		<![endif]-->
                </div>
              </div>
            </div>
            <!--[if (mso)|(IE)]>
																														</td>
																													</tr>
																												</table>
																												<![endif]-->
          </td>
        </tr>
      </tbody>
    </table>
    <!--[if mso]>
																							</div>
																							<![endif]-->
    <!--[if IE]>
																						</div>
																						<![endif]-->
  </body>
</html>