<!DOCTYPE html>
<html>
  <head>
    <style>
      .footer-table a {
        text-decoration: none;
        color: #444;
      }
    </style>
  </head>
  <body style="border-top: 1px solid #4c4c4c;">
    <table cellpadding="8" width="100%" class="footer-table">
      <tr>
        <td align="center" valign="bottom">
          <a href="{{ data.footer.link }}" target="_blank">{{ data.footer.brand_name }}</a>
        </td>
        <td align="center" valign="bottom" class="lb-2">
          <a href="mailto:{{ data.footer.email }}" target="_blank">{{ data.footer.email }}</a>
        </td>
        <td align="center" valign="bottom" class="lb-2">
          <a href="tel:{{ data.footer.contact }}" target="_blank">{{ data.footer.contact }}</a>
        </td>
      </tr>
    </table>
  </body>
</html>
