<style>
  #header_content {
    border-top: 1px solid #4c4c4c;
    color: #333;
    font-size: 16px;
  }
  </style>
  <div id="header_content">
    <table cellpadding="16">
      <tr>
        <td align="center" valign="middle">
          STOCK CHECK REPORT
        </td>
      </tr>
    </table>
  </div>
  <style>
  .site-link {
    text-decoration: none;
    color: #333;
  }
  </style>
