{% load static %}
<table class="header" width="100%"
  <tr>
    <td width="69%">
      <span class="title">STOCK CHECK REPORT</span>
    </td>
    <td align="left">
      <img class="logo__img" src="{{ data.logo }}" alt="logo"/>
    </td>
  </tr>
</table>
<style>
  .title {
    text-align: left;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #555555;
    text-transform: uppercase;
  }
  .logo__container {
    padding: 8px;
  }
  .logo__img {
    width: 180px;
    display: block;
  }
  .logo__title {
    color: #555555;
    font-weight: 700;
  }
</style>
