<table class="remarks mb-36 keep-together" cellpadding="3">
  <thead>
    <th align="left">{{ heading }}</th>
  </thead>
  <tbody>
    {% for row in results %}
    <tr>
      <td>{{ forloop.counter }}. {{ row }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<style>
.remarks th {
  font-size: 20px;
  color: #00c0e1;
  text-decoration: underline;
}
.remarks td {
  color: #333;
  font-size: 18px;
  line-height: 27px;
  white-space: normal;
}
.remarks td {
  padding-left: 24px;
  color: #4c4c4c;
}
</style>
