<!DOCTYPE html>
<html>
  <head>
    <style>
			* {
				font-family: Arial, Helvetica, sans-serif;
			}
      @page {
        size: a4 portrait;
      }
      body {
        -webkit-print-color-adjust: exact;
        font-size: 16px;
        background-color: #fff;
        padding: 30px 20px;
      }
      .pb-4 {
        padding-bottom: 4px;
      }
      .pt-4 {
        padding-top: 4px;
      }
      .mb-36 {
        margin-bottom: 36px;
      }
      .keep-together {
        page-break-inside: avoid;
      }
      .break-before {
        page-break-before: always;
      }
      .break-after {
        page-break-after: always;
      }
      table {
        width: 100%;
      }
      thead {
        display: table-header-group;
        page-break-inside: avoid;
      }
      tfoot { display: table-row-group }
      .details__heading {
        text-align: left;
        font: normal normal bold 20px Arial;
        letter-spacing: -0.26px;
        color: #4C4C4C;
        text-transform: capitalize;
      }
      .details__text {
        color: #444;
        font-size: 16px;
      }
      .details__date {
        color: #444;
        font-weight: 700;
        font-size: 16px;
      }
      .client__heading {
        text-align: left;
        font: normal normal bold 18px Arial;
        letter-spacing: -0.26px;
        color: #4C4C4C;
        text-transform: capitalize;
      }
      .separator-cell {
        padding: 16px 0px;
      }
      .separator {
        border: 3px solid #4C4C4C;
      }
    </style>
  </head>
  <body>
    <table cellspacing="6">
			<tr>
				<td colspan="2">
					{% include 'pdf/stock_check/intro.html' %}
				</td>
			</tr>
      <tr>
        <td class="pb-4 pt-4"></td>
      </tr>
      <tr>
        <!-- Warehouse Details -->
        <td width="68%">
          <table>
            <tr>
              <td class="pb-4">
                <span class="details__heading">
                  Warehouse Details
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="details__text">{{ data.warehouse.name }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span class="details__text">
                  {{ data.warehouse.address }}
                </span>
              </td>
            </tr>
          </table>
        </td>
        <!-- Performed By -->
        <td>
          <table>
            <tr>
              <td class="pb-4">
                <span class="details__heading">
                  Performed By
                </span>
              </td>
            </tr>
            <tr>
              <td>
                <div class="details__text">
                  {{ data.performed_by.name }}
                </div>
                <!-- <div class="performed_by__designation">Supervisor, Blowhorn</div> -->
              </td>
            </tr>
            <tr>
              <td>
                <div class="details__date">{{ data.performed_by.date }}</div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="pt-4">
          <div>
            <span class="client__heading">Client:</span>
            <span class="details__text">{{ data.client }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="separator-cell">
          <hr class="separator">
        </td>
      </tr>
		</table>
    {% include 'pdf/stock_check/sku_details.html' with sku_details=data.sku_details %}

    {% if data.remarks %}
      {% include 'pdf/stock_check/list.html' with results=data.remarks heading='Remarks' %}
    {% endif %}

    {% if data.key_notes %}
      {% include 'pdf/stock_check/list.html' with results=data.key_notes heading='Key notes' %}
    {% endif %}

    <!-- Static content in PDF -->
    <!-- {% include 'pdf/stock_check/footer.html' with footer=data.footer %} -->
  </body>
</html>
