{% for sku in sku_details %}
  <table class="sku-details mb-36 keep-together" width="100%" bgcolor="#ffffff">
    <tr>
      <td class="sku-details-cell">
        <table cellpadding="2">
          <tr>
            <td width="95%">
              <span class="details__id">
                SKU-{{ sku.id }}
              </span>
            </td>
          </tr>
          <tr>
            <td width="95%">
              <span class="details__heading">
                {{ sku.name }}
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="details__text">
                {{ sku.description }}
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table border="1" cellspacing="0" width="100%" cellpadding="8" class="sku-table">
          <thead>
            <th>Tag</th>
            <th>Before Units</th>
            <th>After Units</th>
            <th>Gain (+) / Loss (-)</th>
            <th>Discrepancy Reason</th>
          </thead>
          <tbody>
            {% for row in sku.results %}
              <tr>
                <td>{{ row.tag }}</td>
                <td align="right">{{ row.prev_qty }}</td>
                <td align="right">{{ row.curr_qty }}</td>
                <td align="right">{{ row.diff }}</td>
                <td>{{ row.reason }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
{% endfor %}
<style>
  .details__id, .sku-table td {
    color: #4c4c4c;
  }
  .sku-table th {
    text-align: left;
    background-color: #00c0e1;
  }
</style>
