<div class="modal fade" id="modal-barcode" tabindex="-1" role="dialog" aria-labelledby="barcodeModalLabel" aria-hidden="true">
    <div class='modal-dialog' style="width: fit-content;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="barcode-model-header"></h4>
            </div>
            <div class="modal-body">
                  <div class="barcode-container text-center">
                      <svg id="barcode"></svg>
                  </div>
                  <div class="modal-footer modal-custom-footer">
                      <div class="text-center">
                          <button type="button"
                                  class="btn btn-warning btn-footer"
                                  data-dismiss="modal">Close</button>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
