<div class="wrapper">
    <div class="col name-col">
        <div class="main-row font-weight-bold text-secondary">
            {{member.name || '--'}}
        </div>
        <div class="sub-row date">
            {{member.email}}
        </div>
        <div class="sub-row d-flex">
            <div (click)="open_member_modal()"
                class="link"
                title="Click to edit member details">
                <span>Profile</span>
            </div>
            <div
                class="link"
                *ngIf="member_service.has_invite_permission"
                (click)="open_permission_modal()"
                title="Click to edit permissions">
                <span>Permissions</span>
            </div>
        </div>
    </div>
    <div class="col phone-col">
        <div class="main-row driver-name">{{member.phone_number || '--'}}</div>
    </div>
    <div class="col is-active-col">
        <div
            class="main-row"
            [ngClass]="{
                'text-success': member.status==='active',
                'text-danger': member.status==='inactive',
                'text-secondary': member.status==='invited'
            }">
            {{member.status | titlecase}}
        </div>
        <div class="sub-row link-expired" *ngIf="member.is_invite_link_expired">
            expired
        </div>
    </div>
    <div class="col is-admin-col">
        <i class="fa" [ngClass]="{'fa-times': !member.is_admin, 'fa-check': member.is_admin}"></i>
    </div>
    <div class="col">
        <div class="main-row roles" *ngIf="member.roles.length">
            <div
                class="custom-chip"
                (click)="openGroup(member.roles[0].id)"
                title="Click to view role details"
            >
                {{ member.roles[0].name }}
            </div>
            <span *ngIf="member.roles.length>1">
                <button
                    mat-button
                    [matMenuTriggerFor]="menu"
                    title="Click to view role details"
                >
                    +{{member.roles.length}} more
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let r of member.roles" (click)="openGroup(r.id)">
                        {{ r.name }}
                    </button>
                </mat-menu>
            </span>
        </div>
        <div class="sub-row text-info" *ngIf="!member.roles.length" (click)="open_permission_modal()">
            <span class="link">Add Role</span>
        </div>
    </div>
    <div class="col date-col">
        <div class="main-row time">{{member.created | date: 'shortTime'}}</div>
        <div class="sub-row date">{{member.created | date: 'EEE, dd MMM y'}}</div>
    </div>
    <div class="col">
        <button mat-stroked-button color="accent"
        *ngIf="member_service.has_invite_permission && member.status === 'invited' && !show.invite_loader && member.is_invite_link_expired"
        (click)="resend_invite_link()">
            Re-invite
        </button>
        <div class="loader-container" *ngIf="show.invite_loader">
            <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
        </div>
    </div>
</div>
