<table>
  <tr>
    <div class="table-header">
      <div class="title"> Contract-wise Trend</div>
    </div>
  </tr>
  <tr>
    <td class="chart-container" >
        <canvas id="tripcontracttypechart"></canvas>
        <div *ngIf="statuswiseData.length <= 0" class="error">
          <span>{{error_msg}}</span>
        </div>
    </td>
  </tr>
</table>
