table {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    height: 100%;
    background: #fff;
    .table-header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #eee;
        align-items: center;
        .title {
            font-variant: all-petite-caps;
            font-size: x-large;
            font-weight: 400;
        }
    }
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}

.chart-container {
    position: relative;
    width: 380px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}