.list-view {
    display: grid;
    align-items: stretch;
    .splitter {
        width: 100%;
        height: 2px;
        background: #DFE6E8;
    }
    .dummy-splitter {
        background: rgb(226, 234, 236);
        height: 1px;
    }
}
