
<div class="list-view">
    <div class="splitter"></div>
    <app-blowhorn-navbar
    [show_logo]="false"
    [show_user]="false"
    [links]="links"
    [link_styles]="link_styles"
    [navbar_styles]="navbar_styles">
    </app-blowhorn-navbar>
    <div class="dummy-splitter"></div>
    <router-outlet></router-outlet>
    <div class="dummy-splitter"></div>
</div>
