<div class="trips-panel">
    <app-my-trips-list-view-filter (filter_changed)="filter_changed($event)"
      (export_fired)="export()"
      (search_fired)="search()">
    </app-my-trips-list-view-filter>
    <app-my-trips-list-view-grid-title>
    </app-my-trips-list-view-grid-title>
    <div class="trips-grid">
      <ng-container *ngFor="let trip of trips">
        <app-my-trips-list-view-grid-row
          [trip]=trip
          (is_assign_route_fired)="enable_assign_route($event)">
        </app-my-trips-list-view-grid-row>
      </ng-container>
      <div *ngIf="trips.length <= 0" class="error" >
        <span>{{error_msg}}</span>
      </div>
    </div>
    <div *ngIf="trips.length" class="pagination">
      <app-blowhorn-pagination #pagination
        (data_fetched)="update_trips($event)"
        [count]="count"
        [next]="next"
        [previous]="previous">
      </app-blowhorn-pagination>
    </div>
  </div>
