.trips-panel {
    padding: 10px 20px;
    background: rgb(226, 234, 236);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px minmax(auto, calc(100vh - 237px)) 55px;
    grid-row-gap: 1px;
    .trips-grid {
        overflow: auto;
        :nth-child(odd) {
            background-color: #FAFAFA;
        }
        :nth-child(even) {
            background-color: #FFFFFF;
        }
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }
    }
    .pagination {
        margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
    
