<div class="modal-container" #modal_container></div>
<router-outlet></router-outlet>
<app-whats-new
*ngIf="includeWhatsNew"
[app_title]="app_title"
[app_code]="app_code"
[version]="version"
[whats_new]="whats_new"
></app-whats-new>
