.filter-sidebar {
    // width: 250px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    // padding: 5px 5px;
    -moz-box-shadow: 0px 3px 6px 3px #ccc;
    -webkit-box-shadow: 0px 3px 6px 3px #ccc;
    box-shadow: 0px 3px 6px 3px #ccc;
    position: relative;
    min-width: 250px;
    max-width: 250px;
    transition: all 0.3s;
    z-index: 1;
    .version-info {
        font-size: 15px;
        padding: 5px 12px;
        width: 100%;
        text-align: right;
        background: #ccc;
        font-weight: 500;
    }
    .filter-sidebar-header {
        display: flex;
        position: relative;
        background-color: #dce1e2;
        padding: 5% 5%;
        color: grey;
        .header-text {
            margin-bottom: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 900;
            line-height: 1;
        }
        .close {
            position: absolute;
            right: 6%;
            top: 18%;
            font-size: 20px;
            font-weight: bold;
        }
    }

    .filter-card {
        // padding: 5px;
        border-bottom: 1px solid #ccc;
        .filter-card-header {
            cursor: pointer;
            display: flex;
            position: relative;
            padding: 4% 5%;
            color: grey;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 13px;
            font-weight: 900;
            line-height: 1;
            .caret {
                font-size: 12px;
            }
            .caret-down {
                position: absolute;
                right: 0;
                margin-right: 4%;
                top: 30%;
                border-width: 10px;
                border-style: solid;
                border-right: 10px solid transparent;
                border-color: grey transparent transparent;
                width: 0;
                height: 0;
            }
            .caret-up {
                &:before {
                    content: ' ';
                    position: absolute;
                    right: 0;
                    top: 30%;
                    margin-right: 4%;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid currentColor;
                    vertical-align: middle;
                    transform: translateY(-2px);
                    transition: transform .2s ease-out;
                }
            }
        }

        .filter-card-content {
            -webkit-transition: all 1s ease;
            overflow:hidden;
            height: auto;
            -webkit-transition: max-height 0.4s;
            -moz-transition: max-height 0.4s;
            transition: max-height 0.4s;
            text-transform: capitalize;
            .checkbox-holder {
                display: flex;
                position: relative;
                .count-badge {
                    padding: 3% 3%;
                    position: absolute;
                    right: 2%;
                    color: #8b8d8e;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            .label-holder {
                label {
                    color: rgb(139, 141, 142);
                    font-size: 14px;
                    line-height: 21px;
                    padding-left: 25px;
                }
                .count-badge {
                    padding: 3% 3%;
                    position: absolute;
                    right: 2%;
                    color: #8b8d8e;
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            .total-vehicles {
                padding: 1%;
                .heading {
                    color: #8b8d8e;
                    font-size: 14px;
                    line-height: 21px;
                    text-transform: capitalize;
                    font-weight: bold;
                }
                .count {
                    padding: 3% 3%;
                    position: absolute;
                    right: 2%;
                    color: #8b8d8e;
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: bold;
                }
            }
            .covid-chip-container {
                display: flex;
                justify-content: space-between;
                padding: 4px 12px 4px 0;
                .chip {
                    padding: 4px 8px;
                    margin: 0 4px;
                    border-radius: 16px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                    min-width: 100px;
                    text-align: center;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                    line-height: 18px;
                    text-transform: uppercase;
                    &:hover, &.selected {
                        background-color: var(--primary-color);
                        color: #fff;
                    }
                }
            }
        }
        .expand {
            max-height: 500px;
        }
        .collapsed {
            max-height: 0;
        }
    }
}

.collapsed-sidebar {
    margin-left: -225px;
    background-color: #fff;
}

.collpased-icon {
    position: absolute;
    height: 100vh;
    z-index: 2;
    cursor: pointer;
    i {
        top: 50%;
        position: absolute;
        font-size: 40px;
        font-weight: 800;
        color: #000;
        margin: 5px;
    }
}
