<div class="collpased-icon" *ngIf="collapsedFilter" (click)="collapsedFilter = !collapsedFilter">
    <i class="fa fa-angle-right" title="Click to expand filter"></i>
</div>
<div class="filter-sidebar" [ngClass]="collapsedFilter ? 'collapsed-sidebar': ''">
    <div class="filter-sidebar-header" *ngIf="!collapsedFilter">
        <span class="header-text">Filter by</span>
        <i class="close fa fa-angle-left" (click)="collapsedFilter = !collapsedFilter" title="Click to hide filter"></i>
    </div>

    <div class="filter-content" *ngIf="!collapsedFilter">
        <!-- Status -->
        <div class="filter-card">
            <span class="filter-card-header" (click)="showStatusFilter = !showStatusFilter">
                <span class="header-text">Status</span>
                <i class="caret" [ngClass]="showStatusFilter ? 'caret-up' : 'caret-down'"></i>
            </span>
            <div class="filter-card-content" [ngClass]="showStatusFilter ? 'expand' : 'collapsed'">
                <div class="checkbox-holder" *ngFor="let status of driver_statuses">
                    <app-blowhorn-checkbox
                    [id]="status.name"
                    [group_name]="driver_status_group_name"
                    [checked]="status.checked || false"
                    [styles]="checkbox_styles"
                    (value_changed)="driver_status_changed($event, status)">
                    </app-blowhorn-checkbox>
                    <span class="count-badge">{{selected_driver_status_count[status.name]}}</span>
                </div>
            </div>
        </div>

        <!-- Vehicle class -->
        <div class="filter-card">
            <span class="filter-card-header" (click)="showVehicleClassFilter = !showVehicleClassFilter">
                <span class="header-text">Vehicle Class </span>
                <i class="caret" [ngClass]="showVehicleClassFilter ? 'caret-up' : 'caret-down'"></i>
            </span>
            <div class="filter-card-content" [ngClass]="showVehicleClassFilter ? 'expand' : 'collapsed'">
                <div class="checkbox-holder" *ngFor="let vclass of vehicle_classes">
                    <app-blowhorn-checkbox
                    [id]="vclass.name"
                    [group_name]="vehicle_class_group_name"
                    [checked]="vclass.checked || false"
                    [styles]="checkbox_styles"
                    (value_changed)="vehicle_class_changed($event, vclass)">
                    </app-blowhorn-checkbox>
                    <span class="count-badge">{{selected_vehicle_class_count[vclass.name]}}</span>
                </div>
                <div class="total-vehicles">
                    <span class="heading">Total Vehicles:</span>
                    <span class="count">{{total_vehicles}}</span>
                </div>
            </div>
        </div>

        <!-- Driver Category -->
        <div class="filter-card">
            <span class="filter-card-header"
                (click)="showFixedDriverBoolFilter = !showFixedDriverBoolFilter">
                <span class="header-text">non-fixed drivers only</span>
                <i class="caret"
                    [ngClass]="showFixedDriverBoolFilter ? 'caret-up' : 'caret-down'"></i>
            </span>
            <div class="filter-card-content"
                [ngClass]="showFixedDriverBoolFilter ? 'expand' : 'collapsed'">
                <div class="checkbox-holder">
                    <app-blowhorn-checkbox
                    [id]="fixedDriverFilterInfo.name"
                    [group_name]="fixed_driver_group_name"
                    [checked]="fixedDriverFilterInfo.checked || false"
                    [styles]="checkbox_styles"
                    (value_changed)="fixed_driver_filter_changed($event, fixedDriverFilterInfo.checked)">
                    </app-blowhorn-checkbox>
                    <span class="count-badge">
                        {{non_fixed_drivers_count}}
                    </span>
                </div>
                <div class="label-holder">
                    <label>Fixed Drivers</label>
                    <span class="count-badge">
                        {{fixed_driver_count}}
                    </span>
                </div>
            </div>
        </div>
        <!-- COVID Pass -->
        <div class="filter-card">
            <span class="filter-card-header"
                (click)="showCovidPassFilter = !showCovidPassFilter">
                <span class="header-text">Has COVID Pass?</span>
                <i class="caret"
                    [ngClass]="showCovidPassFilter ? 'caret-up' : 'caret-down'"></i>
            </span>
            <div class="filter-card-content"
                [ngClass]="showCovidPassFilter ? 'expand' : 'collapsed'">
                <div class="covid-chip-container" *ngFor="let f of covidPassFilterInfo">
                    <div class="chip"
                    (click)="covid_pass_filter_changed(f.val)"
                    [ngClass]="{'selected': f.val===selected_covid_filter}">
                    {{ f.label }}
                    </div>
                    <span class="count-badge">
                        {{ f.count }}
                    </span>
                </div>
            </div>
        </div>
        <div class="version-info" (click)="showVersionLog()">{{version}}</div>
    </div>
</div>
