<div class="d-flex justify-content-between permission-header">
    <div>Edit Role</div>
    <div class="d-flex">
        <app-blowhorn-button
        style="margin-right: 8px;"
        [label]="dismissButton.label"
        [type]="'delete'"
        [disabled]="dismissButton.disabled"
        (click_fired)="dismiss($event)">
        </app-blowhorn-button>
        <span class="clear"></span>
        <app-blowhorn-button
        *ngIf="!view_mode"
        [label]="submitButton.label"
        [type]="submitButton.type"
        [disabled]="submitButton.disabled"
        (click_fired)="saveForm($event)">
        </app-blowhorn-button>
    </div>
</div>
<div class="member-modal-body" *ngIf="view_mode">
    <app-readonly-permission-view
    *ngIf="group && systems.length"
    [modules]="modules"
    [systems]="systems"
    [permission_levels]="group.permission_levels"
    [permissions]="group.permissions"
    [master_data]="masterDataCounts"
    >
    </app-readonly-permission-view>
</div>
<div class="member-modal-body" *ngIf="!view_mode">
    <div class="row">
        <div class="col-lg-4">
            <div class="group--name">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="formData.name">
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="permissions-container">
        <app-permissions
        *ngIf="permissions && permissions.length"
        [view_mode]="view_mode"
        [master_permissions]="permissions"
        [modules]="modules"
        [systems]="systems"
        [permission_levels]="permission_levels"
        [user_stored_data]="group"
        (permissions_selected)="selectedPermissions($event)"
        ></app-permissions>
    </div>
</div>
