.customer-slide.ng-animate {
    transition: all ease 0.4s;
    position: absolute;
}  
.customer-slide.ng-enter {
    top: 200px;
    opacity: 0;
}
.customer-slide.ng-leave,
.customer-slide.ng-enter-active {
    top: 0;
    opacity: 1;
}
.customer-slide.ng-leave.ng-leave-active {
    top: -200px;
    opacity: 0;
}
.appear.ng-enter {
    transition: 0.5s linear transform, 0.8s linear opacity;
    opacity: 0;
    transform: scale(0);
  }
  
  .appear.ng-enter.ng-enter-active {
    opacity: 1;
    transform: scale(1);
  }