.flex-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.balance-bar-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: fit-content;
    margin: auto;
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    background: #fff;
}
.balance-bar-container .heading {
    display: flex;
    justify-content: center;
}
.balance-bar-container .icon-container {
    font-size: 3em;
    min-height: 64px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.balance-bar-container .icon-container h1 {
    text-align: center;
    color: #6bd098;
    border-radius: 8px;
    padding: 4px;
    border: 1px solid #6bd098;
}
.balance-bar-container .numbers {
    text-align: right;
    font-size: 2em;
}
.balance-bar-container .numbers .card-category {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.4em;
}
.balance-bar-container .numbers .card-title {
    font-family: var(--font-bold);
}
.balance-bar-container .low-balance-message {
    font-size: 12px;
    color: var(--danger);
    font-weight: 700;
}
.balance-bar-container .numbers .loader-container {
    position: absolute;
    right: 40px;
}
.myaccount-container .stats {
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: var(--primary-color);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-bold);
}
.myaccount-container .stats:hover i,
.myaccount-container .stats:hover {
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    transform: translateY(-2px);
}
.myaccount-container .fa-credit-card {
    margin-right: 5px;
    position: relative;
    /* top: 0; */
    font-size: 20px;
    margin-right: 4px;
    color: var(--fa-icon-color);
}
.balance-bar-container .heading > div {
    color: var(--primary-text-color);
    background: var(--primary-color);
    padding: 2px 8px;
    border-radius: 16px;
    text-transform: capitalize;
    font-family: var(--font-bold);
}
.balance-bar-container .sub-heading {
    display: flex;
    justify-content: center;
    padding: 8px;
}
.balance-bar-container .sub-heading .amount {
    font-family: var(--font-bold);
    font-size: 24px;
}
.balance-bar-container .recharge {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.balance-bar-container .card-footer {
    padding-top: 15px;
}
.transaction-container {
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    margin: 15px auto;
    width: 95%;
    background: #fff;
}
.transaction-container .heading {
    padding: 4px 10px;
    font-family: var(--font-bold);
    font-size: 18px;
    line-height: 27px;
}
.table-container {
    border: 0.5px solid #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, calc(100vh - 237px));
    grid-row-gap: 1px;
}
.table-container .header {
    display: grid;
    align-items: center;
    background: white;
    padding: 4px 10px;
    border-bottom: 0.5px solid #eee;
}
.table-container .header div {
    font-size: 14px;
    font-family: var(--font-bold);
}
.table-container .trans-row {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    line-height: 21px;
    display: grid;
}
.table-container .trans-row,
.table-container .header {
    grid-template-columns: 50% 50%;
}
.amount {
    text-align: right;
    font-weight: 600;
}
.table-container .trans-row .sl-num {
    padding-left: 8px;
}
.table-container .table-body {
    overflow: auto;
}
.table-container .table-body .loader-container {
    display: flex;
    justify-content: center;
}
.table-container .table-body:nth-child(odd) {
    background-color: #FAFAFA;
}
.table-container .table-body:nth-child(even) {
    background-color: #FFFFFF;
}
.table-container .trans-row:hover {
    background: #f5f4f4;
}
.table-container .trans-row .amount {
    padding-right: 5px;
}
.table-container .trans-row .closing-amount {
    text-align: right;
    font-weight: 600;
    padding-right: 40px;
}
.table-container .table-body .even {
    background-color: #fbfbfb;
}
.transaction-container .no-data-message {
    display: flex;
    justify-content: center;
    padding: 12px;
}
.transaction-container .no-data-message .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.transaction-container .no-data-message .message h5 {
    font-family: var(--font-medium);
    color: red;
}
.transaction-container .no-data-message .message .stats {
    display: flex;
    justify-content: center;
}
.transaction-container .no-data-message .message .stats .btn-recharge {
    font-family: var(--font-medium);
    padding: 4px 4px;
    border-radius: 4px;
}
.table-container .div {
    vertical-align: middle;
    margin: auto 0;
}
.loader-recharge {
    display: flex;
    justify-content: center;
    min-height: 100px;
}
.amount-container {
    display: flex;
    flex-direction: column;
}
.amount-container .heading {
    font-family: var(--font-bold);
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
}
.amount-container .money-options {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    width: 300px;
}
.amount-container .money-options .money-chip {
    width: 70px;
    text-align: center;
    padding: 2px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    margin: 0 8px;
    cursor: pointer;
    font-weight: 700;
    font-family: var(--font-medium);
}
.amount-container .money-options .money-chip:hover {
    color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-dark);
}
.amount-container .money-options .money-chip.selected:hover {
    color: #fff;
    border: 1px solid var(--primary-color-dark);
}
.amount-container .amount-box-container {
    padding: 12px 15px 0 15px;
}
.amount-container .amount-box-container md-input-container {
    margin-bottom: 0;
    width: 100%;
}
.amount-container .amount-box-container input {
    width: 100%;
}
.payment-methods {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}
.payment-methods .pm {
    display: flex;
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: 1px solid #eee;
    min-height: 40px;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    color: #6d6d6d;
    opacity: 0.3;
    cursor: not-allowed;
}
.payment-method-container .heading {
    font-family: var(--font-bold);
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    margin-bottom: 8px;
}
.rzrpay {
    padding: 28px 20px !important;
}
.rzrpay div {
    margin: auto auto auto 0;
}
.paytm-label, .rzrpay i {
    vertical-align: middle;
    margin: auto 0 auto auto;
    padding-right: 5px;
}
.pm img {
    vertical-align: middle;
    height: 100%;
    width: 40px;
    vertical-align: middle;
    margin: auto auto auto 0;
}
.selected {
    color: #fff;
    background-color: var(--primary-color-dark);
}
.mobile-view > .desc {
    font-weight: 700;
    font-size: 14px;
}
.mobile-view > .number {
    font-size: 12px;
}
.mobile-view > .date {
    font-size: 13px;
}
.enabled {
  opacity: 1 !important;
  cursor: pointer !important;
}
@media (min-width: 575px) {
    .flex-box {
        flex-direction: row;
    }
    .table-container {
        grid-template-rows: 40px minmax(auto, calc(100vh - 237px));
    }
    .balance-bar-container {
        width: 20%;
        margin: unset;
    }
    .transaction-container {
        margin-top: 0;
        width: 78%;
    }
    .table-container .header {
        padding: 4px 15px;
    }
    .table-container .header,
    .table-container .trans-row {
        /* 150px 220px 200px 160px 160px 100px */
        /* 172px 217px 235px 145px 159px 142px */
        grid-template-columns: 18% 23% 20% 13% 14% 10%;
        padding-left: 15px;
    }
    .table-container .trans-row .date {
        font-size: 13px;
        text-align: left;
    }
    .payment-methods {
        flex-direction: row;
    }
    .payment-methods .pm {
        width: 48%;
    }
    .payment-methods .pm.payfast {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pm.payfast .fa-credit-card {
        margin: 3px 5px 0px 0px;
    }
    .pm img {
        width: 50px;
    }
    .amount-container .amount-box-container md-input-container {
        margin-bottom: 0;
        width: 272px
    }
}
