.feedback-details-modal {
  width: 100%;
  height: 100%;
  .modal-header {
    border-radius: 0;
    margin-bottom: 10px;
    padding: 10px 20px;
    align-items: center;
    min-height: 45px;
    font-weight: bold;
    background-color: var(--primary-color-light);
    .modal-title-text {
      color: var(--primary-color);
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 1.5px;
    }
    img {
      width: inherit;
    }
  }
  .md-form {
    margin-left: 35%;
    margin-top: 3%;
  }
  .model-body {
    margin-left: 18%;
    margin-right: 18%;
    border: 1px solid #e2e0e0;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    .pl-1 {
      
      font-size: 18px;
      margin-left: -5px;
    }
    .pl-2 {
      
      font-size: 18px;
    }
    .pl-3 {
      text-align: center;
      
      font-size: 18px;
    }
    .cb {
      color: var(--primary-color);
      font-weight: bold;
    }
    .success {
      display: flex;
      
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: var(--primary-color);
    }
  }

  @media screen and (min-width: 370px) and (max-width: 650px) {
    .modal-header {
      margin-bottom: 10px;
      align-items: center;
      font-weight: bold;
      background-color: var(--primary-color-light);
      height: 10%;
      .modal-title-text {
        color: var(--primary-color);
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: right;
        margin-top: 10px;
      }
      .img {
        width: 170px;
      }
    }
    .model-body {
      margin-left: 5%;
      margin-right: 5%;
      border: 1px solid #e2e0e0;
      box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
      background-color: white;
      border-radius: 5px;
      padding: 15px;
      overflow: scroll;
      .pl-1 {
        
        padding-left: -0.25rem !important;
      }
      .pl-2 {
        font-size: larger;
        
      }
      .pl-3 {
        text-align: center;
        
      }
      .cb {
        color: var(--primary-color);
        font-weight: bold;
      }
      .success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        color: var(--primary-color);
      }
      .submit {
        border-radius: 5px;
        margin-top: 1%;
        width: 40%;
        font-size: larger;
        float: right;
        color: #fff;
        border: none;
        background-color: var(--primary-color);;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        padding: 10px 10px;
        text-align: center;
      }
    }
  }
  .rating {
    float: left;
  }
  .rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
  }
  .rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0.1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
  }
  .rating:not(:checked) > label:before {
    content: "★ ";
  }
  .rating > input:checked ~ label {
    color: #f70;
  }
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
  }
  .main {
    width: 100%;
    margin-top: 150px;
  }
  .submit {
    border-radius: 5px;
    margin-top: 2%;
    width: 20%;
    font-size: larger;
    float: right;
    color: #fff;
    border: none;
    background-color: var(--primary-color);;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 10px 10px;
    text-align: center;
  }
  textarea { 
    font-size: 18px;
  }
  button:hover {
    background-color: var(--primary-color);;
    box-shadow: 0px 5px 7px var(--primary-color);;
    transform: translateY(-2px);
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    border: solid 2px #7d7d7d;
    padding: 0.5rem 2rem;
    margin-right: 30px;
    margin-bottom: 20px;
    float: left;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  input[type="checkbox"]:checked + label {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    background-color: #e4faf8;
    color: rgb(156, 133, 133);
    border-color: var(--primary-color);
  }
}
