<div class="feedback-details-modal">
  <div class="modal-header">
      <a href="{{ bh_service.homepage_url }}" target="_blank" class="logo-invoice">
        <img class="img-responsive" src="{{ bh_service.rect_logo_url }}" alt="logo">
      </a>
      <div class="modal-title-text">Send us your feedback!</div>    
  </div>
  <div class="model-body">
      <div *ngIf="Message === 1">
          <div class="form-group ">
              <p class="pl-2">
                Hi <b>{{customerDetails.dropoff.contact.name | titlecase }}</b>,<br><br><span class="pl-1">Your order (i.e. <b>{{customerDetails.order_id}}</b>) was deliverd by <span class="cb"><b>{{ bh_service.brand_name }}</b></span> on {{customerDetails.booking_datetime | date}}. Your
                    feedback is valuable to us and will improve our services. Please rate <b>{{customerDetails.driver_name | titlecase }}</b> (Delivery Executive) on a scale
                      of 1 to 5. </span></p><br>
           </div>
        <div class="form-group ">
          <p class="pl-2">How satisfied are you overall with the support of your delivery partner?</p>
           <fieldset class="rating">          
          <input type="radio" [name]="rating" value="5" #five [checked]="ratingInNumber===5" />
          <label title="Highly Satisfied!" (click)='onClick(5)'>5 stars</label>
          <input type="radio" [name]="inputName" value="4" #four [checked]="ratingInNumber===4" />
          <label title="Satisfied" (click)='onClick(4)'>4 stars</label>
          <input type="radio" [name]="inputName" value="3" #three [checked]="ratingInNumber===3" />
          <label title="Neutral" (click)='onClick(3)'>3 stars</label>
          <input type="radio" [name]="inputName" value="2" #two [checked]="ratingInNumber===2" />
          <label title="Dissatisfied" (click)='onClick(2)'>2 stars</label>
          <input type="radio" [name]="inputName" value="1" #one [checked]="ratingInNumber===1" />
          <label title="Highly Dissatisfied" (click)='onClick(1)'>1 star</label>
        </fieldset>
        </div><br><br><br>     
        <div *ngIf="ratingInNumber">
            <div *ngIf="ratingInNumber">
              <p class="pl-2">{{remarksData?.title}}</p>
            <div  *ngFor="let review of remarksData.remarks; let i = index;" >
              <input type="checkbox" class="reviewCheckbox" name="review{{review.id}}" #review{{review.id}} id="review{{review.id}}" [(ngModel)]="remarksData.remarks[i].checked" >
              <label for="review{{review.id}}" class="pl-3">{{ review.remark}}</label>
              </div>
          </div>          
       <div class="main">
         <textarea class="form-control" rows="5" id="comment" name="remarks" placeholder="Add a comment" [(ngModel)]="comments"></textarea>
       </div>
       <div>
        <button id="submit" type="submit" class="submit pl-3"
         (click)="sendCheckedReviews(); saveFormData()">SUBMIT</button>
         </div>
        </div>
      </div>
    <div *ngIf="Message === 2" >
      <div class="success"> Thank you so much for your valuable feedback! <br>We really appreciate your time and effort. </div>   
    </div>    
    <div *ngIf="Message === 3" >
        <div class="success"> Your have already submitted feedback! Thank you.</div>        
      </div>
    <div *ngIf="Message === 4" >
          <div class="success"> Trip doesn't exist.</div>        
      </div>
  </div>
</div>