{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="/admin/customer/gpseventpublishconfig/add/" method="GET">
            <button type="submit">Add</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
