.order-statistics-rightbar {
    height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 0px 3px 2px #ccc;
    min-width: 100px;
    max-width: 250px;
    transition: all 0.3s;
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 1;

    .rightbar-content {
        position: relative;

        .count-wrapper {
            width: 80%;
        }

        .minimize-icon {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 20%;
            background: #fff;
            padding: 5px;

            i {
                position: absolute;
                top: 42%;
                margin: 5px;
                right: 0;
                font-size: 40px;
            }
        }
    }

    .header-wrapper {
        padding: 10%;
        text-align: center;
        height: 10vh;
        color: #fff;
        background: black;
    }

    .statistics-content {
        text-align: center;

        .status-card {
            height: 10vh;
            color: #fff;

            .status-text {
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
}

.collapsed-count-bar {
    width: 0px;
    min-width: 0;
}

.expanded-count-bar {
    width: auto;
    min-width: 100px;
}

.maximize-count-bar {
    position: absolute;
    right: 0;
    top: 20%;
    width: 2%;
    height: 50vh;
    z-index: 1;
    cursor: pointer;
    background: #fff;
    color: #000;

    i {
        top: 42%;
        position: absolute;
        font-size: 40px;
        font-weight: 800;
        color: black;
        margin: 5px;
    }
}
