<div class="maximize-count-bar" (click)="showOrderCount = !showOrderCount" *ngIf="showOrderCount">
  <i class="fa" [ngClass]="showOrderCount ? 'fa-angle-right' : 'fa-angle-left'"></i>
</div>
<div class="order-statistics-rightbar" [ngClass]="showOrderCount ? 'collapsed-count-bar': 'expanded-count-bar'">
  <div class="rightbar-content">
    <div class="count-wrapper">
      <div class="header-wrapper">
        <h5 class="header">Today</h5>
        <span class="count">{{total_orders}}</span>
      </div>
      <div class="statistics-content">
        <div class="status-card" *ngFor="let status of order_statuses" 
        [style.background]="getStatusCardBackground(status.status)">
          <span class="status-text">{{status.status}}</span>
          <span class="status-count">{{status.count}}</span>
        </div>
      </div>
    </div>
    <div class="minimize-icon" (click)="showOrderCount = !showOrderCount">
      <i class="fa" [ngClass]="showOrderCount ? 'fa-angle-right' : 'fa-angle-left'"></i>
    </div>
  </div>
</div>
