<div class="d-flex justify-content-between p-2">
    <div class="header">Bank Accounts</div>
    <button mat-raised-button color="primary" (click)="addAccount()">
        Add Bank Account
    </button>
</div>
<div class="p-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">A/c Number</th>
                <th scope="col">IFSC Code</th>
                <th scope="col">A/c Holder</th>
                <th scope="col">Bank</th>
                <th scope="col">Branch</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!bankAccounts.length">
                <th colspan="8" class="text-danger text-center">No bank accounts found</th>
            </tr>
            <tr *ngFor="let row of bankAccounts; let index = index">
                <th>{{ index + 1 }}</th>
                <td class="text-info cursor-pointer" (click)="viewBankAccount(row)">{{ row.account_number }}</td>
                <td>{{ row.ifsc_code }}</td>
                <td>{{ row.account_name }}</td>
                <td>{{ row.bank_name }}</td>
                <td>{{ row.branch_name }}</td>
                <td>{{ row.is_active ? 'Active' : 'Inactive'}}</td>
                <td *ngIf="_blowhorn_service.hasPermission('bank_accounts', 'can_delete_bank_account')">
                    <div class="d-flex">
                        <app-blowhorn-button
                            class="mr-2"
                            [label]="row.is_active ? 'deactivate' : 'activate'"
                            [type]="status_button.type"
                            (click_fired)="show_confirmation(row, 'status')"
                        ></app-blowhorn-button>
                        <app-blowhorn-button
                            [label]="delete_button.label"
                            [type]="delete_button.type"
                            (click_fired)="show_confirmation(row, 'delete')"
                        ></app-blowhorn-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-window" *ngIf="confirmation.show_alert">
    <app-blowhorn-confirm
    [heading]="confirmation.heading"
    [details]="confirmation.details"
    [show_warning]="confirmation.show_warning"
    [action_buttons]="confirmation.action_buttons"
    [styles]="confirmation.styles"
    (proceed)="confirmAction($event)">
    </app-blowhorn-confirm>
</div>
