<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
			body {
				margin-top: 10px;
			}
			div.container {
				width: 29cm;
				margin: 10px auto;
			}

			.tr_with_right_border {
				border-right: 1px solid black;
			}

			.table_td {
				font-family:"Times New Roman",Times,serif;
				font-size:13px;
				text-align: left;
				line-height: 1.2;
			}

		</style>
		<script>
			function subst() {
				var vars = {};
				var query_strings_from_url = document.location.search.substring(1).split('&');
				for (var query_string in query_strings_from_url) {
					if (query_strings_from_url.hasOwnProperty(query_string)) {
						var temp_var = query_strings_from_url[query_string].split('=', 2);
						vars[temp_var[0]] = decodeURI(temp_var[1]);
					}
				}
				var css_selector_classes = ['page',  'topage'];
				for (var css_class in css_selector_classes) {
					if (css_selector_classes.hasOwnProperty(css_class)) {
						var element = document.getElementsByClassName(css_selector_classes[css_class]);
						for (var j = 0; j < element.length; ++j) {
							element[j].textContent = vars[css_selector_classes[css_class]];
						}
					}
				}
			}
		</script>
	</head>
	<body onload="subst()">
		<hr>
		<div class="container">

			{% if data.company.pan %}
			<table style="width: 100%;">
				<tr class="tr_with_right_border">
					<td class="table_td " colspan="2"> {{data.company.registered_address}}</td>
					<td class="table_td " colspan="2"> CIN: {{data.company.cin}}</td>
					<td class="table_td " style="text-align: right;" colspan="1">PAN : {{data.company.pan}}</td>
				</tr>
			</table>
			{% else %}
			<table style="width: 100%;">
				<tr class="tr_with_right_border">
					<td class="table_td " colspan="2"> {{data.company.registered_address}}</td>
					<td class="table_td " colspan="2"> </td>
					<td class="table_td " style="text-align: right;" colspan="1">CRN: {{data.company.cin}}</td>
				</tr>
			</table>  
			{% endif %}

			<table style="width: 100%; margin-top: 10px">
				<tr>
					<td class="table_td " colspan="2"> Website: {{data.company.website}}</td>
					<td class="table_td " style="text-align: center;" colspan="2"> Tel: {{data.company.telephone_number}}</td>
					<td class="table_td " style="text-align: right;" colspan="2"> E-mail:{{data.company.email}}</td>
				</tr>
			</table>
			<table style="width: 100%; margin-top: 10px">
				<tr>
					<td class="table_td " colspan="2"> (This is a computer generated invoice and does not require a signature)</td>
					<td class="table_td " colspan="1" style="text-align: right;">
						Page <span class="page"></span> of <span class="topage"></span>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
