<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>
			body {
				margin-bottom: 10px;
			}
			div.container {
				width: 29cm;
				margin-left: auto;
				margin-right: auto;
				margin-top:-30px;
				padding-bottom: 2px;

			}

			header, footer {
				font-family:"Arial Rounded MT Bold";
			}
			td {
				padding: 5px;
			}

		</style>
	</head>
	<body>
		<div class="container">
			<br>
			{% if data.company.build == 'blowhorn' %}
			<header style="text-align: justify;">
				<br><img src={{ data.logo }} alt="Blowhorn" style="float:left;width:170px;height:150px;margin-left: -30px;"><br><br>
				<p style="position:relative;top: 18px; font-size: 30px; padding-left: 22%">{{ data.company.name|upper }}</p>
			</header>
			{% else %}
			<header style="text-align: justify;">
				<br><img src={{ data.logo }} alt="Blowhorn" style="float:left;width:170px;height:150px;margin-left: -7px;"><br><br>
				<p style="position:relative;top: 18px; font-size: 30px; padding-left: 22%">{{ data.company.name|upper }}</p>
			</header>
			{% endif %}
		</div>
		<hr>
	</body>
</html>
