{% load mathfilters %}
<!DOCTYPE html>
<html>
	<head>
    	<style>
			thead { display: table-header-group }
			tfoot { display: table-row-group }
			tr {
				page-break-inside: avoid;
				padding: 5px;
				line-height: 1.2;
			}
			div.container {
		    	height: 29.7cm;
		    	width: 29cm;
		    	margin-left: auto;
		    	margin-right: auto;
			}

			header, footer {
			    font-family:Calibri;
			}

			.head_top_padding{
			  margin-top: 0px;
			  display: inline-block;
			}

			.table {
			    border-collapse: collapse;
			    border-spacing: 0;
			    border: 1px solid black;
				width: 100%;
			}

			.table-with-padding {
				padding: 15px 0px;
			}

			.table_th {
			    font-family: Calibri;
			    font-size: 13pt;
			    margin: 0px;
			    padding: 0px;
			}

			.tr_with_right_border {
				border-right: 1px solid black;
			}

			.table_td {
			    font-family:Calibri;
			    font-size:13pt;
			    text-align: left;
			    padding: 0.2em 0.2em 0.2em 0.5em;
			    font-weight: 550;
			}

			.display_style {
			    font-family:Calibri;
			    font-size:19px;
			    text-align: center;
				width: 100%;
				line-height: 1.2;
			}

			.border_right {
				border-right: 1px solid black;
			}

			.border_bottom {
				border-bottom: 1px solid black;
			}

			.border_right_bottom {
				border-right: 1px solid black;
				border-bottom: 1px solid black;
			}

			.border_right_top {
				border-right: 1px solid black;
				border-top: 1px solid black;
			}

			.entire_border {
				border: 1px solid black;
			}

			.padding_class {
				 padding: 0.5em 0.5em 0.2em 0.5em;
			}

			.table_tr {
			  border: 1px solid black;
			}

			.text_align_center {
				text-align: center;
			}

			.table_row_space {
				padding-top: 40px;
			}


			.caption_your_details {
			  text-align: left;
			  font-size:10pt;
			  font-weight: bold;
			  font-family:Arial,sans-serif;
			}

			tablefooter {
				margin-top: 0em;
			    font-family: Arial,sans-serif;
			  	font-size:8pt;
			}

			article {
			   font-size: 13pt;
			   text-align: justify-all;
			   font-family: Calibri;

			}

			.head_padding{
			  margin-bottom: 0.2em;
			}

			.grey_background {
			    background-color: #bbbbbb;
			}

			sup {
			    font-size: 5pt
			}

			th, td {
				padding: 5px !important;
			}

			.annexure {
				width: 100% !important;
				font-family: Calibri;
				font-size: 18px !important;
				font-weight: 600 !important;
				text-align: center !important;
				margin: 20px auto !important;
			}
			.table-caption {
				font-family: Calibri;
				line-height: 1.2 !important;;
				font-size: 16px !important;
				font-weight: 500 !important;
				float: left !important;
			}
			.table-right-caption {
				font-family: Calibri;
				line-height: 1.2 !important;
				font-size: 15px !important;
				font-weight: 400 !important;
				float: right !important;
			}

			@page {
			  size: A4;
			  /*margin: 70pt 60pt 120pt;*/
			}

			@media print {
			  body {
			    -webkit-print-color-adjust: exact;
			  }
			  h4 {
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			  table {
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			  header .print {
			    display: block;
			  }
			  thead {
				  display: table-header-group;
				  page-break-inside: avoid;
		 	  }
              tfoot { display: table-row-group }
			  tr { page-break-inside: avoid }

			  h1,h2,h3,h4, article{
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			}

    	</style>
	</head>
	<body>
		<div class="container">
			<table class="table" >
				<th class = "table_th entire_border grey_background" colspan="5" style="font-size: 14pt; padding: 0.2em">{{data.invoice.general.invoice_type|upper}}</th>
<!--        <th class = "table_th entire_border grey_background" colspan="5" style="font-size: 12pt; padding: 0.1em">Supply meant for export under LUT without payment of IGST</th>-->

				<tr class="table_tr">
					<td class="table_td" colspan="5" font-size: 12pt; padding: 0.1em style="text-align:center">&nbsp;<b>Supply meant for export under LUT (ack no:  {{data.invoice.general.LUT_NO}} ) without payment of IGST</b></td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%">Company Name</td>
					<td class="table_td border_right_bottom" width="30%">{{data.company.name}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%">Invoice No</td>
					<td class="table_td border_right_bottom" width="30%">{{data.invoice.general.invoice_no}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.company.address}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Invoice Date</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.invoice.general.invoice_date}}</td>
				</tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<!-- <tr><td class="table_td border_right" width="10%">&nbsp;</td></tr> -->
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%">GSTIN</td>
					<td class="table_td border_right_bottom" width="30%">{{data.company.gstin}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%">Service Period</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.invoice.general.service_period_start}} to {{data.invoice.general.service_period_end}}</td>
				</tr>
                {% if data.invoice.general.aggregate_values %}
                <tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%">State</td>
					<td class="table_td border_right_bottom" width="30%">{{ data.company.state }}</td>
<!--					<td class="table_td border_right" width="10%"></td>-->
<!--					<td class="table_td border_right_bottom g rey_background" width="15%">For</td>-->
<!--					<td class="table_td border_right_bottom" width="30%">{{ data.invoice.general.aggregate_values }}</td>-->
				</tr>
        <tr class="tr_with_right_border">
          <td class="table_td border_right_bottom grey_background" width="15%"> Country</td>
          <td class="table_td border_right_bottom" width="30%"> {{data.company.country}}</td> </tr>
                {% endif %}

                <tr class="tr_with_right_border">
					<td class="table_td" width="15%"></td>
					<td class="table_td" width="30%"> </td>
<!--					<td class="table_td border_right" width="10%"></td>-->
				</tr>
				<tr class="tr_with_right_border">
<!--					<td class="table_td border_bottom" colspan="2">&nbsp;</td>-->


					<td class="table_td border_right_bottom" colspan="2">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" colspan="2"><b> Details of Customer</b></td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" colspan="2"><b> Details of Service</b></td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> Name</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.name}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%">  Place of Supply</td>
					<td class="table_td border_right_bottom" width="30%"> South Africa </td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;"> {{data.customer.address}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;"> Type of export</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">Direct </td>
				</tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<!-- <tr><td class="table_td border_right" width="10%">&nbsp;</td></tr> -->
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> Country</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.country}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%"> Type of transaction</td>
					<td class="table_td border_right_bottom" width="30%"> B2B/B2C</td>
				</tr>
        <tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> Reg no</td>
					<td class="table_td border_right_bottom" width="30%"> 2016/514145/07</td>
				</tr>
				</br> </br>
        </br> </br>
        </br> </br>
				<tr class="table_tr">
						<td class="table_td" colspan="5">&nbsp;</td>
				</tr>
			</table>

			<table class="table" >

				<tr class="tr_with_right_border">
					<th class="table_th border_right grey_background" width="10%" valign="bottom">S.No.</th>
					<th class="table_th border_right grey_background" width="500" valign="bottom"> Description of Service</th>
					<th class="table_th border_right grey_background" width="600" colspan="5"valign="bottom"> </th>
					<th class="table_th border_right grey_background" width="230" colspan="6"valign="bottom"> Amount(USD)</th>
				</tr>

				{% for value in data.invoice.description %}
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom" width="10%" style="text-align:center"> {{forloop.counter}}</td>
					<td class="table_td border_right_bottom" width="500" style="text-align:center"> {{value.description}}</td>
          <td class="table_td border_right_bottom " width="600" colspan="5" style="text-align:center">  Under LUT </td>
					<td class="table_td border_right_bottom " width="230" colspan="6" style="text-align:center"> {{value.taxable_value}}</td>
				</tr>

				{% endfor %}

				<tr class="tr_with_right_border">
					<th class="table_td border_right_bottom grey_background" colspan="4" style="text-align: right"> Total&nbsp;</th>
					<td class="table_td border_right_bottom " width="100"  colspan="6" style="text-align:center"> {{data.invoice.description_total.taxable_value}}</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom " style="font-style: italic;" colspan="10" width="1000"> * Value of Service - as per details attached</td>
				</tr>

				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" style="text-align: right;" colspan="2"> Total Value (in Figure)&nbsp;</th>
					<td class="table_td border_right_bottom " colspan="8"> USD. {{data.invoice.description_total.value_in_figure}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" style="text-align: right;" colspan="2"> Total Value (in Words)&nbsp;</th>
					<td class="table_td border_right_bottom " colspan="8"> US Dollar {{data.invoice.description_total.value_in_words}} Only</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom " colspan="9">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" colspan="6" style="text-align: left; padding-left: 0.5em;"> Comments or Notes:</th>
					<th class="table_td border_right_bottom grey_background" colspan="4" style="text-align: left;"> Catbus Infolabs Pvt. Ltd</th>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="6" style="padding: 5px;">{% if data.invoice.general.comments %}{{data.invoice.general.comments}}{% endif %}</td>
					<td class="table_td border_right " colspan="4">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="6">&nbsp;</td>
					<td class="table_td border_right " colspan="4">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="6">&nbsp;</td>
					<td class="table_td border_right " colspan="4">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="6">&nbsp;</td>
					<td class="table_td border_right " colspan="4">&nbsp;</td>
				</tr>

			<!-- 	<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right_bottom " colspan="3">&nbsp;</td>
				</tr> -->

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="6">&nbsp;</td>
					<th class="table_td border_right_top grey_background " colspan="4" style="text-align: left;"> Authorised Signatory</th>
				</tr>

			</table>

			<table class="table" >
				<tr class="tr_with_right_border">
					<td class="table_td padding_class" colspan="3"> Kindly issue Cheque in favour of "M/S CATBUS INFOLABS PVT. LTD"</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td padding_class" colspan="3" > Account Details for Online Payments: CATBUS INFOLABS PVT. LTD</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td padding_class" style="text-align: left;">Bank : {{data.company.bank_details.account_name}}</td>
					<!-- <td class="table_td padding_class" style="text-align: left;"> Kotak Mahindra Bank</td> -->
					<td class="table_td padding_class" style="text-align: center;">Account No : {{data.company.bank_details.account_number}}</td>
					<td class="table_td padding_class" style="text-align: right;">IFSC Code : {{data.company.bank_details.ifsc_code}}</td>
					<!-- <td class="table_td padding_class" style="text-align: left;"> KKBK0008040</td> -->
				</tr>

			</table>

            {% if data.invoice.summary %}
                <div style="page-break-before: always; page-break-after: always;">

                <p class="display_style"><span style="line-height:1.2; border-bottom: 1px solid black;margin-bottom: 3px;">Summary for Value of Services Billed vide Invoice Number <b>{{data.invoice.general.invoice_no}}</b> dated {{data.invoice.general.invoice_date}} on <b>{{data.customer.name}}</b></span></p>

                <table class="table table-with-padding">
                    <thead>
                        <tr class="tr_with_right_border">
                            <th class="table_th border_right_bottom " style="padding: 0.2em;text-align: center">S No.</th>
                            <th class="table_th border_right_bottom " style="text-align: center;">Order Amount(USD)</th>
                            <th class="table_th border_right_bottom " style="text-align: center;">Description</th>
                            <th class="table_th border_right_bottom " style="text-align: center;">Order Count </th>
                            <th class="table_th border_right_bottom " style="text-align: center;">Percentage</th>
                            <th class="table_th border_right_bottom " style="text-align: center;">Total Amount(USD)</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for record in data.invoice.summary %}
                        <tr class="tr_with_right_border">
                            <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{forloop.counter}}</td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{record.value}}</td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: left;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{record.value_extra}}</td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{record.slab.rate}}</td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{record.amount}}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                        <tr class="tr_with_right_border">
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;">&nbsp;</td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                        </tr>
                        <tr>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: right;"><b>Total: </b></td>
                            <td class="table_td border_right_bottom text_align_center" style="text-align: right;"><b>USD. {{data.invoice.description_total.total_without_adj}}</b></td>
                        </tr>
                    </tfoot>


                </table>
                  <p class="display_style"><span style="font-size: 12px; font-weight: 400">Note: Calculations are performed by considering 1 ZAR = {{data.invoice.general.usd_amount}} USD on {{data.invoice.general.currency_date}} </b></span></p>

                </div>
            {% endif %}

            {% if data.invoice.details %}
			    <div style="page-break-before: always; page-break-after: always;">

				<p class="display_style"><span style="line-height:1.2; border-bottom: 1px solid black;margin-bottom: 3px;">Details for Value of Services Billed vide Invoice Number <b>{{data.invoice.general.invoice_no}}</b> dated {{data.invoice.general.invoice_date}} on <b>{{data.customer.name}}</b></span></p>
				<br>

                {% for invoice_data in data.invoice.details %}

                    <div class="annexure">Annexure: {{ forloop.counter }}</div>
                    {% for attribute_data in invoice_data.details %}
                        {% if attribute_data.attribute_name == 'days' or attribute_data.attribute_name == 'trips' %}
						    <div style="margin: 10px auto;width: 100%;padding:15px 0px">
								<span class="table-caption" style="font-size: 16px; font-weight: 500"><b>{{ forloop.counter }} - Fixed</b></span>
                  {% if invoice_data.days_counted > 0 %}

								       <span class="table-right-caption" style="font-size: 15px; font-weight: 400">* Number of working days counted : {{ invoice_data.days_counted }}</span> <br>
                       <span class="table-right-caption" style="font-size: 15px; font-weight: 400">* BasePay Per Month : {{ invoice_data.base_pay_per_month }}</span>
                  {% endif %}
							</div>
							<br>
                            <table class="table table-with-padding">
								<thead>
									<tr class="tr_with_right_border">
										<th class="table_th border_right_bottom " style="padding: 0.2em;text-align: center">S No.</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Vehicle #</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Unit Price</th>
										<th class="table_th border_right_bottom " style="text-align: center;">{{ attribute_data.attribute_name|title}}</th>
										{% if attribute_data.aggregates.slab_fixed_amount_kilometers__sum %}<th class="table_th border_right_bottom " style="text-align: center;">Charges for Kilometers</th>{% endif %}
										{% if attribute_data.aggregates.slab_fixed_amount_hours__sum %}<th class="table_th border_right_bottom " style="text-align: center;">Charges for Hours</th>{% endif %}
										<th class="table_th border_right_bottom " style="text-align: center;">Total Amount</th>
									</tr>
								</thead>
								<tbody>
                                {% for record in attribute_data.records %}
                                    <tr class="tr_with_right_border">
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{forloop.counter}}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{record.driver.driver_vehicle}}</td>
										{% if record.rate %}
										<td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{record.rate}}</td>
										{% else %}
										<td class="table_td border_right_bottom text_align_center" style="text-align: center;">-</td>
										{% endif %}
										{% if record.value %}
										<td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{record.value}}</td>
										{% else %}
										<td class="table_td border_right_bottom text_align_center" style="text-align: center;">-</td>
										{% endif %}
                                        {% if attribute_data.aggregates.slab_fixed_amount_kilometers__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{ record.slab_fixed_amount_kilometers }}</td>{% endif %}
                                        {% if attribute_data.aggregates.slab_fixed_amount_hours__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{ record.slab_fixed_amount_hours }}</td>{% endif %}
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ record.amount }}</td>
                                    </tr>
                                {% endfor %}

                                <tr class="tr_with_right_border">
                                    <td class="table_td border_right_bottom text_align_center" style="text-align: center;">&nbsp;</td>
                                    <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                                    <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                                    <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                                    {% if attribute_data.aggregates.slab_fixed_amount_kilometers__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: right;"></td>{% endif %}
                                    {% if attribute_data.aggregates.slab_fixed_amount_hours__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: right;"></td>{% endif %}
                                    <td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
                                </tr>


{#                                <tr class="tr_with_right_border">#}
{#                                    <th class="table_th border_right_bottom text_align_center " colspan="6" style="padding: 0.2em;"><b>Total</b></th>#}
{#                                    <td class="table_th border_right_bottom text_align_center" ><b>{{data.invoice.details_total}}</b></td>#}
{#                                </tr>#}
								</tbody>
								<tfoot>
									<tr class="tr_with_right_border">
										<td class="table_td border_right_bottom text_align_center" style="text-align: center;">&nbsp;</td>
										<td class="table_td border_right_bottom text_align_center" style="text-align: center;"></td>
										<td class="table_td border_right_bottom text_align_center" style="text-align: right;"><b>Total : </b></td>
										<td class="table_td border_right_bottom text_align_center" style="text-align: right;"><b>{{ attribute_data.aggregates.value__sum }}</b></td>
										{% if attribute_data.aggregates.slab_fixed_amount_kilometers__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: right;"></td>{% endif %}
										{% if attribute_data.aggregates.slab_fixed_amount_hours__sum %}<td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ attribute_data.aggregates.slab_fixed_amount_hours__sum }}</td>{% endif %}
										<td class="table_td border_right_bottom text_align_center" style="text-align: right;"><b>{{ attribute_data.aggregates.amount__sum }}</b></td>
									</tr>
								</tfoot>
							</table>
							<br><br>
						{% else %}
						    <div style="margin: 10px auto;width: 100%;padding:15px 0px">
							   <span class="table-caption" style="font-size: 16px; font-weight: bold"><b>{{ forloop.counter }} - Variable: {{ attribute_data.attribute_name|title }}</b></span>
							   {% if attribute_data.aggregates.slab_fixed_amount_hours__sum %}
							   <span class="table-right-caption" style="font-size: 15px; font-weight: normal"> {{attribute_data.aggregates.slab_fixed_amount_hours__sum}} Hours.
							   {% endif %}
							   {% if attribute_data.aggregates.slab_fixed_amount_kilometers__sum %}
							   <span class="table-right-caption" style="font-size: 15px; font-weight: 400"> {{attribute_data.aggregates.slab_fixed_amount_kilometers__sum}} Kilometers
							   {% endif %}
							</div>
							<br>
                            <table class="table table-with-padding">
								<thead>
									<tr class="tr_with_right_border">
										<th class="table_th border_right_bottom " style="text-align: center">S No.</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Date</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Aggregate Level</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Aggregate Value</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Unit Price</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Total Units</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Chargeable Units</th>
										<th class="table_th border_right_bottom " style="text-align: center;">Total Amount</th>
									</tr>
								</thead>
								<tbody>

                                {% for record in attribute_data.records %}
                                    <tr class="tr_with_right_border">
										<td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{forloop.counter}}</td>
										{% if record.date %}
                                        <td nowrap class="table_td border_right_bottom text_align_center" style="text-align: left;">{{ record.date|date:"d M Y" }}</td>
										{% else %}
										<td nowrap class="table_td border_right_bottom text_align_center" style="text-align: center;">-</td>
										{% endif %}
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{ record.aggregate_level_category }}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: left;">{{ record.aggregate_level_value }}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ record.rate }}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ record.value }}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ record.extra_value }}</td>
                                        <td class="table_td border_right_bottom text_align_center" style="text-align: right;">{{ record.amount }}</td>
                                    </tr>
                                {% endfor %}
							</tbody>

						<tfoot>
							<tr class="tr_with_right_border">
								<td class="table_th border_right_bottom text_align_center" ><b>&nbsp;</b></td>
								<td class="table_th border_right_bottom text_align_center" ><b></b></td>
								<td class="table_th border_right_bottom text_align_center" ><b></b></td>
								<td class="table_th border_right_bottom text_align_center" ><b></b></td>
								<td class="table_th border_right_bottom text_align_center" style="text-align: right;"><b>Total : </b></td>
								<td class="table_th border_right_bottom text_align_center" style="text-align: right;"><b>{{ attribute_data.aggregates.value__sum }}</b></td>
								<td class="table_th border_right_bottom text_align_center" style="text-align: right;"><b>{{ attribute_data.aggregates.extra_value__sum }}</b></td>
								<td class="table_th border_right_bottom text_align_center" style="text-align: right;"><b>{{ attribute_data.aggregates.amount__sum }}</b></td>
							</tr>
						</tfoot>
						</table>
						<br><br>
                        {% endif %}
                    {% endfor %}
                    <br><br>
                {% endfor %}
			</div>
            {% endif %}


		</div>
	</body>
</html>

