﻿<nav class="navbar sticky bg-light">
  <div class="navbar-header">
    <a href="/" class="navbar-brand">
      <img ng-src="{{vm.logoUrl}}" alt="{{vm.title}}"
      class="img-responsive blowhorn_logo"/></a>
    </a>
    <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <div class="pull-right navbar-logo">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="{{ vm.bookingUrl }}" target="_self" class="btn-primary">Book a new truck</a>
        </li>
        <li>
          <div class="dropdown dropdown-big">
            <a
              class="btn btn-secondary btn-border dropdown-toggle min-width150 btn-user-dropdown"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              ng-click="vm.toggleDropdown()"
            >
              {{ vm.profile.name || 'Hello' }}
              <i class="fa" ng-class="{'fa-chevron-down': !vm.showDropdown, 'fa-chevron-up': vm.showDropdown}" aria-hidden="true"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="{{ vm.dashboardUrl }}">Dashboard</a>
              <a class="dropdown-item" ng-click="vm.logoutUser()" target="_self">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
