<div class="d-flex justify-content-between permission-header">
    <div>User Permissions</div>
    <div class="d-flex">
        <app-blowhorn-button
        style="margin-right: 8px;"
        [label]="dismissButton.label"
        [type]="'delete'"
        [disabled]="dismissButton.disabled"
        (click_fired)="dismiss($event)">
        </app-blowhorn-button>
        <span class="clear"></span>
        <app-blowhorn-button
        [label]="submitting ? 'Saving..' : submitButton.label"
        [type]="submitButton.type"
        [disabled]="submitButton.disabled || submitting"
        (click_fired)="saveForm($event)">
        </app-blowhorn-button>
    </div>
</div>
<div class="member-modal-body" *ngIf="!view_mode">
    <mat-accordion multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row-header">Roles</div>
            </mat-panel-title>
            <mat-panel-description class="panel-description" *ngIf="availableGroups.length">
              Assigned: {{ selectedGroups.length ? selectedGroups.length : userStoredData.groups.length }} | Total: {{ availableGroups.length }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="group-container">
            <app-multiselect-box
            *ngIf="availableGroups.length"
            [items]="availableGroups"
            (selected_options)="groupsChanged($event)"
            [available_panel_label]="'Available Roles'"
            [action_buttons]="multiselectActionButtons"
            [chosen_panel_label]="'Selected Roles'"
            ></app-multiselect-box>
            <div class="d-flex btn-add-role">
              <p>Do you want to add a new role?</p>
              <app-blowhorn-button
              [label]="'Add Role'"
              [type]="'save'"
              (click_fired)="openRolePage()">
              </app-blowhorn-button>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="row-header">Permissions</div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="permission-container">
            <app-permissions
            *ngIf="permissions && permissions.length"
            [master_permissions]="permissions"
            [modules]="modules"
            [systems]="systems"
            [permission_levels]="permission_levels"
            [user_stored_data]="userStoredData"
            (permissions_selected)="selectedPermissions($event)"
            ></app-permissions>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
</div>
