.permission-header {
  margin-top: 8px;
  padding: 12px 15px;
  color: #0088a8;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  align-items: center;
  position: sticky;
  top: 76px;
  left: 0;
  background: #fff;
  div {
    font-size: 1.2rem;
  }
}
.row-header {
  padding: 6px;
  color: #333;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.member-modal-body {
  max-height: 80vh;
  overflow-y: auto;
  background: #F9F9F9;
  .group-container {
    background: #f9f9f9;
    padding: 4px 8px;
  }
  .permission-level-value {
    width: 200px;
    margin: 15px;
  }
  .text--or {
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  .group--name {
    padding: 0 15px;
  }
}
.panel-description {
  justify-content: flex-end;
  align-items: center;
}
.group-container {
  background: #f9f9f9;
  padding: 4px 8px;
  display: flex;
  grid-gap: 12px;
  .btn-add-role {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
  }
}
