:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #e5e8e8;
        color: rgb(104, 109, 110);
        .left {
            color: inherit;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
        }
        .right {
            font-size: 15px;
            color: inherit;
        }
        &:hover {
            cursor: pointer;
            color: rgb(104, 109, 110);
        }
    }
    .collapsed {
        color: #BBC2C4;
        margin-bottom: 3px;
    }
    .result {
        height: auto;
        transition: height .4s;
        display: flex;
        flex-direction: column;
    }
    .hide {
        height: 0px;
        display: none;
    }
    .show {
        display: flex;
        height: auto;
    }
}
