<div class="header" (click)="toggleGroup()"
    [ngClass]="{'collapsed': collapsed}">
    <span class="left">{{ city }} | {{ records.length }} Slots</span>
    <span class="fa right" [ngClass]="collapsed ? 'fa-caret-down': 'fa-caret-up'"></span>
</div>
<div class="result" [ngClass]="collapsed ? 'hide' : 'show'">
    <app-resource-planning-title [show_city]="false"></app-resource-planning-title>
    <div class="records">
        <div class="record" *ngFor="let record of records; let index = index">
            <app-resource-planning-row
            [row]="record"
            [show_city]="false"
            (rowClicked)="rowClicked($event)"
            (actionClicked)="actionClicked($event)">
            </app-resource-planning-row>
        </div>
    </div>
</div>
