<app-blowhorn-navbar
    [navbar_styles]="navbar_styles"
    [links]="links"
    [link_styles]="link_styles"
    ></app-blowhorn-navbar>
<div class="live-tracking-main">
    <app-filter-sidebar></app-filter-sidebar>
    <!-- <app-order-statistics-rightbar></app-order-statistics-rightbar> -->

    <div class="map-container">
        <agm-map
            [clickableIcons]="false"
            (mapReady)="on_map_ready($event)"
            [latitude]="latitude_center"
            [longitude]="longitude_center"
            [zoom]="zoom_level"
            [streetViewControl]=false>
            <agm-marker *ngFor="let locDetail of updatedLocations"
                [id]="locDetail.driver_id"
                [latitude]="locDetail.location.mLatitude"
                [longitude]="locDetail.location.mLongitude"
                [visible]="locDetail.marker.visible"
                [iconUrl]="locDetail.marker.icon_url"
                (markerClick)="select_marker(locDetail)">
                <agm-info-window
                (infoWindowClose)="reset_selected_marker_icon(locDetail, $event)"
                [isOpen]="locDetail.marker.infowindow">
                    <app-info-window
                    [locDetail]="locDetail"
                    [vehicle_icons]="vehicle_icons"
                    ></app-info-window>
                </agm-info-window>
            </agm-marker>
        </agm-map>

        <app-dropdown-select
            [styles]="city_styles"
            [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [items]="cities"
            [disabled]="false"
            (value_changed)="city_changed($event)">
        </app-dropdown-select>

        <app-dropdown-select
            [styles]="customer_styles"
            [selected_name]="selected_customer_name ? selected_customer_name : 'All Customers'"
            [selected_id]="selected_customer_id ? selected_customer_id : null"
            [items]="customers"
            [disabled]="false"
            (value_changed)="customer_changed($event)">
        </app-dropdown-select>

        <app-dropdown-select
            [styles]="driver_styles"
            [selected_name]="selected_driver_name ? selected_driver_name : 'All Drivers'"
            [selected_id]="selected_driver_id ? selected_driver_id : null"
            [items]="drivers"
            [disabled]="false"
            (value_changed)="driver_changed($event)">
        </app-dropdown-select>
        <div class="fit-zoom">
            <app-blowhorn-button
            [label]="'Fit Zoom'"
            (click_fired)="fit_bound()"
            ></app-blowhorn-button>
        </div>
    </div>

    <app-whats-new
    [app_title]="app_title"
    [app_code]="app_code"
    [version]="version"
    [whats_new]="whats_new"
    ></app-whats-new>
</div>
