.live-tracking-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    align-items: stretch;
    .rightbar-collapsed {
        width: 5%;
    }

    .rightbar-expanded {
        width: 10%;
    }

    .map-container {
        position: relative;
        height: 100vh;
        width: 100%;
        max-width: 100%;

        .fit-zoom {
            position: absolute;
            right: 15px;
            top: 25px;
        }
    }

    agm-map {height: 100vh; width: 100%;}
}
