{% extends "account/base.html" %}
{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height:100vh;">
   <div class="row message-row">
    <div class="col-md-offset-3 col-md-6 message-block">
      <p class="success-message text-muted">{% trans "Account Inactive" %}</p>
      <p>{% trans "This account is inactive." %}</p>
      <p class="success-message"><a href="/">Click here to go to home</a></p>
    </div>
   </div>
 </div>
</div>
{% endblock content %}
