{% extends "base.html" %}
{% load i18n static %}
{% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}

{% block css %}
  {{ block.super }}
  <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
{% endblock javascript %}
