{% extends "account/base.html" %}
{% load i18n static account crispy_forms_tags %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height: 100%;">
   <div id="modal-password" role="dialog" aria-labelledby="modal-password">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-muted">
            {% trans "Confirm E-mail Address" %}
          </h2>
        </div>
        <div class="modal-body text-center">
          {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
            {% csrf_token %}
              <input class="btn btn-success" type="submit" value="{% trans 'Confirm' %}" />
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}

        </div>
      </div>
    </div>
   </div>
 </div>
</div>
{% endblock content %}
