{% extends "account/base.html" %}
{% load i18n static account %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height:100vh;">
   <div class="row message-row">
    <div class="col-md-offset-3 col-md-6 message-block">
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <h3 class="success-message text-muted">{% trans 'Your password has been changed.' %}</h3>
      <p class="success-message"><a href="/">Click here to go to home</a></p>
    </div>
   </div>
 </div>
</div>
{% endblock content %}
