{% extends "account/base.html" %}
{% load i18n static account crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height: 100%;">
   <div id="modal-password" role="dialog" aria-labelledby="modal-password">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-muted">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
          </h2>
        </div>
        <div class="modal-body text-center">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Update" class="btn btn-success" title="Update" name="action">
            </form>
            {% else %}
              <p>{% trans 'Your password is has been changed.' %}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
   </div>
 </div>
</div>
{% endblock content %}
{% block javascript %}
  {{ block.super }}
  <script type="application/javascript">
    (function ($) {
      $(document).ready(function () {
        $('#id_password1, #id_password2').addClass('form-control');
        $('input[submit]').addClass('btn-blue');
      });
    })(jQuery);
  </script>
{% endblock javascript %}
