{% extends "account/base.html" %}
{% load i18n static account crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="content">
 <div class="container" style="height: 100%;">
  <div id="modal-password" role="dialog" aria-labelledby="modal-password">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-muted">
            {% trans "Change Password" %}
          </h2>
        </div>
        <div class="modal-body text-center">
          {% if form %}
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="Update" class="btn btn-success" title="Update" name="action">
            </form>
          {% else %}
            <p>{% trans 'Your password is has been changed.' %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}
{% block javascript %}
{{ block.super }}
<script type="application/javascript">
  (function ($) {
    $(document).ready(function () {
      $('#id_password1, #id_password2').addClass('form-control');
      $('input[submit]').addClass('btn-blue');
    });
  })(jQuery);
</script>
{% endblock javascript %}

