{% extends "account/base.html" %}
{% load i18n static account crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height: 100%;">
   <div id="modal-password" role="dialog" aria-labelledby="modal-password">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title text-muted">
            {% trans "Password Reset" %}
          </h2>
        </div>
        <div class="modal-body text-center">
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}

          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-success" type="submit" value="{% trans 'Recover' %}" />
          </form>
          <p class="help-text">{% blocktrans %}Please contact us if you have
            any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </div>
    </div>
   </div>
 </div>
</div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
{% endblock javascript %}
