{% extends "account/base.html" %}
{% load i18n static account %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts.css' %}">
{% endblock css %}

{% block content %}
<div class="content">
 <div class="container" style="height:100vh;">
   <header class="row">
     <div class="col-sm-2 col-xs-4">
       <a href="/" title="Blowhorn">
        <img src="{% static 'website/images/logoLight2X.png' %}" alt="blowhorn logo" class="img-responsive" />
      </a>
    </div>
  </header>
  <div class="row message-row">
    <div class="col-md-offset-3 col-md-6 message-block">
      <p class="success-message text-muted">{% trans "Verify Your E-mail Address" %}</p>
      <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
      <p class="success-message"><a href="/">Click here to go to home</a></p>
    </div>
  </div>
</div>
</div>
{% endblock content %}
