:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .header {
        background-color: #F7FBFC;
        color: #303232;
        font-size: 24px;
        font-weight: 500;
        line-height: 35px;
        font-variant: small-caps;
        padding: 30px 20px 10px 20px;
    }
}
