.wrapper {
  height: 130px;
  width: auto;
  background-color: white;
  height: 165px;
  border-radius: 2%;
  text-align: center;
  font-weight: bold;
  margin-left: 25px;
  margin-right: 25px;
}
.title {
  color: black;
  padding-top: 12px;
  margin-bottom: 15px;
  font-size: 17px;
}
.content {
  color: black;

  font-size: 40px;
}

.card {
  border: none;
}
.card-header {
  border: none;
  border-radius: 8px 8px 0px 0px;
  background-color: white;
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.card-body {
  text-align: left;
  font-size: 45px;
  margin-right: 0px;
  font-weight: 600;
  color: var(--primary-color);
}
