.invoice-main {
    background: white;
    width: 100%;
    min-height: 100vh;    
    display: flex;
    flex-direction: column;
    .summary-section{
        width: 100%;
        max-width: 1200px;
        min-width: 320px;
    }
}
@media (min-width: 575px) {
    .invoice-main {
        align-items: center;
    }
}