<div class="invoice-main">
    <div class="summary-section">
        <app-invoice-summary [trip]="trip"
            [office]="office"
            [consignee]="consignee"
            [consignor]="consignor"
            [shipments]="shipments"
            [customer]="customer"
            (download_pressed)="download_invoice($event)">
        </app-invoice-summary>
    </div>    
</div>