.wrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    .heading {
        color: #303232;
        
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
        margin-bottom: 15px;
    }
    .details {
        color: #0180A8;
        
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .reason-wrapper {
        .other-reason {
            margin-top: 10px;
            textarea  {
                resize: none;
                border: 1px solid #ccc;
                border-radius: 2px;
                width: 100%;
                padding: 5px;
            }
        }
        margin-bottom: 10px;
    }
    .comments {
            textarea  {
                resize: none;
                border: 1px solid #ccc;
                border-radius: 2px;
                width: 100%;
                padding: 5px;
            }
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .loader-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
    }
    .circle-loader {
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-left-color: #5cb85c;
        animation: loader-spin 1.2s infinite linear;
        position: relative;
        display: inline-block;
        vertical-align: top;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        .checkmark {
            display: none;
            &.draw-success:after {
                animation-duration: 800ms;
                animation-timing-function: ease;
                animation-name: renderCheckmark;
                transform: scaleX(-1) rotate(135deg);
            }

            &:after {
                opacity: 1;
                height: 25px;
                width: 12.5px;
                transform-origin: left top;
                border-right: 3px solid #5cb85c;
                border-top: 3px solid #5cb85c;
                content: '';
                left: 20%;
                top: 50%;
                position: absolute;
            }
        }
    }

    .load-complete {
        -webkit-animation: none;
        animation: none;
        border-color: #5cb85c;
        transition: border 500ms ease-out;
        .checkmark {
            display: block;
        }
    }

    @keyframes loader-spin {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }

    @keyframes renderCheckmark {
        0% {height: 0;width: 0;opacity: 1;}
        20% {height: 0;width: 12.5px;opacity: 1;}
        40% {height: 25px;width: 12.5px;opacity: 1;}
        100% {height: 25px;width: 12.5px;opacity: 1;}
    }

    .circle-loader .errorLoadCheck {
        display: none;
    }
    .circle-loader .errorLoadCheck .draw {
        position: absolute;
        top: 50%;
        left: 12%;
        height: 1px;
        width: 35px;
        background: red;
    }
    .circle-loader .errorLoadCheck .draw1 {
        transform: rotate(135deg);
        animation: Xdraw1 300ms ease;
    }
    .circle-loader .errorLoadCheck .draw2 {
        transform: rotate(-135deg);
        animation: Xdraw2 300ms ease;
    }

    .load-complete-error {
        -webkit-animation: none;
        animation: none;
        border-color: red;
        transition: border 500ms ease-out;
        .errorLoadCheck {
            display: block;
        }
    }

    .checkmark-failure {
        display: none;
    }
    .checkmark-failure .draw:after {
        animation: checkmarkFailure 800ms ease;
        transform: scaleX(-1) rotate(135deg);
    }
    .checkmark-failure:after {
        opacity: 1;
        height: 49px;
        width: 24.5px;
        transform-origin: left top;
        border-right: 1px solid green;
        border-top: 1px solid green;
        content: '';
        left: 24.5px;
        top: 49px;
        position: absolute;
    }

    .errorLoadCheck {
        display: none;
    }
    .errorLoadCheck .draw {
        display: block;
        position: absolute;
        top: 49px;
        left: 24.5px;
        height: 1px;
        width: 49px;
        background: red;
    }
    .errorLoadCheck .draw1 {
        transform: rotate(135deg);
        animation: Xdraw1 300ms ease;
    }
    .errorLoadCheck .draw2 {
        transform: rotate(-135deg);
        animation: Xdraw2 300ms ease;
    }

    @keyframes loader-spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
    }
    @keyframes Xdraw1 {
        0% {
          transform: scale(0) rotate(135deg);
        }
        100% {
          transform: scale(1) rotate(135deg);
        }
    }
    @keyframes Xdraw2 {
        0% {
          transform: scale(0) rotate(-135deg);
        }
        100% {
          transform: scale(1) rotate(-135deg);
        }
    }
    @keyframes checkmarkFailure {
        0% {
          height: 0;
          width: 0;
          opacity: 1;
        }
        20% {
          height: 0;
          width: 24.5px;
          opacity: 1;
        }
        40% {
          height: 49px;
          width: 24.5px;
          opacity: 1;
        }
        100% {
          height: 49px;
          width: 24.5px;
          opacity: 1;
        }
    }

}
