<div class="wrapper">
    <div class="loader-wrapper">
        <div class="circle-loader"
        [ngClass]="{'load-complete': loader.icon=='success',
        'load-complete-error': loader.icon=='failure'}" *ngIf="loader.show">
            <div class="checkmark draw-success" *ngIf="loader.icon==='success'"></div>
            <div class="errorLoadCheck" *ngIf="loader.icon==='failure'">
                <div class="draw draw1"></div>
                <div class="draw draw2"></div>
            </div>
        </div>
    </div>
    <div class="heading" [ngStyle]="styles.header">{{heading}}</div>
    <div class="details" [ngStyle]="styles.details">{{details}}</div>
    <div class="reason-wrapper" *ngIf="show_reason">
        <app-dropdown-select
        [styles]="reason_styles"
        [selected_name]="selected_reason_name ? selected_reason_name : 'Select a reason'"
        [selected_id]="selected_reason_id ? selected_reason_id : null"
        [items]="dispute_reasons"
        [show_cross]="false"
        [use_titlecase]="false"
        (value_changed)="reason_changed($event)">
        </app-dropdown-select>
        <div class="other-reason" *ngIf="show_other_reason">
            <textarea [(ngModel)]="other_reason"rows="3"
            placeholder="Reason for dispute (required)"></textarea>
        </div>
    </div>
    <div class="comments" *ngIf="show_comments">
        <textarea [(ngModel)]="comments" rows="3"
        placeholder="Comments (optional)"></textarea>
    </div>
    <div class="footer" *ngIf="show_footer" [ngStyle]="styles.footer">
        <div class="" *ngIf="action_buttons.decline.show">
            <app-blowhorn-button
            class="no"
            (click_fired)="submitForm(false)"
            [label]="action_buttons.decline.label"
            [type]="action_buttons.decline.type"
            [flat_btn]="true">
            </app-blowhorn-button>
        </div>
        <div class="" *ngIf="action_buttons.confirm.show">
            <app-blowhorn-button
            class="yes"
            (click_fired)="submitForm(true)"
            [label]="action_buttons.confirm.label"
            [type]="action_buttons.confirm.type"
            [disabled]="show_reason && (!selected_reason_name || (selected_reason_id === -1 && !other_reason))"
            [flat_btn]="true">
            </app-blowhorn-button>
        </div>
    </div>
</div>
