{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block extrahead %}
{{ block.super }}
<style>
    .total-amount {position: absolute;top: 0;right: 0;font-weight: 800;}
</style>
<script type="application/javascript">
    let totalAmount = "{{ total_amount }}";
    var callback = function () {
        let divTotal = document.createElement("div");
        divTotal.innerHTML = `Total Amount: ₹${totalAmount}`;
        divTotal.classList.add('total-amount');
        document.getElementById('toolbar').appendChild(divTotal);
    };

    if (
        document.readyState === "complete" ||
        (document.readyState !== "loading" && !document.documentElement.doScroll)
    ) {
        callback();
    } else {
        document.addEventListener("DOMContentLoaded", callback);
    }
</script>
{% endblock %}
