<div class="user-list">
  <ul class="list-group" *ngIf="users.length > 0">
    <li class="list-group-item d-flex align-items-center justify-content-between" *ngFor="let user of users;let i = index;">
      <span class="user-holder" [@fadeInOut]>
        <span class="username">{{ user }}</span>
      </span>
      <span (click)="removeUser(i)" class="remove">
        <img src="{{ cancel_src }}" alt="">
      </span>
    </li>
  </ul>
  <div class="add-user">
    <form class="d-flex align-items-center justify-content-start" (submit)="addUser()" *ngIf="showAddForm">
      <input class="user" type="email" name="user" placeholder="Email"
      [(ngModel)]="user" (change)="error_message=''">
      <input class="button-flat user-add" type="submit" value="Add" [readonly]="!user">
    </form>

    <div class="error">{{error_message}}</div>

    <div class="show-form d-flex align-items-start justify-content-star" 
    (click)="showAddForm = !showAddForm" *ngIf="!showAddForm">
      <span class="show-form-add d-flex align-items-center justify-content-center">
        <img src="{{ add_stop_src }}" alt=""><span>Add additional email id</span>
      </span>
    </div>
  </div>
</div>

