<div class="modal fade" id="modal-qr-code" tabindex="-1" role="dialog" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
    <div class='modal-dialog'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="qrCodeHeader">QR Code</h4>
            </div>
            <div class="modal-body">
                <div id="qr-code-wrapper" style="background-color: #fff; padding: 1%;">
                  <div class="row">
                    <div class="col-md-6" style="border-right: 1px solid #ccc; padding-right: 1%;"> 
                      <div id='cardQr'></div>
                    </div>
                    <div class="col-md-6" style="padding: 1%;">
                      <div class="row" style="margin:0">
                        <span id="customer-name"></span>
                      </div>
                      <div class="row" style="margin:0">
                        <span id="hub-name"></span>
                      </div>
                      <div class="row" style="margin:0">
                        <span id="city-name"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer modal-custom-footer">
                  <div id="footer-btn-wrap">
                    <button type="button" class="btn btn-warning btn-footer" data-dismiss="modal">Cancel</button>
                    <button onclick="downloadCard()" type='button' class='btn btn-success font12' id='btn-download'>
                      <span class='glyphicon glyphicon-download-alt'></span> Download
                    </button>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
