<div class="container-fluid">
  <div class="card">
    <div class="message-wrapper" ng-if="!hasData">
      <i class="fa fa-exclamation-circle text-center"></i>
      <h4 class="message text-center">No Order Found.</h4>
      <h4 class="text-center link">
        <a href="/">Go to Home Page</a>
      </h4>
    </div>
    <div id="event-tables-wrapper" class="event-tables-wrapper"
      ng-repeat="(order_number, events_collection) in displayedCollection">
      <div class="row">
        <a class="navbar-brand" href="/">
          <img ng-src="{{ logoUrl }}" alt="logo"
            class="img-responsive" width="{{logoWidth}}" 
            ng-class="{'blowhorn_logo': showContent, 'mzansigo_logo': !showContent}"/>
        </a>
        <div class="order-number">Order Number:
          <span>{{ order_number }}</span>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="timeline">
              <div class="entry" ng-repeat="row in events_collection track by $index">
                <div class="title">
                  <h3>{{row.status}}</h3>
                  <p>{{row.event_time}}</p>
                </div>
                <div class="body">
                  <p ng-if="row.associate_name">
                    with {{row.associate_name ? row.associate_name : '---'}}
                  </p>
                  <ul>
                    <li>
                      <a ng-if="row.location.lat && row.location.lon"
                        href="//maps.google.com/maps?q={{row.location.lat}},{{row.location.lon}}"
                        target="_blank">Track on Map</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
            <div class="track-content">
              <div class="banner-title">{{ content.title }}</div>
              <div class="banner-title">{{ content.subtitle }}</div>
              <br>
              <p style="color: #888;">
                {{ content.body.p1 }}
              </p>
              <p>
                {{ content.body.p2 }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearall"></div>
  <div ng-if="showContent">
    <blowhorn-footer></blowhorn-footer>
  </div>
</div>
