.action-button {
    display: flex;
    justify-content: flex-end;
    
    .download-btn {
        cursor: pointer;
        background: #fff;
        border-radius: 2px;
        margin: 8px;
        border: 1px solid rgb(5, 199, 92);;
        height: 30px;
        color: rgb(5, 199, 92);
        i {
            width: 20px;
            max-width: 20px;
            height: auto;
        }
        &:hover {
            color: #fff;
            background: rgb(5, 199, 92);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
    }
}

.sla {
    text-align: right;
    font-style: italic;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}