.member-modal {
    border: 1px solid white;
    background-color: #fff;
    .modal-header {
        display: flex;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        .modal-title-text {
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .member-modal-body {
        padding: 20px;
        .member-content-wrapper {
            display: flex;
            flex-direction: column;
        }
    }
    .modal-footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 15px 10px 10px 10px;
    }
    .clear {
        padding: 5px;
    }
    .form-group {
        position:relative;
        margin-bottom:25px;
        input {
            font-size:18px;
            padding:10px 10px 10px 5px;
            display:block;
            width:300px;
            border:none;
            background-color: #f0f5f7;
            color: #5d5d5d;
            &.phone-number {
                display: inline-block;
                width: 260px;
            }
        }
        input:focus {
            outline:none;
            border-bottom:none;
        }
        label {
            color:#999;
            font-size:18px;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            left:5px;
            top:10px;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;
        }

        input ~ label {
            top:-20px;
            font-size:14px;
            color:#969696;
        }

        input:focus ~ label span, input:valid ~ label span {
            color: red;
        }

        ::placeholder {
            color: #ccc;
        }

        .bar { position:relative; display:block; width:310px; }
        .bar:before, .bar:after {
            content:'';
            height:2px;
            width:0;
            bottom:1px;
            position:absolute;
            background:#4E5454;
            transition:0.2s ease all;
            -moz-transition:0.2s ease all;
            -webkit-transition:0.2s ease all;
        }
        .bar:before {
            left:50%;
        }
        .bar:after {
            right:50%;
            left: 0;
        }

        input:focus ~ .bar:before, input:focus ~ .bar:after {
            width:52%;
        }

        .highlight {
            position:absolute;
            width:100%;
            top:25%;
            left:0;
            pointer-events:none;
            opacity:0.5;
        }

        input:focus ~ .highlight {
            -webkit-animation:inputHighlighter 0.3s ease;
            -moz-animation:inputHighlighter 0.3s ease;
            animation:inputHighlighter 0.3s ease;
        }

        @-webkit-keyframes inputHighlighter {
            from { background:#4E5454; }
            to { width:0; background:transparent; }
        }
        @-moz-keyframes inputHighlighter {
            from { background:#4E5454; }
            to { width:0; background:transparent; }
        }
        @keyframes inputHighlighter {
            from { background:#4E5454; }
            to { width:0; background:transparent; }
        }

        .is-invalid {
            color: red;
            font-size: 12px;
            padding-left: 2%;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .switch {
        height: 40px;
        top: auto;
        bottom: 20px;
        left: 140px;
        display: flex;
        span {
            font-size: 14px;
            color: #969696;
            padding: 10px 5px;
        }
        .switch-item {
            color:#999;
            font-size:18px;
            font-weight:normal;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                display: none !important;
                &:disabled {
                    cursor: not-allowed;
                }
            }
            label {
                font-size: 14px;
                color: #969696;
                margin-bottom: 0px;
                cursor: pointer;
                text-align: center;
                border-radius: 18px;
                padding: 6px 20px;
                border: 1px solid #ccc;
                &.selected {
                    background: #4E5454;
                    color: #fff;
                }
            }
        }
    }
    .success {
        border: none !important;
    }
    .error {
        border: none !important;
    }
}

.backdrop-color {
    background-color: rgba(0, 0, 0, 0.7);
}
