<div class="member-modal">
    <div class="modal-header">
        <div class="modal-title-text">{{header_text}}</div>
        <div (click)="activeModal.dismiss('Cross click')">
            <span class="fa fa-times cross"
            (click)="activeModal.dismiss('Cross click')"></span>
        </div>
    </div>
    <div class="member-modal-body">
        <div class="member-content-wrapper">
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" name="email" [(ngModel)]="current_member.email"
                        #email="ngModel" autocomplete="off" placeholder="Email *"
                        [pattern]="inputRegex.email" 
                        [readonly]="!member_service.has_invite_permission" required/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <div *ngIf="f.submitted && email.invalid" class="is-invalid">
                        <div *ngIf="email.errors.required">Email is required</div>
                        <div *ngIf="email.errors.pattern">Enter a valid email. e.g., abc@example.com</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="name" 
                    [(ngModel)]="current_member.name"
                    #name="ngModel" autocomplete="off" placeholder="Name"
                    [pattern]="inputRegex.name"
                    [readonly]="!member_service.has_invite_permission" required/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <div *ngIf="f.submitted && name.invalid" class="is-invalid">
                        <div *ngIf="name.errors.required">Name is required.</div>
                        <div *ngIf="current_member.name && name.invalid">Special characters are not allowed.</div>
                    </div>
                </div>
                <div class="form-group">
                    <app-isd-code></app-isd-code>
                    <input type="text" class="form-control phone-number" name="phone_number" 
                    [(ngModel)]="current_member.phone_number"
                    #phone_number="ngModel" autocomplete="off"
                    placeholder="Mobile Number"
                    [pattern]="inputRegex.phone"
                    [readonly]="!member_service.has_invite_permission"/>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <div *ngIf="f.submitted && phone_number.invalid" class="is-invalid">
                        <div *ngIf="phone_number.invalid">Enter a valid phone number.</div>
                    </div>
                </div>
                <div class="inline-item switch">
                    <span>Is Admin? </span>
                    <div class="switch-item" *ngIf="!member_service.has_invite_permission">
                        {{ current_member.is_admin ? 'Yes' : 'No' }}
                    </div>
                    <div class="switch-item" *ngIf="member_service.has_invite_permission">
                        <label for="admin-true"
                        [ngClass]="{'selected': current_member.is_admin}">
                            <input type="radio"
                            name="is_admin"
                            id="admin-true"
                            [value]="true"
                            #is_admin="ngModel"
                            [(ngModel)]="current_member.is_admin">
                            Yes
                        </label>
                    </div>
                    <div class="switch-item" *ngIf="member_service.has_invite_permission">
                        <label for="admin-false"
                        [ngClass]="{'selected': !current_member.is_admin}">
                            <input type="radio"
                            id="admin-false"
                            name="is_admin"
                            [value]="false"
                            #is_admin="ngModel"
                            [(ngModel)]="current_member.is_admin">
                            No
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <app-blowhorn-button
                    [label]="dismiss_button.label"
                    [disabled]="dismiss_button.disabled"
                    (click_fired)="activeModal.dismiss('Cross click')">
                    </app-blowhorn-button>
                    <span class="clear"></span>
                    <app-blowhorn-button
                    [label]="submit_button.label"
                    [type]="submit_button.type"
                    [disabled]="submit_button.disabled">
                    </app-blowhorn-button>
                </div>
            </form>
            <app-blowhorn-message
            *ngIf="alert.show_message"
            [message]="alert.message"
            [type]="alert.type"
            (close_fired)="alert.show_message=false">
            </app-blowhorn-message>
        </div>
    </div>
</div>
