<div class="wrapper">
  <div class="top-bar">
    <div class="city">
      <app-dropdown-select
        [styles]="city_styles"
        [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
        [selected_id]="selected_city_id ? selected_city_id : null"
        [items]="cities"
        (value_changed)="city_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="hub">
      <app-dropdown-select
        [styles]="hub_styles"
        [selected_name]="selected_hub_name ? selected_hub_name : 'All Hubs'"
        [selected_id]="selected_hub_id ? selected_hub_id : null"
        [items]="hubs"
        (value_changed)="hub_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="status">
      <app-dropdown-select
        [styles]="order_type_styles"
        [selected_name]="selected_ordertype_name ? selected_ordertype_name : 'All Orders'"
        [selected_id]="selected_ordertype_id ? selected_ordertype_id : null"
        [items]="order_types"
        [show_cross]="false"
        (value_changed)="order_type_changed($event)"
      >
      </app-dropdown-select>
    </div>
    <div class="status">
        <app-dropdown-select
          [styles]="status_styles"
          [selected_name]="selected_status_name ? selected_status_name : 'All Statuses'"
          [selected_id]="selected_status_id ? selected_status_id : null"
          [items]="statuses"
          (value_changed)="status_changed($event)"
        >
        </app-dropdown-select>
    </div>
    <div class="vertical-divider"></div>
    <div class="chip"
        *ngFor="let f of quickDateFilters"
        (click)="applyQuickFilter(f.val)"
        [ngClass]="{'selected': f.val=== selected_quick_filter}">
            {{f.label}}
    </div>
    <div class="date-range">
      <div
        class="clear"
        [ngClass]="date_range[0] && date_range[1] ? 'show-cross fa fa-times' : 'hide-cross'"
        (click)="reset_date($event)"
      ></div>
      <input
        class="date-range-field"
        [ngClass]="{'left-margin': !(date_range[0] && date_range[1])}"
        #drp_heatmap="bsDaterangepicker"
        bsDaterangepicker
        [(ngModel)]="date_range"
        placeholder="Custom Date"
        (ngModelChange)="date_changed($event)"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
        readonly
      />
      <span class="fa fa-calendar" (click)="drp_heatmap.toggle()"></span>
    </div>
    <div class="toggle">
        <i
        class="fa"
        [ngClass]="{
            'fa-chevron-up': showSecondaryFilters,
            'fa-chevron-down': !showSecondaryFilters
        }"
        (click)="showSecondaryFilters = !showSecondaryFilters"
        ></i>
    </div>
  </div>
  <div class="bottom-bar" [ngClass]="{'grow': showSecondaryFilters }">
    <div class="radius">
      <label for="radius">Radius :</label>
      <input
        name="radius"
        type="number"
        [(ngModel)]="radius"
        min="1"
        (keydown)="check_radius($event)"
      />
    </div>
    <div class="switch">
      <div class="switch-item">
        <label for="markercluster">
          <input
            type="radio"
            name="view"
            id="markercluster"
            value="heatmap"
            (click)="switch_view($event)"
            [checked]="true"
          />
          Heatmap
        </label>
      </div>
      <div class="switch-item">
        <label for="heatmap">
          <input
            type="radio"
            id="heatmap"
            name="view"
            value="markercluster"
            (click)="switch_view($event)"
          />
          Marker Cluster
        </label>
      </div>
    </div>
    <div class="location">
        <app-blowhorn-checkbox
          [id]="'Hub Location'"
          [group_name]="'location'"
          [checked]="show_pickup"
          (value_changed)="pickup_changed($event)"
        >
        </app-blowhorn-checkbox>
        <app-blowhorn-checkbox
          [id]="'Delivery Location'"
          [group_name]="'location'"
          [checked]="show_dropoff"
          (value_changed)="dropoff_changed($event)"
        >
        </app-blowhorn-checkbox>
    </div>
    <div class="summary">
      <div
        class="stat d-flex flex-column align-items-center justify-content-center"
      >
        <div class="label">Orders</div>
        <div class="val">{{ total_orders }}</div>
      </div>
      <div
        class="stat d-flex flex-column align-items-center justify-content-center"
      >
        <div class="label">Hubs without geopoint</div>
        <div class="val">{{ numOfLocationsWithoutGeopt.pickup }}</div>
      </div>
      <div
        class="stat d-flex flex-column align-items-center justify-content-center"
      >
        <div class="label">Orders without delivery geopoint</div>
        <div class="val">{{ numOfLocationsWithoutGeopt.dropoff }}</div>
      </div>
    </div>
    <div *ngIf="selected_city_id" class="limits">
        <app-blowhorn-checkbox
          [id]="'city_limits'"
          [label]="'City limits'"
          [group_name]="'limts'"
          [disabled]="!enable_limits"
          [checked]="show_city_limits"
          (value_changed)="show_hide_limits($event)"
        >
        </app-blowhorn-checkbox>
    </div>
    <div *ngIf="selected_hub_id" class="limits">
      <app-blowhorn-checkbox
        [id]="'hub_limits'"
        [label]="'Hub limits'"
        [group_name]="'hub_limits'"
        [checked]="show_hub_limits"
        (value_changed)="show_hide_hub_limits($event)"
      >
      </app-blowhorn-checkbox>
    </div>
  </div>
  <app-blowhorn-heatmap
    [data_set]="data_set"
    [center]="center"
    [zoom]="12"
    [radius]="radius"
    [opacity]=".7"
    [show_heatmap]="show_heatmap"
    [show_marker_cluster]="show_marker_cluster"
    [show_limits]="show_city_limits || show_hub_limits"
    [enable_marker_click]="true"
    [city]="selected_city_id"
    [coverage_type]="'shipment'"
    [coverage]="coverage"
    (map_is_ready)="initialize($event)"
  >
  </app-blowhorn-heatmap>
</div>
