:host {
    width: 100%;
    flex: 1;
}
.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: calc(100vh - 90px);
    position: relative;
    .top-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: white;
        border-top: 1px solid #eee;
        display: flex;
        align-items: center;
        z-index: 2;
        padding: 8px 12px;
        box-shadow: 0px 4px 3px -4px rgba(0, 0, 0, .7);
        .chip {
            padding: 4px 8px;
            margin: 0 4px;
            border-radius: 16px;
            border: 1px solid #ccc;
            cursor: pointer;
            min-width: 115px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
            height: 28px;
            &:hover,
            &.selected {
                background-color: var(--primary-color);
                color: #fff;
            }
        }
        .toggle {
            position: absolute;
            right: 15px;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
        .vertical-divider {
            height: 40px;
            border: 1px solid #ccc;
            margin: 0 8px;
        }
    }
    .bottom-bar {
        position: absolute;
        top: 58px;
        left: 0;
        right: 0;
        height: 0;
        background: white;
        display: flex;
        z-index: 1;
        box-shadow: 0px 4px 3px -4px rgba(0, 0, 0, .7);
        overflow: hidden;
        transition: height .1s ease;
        &.grow {
            padding: 12px;
            height: 64px;
        }
    }
}
.filter-item {
    padding: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    z-index: 10;
    background-color: #fff;
}
.menu-drawer {
    height: 40px;
    width: 40px;
    cursor: pointer;
    :hover {
        svg {
            color: var(--primary-color);
        }
    }
}
.city {
    padding: 0px;
    left: 20px;
}
.hub {
    padding: 0px;
    left: 180px;
}
.status {
    padding: 0px;
    left: 180px;
}
.vehicle {
    padding: 0px;
    left: 390px;
}
.customer {
    padding: 0px;
    left: 550px;
}
.date-range {
    left: 390px;
    height: 40px;
    border-radius: 2px;
    input {
        outline: none;
        border: none;
        height: 40px;
        font-size: 15px;
        font-weight: 400;
        position: relative;
    }
    span {
        margin-left: 3px;
        color: gray;
        cursor: pointer;
    }
}
.location {
    display: flex;
    height: 40px;
    width: 325px;
    margin: 0 8px;
    padding: 0 8px;
}
.summary {
    display: flex;
    height: 40px;
    margin: 0 8px;
    padding: 0 8px;
    border-left: 1px solid #ccc;
    .stat {
        padding: 4px 12px;
        &.date-info {
            border-left: 1px solid #ccc;
        }
        .label {
            color: #666;
            font-size: 12px;
        }
    }
}
.radius {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 8px;
    padding: 0 8px;
    border-right: 1px solid #ccc;
    input {
        border: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
        outline: none;
        width: 50px;
        padding-left: 5px;
    }
    label {
        margin-bottom: 0px;
        margin-bottom: 0px;
        font-size: 12px;
        color: #999;
    }
}
.limits {
    height: 40px;
    padding: 0 8px;
    border-left: 1px solid #ccc;
    input {
        border: none;
        outline: none;
        padding-right: 5px;
    }
    label {
        margin-bottom: 0px;
    }
}
.switch {
    height: 40px;
    display: flex;
    align-items: center;
    margin: 0 8px;
    padding: 0 8px;
    border-right: 1px solid #ccc;
    .switch-item {
        color: black;
        font-weight: 500;
        font-size: 14px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        input {
            border: none;
            outline: none;
            cursor: pointer;
        }
        label {
            margin-bottom: 0px;
            cursor: pointer;
        }
    }
}
.left-margin {
    margin-left: 15px;
}
.show-cross {
    width: 15px;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: lightgray;
    cursor: pointer;
    margin-right: 3px;
    &:hover {
        color: gray;
    }
}
.hide-cross {
    display: none;
}
