<div class="multiselect-box-container">
    <app-multiselect-box-panel
    [items]="available_items"
    [label]="available_panel_label"
    [select_all_label]="select_all_label_chosen"
    [show_select_all]="show_select_all"
    (selected_items)="set_selected_items($event)"
    (dbl_click)="add_item($event)">
    </app-multiselect-box-panel>
    <div class="action-panel">
        <div class="action" title="{{action_buttons.select.title}}"
        *ngIf="selected_available_items.length">
            <app-blowhorn-button
            [label]="action_buttons.select.label"
            [type]="action_buttons.select.type"
            (click_fired)="selectValues()">
            </app-blowhorn-button>
        </div>
        <div class="action" title="{{action_buttons.deselect.title}}"
        *ngIf="selected_chosen_items.length">
            <app-blowhorn-button
            [label]="action_buttons.deselect.label"
            [type]="action_buttons.deselect.type"
            (click_fired)="deSelectValues()">
            </app-blowhorn-button>
        </div>
    </div>
    <app-multiselect-box-panel
    [items]="chosen_items"
    [label]="chosen_panel_label"
    [select_all_label]="select_all_label_chosen"
    [show_select_all]="show_remove_all"
    (selected_items)="set_chosen_items($event)"
    (dbl_click)="remove_item($event)">
    </app-multiselect-box-panel>
</div>
