.multiselect-box-container {
    display: flex;
    .action-panel {
        border-radius: 10px;
        margin: 22vh 5px 0 5px;
        padding: 0;
        width: 35px;
        .action {
            margin-bottom: 5px;
        }
    }
}
