.nav-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    margin: auto 0px;
    list-style: none;;
    .nav-link {
        padding-left: 0px;
        padding-right: 0px;
        color: grey;    
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 1;   
        border-bottom: 3px solid transparent;  
        border-top: 3px solid transparent;  
        display: flex;
        align-items: center;
        justify-content: center;   
    }
    :hover {
        color: var(--primary-color);
    }
}
.active {
    .nav-link {
        color: #FC3446;
        cursor: default;
        pointer-events: none;
        border-bottom: 3px solid #FC3446;
    }
}