.footer {
    .details {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        .blowhorn-address {
            flex: 1;
        }
        .legal {
            flex: 2;
            .gst-seal {
                display: flex;
                align-items: center;
                .gst {
                    flex: 3;
                }
                .seal {
                    flex: 1;
                    .seal-image {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
    .disclaimer {
        margin-top: 15px;
        color: #141515;
        font-size: 12px;
        line-height: 18px;
        .header {
            font-weight: 600;
            color: #757E7F;
        }
        .content {
            font-weight: 400;
            .highlight {
                text-decoration: none;
                color: #0180A8;
            }
            .signature-disclaimer {
                display: block;
            }
        }
    }
}

@media (min-width: 575px) {
    .footer {
        .details {
            flex-direction: row;
        }
    }

}