<div class="footer">
    <div class="details">
        <div class="blowhorn-address">
            <app-blowhorn-address [address]="office.address"
                [legal_name]="office?.company?.name"
                [phone_number]="office?.phone_number"
                [support_email]="office?.support_email || blowhorn_service.supportEmail">
            </app-blowhorn-address>
        </div>
        <div class="legal">
            <div class="gst-seal">
                <div class="gst">
                    <app-blowhorn-gst-info
                        [gst_in]="office.gst_identification_no"
                        [cin]="office.cin"
                        [pan]="office.pan"
                        [hsn_code]="trip.HSN_CODE"
                        [rcm]="trip.rcm"
                        [rcm_message]="trip.rcm_message"
                        [gst_category]="trip.gst_category">
                    </app-blowhorn-gst-info>
                </div>
                <div class="seal" *ngIf="show_seal">
                    <img class="seal-image" src="{{ seal_src }}" alt="trust-seal">
                </div>
            </div>
        </div>
    </div>
    <div class="disclaimer">
        <div class="header">Disclaimer</div>
        <div class="content">
            <span>The <a href="{{blowhorn_service.termsOfServiceUrl}}" target="_blank" class="highlight">Terms and Conditions </a>of use of {{blowhorn_service.homepage_url}} are to be read carefully before using or obtaining any products, services or content through out websites.</span>
            <span class="signature-disclaimer">(This is a computer generated invoice and does not require a signature)</span>
        </div>
    </div>
</div>
