<!DOCTYPE html>
<html>
  <head>
    <style>
        * {
          font-family: Arial, Helvetica, sans-serif;
        }
        @page {
          size: A4;
          margin: 20px;
        }
        body {
          -webkit-print-color-adjust: exact;
          font-size: 16px;
          background-color: #fff;
          border: 2px solid lightgrey;
        }
        table {
          width: 100%;
        }
        tr, td {
          border: none;
        }
        .p-4 {padding: 1rem;}
        .p-6 {padding: 1.5rem;}
        .py-half{padding: 0.5rem 0;}
        .mb-2 {margin-bottom: 1rem;}
        .logo {
          height: {{ data.height }};
          width: {{ data.width }};
        }
        .title {
          color: #141515;
          font-size: 1.5rem;
          font-weight: 600;
          line-height: 1.5;
          text-align: left;
        }
        .label {
          color: #0180A8;
          font-size: 18px;
          line-height: 1.5;
          padding: 0px;
          margin-bottom: 0px;
        }
        .content {
          color: #000;
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          padding: 0px;
        }
        .sign {
          padding-top:15px;
          vertical-align: middle;
          height: {{ data.sign_height }};
          width: {{ data.sign_width }};
        }
        .disclaimer {text-align: center;padding-top: 10px; color: #8c8c8c; font-size: 12px; line-height: 1.5;}
        .text-left {text-align: left;}
        .text-right {text-align: right;}
        .separator-cell {padding: 8px 0px;}
    </style>
  </head>
  <body>
    <table cellspacing="0" cellpadding="16" cellspacing="6">
      <tr>
        <td class="py-half" align="left" valign="middle">
          <span class="title">PROOF OF DELIVERY</span>
        </td>
        <td align="right"  valign="middle">
          <img class="logo" src="{{ data.logo_url }}" alt="logo">
        </td>
      </tr>
      <tr>
        <td class="text-left" valign="top">
          <div class="label">AWB</div>
          <div class="content"><b>{{ data.awb_number }}</b></div>
        </td>
        <td class="right-text" valign="top">
          <div class="label">Delivered On</div>
          <div class="content"><b>{{ data.delivered_time }}</b></div>
        </td>
      </tr>
      <tr>
        <td class="text-left" valign="top">
          <div class="label">Reference Number</div>
          <div class="content"><b>{{ data.reference_number }}</b></div>
        </td>
        <td class="right-text" valign="top">
          <div class="label">Shipping Address</div>
          <div class="content"><b>{{ data.shipping_address }}</b></div>
        </td>
      </tr>
      <tr>
        <td class="text-left" valign="top">
          <div class="label">Order Status</div>
          <div class="content"><b>{{ data.status }}</b></div>
        </td>
        <td class="right-text" valign="top">
          <div class="label">Consignee Name</div>
          <div class="content"><b>{{ data.consignee_name }}</b></div>
        </td>
      </tr>
      <tr>
        <td class="text-left" valign="top">
          <div class="label">Map Coordinates</div>
          <div class="content"><b>
            {% if data.coordinates.lat and data.coordinates.lng %}
              {{ data.coordinates.lat }}, {{ data.coordinates.lng }}
            {% else %}
              NA
            {% endif %}
          </b></div>
        </td>
        <td class="text-left" valign="top">
          <div class="label">Remarks</div>
          <div class="content"><b>{{ data.remarks }}</b></div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td valign="top">
          <div class="label">Signature</div>
          {% if data.signature_file %}
            <img class="sign" src="{{ data.signature_file }}" align="left">
          {% else %}
            <b>NA</b>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p class="disclaimer">
            This document is proprietary and for internal use only. No part of this document maybe disclosed in any manner to a third party without the prior written consent from {{ data.brand_name }}.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
