.wrapper {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    flex-flow: wrap;
    .city {
        flex-basis: 70px;
    }

    .search {
        position: relative;
        margin-left: 10px;
        flex-basis: 100px;
        border: 1px solid #F0F5F7;
        background-color: #F7FBFC;
        height: 30px;
        display: grid;
        grid-template-columns: 2fr 15fr;
        grid-column-gap: 0px;
        align-items: center;
        justify-items: center;
        padding-left: 2px;
        padding-right: 2px;
        .search-global {
            outline: none;
            border: none;
            height: 18px;
            color: #3f3636;
            background-color: #F7FBFC;
            
            font-size: 13px;
            line-height: 18px;
            padding-left: 16px;
        }
        span {
            position: absolute;
            left: 1px;
            top: 50%;
            transform: translateY(-50%);
            color: #BBC2C4;
            cursor: pointer;
        }
        .hide-cross {
            display: none;
        }
        .show-cross {
            display: block;
            padding-left: 2px;
            padding-right: 2px;
            color: lightgray;
        }
        .activate-cross {
            color: grey;
        }
        .deactivate-cross {
            color: lightgray;
        }
    }
    .filter-submit {
        position: relative;
        margin-left: 2%;
    }
    .message {
        padding: 0px 10px;
        font-size: 12px;
        color: red;
    }
}
