<div class="wrapper">
    <div class="city" *ngIf="cities.length">
        <app-dropdown-select
        [styles]="city_styles"
        [selected_name]="selected_city_name ? selected_city_name : 'Select City'"
        [selected_id]="selected_city_id ? selected_city_id : null"
        [items]="cities"
        [disabled]="city_disabled || false"
        (value_changed)="city_changed($event)">
        </app-dropdown-select>
    </div>
    <div class="customer" *ngIf="customers.length">
        <app-dropdown-select
        [styles]="customer_styles"
        [selected_name]="selected_customer_name ? selected_customer_name : 'Select Customer'"
        [selected_id]="selected_customer_id ? selected_customer_id : null"
        [items]="customers"
        [disabled]="customer_disabled || false"
        [show_cross]="true"
        (value_changed)="customer_changed($event)">
        </app-dropdown-select>
    </div>
    <div class="search">
        <div (mouseover)="activate_search_clear($event)"
            (mouseout)="deactivate_search_clear($event)"
            (click)="reset_search($event)">
            <span [ngClass]="{'show-cross': search_text, 'hide-cross': !search_text, 'activate-cross': search_activated, 'deactivate-cross': !search_activated}"
            class="fa fa-times"></span>
        </div>
        <input class="search-global"
            type="text"
            placeholder="Contract Name/ Customer/ Division"
            [(ngModel)]="search_text"
            (change)="filter_val_changed=true">
    </div>
    <div class="filter-submit">
        <app-blowhorn-button
        [label]="'Search'"
        [disabled]="!filter_val_changed"
        (click_fired)="fire_filter()">
        </app-blowhorn-button>
    </div>
    <div class="message" *ngIf="filter_val_changed">Filter changed. Click on Search to get latest data.</div>
</div>
