<div class="whats-new-bg" *ngIf="whats_new_service.displayDialog"></div>
<div class="whats-new" [ngClass]="whats_new_service.displayDialog ? 'show-info' : 'hide-info'">
  <div class="modal-header">
      <div class="modal-title-text">
        {{app_title}} {{version}}
      </div>
      <div>
          <span class="fa fa-times close"
          (click)="dismiss();"></span>
      </div>
  </div>
  <div class="content">
    <div *ngIf="whats_new.announcement" [innerHTML]="whats_new.announcement|safeHtml"></div>
    <h5 *ngIf="whats_new.features.length" style="background-color: green;">Features</h5>
    <ul class="list">
      <li class="item" *ngFor="let item of whats_new.features">
        {{item}}
      </li>
    </ul>
    <h5 *ngIf="whats_new.bug_fixes.length" style="background-color: #ff2a2a;">Fixes</h5>
    <ul class="list">
        <li class="item" *ngFor="let item of whats_new.bug_fixes">{{item}}</li>
    </ul>
  </div>
  <div class="button-holder">
    <button (click)="dismiss();">Ok</button>
  </div>
</div>
