.whats-new-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1039;
  background: rgba(0, 0, 0, 0.9);
  overflow: auto;
}
.whats-new {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1040;
  font-family: inherit;
  max-width: 95%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px 0px;
  transition: top 0.3s;
  overflow: auto;
  .header {
    display: flex;
    justify-content: space-between;
    h4 {
      font-size: 18px;
      color: gray;
      font-weight: 700;
      line-height: 21px;
      padding-bottom: 8px;
      border-bottom: 1px solid #ccc;
    }
  }
  .content {
    padding: 0 6%;
    font-size: 14px;
    text-align: justify;
    color: #717373;
    line-height: 21px;
    overflow: auto;
    li {
      list-style: none;
    }
  }
  h5 {
    font-size: 12px;
    padding: 6px 12px;
    width: fit-content;
    border-radius: 18px;
    color: #fff;
  }
  .button-holder {
    text-align: center;
    padding: 15px;
    button {
      padding: 5px 17px;
      text-transform: uppercase;
      font-size: 13px;
      color: rgba(10, 120, 153, 0.938);
      font-weight: 800;
      cursor: pointer;
      border: 1px solid #65c1e6;
      &:hover {
        background: rgba(10, 120, 153, 0.938);
        color: white;
      }
    }
  }
}
.show-info {
  top: 0;
}

.hide-info {
  top: -1000px;
}


@media screen and (min-width: 767px) {
  .show-info {
    top: 15% !important;
  }

  .hide-info {
    top: -1140px !important;
  }
  .whats-new {
    width: 40% !important;
    left: 30%;
    top: -40%;
    right: auto;
    bottom: auto;
    .content {
      max-height: 62vh;
    }
  }
}
