<div class="upload">
    <input type="file" #file class="file-chooser" id="id"
      (change)="file_change_fired($event)" [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, .csv'"
      [disabled]="disabled">
    <label for="id" class="upload-file" [title]="file_name || file_chooser_label" (click)="stop_propagation($event)">
      <i class="fa fa-search to-left"></i>
      {{file_name || file_chooser_label}}
      <i class="fa fa-times to-right" [ngClass]="{'show': files_selected,  'hide': !files_selected , 'disable': disabled}" (click)="remove_file($event)"></i>
    </label>
    <button (click)="upload_file_fired($event)" class="upload_btn"
      [disabled]="!files_selected || disabled">
      Upload<i class="fa fa-upload to-right"></i>
    </button>
</div> 