.upload {
    display: flex;
    align-items: center;
    justify-content: center;
    .file-chooser {
        	
        font-size: 14px;	
        font-weight: 500;		
        line-height: 1.2; 
        display: none;
    }
    .upload-file {
        position: relative;
        width: 360px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 10px 15px;
        padding-left: 25px;
        border: 1px solid gray;
        border-right: none;
        color: #4E5454;	
        
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        height: 40px; 
        margin: 10px;
        margin-right: 0px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        text-transform: none;
        .hide {
            display: none;
        }
        .show {
            display: inline;
            cursor: pointer;
            color: rgb(182, 178, 178);
            pointer-events: all;
            &:hover {
                color: #4E5454;	
            }
        }
        .disable {
            pointer-events: none;
        }
    }
    .upload_btn {
        position: relative;
        justify-self: left;
        padding: 10px 15px;
        padding-right: 25px;
        background-color: #eaeaea;
        cursor: pointer;
        border: 1px solid gray;
        border-left: none;
        text-transform: uppercase;
        height: 40px; 
        color: #4E5454;	
        	
        font-size: 13px;	
        font-weight: 500;	
        line-height: 1.2; 
        margin: 10px;
        margin-left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        outline: none;
        &:hover {
            background: rgb(63, 54, 54);
            color: #fff;
            border: 1px solid rgb(63, 54, 54);
            border-left: none;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
        &:disabled {
            pointer-events: none;
            color: rgb(127, 129, 129); 
        }
    }
}