<div class="no-booking-found-error" *ngIf="noBookingFound">
  <app-order-not-found
  ></app-order-not-found>
</div>
<div *ngIf="!noBookingFound && trip && !showTracking">
  <app-tracking-message
  [order]="trip"
  ></app-tracking-message>
</div>
<div class="current-trip d-flex justify-content-stretch" *ngIf="!noBookingFound && trip && showTracking">
  <div class="sidebar d-flex flex-column align-items-stretch justify-content-start">
    <div class="head d-flex align-items-center justify-content-start" *ngIf="!showOnlyMap">
      <div class="logo">
        <img src="{{blowhornService.logo_url}}" alt="logo" (click)="moveTostartPage()">
      </div>
      <span>
        {{ trip.status === 'ongoing' ? 'Tracking' : (trip.status === 'done' ? 'Completed': 'Upcoming') }}
        {{ trip.order_type === 'shipment' ? 'Order' : 'Trip'}}:
        <span>{{ trip.order_id }}</span>
      </span>
      <span class="toggle-view-map ed-xs-flex d-sm-flex d-md-none d-lg-none d-xl-none" (click)="toggleMap()">
        <img [src]="showMap ? dich_url_on_map : dich_url" alt="">
      </span>
    </div>

    <div class="main-info d-flex flex-column align-items-start justify-content-start" *ngIf="!showMap">
      <span class="direction">
      <span *ngIf="trip && trip.header_from">{{ trip.header_from }} to</span>
      {{ trip.header_to }}, {{ trip.city }}
      </span>

      <app-distance-done *ngIf="trip.status!=='done' && trip.finished_distance" [estimation]="trip.estimated_distance" [finished]="trip.finished_distance"></app-distance-done>
      <span class="past" *ngIf="trip.status==='done' && trip.total_distance">{{ trip.total_distance | number : '1.1-1' }}kms in {{ trip.total_duration }}</span>

      <div class="w-100 d-flex flex-column justify-content-center">
        <span class="driver-label">Driver & Vehicle Details</span>
        <span class="driver-name" *ngIf="trip.driver_name">
          <img src="{{ constants.images.super }}" class="img-responsive img-super"
          *ngIf="blowhornService.default_build"> {{ trip.driver_name }}
        </span>

        <div *ngIf="trip.status!=='upcoming'" class="d-flex align-items-start justify-content-between">
          <div class="d-flex flex-column align-items-start justify-content-between">
            <span class="driver-mobile" *ngIf="trip.status!=='done'">{{ trip.driver_mobile }}</span>
            <span class="vehicle">{{ trip.vehicle_model }} |
                <span class="vehicle-number">{{ trip.vehicle_number }}</span>
            </span>
          </div>
          <img src="{{trip.truck_url_detail}}" alt="" width="100px">
        </div>

        <div *ngIf="trip.status==='upcoming'" class="d-flex align-items-start justify-content-between">
          <div class="d-flex flex-column align-items-start justify-content-between">
            <span class="vehicle">Vehicle: {{trip.truck_type}}</span>
            <span *ngIf="!trip.driver_name" class="driver-mobile">Driver will be assigned before the trip begins</span>
          </div>
          <img src="{{trip.truck_url}}" alt="" width="40px">
        </div>
      </div>
    </div>

    <div class="mini-map" *ngIf="showMap"
        [ngClass]="{'no-next-stop': trip && trip.status == 'done', 'full-height-map': showOnlyMap}">
        <app-map [trip]="trip" (distanceUpdate)="updateFinishedDistance($event);"></app-map>
        <div class="btn-call-container" *ngIf="showCallBtn">
            <a href="tel:{{trip.driver_mobile}}" *ngIf="!trip.call_masking_required">
              <img src="/static/blowhorn/assets/markers/external/call.png"/>
            </a>
            <div (click)="callDriver()" *ngIf="trip.call_masking_required">
              <img src="/static/blowhorn/assets/markers/external/call.png"/>
            </div>
            <app-blowhorn-message
            *ngIf="callMessage"
            [heading]="callMessage"
            [type]="callMessageType"
            (close_fired)="resetCallError()">
            </app-blowhorn-message>
        </div>
        <div class="eta" *ngIf="formattedEta">
            <div class="heading">Estimated Arrival</div>
            <div class="val">{{ formattedEta }}</div>
        </div>
    </div>

    <!-- This section is the next stop shown below the responsive map -->
    <div *ngIf="showMap && showAdditionalInfo && trip.status !== 'done'"
    class="next-stop d-xs-flex d-sm-flex d-md-none d-lg-none d-xl-none w-100 flex-column align-items-start justify-content-center">
      <span class="next-stop-line">Next stop</span>
      <div class="d-flex align-items-center justify-content-start">
        <span class="icon">
          <img *ngIf="nextStop.is_pickup" src="{{ constants.markers.pickup }}" alt="Pickup">
          <img *ngIf="nextStop.is_stop" src="{{constants.markers.stop}}" alt="Stop">
          <span *ngIf="nextStop.is_stop" class="stop-index">{{ nextStop.stop_index }}</span>
          <img *ngIf="nextStop.is_dropoff" src="{{constants.markers.dropoff}}" alt="Dropoff">
        </span>
        <span class="d-flex flex-column align-items-start justify-content-start">
          <span class="stop-name" *ngIf="nextStop['stop'].name">{{ nextStop.stop.name }}</span>
          <span class="stop-address" *ngIf="nextStop['stop'].address">{{ nextStop.stop.address }}</span>
        </span>
      </div>
    <!--
    <app-detail-stop [stop]="nextStop" [index]="nextStop.stopIndex" [isStop]="nextStop.isStop"
        [name]="nextStop.isPickup? 'pickup': nextStop.isDropoff? 'dropoff' : 'stop'">
      </app-detail-stop>
      -->
    </div>
    <div *ngIf="!showMap" class="stops">
      <app-detail-stops [trip]="trip" [overflowScroll]="false"></app-detail-stops>
    </div>

  </div>
  <div class="map">
    <app-map [trip]="trip" (distanceUpdate)="updateFinishedDistance($event);"></app-map>

    <!-- TODO <div class="cost d-flex align-items-start justify-content-start" *ngIf="!isUpcoming">-->
    <div class="cost d-flex align-items-start justify-content-start" *ngIf="trip && trip.display_payment && trip.status === 'done'">
        <!--<div class="price d-flex flex-column align-items-start justify-content-start" *ngIf="!isPast">-->
      <div class="price d-flex flex-column align-items-start justify-content-start" *ngIf="false">
        <span class="label">Payable</span>
        <span class="currency">
          {{ blowhornService.currency|currencySymbol }}{{ trip.payment_status !== 'paid' && trip.balance_payable && trip.balance_payable > 0 ? trip.balance_payable : trip.total_payable}}
        </span>
      </div>

      <!--<div class="estimate d-flex flex-column align-items-start justify-content-start" *ngIf="!isPast">-->
      <div class="estimate d-flex flex-column align-items-start justify-content-start" *ngIf="false">
        <span class="label">Total Estimate</span>
        <span class="currency">{{ blowhornService.currency|currencySymbol }}{{ trip.estimate }}</span>
      </div>

      <div class="paid-money d-flex flex-column align-items-start justify-content-start" *ngIf="trip.status == 'done'">
        <span class="label">Total Payable</span>
        <div class="d-flex align-items-center justify-content-start">
          <span class="currency">
            {{ blowhornService.currency|currencySymbol }}{{ trip.payment_status !== 'paid' && trip.balance_payable && trip.balance_payable > 0 ? trip.balance_payable : trip.total_payable}}
          </span>
          <button class="button-flat empty button-primary" *ngIf="trip.payment_status !== 'paid'"
            (click)="showPaymentOptions(trip)">Make Payment</button>
          <button class="button-flat empty disabled" disabled *ngIf="trip.payment_status === 'paid'">Paid</button>
        </div>
      </div>

    </div>

    <!-- TODO -->
    <div class="user d-flex align-items-center justify-content-center" *ngIf="false" (click)="tripDoneOpen(tripDone, trip)">
    <!--<div class="user d-flex align-items-center justify-content-center">-->
      <img class="notifications" src="{{ constants.images.notification }}">
      <div class="user-profile d-flex align-items-center justify-content-start" [hidden]="true" *ngIf="false">

        <div class="crop">
          <img src="https://image.freepik.com/free-icon/business-person-silhouette-wearing-tie_318-49988.jpg" alt="">
        </div>

        <span class="user-text">Name</span>
        <img class="dropdown" src="{{ constants.images.dropdown }}">
      </div>

    </div>

    <div class="buttons-holder">
      <div class="d-flex align-items-center justify-content-center"
        *ngIf="trip && trip.tracking_url && trip.status !== 'done' && !isUpcoming">
        <ngx-qrcode [qrc-value] = "trip.tracking_url"> </ngx-qrcode>
        <div class="text">
          <span>Scan to track on phone</span>
        </div>
      </div>

      <!-- TODO Remove the bottom print and rebook option since the floating one is present -->
      <div class="buttons d-flex align-items-center justify-content-center" *ngIf="false">
        <button class="button-flat" (click)="moveToInvoice(trip.order_id)">Print Invoice</button>
        <button class="button-flat" (click)="openShareInvoice(trip)">Email Invoice</button>
        <!--<button class="button-flat button-flat-out">Rebook</button>-->
        <a href="/?rebook={{trip.order_id}}" target="_blank" class="button-flat button-flat-out" >Rebook</a>
      </div>

      <!-- TODO: since this screen is shown irrespective of whether user is logged in or not commenting it out now  -->
      <div class="buttons d-flex align-items-center justify-content-center" *ngIf="isUpcoming">
        <button class="button-flat" (click)="cancelBooking(cancelBookingModal, trip)">Cancel Booking</button>
        <!-- TODO <button class="button-flat button-flat-out">Edit booking</button>-->
      </div>

    </div>
  </div>
</div>

<div class="trip-complete d-flex flex-column align-items-start justify-content-center"
    *ngIf="showAdditionalInfo && (showCompleteTrip || (trip && trip.display_payment && trip.total_payable > 0))">
  <span class="cancel d-xs-flex d-sm-flex d-md-none d-lg-none d-xl-none" (click)="toggleShowCompleteTrip()">
    <img src="{{ constants.images.cancel }}" alt="" (click)="toggleShowCompleteTrip()">
  </span>

  <div class="trip-complete__message w-100 d-flex align-items-center" *ngIf="trip.status === 'done'">
    <img src="{{ constants.images.ok }}" alt="">
    <span class="trip-complete__text">
    This {{ trip.order_type === 'shipment' ? 'order' : 'trip' }} is complete
    </span>
  </div>

  <div class="w-100 d-flex align-items-center justify-content-center" *ngIf="trip && trip.display_payment && trip.status === 'done'">
    <div class="trip-complete__details w-100 d-flex flex-column align-items-start justify-content-center">
      <span class="trip-complete__text__price">Total Payable is
        {{ blowhornService.currency|currencySymbol }}{{ trip.payment_status !== 'paid' && trip.balance_payable && trip.balance_payable > 0 ? trip.balance_payable : trip.total_payable}}
      </span>

      <button class="w-100 button-flat button-black" *ngIf="trip.payment_status !== 'paid'"
      (click)="showPaymentOptions(trip)">Make Payment</button>

      <div class="trip-complete__paid w-100" *ngIf="trip.payment_status === 'paid'">
        <span class="trip-complete__paid__text">Paid {{ trip.payment_mode }} on {{ getDate(trip.date) }}</span>
      </div>

      <div class="trip-complete__hr-line d-flex align-items-center justify-content-shrink" *ngIf="trip.payment_status != 'paid'">
        <span class="hr-line"></span>
        <span class="hr-line-text">Other actions</span>
        <span class="hr-line"></span>
      </div>

      <div class="buttons w-100 d-flex align-items-center justify-content-between">
        <button class="first-button button-flat" (click)="moveToInvoice(trip.order_id)">Print Invoice</button>
        <a href="/?rebook={{trip.order_id}}" target="_blank" class="second-button button-flat button-blue" >Rebook</a>
      </div>
      <div class="email-link" (click)="openShareInvoice(trip)">Share invoice by email</div>

    <!-- TODO
      <span class="trip-complete__email" (click)="open(shareContent, trip)">Share invoice by mail</span>
      -->
    </div>
  </div>

</div>
<div class="trip-complete-around" *ngIf="showCompleteTrip" (click)="toggleShowCompleteTrip()"></div>

<div class="modal-window" *ngIf="show_share_invoice_modal">
    <app-share-invoice
    [trip]="selectedTrip"
    (close_fired)="show_share_invoice_modal=false">
    </app-share-invoice>
</div>
<div class="modal-window" *ngIf="show_payment_options">
    <app-payment
    [trip]="selectedTrip"
    (close_fired)="show_payment_options=false">
    </app-payment>
</div>

<ng-template #cancelBookingModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title question">Are you sure you want to cancel this booking?</h4>
  </div>
  <div class="modal-body d-flex flex-column align-items-start justify-content-center">
    <span class="order-id">Trip ID : {{ selectedTrip.order_id }}</span>
    <span class="warning-alert w-100">
      <span class="warning">
        <img src="{{ constants.images.warning }}" alt="">
      </span>
      <span class="message">Warning! This cannot be undone.</span>
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-flat" (click)="d('Cross click')">No</button>
    <button type="button" class="button-flat button-blue" (click)="c('Close click')">Yes</button>
  </div>
</ng-template>
