.no-booking-found-error {
    height: 80vh;
    flex-direction: column;
}
.current-trip {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    .sidebar {
        width: 380px;
        height: 100%;
        background-color: rgb(240, 245, 247);
        box-shadow: 0 0 5px 3px #cecece;
        position: absolute;
        .head {
            font-size: 17px;
            font-weight: 700;
            color: darkslategray;
            background: white;
            border-bottom: 1px solid #e4e4e4;
            min-height: 54px;
            .logo {
                margin-left: 15px;
                margin-right: 20px;
            }
        }
        .main-info {
            padding: 10px 10px 10px 14px;
            background-color: white;
            border-bottom: 1px solid #e4e4e4;
            min-height: 200px;
            app-distance-done {
                margin: 8px 0;
            }
            .past {
                font-size: 15px;
                font-weight: 600;
                color: #fc3446;
                padding: 8px 0;
            }
            .direction {
                font-size: 16px;
                font-weight: 500;
                color: rgb(14, 114, 182);
            }
            .driver-label {
                font-size: 13px;
                font-weight: 400;
                color: #64b2ca;
            }
            .driver-name {
                padding-top: 5px;
                padding-bottom: 10px;
                display: flex;
                .img-super {
                    width: 56px;
                    margin: 0px 4px 4px 0px;
                }
            }
            .driver-mobile {
                padding-bottom: 15px;
            }
            .driver-name,
            .vehicle,
            .driver-mobile,
            .vehicle-number {
                color: #4E5454;
                font-size: 16px;
                font-weight: 500;
                line-height: 20px;
            }
            .driver-mobile,
            .vehicle-number {
                font-weight: 400;
            }
            .crop {
                position: relative;
                width: 35px;
                height: 35px;
                overflow: hidden;
                border-radius: 50%;
                margin: 0 10px 0 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .stops {
            flex: 1;
            overflow-y: scroll;
        }
        .btn-call-container {
            display: none;
        }
    }
    app-map {
        height: 100%;
        width: 100%;
    }
    .map {
        margin-left: 380px;
        width: calc(100% - 380px);
        height: 100%;
        position: relative;
        .cost {
            position: absolute;
            top: 10px;
            left: 20px;
            padding: 5px 14px;
            background-color: black;
            opacity: 0.7;
            .estimate {
                padding: 0 0 2px 20px;
            }
            .label {
                color: bisque;
                font-size: 13px;
            }
            .currency {
                color: white;
                font-size: 17px;
                font-weight: 800;
                line-height: 18px;
                padding: 5px 0 10px 0;
                img {
                    height: 16px;
                    padding-bottom: 3px;
                }
            }
        }
        .user {
            position: absolute;
            top: 10px;
            right: 20px;
            padding: 5px 14px;
            .notifications {
                margin-right: 10px;
                height: 27px;
            }
            .user-profile {
                bottom: 0;
                left: 0;
                padding: 8px 3px 8px 7px;
                background-color: rgb(255, 255, 255);
                cursor: pointer;
                .crop {
                    position: relative;
                    width: 21px;
                    height: 21px;
                    overflow: hidden;
                    border-radius: 50%;
                    margin: 0 10px 0 0;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .user-text {
                    font-weight: 600;
                    font-size: 13px;
                }
                .dropdown {
                    height: 22px;
                }
            }
        }
        .buttons-holder {
            position: absolute;
            bottom: 20px;
            right: 85px;
            padding: 7px 12px 7px 3px;
            background-color: #ffffff;
            box-shadow: 0 0 5px 3px #cecece;
            img {
                height: 60px;
            }
            .text {
                line-height: 1;
                max-width: 100px;
                span {
                    color: #646464;
                }
            }
            .buttons button {
                margin: 0 8px;
                &.button-flat-out {
                    margin-right: 0;
                }
            }
        }
        .paid-money {
            .currency {
                padding-top: 7px;
            }
        }
    }
}


.button-flat {
    padding: 8px 8px;
    border: 1px solid rgba(0, 0, 0, 0.39);
    border-radius: 0px;
    font-size: 13px;
    background-color: white;
    font-weight: 600;
    color: #646464;
    outline: none;
    cursor: pointer;
    &.button-blue {
        border: 1px solid var(--primary-color);
        background-color: rgb(247, 251, 252);
        color: rgb(14, 134, 172);
    }
    &:hover {
        background-color: var(--primary-color);
        border: none;
        padding: 9px 9px;
        color: black;
    }
    &.button-black {
        border: 1px solid #141515;
        background-color: #141515;
        color: var(--primary-color);
        &:hover {
            border: 1px solid var(--primary-color);
            background-color: transparent;
            padding: 8px 8px;
            color: black;
        }
    }
    &[disabled] {
        padding: 6px 8px;
        border: none;
        background-color: white;
        color: #adbcbd;
        font-size: 17px;
        &:hover {
            border: none;
            background-color: white;
            color: #adbcbd;
            cursor: inherit;
            padding: 6px 8px;
        }
    }
    &.empty {
        padding: 3px 8px;
        margin: 5px 0 7px 11px;
        background: transparent;
        color: white;
        border-color: white;
        font-size: 12px;
        font-weight: 700;
        &:hover {
            border: none;
            background-color: var(--primary-color);
            color: black;
            padding: 4px 9px;
        }
        &.disabled:hover {
            border: none;
            background-color: var(--primary-color);
            color: black;
            padding: 3px 8px;
        }
    }
}

.button-flat-out {
    padding: 9px 26px;
    background-color: var(--primary-color);
    border: none;
    color: black;
    margin-left: 6px;
    font-weight: 800;
    &:hover {
        padding: 8px 25px;
        background-color: white;
        color: #646464;
        border: 1px solid rgba(0, 0, 0, 0.39);
    }
}

.modal-content {
    border-radius: 0;
    box-shadow: 0 1px 12px 1px;
    border: none;
}

.modal-header {
    padding: 20px 0 0 35px;
    border: none;
    h4 {
        font-size: 17px;
        font-weight: 800;
        color: rgb(12, 133, 171);
        &.question {
            color: black;
        }
    }
}

.modal-body {
    padding: 0 33px 0 33px;
    .order-id {
        font-size: 14px;
        font-weight: 400;
        padding: 18px 0 0 0;
    }
    .warning-alert {
        padding: 6px 7px;
        margin: 25px 0;
        background-color: rgb(255, 230, 238);
        color: rgb(216, 55, 69);
        .warning {
            img {
                height: 50px;
            }
        }
    }
}

.modal-footer {
    border: none;
    padding: 25px 30px;
    .button-flat {
        padding: 7px 21px;
        font-weight: 800;
        &:hover {
            padding: 8px 22px;
        }
    }
}


.modal-header.black {
    padding: 0;
    background-color: rgba(45, 47, 48, 0.94);

    .header-holder {


        .checker {
            position: relative;
            height: 100px;
            background-color: rgb(41, 49, 51);

            img {
                position: absolute;
                margin-top: 20px;
                height: 100px;
            }
        }

        .head-modal {
            padding: 30px 0 20px 0;

            .modal-title {
                color: white;
                font-weight: 200;
                font-size: 22px;
            }

            .order-id {
                color: white;
                font-size: 12px;
                font-weight: 800;
                text-transform: uppercase;
            }
        }

        ;
    }
}

.modal-body.black {
    background-color: rgba(45, 47, 48, 0.94);
    border: none;

    .paid-money {
        margin-bottom: 20px;

        .label {
            color: #b8c0c2;
            font-size: 17px;
            font-weight: 300;
        }

        .currency {
            padding-bottom: 3px;
            padding-left: 5px;
            opacity: 0.65;

            img {
                height: 16px;
            }
        }

        .border-holder {
            padding: 30px 20px;
            border-top: 1px solid #b6b6b6;
            border-bottom: 1px solid #b6b6b6;
        }

        .price-val {
            font-weight: 800;
            color: #b8c0c2;
            font-size: 19px;
            padding-bottom: 3px;
            line-height: 1;
        }

        .past {
            color: #b8c0c2;
            font-weight: 100;
        }
    }

    .direction {
        padding-left: 20px;
        font-size: 18px;
        font-weight: 300;
        color: #b8c0c2;
    }

    .driver-info {
        padding: 10px 30px 20px 15px;
        border-bottom: 1px solid #b6b6b6;

        .truck-type-hor {
            color: #b8c0c2;
        }

        .driver-name-hor,
        .driver-mobile-hor {
            margin: 5px 0;

            .name,
            .mobile {
                font-size: 14px;
                font-weight: 700;
                color: #b8c0c2;
                padding: 0 16px 0 7px;
            }

            img {
                height: 22px;
            }

            .name {
                padding-top: 1px;
            }

            .label {
                color: #b8c0c2;
                font-size: 14px;
                padding: 0 0 0 7px;
            }
        }

        .crop {
            position: relative;
            width: 35px;
            height: 35px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 10px 0 0;

            img {
                width: 100%;
                height: auto;
            }
        }

    }
}

.modal-footer.black {
    background-color: rgba(45, 47, 48, 0.94);

    button {
        margin: 0 auto;
        border: none;
        background: transparent;
        font-size: 16px;
        font-weight: 400;
        color: #b8c0c2;
        padding: 7px 21px;

        &:hover {
            padding: 7px 21px;
        }
    }

    ;

}

.button-with-logo:hover {
    padding: 0;
}

@media screen and (max-width: 767px) {
    .map {
        display: none;
    }

    .head {
        justify-content: space-between !important;
    }

    .sidebar {
        width: 100% !important;
    }

    .mini-map {
        height: calc(100% - 165px);
        width: 100%;
        .eta {
            background: #fff;
            padding: 8px 10px;
            border-radius: 4px;
            position: absolute;
            right: 10px;
            top: 10px;
            transition: all, 0.5s;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
            .heading {
                color: var(--primary-color);
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
            }
            .val {
                font-size: 12px;
                line-height: 18px;
                color: #888;
            }
        }
    }
    .btn-call-container {
        display: flex !important;
        position: absolute;
        bottom: 25px;
        left: 8px;
        img {
            width: 50px;
            cursor: pointer;
        }
        .call-message {
            display: none;
            transition: all, 0.5s;
            width: 50px;
            height: 50px;
            position: absolute;
            top: 0;
            background: transparent;
            &.show-message {
                display: block;
                width: 200px;
                background-color: #ffffff;
                box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
            }
        }
    }

    .no-next-stop {
        height: calc(100% - 65px);
    }

    .modal-body {
        padding: 0 10px 0 10px !important;
    }
    .full-height-map {
        height: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .mini-map {
        display: none;
    }
}

.toggle-view-map {
    margin-right: 10px;

    img {
        height: 30px;
    }
}

.next-stop {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    padding: 10px 15px;
    min-height: 100px;

    .next-stop-line {
        color: gray;
        font-size: 17px;
        padding: 10px 0;
    }

    .icon {
        margin: 5px 10px 5px 0;
        position: relative;

        .stop-index {
            position: absolute;
            top: 2px;
            left: 11px;
        }

        img {
            height: 30px;
        }
    }

    .stop-name {
        color: rgb(14, 114, 182);
        font-size: 15px;
        font-weight: 700;
    }

    .stop-address {
        color: #5e5e5e;
        font-size: 15px;
        font-weight: 700;
    }
}

.trip-complete {
    position: fixed;
    background-color: white;
    top: 10px;
    left: 400px;
    min-width: 256px;
    box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);

    &__text {
        height: 24px;
        color: #000000;
        font-size: 16px;
        line-height: 24px;

        &__price {
            height: 32px;
            color: #4E5454;
            font-size: 20px;
            line-height: 32px;

            .rupee {
                height: 17px;
                position: relative;
                top: -2px;
            }
        }
    }

    &__message {
        padding: 15.5px 0 15.5px 20px;
        border-bottom: 2px solid #F0F5F7;

        img {
            width: 41px;
        }

        span {
            padding-left: 16px;
        }
    }

    &__hr-line {
        width: 100%;
        justify-content: space-between;
        margin: 19px 0;

        .hr-line {
            box-sizing: border-box;
            height: 1px;
            width: 62px;
            border: 1px solid #F0F5F7;

            &-text {
                height: 21px;
                color: #BBC2C4;
                font-size: 14px;
                font-weight: 500;
                line-height: 21px;
            }
        }
    }

    &__details {
        padding: 10px 20px;

        .first-button {
            padding-left: 15px;
            padding-right: 15px;

            &:hover {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

        .email-link {
            margin-top: 10px;
            color: #0180A8;

            font-size: 14px;
            line-height: 21px;

            &:hover {
                color: rgb(3, 147, 190);
                cursor: pointer;
            }
        }

        .second-button {
            padding-left: 26px;
            padding-right: 26px;
            margin-left: 10px;

            &:hover {
                padding-left: 27px;
                padding-right: 27px;
            }
        }

        .button-black {
            margin-top: 10px;
        }
    }

    &__email {
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 20px;
        height: 21px;
        color: #0180A8;
        font-size: 14px;
        line-height: 21px;
    }

    &__paid {
        margin-bottom: 15px;

        &__text {
            height: 21px;
            color: #757E7F;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 767px) {
    .trip-complete {
        left: 0;
        bottom: 0;
        width: 100%;
        top: auto;
        z-index: 10;

        .cancel {
            position: absolute;
            right: 8px;
            top: 8px;
        }

        &__message {
            padding-left: 0;
            justify-content: center;
        }

        &__details {
            min-width: 256px !important;
        }
    }

    .trip-complete-around {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 5;
    }
}
