<div class="container-fluid">
    <div class="container">
        <div class="logo-container">
            <img class="logo-bh" href="/" src="/static/blowhorn/assets/Assets/White-Logo-Full@2x.png">
            <img class="logo-sos" src="/static/blowhorn/assets/Assets/sos_logo_small.png">
        </div>
        <div class="message-card" *ngIf="!hide_block">
            <div class="heading" *ngIf="trip.payment_status==='paid'">
                Our cupids are picking up fresh roses for your Valentine. <br>
                Let them do the magic!
            </div>
            <div class="content" *ngIf="trip.payment_status==='paid'">
                Your order number is:
                <a href="/track/{{trip.order_key}}"
                title="Click to track the order live..">{{trip.order_key}}</a>
            </div>
            <div class="heading" *ngIf="trip.payment_status!=='paid'">
                Payment Failed.
                <a href="/track/{{trip.order_key}}">Click here</a> to try again.
            </div>
        </div>
    </div>
</div>
