.container-fluid {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .logo-container {
            padding: 15px 0;
            margin-bottom: 60px;
            display: flex;
            justify-content: space-between;
            height: 80px;
            .logo-bh {
                width: 146px;
                height: 38px;
            }
            .logo-sos {
                width: 120px;
                height: 85px;
            }
        }
        .message-card {
            margin: auto;
            padding: 10%;
            .heading {
                
                color: #EB7A7A;
                font-size: 24px;
                font-weight: bold;
                line-height: 37px;
            }
            .content {
                
                color: #434343;
                font-size: 16px;
                font-weight: 500;
                line-height: 37px;
                a {
                    
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: inherit;
        .container {
            display: flex;
            justify-content: center;
            padding: 15px;
            .logo-container {
                display: flex;
                height: 65px;
                .logo-bh {
                    width: 110px;
                    height: 28.5px;
                }
                .logo-sos {
                    width: 75px;
                    height: 53px;
                }
            }
            .message-card {
                padding: unset;
                .heading {
                    
                }
                a {
                    
                }
            }
        }
    }
}
