<div class="report-configuration-modal">
  <div class="modal-header">
      <div class="modal-title-text">{{header_text}}</div>
    <div (click)="activeModal.dismiss('Cross click')">
        <span class="fa fa-times cross"
        (click)="activeModal.dismiss('Cross click')"></span>
    </div>
  </div>
  <div class="report-configuration-modal-body">
    <div class="report-configuration-content-wrapper">
      <form name="form">
        <div class="multibox-component-display">
          <app-multiselect-box
              [items]="available_users"
              (selected_options)="users_changed($event)"
              [available_panel_label]="'Available Users'"
              [action_buttons]="multiselect_action_buttons"
              [chosen_panel_label]="'Selected Users'">
          </app-multiselect-box>
        </div>
        <div class="error" *ngIf="formError">
          {{ formError }}
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="show.request_loader"></mat-progress-bar>
        <div class="modal-footer" >
            <app-blowhorn-button
                [label]="submit_button.label"
                [type]="submit_button.type"
                [disabled]="submit_button.disabled"
                (click_fired)="save_users_for_schedule()">
            </app-blowhorn-button>
            <span class="clear"></span>
            <app-blowhorn-button
                [label]="dismiss_button.label"
                [disabled]="dismiss_button.disabled"
                (click_fired)="activeModal.dismiss('Cross click')">
            </app-blowhorn-button>
            <span class="clear"></span>
        </div>
      </form>
    </div>
  </div>
</div>
