.report-configuration-modal {
    border: 1px solid white;
    background-color: #fff;

    .modal-header {
        display: flex;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        background-color: #e9ecef;

        .modal-title-wrapper {
            align-items: center;
        }

        .modal-title-text {
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
            align-items: center;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }

    .report-configuration-modal-body {
        .report-configuration-content-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0px 15px;
        }

    }

    .multibox-component-display {
        padding: 5% 0% 0% 0%;
    }

    .modal-footer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 15px 10px 10px 10px;
    }
    .clear {
        padding: 5px;
    }

    .switch {
        height: 40px;
        top: auto;
        bottom: 20px;
        left: 140px;
        display: flex;
        span {
            font-size: 14px;
            color: #969696;
            padding: 12px 5px;
        }
        .switch-item {
            color:#999;
            font-size:18px;
            font-weight:normal;
            padding: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            input {
                display: none !important;
                &:disabled {
                    cursor: not-allowed;
                }
            }
            label {
                font-size: 14px;
                color: #969696;
                margin-bottom: 0px;
                cursor: pointer;
                text-align: center;
                border-radius: 18px;
                padding: 4px 20px;
                border: 1px solid #ccc;
                &.selected {
                    background: #4E5454;
                    color: #fff;
                }
            }
            option {
                font-size: 14px;
                color: #969696;
                margin-bottom: 0px;
                cursor: pointer;
                text-align: center;
                border-radius: 18px;
                padding: 6px 20px;
                border: 1px solid #ccc;
                &.selected {
                    background: #4E5454;
                    color: #fff;
                }
            }
        }
    }
    .success {
        border: none !important;
    }
    .error {
        border: none !important;
        color: red;
        padding-left: 5px;
        margin-top: 10px;
        font-size: 14px;
    }

}

.backdrop-color {
    background-color: rgba(0, 0, 0, 0.7);
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #0088A8;
}

::ng-deep .mat-progress-bar-buffer {
    background: #E4E8EB;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}

