<div class="menu">
  <div *ngIf="!c2c_sme_view && _blowhorn_service.hasAtleastOnePermission('fleet_overview')" class="menu-item"
    routerLinkActive="active">
    <a routerLink="fleet-overview">Fleet Overview</a>
  </div>
  <div
    *ngIf="!c2c_sme_view && _blowhorn_service.hasAtleastOnePermission('resource_planning')"
    class="menu-item"
    routerLinkActive="active">
    <a routerLink="resource-planning">Resource Planning</a>
  </div>
  <div *ngIf="false && _blowhorn_service.hasAtleastOnePermission('hubs')" class="menu-item"
    routerLinkActive="active">
    <a routerLink="hubs">Hubs</a>
  </div>
  <div
    *ngIf="_blowhorn_service.hasAtleastOnePermission('routes')"
    class="menu-item"
    routerLinkActive="active">
    <a routerLink="routes">Routes</a>
  </div>
  <div
    *ngIf="!c2c_sme_view && _blowhorn_service.hasAtleastOnePermission('awb_generator')"
    class="menu-item"
    routerLinkActive="active">
    <a routerLink="awb-generator">AWB Generator</a>
  </div>
  <div
    *ngIf="_blowhorn_service.default_build && _blowhorn_service.hasAtleastOnePermission('third_party_integration')"
    class="menu-item"
    routerLinkActive="active">
    <a routerLink="third-party-integration">Integrations</a>
  </div>
  <div
    *ngIf="_blowhorn_service.default_build && _blowhorn_service.hasAtleastOnePermission('bank_accounts')"
    class="menu-item"
    routerLinkActive="active">
    <a routerLink="bank-accounts">Bank Accounts</a>
  </div>
  <div *ngIf="false && _blowhorn_service.hasAtleastOnePermission('saved_locations')" class="menu-item"
    routerLinkActive="active">
    <a routerLink="saved-locations">Saved Locations</a>
  </div>
  <div *ngIf="false && _blowhorn_service.hasAtleastOnePermission('schedules')" class="menu-item"
    routerLinkActive="active">
    <a routerLink="schedules">Schedules</a>
  </div>
  <div *ngIf="false && _blowhorn_service.hasAtleastOnePermission('alerts')" class="menu-item"
    routerLinkActive="active">
    <a routerLink="alerts">Alerts</a>
  </div>
</div>
