.menu {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;    
    &-item {
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: left;
        position: relative;
        a {
            width: 100%;
            padding: 20px;
            text-decoration: none;
            color: #303232;	
            	
            font-size: 14px;	
            line-height: 21px;            
        }
        &:hover {
            background-color: #F0F5F7;                
        }
        &:not(:last-child) {
            margin-bottom: 5px;
        }   
         
    }
    .active {
        color: #F0F5F7;
        background-color: gray;
        a {
            font-weight: 500;	
            line-height: 21px;
            pointer-events: none;
            color: white;	
        }
        :hover {
            pointer-events: none;            
        }
        &::after {
            content: '';
            position: absolute;
            right: 10px;
            top: 50%;
            width: 12px;
            height: 12px;
            transform: translateY(-50%) rotate(45deg);
            border-right: 2px solid #C9D2D6;
            border-top: 2px solid #C9D2D6;
        }  
        
    }
}