<div class="wrapper" [ngStyle]="styles['trip-card-styles']">
  <a class="row-one">
    <span class="reported">{{reported_count}}</span
    ><span class="division">/</span><span class="total">{{total_count}}</span
    ><span class="text"> Trucks Reported</span>
  </a>
  <div>

  <a class="row-two" [routerLink]="['../trips/listview']" *ngIf="can_view_enterprise_trips">
    <span class="ongoing">{{ongoing_count}}</span>
    <span class="text"> Ongoing Trips</span>
  </a>
  <div class="row-two" *ngIf="!can_view_enterprise_trips">
    <span class="ongoing">{{ongoing_count}}</span>
    <span class="text"> Ongoing Trips</span>
  </div>
</div>
