.wrapper {
    padding: 5px 10px;
    color: #757E7F;	
    	
    font-size: 21px;	
    line-height: 31px;
    position: absolute;
    background: white;
    border: 1px solid #c2c2c2;
    -webkit-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    -moz-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    z-index:1;
    top: 130px;
    left: 25px;
    .row-one {
        text-decoration: none;
        .reported {
            color: rgba(10, 120, 153, 0.938);
            font-weight: 700;
        }
        .division {
            color: lightgray;
        }
    }
    .row-two {
        color: #757E7F;
        text-decoration: none;
        .ongoing {
            color: red;
            font-weight: 700;
        }
    }
}