.wrapper {
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    .header {
        width: 100%;
        padding: 5px 0px;
        color: #0180A8;
        font-size: 18px;
        
        font-weight: 500;
    }
    .address {
        width: 100%;
        padding: 5px 0px;
        color: #58535e;
        font-size: 16px;
        
        font-weight: 400;
        margin: 10px 0px;
    }
    form {
        width: 100%;
        .contact-title {
            width: 100%;
            padding: 5px 0px;
            color: #f64656;
            
        }
        input {
            width: 100%;
            padding: 12px 10px;
            color: #141515;
            margin: 10px 0px;
            font-weight: 300;
            background-color: #F0F5F7;
            font-size: 16px;
            
            border: none;
            outline: none;
        }
        .ng-touched {
            .ng-invalid {
                border: 1px solid rgb(253, 123, 76);
            }
        }
    }
    .footer {
        width: 100%;
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}