<div class="wrapper">
    <div class="header">{{heading}}</div>
    <div class="address">{{full_address}}</div>
    <form>
      <input type="text" placeholder="Name for this location" name="name" [(ngModel)]="location_name" [readonly]="is_saved_location"
        name="location_name" #locationName="ngModel" pattern="[a-zA-z0-9]*" required>
      <div *ngIf="locationName.touched && ((locationName.dirty && !locationName.valid) ||!locationName.value)" class="form-input-error">
        <div *ngIf="locationName.dirty && !locationName.valid">Enter only alphanumeric values.</div>
        <div *ngIf="!locationName.value">Location name is mandatory.</div>
      </div>
      <div class="contact-title"><small>{{contact_title}}</small></div>
      <input type="text" placeholder="Contact name" name="contact_name" [(ngModel)]="contact_name" name="contact_name" #contactName="ngModel" pattern="[a-zA-z\s]*">
      <div *ngIf="contactName.dirty && !contactName.valid" class="form-input-error">Enter only alphabets and space.</div>
      
      <div class="phone-number-container">
        <app-isd-code [styles]="isdCodeStyles"></app-isd-code>
        <input type="text" placeholder="Contact number" name="contact_mobile" [(ngModel)]="contact_mobile" 
         name="contact_mobile" #contactMobile="ngModel" [pattern]="regex.phone">
      </div>
      <div *ngIf="contactMobile.dirty && !contactMobile.valid" class="form-input-error">Enter a valid phone number.</div> 
    </form>
    <div class="footer">
      <app-blowhorn-button
        [label]="'Cancel'"
        (click_fired)="close_form()">
      </app-blowhorn-button>
      <app-blowhorn-button
        [label]="'Save'"
        [type]="'save'"
        [disabled]="!locationName.value || (locationName.value && !locationName.valid ) || (contactName.value && !contactName.valid) || (contactMobile.value && !contactMobile.valid)"
        (click_fired)="save_address()">
      </app-blowhorn-button>
    </div>
</div>