<div class="ball-loader" [ngStyle]="styles.wrapper">
  <div class="ball-loader-ball ball1" [ngStyle]="styles.ball1" *ngIf="!font_awesome_spinner"></div>
  <div class="ball-loader-ball ball2" [ngStyle]="styles.ball2" *ngIf="!font_awesome_spinner"></div>
  <div class="ball-loader-ball ball3" [ngStyle]="styles.ball3" *ngIf="!font_awesome_spinner"></div>
  <i class="fa" [ngClass]="font_awesome_spinner" *ngIf="font_awesome_spinner" [ngStyle]="styles.spinner"></i>
</div>
