.wrapper {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    .content {
        position: relative;
        padding: 10px 25px 0 25px;
        .dropdown-container {
            min-height: 80px;
            position: relative;
            .driver-dropdown {
                margin-bottom: 15px;
            }
        }
    }
    .loader-container {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
    }
}
