<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{ heading }}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content">
        <div class="dropdown-container">
            <div class="driver-dropdown" *ngIf="message.status !== 200">
                <app-dropdown-select
                [styles]="dropdown_styles"
                [selected_name]="selected_driver_name ? selected_driver_name : 'Select A Driver'"
                [selected_id]="selected_driver_id ? selected_driver_id : null"
                [items]="availableDrivers"
                (value_changed)="driver_changed($event)">
                </app-dropdown-select>
            </div>
            <app-blowhorn-message
            *ngIf="message.text"
            [@shrinkOut]
            [type]="message.status === 200 ? 'success' : 'error'"
            [message]="message.text"
            (close_fired)="message.text=''">
            </app-blowhorn-message>
            <div class="loader-container" *ngIf="loading">
                <app-mini-loader></app-mini-loader>
            </div>
        </div>
        <div class="modal-footer">
            <app-blowhorn-button
            [label]="dismissBtn.label"
            (click_fired)="close_fired_modal($event)">
            </app-blowhorn-button>
            <app-blowhorn-button
            *ngIf="message.status !== 200"
            [disabled]="!selected_driver_id || loading"
            [label]="submitBtn.label"
            [type]="submitBtn.type"
            (click_fired)="on_submit()"
            ></app-blowhorn-button>
        </div>
    </div>
</div>
