<div class="wrapper">
  <div class="add-btn-holder" *ngIf="user_profile.is_org_admin">
    <app-blowhorn-button
    *ngIf="_blowhorn_service.hasPermission('schedule_reports', 'can_add_schedule')"
    [label]="add_button.label"
    (click_fired)="open_member_modal()">
    </app-blowhorn-button>
  </div>
</div>
<div class="table-wrapper">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">REPORT NAME</th>
      <th scope="col">CATEGORY</th>
      <th scope="col">CITY</th>
      <th scope="col">INTERVAL</th>
      <th scope="col">AGGREGATION PERIOD</th>
      <th scope="col" *ngIf="user_profile.is_org_admin">DELETE</th>
      <th scope="col" *ngIf="user_profile.is_org_admin">SUBSCRIBED USERS</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of report_schedules; let index = index">
        <th>{{ index + 1 }}</th>
        <td>{{ schedule.report_type_name }}</td>
        <td>{{ schedule.report_type_category }}</td>
        <td>{{ schedule.city }}</td>
        <td>{{ schedule.interval | titlecase }}</td>
        <td>{{ schedule.period }}</td>
        <td *ngIf="user_profile.is_org_admin || _blowhorn_service.hasPermission('schedule_reports', 'can_delete_schedule')">
          <app-blowhorn-button
          [label]="delete_button.label"
          [type]="delete_button.type"
          (click_fired)="show_confirmation(schedule.id)">
          </app-blowhorn-button>
        </td>
        <td *ngIf="user_profile.is_org_admin || _blowhorn_service.hasPermission('schedule_reports', 'can_update_recipients')">
          <app-blowhorn-button
          [label]="user_add_button.label"
          [type]="user_add_button.type"
          (click_fired)="open_user_subscription_modal(schedule)">
          </app-blowhorn-button>
        </td>
      </tr>
      <tr *ngIf="!report_schedules.length">
        <th colspan="8" class="text-danger text-center">No report schedules found</th>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-window" *ngIf="prompt.show">
  <app-confirmation
  [styles]="prompt.styles"
  (click_fired)="delete_report_schedule($event)">
  </app-confirmation>
</div>

<div class="modal-window" *ngIf="okay.show">
  <app-error-prompt
  [styles]="prompt.styles"
  (click_fired)="do_nothing($event)">
  </app-error-prompt>
</div>
