.wrapper {
    height: 50px;
    padding: 0 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-items: start;
    position: relative;
    .global-filter {
        position: absolute;
        right: 20px;
        border: 1px solid #d8d8d8;
        background-color: #F7FBFC;
        width: 18%;
        height: 30px;
        span {
            position: absolute;
            left: 4px;
            top: 15%;
            opacity: 0.3;
        }
        .global-inputbox {
            padding-left: 12%;
            outline: none;
            border: none;
            min-width: 150px;
            color: #3f3636;
            background-color: #F7FBFC;
            font-size: 14px;
            width: 95%;
            padding-top: 3px;
        }
    }
}

.table-wrapper {
    padding: 0 20px;
    .table {
        font-size: 14px;
        box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    }
    .table thead {
        background-color: var(--primary-color-light);
    }
}

.confirmation-dialog {
    background: #fff;
    max-width: 500px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0 , 0, .5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .heading {
        background: orange;
        padding: 10px;
        margin-bottom: 10px;
        h5 {
            margin-bottom: 0;
        }
    }
    .message {
        color: #6c6c6c;
        font-size: 13px;
    }
    .confirmation-btn-wrapper {
        display: flex;
        padding: 10px;
        justify-content: flex-end;
    }
}
