<div class="container-info-window">
  <!--<div class="header">
    <span class="content">{{ trip_header }} : {{ marker.driver.order_number || marker.driver.trip_number}}</span>
  </div>-->
  <div class="body">
    <div class="name">{{ marker.driver.name }}</div>
    <div class="vehicle">{{ marker.driver.vehicle_number }}</div>
    <div class="image">
      <img src="{{truck_img}}" alt="truck" class="truck">
    </div>

  </div>
  <!--<div class="footer">
    <div class="button" (click)='track_order_trip()'>Track</div>
  </div>-->
</div>
