.container-info-window {
    padding: 0px;
    .header {
        margin-top: 5px;
        .content {
            text-transform: uppercase;
            font-size: 14px;
            color:rgba(10, 120, 153, 0.938);         
            font-weight: 800;
        }
    }
    .body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        .image {
            grid-column: 2/3;
            grid-row: 1/3;
            .truck {
                padding: 0px;
                margin: 0px;
                width: 90px;
            }
        }
        
    }
    .footer {
        margin-top: 10px;
        display: inline-block;
        .button {
            padding: 5px 17px;
            text-transform: uppercase;
            font-size: 13px;
            color: rgba(10, 120, 153, 0.938);            
            font-weight: 800;
            cursor: pointer;
            border: 1px solid rgb(101, 193, 230);
            &:hover {
                background: rgba(10, 120, 153, 0.938);
                color: white;
            }
        }
    }
}