<div class="wrapper bh-modal">
  <div class="details">
    <div class="header">
      <img class="logo" src="{{blowhorn_service.logo_url}}" alt="logo" />
      <span>Edit Trip - {{order_number}}</span>
    </div>
    <div class="content">
      <form id="edit-form" #stops_form="ngForm">
        <fieldset class="field-set-unit">
          <legend class="label">Trip Details</legend>
          <div class="city">
            <input type="text" [value]="selected_city_name" readonly />
          </div>
          <div class="stops">
            <div
              [dndList]
              [dndModel]="stops_drag_list"
              (dndInserted)="stop_inserted($event)"
            >
              <div
                *ngFor="let stop of stops_drag_list; let index=index"
                (dndMoved)="stop_moved(index, stops_drag_list)"
                [dndObject]="stop"
                [dndDraggable]
                [dndDragDisabled]="index < initial_total_stops && index <= last_done_stop_index"
              >
                <app-blowhorn-map-search
                  [selected_city]="selected_city_id"
                  [placeholder]="get_stop_placeholder(index)"
                  [stop]="stops[index]"
                  [stop_header]="get_stop_header(index)"
                  [stop_type]="get_stop_type(index, stops_drag_list.length)"
                  [enable_delete]="stops.length > 2"
                  (stop_deleted)="delete_stop($event)"
                  [sequence]="index + 1"
                  (stop_updated)="update_stop($event, stops[index])"
                  (drop)="false"
                  (pan_to_location)="pan_to($event)"
                  [enable_swap]="stops.length > 1"
                  [has_saved_locations]="(saved_locations | savedLocationFilter : selected_city_name).length > 0"
                  [saved_locations]="saved_locations | savedLocationFilter : selected_city_name"
                  [show_current_loc]="is_current_location_in_city"
                  (place_changed)="place_changed($event, stops[index])"
                  [show_delete_placeholder]="true"
                  [disabled]="index < initial_total_stops && index <= last_done_stop_index"
                >
                </app-blowhorn-map-search>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="add-stop">
      <div class="add-stop-unit" (click)="add_stop()">
        <span class="fa fa-plus"></span> Add stop
      </div>
    </div>
    <div class="footer">
      <app-blowhorn-button [label]="'Cancel'" (click_fired)="cancel()">
      </app-blowhorn-button>
      <app-blowhorn-button
        [type]="'edit'"
        [label]="'Save Changes'"
        (click_fired)="edit_trip()"
        [disabled]="(!map_search_comps || map_search_comps.length !== stops_selected.length) || submittinForm"
      >
      </app-blowhorn-button>
    </div>
  </div>
  <div class="map">
    <agm-map
      [clickableIcons]="false"
      [latitude]="map_latitude"
      [longitude]="map_longitude"
      [zoom]="14"
      [fitBounds]="map_bounds"
      [streetViewControl]="false"
    >
      <agm-marker
        *ngFor="let stop of stops; let index = index;"
        [latitude]="stop.position[0]"
        [longitude]="stop.position[1]"
        [iconUrl]="get_icon_url(index)"
        [visible]="true"
        [label]="{
          text: (index + 1).toString(),
          color: 'white',
          fontFamily: 'heebo',
          fontSize: '18px',
          fontWeight: '600'
        }"
        [markerDraggable]="!(index < initial_total_stops && index <= last_done_stop_index)"
        (dragEnd)="marker_dragged($event, stop)"
      >
        <agm-info-window>
          <app-route-info-window
            [stop]="stop"
            [stop_header]="get_stop_header(index)"
            (open_contact_form)="open_contact_form($event, stop, index)"
            [enable_location]="false"
          >
          </app-route-info-window>
        </agm-info-window>
      </agm-marker>
      <agm-direction
        #agm_direction
        [origin]="first_stop_selected"
        [destination]="last_stop_selected"
        [waypoints]="remaining_stops_selected"
        [travelMode]="'DRIVING'"
        [optimizeWaypoints]="false"
        [visible]="_show_direction"
        [renderOptions]="_map_service.render_options"
        (onChange)="set_directions($event)"
      >
      </agm-direction>
    </agm-map>
  </div>
</div>
<div *ngIf="show_save_contact" class="modal-window priority">
  <app-save-contact
    #contact_form
    [contact_name]="stops[stop_under_edit_index].contact.name"
    [contact_number]="stops[stop_under_edit_index].contact.mobile"
    [heading]="get_contact_form_header(stop_under_edit_index)"
    [details]="stops[stop_under_edit_index].address.full_address"
    (form_close)="clear_stop_under_edit_index()"
    (form_save)="update_stop_contact($event)"
    [disabled]="!stops[stop_under_edit_index].editable"
  >
  </app-save-contact>
</div>
<div *ngIf="show_message" class="modal-window priority">
  <div class="message-panel">
    <app-blowhorn-message
      [type]="message_type"
      [heading]="message_header"
      [message]="message"
      (close_fired)="close_message()"
    >
    </app-blowhorn-message>
  </div>
</div>
