.wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: flex-start;
    justify-items: start;
    background-color: #fff;
    border-bottom: 1px solid rgb(226, 234, 236);
    &:hover {
        background-color: #dcd9d9;
    }
    .col {
        padding: 10px 20px;
        font-size: 13px;
        line-height: 21px;
        max-width: 500px;
        &.number {
            text-align: right;
        }
        &.name-col {
            width: 300px;
        }
        .main-row {
            color: #303232;
            padding: 0px;
            overflow-wrap: break-word;
            .link {
                cursor: pointer;
                color: rgb(6, 58, 170);
                &:hover {
                    color: #5283ec;
                    text-decoration: underline;
                }
            }
            .text {
                margin: auto 6px;
            }
            .chip {
                padding: 4px 8px;
                border-radius: 20px;
                text-align: center;
                font-weight: 500;
                margin-left: 8px;
            }
            &.icon-wrapper {
                .icon-globe {
                    width: 20px;
                    cursor: pointer;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
                .icon-pincode {
                    width: 20px;
                    cursor: pointer;
                    margin: 0 6px;
                    color: green;
                    &:hover {
                        color: var(--primary-color);
                    }
                }
            }
        }
        .progress-bar-wrapper {
            background-color: #ccc;
            border-radius: 0;
            position: relative;
            box-shadow: none;
            color: #333;
            width: 80%;
            .progress-bar {
                height: 18px;
                span {
                    color: #000;
                    position: absolute;
                    right: -25%
                }
            }
        }
        .sub-row {
            padding: 0px;
            color: #757E7F;
        }
    }
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.active {
    color: green;
}
.inactive {
    color: red;
}
