<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
		div.container {
		    width: 29cm;
		    margin-left: auto;
		    margin-right: auto;
		    margin-top:-50px;
		    padding-bottom: 2px;

		}

		header, footer {
		    font-family:"Arial Rounded MT Bold";
		}

</style>
</head>
<body>
<div class="container">
	<br>
	<header style="text-align: justify;">
		<br><img src={{ data.logo }} alt="Blowhorn" style="float:left;width:170px;height:150px;margin-left: -30px;"><br><br>
   		<p style="position:relative;top: 18px; font-size: 30px; padding-left: 22%">CATBUS INFOLABS PRIVATE LIMITED</p>
   	</header>
</div>
</body>
</html>
