<!DOCTYPE html>
<html>
	<head>
    	<style>
			div.container {
		    	height: 29.7cm;
		    	width: 29cm;
		    	margin-left: auto;
		    	margin-right: auto;
			}

			header, footer {
			    font-family:Calibri;
			}

			.head_top_padding{
			  margin-top: 0px;
			  display: inline-block;
			}

			.table {
			    border-collapse: collapse;
			    border-spacing: 0;
			    border: 1px solid black;
			    width: 1050px;

			}

			.table_th {
			    font-family:Calibri;
			    font-size:13pt;
			    margin:0px;
			    padding:0px;
			}

			.tr_with_right_border {
				border-right: 1px solid black;
			}

			.table_td {
			    font-family:Calibri;
			    font-size:13pt;
			    text-align: left;
			    padding: 0.2em 0.2em 0.2em 0.5em;
			    font-weight: 550;
			}

			.display_style {
			    font-family:Calibri;
			    font-size:14pt;
			    text-align: center;
			    width: 27.5cm;
			}

			.border_right {
				border-right: 1px solid black;
			}

			.border_bottom {
				border-bottom: 1px solid black;
			}

			.border_right_bottom {
				border-right: 1px solid black;
				border-bottom: 1px solid black;
			}

			.border_right_top {
				border-right: 1px solid black;
				border-top: 1px solid black;
			}

			.entire_border {
				border: 1px solid black;
			}

			.padding_class {
				 padding: 0.5em 0.5em 0.2em 0.5em;
			}

			.table_tr {
			  border: 1px solid black;
			}

			.text_align_center {
				text-align: center;
			}

			.table_row_space {
				padding-top: 40px;
			}


			.caption_your_details {
			  text-align: left;
			  font-family:;
			  font-size:10pt;
			  font-weight: bold;
			  font-family:Arial,sans-serif;
			}

			tablefooter {
				margin-top: 0em;
			    font-family: Arial,sans-serif;
			  	font-size:8pt;
			}

			article {
			   font-size: 13pt;
			   text-align: justify-all;
			   font-family: Calibri;

			}

			.head_padding{
			  margin-bottom: 0.2em;
			}

			.grey_background {
			    background-color: #bbbbbb;
			}

			sup {
			    font-size: 5pt
			}

			@page {
			  size: A4;
			  /*margin: 70pt 60pt 120pt;*/
			}

			@media print {
			  body {
			    -webkit-print-color-adjust: exact;
			  }
			  h4 {
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			  table {
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			  header .print {
			    display: block;
			  }
			  thead {
			    display: table-header-group;
			    page-break-inside: avoid;
			  }

			  h1,h2,h3,h4, article{
			    page-break-after: auto;
			    page-break-inside: avoid;
			  }
			}

    	</style>
	</head>
	<body>
		<div class="container">
			<table class="table">
				<th class = "table_th entire_border grey_background" colspan="5" style="font-size: 14pt; padding: 0.2em">TAX INVOICE</th>
				<tr class="table_tr">
					<td class="table_td" colspan="5">&nbsp;</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%">Company Name</td>
					<td class="table_td border_right_bottom" width="30%">{{data.company.name}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%">Invoice No</td>
					<td class="table_td border_right_bottom" width="30%">{{data.invoice.general.invoice_no}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.company.address}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Invoice Date</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;">{{data.invoice.general.invoice_date}}</td>
				</tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<!-- <tr><td class="table_td border_right" width="10%">&nbsp;</td></tr> -->
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%">GSTIN</td>
					<td class="table_td border_right_bottom" width="30%">{{data.company.gstin}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%">Service Period</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.invoice.general.service_period_start}} to {{data.invoice.general.service_period_end}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td" width="15%"></td>
					<td class="table_td" width="30%"> </td>
					<td class="table_td border_right" width="10%"></td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_bottom" colspan="2">&nbsp;</td>
					<td class="table_td border_right" width="10%">&nbsp;</td>
					<td class="table_td border_right_bottom" colspan="2">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" colspan="2"><b> Details of Customer</b></td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" colspan="2"><b> Details of Consignee</b></td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> Name</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.name}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%"> Name</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.consignee.name}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;">Address</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;"> {{data.customer.address}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%" rowspan="3" style="text-align:left;vertical-align:top;"> Address</td>
					<td class="table_td border_right_bottom" width="30%" rowspan="3" style="text-align:left;vertical-align:top;"> {{data.consignee.address}}</td>
				</tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<tr><td class="table_td border_right" width="10%">&nbsp;</td></tr>
				<!-- <tr><td class="table_td border_right" width="10%">&nbsp;</td></tr> -->
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> State</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.state}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%"> State</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.consignee.state}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> State Code</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.state_code}}</td>
					<td class="table_td border_right" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%"> State Code</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.consignee.state_code}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom grey_background" width="15%"> GSTIN</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.customer.gstin}}</td>
					<td class="table_td border_right_bottom" width="10%"></td>
					<td class="table_td border_right_bottom grey_background" width="15%"> GSTIN</td>
					<td class="table_td border_right_bottom" width="30%"> {{data.consignee.gstin}}</td>
				</tr>

				<tr class="table_tr">
					<td class="table_td" colspan="5">&nbsp;</td>
				</tr>
			</table>

			<table class="table">

				<tr class="tr_with_right_border">
					<th class="table_th border_right grey_background" width="5%">S No.</th>
					<th class="table_th border_right grey_background" width="15%"> Description of</th>
					<th class="table_th border_right grey_background" width="9%"> HS</th>
					<th class="table_th border_right grey_background" width="10%"> Value of</th>
					<th class="table_th border_right grey_background" width="6%"> Disco</th>
					<th class="table_th border_right grey_background" width="10%">Taxable</th>
					<th class="table_th border_right_bottom grey_background" colspan="2"> CGST</th>
					<th class="table_th border_right_bottom grey_background" colspan="2"> SGST</th>
					<th class="table_th border_right_bottom grey_background" colspan="2"> IGST</th>
				</tr>

				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" width="5%"></th>
					<th class="table_th border_right_bottom grey_background" width="15%">Service</th>
					<th class="table_th border_right_bottom grey_background" width="9%">Heading</th>
					<th class="table_th border_right_bottom grey_background" width="10%">Service *</th>
					<th class="table_th border_right_bottom grey_background" width="6%"> unt</th>
					<th class="table_th border_right_bottom grey_background" width="10%">Value</th>
					<th class="table_th border_right_bottom grey_background" width="6"> Rate %</th>
					<th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
					<th class="table_th border_right_bottom grey_background" width="6"> Rate %</th>
					<th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
					<th class="table_th border_right_bottom grey_background" width="6"> Rate %</th>
					<th class="table_th border_right_bottom grey_background" width="9"> Amount</th>
				</tr>

				{% for value in data.invoice.description %}
				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom" width="5%"> {{value.count}}</td>
					<td class="table_td border_right_bottom" width="15%"> {{value.description}}</td>
					<td class="table_td border_right_bottom " width="9%"> {{value.hs_heading}}</td>
					<td class="table_td border_right_bottom " width="10%"> {{value.value_of_service}}</td>
					<td class="table_td border_right_bottom " width="6%"> {{value.discount}}</td>
					<td class="table_td border_right_bottom " width="10%"> {{value.taxable_value}}</td>
					<td class="table_td border_right_bottom " width="6"> {{value.cgst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{value.cgst_amount}}</td>
					<td class="table_td border_right_bottom " width="6"> {{value.sgst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{value.sgst_amount}}</td>
					<td class="table_td border_right_bottom " width="6"> {{value.igst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{value.igst_amount}}</td>
				</tr>

				{% endfor %}

				<tr class="tr_with_right_border">
					<th class="table_td border_right_bottom grey_background" colspan="5" style="text-align: right"> Total&nbsp;</th>
					<td class="table_td border_right_bottom " width="10%"> {{data.invoice.description_total.taxable_value}}</td>
					<td class="table_td border_right_bottom " width="6"> {{data.invoice.description_total.cgst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{data.invoice.description_total.cgst_amount}}</td>
					<td class="table_td border_right_bottom " width="6"> {{data.invoice.description_total.sgst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{data.invoice.description_total.sgst_amount}}</td>
					<td class="table_td border_right_bottom " width="6"> {{data.invoice.description_total.igst_rate}}</td>
					<td class="table_td border_right_bottom " width="9"> {{data.invoice.description_total.igst_amount}}</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom " style="font-style: italic;" colspan="12"> * Value of Service - as per details attached</td>
				</tr>

				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" style="text-align: right;" colspan="6"> Total Value (in Figure)&nbsp;</th>
					<td class="table_td border_right_bottom " colspan="6"> Rs. {{data.invoice.description_total.value_in_figure}}</td>
				</tr>
				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" style="text-align: right;" colspan="6"> Total Value (in Words)&nbsp;</th>
					<td class="table_td border_right_bottom " colspan="6"> Rupees {{data.invoice.description_total.value_in_words}} Only</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom " colspan="12">&nbsp;</td>
				</tr>


				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" style="text-align: right;" colspan="6"> Bill Amount payable by Service Recipient &nbsp;<br>On GST - Reverse Charge Basis &nbsp;</th>
					<td class="table_td border_right_bottom " colspan="6"> Rs. {{data.invoice.description_total.value_for_recipient}}</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td border_right_bottom " colspan="12">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<th class="table_th border_right_bottom grey_background" colspan="9" style="text-align: left; padding-left: 0.5em;"> Terms and Conditions:</th>
					<th class="table_td border_right_bottom grey_background" colspan="3" style="text-align: center;"> Catbus Infolabs Pvt. Ltd</th>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right " colspan="3">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right " colspan="3">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right " colspan="3">&nbsp;</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right " colspan="3">&nbsp;</td>
				</tr>

			<!-- 	<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<td class="table_td border_right_bottom " colspan="3">&nbsp;</td>
				</tr> -->

				<tr class="tr_with_right_border">
					<td class="table_th border_right " colspan="9">&nbsp;</td>
					<th class="table_td border_right_top grey_background " colspan="3" style="text-align: center;"> Authorised Signatory</th>
				</tr>

			</table>

			<br><br>

			<table class="table">
				<tr class="tr_with_right_border">
					<td class="table_td padding_class" colspan="3"> Kindly issue Cheque in favour of "M/S CATBUS INFOLABS PVT. LTD"</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td padding_class" colspan="3" > Account Details for Online Payments: CATBUS INFOLABS PVT. LTD</td>
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td padding_class" >Bank : Kotak Mahindra Bank</td>
					<!-- <td class="table_td padding_class" style="text-align: left;"> Kotak Mahindra Bank</td> -->
					<td class="table_td padding_class" >Account No : 0011814320</td>
					<td class="table_td padding_class" >IFSC Code : KKBK0008040</td>
					<!-- <td class="table_td padding_class" style="text-align: left;"> KKBK0008040</td> -->
				</tr>

				<tr class="tr_with_right_border">
					<td class="table_td padding_class" colspan="3" >PAN : AAFCC6784M</td>
				</tr>

			</table>

			<br><br>

			<div style="page-break-before: always; page-break-after: always;">

				<p class="display_style"><u>Details for Value of Services Billed vide Invoice Number <b>{{data.invoice.general.invoice_no}}</b> dated {{data.invoice.general.invoice_date}} on <b>{{data.customer.name}}</b></u></p>

				<br>

				<table class="table">

					<tr class="tr_with_right_border">
						<th class="table_th border_right_bottom " style="padding: 0.2em;">S No.</th>
						<th class="table_th border_right_bottom " >Type</th>
						<th class="table_th border_right_bottom " >Description</th>
						<th class="table_th border_right_bottom " >Vehicle #</th>
						<th class="table_th border_right_bottom " >Quantity</th>
						<th class="table_th border_right_bottom " >Unit Price</th>
						<th class="table_th border_right_bottom " >Total Amount</th>

					</tr>

					{% for value in data.invoice.details %}
					<tr class="tr_with_right_border">
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.count}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.type}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.description}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.vehicle_num}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.quantity}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.unit_price}}</td>
						<td class="table_td border_right_bottom text_align_center" style="text-align: center;">{{value.total_amt}}</td>

					</tr>

					{% endfor %}

					<tr class="tr_with_right_border">
						<th class="table_th border_right_bottom text_align_center " colspan="6" style="padding: 0.2em;"><b>Total</b></th>
						<td class="table_th border_right_bottom text_align_center" ><b>{{data.invoice.details_total}}</b></td>

					</tr>

					<tr class="tr_with_right_border">
						<td style="font-family:Calibri;
					    font-size:13pt;" colspan="7"><u><b>Notes</b></u></td>
					</tr>

					<tr class="tr_with_right_border">
						<td class="" colspan="7">&nbsp;</td>
					</tr>

					<tr class="tr_with_right_border">
						<td colspan="7">&nbsp;</td>
					</tr>

					<tr class="tr_with_right_border">
						<td colspan="7">&nbsp;</td>
					</tr>
					<tr class="tr_with_right_border">
						<td colspan="7">&nbsp;</td>
					</tr>

				</table>
			</div>
		</div>
	</body>
</html>

