<div class="driver-profile">
    <div class="modal-header">
        <h5 class="modal-title">Driver Profile - {{locDetail.profile.name}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="profile-wrapper">
            <div class="left-column">
                <div class="personal-info shadow-card">
                    <div class="card-header">
                        <h6>Personal Information</h6>
                    </div>
                    <div class="card-content">
                        <div class="avatar">
                            <div class="profile-pic">
                                <img src="{{avatarUrl}}" alt="avatar"/>
                            </div>
                        </div>
                        <div class="info-wrapper">
                            <div class="info-row">
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-id-card"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>ID</span>
                                        {{locDetail.driver_id}}
                                    </div>
                                </div>
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-user"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Name</span>
                                        {{locDetail.profile.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-mobile"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Mobile</span>
                                        {{locDetail.profile.mobile}}
                                    </div>
                                </div>
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-map-marker"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>City</span>
                                        {{locDetail.location?.city}}
                                    </div>
                                </div>
                            </div>
                            <div class="info-row">
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-sign-in"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Login Time</span>
                                        {{locDetail.profile.login_time}}
                                    </div>
                                </div>
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-globe"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Last GPS Update</span>
                                        {{gps_human_readable}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vehicle-info shadow-card">
                    <div class="card-header">
                        <h6>Vehicle Information</h6>
                    </div>
                    <div class="card-content">
                        <div class="info-wrapper">
                            <div class="info-row">
                                <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-taxi"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>Licence Number</span>
                                            {{locDetail.profile.licence_number}}
                                        </div>
                                    </div>
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-taxi"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Registration Number</span>
                                        {{locDetail.profile.vehicle_number}}
                                    </div>
                                </div>
                                <!-- <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-taxi"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Vehicle Class</span>
                                        {{locDetail.profile.vehicle_class}}
                                    </div>
                                </div>
                                <div class="info-block">
                                    <div class="icon-holder">
                                        <i class="icon fa fa-taxi"></i>
                                    </div>
                                    <div class="info-text">
                                        <span>Vehicle Model</span>
                                        {{locDetail.profile.vehicle_model}}
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-card">
                    <div class="device-info shadow-card">
                        <div class="card-header">
                            <h6>Device Information</h6>
                        </div>
                        <div class="card-content">
                            <div class="info-wrapper">
                                <div class="info-row">
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-mobile"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>Name</span>
                                            {{locDetail.device_details.device_name}}
                                        </div>
                                    </div>
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-android"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>OS Version</span>
                                            {{locDetail.device_details.os_version}}
                                        </div>
                                    </div>
                                </div>
                                <div class="info-row">
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-mobile"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>IMEI Number</span>
                                            {{locDetail.device_details.imei_number}}
                                        </div>
                                    </div>
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-signal"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>SIM Network</span>
                                            {{locDetail.device_details.sim_network}}
                                        </div>
                                    </div>
                                </div>
                                <div class="info-row">
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-signal"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>App Version</span>
                                            {{locDetail.device_details.app_version_name}}
                                        </div>
                                    </div>
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-signal"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>SIM SR No.</span>
                                            {{locDetail.device_details.sim_sr_number}}
                                        </div>
                                    </div>
                                </div>
                                <div class="info-row">
                                    <div class="info-block">
                                        <div class="icon-holder">
                                            <i class="icon fa fa-battery-three-quarters"></i>
                                        </div>
                                        <div class="info-text">
                                            <span>Battery</span>
                                            <div class="progress-bar-wrapper">
                                                <div class="progress-bar"
                                                    [ngStyle]="{'width': locDetail.device_details?.battery_info?.batteryLevel + '%' || 'NA'}">
                                                    <span>{{locDetail.device_details?.battery_info?.batteryLevel || 'NA'}}%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="actions shadow-card">
                            <div class="card-header">
                                <h6>Driver App Actions</h6>
                            </div>
                            <div class="button-holder">
                                <div class="left-button">
                                    <!-- TODO: replace button with blowhorn-button -->
                                    <button class="btn-light" *ngFor="let btn of buttonList['left']" [disabled]="disableActions" (click)="sendAction(btn.action)">{{btn.label}}</button>
                                </div>
                                <div class="right-button">
                                    <button class="btn-light" *ngFor="let btn of buttonList['right']" [disabled]="disableActions" (click)="sendAction(btn.action)">{{btn.label}}</button>
                                </div>
                            </div>
                            <div class="alert-message" [ngClass]="showAlert ? 'show-alert' : 'hide-alert'">
                                <div class="message">{{message}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
