.modal-content {
    border-radius: 0 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

@media screen {
    .lg-dialog .modal-dialog {
        max-width: 1000px !important;
    }
}

.driver-profile {
    .modal-header {
        padding: 10px;
        text-align: center;

        .modal-title {
            font-size: 15px;
        }
    }

    .modal-body {
        font-size: 13px;
        background-color: #e2eaec;
        padding-top: 5px;
        padding-bottom: 5px;

        .profile-wrapper {
            display: flex;
            position: relative;

            .card-header {
                background: transparent;
                padding: 1%;
                margin-bottom: 1%;

                h6 {
                    margin: 0;
                    font-size: 13px;
                }
            }

            .card-content {
                margin: 0% 2%;
                display: flex;

                .info-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                    margin-left: 1%;

                    .info-row {
                        display: flex;

                        .info-block {
                            width: 50%;
                            display: flex;
                            margin-bottom: 5px;

                            &:hover .icon-holder {
                                background: #dce2e2;
                                color: #000;
                            }

                            .icon-holder {
                                background-color: #e8eaea;
                                display: inline-block;
                                // vertical-align: middle;
                                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                                width: 15%;
                                height: 100% !important;
                                text-align: center;
                                padding: 12px 0 !important;
                                // position: relative;
                                line-height: unset;

                                .icon {
                                    color: #000;
                                    font-size: 17px;
                                    padding: 2px;
                                }
                            }

                            .info-text {
                                display: inline-block;
                                padding-left: 5%;
                                font-size: 12px;
                                padding-top: 5px;
                                padding-bottom: 5px;
                                max-width: 100%;
                                width: 100%;

                                span {
                                    display: block;
                                    font-weight: 800;
                                }
                            }
                        }
                    }
                }
            }

            .avatar {
                display: flex;
                width: 20%;
                height: 150px;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

                .profile-pic, .vehicle-pic {
                    background: #eee;
                    border: 1px solid hsl(180, 5%, 91%);
                    color: #ff1313;
                    height: 100%;
                    width: 100%;
                    padding: 2px;
                    &:hover {
                        background-color: #e8eaea;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .vehicle-info {
                .info-wrapper {
                    width: 100%;
                }
            }

            .bottom-card {
                display: flex;

                .device-info {
                    width: 50%;

                    .info-wrapper {
                        width: 100%;

                        .progress-bar-wrapper {
                            background-color: #ccc;
                            border-radius: 0;
                            position: relative;
                            box-shadow: none;
                            color: #333;

                            .progress-bar {
                                height: 18px;
                                span {
                                //     float: right;
                                //     font-size: 15px;
                                //     margin-top: 3px;
                                //     position: absolute;
                                //     right: 5px;
                                    color: #000;
                                    position: absolute;
                                    right: -25%
                                //     margin-left: 3px;
                                }
                            }
                        }
                    }
                }
            }
            .shadow-card {
                background-color: #fff;
                flex-direction: column;
                display: flex;
                margin-bottom: 1%;
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                padding: 1% 2%;
            }

            .left-column {
                display: flex;
                flex-flow: column;
                width: 100%;
                margin-right: 1%;
            }

            .right-column {
                display: flex;
                flex-flow: column;
                width: 50%;
                margin-left: 1%;
            }

            .left-button {
                display: flex;
                flex-flow: column;
                width: 50%;
                margin-right: 1%;
            }

            .right-button {
                display: flex;
                flex-flow: column;
                width: 50%;
                margin-right: 1%;
            }

            .actions {
                display: flex;
                flex-direction: column;
                padding: 2% 2%;
                height: 97%;

                .alert-message {
                    margin-top: 10px;
                    text-align: center;
                    overflow:hidden;
                    -webkit-transition: height 0.4s;
                    -moz-transition: height 0.4s;
                    transition: height 0.4s;
                }

                .button-holder {
                    display: flex;
                    button {
                        margin: 2%;
                        padding: 5px 17px;
                        text-transform: uppercase;
                        font-size: 13px;
                        border: 1px solid #65c1e6;
                        color: rgba(10, 120, 153, 0.938);
                        font-weight: 800;
                        cursor: pointer;

                        &:hover {
                            background: rgba(10, 120, 153, 0.938);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
.show-alert {
    height: 30px;
    border: 1px solid rgba(10, 120, 153, 0.938);
    padding: 5px;
}
.hide-alert {
    height: 0;
    border: none;
    padding: 0px;
}
