<div class="wrapper">
  <div class="no"
    [ngClass]="stop_type">{{stop.seq_no + 1}}
  </div>
  <div class="detail">
    <div *ngIf="stop.address.name" class="name">{{stop.address.name}}</div>
    <div [ngClass]="stop.address.name ? 'address' : 'name'">{{stop.address.full_address}}</div>
    <div *ngIf="!stop.address.name" class="save-location"
      (click)="show_save_addess()">Save location</div>
  </div>
  <div class="contact">
    <div class="name">{{stop.contact.name}}</div>
    <div class="number">{{stop.contact.mobile}}</div>
    <div *ngIf="!stop.contact.name && !stop.contact.mobile" class="add-contact"
      (click)="show_save_contact()">Add contact</div>
    <div *ngIf="stop.contact.name || stop.contact.mobile" class="add-contact"
      (click)="show_save_contact()">Edit contact</div>
  </div>
</div>
