.wrapper {
    display:  flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    .no {
        flex: 1;        
        background-repeat: no-repeat;
        background-position: center;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #141515;
        font-size: 18px;	
        font-weight: 500;	
        line-height: 21px;
    }
    .detail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px 10px;
        flex: 6;
        .name {
            color: #141515;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
        }
        .address {
            color: #4E5454;	
            	
            font-size: 13px;	
            line-height: 19px;
        }
        .save-location {
            text-decoration: #0180A8 underline;
            color: #0180A8;	
            	
            font-size: 13px;	
            line-height: 19px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex: 3;
        .name {
            color: #141515;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
        }
        .number {
            color: #4E5454;	
            	
            font-size: 13px;	
            line-height: 19px;
        }
        .add-contact {
            padding: 1px 0px;
            text-decoration: #1080A8 underline;
            color: #0180A8;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}