.dropdown-styles {
    text-align: center;
    height: 35px;
    margin: auto 10px;
    padding: 2px;
    text-transform: none;
    .dropdown-toggle-styles {
        color: #3f3636;
        font-size: 14px;
        text-align: left;
        font-weight: normal;
        display: table;
        border: none;
        padding: 0px 0px;
        margin: 8px 6px;
        .dropdown-toggle-display-styles {
            display: table-cell;
            vertical-align: middle;
            padding-left: 5px; 
        }  
    }
    .dropdown-menu-styles {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        -webkit-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        -moz-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        border-radius: 0px;
        max-height: 50vh;
        overflow: auto;
        .dropdown-item-styles {
            height: 50px;
            font-size: 16px;
            color: grey;
            padding: 0px;
            display: table; 
            &:hover {
                cursor: pointer;
                color: rgb(248, 249, 250); 
                background: rgb(63, 54, 54);
            }
            &:active {
                color: white;
                background: gray;
            }
            .content {
                height: 100%;
                padding: 0 10px;
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}
.modal-window {
    .profile,
    .change-password-modal {
        color: #333;
        background: #fff;
        width: 90%;
        .modal-header {
            display: flex;
            margin-bottom: 10px;
            padding: 10px 20px;
            border-bottom: 2px solid #0088A8;
            align-items: center;
            min-height: 45px;
            .modal-title-text {
                color: #0088A8;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1.5px;
                line-height: 21px;
                text-transform: uppercase;
            }
            .cross {
                display: flex;
                justify-content: flex-end;
                cursor: pointer;
                &:hover {
                    color: orangered !important;
                    transform: scale(1.5);
                }
            }
        }
        .form-check {
            cursor: pointer;
            .form-check-input {
                height: unset;
                margin-top: 2px;
            }
            &:focus {
                outline: none;
            }
        }
        .modal-body {
            text-transform: initial;
            .loader-container {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                background: rgba(255, 255, 255, 0.5);
                z-index: 1;
            }
            .form-group {
                .form-control {
                    border-radius: 0 !important;
                    background-clip: unset !important;
                }
                .invalid-feedback {
                    text-transform: initial;
                }
            }
            .message {
                display: flex;
                justify-content: center;
                padding: 15px;
                text-transform: initial;
                height: 48px;
                .success {
                    color: green;
                }
                .error {
                    color: red;
                }
            }
        }
    }

    @media (min-width: 575px) {
        .profile,
        .change-password-modal {
            width: 420px;
        }
    }
}
