<div dropdown
  #dropdown="bs-dropdown"
  class="dropdown dropdown-styles" 
  [ngStyle]="styles['dropdown-styles']"
  (mouseover)="dropdown.show()"
  (mouseout)="dropdown.hide()">
  <div dropdownToggle 
    class="btn dropdown-toggle dropdown-toggle-styles" 
    (click)="false"
    [ngStyle]="styles['dropdown-toggle-styles']">
    <div class="dropdown-toggle-display-styles" 
      [ngStyle]="styles['dropdown-toggle-display-styles']"> 
      <span class="content">{{ headerText }}</span>
    </div>
    <span class="caret dropdown-toggle-caret-style" 
      [ngStyle]="styles['dropdown-toggle-caret-styles']">
    </span>                       
  </div>
  <div *dropdownMenu 
    class="dropdown-menu dropdown-menu-styles"
    [ngStyle]="styles['dropdown-menu-styles']">
    <a class="dropdown-item dropdown-item-styles"
      *ngFor="let item of options"
      [ngStyle]="styles['dropdown-item-styles']"
      (click)="performClick(item.val);dropdown.hide();$event.stopPropagation();">
      <span class="content">{{ item.label }}</span>
    </a>
  </div>
</div>
