<div class="wrapper">
  <div class="table">
    <div class="heading d-flex">
      <div class="col">Status</div>
      <div class="col number">Count</div>
    </div>
    <div class="body">
      <div
        class="row"
        *ngFor="let item of rows; let index = $index"
        [ngStyle]="{'background-color': index % 2 === 0 ? '#FAFAFA' : '#fff'}"
        [@slideInOut]
      >
        <div class="label col-md-8">
          {{ item.status }}  
        </div>
        <div class="val col-md-4 number">
          {{ item.count }}
        </div>
      </div>
    </div>
  </div>
</div>
