.wrapper {
    background: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    height: 100%;
    .heading {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #ccc;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #99DCFF;
        font-weight: 600;
    }
    .body {
        border: 1px solid #ccc;
        border-top: none;
        .row {
            margin: 0;
            padding: 8px 0px;
            font-size: 14px;
            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }
            &:nth-child(even) {
                background-color: #f2f2f2;
            }
            .label {
                padding-left: 5px;
            }
        }
    }
    .number {
        text-align: right;
    }
}
