<div class="container-fluid activity-container" st-table="displayedActivities" st-safe-src="driverActivities">
  <hr>
  <div class="row text-center">
    <h3 class="header-text">Driver Activity Report</h3>
  </div>
  <div class="row filter-row">
    <form class="form-inline">
      <div class="form-group">
        <label for="driver">Driver: </label>
        <select class="form-control select2" placeholder="Start Date" id="filter-driver" ng-model="filter.driver_id" ng-options="v.key as v.value for (k, v) in drivers_list" ng-disabled="filter.loading">
        </select>
      </div>
      <div class="form-group">
        <!-- <label for="start-date">Start Date</label> -->
        <input type="text" class="form-control" placeholder="Start Date" aria-describedby="start-date" ng-model="filter.startDate" pickdate ng-disabled="filter.loading">
      </div>
      <div class="form-group">
        <!-- <label for="start-date">End Date</label> -->
        <input type="text" class="form-control" placeholder="End Date" aria-describedby="end-date" ng-model="filter.endDate" pickdate ng-disabled="filter.loading">
      </div>
      <button ng-click="fetchActivity()" id="fetch-activity" class="btn btn-success" ng-disabled="filter.loading">
        <span ng-show="filter.loading">Loading..</span>
        <span ng-show="!filter.loading">Fetch</span>
      </button>
      <div class="form-group pull-right">
        <input type="text" class="form-control" name="filter-text" st-search="" placeholder="Search here" ng-show="driverActivities.length>0"/>
      </div>
    </form>
  </div>
  <h4 class="text-center helper-text" ng-show="displayedActivities==0 && !filter.loading">No activity found</h4>
  <table id="activity-table" class="table table-bordered table-striped top-buffer" export-functions export-filename-prefix="{{filenamePrefixDriverActivity}}" style="margin-top: 2.5%;" ng-show="displayedActivities.length > 0">
    <thead class="table-head">
      <tr>
        <th>Sl No.</th>
        <th class="pointer" st-sort="date">Date</th>
        <th>Driver ID</th>
        <th class="pointer" st-sort="driver_name">Name</th>
        <th>Vehicle No.</th>
        <th class="pointer" st-sort="city">City</th>
        <th class="pointer" st-sort="business_user">Company</th>
        <th class="pointer" st-sort="login_time">Login Time</th>
        <th class="pointer" st-sort="logout_time">Logout Time</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in displayedActivities track by $index">
        <td>{{$index+1}}</td>
        <td><a ng-if="row.tripsheet_key" href="/myfleet/trace/{{row.tripsheet_key}}" target="_blank" title="Click to view tripsheet">{{row.date | date}}</a>
          <span ng-if="!row.tripsheet_key">{{row.date | date}}</span>
        </td>
        <td>{{row.driver_id}}</td>
        <td>{{row.driver_name}}</td>
        <td>{{row.vehicle_number}}</td>
        <td>{{row.city}}</td>
        <td>{{row.business_user || '---'}}</td>
        <td>{{row.login_time | date}}</td>
        <td>{{row.logout_time ? (row.logout_time | date) : '---'}}</td>
        <td>{{row.distance_km ? (row.distance_km | number: 1) : '---'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $("#filter-driver").select2({
    placeholder: "Select a driver",
    allowClear: true,
    minimumResultsForSearch: 10
  });
  $("#activity-table").stickyTableHeaders();
</script>
