<style type="text/css">
  .select2-selection {height: 34px !important;}
</style>
<marker
ng-if="map && drivers"
ng-repeat="(driver_id, driver) in drivers"
driver="driver"
rdata="driver.rdata"
map="map"
vclasses="vclasses"
show-customer="$parent.showCustomer"
show-city="showCity[driver.region]"
show-vehicle-class="showVehicleClass1[driver.profile.vehicle_class]"
show-status="showStatus[driver.status]"
show-driver-actions="showDriverActions"
show-booking-details="showBookingDetails"
clear-directions-display="clearDirectionsDisplay"
></marker>

<div class="container-fluid custom-container">
  <div class="row top-row" ng-if="map && drivers && params">
    <div class="col-md-3 pull-left">
      <div class="input-group" uib-dropdown  ng-init="showdrivers = false" is-open="showdrivers" tooltip-placement="bottom">
        <input type="text" id="driver-search" ng-keyup="showdrivers = true" ng-model="driver_searchText" class="form-control text-left" placeholder="Driver Name" />
        <div class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="clearSearch()" style="border-bottom-left-radius: 0;border-top-left-radius: 0;border-top-right-radius: 4px;border-bottom-right-radius: 4px;">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <ul class="dropdown-menu custom-dropdown" uib-dropdown-menu role="menu">
          <li role="menuitem" ng-repeat="driver in drivers_array | filter : visibleDriversFilter | filter: {profile: {$ : driver_searchText}} track by $index" ng-click="selectDriver(driver)">{{driver.profile.name}} | {{driver.profile.registration_number}}</li>
        </ul>
      </div>
    </div>

    <div class="col-md-3">
      <select id="business-user" class="form-control" ng-model="$parent.showCustomer" ng-options="c for c in getUniqueCustomers(drivers_array)">
        <option value="">- Select Customer -</option>
      </select>
    </div>

    <div class="col-md-6">
      <div class="filter-vehicle-class" ng-repeat="(key, value) in vehicle_classes" ng-show="getAvailable(key).length > 0">
        <span class="count">({{ getVisibleCount(key) }})</span>
        <img ng-src="{{value.idle}}" alt="{{key}}" />
        <label for="{{key}}">{{key}}</label>
        <input type="checkbox" id="{{key}}" name="{{key}}" ng-model="showVehicleClass1[key]">
      </div>
    </div>

    <div class="col-md-3">
      <div class="filter-vehicle-class" ng-repeat="status_ in statuses">
        <span class="count">({{ getVisibleStatusCount(status_) }})</span>
        <label for="{{status_}}" class={{status_}}>{{status_}}</label>
        <input type="checkbox" id="{{status_}}" name="{{status_}}" ng-model="showStatus[status_]">
      </div>
    </div>
    <div class="col-md-5 pull-right">
      <div class="filter-city">
        <label for="all">All</label>
        <input type="checkbox" id="all" name="all" ng-model="$parent.all_cities">
      </div>
      <div class="filter-city" ng-repeat="city in cities track by $index">
        <span class="count">({{ getVisibleCityCount(city) }})</span>
        <label for="{{city}}">{{city}}</label>
        <input type="checkbox" id="{{city}}" name="{{city}}" ng-model="showCity[city]">
      </div>
    </div>
  </div>

  <div class="container-fluid map-block">
    <!-- <div class="row filter-row">
    </div> -->
    <div class="row map-row">
      <div ng-class="showSidebar ? 'sidebar-map-wrapper' : 'collapse-sidebar-display' ">
        <div id="left-nav-driver" style="background-color:#fff;">
          <div class="collapse-marker">
            <a ng-show="false" ng-click="openDriverListSidebar()"><i ng-class="toggleSidebar ? 'minus-marker' : 'plus-marker' " id="i_class"></i></a>
          </div>
          <div class="nav-container-driver">
            <ul class="nav-driver" id="driver-details-list">
              <li ng-repeat="(key, value) in driver_details track by $index">
                <a ng-click="getDriverFromSidebar(key)">
                  <span class="text" id="driver-name-map">{{value.name}}</span></br>
                  <span class="booking-id-text">Category: {{value.status}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Gcards left-->
      <div id="gcards" hidden>
        <main>
          <header></header>
          <section class="card">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog();"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span> </button>
            <h1><span class="text-center" id="assigned-driver">{{assigned_driver || "--"}}</span></h1>
            <center><img src="/static/website/images/dummy_profile.png" class="img-circle" id="driver-img" style="height:80px !important;"/></center>
            <table>
              <tr>
                <td>
                  <h6><strong>Last Update:</strong> <span id="driver-last-update">{{driver_last_update}}</span>  </h6>
                </td>
                <td>
                  <h6><span id="driver-distance-km">{{driver_distance_km || "--"}}</span></h6>
                </td>
              </tr>
            </table>

            <table>
              <tr><td>Mobile Number</td>
                <td>Battery Level</td>
                <td>Current Status</td>
              </tr>
              <tr><td><h6><span id="driver-mobile-map">{{driver_mobile}}</span></h6></td>
                <td><h6><span id="driver-battery-level">{{driver_battery_level}}</span>%</h6></td>
                <td><h6><span id="driver-current-status">{{driver_current_status}}</span></h6></td>
              </tr>
            </table>
          </section>

          <section class="card">
            <h1>Booking Details:</h1><br>
            <table>
              <tr><td>ID</td>
                <td>Date</td>
                <td>Time</td>
              </tr>
              <tr><td><h6><span id="booking-id">{{booking_id}}</span></h6></td>
                <td><h6><span id="booking-date">{{booking_date}}</span></h6></td>
                <td><h6><span id="booking-time">{{booking_time}}</span></h6></td>
              </tr>
              <tr><td>Pickup Date</td>
                <td>Items</td>
                <td>Labour</td>
              </tr>
              <tr><td><h6><span id="pickup-date">{{pickup_date}}</span></h6></td>
                <td><h6><span id="item-moved">{{items_moved || "--"}}</span></h6></td>
                <td><h6><span id="labour-request">{{labour_request}}</span></h6></td>
              </tr>
            </table>

            <div class="loc-from">
              <i class="map-marker-from"></i>
              <h4><span style="margin-left:10px;" id="start-time">{{booking_start_time}}</span></h4>
              <div class="address"><span style="margin-left:0px;" id="start-address">{{pickup_address}}</span></div>
            </div>
            <div class="loc-to">
              <i class="map-marker-to"></i>
              <h4><span style="margin-left:10px;" id="end-time">{{booking_end_time}}</span></h4>
              <div class="address"><span  style="margin-left:0px;" id="end-address">{{dropoff_address}}</span></div>
            </div>
          </section>

          <section class="card">
            <h6>
              <table>
                <tbody id="etas">
                </tbody>
              </table>
              <div hidden>
                <table>
                  <tbody>
                    <tr id="eta-row">
                      <td>
                        <strong>ETA <span class="target"></span> :</strong>
                      </td>
                      <td>
                        <span class="eta-distance"></span> (
                        <span class="eta-time"></span>)
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </h6>
          </section>
        </main>
      </div>

      <div class="google-map" id="google-map"></div>

      <!-- Gcards right-->
      <div id="gcardsright" hidden>
        <main>
          <header></header>
          <section class="card">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialogRight();"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="row">
              <strong style="margin-left:15px;">Drive Name:</strong> <span id="drivername">{{driver.driver_name}}</span>
            </div>

            <div class="row">
              <strong style="margin-left:15px;">Drive ID:</strong> <span id="driverid">{{driver.driver_id}}</span>
            </div>
          </section>

          <section class="card">
            <h1>Driver Actions:</h1>
            <div class="row">
              <input type='submit' id="logout_iw" class='btn-register btn-blue driver-action' value='Logout Driver App' style="float: left;" ng-click="logout()"/>
              <input type='submit' id="clear_iw" class='btn-register btn-blue driver-action' value='Clear Driver App' ng-click="clear()"/>
            </div>
            <div class="row">
              <input type='submit' id="location_iw" class='btn-register btn-blue driver-action' value='Request Location' style="float: left;" ng-click="request_location()"/>
              <input type='submit' id="restore_iw" class='btn-register btn-blue driver-action' value='Restore' ng-click="restore()"/>
            </div>
            <div class="row">
              <input type='submit' id="duty_on_iw" class='btn-register btn-blue driver-action' value='Duty On' style="float: left;" ng-click="duty_on()"/>
              <input type='submit' id="duty_off_iw" class='btn-register btn-blue driver-action' value='Duty Off' ng-click="duty_off()"/></div>
              <div class="row">
                <input type='submit' id="update_location_time" class='btn-register btn-blue driver-action' value='Update Location Time' style="float: left;" ng-click="updateLocationTime()"/>
                <input type='submit' id="remove_idle_iw" class='btn-register btn-blue driver-action' value='Remove Idle status' ng-click="remove_idle()"/></div>
                <!--<div class="row">-->
                  <!--<input type='submit' id="log_driver" class='btn-register btn-blue driver-action' value='Driver Log' ng-click="log_driver()"/>-->
                <!--</div>-->
              </section>

              <section class="card">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <strong>Registration No:</strong>
                      </td>
                      <td>
                        <span id="regno">{{driver.regno}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>License No:</strong>
                      </td>
                      <td>
                        <span id="licno">{{driver.licno}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Vehicle Model:</strong>
                      </td>
                      <td>
                        <span id="v_model">{{driver.vehicle_model}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>

              <section class="card">
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <strong>App Ver:</strong>
                      </td>
                      <td>
                        <span id="app_ver">{{driver.app_ver}}</span>
                      </td>
                    </tr><tr>
                      <td>
                        <strong>Device:</strong>
                      </td>
                      <td>
                        <span id="device">{{driver.device}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>OS:</strong>
                      </td>
                      <td>
                        <span id="os">{{driver.os}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>Network:</strong>
                      </td>
                      <td>
                        <span id="network">{{driver.network}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <strong>SIM:</strong>
                      </td>
                      <td>
                        <span id="sim">{{driver.sim}}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </section>
            </main>
          </div>
        </div>
      </div>
    </div>
    <div hidden>
      <input id="reload" type='submit' class='btn-sm btn-orange' value='Reload' style="margin-right: 10px" ng-click="getDataandShowMap()" ng-show="false"/>
      <input id="toggle-infowindow" type='submit' class='btn-sm btn-orange' value='Toggle Infowindow' style="margin-right: 10px" ng-click="toggleInfowindow()" ng-show="false"/>
      <input id="fit-zoom" class="btn-sm btn-orange" type="submit" value="Fit Zoom" ng-click="fitZoom()">
    </div>
    <update-time-interval-alarm></update-time-interval-alarm>

<!-- <uib-tab index="1" heading="Driver Activity">-->
  <driver-activity></driver-activity>
<!-- </uib-tabset> -->
