<div class="infobox">
	<div class="top-bar">
		<div class="title"><a ng-click="showDriverActions(driver)">{{driver.profile.name}}</a></div>
	</div>
	<div class="address">
		{{driver.profile.registration_number}}
		<br>
		{{driver.profile.mobile}}
		<br>
		<div ng-class="{red: driver.showRed}">{{driver.timestamp}}</div>
    <div ng-show="driver.customer_id != null"><b>{{driver.customer_id}}</b></div>
    <div ng-show="driver.end_customer">{{driver.end_customer}}</div>
	</div>
	<div class="bottom-bar">
		<div class="one-third"><img height="20px" src="/static/website/images/battery.png"/>{{driver.location.battery_percent}}%</div>
		<div class="one-third">{{driver.location.speed_kmph | number:0}} kmph</div>
		<div class="one-third">{{driver.distance_km | number:1}} km</div>
	</div>
</div>
