<div class="modal fade" id="update_location_time_modal" tabindex="-1" role="dialog" aria-labelledby="locationTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 0px; background: #00C0E1; border-top-left-radius: 6px; border-top-right-radius: 6px; padding: 8px;">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Update time interval alarm</h4>
            </div>
            <form id="update_location_time_form">
                <div class="modal-body">
                    <div class="row"> 
                        <div class="col-lg-6">
                            <label for="booking-id">Driver Id</label>
                            <input type="text" readonly class="form-control" placeholder="driver Id" name="driver_id"  />

                            <label for="booking-id">Driver Name</label>
                            <input type="text" readonly class="form-control" placeholder="driver Name" name="driver_name"/>

                            <label for="alarm">Alarm</label>
                            <input type="number" min="0" class="form-control pastenumbervalidate" placeholder="Alarm in second" name="alarm" required />
                        </div>
                        <div class="col-lg-6">
                            <label for="runnable">Runnable</label>
                            <input type="number" min="0" class="form-control pastenumbervalidate" placeholder="Runnable in second" name="runnable" required "/>

                            <label for="intent">Intent</label>
                            <input type="number" min="0" class="form-control pastenumbervalidate" placeholder="Intent in second" name="intent" required />

                            <label for="intent_dis">Intent Distance</label>
                            <input type="number" min="0" class="form-control pastenumbervalidate" placeholder="Intent Distance in meter" name="intent_dis" required />

                            <input type="hidden" name="action" value="update_location_time"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Save" />
                    <input type="submit" class="btn btn-warning" data-dismiss="modal" value="Cancel" />
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
