:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: #e5e8e8;
        color: rgb(104, 109, 110);
        .left {
            color: inherit;
            
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
        }
        .right {
            font-size: 15px;
            color: inherit;
        }
        &:hover {
            cursor: pointer;
            color: rgb(104, 109, 110);	
        }
    }
    .collapsed {
        color: #BBC2C4;
        margin-bottom: 3px;
    }
    .result {
        height: auto;
        transition: height .4s;
        display: flex;
        flex-direction: column;
        .title {
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-bottom: 1px solid lightgray;
            span {
                flex: 1;
                color: #757E7F;
                
                font-size: 12px;
                letter-spacing: 0.23px;
                line-height: 18px;
            }
            .align-center {
                display: flex;
                justify-content: center;
            }
        }
        .records {
            display: flex;
            flex-direction: column;
            .record {
                padding: 10px 20px;
                display: flex;
                align-items: center;
                .column {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    .primary {
                        color: #303232;
                        
                        font-size: 14px;
                        line-height: 21px;
                    }
                    .route-name {
                        color: rgb(58, 108, 173);
                        font-size: 16px;
                    }
                    .secondary {
                        color: #757E7F;
                        
                        font-size: 12px;
                        line-height: 18px;
                        .on-trip {
                            background-color: rgb(11, 175, 11);
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        .idle-athub {
                            background-color: orangered;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin-right: 5px;
                        }
                    }
                    .single-row {
                        display: flex;
                        align-items: center;
                    }
                    .edit-panel {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .change {
                            color: rgb(70, 72, 73);
                            margin-right: 10px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .remove {
                            color: rgb(160, 12, 12);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }
                    }
                }
                .assign-route {
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .pointer {
                        z-index: 11;
                        position: absolute;
                        top: 35px;
                        width: 10px;
                        height: 10px;
                        background-color: #fff;
                        border-right: 1px solid white;
                        border-top: 1px solid white;
                        transform: rotate(-45deg);
                    }
                    .routes {
                        position: absolute;
                        right: 0px;
                        top: 40px;
                        z-index: 10;
                        width: 400px;
                        max-height: 400px;
                        background-color: #fff;
                        box-shadow: 0 2px 20px 0 rgba(0,0,0,0.5);
                        padding: 10px 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: stretch;
                        justify-content: flex-start;
                        .close {
                            font-size: 13px;
                            position: absolute;
                            right: 1px;
                            top: 0px;
                            color: rgb(228, 65, 65);
                            transition: transform 300ms;
                            &:hover {
                                color: rgb(184, 0, 0);
                                transform: scale(1.2);
                            }
                        }
                        .searcher {
                            margin: 5px 0px;
                            padding: 5px 0px;
                            display: flex;
                            align-items: center;
                            justify-content: stretch;
                            border: 1px solid #F0F5F7;
                            background-color: #F7FBFC;
                            input {
                                flex: 1;
                                background-color: #F7FBFC;
                                padding: 0px 5px;                        
                                outline: none;
                                border: none;
                                color: rgb(29, 30, 31);	
                                	
                                font-size: 12px;
                            }
                            .icon {
                                padding: 5px;
                                color: gray;
                                font-size: 16px;
                            }
                        }
                        .results {
                            flex: 1;
                            overflow-y: auto;
                            display: flex;
                            width: 100%;
                            flex-direction: column;
                            .route {
                                width: 100%;
                                background-color: #FBFBFB;
                                padding: 10px;
                                margin: 5px 0px;
                                cursor: pointer;
                                .route-header {
                                    width: 100%;
                                    color: #4E5454;	
                                    	
                                    font-size: 14px;	
                                    font-weight: 500;	
                                    line-height: 21px;
                                    margin-bottom: 5px;
                                }
                                .details {
                                    width: 100%;
                                    color: rgb(182, 188, 189);
                                    	
                                    font-size: 12px;	
                                    line-height: 18px;
                                    .highlight {
                                        color: #0180A8;	
                                    }
                                }
                            }
                        }
                    }
                }
                &:nth-child(odd) {
                    background-color: #fff;
                }
                &:nth-child(even) {
                    background-color: #F7FBFC;
                }
            }
        }
    }
    .hide {
        height: 0px;
        display: none;
    }  
    .show {
        display: flex;
        height: auto;
    }  
}
