<div class="header" (click)="collapsed=!collapsed"
    [ngClass]="{'collapsed': collapsed}">
    <span class="left">{{city}} | {{records.length}} Trucks</span>
    <span class="fa right" [ngClass]="collapsed ? 'fa-caret-down': 'fa-caret-up'"></span>
</div>
<div class="result" [ngClass]="collapsed ? 'hide' : 'show'">
    <div class="title">
        <span>Truck Details</span>
        <span>Driver Details</span>
        <span>Hub</span>
        <span>Shift Time</span>
        <span class="align-center">Route</span>
    </div>
    <div class="records">
        <div class="record" *ngFor="let record of records; let index = index">
            <div class="column">
                <span class="primary">{{record.vehicle_number}}</span>
                <span class="secondary">{{record.vehicle_model}}</span>
            </div>
            <div class="column">
                <span class="primary">{{record.driver_name}}</span>
                <span class="secondary">{{record.driver_number}}</span>
            </div>
            <div class="column">
                <span class="primary">{{record.hub}}</span>
                <div class="secondary single-row"><div [ngClass]="record.on_trip ? 'on-trip' : 'idle-athub'"></div>{{record.on_trip ? 'On Trip' : 'Idle/At Hub'}}</div>
            </div>
            <div class="column">
                <span class="primary">{{record.shift_time}}</span>
            </div>
            <div class="column assign-route">
                <div *ngIf="record.route_name" class="edit-panel">
                    <span class="change route-name" (click)="assign_route(index)">{{record.route_name}}</span>
                    <span class="fa fa-times remove" (click)="remove_route(record)"></span>
                </div>
                <app-blowhorn-button
                *ngIf="!record.route_name && _blowhorn_service.hasPermission('fleet_overview', 'can_assign_route')"
                [label]="'Configure Route'"
                (click_fired)="assign_route(index)"
                [disabled]="disable_assign_route">
                </app-blowhorn-button>
                <div *ngIf="is_assign_route && clicked_index === index" class="pointer"></div>
                <div *ngIf="is_assign_route && clicked_index === index" class="routes">
                    <span *ngIf="routes.length" class="fa fa-times close" (click)="close_routes()"></span>
                    <div *ngIf="routes.length" class="searcher">
                        <input type="text" placeholder="Search for routes" [(ngModel)]="filter_text">
                        <span class="fa fa-search icon"></span>
                    </div>
                    <div class="results">
                        <div class="route" (click)="select_route(record, route)"
                            *ngFor="let route of routes | nameFilter: filter_text">
                            <div class="route-header">
                                {{route.name}}
                            </div>
                            <div class="details">
                                {{route.pickup}} to {{route.dropoff}}
                                <span class="highlight">via {{route.stop_count}} stops</span>
                            </div>
                        </div>
                        <app-blowhorn-message *ngIf="!routes.length" type="error" [message]="no_route_message" (close_fired)="close_routes()">
                        </app-blowhorn-message>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="show_confirm" class="modal-window">
    <app-blowhorn-confirm
        [heading]="'Confirm route selection'"
        [details]="confirm_message"
        [show_warning]="false"
        (proceed)="proceed($event)">
    </app-blowhorn-confirm>
</div>
