.title-block {color: #03C0E1;}

.ui-grid-header-cell {background-color: #00C0E1;}

.grid {width: 100%; height: 100% !important;}

.ui-grid-cell {overflow: visible;z-index: 99999;}
ui-select-wrap {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ui-grid-filter-container {padding: 4px}
.ui-grid-filter-cancel-button-hidden select.ui-grid-filter-select {
	background-color: rgb(249, 250, 250);opacity: 1 !important;
}
.ui-menu, .ui-menu-item {width : 300px !important;}

/* Common styles */
.custom-dropdown { max-height: 200px; height: auto; overflow-x: hidden; }
.company-dropdown { padding: 6px 9px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 0;margin-left:-1px; }
.company-clear { padding: 6px 7px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-top-left-radius: 0;border-bottom-left-radius: 0;margin-left:-1px; }
#loading-overlay { display: none; width: 100%; height: 100%; position: absolute; z-index: 999; top: 0; left: 0; }
#loading-image { position: absolute; top: 50%; left: 0; right: 0; margin: auto; height:50px; width:150px; }
.glyphicon.spinning { animation: spin 1s infinite linear; -webkit-animation: spin2 1s infinite linear; }
@keyframes spin { from { transform: scale(1) rotate(0deg); } to { transform: scale(1) rotate(360deg); } }
@-webkit-keyframes spin2 { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }

.modal-header {
	border-bottom: 0px;
	background: #00C0E1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 5px;
	text-align: center;
}

