.fw01 {
    font-weight: bold !important;
}

.cl01 {
    color: white !important;
}

.bg01 {
    background-color: black !important;
}

.field-input {
    background-color: #333;
    border-color: black;
}

::-webkit-input-placeholder {
    color: grey;
}

:-moz-placeholder {
    color: grey;
}

::-moz-placeholder {
    color: grey;
}

:-ms-input-placeholder {
    color: grey;
}

form input[type="text"], input[type="password"] {
    background-color: #fff;
}

.btn-register {
    margin-top: 20px;
    margin-left: 0px;
}

.left-margin10 {
    margin-left: 10px !important;
}

.margin-right10 {
    margin-right: 10px;
}
.margin-top15 {
    margin-top: 15px;
}

.driver-action{
    width: 181px;
}

/* New Header Bar Style */
.logo-block{ float: left; }
.heading-block{ display: inline-block; margin: 0 auto; }
.nav-block{ float: right; margin-top: 20px; font-size: 12px; }
