@font-face {
  font-family: 'rupee_foradianregular';
  src: url('../fonts/rupee_foradian-webfont.woff2') format('woff2'), url('../fonts/rupee_foradian-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'rupee_foradianregular';
  src: url('../fonts/rupee_foradian-webfont.woff2') format('woff2'),
    url('../fonts/rupee_foradian-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*
@font-face {
    font-family:'Heebo';
    src: url('../fonts/Heebo.eot');
    src: url('../fonts/Heebo.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Heebo.woff2') format('woff2'),
         url('../fonts/Heebo.woff') format('woff'),
         url('../fonts/Heebo.ttf') format('truetype'),
         url('../fonts/Heebo.svg#Heebo') format('svg');
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family:'Heebo';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff'),
         url('../fonts/proximanova-regular.ttf') format('truetype'),
         url('../fonts/proximanova-regular.svg#Heebo') format('svg');
    font-weight:normal;font-style:normal;
}
@font-face{
    font-family:'Heebo';
    src:url('../fonts/ProximaNova-Semibold.eot');
    src:local('O'),
         url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
         url('../fonts/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Semibold.svg#Heebo') format('svg');
    font-weight:normal;font-style:normal;
}
@font-face {
    font-family:'avenir_black';
    src: url('../fonts/avenir-black.eot');
    src: url('../fonts/avenir-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir-black.woff') format('woff'),
         url('../fonts/avenir-black.ttf') format('truetype'),
         url('../fonts/avenir-black.svg#avenir_black') format('svg');
    font-weight:normal;font-style:normal;
}
*/
/*
.proxima-nova-light{font-family:'Heebo';font-style:normal;font-weight:normal}
.proxima-nova-regular{font-family:'Heebo';font-style:normal;font-weight:normal}
.avenir-black{font-family:'avenir_black';font-style:normal;font-weight:normal}
*/

/*fontastic.me*/
@font-face {
  font-family: 'blowhorn-fonts';
  src: url('../fonts/blowhorn-fonts.eot');
  src: url('../fonts/blowhorn-fonts.eot?#iefix') format('embedded-opentype'),
    url('../fonts/blowhorn-fonts.woff') format('woff'),
    url('../fonts/blowhorn-fonts.ttf') format('truetype'),
    url('../fonts/blowhorn-fonts.svg#blowhorn-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'blowhorn-fonts';
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'blowhorn-fonts' !important;
  font-style: normal !important;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  font-size: 19px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e601"
}

.icon-gift:before {
  content: "\e600"
}

.icon-facebook:before {
  content: "\66";
  font-size: 28px;
}

footer .icon-facebook:before {
  content: "\66";
  font-size: 18px;
}

.icon-gplus:before {
  content: "\67"
}

.icon-twitter:before {
  content: "\74"
}

.icon-linkedin:before {
  content: "\6c"
}

.icon-arrow-down:before {
  content: "\64"
}

.icon-tick:before {
  content: "\76"
}

.icon-edit:before {
  content: "\65"
}

.icon-edit-main:before {
  content: "\61"
}

.icon-logout:before {
  content: "\6f"
}

a[title="Facebook"] {
  background-color: #3B5998;
}

a[title="Twitter"] {
  background-color: #55ACEE;
}

a[title="Instagram"] {
  background-color: #3F729B;
}

a[title="Linkedin"] {
  background-color: #007ab7;
}

/*Common Styles*/
html,
body {
  height: 100%;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 64px;
  font-weight: 200;
}

h1 em {
  color: #f74757;
  font-style: normal
}

h2 {
  font-size: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}

#intro h2 {
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 40px;
}

h6.active-visible {
  float: right;
  font-size: 1em;
  margin-top: 12px
}

nav ul {
  padding: 0
}

nav li {
  float: left;
  list-style: none;
}

.block {
  float: left;
  clear: both;
  width: 100%;
}

.bg-theme {
  color: #fff
}

.btn-continue,
.btn-change,
.btn-confirm,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #87E9FF;
  color: #141525;
  float: left;
  margin: 36px 0;
  height: 46px;
  line-height: 45px;
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 1.286em;
  font-weight: 700;
}

.btn-change {
  background: none;
  color: #02bfe0;
  border: 1px solid #02bfe0;
  float: right;
  margin: 20px 10px
}

.btn-continue:hover,
.btn-continue:focus,
.btn-tick:hover,
.btn-tick:focus,
.btn-confirm:hover,
.btn-confirm:focus,
.btn-primary:hover,
.btn-primary:focus {
  text-decoration: none;
  color: #141515;
}

.btn-change:hover,
.btn-change:focus {
  text-decoration: none;
  color: #02bfe0
}

.btn-scroll {
  display: block;
  visibility: hidden;
  height: 48px;
  line-height: 54px;
  width: 48px;
  text-align: center;
  margin: 0 auto;
  background-color: #02bfe0;
  color: #fff;
  border-radius: 100%;
  font-size: 1.429em;
  position: relative;
  bottom: -23px;
}

.btn-scroll:focus,
.btn-scroll:hover {
  color: #fff;
  outline: none
}

.link-red {
  color: #f74757;
  text-decoration: underline;
}

.link-red:focus,
.link-red:hover {
  text-decoration: none;
  color: #f74757
}

.glyphicon-heart {
  color: #f64656
}

/*Radio button styling*/
input[type="radio"] {
  border: 1px solid #bbb;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: 2px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  line-height: 10px;
}

input[type="radio"]:checked+label:before {
  color: #888;
}

input[type="radio"]:disabled,
input[type="radio"]:disabled:checked:before {
  opacity: 0.7;
}

input[type="radio"]:checked:before {
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  font: normal 21px/1 dashicons;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\2022';
  text-indent: -9999px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  font-size: 24px;
  width: 6px;
  height: 6px;
  margin: 4px;
  line-height: 16px;
  background-color: #f64656;
}

/*Arrow down box*/
.arrow_box {
  position: relative;
  background: #fff;
  border: 1px solid #ccc
}

.arrow_box:after,
.arrow_box:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute
}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -20px
}

.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #ccc;
  border-width: 21px;
  margin-left: -21px
}

.arrow-top {
  position: relative;
  background: #fff;
}

.arrow-top:after {
  bottom: 100%;
  left: 90.5%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
  display: none;
}

/*Login / Registration Screen*/
.modal-header {
  border-radius: 8px 8px 0 0;
}

.modal-sm {
  width: 420px;
  color: #303232;
  font-size: 18px;
}

.modal-sm .modal-header {
  padding: 15px 20px 0px 20px;
  border-bottom: none;
  color: #fff;
  background: linear-gradient(134.18deg, #E4FAFF 0%, #FFFFFF 100%);
  min-height: 80px;
}

.modal-sm .modal-header .modal-login-header-logo,
.modal-sm .modal-header .modal-register-header-logo,
.modal-sm .modal-header .modal-header-image {
  /* background: url(/static/website/images/homepage/logo/logo.png)no-repeat center center; */
  width: 88px;
  height: 50px;
  display: block;
  margin: 0 auto;
  position: relative;
  background-size: contain;
  top: 10px;
  z-index: 1;
}

.modal-sm .modal-header .modal-register-header-logo {
  background: url(/static/website/images/homepage/logo/logo.png) no-repeat center center;
  background-size: contain;
}

.modal-sm #exitmsg-tryagain .modal-header-image {
  background: url(/static/website/images/error2x.png)no-repeat center center;
}

.modal-sm #exit-done .modal-header-image,
.modal-sm #exitmsg-signup .modal-header-image {
  background: url(/static/website/images/ConfirmDone.png)no-repeat center center;
  background-size: cover;
}


#completed h2 {
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 0;
  color: #C5F4FF;
}

#completed #exitmsg-tryagain h2 {
  margin-bottom: 15px;
  line-height: 35px;
}

#completed h6 {
  font-weight: 900;
  font-size: 14px;
  margin-bottom: 0;
  letter-spacing: 1px;
  margin-bottom: 60px
}

#completed h3 {
  font-weight: 300;
  font-size: 18px;
  color: #C9D2D6;
}

#completed h4 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 24px;
}

#completed .form-control,
#completed .btn {
  margin: 0;
  border-radius: 0;
  height: 36px;
  font-size: 14px;
  font-family: heebo;
  line-height: 36px;
}

#completed .btn {
  border: 0px none;
  font-size: 12px;
}

#completed #link-later,
#completed #link-later:hover {
  color: #F7FBFC;
  font-size: 14px;
  font-weight: 100;
  margin-top: 70px;
  display: inline-block;
}

#completed #exitmsg-tryagain #link-later,
#completed #exitmsg-tryagain #link-later:hover {
  margin-top: 30px;
  margin-bottom: 15px;
}

#completed #exit-wait .btn {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #000;
  color: #87E9FF;
  line-height: 48px;
  padding: 0;
  height: 48px;
  width: 164px;
}

#completed .reachSupport,
#completed #reachSupport:hover {
  color: #F7FBFC;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border: 1px solid #757E7F;
  width: 166px;
  padding: 7px 0;
  margin-top: 100px;
}

#register-signup .link-red {
  font-weight: 500;
}

#register-signup label.small input {
  margin-top: 3px;
}

#completed .form-control {
  background-color: transparent;
  border: 1px solid #F0F5F7;
  border-right: 0px none
}

.qrCode p canvas {
  /* display: ; */
  padding: 5px;
  background-color: #fff;
  overflow: hidden;
}


.modal-sm .modal-header .close {
  background-color: transparent;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  border-radius: 100%;
  font-size: 1em;
  color: #87E9FF;
  filter: alpha(opacity=60);
  opacity: .6;
  text-shadow: 0 0 0;
}

.modal-sm .modal-body {
  padding: 15px 50px 20px;
  font-weight: 100;
}

.modal-sm .modal-body label {
  font-weight: 300;
}

.modal-sm .checkbox {
  text-align: left;
}

.modal-sm input.btn-blue {
  height: 48px;
  margin: 9px 0 12px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  font-family: Heebo;
  letter-spacing: 3px;
  max-width: 240px !important;
  min-width: 240px !important;
}

.modal-sm .forgot-password,
.modal-sm #btn-changepassword {
  font-size: 18px;
  color: #303232;
  text-decoration: none;
  margin-bottom: 30px;
  display: block;
}

.modal-sm .modal-form-fixer,
.form-control,
textarea.form-control {
  border-radius: 0;
  border: 0px solid #1a1a1a;
  height: 48px;
  padding: 6px 12px;
  margin-bottom: 15px;
  background-color: #F0F5F7;
  box-shadow: 0 0 0;
  font-size: 18px;
  color: #141515;
  font-weight: 300;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075), 0 0 0px rgba(102, 175, 233, .6);
}

#btn-changepassword {
  margin-bottom: 0 !important;
}

#btn-changepassword:hover {
  color: #FC3446;
}

textarea.form-control {
  height: auto;
}


.modal-sm h5 {
  margin: 5px 0 16px;
  font-size: 18px;
  font-weight: 300;
}

.modal-sm .social-unwrap {
  margin-left: -30px;
  margin-right: -30px
}

.modal-sm .btn-blue {
  font-family: 'Heebo';
}

.modal-btn-wrap {
  padding: 0 30px
}

.social-links {
  padding: 0px 15px 0;
  text-align: center;
}

.social-links a {
  display: inline-block;
  text-align: left;
  color: #fff;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  margin-bottom: 12px;
  overflow: hidden;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  border: 1px solid #C9D2D6;
  width: 140px;
  margin-top: 18px;
  position: relative;
}

.social-links a .icon {
  position: relative;
  float: left;
  width: 36px;
  margin-right: 20px;
}

.social-links a.btn-fb,
.social-links a.btn-fb:hover {
  background-color: transparent;
  color: #2A457E !important;
  margin-right: 4%;
}

.social-links a:after {
  content: "";
  position: absolute;
  border-left: 1px solid;
  top: 8px;
  left: 45px;
  bottom: 8px;
  background: #333;
}

.social-links a.btn-fb:hover,
.social-links a.btn-fb:focus {
  background-color: transparent;
  text-decoration: none;
}

.social-links a.btn-fb .icon {
  font-size: 1.667em;
  top: 6px;
  left: 8px
}

.social-links a.btn-gplus {
  background-color: transparent;
  color: #DB4432;
}

#register-modal, #login-modal {
  color: #333;
}

#register-modal .social-links a.btn-gplus {
  background-color: #DB4432;
  color: #fff;
  font-weight: 300;
  border: 1px solid #DB4432;
}

#register-modal .social-links a.btn-fb, #login-modal .social-links a.btn-fb {
  background-color: #2A457E;
  color: #fff !important;
  border: 1px solid #2A457E;
}

.social-links a.btn-gplus:hover,
.social-links a.btn-gplus:focus {
  background-color: transparent;
  text-decoration: none;
  color: #DB4432;
}

.social-links a.btn-gplus .fa-google {
  font-size: 1.667em;
  top: 10px;
  left: 12px;
  position: relative;
  float: left;
  width: 36px;
  margin-right: 20px;
}

a.btn-blue {
  display: block;
  color: #fff;
  font-size: 1.357em;
  height: 48px;
  line-height: 48px;
  margin-top: 0;
  padding: 0 15px;
  font-family: 'Heebo';
}

#register-modal .social-links {
  border-top: none;
  padding-bottom: 15px;
}

/* 
#register-modal h5 {
  color: #C5F4FF;
} */

.no-account {
  font-weight: 300;
}

.no-account {
  font-weight: 300;
  padding-top: 30px;
}

#login-form .checkbox {
  margin-top: 0;
}

#input-proceed {
  margin: 32px 0 20px
}

#signup-form {
  margin-bottom: 8px
}



#signup-form .is-business-user+label,
#register-signup label.small input {
  color: #333;
}

.modal-sm a,
.modal-sm a:link,
.modal-sm a:hover,
.modal-sm a:focus,
.modal-sm a:active,
.modal-sm a:visited {
  color: #FC3446;
  font-weight: 300;
  text-decoration: none;
}

.has-divider {
  position: relative
}

.has-divider span {
  position: relative;
  z-index: 1;
  padding: 0 5px 0 6px;
}

.has-divider:after {
  content: "";
  position: absolute;
  height: 0px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  border: 0px solid #ddd;
  z-index: 0;
  right: 0;
}

.show-password {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 0px;
  background: transparent;
  border: 0px none;
  height: 48px;
  width: 48px;
  display: none;
}

#infobox .address {
  height: 48px;
  width: 214px;
  color: #303232;
  font-family: Heebo;
  font-size: 13px;
  line-height: 16px;
}

#infobox button.save,
#infobox button.saved {
  float: right;
  height: 18px;
  width: 57px;
  color: #4E5454;
  font-family: Heebo;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  margin-right: 0px;
  margin-top: 2px;
}

#infobox .add-contact,
#infobox .contact {
  height: 18px;
  color: #4E5454;
  font-family: Heebo;
  font-size: 12px !important;
  font-weight: 500;
  line-height: 18px;
  width: 100%;
  margin-left: 0;
  padding: 0 15px;
  cursor: pointer;
}

#infobox .contact {
  padding-top: 10px;
  cursor: text;
}

#infobox .contact,
#infobox .contact i.bg-Contact {
  cursor: text;
}

#infobox button.save i,
#infobox button.saved i,
#infobox .add-contact i,
#infobox .contact i {
  display: inline-block;
  width: 17px;
  margin: 0 2px 0 0;
  padding: 0;
  vertical-align: top;
  height: 16px;
  cursor: pointer;
}

#infobox button.save i.bg-SaveLocHover,
#infobox button.saved i.bg-LocSavedHover,
#infobox .add-contact i.bg-AddContactHover,
#infobox .contact .edit i.bg-EditContactHover {
  display: none;
}

#infobox button.save:hover i.bg-SaveLocHover,
#infobox button.saved:hover i.bg-LocSavedHover,
#infobox .add-contact:hover i.bg-AddContactHover,
#infobox .contact .edit:hover i.bg-EditContactHover {
  display: inline-block;
}

#infobox button.save:hover i.bg-SaveLoc,
#infobox button.saved:hover i.bg-LocSaved,
#infobox .add-contact:hover i.bg-AddContact,
#infobox .contact .edit:hover i.bg-EditContact {
  display: none;
}

.infoBox img {
  margin: 5px !important;
}

.infoBox .title {
  height: 21px;
  color: var(--primary-color);
  font-family: Heebo;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  /*white-space: nowrap;*/
  width: 83% !important;
  justify-content: flex-start !important;
}

.infoBox button {
  display: inline-block;
  font-size: 14px !important;
  color: #141515;
  width: 72px;
  white-space: nowrap;
  background: transparent;
  text-align: center;
  padding: 0;
  margin-top: 6px;
}

.infoBox button i {
  display: inline-block;
  vertical-align: middle;
}

a.link-blue,
a.link-blue:focus,
a.link-blue:hover,
a.link-blue:visited,
a.link-blue:active {
  color: var(--primary-color);
}

.no-margin {
  margin: 0 !important;
}

.mb-15 {
  margin-bottom: -15px;
}

small,
.small {
  font-size: 85% !important;
}

/* #book{font-weight: bold;font-size: 20px;margin-top: 0px;height: 64px;min-width: 195px;float: left;padding-left: 0;padding-right: 0;} */


.city-list {
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 15px;

}

/*
input:focus+.city-list{
    display:block;
}
*/

#booking .citiesList {
  left: 14px;
  right: 14px;
  top: 63px;
  padding: 0;
  border-radius: 0;
  background-color: #4E5454;
}

#booking .citiesList li a {
  list-style: none;
  text-align: left;
  padding: 16px;
  background-color: #141515;
  margin-bottom: 2px;
  color: #F7FBFC;
  font-weight: 300;
  cursor: pointer;
  font-size: 20px;
}

#booking .citiesList li:last-child a {
  margin-bottom: 0px;
}

#booking .citiesList li a:hover,
#booking .citiesList li a.active:hover {
  color: #87E9FF;
}

/* .modal-content{background: none!important} */


/*Intro Section*/
/* #intro, */
#steps,
#contact-map {
  background: url(/static/website/images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-size: cover
}

/* #intro nav {
  /* margin-top:2%
} */

#intro nav ul {
  margin-bottom: 0;
}

#intro {
  padding: 0 0px;
}

#intro nav li {
  position: relative;
  margin-left: 45px;
}

#intro nav li:first-child {
  margin-left: 0
}

#intro nav li a {
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  font-weight: 400;
}

.sign-up,
.sign-up:hover,
.sign-up:focus {
  border: 1px solid #F7FBFC;
  padding: 6px 21px 5px 21px;
  border-radius: 15px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px !important;
}

#intro nav li a.get-the-app i {
  display: inline-block;
  width: 19px;
  height: 32px;
  background: url(/static/website/images/GetAppIcon.png);
  vertical-align: middle;
  margin-right: 5px;
}

#intro nav li a:hover,
#intro nav li a:focus {
  text-decoration: none;
}

#intro nav .open {
  position: relative;
}

#intro nav .dropdown-menu {
  left: auto;
  padding: 0 0px;
  position: absolute;
  border: 1px solid #000;
}

#intro nav .dropdown-menu li {
  float: left;
  clear: both;
  margin: 0 !important;
  width: 100%;
}

#intro nav .dropdown-menu li a {
  color: #fff;
  font-size: 14px;
  padding: 15px 12px 15px 16px;
  line-height: 21px;
  background-color: #4E5454;
}

#intro nav li .dropdown-menu li a {
  color: #fff !important;
}

#intro nav .dropdown-menu li a:focus,
#intro nav .dropdown-menu li a:hover {
  outline: 0
}

#intro nav .dropdown-menu li:last-child a {
  border-bottom: none;
}

#intro nav .dropdown-menu li a span {
  position: relative;
  right: 6px;
  top: 3px
}

#intro header {
  padding: 58px 0 60px 0;
}

#booking {
  margin-bottom: 0px;
  padding: 0 15px;
}

#booking header {
  text-transform: uppercase;
  color: #02bfe0;
  font-size: 1.286em;
  margin-bottom: 28px
}

#btn-logout .icon-arrow-down {
  position: relative;
  top: 4px;
  color: #f74757
}

#btn-logout>img {
  border-radius: 100%;
  height: 28px;
  width: 28px;
  position: relative;
  right: 5px;
  vertical-align: middle;
}

.intro-form-fixer,
#booking .selectCity,
#booking .selectCity:hover {
  border-radius: 0;
  border: 0px solid #fff;
  font-size: 24px;
  height: 64px;
  padding: 6px 18px;
  color: #fff;
  background-color: rgba(000, 000, 000, 0.66);
  font-weight: 300;
  position: relative;
}

#booking .intro-form-fixer,
#booking .selectCity,
#booking .selectCity:hover,
#booking .open .selectCity,
#booking .open .selectCity:hover,
#booking .selectCity:focus {
  margin-bottom: 20px;
  border: 1px solid #979797 !important;
  background-color: #141515;
  font-size: 20px !important;
  text-decoration: none !important;
  color: #fff !important;
  text-align: left;
}

.mainheader {
  text-align: left;
  font-family: 'Heebo';
  margin-bottom: 15px;
  color: #fff;
}

.w3w-info {
  color: #f74757;
  text-align: left !important;
  margin-top: 2px
}

.w3w-suggestion {
  font-size: smaller;
  margin-top: 5%;
  text-indent: -2%;
  padding-left: 5%;
}

.w3w-suggestion-words {
  font-size: small;
}


/*Briefing Section*/
.section {
  padding: 65px 0;
  font-family: 'Heebo';
  color: #253545
}

.section.bg-theme {
  color: #fff
}

.section h1 {
  font-family: 'Heebo';
  font-size: 3.786em
}

.section h1 em {
  font-family: 'Heebo';
}

.section h2 {
  font-size: 2.429em;
  line-height: 1.3;
  margin-top: 12px
}

.section-img {
  /* background:url(/static/website/images/img-sprite.png) no-repeat; */
  height: 87px;
  width: 87px !important;
  background-color: #ddd;
  border-radius: 1000px;
  margin-right: 15px;
  margin-bottom: 60px;
  float: left;
}

#hasslefree {
  background: url(/static/website/images/HassleFree.png) no-repeat;
}

#fast {
  background: url(/static/website/images/Fast.png) no-repeat;
}

#safe {
  background: url(/static/website/images/Safe.png) no-repeat;
}

.triplets {
  margin-top: 48px
}

.triplets h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #FC3446;
  font-weight: 900;
  font-size: 20px;
  text-align: left;
  margin-top: 10px;
}

.triplets p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0px 15px;
  text-align: left;
}

.triplets .col-md-4 {
  margin-bottom: 10px;
  overflow: hidden;
}

.bg-theme .triplets h3 {
  color: #02bfe0
}

#hasslefree {}

#fast {}

#safe {}

/*Steps Section*/
#steps {
  background-image: url(/static/website/images/bg2.jpg)
}

#steps .section-img {
  height: 142px
}

#img-book {
  width: 174px;
  background-position: -420px -27px
}

#img-deliver {
  width: 262px;
  background-position: -582px -27px
}

#img-track {
  width: 152px;
  background-position: -868px -27px
}

#steps .triplets .col-md-4 {
  margin-bottom: 86px
}

/*Feedback Section*/
#feedback {
  padding-top: 31px;
  margin-bottom: 64px
}

#feedback h1 {
  font-family: 'Heebo'
}

#feedback h1 .glyphicon-heart {
  top: 10px;
  left: -2px
}

.feedback-wrap {
  border: 1px solid #ccc;
  margin: 56px 16px 20px;
  padding: 40px;
  text-align: left;
  font-size: 1.571em;
  line-height: 1.32
}

.feedback-wrap p {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.feedback-container .carousel-indicators {
  bottom: -88px
}

.feedback-container .carousel-indicators li {
  border-color: #ccc;
  width: 16px;
  height: 16px;
  margin: 1px 3px
}

.feedback-container .carousel-indicators li.active {
  background-color: #ccc;
  margin: 1px 3px
}

.feedback-container .arrow_box:before {
  border-width: 21px;
  margin-left: -21px
}

.user-pic {
  padding: 10px 0
}

.user-pic img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100%
}

.user-pic span {
  display: block;
  color: #f64656;
  text-transform: uppercase;
  font-family: 'avenir_black';
  margin-top: 6px;
  font-size: 1.5em
}

/*Contact Map Section*/
.contact-header {
  background-color: rgba(37, 53, 69, .8);
  margin: 0;
  padding: 21px 0 30px
}

.contact-header h1 {
  margin-bottom: -14px
}

.contact-header em {
  color: #fff
}

#contact-map {
  background-image: url(/static/website/images/blowhorn_map.png);
  background-attachment: initial;
  padding-top: 0;
  height: 580px;
}

.modal-title {
  display: none;
}

.visible-vxs {
  display: none !important;
}

#career #intro,
#team #intro,
#about #intro,
#solutions #intro {
  background: none;
}


#team span.toggle-menu .icon-bar {
  background-color: #757E7F;
}

#about {
  background: url(/static/website/images/AboutUs.jpg) top center #000;
  background-size: cover;
}

#solutions {
  background: url(/static/website/images/Solutions-Option-1.jpg) top center #000;
}

#team {
  background: #FBFBFB;
}

#team,
#career {
  background: url(/static/website/images/Mesh-Background.jpg) top center;
}

#team #footer-inverse {
  background: url(/static/website/images/Bottom-Image-People.jpg) bottom center;
}

#career #footer-inverse {
  background: url(/static/website/images/Bottom-Image-Careers.jpg) bottom center;
}

#career #content-inverse strong {
  color: #0180A8;
  font-weight: 500;
}


@media (min-width: 1024px) {
  #team .team-photo {
    height: 545px;
    max-width: 1600px;
    background-color: #D8D8D8;
    background-image: url('/static/website/images/team.jpg');
  }
}

.btn-apply,
.btn-apply:hover,
.btn-apply:focus {
  text-decoration: none;
  color: #303232;
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 24px;
  border: 1px solid #000000;
  background-color: #F0F5F7;
  padding: 10px 39px;
  margin-bottom: 40px;
  display: inline-block;
}

#career #content-inverse ul {
  margin-left: 0;
  padding-left: 20px;
  line-height: 35px;
  margin-bottom: 90px;
}

#team #footer-inverse footer,
#career #footer-inverse footer {
  background: linear-gradient(180deg, rgba(94, 97, 97, 0) 0%, #303232 100%);
  padding-top: 30%;
}

#team #intro nav li a,
#career #intro nav li a {
  color: #757E7F;
}


#team .blowhorn_logo,
#career .blowhorn_logo {
  -webkit-filter: brightness(0);
  filter: brightness(0);
}

#career .sign-up,
#career .sign-up:hover,
#career .sign-up:focus,
#team .sign-up,
#team .sign-up:hover,
#team .sign-up:focus {
  border: 1px solid #BBC2C4;
  color: #757E7F;
}



#solutions #content-inverse .form-control {
  border: 1px solid #87E9FF;
  background-color: #141515;
  color: #fff;
}

#content-inverse {
  color: #F0F5F7;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  padding: 0 0px;
}

#career #content-inverse,
#team #content-inverse {
  color: inherit;
}


#content-inverse .btn-inverse {
  height: 40px;
  border: 1px solid #303232;
  border-radius: 100px;
  color: #C9D2D6;
  padding: 8px 30px;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
}

#content-inverse p {
  margin-bottom: 20px;

}

#content-inverse hr {
  border-top: 0px none;
  margin: 0px;
}

#content-inverse .lead,
#content-inverse h1 {
  font-size: 20px;
}

#content-inverse h1,
#content-inverse h2 {
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 15px;
}

#content-inverse h2,
#team #content-inverse h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

#team #content-inverse .team-member h2 {
  margin-bottom: 0px;
}

#team #content-inverse .team-member span {
  position: relative;
  display: inline-block;
}

#team #content-inverse .team-member span:hover {
  background: rgba(000, 000, 000, 0.5);
}

#team #content-inverse .team-member span span {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10% 14% 0;
  color: #fff;
  opacity: 0;
  overflow: hidden;
}

#team #content-inverse .team-member span:hover span {
  opacity: 1;
}

#team #content-inverse h4 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
  color: #0AD1F2;
}


#team #content-inverse h5 {
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  margin-top: 0;

}

#team #content-inverse h5+p {
  margin-bottom: 70px;
}

#footer-inverse footer {
  background: transparent;
  color: #F7FBFC;
  margin-top: 15%;
}


#about #footer-inverse footer {
  margin-top: 37%;
}

#footer-inverse footer a,
#footer-inverse footer nav a:hover,
#footer-inverse footer nav a:focus {
  color: #F7FBFC;
}

#footer-inverse footer a:hover,
#footer-inverse footer a:focus {
  color: #87E9FF;
}



@media (max-width: 320px) {
  #contact-map {
    background-image: url(/static/website/images/blowhorn_map.png);
    background-attachment: initial;
    background-size: contain;
    padding-top: 0;
    height: 450px;
  }

  .contact-social-links ul {
    margin-right: 0% !important;
    color: #333;
  }

  /*.blogabout{margin-top: -33% !important;}*/
}

.downloadApp {
  position: fixed;
  bottom: 0;
  background: url("/static/website/images/app-screen.png")bottom left no-repeat #fff;
  max-width: 400px;
  width: 100%;
  padding: 21px 0px 5px 160px;
  left: 50%;
  transform: translateX(-50%);
  color: #4E5454;
  box-shadow: 0px 20px 65px;
  height: 170px;
  z-index: 1;
}

.downloadApp h5 {
  font-weight: 300;
  font-size: 22px;
  line-height: 24px;
}

.downloadApp p {
  line-height: 20px;
  margin-bottom: 15px;
  max-width: 168px;
}

.downloadApp .close {
  opacity: 1;
  position: absolute;
  right: 13px;
}

@media (max-height: 640px) {
  #register-modal .modal-dialog {
    overflow-y: scroll;
  }
}


#register-modal.modal.in {
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 640px) {



  .modal-sm .forgot-password {
    margin-bottom: 5px;
  }

  #completed .reachSupport,
  #completed #reachSupport:hover {
    margin-top: 60px;
  }

  .hidden-vxs {
    display: none !important;
  }

  .visible-vxs {
    display: inline-block !important;
  }

  #completed #link-later,
  #completed #link-later:hover {
    margin-top: 30px;
  }

  #signup-form .checkbox label {
    font-size: 13px;
  }


  #contact-map {
    background-image: url(/static/website/images/blowhorn_map.png);
    background-attachment: initial;
    background-size: contain;
    padding-top: 0;
    height: 450px !important;
  }

  .copyrightdiv {
    padding-top: 15px !important;
  }

  h1 {
    font-size: 36px;
    margin-bottom: 0px;
  }

  #intro h2 {
    font-size: 16px;
    width: 200px;
    line-height: 22px;
    margin-bottom: 0px;
    margin-top: 20px;
  }

  #booking .intro-form-fixer,
  #booking .selectCity,
  #booking .selectCity:hover,
  #booking .open .selectCity,
  #booking .open .selectCity:hover,
  #booking .selectCity:focus {
    height: 44px;
  }

  #booking .citiesList {
    top: 42px;
  }

  .no-account {
    padding-top: 15px;
  }

  #booking .citiesList li a {
    padding: 8px 16px;
  }


  #book {
    height: 56px;
    min-width: 100%;
    margin-bottom: 26px;
  }

  #booking {
    margin-bottom: 0px;
  }

  .btn-scroll {
    display: none;
  }



  footer ul {
    margin-bottom: 25px !important;
  }

}

.modal-sm .modal-header .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/*Contact Section*/
#contact {
  padding: 38px 0 56px;
  background-color: #f9f9f9
}

#contact h3 {
  color: #253545;
  margin-bottom: 10px
}

#contact h4 {
  font-size: 1.643em;
  margin-bottom: 1px
}

#contact .triplets {
  margin-top: 0
}

#contact .triplets p {
  margin: 0;
  font-size: 1.643em;
  line-height: 1.25
}

#contact .triplets a {
  color: #253545
}

#subscribe {
  border: 2px solid #253545;
  background-color: #fff;
  color: #02bfe0;
  margin: 12px 0 18px;
  padding: 0 15px;
  height: 50px;
  font-size: 1.929em;
  float: left;
  max-width: 296px;
  width: 78%;
  width: calc(100% - 60px);
}

#subscribe+.btn-tick {
  margin-top: 12px;
  height: 50px;
  background-position: -60px 17px;
  width: 56px;
  margin-left: 3px;
}

/* for tick button on mailing list subscription */
.subscribetick {
  height: 38px;
  width: 50px;
  float: left;
  margin: 12px 0 18px;
  padding: 0 15px;
  height: 50px;
  background: #f64656 url(/static/website/images/selected.png) no-repeat -62px 16px
}

.disabled .subscribetick {
  background-color: #999;
  background-position: -62px 16px
}

.glyphicon-heart {
  left: -1px;
  top: 4px
}

.contact-social-links ul {
  margin: 0px 0 0px;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  margin-right: 0%;
  border: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-social-links li {
  float: left;
  margin-right: 15px;
}

.contact-social-links li:first-child {
  margin-left: 0;
}


.contact-social-links li a,
.contact-social-links li a:hover,
.contact-social-links li a:focus {
  opacity: 1;
  display: block;
  border-radius: 100%;
  width: 28px;
  color: #fff;
  height: 28px;
  line-height: 28px;
  text-align: center;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.contact-social-links li a {
  opacity: .6;
}

.contact-social-links li a:hover,
.contact-social-links li a:focus {}

.contact-social-links li .icon {
  position: relative;
  top: 2px;
  left: 1px;
}

.contact-social-links li .icon.fa-instagram {
  top: 1px;
}


/*Footer*/
footer {
  font-family: 'Heebo';
  padding: 28px 0;
  font-size: 12px;
  line-height: 16px;
  background-color: #383434;
  color: rgb(206, 207, 207);
}

footer a,
footer nav a:hover,
footer nav a:focus {
  text-decoration: none;
  color: rgb(206, 207, 207);
}

footer a:hover,
footer a:focus,
footer nav a {
  text-decoration: none;
  color: #fff;
}

footer nav {
  float: right
}

footer nav a {
  margin-left: 48px
}

footer nav ul,
footer nav li:first-child a {
  margin: 0
}

#mailing-list {}

.blogabout {
  float: right;
}

/*Booking App*/
.modal {
  background: rgba(0, 0, 0, .8)
}

.modal-content {
  border-radius: 0;
  font-family: 'Heebo';
  font-weight: 100;
}

#getApp-modal .modal-content,
#contact-modal .modal-content {
  font-weight: 400;
  color: #757E7F;
  padding-bottom: 15px;
  background: #fff;
}

.acc-header {
  padding: 7px 15px;
  background-color: #f2f2f2;
  color: #1a1a1a;
  clear: both;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2)
}

.acc-header.active,
.acc-header.done.active {
  background-color: #02bfe0;
  color: #fff;
  -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, .3)
}

.acc-header.done {
  background-color: #f9f9f9;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px dashed #128dd2
}

.acc-header.done:first-child {
  border-top: none
}

.acc-header h4 {
  display: inline-block;
  font-size: 1.357em
}

.acc-header strong {
  font-size: 1.357em;
  color: #b3b3b3;
  border-radius: 50%;
  height: 38px;
  line-height: 38px;
  width: 38px;
  text-align: center;
  float: left;
  margin: 0 12px 0 8px;
  background: #e6e6e6 url(/static/website/images/selected.png) no-repeat -100px 0
}

.acc-header.active strong,
.acc-header.done.active strong {
  background-color: #128dd2;
  color: #fff;
  background-image: none;
  border-radius: 50%;
  height: 38px;
  line-height: 38px;
  width: 38px;
  text-align: center;
  margin: 0 12px 0 8px;
  padding-right: 0
}

.acc-header.done strong {
  background: url(/static/website/images/selected.png) no-repeat;
  color: #fff;
  border-radius: 0;
  width: 58px;
  height: 52px;
  margin: 0 -6px 0 -29px;
  text-align: right;
  padding-right: 16px
}

.acc-header .done-visible p {
  color: #666;
  font-size: 1.071em;
  line-height: 19px
}

.acc-header.done .done-hidden,
.done-visible,
.active-visible,
.acc-header.done.active .done-visible,
.showSelections .done-hidden,
.showSelections .active-visible {
  display: none
}

.acc-header.done .done-visible,
.acc-header.active .active-visible,
.acc-header.done.active .done-hidden,
.showSelections .done-visible {
  display: block
}

.acc-header.done.active h4.done-hidden {
  display: inline-block
}

.acc-header h5 {
  color: #02bfe0
}

.acc-content {
  background-color: #fff;
  float: left;
  clear: both;
  width: 100%;
  display: none
}

.acc-content label {
  font-weight: normal;
  font-size: 1.143em
}

.modal-form-fixer {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  color: #303232;
  height: 29px;
  margin-bottom: 4px;
  padding: 6px 8px;
}

textarea.modal-form-fixer {
  height: 62px
}

#pickup-address,
#drop-address {
  padding-top: 21px
}

#pickup-address .glyphicon-map-marker {
  color: #f64656
}

#drop-address .glyphicon-map-marker {
  color: #00bc9e
}

#map-container {
  /* background:url(/static/website/images/bg-map.jpg); */
  height: 476px;
  position: relative;
  -webkit-box-shadow: inset 3px 0 3px rgba(0, 0, 0, .2);
  box-shadow: inset 3px 0 3px rgba(0, 0, 0, .2);
}

#map-container h5 {
  margin-top: 12px
}

/*Range Slider*/
#slider-container {
  position: relative;
  margin: -94px -4px 0;
  bottom: -100%
}

#slider-container>div {
  background-color: #fff;
  padding-bottom: 6px
}

#slider-container .slider-main {
  width: 73%;
  margin-right: 1%
}

#slider-container .slider-sub {
  width: 26%
}

.slider-wrap+.charge-info {
  margin-left: -9px;
  padding: 0;
  text-align: center
}

.slider-wrap {
  margin-top: 6px
}

.slider-wrap ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px
}

.slider-wrap ul li {
  float: left;
  color: #999;
  width: 25%;
  text-align: center
}

.slider-wrap ul li:first-child {
  color: #ccc;
  width: 12.5%;
  text-align: left
}

.slider-wrap ul li:last-child,
.slider-wrap ul li.last-child {
  width: auto;
  width: 12.5%;
  text-align: right
}

.range-bar {
  background-color: #e6e6e6;
  border-radius: 15px;
  display: block;
  height: 9px;
  position: relative;
  width: 100%
}

.range-quantity {
  background-color: #02bfe0;
  border-radius: 15px 0 0 15px;
  display: block;
  height: 100%;
  width: 0
}

.range-handle {
  background-color: #ed2037;
  border-radius: 100%;
  cursor: pointer;
  height: 18px;
  left: 0;
  top: -5px;
  position: absolute;
  width: 18px;
  border: 2px solid #f64656
}

.range-min,
.range-max {
  color: #181819;
  font-size: 12px;
  height: 20px;
  padding-top: 4px;
  position: absolute;
  text-align: center;
  top: -9px;
  width: 24px
}

.range-min {
  left: -30px
}

.range-max {
  right: -30px
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.range-disabled {
  cursor: default
}

.charge-info p {
  font-size: 1.214em;
  margin: -1px 0 -2px
}

.charge-info em {
  font-style: normal;
  color: #f64656;
  font-size: 0.786em
}

/*Booking App - When Section*/
.timeframe-radios .radio-inline {
  margin-left: 88px
}

.timeframe-radios .radio-inline:first-child {
  margin-left: 24px
}

.timeframe-radios {
  background-color: #f9f9f9;
  margin-top: 15px;
  margin-bottom: 22px;
  padding: 15px 0
}

.timeframes h2 {
  color: #253545;
  font-family: 'Heebo';
  font-size: 2.429em;
  line-height: 1.22
}

.timeframes>div,
.schedule-date br,
.datebox .weekday,
.calendarActive .datebox,
.calendarbox,
#datepicker {
  display: none
}

.timeframes .active,
.calendarActive .calendarbox {
  display: block
}

.timeframes h4 {
  font-size: 1.429em;
  margin: 4px 0 14px;
  color: #253545
}

.timeframe-default h2 {
  color: #e6e6e6
}

.timeframe-now span {
  text-transform: uppercase
}

.timeframe-now strong {
  font-weight: normal;
  color: #f64656
}

.datebox {
  background-color: #f9f9f9;
  height: 152px;
  display: table;
  table-layout: fixed
}

.datebox h2 {
  color: #1a1a1a;
  display: table-cell;
  vertical-align: middle
}

.timebox .table>tbody>tr>td {
  padding: 3px;
  height: 50px;
  background-color: #f9f9f9;
  color: #1a1a1a;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  width: 20%;
  font-size: 1.143em;
  cursor: pointer;
  border: 2px solid #fff
}

.timebox .table>tbody>tr>td.selected {
  background-color: #128dd2;
  color: #fff
}

.timebox .table>tbody>tr>td.disabled,
.timebox .table>tbody>tr.disabled>td {
  color: #ccc;
  cursor: default
}

.timebox #table-day .table>tbody>tr>td {
  background-color: #fff;
  color: #253545;
  text-transform: capitalize;
  text-align: left;
  cursor: default;
  border: 2px solid #f9f9f9
}

.timebox #table-day.error-placeholder .table>tbody>tr>td {
  color: #f64656
}

.timebox .table>tbody>tr>td::selection {
  background: none
}

.timebox .table>tbody>tr>td::-moz-selection {
  background: none
}

#table-day {
  width: 22%;
  float: left;
  margin-right: -2px
}

#table-time {
  width: 78%;
  float: left
}

.calendarActive h4 {
  margin-left: 35.33%
}

#calendar {
  margin: -40px 0 0 -15px
}

/*Booking App - What Section*/
#item-count {
  margin-top: 22px;
  color: #1a1a1a
}

.items-cart {
  margin-top: 32px;
  position: relative;
  padding-bottom: 5px
}

.items-cart .row {
  max-height: 128px;
  overflow: auto
}

.items-cart .modal-form-fixer {
  border: 1px solid #ccc;
  height: 36px;
  float: left;
  padding-right: 32px;
  margin: 0
}

.items-wrapper .row {
  margin: 10px 0 0;
}

.items-wrapper .row:first-child {
  margin-top: 0
}

.items-wrapper .glyphicon-remove {
  float: left;
  margin-left: -34px;
  padding: 10px;
  color: #ccc;
  cursor: pointer;
}

.items-wrapper .glyphicon-remove:hover,
.items-wrapper .glyphicon-remove:focus {
  color: #1a1a1a
}

.btn-addmore {
  color: #1a1a1a;
  float: left;
  position: absolute;
  left: 108%;
  bottom: 4px;
  white-space: nowrap;
  text-decoration: underline;
  padding-bottom: 8px
}

.btn-addmore.disabled,
.btn-addmore.disabled:hover,
.btn-addmore.disabled:focus {
  color: #808080;
  background: none
}

.btn-addmore.disabled .glyph-plus {
  border-color: #808080
}

.glyph-plus {
  border: 1px solid #1a1a1a;
  border-radius: 100%;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 5px;
  text-align: center;
  width: 28px;
  text-decoration: underline;
  font-size: 2em;
  text-decoration: none;
  position: relative;
  top: 5px
}

.btn-addmore:hover,
.btn-addmore:focus {
  text-decoration: none;
  color: #1a1a1a
}

.driver-help {
  margin-bottom: 8px;
  color: #1a1a1a
}

.driver-help h4,
#item-count h4 {
  line-height: 1.4;
  font-size: 1.143em
}

.driver-radio .radio-inline {
  vertical-align: top;
  font-size: 1.071em;
  line-height: 1.3;
  margin-left: 26px
}

.driver-radio .radio-inline:first-child {
  margin-left: 0
}

.driver-radio .radio-inline strong {
  font-weight: normal;
  color: #f65646
}

.truck-wrap {
  margin-top: 58px
}

/*Booking App - Confirmation Section*/
.coupon-box,
.mobile-box p,
.otp-box p {
  margin-top: 14px;
  font-size: 1.071em;
  line-height: 1.3;
  color: #1a1a1a
}

.coupon-box {
  margin-top: 38px;
}

.coupon-box #coupon-code,
.mobile-box #mobile,
.otp-box #otp {
  height: 38px;
  width: 240px;
  float: left;
  border: 1px solid #253545;
  font-family: 'Heebo'
}

.coupon-box #coupon-code:focus,
.coupon-box #coupon-code:hover,
.mobile-box #mobile:focus,
.mobile-box #mobile:hover,
.otp-box #otp:focus,
.otp-box #otp:hover {
  border-color: #128DD2
}

#coupon-code {
  padding-left: 34px
}

#coupon-code+.icon-gift {
  position: absolute;
  top: 6px;
  left: 9px;
  font-size: 22px;
  color: #03C0E1
}

#coupon-code[disabled]+.icon-gift {
  color: #ccc;
}

#coupon-spinner,
#coupon-message {
  margin-left: -34px
}

#coupon-spinner .timer-text {
  margin-top: 8px
}

#coupon-message,
#coupon-error {
  font-family: 'Heebo';
  color: #03C0E1;
  display: none;
}

#coupon-message strong,
#coupon-error strong {
  font-weight: normal;
  color: #F64656
}

#coupon.applied #btn-coupon {
  display: none;
}

#coupon.applied #coupon-message {
  margin-left: -140px;
}

#coupon.applied #coupon-code {
  border-color: #ccc
}

#coupon.applied #coupon-clear {
  display: block;
}

#coupon-clear {
  position: absolute;
  color: #808080;
  left: 204px;
  top: 2px;
  font-size: 28px;
  cursor: pointer;
  padding: 3px 3px 0;
  line-height: 1;
  display: none;
}

.otp-box #otp {
  width: 60%
}

.coupon-box.disabled,
.mobile-box.disabled #mobile {
  border-color: #808080
}

/* .btn-tick{height:38px;width:inherit;float:left;background:#f64656;color:#fff;line-height:37px;font-size:1.286em;padding: 0 5px 0 5px } */
.btn-tick {
  height: 38px;
  width: 50px;
  float: left;
  background: #f64656 url(/static/website/images/selected.png) no-repeat -62px 11px;
  text-transform: uppercase;
  font-family: 'avenir_black';
  text-align: center;
  line-height: 38px;
  color: #fff
}

.section-confirm {
  margin: 28px 0 52px;
  padding: 0 42px
}

a.disabled {
  background-color: #b3b3b3;
  color: #808080
}

.disabled .btn-tick {
  background-color: #999;
  background-position: -62px 11px
}

.timer {
  height: 38px;
  width: 38px;
  float: left;
  margin: 0 8px 0 -10px
}

.timer-text {
  float: left;
  color: #bebebe;
  line-height: 1.2;
  font-size: 0.929em
}

.timer-text strong {
  color: #02bfe0;
  font-weight: normal;
  font-size: 1.286em
}

.mobile-num.highlight {
  color: #f64656;
  font-weight: normal
}

.highlight {
  color: #f64656;
  font-size: 1.071em
}

.timerbox,
.otp-box,
#otp-error,
.exit-head,
.exit-base {
  display: none
}

.otp-text {
  float: left;
  margin-right: 34px;
  color: #999
}

.otp-text a {
  color: #128dd2;
  text-decoration: underline
}

.otp-text a:focus,
.otp-text a:hover,
.btn-link:hover,
.btn-link:focus,
.forgot-password:hover,
.forgot-password:focus,
.btn-blue:hover,
.btn-blue:focus,
.contact-social-links a:hover,
.contact-social-links a:focus,
.icon-edit:hover,
.icon-edit:focus {
  text-decoration: none
}

.otp-options {
  margin-left: -28px
}

#otp-spinner {
  padding-left: 0;
}

#otp-msg .mobile-num {
  color: #f64656;
  font-weight: normal;
  font-family: 'Heebo'
}

#pickup-confirmation .btn-tick {
  background-image: none;
  margin-left: 3px;
  width: auto;
  padding: 0 12px;
  min-width: 90px
}

#pickup-confirmation input[disabled],
#pickup-confirmation input[disabled]:hover,
#pickup-confirmation input[disabled]:focus {
  border-color: #ccc
}

#completed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* display: none; */
  color: #fff;
}

.exit-top-wrap {
  background-color: #02bfe0;
  color: #fff;
  font-family: 'Heebo';
  margin: 0;
  padding: 6px 0 30px
}

.exit-top-wrap h1 {
  font-size: 6.714em;
  margin: 18px 0 -4px
}

.exit-top-wrap h2 {
  font-size: 2.143em;
  margin: 0
}

.exit-img {
  margin-top: 24px
}

#exit-wait .exit-img {
  margin-bottom: 80px;
}

#exit-fail .exit-img {
  display: block;
  font-size: 8em;
  margin: -10px 0 -36px
}

#exit-done .exit-img.icon {
  display: block;
  font-size: 8em;
  line-height: 68px;
  margin: 8px 0 -8px
}

#exitmsg-tryagain {
  padding-bottom: 30px
}

#exitmsg-thanks {
  padding-bottom: 32px
}

#exitmsg-thanks h3 {
  margin-top: 46px
}

.signup-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.exit-bottom-wrap {
  background-color: #fff;
  margin: 0;
  padding: 12px 0 26px;
  text-align: center
}

.exit-bottom-wrap h3,
.exit-bottom-wrap h4 {
  font-size: 2em;
  line-height: 1.2;
  margin-top: 15px
}

.exit-bottom-wrap h3 strong {
  font-weight: normal;
  color: #f64656
}

.exit-bottom-wrap h4 {
  font-size: 1.8em;
  color: #273747
}

.exit-bottom-wrap #signup {
  height: 50px;
  width: 60%;
  float: left;
  border: 1px solid #f64656;
  font-size: 1.429em
}

.exit-bottom-wrap .btn-signup {
  height: 50px;
  width: 40%;
  float: left;
  background: #f64656;
  margin: 0;
  line-height: 51px
}

.exit-bottom-wrap .btn-primary {
  display: inline-block;
  float: none;
  margin-bottom: 14px;
  min-width: 160px
}

.btn-link {
  font-size: 1.286em;
  color: #253545;
  text-decoration: underline
}

.btn-link:hover,
.btn-link:focus {
  color: #253545;
  text-decoration: none
}

/*Form*/
input[type=text].error,
input[type=password].error,
input[type=tel].error,
textarea.error {
  border: 1px solid #f64656 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(246, 70, 86, .4);
  box-shadow: inset 0 1px 1px rgba(246, 70, 86, .4);
}

input[type=radio].error,
#mobile-num input.error {
  border: 1px solid #f64656
}

.radio-error label,
.error-placeholder,
#otp-error {
  color: #f64656
}

.error-placeholder ::-webkit-input-placeholder {
  color: #f64656
}

.error-placeholder :-moz-placeholder {
  color: #f64656
}

.error-placeholder ::-moz-placeholder {
  color: #f64656
}

.error-placeholder :-ms-input-placeholder {
  color: #f64656
}

/* #timeframe-radios[novalidate] label{color:#f64656} */

/*Calendar*/
.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important
}

.Zebra_DatePicker {
  width: 86%
}

.Zebra_DatePicker * {
  margin: 0;
  padding: 0;
  color: #666;
  background: transparent;
  border: none
}

.Zebra_DatePicker table {
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  table-layout: auto;
}

.Zebra_DatePicker td,
.Zebra_DatePicker th {
  text-align: center;
  padding: 5px 0
}

.Zebra_DatePicker td {
  cursor: pointer
}

.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker {
  margin-top: 3px;
  width: 100% !important
}

.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td {
  width: 30px
}

.Zebra_DatePicker .dp_daypicker td {
  background-color: #f2f2f2;
  border: 2px solid #fff
}

.Zebra_DatePicker .dp_header {
  width: 100% !important;
  color: #253545;
  font-size: 1.429em;
  font-weight: normal;
  height: 30px
}

.Zebra_DatePicker td::selection {
  background: none
}

.Zebra_DatePicker td::-moz-selection {
  background: none
}

.Zebra_DatePicker.dp_visible {
  visibility: visible;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition: opacity 0.2s ease-in-out
}

.Zebra_DatePicker.dp_hidden {
  visibility: hidden;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0
}

.Zebra_DatePicker .dp_header td {
  padding: 0
}

.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next {
  width: 30px;
  background-color: #f2f2f2
}

.Zebra_DatePicker .dp_header .dp_hover {
  background: #DEDEDE;
  color: #373737
}

.Zebra_DatePicker .dp_daypicker th {
  color: #ccc;
  font-weight: normal
}

.Zebra_DatePicker td.dp_not_in_month {
  color: #DEDEDE;
  cursor: default;
  background: none
}

.Zebra_DatePicker td.dp_weekend_disabled {
  color: #DEDEDE;
  cursor: default
}

.Zebra_DatePicker td.dp_selected {
  background: #128dd2;
  color: #fff !important
}

.Zebra_DatePicker td.dp_week_number {
  cursor: text;
  font-weight: bold
}

.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td {
  width: 33%
}

.Zebra_DatePicker td.dp_current {
  color: #128dd2
}

/*Nikhil disabling showing todays date in different color as it could confuse as selected date*/
/*.Zebra_DatePicker td.dp_disabled_current{ color: #3A87AD }*/
.Zebra_DatePicker td.dp_disabled {
  color: #ccc;
  cursor: default
}

.Zebra_DatePicker td.dp_hover {
  background: #DEDEDE
}

/*Calendar Ends*/


#password-recover .modal-title,
#getApp-modal .modal-header img,
#getApp-modal .modal-title,
#contact-modal .modal-header img,
#contact-modal .modal-title {
  display: inline-block;
  vertical-align: middle;
  color: #000;
}

#getApp-modal .modal-header img,
#contact-modal .modal-header img {
  margin-right: 10px;
}

#getApp-modal .modal-header,
#contact-modal .modal-header {
  border-color: #fff;
  padding: 30px 15px 30px 30px;
}

#contact-modal .modal-content form {
  position: relative;
}

#getApp-modal hr,
#contact-modal hr {
  border: 0px;
  margin-bottom: 70px;
}

#getApp-modal h6,
#contact-modal h6 {
  color: #303232;
  font-family: Heebo;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

#contact-modal .btn-blue,
#contact-modal .btn-blue:active,
#getApp-modal .btn-blue,
#getApp-modal .btn-blue:active {
  margin: 0 0 0px 0;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 3px;
  box-shadow: 0 0 0;
  height: 48px;
  color: #fff;
}

#contact-modal .btn-blue:hover,
#getApp-modal .btn-blue:hover {
  background-color: #00B1DA;
}

#getApp-modal .btn-blue,
#getApp-modal .btn-blue:hover,
#getApp-modal .btn-blue:active {
  font-size: 14px;
  width: 80px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  opacity: 1;
  background-color: #C9D2D6;
  color: #929A9B;
}

@media (max-width: 767px) {

  /*xs*/
  .blowhorn_logo {
    width: 120px;
  }

  .trackinput {
    width: 180px !important;
  }


  .list-inline-xs li {
    display: inline-block;
    margin-right: 20px;
  }

  .footer-contact-list li {
    display: block;
  }

  .section-img {}

  body {
    font-size: 12px
  }

  footer nav {
    float: none;
  }

  #intro nav {
    margin-top: 0px;
    position: fixed;
    left: 0;
    right: 30px;
    top: 0;
    padding: 0;
    z-index: 1;
    max-width: 300px;
    bottom: 0px;
    box-shadow: 0 0 60px #000;
    display: none;
    left: -300px;
  }

  #intro nav ul {

    height: 100%;

    background: #141515;

    margin: 0;

    padding-left: 22px;

    padding-top: 10px;

    box-shadow: 0px 0px 60px #000;
  }

  span.toggle-menu {
    width: 24px;
    line-height: 7px;
    float: left;
    margin-right: 15px;
    margin-top: 2px;
  }

  span.toggle-menu .icon-bar {
    display: inline-block;
    width: 24px;
    height: 2px;
    background-color: #fff;
  }

  #intro nav.on {
    display: block !important;
    animation: drawerEffect .5s;
    left: 0;
  }


  #intro nav .translucent {
    position: fixed;
    background: rgba(000, 000, 000, 0.7);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  #intro nav.on .translucent {
    opacity: 1;

  }


  .mobile-profile {
    background: #252728;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
  }

  .mobile-profile #user-pic {
    margin-right: 15px;
    width: 48px;
    vertical-align: middle;
  }

  .mobile-profile #btn-profile {
    display: inline-block;
    border: 1px solid #979797;
    font-size: 12px;
    color: #fff;
    padding: 4px 5px 3px 5px;
    line-height: 12px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
  }

  @-webkit-keyframes drawerEffect {
    from {
      left: -300px;
    }

    to {
      left: 0px;
    }
  }

  @keyframes drawerEffect {
    from {
      left: -300px;
    }

    to {
      left: 0px;
    }
  }

  #intro nav li {
    margin-left: 0;
  }

  #intro nav li a {
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    display: inline-block;
  }

  #booking .col-sm-6 {
    margin-bottom: 14px
  }

  #booking header {
    margin-bottom: 10px
  }

  #booking .btn-submit {
    margin-top: 0px;
  }

  #subscribe {
    width: 78%;
    width: calc(100% - 60px);
  }

  #contact {
    padding: 12px 0 0
  }

  #contact h3 {
    font-size: 1.714em
  }

  #feedback {
    padding-top: 0
  }

  #intro .container>header {
    padding: 40px 0 28px;
  }

  .container header {
    padding: 30px 0px 6px 0px;
  }

  .mainheader {
    font-size: 10px;
    margin-bottom: 25px;
  }

  .feedback-wrap {
    padding: 22px;
    margin-top: 38px
  }

  .feedback-container .carousel-indicators {
    bottom: -64px
  }

  .feedback-wrap {
    font-size: 1em;
    margin: 0 0 20px;
    padding: 10px
  }

  .section {
    padding: 20px 0 10px
  }

  .contact-social-links ul {
    margin-top: 0;
  }

  .arrow-top:after {
    left: 92.5%
  }

  /*Registraion / Login*/
  .modal-sm {
    width: auto;
  }

  .modal-sm .modal-content {
    background-color: #fff
  }

  .modal-sm .modal-body {
    padding: 15px 20px;
  }

  .modal-sm .btn-blue {
    width: 100%
  }

  .modal-btn-wrap {
    padding: 0
  }

  .modal-sm .social-unwrap {
    margin-left: 0;
    margin-right: 0;
  }

  .social-links {
    padding: 20px 0 0
  }


  /*Mobile App*/
  #acc-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #02bfe0;
    color: #fff;
    overflow: hidden
  }

  #acc-menu li {
    float: left;
    border-left: 1px solid #02b6d8
  }

  #acc-menu li:first-child {
    border-left: none
  }

  #acc-menu li a {
    padding: 5px 0;
    float: left;
    outline: none
  }

  #acc-menu li.active span {
    padding-right: 8px
  }

  #acc-menu li span {
    float: left;
    font-size: 1.167em;
    margin: 3px 0;
  }

  #acc-menu li:first-child span,
  #acc-menu li.active span,
  #acc-menu li.active.done span {
    display: inline;
    color: #fff
  }

  #acc-menu li span,
  #acc-menu li.done span,
  .acc-header,
  .acc-header strong {
    display: none;
  }

  #acc-menu li strong {
    text-align: center;
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.167em;
    float: left;
    color: #a6e8f4;
    padding-right: 1px;
    margin: 0 2px
  }

  #acc-menu li.active strong {
    background: #128dd2;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    margin: 0 5px 0 10px;
    height: 26px;
    width: 26px;
    line-height: 26px;
    font-size: 1.167em;
    float: left
  }

  #acc-menu li.done strong {
    color: #fff
  }

  #calendar {
    margin: 0;
  }

  #timeframe-radios .timeframe-radios .radio-inline {
    clear: both;
    float: left;
    width: 100%;
    margin-left: 24px;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 35px;
    margin-left: 0
  }

  #booking-modal {
    height: 94%;
    height: calc(100% - 36px);
    background-color: #fff
  }

  #slider-container {
    bottom: -25px;
    margin: -94px -15px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px -1px 3px 0px rgba(170, 170, 170, 1);
    box-shadow: 0px -1px 3px 0px rgba(170, 170, 170, 1);
    color: #1a1a1a;
  }

  #slider-container .slider-sub {
    padding: 0 3px
  }

  #slider-container .charge-info {
    line-height: 1.5;
  }

  #slider-container .slider-wrap+.charge-info {
    margin-top: -16px;
    margin-left: -2px;
    font-weight: normal;
  }

  #slider-container .slider-wrap+.charge-info em {
    display: block;
    font-size: 1em;
    margin-top: 8px;
  }

  #slider-container .charge-info .proxima-nova-light {
    display: block;
    font-size: 10px;
    font-weight: bold;
  }

  #slider-container h5 {
    font-size: 1em;
    margin: 6px 0;
  }

  #slider-container .slider-main {
    padding-left: 6px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
    box-shadow: 0px 1px 3px 0px rgba(170, 170, 170, 1);
  }

  #pickup-confirmation {
    margin-top: 1px;
    border-top: 1px solid #f2f2f2;
    height: auto
  }

  .acc-header {
    padding: 0 15px
  }

  .acc-header h5 {
    font-size: 1.250em;
    margin-bottom: 6px;
  }

  .acc-header .icon-edit {
    color: #fff;
    background-color: #f64656;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 36px;
    margin: 14px 0 10px -5px;
    text-align: center;
    width: 34px;
    border-radius: 100%
  }

  .acc-header .done-visible p {
    line-height: 16px;
    color: #231f20;
    margin-bottom: 6px;
  }

  .acc-header.done {
    background-color: #f2f2f2;
    color: #1a1a1a;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    border-top: none;
  }

  .acc-content>.row {
    background-color: #fff
  }

  .shadow-top {
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .2);
    float: left;
    width: 100%;
  }

  .slider-wrap ul {
    font-size: 10px
  }

  .charge-info p {
    line-height: 1;
  }

  .modal-dialog {
    margin: -1px
  }

  .range-bar {
    height: 5px
  }

  .range-handle {
    width: 13px;
    height: 13px;
    top: -4px;
  }

  .modal-content,
  .timeframe-radios,
  .datebox {
    background: none
  }

  .booking-modal-lg .modal-content,
  .booking-modal-lg .modal-dialog,
  .acc-content,
  #map-container,
  .mobile-map {
    height: 100%
  }

  .mobile-map-address {
    position: relative
  }

  .mobile-address {
    position: absolute;
    z-index: 1;
    display: none
  }

  .mobile-pop {
    background-color: #fff;
    margin-top: 11px;
    border-radius: 3px;
  }

  .items-cart .row {
    padding-right: 6px;
  }

  .items-cart .modal-form-fixer,
  .mobile-box #mobile,
  .otp-box #otp {
    font-size: 16px
  }

  .timeframe-radios {
    padding: 0;
    margin: 0 -30px;
  }

  .timebox {
    padding: 0;
    font-size: 0.917em
  }

  .timeframe-default {
    text-align: center;
  }

  .datebox {
    height: 60px
  }

  .datebox,
  .datebox h2 {
    text-align: center;
    display: block;
  }

  .datebox h2 br,
  .timeframe-now h2 br {
    display: none
  }

  .calendarActive h4 {
    margin-left: 15px;
    color: #f65646;
    text-transform: uppercase;
    font-family: 'avenir_black';
  }

  .Zebra_DatePicker {
    width: 100%
  }

  .btn-continue,
  .btn-change,
  .btn-confirm {
    display: inline-block;
    float: none
  }

  .showSelections .acc-header {
    display: block !important
  }

  .coupon-box #coupon-code,
  .mobile-box #mobile,
  .otp-box #otp {
    width: 62%;
    width: calc(100% - 94px)
  }

  /*Mobile map fixes*/
  .mobile-map-text {
    position: absolute;
    top: 1px;
    padding: 5px;
  }

  .mobile-map-text.has-feedback .form-control {
    padding: 6px 8px 6px 34px
  }

  .mobile-map-text .glyphicon {
    font-size: 1.286em
  }

  .mobile-map-text .glyphicon-search {
    left: 5px;
    top: 7px;
    color: #ccc
  }

  .mobile-map-text .glyphicon-align-justify {
    top: 6px;
    right: 10px;
    font-size: 20px
  }

  .btn-addmore {
    position: static;
    margin: 10px -14px;
  }

  .otp-options {
    float: left;
    margin-left: -15px;
    margin-top: 10px
  }

  .timerbox {
    margin-left: -25px;
    float: left;
    margin-top: 10px;
  }

  .map-container {
    top: 30% !important;
  }

  #driver-radio label {
    display: block;
    margin: 10px 0 0 0;
  }

  #driver-radio label:first-child {
    margin-top: 0;
  }

  #xs-location {
    height: 56px;
    font-size: 16px
  }

  #otp-spinner {
    margin-left: 10px;
  }

  #coupon-spinner {
    margin-left: -4px;
  }

  #coupon-error {
    padding-left: 0;
  }

  #coupon.applied #coupon-message {
    margin-left: -16px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /*sm*/

  footer nav a {
    margin-left: 28px
  }

  .modal-dialog {
    width: 90%
  }

  nav li {
    margin-left: 35px !important;
  }

  .link-div {
    margin-top: 0px !important;
  }

  .or {
    margin-left: 50%;
    font-size: 12px;
    top: 43%;
  }

  .playstore-logo {
    margin-right: -4px;
    margin-top: 2px;
    width: 114px
  }

  .inline-logo {
    display: -webkit-inline-box;
    margin-left: -91px;
  }

  .blowhorn_logo {
    margin-top: -15px;
  }

  .offer-div {}

  .discount-div {
    height: 115px;
    margin-left: 15%;
    width: 92px
  }

  .off-value {
    font-size: 14px
  }

  .off-text {
    font-size: 12px
  }

  footer nav ul {
    text-align: right;
  }

  .copyrightdiv {}

  #toggle-menu {
    display: block;
  }

  .contact_block {
    margin-right: 8%;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    top: 51px;
    float: right;
    width: 48%;
  }

  .contactright {
    float: none;
  }

  .page-menu {
    margin-top: 34px;
  }

  #user-logged-in .pagemenu {
    display: inline;
  }

  .pagemenu {
    margin-left: 10px !important;
  }

  .pagemenu li.pagemenu {
    margin-left: 0px !important;
  }

  #intro nav ul {
    margin-top: 15px;
    font-size: 11px;
  }

  #intro nav ul ul {
    margin-top: 0px;
  }

  #user-not-logged-in ul li {
    display: inline-block;
    display: -moz-inline-stack;
    margin-left: 15px;
    position: relative;
  }

  #intro nav {
    margin-top: -5%;
  }

  .contact-social-links ul {}
}

@media (min-width: 320px) and (max-width: 375px) {
  .booking-track {}

  .inline-logo {
    margin-left: -59px !important;
  }

  .contact-social-links ul {}
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .discount-div {
    margin-left: 16% !important
  }

  .or {
    margin-left: 89% !important;
    top: 33% !important;
  }

  .playstore-logo {
    margin-top: 1% !important;
    margin-right: -166px !important;
  }

  .contact-social-links ul {}
}

@media (min-width: 992px) and (max-width: 1199px) {
  /*md*/
}

@media (min-width: 1367px) and (max-width: 2560px) {
  .contact-social-links ul {}
}

@media (min-width: 1440px) and (max-width: 2000px) {
  .contact-social-links ul {}
}

.dashboard header nav {
  margin-top: 15px
}

.dashboard header nav ul {
  float: right
}

.dashboard header nav li {
  margin-left: 44px
}

.dashboard header nav li:first-child {
  margin-left: 0
}

.dashboard header nav li a {
  color: #fff;
  font-size: 1.714em;
  line-height: 36px
}

.dashboard header nav li a:hover,
.dashboard nav li a:focus {
  text-decoration: none;
}

.dashboard header nav .open {
  position: relative;
}

.dashboard header nav .dropdown-menu {
  right: -6px;
  left: auto;
  top: 38px;
  padding: 0 3px;
  position: absolute;
}

.dashboard header nav .dropdown-menu li {
  float: left;
  clear: both;
  margin-left: 0;
  width: 100%;
}

.dashboard header nav .dropdown-menu li a {
  color: #253545;
  font-size: 1.143em;
  padding: 9px 12px 9px 16px;
  border-top: 2px solid #f64656;
  line-height: 20px;
}

.dashboard header nav .dropdown-menu li a:focus,
.dashboard nav .dropdown-menu li a:hover {
  outline: 0
}

.dashboard header nav .dropdown-menu li:first-child a {
  border-top: none;
}

.dashboard header nav .dropdown-menu li a span {
  position: relative;
  right: 6px;
  top: 3px
}


/*Dashboard CSS*/
#user-logged-in .menu_cus_dashboard {
  display: inline;
}

.dashboard header {
  background: #08495f;
  padding: 11px 0px;
}

.dashboard h1 {
  font-family: 'avenir_black';
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px dashed #B2C4C6;
  padding: 10px;
  letter-spacing: 3px;
  font-size: 1.286em;
}

.dashboard .btn-submit {
  min-width: 200px;
  padding: 0;
}

.no-booking {
  font-size: 1.286em;
  color: #02bfe0;
  text-align: center;
  margin-top: 40px;
  display: none;
}

.no-prbooking {
  font-size: 1.286em;
  color: #02bfe0;
  text-align: center;
  margin-top: 40px;
}

table.bookings {
  margin-top: 40px;
  font-size: 0.9em;
  margin-bottom: 0px;
  display: none;
}

table.bookings thead th {
  margin-top: 40px;
  color: #02bfe0;
  padding: 10px 15px 5px 15px;
  border-bottom: 1px dashed #B2C4C6;
  font-weight: normal;
}

table.bookings tbody td {
  border-top: 0px none;
  border-bottom: 1px dashed #CADBDD;
  padding: 10px 15px;
  cursor: pointer;
}

table.bookings tbody tr td span {
  white-space: nowrap;
}

table.bookings.table-hover>tbody>tr:hover {
  background-color: #d8f4f8;
}

.text-progress {
  color: #02bfe0;
}

table.bookings td img {
  position: relative;
  top: -2px;
}

.modal-booking-status .modal-content {
  border: 5px solid #02BFE0;
  overflow: hidden;
}

.modal-booking-status p.h1 {
  margin-bottom: 0;
  font-weight: bold;
}

.modal-booking-status p.h1 em {
  font-style: normal;
  font-weight: 300;
}

.modal-booking-status .col-left {
  border-right: 1px solid #F6F7FB;
  padding-bottom: 30px;
  min-height: 530px;
}

.modal-booking-status .col-right {
  border-left: 1px solid #F6F7FB;
  min-height: 530px;
}

.modal-booking-status .col-right .row.text-center {
  min-height: 70px;
}

.modal-booking-status .col-right strong {
  margin-top: 15px;
  margin-bottom: 5px;
}

.modal-booking-status .col-right h4 {
  margin: 0 0 15px 0;
  font-size: 1.4em;
}

.modal-booking-status hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 1px dashed #DDD;
}

.modal-booking-status .loc-from {
  border-left: 1px dashed #B3B3B3;
  padding-bottom: 30px;
  margin-top: 30px;
}

.modal-booking-status .loc-from,
.modal-booking-status .loc-to {
  position: relative;
  padding-left: 15px;
  margin-left: 5px;
}

.modal-booking-status .col-left strong {
  font-size: .9em;
  text-transform: none;
}

.modal-booking-status strong {
  font-size: .8em;
  display: block;
  text-transform: uppercase;
  color: #000;
  line-height: 1.2em;
}

.modal-booking-status .loc-from h4,
.modal-booking-status .loc-to h4 {
  margin: 0 0 5px 0;
}

.modal-booking-status .map-marker-from,
.modal-booking-status .map-marker-to {
  position: absolute;
  width: 12px;
  height: 16px;
  background: url(/static/website/images/map_markers-small.png) 0 0;
  left: -6px;
}

.modal-booking-status .map-marker-to {
  background: url(/static/website/images/map_markers-small.png) 0 -16px;
}

.modal-booking-status .booking-details {
  border-bottom: 1px dashed #DDD;
  height: 354px;
  margin-bottom: 15px;
}

.modal-booking-status .assigned-driver {
  padding-bottom: 15px;
}

.modal-booking-status .assigned-driver img {
  float: left;
  width: 40px;
  margin-right: 15px;
  height: 40px;
}

.modal-booking-status .booking-details>div {
  margin-bottom: 30px;
}

.modal-booking-status .current-status-details {
  background: #F1F1F1;
  padding: 1px 10px 10px 10px;
  margin-top: 15px;
  height: 430px;
  position: relative;
}

.modal-booking-status .current-status-details table {
  margin-bottom: 5px;
  margin-top: 5px;
}

.modal-booking-status .current-status-details table td {
  border: 0px;
  font-size: .85em;
  padding: 4px 0px;
}

.modal-booking-status .current-status-details table tr td:last-child {
  text-align: right;
}

.modal-booking-status .current-status-details table td b {
  color: #000;
}

.modal-booking-status .close {
  background-color: #A5A5A5;
  width: 24px;
  height: 24px;
  margin-top: 2px;
  border-radius: 100%;
  font-size: 1em;
  color: #FFF;
  filter: alpha(opacity=60);
  opacity: .6;
  text-shadow: 0 0;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 1;
}

#modal-booking-status-confirmed .h1,
#modal-booking-status-cancelled .h1 {
  color: #02BFE0;
  font-size: 1.6em;
  margin-bottom: 15px;
}

.confirmed,
.cancelled {
  color: #02BFE0;
  font-size: 1.6em;
  margin-bottom: 15px;
}

.cancelled {
  color: #f00;
}

#modal-booking-status-cancelled .h1 {
  color: #f00;
}

#modal-booking-status-cancelled .current-status,
#modal-booking-status-in-progress .current-status {
  color: #F00;
  font-size: .95em;
  font-weight: 700;
  line-height: 1.3em;
}

.text-danger {
  color: #F00;
}

.current-status {
  text-align: center;
  margin: 60px 30px 30px 30px;
  line-height: 1em;
  color: #999;
}

.current-status img {
  margin-bottom: 15px;
}

.current-status h4 {
  color: #F00;
}

.map-zoom-on,
.map-zoom-off {
  position: relative;
  margin: 0;
}

.map-zoom-on i,
.map-zoom-off i {
  position: absolute;
  width: 26px;
  height: 26px;
  background: url(/static/website/images/map_markers-small.png) -13px 0px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.map-zoom-off i {
  background: url(/static/website/images/map_markers-small.png) -39px 0px;
  z-index: 1;
}

.map-full {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFF;
}

.map-full .loc-from,
.map-full .loc-to {
  margin: 10px 10px 0 30px;
  border: 0px;
  min-height: 75px;
}

.map-container {
  position: absolute;
  top: 85px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.dataTables_paginate {
  text-align: right;
  margin-bottom: 40px;
}

#cp-item-moved,
#cancelled-item-moved,
#confirmed-item-moved,
#progress-item-moved {
  display: block;
  max-height: 115px;
  overflow-x: auto;
}

.pagination>li>a,
.pagination>li>span {
  color: #02BFE0;
}

.rating .glyphicon {
  font-size: 1.6em;
  color: #CCC;
  cursor: pointer;
}

.rating .text-danger {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 7px;
}

.custom-links {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: .9em;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}

.custom-links a {
  color: #02BFE0;
  display: inline-block;
  padding: 3px 0;
}

#modal-booking-status-completed .modal-dialog,
#modal-booking-status-cancelled .modal-dialog,
#modal-booking-status-confirmed .modal-dialog,
#modal-booking-status-in-progress .modal-dialog {
  background: #fff;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  border-color: #02BFE0;
  background: #02BFE0;
}

@media (max-width: 992px) {

  /*xs*/
  table.bookings thead th {
    padding: 10px 10px 5px 10px;
  }

  table.bookings tbody td {
    padding: 10px 10px;
  }


  #user-logged-in #track-bookingdiv {
    right: -100%;
  }

  #user-logged-in .booking-track:after {
    left: 45% !important;
  }

}

@media (min-width: 992px) {
  #content-inverse hr {
    margin: 160px 0px 0px 0px;
  }

  .triplets p,
  .triplets h3 {
    text-align: left;
  }

  .modal-sm input.btn-blue {
    max-width: 100% !important;
    min-width: 100% !important;
  }

  .section-img {
    float: left;
    margin-right: 15px;
    margin-bottom: 80px
  }
}

@media (min-width: 1200px) {

  .triplets p,
  .triplets h3 {
    padding-right: 60px;
  }
}

/*City & Pin in sigle line*/
#from-city,
#to-city {
  display: inline-block;
  width: 67.6%
}

#from-postal-code,
#to-postal-code {
  display: inline-block;
  width: 31%;
}

.js-rotating span {
  display: inline-block;
  width: 150px;
  text-align: left;
  white-space: nowrap;
}


/*About US css*/
.about .mainheader h2 {
  color: #02BFE0;
  font-family: 'avenir_black'
}

.about .mainheader p {
  max-width: 510px;
  margin: 0 auto;
  font-size: 18px
}

.thumbnail>img,
.thumbnail a>img {
  width: 100%
}

.thumbnail .caption {
  padding: 0
}

#office p {
  max-width: 575px;
  margin: 30px auto;
  font-weight: 300;
  font-size: 18px
}

#office {
  padding-bottom: 65px
}

#team .thumbnail {
  border: 0 none;
  font-size: 18px;
  padding: 0 15px
}

#team .thumbnail h3 {
  color: #f74757;
  font-family: 'avenir_black'
}

#team .thumbnail h4,
#team .thumbnail p {
  font-size: 120%;
}

#team .thumbnail h4 {
  color: #02BFE0;
}

#team .thumbnail p {
  min-height: 62px;
}

#team .thumbnail a,
#team .thumbnail a:hover {
  color: #02BFE0;
  font-weight: 600;
  text-decoration: none
}

#team .thumbnail a .icon {
  position: relative;
  top: 4px
}

.office-day {
  position: relative;
  margin: 0 15px;
}

.office-day .coffee,
.office-day .fun,
.office-day .calls,
.office-day .code {
  position: absolute;
  background-color: #03C0E0;
  color: #fff;
  text-align: center
}

.office-day .coffee {
  top: 0;
  right: 56%;
  left: 0;
  bottom: 68%
}

.office-day .fun {
  right: 0;
  left: 77%;
  bottom: 47%;
  top: 0
}

.office-day .calls {
  left: 44%;
  top: 32%;
  width: 18%;
  height: 41%
}

.office-day .code {
  bottom: 0;
  left: 13%;
  right: 56%;
  top: 73%
}

.office-day i {
  display: block
}

.office-day div h3,
.office-day div i {
  position: absolute;
  margin: 0
}

.office-day .coffee h3 {
  top: 60%;
  left: 0;
  right: 0
}

.office-day .coffee i {
  top: 25%;
  left: 41%;
  right: 41%
}

.office-day .fun h3 {
  top: 61%;
  left: 0;
  right: 0
}

.office-day .fun i {
  top: 32%;
  left: 22%;
  right: 26%
}

.office-day .calls h3 {
  top: 58%;
  left: 0;
  right: 0
}

.office-day .calls i {
  top: 19%;
  left: 25%;
  right: 25%
}

.office-day .code h3 {
  top: 58%;
  left: 0;
  right: 0
}

.office-day .code i {
  top: 17%;
  left: 39%;
  right: 39%
}

#intro nav li.active a {
  color: #f74757;
}

.about #intro {
  background: url(/static/website/images/bg-about-us.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  o-background-size: cover;
  background-size: cover;
}

@media (max-width: 995px) {
  .office-day h3 {
    font-size: 120%
  }
}

@media (max-width: 767px) {
  #team .thumbnail {
    padding: 0 5px
  }

  .office-day h3 {
    font-size: 90%
  }

  .office-day {
    margin: 0 -15px
  }
}

@media (max-width: 540px) {
  #team .thumbnail p {
    min-height: 93px;
  }
}

@media (max-width: 380px) {
  .col-xs-6 {}

  #team .thumbnail p {
    min-height: auto;
  }
}

#alert_message {
  margin: 60px 0px 40px 19px;
  font-size: 20px;
  color: red;
}

#float {
  position: relative;
  -webkit-animation: floatBubble 2s infinite normal ease-out;
  animation: floatBubble 2s infinite normal ease-out;
}


@-webkit-keyframes floatBubble {
  0% {
    top: 500px;
  }

  100% {
    top: 0px;
  }
}

@keyframes floatBubble {
  0% {
    left: 500px;
  }

  100% {
    left: 0px;
  }
}

.city_logo {
  width: 91px;
  text-align: center;
}

.city_img {
  width: 100px;
}

.city_tag {
  color: white;
  display: block;
}

.city_cont {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.cityimg {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .city_cont {
    margin: 0 5px 0 5px;
  }
}

.imgheader {
  padding-bottom: 30px;
}

#user-not-logged-in {
  color: white;
}

#user-not-logged-in .icon-arrow-down {
  position: relative;
  top: 8px;
  color: white;
  font-size: 30px;
  padding-left: 3px;
}

/* OFFER BAND*/
.discount-off-show {
  background: url(/static/website/images/banner_off.png);
  background-repeat: no-repeat;
  width: 100vw;
  margin-left: 40%;
  height: 36px;
  padding: 8px 0px 0px 15px;
}

.offer-div {
  /* /round: #1C2229; */
  /* vertical-; */
  position: absolute;
}

.discount-div {
  height: 100px;
  background: black;
  width: 160px;
  text-align: center;
  margin-right: 10px;
  margin-left: 40%;
}

.link-div {}

.off-value {
  font-size: 25px;
  color: white;
}

.off-text {
  color: #00b2db;
  font-size: 14px;
}

.coupon-label {
  margin: 2px;
  font-size: 10px;
  color: #00b2db;
}

.discount-coupon {
  border: 1px dotted #00b2db;
  color: white;
}

.or {
  position: absolute;
  margin-left: 65%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  top: 35%;
}

.playstore-logo {
  float: right;
  margin-top: 3px;
}

.booking-track {
  border: 1px solid #fff;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.5);
  margin-top: 0px;
}

.booking-track:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #000;
  border: 1px solid #fff;
  transform: rotate(45deg);
  z-index: 0;
  top: -3px;
  left: 30px;
}

.offer-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
}

.track-div {
  float: right;
  margin-right: 14%;
}

.contact_block {
  margin-right: 8%;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  top: 5px;
  float: right;
}

@media (max-width: 767px) {
  nav li {
    float: none;
  }

  .link-div {}

  .or {
    margin-left: 50%;
    font-size: 12px;
    top: 43%;
  }

  .playstore-logo {
    margin-right: -4px;
    margin-top: 2px;
    width: 114px
  }

  .inline-logo {
    display: -webkit-inline-box;
  }

  .blowhorn_logo {}

  .offer-div {}

  .discount-div {
    height: 105px;
    margin-left: 15%;
    width: 92px
  }

  .off-value {
    font-size: 14px
  }

  .off-text {
    font-size: 12px
  }

  .city_img {
    width: 75px;
  }
}

@media (max-width: 479px) and (min-width: 325px) {
  .inline-logo {
    margin-left: -35px !important;
  }
}

#toggle-menu {
  display: none;
}

@media only screen and (max-width: 767px) {
  footer nav ul {
    text-align: right;
  }

  .booking-track {}

  .copyrightdiv {}

  #toggle-menu {
    display: inline-block;
    margin-right: 15px;
    float: left;
    width: 28px;
  }

  .contact_block {
    float: none;
    margin: 0;
    top: 0;
    left: 0;
  }

  #contact-map {
    background: none;
    height: 480px !important;
  }

  .page {}

  .page h1 {
    margin: 0;
  }

  #toggle-menu {
    /* left: ;; 5px; */
    width: 28px;
  }

  .top-menu {
    display: none;
    position: fixed;
    top: 79px;
    padding: 15px;
    margin: 0;
    list-style: none;
    background: #000;
    z-index: 10;
    /* Make sure the z-index is lower than the #page */
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .top-menu a {
    display: block;
    color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .page {
    transform: translate3d(-10px, 0, 0);
    /* X, Y, Z */
    -webkit-transform: translate3d(-10px, 0, 0);
  }

  .animating .top-menu,
  .menu-visible .top-menu {
    display: block;
  }

  /***
     * If the animating class is present then apply
     * the CSS transition to #page over 250ms.
     */
  .animating .page {
    transition: transform 0.00000000001s ease-in-out;
    -webkit-transition: -webkit-transform 0.0000000001s ease-in-out;
  }

  /***
     * If the left class is present then transform
     * the #page element 240px to the left.
     */
  .animating.left .page {
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
  }

  /***
     * If the right class is present then transform
     * the #page element 240px to the right.
     */
  .animating.right .page {
    transform: translate3d(0px, 0, 0);
    -webkit-transform: translate3d(0px, 0, 0);
  }

  .animating .top-menu,
  .menu-visible .top-menu {
    display: block;
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out;
  }

  /***
     * If the left class is present then transform
     * the #page element 240px to the left.
     */
  .animating.left .top-menu {
    transform: translate3d(240px, 0, 0);
    -webkit-transform: translate3d(240px, 0, 0);
  }

  /***
     * If the right class is present then transform
     * the #page element 240px to the right.
     */
  .animating.right .top-menu {
    transform: translate3d(240px, 0, 0);
    -webkit-transform: translate3d(240px, 0, 0);
  }

  .menu-visible {
    right: 170px;
  }

  .page,
  .top-menu {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  .contactright {
    float: none;
  }

  .page-menu {
    margin-top: 34px;
  }

  #user-logged-in .pagemenu {
    display: inline;
  }

  .pagemenu {
    margin-left: 10px !important;
  }

  .pagemenu ul .pagemenu {
    margin-left: 0px !important;
  }

  #intro nav ul {
    margin-top: -1px;
    font-size: 11px;
  }

  #condition_text {
    display: none;
  }
}

.contacthead {
  text-transform: uppercase;
  font-weight: bold;
}

.mailus {
  font-size: 20px
}

#contact-map ul {
  padding: 0;
  border-bottom: 1px solid #02bfe0;
  overflow: hidden;
}

#contact-map li {
  display: inline-block;
}

.contactleft {
  display: inline-block;
  float: left;
}

.contactright {
  display: inline-block;
  float: right;
}

.btn-downloadapp {
  color: lightblue;
  margin-left: 7px;
  cursor: pointer;
  cursor: hand;
}

#condition_text {
  color: white;
  margin-left: 115px;
  margin-top: 3px;
  font-size: 11px;
}

.condition_div {
  text-align: left;
}

.discount-coupon {
  color: #f74757;
}

.discount-div-pos {
  margin-top: -10px !important;
}

.discount-div-col {
  background: #1C2229;
}

#discount-coupon {
  font-weight: bolder;
  letter-spacing: 2px;
}

.discount-off {
  display: none;
}

/*Offer Banner*/
@media (min-width: 768px) {

  #contact-modal .modal-content form:after {
    content: "";
    border-right: 1px solid #DFE6E8;
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
  }

  #content-inverse {
    font-size: 15px;
  }

  #content-inverse p {
    font-size: 15px;

  }

  #content-inverse h1 {
    line-height: 35px;

  }

  #content-inverse h1,
  #content-inverse .lead {
    font-size: 24px;

  }


  #about #content-inverse p {
    padding-right: 30px;
  }


  #content-inverse hr {
    margin: 80px 0px 0px 0px;
  }

  #contact-modal .more-info {
    padding-left: 30px;
  }

  .downloadapp-div {
    width: 42em;
    padding-top: 33px;
  }

  .phone-input {
    width: 300px;
  }

  .offer-btn {
    padding: 3px 12px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 3em;
  }

  .offerlink {
    margin-left: 3em;
  }
}

@media (max-width: 767px) {
  .downloadapp-div {
    width: 42em;
    padding-top: 33px;
  }

  .phone-input {
    width: 17em;
  }

  .offer-btn {
    padding: 3px 12px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 3em
  }

  .offerlink {
    margin-left: 3em;
  }
}

@media (max-width: 540px) {
  .phone-input {
    padding: 6px 3px;
    font-size: 12px;
    width: 15em;
  }

  .offer-btn {
    font-size: 11px;
    padding: 6px 3px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 1em
  }

  .offerlink {
    margin-left: 1em;
  }
}

@media (max-width: 480px) {
  .downloadapp-phone {
    display: block !important;
    float: none !important;
  }

  .downloadapp-div {
    width: 25em;
    padding-top: 7px;
  }

  .phone-input {
    padding: 6px 12px;
    font-size: 14px;
    width: 100%;
  }

  .offer-btn {
    font-size: 12px;
    padding: 5px 8px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 10em
  }

  .offerlink {
    margin-left: 5em;
  }
}

@media (max-width: 375px) {
  .downloadapp-div {
    width: 20em;
    padding-top: 7px;
  }

  .phone-input {
    padding: 6px 12px;
    font-size: 13px;
  }

  .offer-btn {
    font-size: 12px;
    padding: 5px 8px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 8em
  }

  .offerlink {
    margin-left: 3em;
  }
}

@media (max-width: 320px) {
  .downloadapp-div {
    width: 15em;
    padding-top: 6px;
  }

  .phone-input {
    padding: 0px 3px;
    font-size: 10px;
  }

  .offer-btn {
    font-size: 10px;
    padding: 6px 2px;
    margin-top: 3px;
    margin-right: 2px;
  }

  .offeror {
    margin-left: 5.5em
  }

  .offerlink {
    margin-left: 0.5em;
  }
}

@media (min-width: 1200px) {
  .downloadapp-div {
    margin-left: 10%;
  }
}

.downloadapp-phone {
  position: relative;
  display: table;
  float: left;
}

.offeror {
  color: #ffffff;
}

.phone-input {
  border-radius: 0;
}

.trackgroup {
  position: relative;
  display: table;
}

.trackinput {
  border-radius: 0;
  width: 218px;
  margin-right: 82px;
  background: #000;
  height: 44px;
  border: 0px none;
  color: #F7FBFC;
  font-size: 14px;
  z-index: 1;
  font-weight: 300;
  position: relative;
  margin-bottom: 0;
}

#track-btn,
#parcel-track-btn {
  color: #000;
  height: 44px;
  width: 82px;
  background-color: #87E9FF;
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0px none;
  font-size: 16px;
}

#track-btn.btn[disabled] {
  opacity: 1;
}

.track-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
  margin-top: 3px;
  margin-right: 3px;
  padding: 3px 12px;
}

footer ul {
  margin-bottom: 0px;
}

footer ul li {
  margin-bottom: 15px;
}

footer hr {
  margin: 6px 0 8px 0;
  border-bottom: 1px solid #C9D2D6;
}

.footer_content {
  background-color: #fff;
  color: rgba(2, 191, 224, 0.4);
}

.footer_content h1 {
  text-align: center;
  font-size: 24px;
  color: rgba(2, 191, 224, 0.6);
}

#booking .caret,
#bookingFormV2 .selectCity .caret {
  position: absolute;
  right: 15px;
  top: 50%;
  border: 0px none;
  border-right: 1px solid #FFF;
  border-bottom: 1px solid #fff;
  height: 11px;
  width: 11px;
  transform: rotate(45deg) translateX(-100%);
}

.copyrightdiv {
  color: rgb(206, 207, 207);
  font-size: 11px;
  padding-top: 30px;
}

footer strong {
  font-weight: 500;
}

.modal-header .close {
  opacity: 1;
  margin-top: -15px;
  margin-right: 0px;
}

.modal-header .close span {
  font-size: 0px;
  width: 26px;
  height: 26px;
  background: url(/static/website/images/Cancel.png) no-repeat center;
  display: inline-block;
  opacity: 1;
}

.modal-header .close span.glyphicon-remove:before {
  font-size: 0px;
  display: none;
}

.input-group-addon {
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 0px solid #ccc;
  border-radius: 0;
}

/* Dashboard */
.danger {
  color: red;
  font-weight: bold;
}

.cancelled-status-details>.current-status {
  color: #F00;
  font-weight: bold;
}

#js-confirm-cancellation-modal .modal-content {
  border: none;
}

#js-confirm-cancellation-modal .modal-header>button.close {
  position: inherit;
}

#js-cancel-booking-cancellation-reason,
#js-cancel-booking-other-cancellation-reason {
  width: 100%;
}

#js-confirm-cancellation-modal .confirmation-footer {
  border-top: 1px dashed #B2C4C6;
  padding-top: 2%;
}

#js-confirm-cancellation-modal .confirmation-footer>button {
  width: 49%;
}

#reason-error {
  color: red;
  font-weight: bold;
}

#preview-map {
  width: 100%;
}


.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, 0%);
}


/* Base for label styling */
.roundedTwo [type="checkbox"]:not(:checked),
.roundedTwo [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.roundedTwo [type="checkbox"]:not(:checked)+label,
.roundedTwo [type="checkbox"]:checked+label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.roundedTwo [type="checkbox"]:not(:checked)+label:before,
.roundedTwo [type="checkbox"]:checked+label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.25em;
  height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
.roundedTwo [type="checkbox"]:not(:checked)+label:after,
.roundedTwo [type="checkbox"]:checked+label:after {
  content: '✔';
  position: absolute;
  top: .1em;
  left: .1em;
  font-size: 1.4em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
  font-family: Helvetica, Arial, sans-serif;
}

/* checked mark aspect changes */
.roundedTwo [type="checkbox"]:not(:checked)+label:after {
  opacity: 0;
  transform: scale(0);
}

.roundedTwo [type="checkbox"]:checked+label:after {
  opacity: 1;
  transform: scale(1);
}

/* disabled checkbox */
.roundedTwo [type="checkbox"]:disabled:not(:checked)+label:before,
.roundedTwo [type="checkbox"]:disabled:checked+label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}

.roundedTwo [type="checkbox"]:disabled:checked+label:after {
  color: #999;
}

.roundedTwo [type="checkbox"]:disabled+label {
  color: #aaa;
}

/* accessibility */
.roundedTwo [type="checkbox"]:checked:focus+label:before,
.roundedTwo [type="checkbox"]:not(:checked):focus+label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
.roundedTwo label:hover:before {
  border: 2px solid #4778d9 !important;
}
