
th, td, input, select, .sub-text {text-align: center;font-size: 12px !important;}
textarea {resize: none;font-size: 12px !important;}
table td a {cursor:pointer;}
tfoot>tr>td {padding:2px !important;font-size: 12px;}

/* isteven multiselect */
.multiSelect .multiSelectItem {min-width: 0 !important;}
#city>.multiSelect .checkboxLayer {min-width: 94%;width: 94% !important;}

.tooltip {font-size: 10px !important;}
.tooltip-inner {max-width:500px !important;}
.toast {font-size: 12px !important;}
.toast-top-right {top: 37px !important;}

.thead {background-color:#0193ac;color:white;}
#bookings {font-size: 12px;white-space: nowrap;}

.booking-table {margin-top: 5px;margin-bottom: 10px;position: relative;}
#booking-info {margin-top: 5px; font-size: 12px;margin-left: 0;margin-right: 0;}
.fetchmore {margin-left: 1%;}
.message {padding-top: 10%;}

@keyframes blink {
  0% {color: red;}
  100% {color: black;}
}
@-webkit-keyframes blink {
  0% {color: red;}
  100% {color: black;}
}
.blink-row, .blink-row a {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
    font-weight: 600;
}
.blink-row td {padding: 4px !important;}

.google-map-heatmap {height: 100%;width: 100%;background: #fff;border: 5px solid #fff;box-shadow: 0 1px 3px rgba(00, 00, 00, 0.1);}

/*for promotion-dropoff address popup*/
#promo-display-info{ margin-bottom: 15px; padding: 6px;}
#promotion-drop-address .glyphicon-map-marker{color:#00bc9e;}
.modal-form-fixer{border-radius: 0; border: 1px solid #e6e6e6; color: #1a1a1a; height:29px; margin-bottom: 4px; padding: 6px 8px}

/*City and PIN in single line*/
#dropoff-city{ display: inline-block; width: 67.6%}
#dropoff-postal-code{ display: inline-block; width: 31%;}
.js-rotating span{display: inline-block; width: 150px;  text-align: left;   white-space: nowrap;}

.btn#exportDayDist, .btn#exportDayCost, .btn#exportDateDist, .btn#exportDateCost, .btn#exportPie {border-radius: 24px;background-color: #0099cc; }
.btn#toggleBand {margin-left : 10px;}

.completed {background-color : #CFE5D4;}
.booking_accepted {background-color : #EAD7D7;}
.cancelled {background-color : #EAD7D7;}
.driver_accepted, .arrived_at_pickup, .finished_loading, .arrived_at_dropoff, .waypoint {background-color : #FBF5DD;}
.bg-red {background-color : red;}
.bg-green {background-color : #80FF80;}
.bg-red a {color : white;}

#pickup-address .glyphicon-map-marker{color:#f64656}
#drop-address .glyphicon-map-marker{color:#00bc9e}
.rowHighlight {background-color: #795548 !important; color: white;}
.rowHighlight a {color: yellow;}
.rowHighlight .bootstrap-datetimepicker-widget, .rowHighlight .bootstrap-datetimepicker-widget a {color: initial;}
.multiselect-container {max-height: 200px; height: auto; overflow-x: hidden;}
.what3wordsicon {color: #e6323d; font-weight: bold;}

.custom-container {padding-right: 0 !important; padding-left: 0 !important;}
.top-row {font-size: 12px; text-align: center; margin-left: 0; margin-right: 0 !important;
    margin-top:0.5%; background: #fff;padding-bottom: 0.5%; border-bottom: 1px solid #ccc;}
.top-row .form-control {font-size: 12px;}
.top-row label {margin-bottom: 0;}
.top-row .btn-success, .fetchmore {font-size: 12px;padding: 8px 12px;height: 34px;}
.sub-row {padding-top:0.5%;padding-bottom: 0.5%; margin: 0;}
.custom-dropdown {max-height: 200px; height: auto; overflow-x: hidden;}
.search-dropdown {padding: 6px 9px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 0;margin-left:-1px;}
.search-clear {padding: 6px 7px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-top-left-radius: 0;border-bottom-left-radius: 0;margin-left:-1px;}
.filter-input {margin-left: 15px; padding-left: 0; padding-right: 0;}
.filter-btn {float: left; position: relative;}
.filter-date-fields {width:35%;}
.filter-date-fields>.no-label-field {margin-top: 3.6%;}
.no-left-padding {padding-left: 0;}
.multiselect-selected-text, .multiselect-container>li>a>label, .filter-driver-container>ul,
#dLabel+ul{font-size: 12px;}
.booking-table-container {background-color:#fff;padding: 0;padding-top:12%;}
.booking-table>thead>tr>td, .booking-table>thead>tr>th {white-space: nowrap; padding: 4px; font-size: 12px; text-align: center;}
.booking-table>tbody>tr>td, .booking-table>tbody>tr>th {white-space: nowrap; padding: 5px; font-size: 12px; text-align: center;border: 1px solid #000;}
.booking-table>thead>tr>th>input, .booking-table>thead>tr>th>select {height: 25px; padding: 2px 2px;width: 100%;}
.spinner-container {display: inline-block;margin-right: 5%;}
.spinner-container span {font-size: 25px !important;vertical-align: middle !important;}
.export-block {width: 31%;text-align: right;margin-top: 1.25%;}
/*.notification-btn-wrapper {margin-left: 37%;}*/
#export {width: 23%;margin-left: 56%;}
.visualization-dropdown {padding-right: 0;width: 20%;}
#when_option {cursor: pointer;}
#refreshButton {width: 65px;}

/* Booking price modal */
.price-details-container {max-height: 72vh;overflow-y: auto;}
.price-container {max-height: 75vh;height: 75vh;overflow-y: auto;}
.payment-price-block {margin-right: 0;background: beige;padding-top:5px;padding-bottom: 5px;}
.pricing-details-subheader {margin-top: 0;font-size: 14px;font-weight: bold;text-decoration: underline;}
.extra-charge-btn-container {margin-bottom: 0;}
.extra-charge-header {margin: 5px 15px 5px 15px !important;text-align: center;font-weight: bold;background-color: #00C0E1;font-size: 12px;}
.extra-charge-row {margin: 5px 0 0 0;}
.custom-row {margin-left: 0;margin-right: 0;}
.custom-footer {padding-bottom: 0;padding-right: 0;}
.custom-label {display: table-cell;vertical-align: middle;height: 34px;}
.row-icon-container {margin-top: 1%;}
.row-icon {cursor: pointer;}
.total-amount-block {margin: 5px 15px 5px 15px;border-top: 1px solid #a99e9e;padding: 5px;}
.total-amount-block>.form-group {padding-left: 0;}
.total-cost-container {width: 36%;}
.status-track {font-size: 12px;padding-top: 6px;text-align: right;}
.price-helpblock {margin-bottom: 0;}
#total-count {float: left;margin-right: 40px;}

/* Common modal styles */
.no-padding {padding: 0;}
.no-margin {margin:0;}
.sub-heading {font-size: 12px; font-weight: bolder; text-decoration: underline;text-align: center;margin-top: 0;margin-bottom: 5px;}
.sub-heading.first-header {margin-top: 0.8%;}
.help-block {font-size: 12px;}
.modal-custom label, .modal-custom .input-group-addon {font-size: 12px !important;}
.modal-custom .modal-header {border-bottom: 0; background: #00C0E1; border-top-left-radius: 6px; border-top-right-radius: 6px; padding: 5px;}
.modal-custom .modal-header .close {margin-top: 0 !important; margin-right: 10px;}
.modal-custom .modal-body {padding-left: 0;padding-right: 0;padding-top: 0;}
.modal-custom .modal-footer {padding-bottom: 0;}
.modal-custom .container {width:100%; height:70vh;overflow-x: auto;padding-top: 8px;padding-left: 0;padding-right: 0;}
.modal-custom .container .row {margin:0;}
.modal-custom .btn-footer {min-width: 100px;}

/* Search box */
.inner-addon {position: relative;}
.inner-addon .glyphicon { position: absolute; padding: 10px; pointer-events: none; }
.right-addon .glyphicon { right: 0; }
.right-addon input { padding-right: 30px; }
.search-box { float:right; margin-bottom: 10px; margin-right: 15px; padding: 0; width: 15%;}

/* Booking details */
.event-log-container {padding: 0;margin-left: 15px;font-size: 12px;text-align: center;width:45%;}
.event-log-container label {margin-bottom: 0;}
.event-log-container .panel-heading, .event-log-container .panel-body {padding: 0;}
.booking-details-footer a.btn {height: 32px;padding-top: 0.6%;font-size: 12px; min-width: 75px;}
.sub-heading-container {margin-top:1.5% !important;}
.receipt-container, .payment-form-container {min-height: 40vh;padding-top: 2.5%;}
.clone-container {padding-top: 2.5%;}
.clone-datepicker {margin:0;}
.new-pickuptime-container {padding-left: 15px;}
.customer-details-container {padding-top: 2.5%;}
.requested-pickuptime-container {padding-top: 2.5%; padding-left: 5%;padding-bottom: 2%;}
.history-container {height: 77vh !important;}
.history-message-wrap {padding-top: 10%;}
.history-table-wrap {margin-left: 15px;margin-right: 15px;height: 64vh;}
.pagination-wrap {text-align: center;font-size: 12px !important;}
.pagination-wrap .pagination {margin-top: 0;margin-bottom: 0;}
.pagination-wrap .pagination li {cursor: pointer;}
.items-container, .comments-container, .vehicle-class-container,
.coupon-container, .price-container {margin-left:0;margin-right: 0;padding-top: 15px;}
.info-span {list-style-type:none; padding: 2px; border: 1px solid rgba(51, 51, 51, 0.42); border-radius: 3px; margin: 2px; -webkit-box-shadow: inset 0 1px 20px rgba(0,0,0,.075); box-shadow: inset 0 1px 20px rgba(0,0,0,.075);}
.info-block {height: 25vh; max-height: 25vh; overflow-y: auto; padding: 5px;border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); margin-bottom: 5px;font-size: 12px;margin-left: 0;}
.remove-elem {margin-left:2px; cursor:pointer; margin-top: 2px; float:right;}
.no-items-message {font-weight:bolder;padding-top:16%;}
.labour-container {min-height: 40vh;padding-top: 2.5%;margin-left: 0;margin-right: 0;}
.labour-container .help-block {margin-bottom: 0;}
#item-link, #comments-link {font-size: 12px;cursor: pointer;float: right;padding-top: 1%;}
#add-items {font-size: 12px;height: 34px;}
#booking-event-log {max-height: 15vh;overflow: auto;}
#modal-send-receipt .modal-dialog, #modal-payment-link .modal-dialog,
#modal-customer-details .modal-dialog {width: 30%;}
#modal-customer-details, #modal-vehicle-class, #modal-coupon {top:25%;}
#history-table>thead>tr>th{white-space: nowrap; padding-top: 2px !important; padding-bottom: 2px !important; font-size: 12px;}
#history-table>tbody>tr>td{padding-top: 2px !important; padding-bottom: 2px !important; font-size: 12px;}

/* Address Action */
#modal-address-map .modal-dialog {width:95%;}
.booking-address-container {padding-top: 0.5%;min-height: 80vh;}
.google-map {min-height: 74vh;padding: 5px;background: #fff;border: 5px solid #fff;box-shadow: 0 3px 3px rgba(00, 00, 00, 0.1);}
.btn-fit-zoom {margin-top: 1%;margin-right:1%;height: 30px;border-radius: 0;box-shadow: 0 2px 3px rgba(00, 00, 00, 0.1);}
.map-container #eta {font-size: 12px;font-weight: bold;margin-bottom: 0.5%;margin-top: 0.5%;}

/* Confirmation modal */
#modal-confirmation {top:25%;}
#modal-confirmation>.modal-dialog {position: relative; display: table; overflow-y: auto; overflow-x: auto; width: auto; min-width: 300px;}
.confirmation-content {text-align: center;font-weight: bolder;padding: 8%;}
.confirmation-content .unique-id {color:red;font-style: italic;}
.confirmation-footer {text-align: center;margin-left: 0;margin-right: 0;}

/* Date-time picker */
.bootstrap-datetimepicker-widget.dropdown-menu {font-size: 12px !important;}
.bootstrap-datetimepicker-widget.dropdown-menu, .bootstrap-datetimepicker-widget.dropdown-menu {padding-left: 7%;}

/* Notification bar */
.notification-wrapper {max-height: 67vh;width: 340px;overflow-x: hidden;overflow-y: auto;padding-top: 0;}
.notification-wrapper>div {box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);margin-bottom: 5px;}
.notification-wrapper .nav-tabs.nav-justified a {border-top:none;border-bottom:none;border-radius: 0;font-weight: bolder;}
.notification-wrapper .nav-tabs.nav-justified>.active>a {background-color: rgba(79, 134, 133, 0.74);color:#fff;}
.notification-card {margin-bottom: 4%;font-size: 12px; width:325px;}
.notification-content {margin-left: 3%;margin-right: 3%;background: rgba(128, 128, 128, 0.2);box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);}
.notification-header {display: block;font-weight:bolder;color: #fff;background: rgb(1, 147, 172);padding: 2px 5px;margin-right: 0; margin-left: 0;}
.notification-body {padding: 2px 5px;margin-right: 0; margin-left: 0;}
.notification-count {font-weight: 300;position: absolute !important;right: 0.5%;background-color: red !important;}
.notification-label {text-align: left !important; font-weight: bold;}
.notification-value {text-align: right;}
.notification-card:last-child {margin-bottom: 5px;}
.no-notifications {font-size:12px;font-weight: bold;padding: 10px;width:325px;}
#btn-notification {border: 0 !important;}

#floating-menu, #filter-action, .panel__header {display:none;}
@media only screen and (max-width: 767px) {
    .navbar-default {position: static !important;}
    .top-row>div{margin-top: 1%;}
    .filter-date-fields {width:100%;}
    .no-left-padding {padding-left:15px !important;}
    .filter-date-fields>.no-label-field {margin-top: 10px !important;}
    .filter-date-fields>div{padding-left: 0 !important;padding-right: 0 !important;}
    .booking-table-container {padding-top: 0;width: 100%;}
    #fetch-btn-block, .sub-row, .export-block, .f-panel {display: none;}
    #floating-menu {display:block;margin: 0;padding-bottom: 1%;}
    #floating-menu>.fetchmore {float: right;}
    #filter-action {display: block;margin-top:5%;}
    #filter-action>.btn {height: auto;width: 30%;}
    #refreshButton {margin-left: 2%;}

    /* Filter panel */
    .full-page {position: fixed;bottom: 0;right: 0;left: 0;top: 0;height: 100%;z-index: 9999;}
    .filter-panel{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-transform:translateY(110%);-ms-transform:translateY(110%);transform:translateY(110%);z-index:2;background:#fff;transition:-webkit-transform .6s cubic-bezier(.23,1,.32,1);transition:transform .6s cubic-bezier(.23,1,.32,1);transition:transform .6s cubic-bezier(.23,1,.32,1),-webkit-transform .6s cubic-bezier(.23,1,.32,1);will-change:transform}
    .filter-panel.panel--active {-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);z-index: 9999 !important;}
    .panel__header{display:-webkit-flex;display:-ms-flexbox;display:flex!important;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;border-bottom:1px solid #eee}
    .icon-btn {padding: 12px;}
    .icon--regular {width: 24px;height: 24px;}
    .icon {display: inline-block;vertical-align: middle;}
    .panel__title-container {-webkit-flex-grow: 1;-ms-flex-positive: 1;flex-grow: 1;text-align: center;}
    .panel__title {margin: 0;}
    .panel__action {padding: 12px;}
    .panel__content {-webkit-flex: 1;-ms-flex: 1;flex: 1;overflow-y: scroll;}
    .panel__content>div, .filter-date-fields>div {margin-bottom: 2%;}
    .modal-dialog {width: auto !important;}

    .bootstrap-datetimepicker-widget.dropdown-menu, .bootstrap-datetimepicker-widget.dropdown-menu {padding: 4px;}
}
