/*******Booking Form v2*******/
#bookingFormV2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Heebo', sans-serif;
    background: #fff;
    font-size: 16px;
    color: #58535e;
    /*z-index: 9999;*/
}

@font-face {
    font-family: 'rupee_foradianregular';
    src: url('../fonts/rupee_foradian-webfont.woff2') format('woff2'), url('../fonts/rupee_foradian-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#bookingFormV2 .helpSection{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(000,000,000,0.7);
    z-index: 20;
}

#bookingFormV2 .helpSection .welcomeMsg{
    position:absolute;
    bottom: 20%;
    left:0;
    right:0;
    text-align:center;
}
#bookingFormV2 .helpSection .welcomeMsg h2{
    font-size: 48px;
    font-weight: 200;
    color: #fff;
    margin-bottom: 30px;
}

#bookingFormV2 .helpSection .getStarted{
    font-size: 18px;
    letter-spacing: 3px;
    color:#000;
    font-weight:900;
    text-transform:uppercase;
    background-color: #87E9FF;
    width: 213px;
    padding: 26px 0px;
    margin:0 auto;
    line-height: 18px;
    cursor: pointer;
}
#bookingFormV2 .helpSection .option{
    position:absolute;
    width: 280px;
}

#bookingFormV2 .helpSection .option-1{
    top: -4px;
    left: -4px;
}

#bookingFormV2 .helpSection .option-2{
    top: 142px;
    left: 387px;
    width: 193px;
}

#bookingFormV2 .helpSection .option-3{
    right:0;
    top:25%
}

#bookingFormV2 .helpSection .text{
    position:absolute;
    top: 70px;
    background: #000;
    height: 110px;
    width: 210px;
    left: 14px;
    border-radius: 2px;
    box-shadow: 0 0 3px #333;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 15px 15px;
}
#bookingFormV2 .helpSection .option-3 .text{
    height:95px
}

#bookingFormV2 .helpSection .option-2 .text{
    width:180px;
    height:90px
}

#bookingFormV2 .helpSection .text:after{
    position:absolute;
    content:"";
    width: 10px;
    height:10px;
    background: #000;
    top: -4px;
    left: 21px;
    box-shadow: 0 0 3px #333;
    transform: rotate(45deg);
}

#bookingFormV2 .helpSection .icon{
    position:absolute;
    background:#fff;
    border-radius: 100px;
    padding: 18px;
}

#bookingFormV2 .helpSection .option-3 .icon i{width: 44px;height: 42px;display: inline-block;background: url(../images/Ghost-Marker@2x.png);margin-bottom: -4px;}

#bookingFormV2 .helpSection .icon i.bg-SavedLocDrop{
    background: url(../images/cssSprites.png) -912px -180px #ddd;
    width: 36px;
    height: 36px;
    margin: 4px;
}

#bookingFormV2 .helpSection .number{
    position:absolute;
    padding: 0px 16px 0px 16px;
    background: #6ae8fd;
    z-index: 1;
    font-size: 36px;
    font-weight: 300;
    left: -50px;
    border-radius: 100px;
    top: 80px;
    color: #000;
}
#bookingFormV2 .helpSection .option-1 .number{left: auto;right: -10px;}

#bookingFormV2 * {
    border-radius: 0;
    border: 1px none;
    box-shadow: 0 0 0 rgba(000,000,000,0);
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
}

#bookingFormV2 #sideBar {
    width: 460px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 1;
    box-shadow: 0 0 15px rgba(000,000,000,0.3);
    padding-left: 72px;
    padding-bottom: 78px;
    z-index: 3;
}

#bookingFormV2 #sideBar .panel-group{
    max-height: 92%;
    overflow-y: auto;
}

#bookingFormV2 #sideBar .more-disclaimer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: auto;
}

#bookingFormV2 #sideBar .more-disclaimer span{
    font-size: 13px;
    color: gray;
}

#bookingFormV2 #sideBar .more-disclaimer .highlight{
    font-size: 15px;
    font-weight: 600;
    color: gray;
}

#bookingFormV2 .sideBarHeader {
    padding: 26px 0 23px;
    border-bottom: 1px solid #ECE9F1;
    margin-bottom: 0px;
}

#bookingFormV2 #gMap {
    position: absolute;
    top: 0;
    left: 460px;
    right: 0;
    bottom: 0;
}

#bookingFormV2 h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-left: 24px;
    color: #4E5454;
}

#bookingFormV2 h2 {
    font-size: 16px;
    margin: 0;
    height: 24px;
    color: #FC3446;
    font-weight: 500;
    line-height: 24px;
}

#bookingFormV2 .panel-body {
    position: relative;
    padding: 0 15px 0 24px;
}

#bookingFormV2 .panel {
    border-bottom: 0px solid #ede9f1;
    margin-bottom: 8px;
}

/*
#bookingFormV2 .track{
    position: absolute;
    left: 38px;
    top: 50px;
    bottom: 75px;
    border-left:2px dotted #ede9f1;
}
*/
#bookingFormV2 .panel-default > .panel-heading {
    background: #fff;
    padding: 16px 0px 20px 25px;
}

#bookingFormV2 .steps {
    display: inline-block;
    padding: 6px 4px 4px 4px;
    line-height: 16px;
    margin-right: 8px;
    width: 26px;
    font-size: 14px;
    text-align: center;
    position: relative;
    color: #898390;
}

#bookingFormV2 .steps em {
    font-style: normal;
    position: relative;
    z-index: 2;
}

#bookingFormV2 .steps:before {
    content: "";
    background: #ede9f1;
    position: absolute;
    left: 0;
    border-radius: 100px;
    right: 0;
    bottom: 0;
    top: 0;
    border: 1px solid #d1ccd6;
    opacity: 0.24;
}

#bookingFormV2 .on .steps:before {
    background: #fb5564;
    border: 1px solid #fb5564;
    opacity: 0.1;
}

#bookingFormV2 .on .steps {
    color: #f64656;
}

#bookingFormV2 h2.panel-title {
    color: #898390;
}

#bookingFormV2 .on h2.panel-title {
    color: #FC3446;
}

#bookingFormV2 .form-control {
    background-color: #F7FBFC;
    height: 36px;
    color: #37323d;
}

#bookingFormV2 #where .form-control {
    padding-left: 36px;
}

#bookingFormV2 .form-control:focus {
    background-color: #ebfcff;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom {
    left: 0px;
    top: 0px;
    padding-top: 36px;
    right: 0px;
    z-index: 4;
    margin: 0;
    background: transparent;
    padding-bottom: 0;
}

#bookingFormV2 .has-waypoint .dropdown-menu.dropdown-menu-custom {
    right: 25px !important;
}

button.btn-dropdown .bg-SavedLocDropPressed {
    display: none;
}

button.btn-dropdown[aria-expanded="true"] .bg-SavedLocDropPressed {
    display: block;
    opacity: 1 !important;
}

button.btn-dropdown[aria-expanded="true"] .bg-SavedLocDropHover {
    display: none;
}

button.btn-dropdown[aria-expanded="true"] {
    background-color: #303232 !important;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li {
    border-top: 1px solid #f0eef2;
    background: #fff;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a {
    padding: 16px 10px 10px 10px;
    color: #58535e;
    white-space: inherit;
    letter-spacing: -0.13px;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a small {
    font-size: 12px;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a strong {
    display: block;
    color: #1d2836;
    font-weight: normal;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a.currentLocation {
    padding: 15px 10px;
    color: #898390;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a.chooseOnMap {
    color: #4E5454;
    padding: 15px 10px;
}

#bookingFormV2 .btn-back {
    background: url(../images/sprite.png) no-repeat;
    background-position: 0px -409px;
    float: left;
    width: 26px;
    height: 26px;
    margin-left: 15px;
    margin-right: 12px;
    vertical-align: middle;
    display: none;
}

#bookingFormV2 .btn-back:hover {
    background-position: -27px -409px;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li a.currentLocation i, #bookingFormV2 .dropdown-menu.dropdown-menu-custom li a.chooseOnMap i {
    display: inline-block;
    margin-top: -8px;
    position: relative;
    top: 6px;
    margin-right: 12px;
}

#bookingFormV2 .dropdown-menu.dropdown-menu-custom li.divider {
    height: auto;
    background: #fff;
    font-size: 10px;
    color: #aaa4b1;
    margin: 0;
    margin-bottom: -1px;
    padding-left: 10px;
    padding-top: 8px;
    z-index: 1;
    padding-bottom: 0px;
    position: relative;
}

#bookingFormV2 .input-group-btn .btn-default {
    background-color: #DFE6E8;
    height: 36px;
    width: 36px;
    padding: 0;
}

#bookingFormV2 .input-group-btn .btn-delete {
    background: url(../images/btn-delete-icon.png) center no-repeat;
}

#bookingFormV2 .input-group-btn .btn span {
    opacity: 0.4
}

#bookingFormV2 .input-group-btn .btn:hover span {
    opacity: 1
}

#bookingFormV2 .form-field {
    position: relative;
}

#bookingFormV2 .input-group {
    position: relative;
    padding-bottom: 26px;
}

#bookingFormV2 .on .input-group {
    z-index: 5;
}

#bookingFormV2 .input-group.on input {
    background: #fff;
}

#bookingFormV2 .form-field label {
    color: #929A9B;
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: -0.2px;
    height: 24px;
    line-height: 24px;
}

#bookingFormV2 .locationFrom, #bookingFormV2 .locationTo, #bookingFormV2 .changeOrder, #bookingFormV2 .locationStop {
    /*    background: url("../images/sprite.png") no-repeat;*/
}

#bookingFormV2 .locationFrom, #bookingFormV2 .locationTo, #bookingFormV2 .changeOrder, #bookingFormV2 .locationStop {
    position: absolute;
    left: 5px;
    width: 26px;
    top: 5px;
    z-index: 3;
    text-align: center;
    cursor: pointer;
    bottom: 0;
}

#bookingFormV2 .locationFrom span, #bookingFormV2 .locationTo span, #bookingFormV2 .changeOrder span, #bookingFormV2 .locationStop span {
    display: block;
    margin: 4px auto 0 auto;
}

#bookingFormV2 .locationStop span {
    margin: 11px auto 0 auto !important;
    position: relative;
    z-index: 1;
}

#bookingFormV2 .locationFrom:before, #bookingFormV2 .locationStop:before {
    content: "";
    position: absolute;
    left: 12px;
    top: 24px;
    bottom: -4px;
    width: 2px;
    background: url("../images/path.png");
}

#bookingFormV2 .locationStop:before {
    top: 5px;
}

#bookingFormV2 .changeOrder {
    left: -24px;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    width: 24px;
    height: 24px;
    display: none;
}

/*
#bookingFormV2 .changeOrder:hover{
    background-position: -24px 0;
}
*/

#bookingFormV2 .customCalendar span.today{
    color: red !important;
}
#bookingFormV2 .customCalendar span {
    display: inline-block;
    width: 32px;
    font-size: 15px;
    padding: 0px 0px;
    border: 1px solid #ECE9F1;
    border-radius: 37px;
    text-align: center;
    margin: 0px 7px 12px 5px;
    line-height: 28px;
    color: #ECE9F1;
    cursor: not-allowed;
    position:relative;
}

#bookingFormV2 .customCalendar span.on {
    color: #37323D;
}

#bookingFormV2 .customCalendar span.on:hover {
    background-color: #87E9FF;
    cursor: pointer;
    border: 1px solid #87E9FF;
}

#bookingFormV2 .customCalendar span.selected {
    background-color: #87E9FF;
    color: #37323D;
    font-weight: bold;
}

#bookingFormV2 .customCalendar span em{
font-size:9px;
font-style:normal;
font-weight:normal;
position:absolute;
left:0;
right:0;
top:-19px
}


#bookingFormV2 .customCalendar {
    margin-bottom: 30px
}

#bookingFormV2 .customCalendar .dayName span {
    font-size: 12px;
    color: #898390;
    padding: 0;
    line-height: 10px;
    border: 0px solid #ECE9F1;
    margin: 0 0 15px 0;
    width: 40px;
}

#bookingFormV2 .swapLocation {
    float: right;
    background: #ddd;
    width: 24px;
    height: 24px;
    margin-top: -10px;
    cursor: pointer;
    margin-right: 3px;
    position: relative;
    z-index: 1;
    opacity: .5;
}

#bookingFormV2 .swapLocation:hover {
    opacity: 1;
}

#bookingFormV2 #sideBar #menu ul li a.on:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #FFCCD6;
}

#bookingFormV2 #sideBar #menu ul li a span[class*="Done"], #bookingFormV2 #sideBar #menu ul li a span[class*="Selected"], #bookingFormV2 #sideBar #menu ul li a.on span, #bookingFormV2 #sideBar #menu ul li a.done span {
    display: none;
}

#bookingFormV2 #sideBar #menu ul li a.on span[class*="Selected"] {
    display: inline-block;
}

#bookingFormV2 #sideBar #menu ul li a.done span[class*="Done"] {
    display: inline-block;
}

[class*="bg-"] {
    display: block;
    margin: 0 auto;
}

/*
#bookingFormV2 .locationFrom{
    background-position: 0 -180px;
}

#bookingFormV2 .locationTo{
    background-position: 0 -206px;
}
*/
/*
#bookingFormV2 .swapLocation {
    background: url("../images/sprite.png") no-repeat;
    background-position: 0 -48px;
}
*/
/*
#bookingFormV2 .swapLocation:hover {
    background-position: -24px -48px;
}
*/
#bookingFormV2 .btn-add {
    color: #757E7F;
    text-decoration: none;
    margin-bottom: 6px;
    margin-top: -7px;
    padding-left: 0;
    padding-left: 0;
}

#bookingFormV2 #collapseWhere .btn-add {
    font-size: 14px;
    padding-right: 8px;
}

#bookingFormV2 .btn-add i {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 4px;
}

#bookingFormV2 .panel-heading small {
    display: block;
    padding-left: 38px;
    color: #aaa4b1;
}

button i.bg-on, #bookingFormV2 .vehicleList label .bg-on, #bookingFormV2 .btn .bg-on, #bookingFormV2 .changeOrder i.bg-on, #bookingFormV2 .dropdown-menu.dropdown-menu-custom li a i.bg-on, #bookingFormV2 .changeOrder i.bg-down {
    display: none;
}

button:hover i.bg-off, #bookingFormV2 .vehicleList input[type="radio"]:checked+label .bg-off, #bookingFormV2 .btn:hover .bg-off, #bookingFormV2 .changeOrder:hover i.bg-off, #bookingFormV2 .changeOrder:focus i.bg-off, #bookingFormV2 .dropdown-menu.dropdown-menu-custom li a:hover i.bg-off {
    display: none;
}

button:hover i.bg-on, #bookingFormV2 .vehicleList input[type="radio"]:checked+label .bg-on, #bookingFormV2 .btn:hover .bg-on, #bookingFormV2 .changeOrder:hover i.bg-on, #bookingFormV2 .dropdown-menu.dropdown-menu-custom li a:hover i.bg-on, #bookingFormV2 .changeOrder:focus i.bg-down {
    display: inline-block;
}

#bookingFormV2 .vehicleList tr {
    border-bottom: 1px solid #D0CCD6;
    background-color: #F7FBFC;

}

#bookingFormV2 .vehicleList table {
    border-collapse: separate;
    border-spacing: 0px 8px;
}

#bookingFormV2 .vehicleList tr td {
    padding: 20px 0 10px 0;
}

#bookingFormV2 .vehicleList label {
    cursor: pointer;
    margin-top: 5px;
}

#bookingFormV2 .vehicleList {
    position: relative;
    margin-top: -20px;
}

#bookingFormV2 .vehicleList input {
    position: absolute;
    opacity: 0;
    left: -10000px;
}

#bookingFormV2 .vehicleList .vehiclePhoto {
    width: 72px;
    height: 72px;
    background-color: #F2F2F2;
    border-radius: 100%;
    margin: 0 5px 0 0px;
    overflow: hidden;
}

#bookingFormV2 .vehicleDetails span {
    display: block;
    white-space: nowrap;
    color: #9B9B9B;
}

#bookingFormV2 .vehicleDetails .vehiclePrice {
    color: #056DB4;
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 2px;
}

#bookingFormV2 .vehicleDetails .vehicleName {
    color: #58535E;
    font-family: Heebo;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    width: 125px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

#bookingFormV2 .vehicleDetails .vehicleAvailabilityNo,
#bookingFormV2 .vehicleDetails .vehicleAvailabilityYes {
    color: #9B9B9B;
    font-family: Heebo;
    font-size: 14px;
    line-height: 18px;
}

#bookingFormV2 .vehicleDetails .vehicleAvailabilityYes span {
    background-color: #2AC169;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
#bookingFormV2 .vehicleDetails .vehicleAvailabilityNo span {
    background-color: #FC3446;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

#bookingFormV2 .vehicleDetails .btn-more,
#bookingFormV2 .vehicleDetails .btn-more:hover {
    border: 1px solid #929A9B !important;
    background: transparent;
    padding: 1px 17px;
    font-size: 14px;
    margin-top: 5px;
    position:relative;
}

#bookingFormV2 .vehicleDetails .btn-more.on:after{
    content: "";
    position: absolute;
    right: -7px;
    top: 50%;
    margin-top: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #FC3446;
    }

#bookingFormV2 .truck-info-container {
    background: rgba(000,000,000,0.3);
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
}

#bookingFormV2 .truck-info {
    background: #fff;
    padding: 16px 20px 40px 30px;
    position: relative;
    color: #4E5454;
    z-index: 4;
}

#bookingFormV2 .rate-card-and-vehicle-info-container {
    background: rgba(000,000,000,0.3);
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    max-height: 100vh;
    position: relative;

}
#bookingFormV2 .rate-card-and-vehicle-info-container .close-btn {
    position: absolute;
    right: 0px;
    top: 0px;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .wrapper {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    z-index: 10;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 410px;
    background-color: #F7FBFC;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0px;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement {
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    flex: 1;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .measurement {
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    /* align-self: stretch;
    justify-content: stretch; */
    padding-left: 7%;
    position: relative;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .truck-length{
    /* display: flex;
    flex: 1;
    align-items: start;
    justify-content: center; */
    position: absolute;
    top: 12%;
    left: 25%;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .truck-height {
    /* display: flex;
    flex: 1;
    align-items: center;
    justify-content: start; */
    position: absolute;
    top: 50%;
    left: 2%;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .truck-width {
    /* display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: center; */
    position: absolute;
    left: 13%;
    bottom: 3%;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .measurement .dimension {
    color: #4E5454;
    font-family: Heebo;
    font-size: 10px;
    line-height: 14px;
    width: 100%;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .measurement .dimension-image {
    width: 90%;
    height: 80%;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info .vehicle-label{
    color: #056DB4;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info .vehicle-label span{
    color: #056DB4;
    font-family: Heebo;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info .description span{
    color: #4E5454;
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .truck-information .vehicle-info-measurement .vehicle-info .truck-capacity span{
  color: #9B9B9B;
  font-family: Heebo;
  font-size: 12px;
  line-height: 23px;
  text-align: center;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 410px;
    flex: 1;
    max-height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #F7FBFC;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .bg-Cancel{
    color: black;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .heading {
    width: 100%;
    color: #303232;
    font-family: Heebo;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    margin: 5px 0px;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards {
    overflow-y: auto;
    padding: 0px 2px;
    width: 100%;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card {
    width: 100%;
    margin: 15px 0px;
    background-color: white;
    box-shadow: 0 2px 2px 0 #C9D2D6;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 8px;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card:hover,
.rate-card-selected.rate-card {
  border: 2px solid #00d2f6 !important;
}

.rate-card-selected .rate-card-header,
#bookingFormV2 .rate-card-and-vehicle-info-container
.rate-info .rate-cards .rate-card:hover
.rate-card-header {
  background: #00d2f6 !important;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card .rate-card-header {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  background: #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card .rate-card-body {
  display: flex;
  width: 100%;
}

.base-fare {
  width: 33%;
  text-align: center;
  padding: 12px 8px;
  border-right: 1px solid #e8e4e4;
}

.base-fare-header {
  font-size: 10px !important;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 15px;
}

.base-fare-val {
  font-weight: 500;
  font-size: 24px !important;
  line-height: 36px;
}

.base-fare-tagline {
  font-size: 10px !important;
  padding: 0 8px;
  line-height: 15px;
}

.slab-fare {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  width: 67%;
  max-width: 67%;
  overflow-x: auto;
}

.slab-fare::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.slabs {
  text-align: center;
  display: flex;
}

.slab {
  padding: 0 4px;
  flex: 0 0 auto;
}

.slab-header {
  font-size: 16px;
  font-weight: 500;
}

.slab-tagline {
  font-size: 10px !important;
}

.slab-seperator {
  margin: 8px 0;
  height: 1px;
  background: #e2e0e0;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card input{
    display: none;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  label {
    cursor: pointer;
    padding: 15px;
    flex: 1;
    margin: 0px;
}
#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  label  .bg-RadioUnSelected {
    display: block;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  label  .bg-RadioSelected {
    display: none;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  input:checked  + label .bg-RadioUnSelected {
    display: none;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  input:checked  + label .bg-RadioSelected {
    display: block;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards.rate-card  .details  .header{
    color: #4E5454;
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 4px;
    display: flex;
    cursor: pointer;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card .image {
    width: 45px;
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  .details  .desc {
    color: #4E5454;
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
}

#bookingFormV2 .rate-card-and-vehicle-info-container .rate-info .rate-cards .rate-card  .details .desc .desc-text {
  font-size: 12px;
  line-height: 18px;
}

/* For mobile view change the position of the truck view*/
@media (max-width: 600px) {
    #bookingFormV2 .truck-info-container, #bookingFormV2 .truck-info {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    #bookingFormV2 .rate-card-and-vehicle-info-container,  #bookingFormV2 .rate-card-and-vehicle-info-container .wrapper{
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    #bookingFormV2 .rate-card-and-vehicle-info-container .wrapper .truck-information,  #bookingFormV2 .rate-card-and-vehicle-info-container .wrapper .rate-info{
        width: 100%;
    }
    #bookingFormV2 .truck-info {
        overflow-y: scroll;
    }
}

/* For desktop view change the position of the truck view*/
@media (min-width: 600px) {
    #bookingFormV2 .truck-info-container {
        position: absolute;
        left: 460px;
    }

    #bookingFormV2 .rate-card-and-vehicle-info-container {
        position: absolute;
        left: 460px;
    }

    #bookingFormV2 .truck-info {
        width: 322px;
        margin-top: 72px;
    }

    #bookingFormV2 .rate-card-and-vehicle-info-container .wrapper {
        width: 410px;
    }
}


#bookingFormV2 .truck-info .truck-info-close {
    position: absolute;
    right: 6px;
    top: 8px;
}

#bookingFormV2 .truck-info h2 {
    height: 60px;
    color: #056DB4;
    font-family: Heebo;
    font-size: 42px;
    font-weight: 300;
    line-height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#bookingFormV2 .truck-info h3 {
    height: 24px;
    width: 131px;
    color: #303232;
    font-family: Heebo;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    margin: 5px 0 2px 0;
}


#bookingFormV2 .truck-dimensions {
    position: relative;
    height: 170px;
    border: 1px solid #979797;
    margin: 26px 0 50px;
    background-color: #F7FBFC;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.65);
    border-radius: 3px;
}

#bookingFormV2 .truck-dimensions span {
    display: inline-block;
    background-color: #DFE6E8;
    border-radius: 100px;
    padding: 4px 15px;
    position: absolute;
    color: #000;
}

#bookingFormV2 .truck-dimensions .truck-height {
    bottom: -23%;
}

#bookingFormV2 .truck-dimensions .truck-width {
    top: 50%;
    transform: translateY(-50%);
    left: -15px
}

#bookingFormV2 .truck-dimensions .truck-length {
    left: 50%;
    transform: translateX(-50%);
    top: -7px
}

#bookingFormV2 .btn-arrow {
    background-position: 0 -96px;
    width: 26px;
    height: 26px;
    margin-top: -2px;
}

#bookingFormV2 .panel-heading:hover .btn-arrow {
    /*    background-position: -26px -96px;*/
    cursor: pointer;
}

#bookingFormV2 .panel-heading:hover {
    /*cursor: pointer;*/
}

#bookingFormV2 .on .btn-arrow {
    background: url("../images/sprite.png") no-repeat;
    background-position: 0 -122px;
}

#bookingFormV2 .panel-heading.on:hover .btn-arrow {
    background-position: 0 -122px;
}

#bookingFormV2 .panel-heading.on small {
    display: none;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

#bookingFormV2 .panel-group .panel + .panel {
    margin-top: 0px;
}

#bookingFormV2 #collapseWhere .btn-delete {
    display: none;
}

#bookingFormV2 #collapseWhere .hasStops .btn-delete, #bookingFormV2 .changeOrder {
    display: block;
}

#bookingFormV2 #collapseWhere .hasStops .swapLocation {
    /*display: none;*/
}

#bookingFormV2 .hasStops .dropdown-menu.dropdown-menu-custom {
    right: 0px;
}

#bookingFormV2 .allStops {
    display: none;
    margin: 0 -15px 0 -24px;
    padding: 0 15px 0 24px;
}

.hasStops {
    /*    max-height: 300px;*/
    overflow-y: auto;
}

#bookingFormV2 .hasValue .form-control {
    border-color: #f64656;
}

#bookingFormV2 .hasValue .form-control {
    border-color: #f64656;
    background: #F7FBFC;
}

#bookingFormV2 .hasValue .input-group-btn .btn-verify {
    background: url(../images/sprite.png) no-repeat #f64656;
    background-position: 0 -540px;
    background: ;
}

#bookingFormV2 .hasStops .allStops {
    display: block;
}

#bookingFormV2 .input-group-btn .btn-delete {
    /*    background-position: 0 -296px;*/
    width: 24px;
    margin-left: 1px;
}

button:active, .button:active, button:focus, .button:focus, button:hover, .button:hover, input[type="checkbox"]:focus, input[type="checkbox"]:active {
    border: none !important;
    outline: none !important;
}

#bookingFormV2 .input-group-btn .btn-dropdown {
    background-position: 0 -332px;
}

#bookingFormV2 .hasStops .input-group-btn .btn-dropdown {
    background-position: -6px -332px;
}

#bookingFormV2 .hasStops .input-group-btn .btn-dropdown:hover {
    background-position: -42px -332px;
}

#bookingFormV2 .input-group-btn .btn-dropdown:hover {
    background-position: -36px -332px;
}

textarea:hover, input:hover, textarea:active, input:active, textarea:focus, input:focus, button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active {
    outline: 0px !important;
/*    -webkit-appearance: none;*/
}

#bookingFormV2 .dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #ccc;
    border: 0px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .175);
    box-shadow: 0 0 30px rgba(0, 0, 0, .175);
}

#bookingFormV2 .input-group.recentLocationsOn .recentLocations.dropdown-menu {
    display: block;
}

#bookingFormV2 .input-group.savedLocationsOn .savedLocations.dropdown-menu {
    display: block;
}

#bookingFormV2 .input-group.savedLocationsOn .btn-dropdown {
    background-position: 0 -369px;
}

#bookingFormV2 .input-group.on input, #bookingFormV2 .input-group.on .btn-dropdown {
    position: relative;
    z-index: 5;
}

#bookingFormV2 .citiesList {
    width: 110px;
    min-width: inherit;
    margin-right: 28px;
    margin-top: 0;
    padding: 7px 0;
}

#bookingFormV2 .citiesList a {
    font-size: 18px;
    color: #58535e;
    padding: 7px 12px;
    margin-top: 5px;
    margin: 0;
}

#bookingFormV2 .input-group-addon, #bookingFormV2 .input-group-btn {
    width: 0.01%;
}

#bookingFormV2 .citiesList a.active {
    :
}

#bookingFormV2 .selectCity {
    font-weight: 300;
    text-decoration: none;
    padding: 0;
    margin-right: 12px;
    color: #4E5454;
    margin-top: -3px;
    padding-right: 33px;
}

#bookingFormV2 .selectCity .caret {
    background-position: 0 -98px;
    width: 9px;
    height: 9px;
    margin-left: -5px;
    border-color: #4E5454;
    transform: rotate(45deg) translateX(-140%);
    border-width: 2px;
}

#bookingFormV2 .locationStop {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: -8px;
    color: #f64656;
    font-weight: 600;
    background: transparent;
}

#bookingFormV2 .locationStop em {
    width: 15px;
    height: 15px;
    display: block;
    font-weight: normal;
    color: #000;
    line-height: initial;
    font-style: normal;
    text-align: center;
    font-size: 11px;
    margin-left: 2px;
    padding-top: 1px;
}

#bookingFormV2 label {
    position: relative;
}

#bookingFormV2 .customCheckbox input[type="radio"]:before, #bookingFormV2 .customCheckbox input[type="radio"]:checked:before {
    display: none;
}

#bookingFormV2 .customCheckbox input[type="radio"] {
    margin: 0;
    width: 0;
    position: absolute;
    left: -2000px;
}

#bookingFormV2 .customCheckbox label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: 100px;
    border: 1px solid #929A9B;
}

#bookingFormV2 #confirmBookingForm .customCheckbox label:before {
    border: 0px solid #929A9B;
    border-radius: 0;
    background-color: #F7FBFC;
}

#bookingFormV2 .customCheckbox label.on {
    font-size: 16px;
    color: #141515;
    font-weight: bold;
}

#bookingFormV2 .customCheckbox label.on:before {
    background: #87E9FF;
    background-color: #87E9FF;
    border: 1px solid #87E9FF;
}

#bookingFormV2 .timeSlotSmall.customCheckbox label:before {
    border: 1px solid #ede9f1;
}

#bookingFormV2 .customCheckbox label em {
    font-style: normal;
    position: relative;
    top: 50%;
    margin-top: -9px;
    font-weight: normal;
}

#bookingFormV2 .customCheckbox label.disabled:before, #bookingFormV2 .customCheckbox label.disabled.on:before {
    background: #ede9f1;
    border: 1px solid #ede9f1;
}

#bookingFormV2 label.disabled, #bookingFormV2 label.disabled.on {
    color: #aaa4b1;
}

#bookingFormV2 .timeSlot label.disabled {
    cursor: default;
}

#bookingFormV2 .customCheckbox label {
    margin-right: 5px;
    margin-bottom: 7px;
    margin-top: 8px;
    font-weight: normal;
    padding: 4px 13px;
    cursor: pointer;
}

#bookingFormV2 #confirmBookingForm .customCheckbox label {
    background-color: #F7FBFC !important;
    display: block;
    padding: 11px 10px;
    margin-right: 37px;
}

#bookingFormV2 #confirmBookingForm .customCheckbox label i {
    display: inline-block;
    position: relative;
    z-index: 2;
    vertical-align: bottom;
    margin-right: 25px;
}

#bookingFormV2 #confirmBookingForm .customCheckbox label.on i.bg-off, #bookingFormV2 #confirmBookingForm .customCheckbox label i.bg-on {
    display: none;
}

#bookingFormV2 #confirmBookingForm .customCheckbox label.on i.bg-on {
    display: inline-block;
}

#bookingFormV2 .timeSlot label {
    padding: 7px 28px;
    margin-right: 13px;
}

#bookingFormV2 .timeSlotHours label {
    margin-bottom: 15px
}

#bookingFormV2 .timeSlotSmall label {
    padding: 4px 7px 3px;
}

#bookingFormV2 .input-group-btn .btn-verify {
    height: 36px;
    background: #fff;
    width: auto;
    padding: 5px 27px;
    font-weight: 300;
    border: 1px solid #929A9B !important;
    color: #4E5454;
    margin-left: 6px;
}

#bookingFormV2 .customConfirmInput input {
    border: 0px solid #d1ccd6;
    height: 36px;
    color: #000000;
}

#bookingFormV2 .customConfirmInput label {
    margin-top: 30px;
    color: #056DB4;
    font-weight: 400;
}

#bookingFormV2 .mobileSection {
    /* padding-right: 38px */
}

#bookingFormV2 .btn-confirm:disabled {
    background: #d1ccd6;
    color: #898390;
    opacity: 1;
}

#bookingFormV2 .btn-confirm {
    margin: 25px 0;
}

#bookingFormV2 .customConfirmInput .input-group-small {
    /* width: 313px; */
}

/*#bookingFormV2  .otpConfirm{
    display: none;
}*/
#bookingFormV2 .otpConfirm input {
    font-weight: 600;
}

#bookingFormV2 .otpConfirm input.error {
    color: #f64656 !important;
}

#bookingFormV2 .timeSlotMonth label {
    padding: 3px 6px;
    margin: 0px 14px 12px 0px;
    min-width: 32px;
    text-align: center;
}

#bookingFormV2 h6 {
    font-size: 14px;
    color: #929A9B;
}

#bookingFormV2 .days ul {
    margin-bottom: 0;
}

#bookingFormV2 .days li {
    font-size: 12px;
    color: #898390;
    width: 32px;
    text-align: center;
    padding: 0;
    margin-right: 15px;
}

#bookingFormV2 #collapseWhen .panel-body {
    min-height: 401px;
    margin-bottom: 10px;
}

#bookingFormV2 .timeSlotNow h3 {
    font-size: 36px;
    font-weight: 300;
    height: auto;
    margin-top: 15px;
    color: #58535E;
    line-height: 53px;
    width: 85%;
}

#bookingFormV2 .timeSlotNow h3 span {
    font-weight: bold;
    color: #FC3446;
    font-size: inherit;
    display: block;
    margin-top: 5px;
}

/*
#bookingFormV2 .timeSlotMonth,
#bookingFormV2 .availableTimeSlotNow,
#bookingFormV2 .timeSlotHours{
    display: none;
}
*/
#bookingFormV2 .availableTimeSlotNow h3 {
    color: #aaa4b1;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#bookingFormV2 .availableTimeSlotNow h3 span {
    color: #58535e;
    font-weight: 600;
    display: block;
    font-size: 18px;
}

#bookingFormV2 .timeSlotMonth label.disabled {
    color: #ece9f1;
}

#bookingFormV2 .timeSlotMonth.customCheckbox label.disabled:before {
    background: #fff;
}

#bookingFormV2 .muted {
    color: #aaa4b1;
}

#bookingFormV2 #collapseWhat h6 {
    color: #263646;
    font-weight: 400;
}

#bookingFormV2 .list-inline > li {
    padding-right: 0;
    padding-left: 0;
}

#bookingFormV2 .shippingItems {
    padding-bottom: 10px;
}

#bookingFormV2 span.shippingItems {
    color: #757E7F;
    text-align: center;
    border: 1px solid #DFE6E8;
    display: inline-block;
    padding: 2px 15px;
    font-weight: 300;
    border-radius: 34px;
    margin-bottom: 10px;
    margin-right: 5pxl
}

#bookingFormV2 .shippingItems label {
    padding: 4px 14px;
    margin-right: 3px;
    color: #898390;
    margin-bottom: 0px;
}

#bookingFormV2 .shippingItems label:before {
    border-color: #d1ccd6;
}

#bookingFormV2 .confirmationMessage {
    color: #263646;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0 10px;
    /* margin-right: 70px; */
}

#bookingFormV2 .confirmationMessage i {
    display: inline-block;
    width: 70px;
    height: 99px;
    float: left;
    margin-right: 10px;
    background: url(../images/congratulaions.png) no-repeat;
}

#bookingFormV2 .confirmationMessage big {
    font-size: 39px;
    font-weight: 300;
}

#bookingFormV2 .customConfirmInput .btn-link {
    color: #138ed3;
    text-decoration: none;
    padding: 0;
}

#bookingFormV2 .customConfirmInput .btn-resend-otp {
    margin-left: 67px;
}

.error {
    font-weight: 300;
    color: #f64656;
    font-size: 16px !important;
}

#bookingFormV2 .customShippingInput {
    border-bottom: 2px solid #ede9f1;
    margin-bottom: 17px;
    padding-top: 2px;
    padding-bottom: 0px;
}

#bookingFormV2 .customShippingInput input:focus {
    background: #fff
}

#bookingFormV2 .customShippingInput input.added, #bookingFormV2 .customShippingInput input:focus.added {
    font-weight: 600;
    color: #4E5454;
    background: #fff;
    padding-left: 10px;
}

#collapseWhat .panel-body {
    padding-bottom: 10px;
}

#bookingFormV2 .customShippingInput input {
    background: #fff;
    padding-left: 10px;
}

#bookingFormV2 .tooltip {
    opacity: 1;
    width: 160px;
    background: #263646;
    padding: 10px;
    margin-top: 6px;
    border-radius: 4px;
    box-shadow: 1px 2px 4px #999;
}

#bookingFormV2 .tooltip i {
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #263646;
    top: -7px;
}

#bookingFormV2 .tooltip.right {
    right: 0;
}

#bookingFormV2 .tooltip.right i {
    right: 10px;
}

#bookingFormV2 .tooltip p {
    white-space: normal;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
}

#bookingFormV2 .tooltip .btn-link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    float: right;
    background: #1f2e3c;
    padding: 4px 9px;
}

#bookingFormV2 .btn-map, #bookingFormV2 .btn-user {
    text-decoration: none;
    color: #9b9b9b;
    padding: 0;
    margin-right: 25px;
    font-weight: 300;
    background: transparent;
}

#bookingFormV2 .btn-user img{background: #ddd;width: 28px;height: 28px;display: inline-block;border-radius: 50px;vertical-align: middle;margin-right: 10px;}

#bookingFormV2 .btn-user {
    text-decoration: none;
    margin-right: 25px;
    font-weight: 500;
    background: #fff;
    width: 140px;
    padding: 7px;
    font-size: 12px;
    color: #141515;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-height: 44px;
    box-shadow: 1px 1px 5px rgba(000,000,000,0.5);
    border-radius: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#bookingFormV2 .btn-map span {
    width: 24px;
    height: 24px;
    background: url(../images/sprite.png) no-repeat;
    background-position: 0 -263px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -2px;
}

#bookingFormV2 .btn-map {
    display: none;
}

#bookingFormV2 .userBar {
    position: absolute;
    z-index: 2;
    top: 22px;
    right: 0;
}

#bookingFormV2 .logoSmall {
    margin-right: 24px;
}

#bookingFormV2 .optimizePath {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}

#bookingFormV2 .btn-save, #bookingFormV2 .btn-saved {
    color: #138ed3;
    text-decoration: none;
    position: absolute;
    right: 0;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.2px;
}

#bookingFormV2 .btn-saved {
    color: #aaa4b1;
}

#bookingFormV2 .btn-save i, #bookingFormV2 .btn-saved i {
    background: url(../images/sprite.png) no-repeat #d1ccd6;
    background-position: 0 -148px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -1px;
}

#bookingFormV2 .btn-saved i {
    background: url(../images/sprite.png) no-repeat #d1ccd6;
    background-position: 0 -166px;
}

#bookingFormV2 .saveAddress,
.confirmOptimization,
.bookingSummary,
.saveRoute,
.coupon-terms-and-conditions,
.rebook-error-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.rebook-error-modal {display: none;}

#bookingFormV2 .translucent,
.confirmOptimization .translucent,
.coupon-terms-and-conditions .translucent,
.rebook-error-modal .translucent {
    background: #000;
    opacity: 0.58;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#bookingFormV2 .confirmationBlock {
    height: auto !important;
}

#bookingFormV2 .saveAddressForm, #bookingFormV2 .confirmationBlock,
#bookingFormV2 .saveRouteForm, #bookingFormV2 .bookingSummaryForm,
#bookingFormV2 .coupon-terms-and-conditions-container,
.rebook-error-message-block {
    position: absolute;
    z-index: 1;
    width: 380px;
    min-height: 420px;
    background: #fff;
    top: 50%;
    margin-top: -240px;
    margin-left: -240px;
    left: 50%;
    padding: 30px;
    border: 0px solid #ddd;
    box-shadow: 0 0 25px rgba(000,000,000,0.1);
}

#bookingFormV2 .coupon-terms-and-conditions-container {
  min-height: 200px;
}

#bookingFormV2 .saveAddressForm{
    height:auto;
    min-height: 300px;
}

#bookingFormV2 .bookingSummaryForm {
    width: 480px;
    /*min-height: 600px;*/
    margin-top: -320px;
}

#bookingFormV2 .bookingOtpVerify .bookingSummaryForm {
    width:400px;
    height: 320px;
    margin-left: : 13%;
}

.bookingSummary .payment-mode-group {
  display: flex;
}

.bookingSummary .payment-mode-group .radio-payment-mode {
  display: flex;
}

.bookingSummary .payment-mode-group .radio-payment-mode input {
  display: none;
}

.bookingSummary .payment-mode-group .radio-payment-mode label {
  cursor: pointer;
  padding: 10px 15px 5px 15px;
  flex: 1;
  display: flex;
  margin: auto;
}

.bookingSummary .payment-mode-group .radio-payment-mode #paymentModeCash + label {
  padding-left: 0;
}

.bookingSummary .payment-mode-group .radio-payment-mode label > div.text {
  margin: auto;
  font-weight: normal;
}

.bookingSummary .payment-mode-group .radio-payment-mode label > div.image {
  width: 26px;
  height: 100%;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  cursor: pointer;
  margin-right: 10px;
}

.bookingSummary .payment-mode-group input:checked + label .bg-RadioUnSelected {
  display: none;
}

.bookingSummary .payment-mode-group label .bg-RadioUnSelected {
  display: block;
}

.bookingSummary .payment-mode-group input:checked + label .bg-RadioSelected {
  display: block;
}

.bookingSummary .payment-mode-group label .bg-RadioSelected {
  display: none;
}

.bookingSummary .summary-text {
  margin-bottom: 0;
}

#bookingFormV2 .bookingOtpVerify .small{
    font-size:12px !important;
    font-weight:300;

}

#bookingFormV2 .bookingOtpVerify p{
    margin-bottom: 15px;
}

#bookingFormV2 .bookingOtpVerify .highlight{
text-transform:capitalize !important;
font-weight:300 !important;
letter-spacing:0px !important;
}

#bookingFormV2 .bookingOtpVerify .form-control{
    background: #f0f5f7;
    height: 45px;
}

#bookingFormV2 .bookingOtpVerify .bookingSummaryForm .btn-link-save,
 #bookingFormV2 .bookingOtpVerify .bookingSummaryForm .btn-link-save:hover{
     width:100%;
     height:50px;
     margin: 30px 0 0 0;
     position: absolute;
     bottom: 30px;
     max-width: 340px;
     opacity: 1;
     font-size: 18px;
     left: 50%;
     transform: translateX(-50%);
 }

#bookingFormV2 .saveRouteForm {
    max-width: 920px;
    height: 600px;
    min-width: 600px;
}

#bookingFormV2 .saveRouteForm h3 {
    margin-bottom: 20px
}

#bookingFormV2 .saveRouteForm .row {
    padding-left: 30px
}

#bookingFormV2 .saveRouteForm .changeOrder + .input-group input {
    padding-left: 36px;
    width: 100%;
}

#bookingFormV2 .saveRouteForm .locationStop, #bookingFormV2 .saveRouteForm .locationFrom, #bookingFormV2 .saveRouteForm .locationTo {
    left: 20px
}

#bookingFormV2 .saveRouteForm .changeOrder + .input-group {
    display: block;
    overflow: hidden;
}

.btn-downloadapp img {
    width: 116px;
}

#bookingFormV2 .saveAddressForm h3,
#bookingFormV2 .confirmationBlock h3,
.bookingSummaryForm h3,
.saveRouteForm h3,
.coupon-terms-and-conditions-list h3 {
    color: #0180A8;
    font-size: 18px !important;
    margin-top: 0;
}

#bookingFormV2 .saveAddressForm .form-control {
    background: #fff;
    margin: 15px 0;
    height: initial;
    font-weight: 300;
    background-color: #F0F5F7;
    color: #141515;
}

#bookingFormV2 .saveAddressForm textarea.form-control {
    padding: 20px 24px;
    height: 127px;
    line-height: 1.7em;
}

#bookingFormV2 .saveAddressForm input.form-control {
    padding-top: 12px;
    padding-bottom: 12px;
}

#bookingFormV2 .saveRouteForm .btn-link,
#bookingFormV2 .saveRouteForm .btn-link:hover,
#bookingFormV2 .bookingSummaryForm .btn-link,
#bookingFormV2 .bookingSummaryForm .btn-link:hover,
#bookingFormV2 .saveAddressForm .btn-link,
#bookingFormV2 .saveAddressForm .btn-link:hover,
.confirmationBlock .btn-link,
.confirmationBlock .btn-link:hover,
.coupon-terms-and-conditions-list .btn-link:hover {
    background: #fff;
    text-decoration: none;
    font-weight: 500;
    color: #898390;
    padding: 7px 32px;
    margin-left: 0px;
    font-size: 14px;
    margin-top: 18px;
    border: 1px solid #929A9B !important;
}

#bookingFormV2 .saveRouteForm .btn-link-save,
#bookingFormV2 .saveRouteForm .btn-link-save:hover,
#bookingFormV2 .bookingSummaryForm .btn-link-save,
#bookingFormV2 .bookingSummaryForm .btn-link-save:hover,
#bookingFormV2 .saveAddressForm .btn-link-save,
#bookingFormV2 .saveAddressForm .btn-link-save:hover,
#bookingFormV2 .confirmationBlock .btn-link-save,
#bookingFormV2 .confirmationBlock .btn-link-save:hover,
#bookingFormV2 .coupon-terms-and-conditions-list .btn-link-save:hover {
    color: #0180A8;
    background-color: #F7FBFC;
    border: 1px solid #0AD1F2 !important;
    margin-left: 7px;
}

#bookingFormV2 .mapBar {
    font-size: 20px;
    color: #263646;
    font-weight: 500;
    padding: 15px;
    z-index: 3;
    position: absolute;
    right: 0;
    left: 0;
    background: #fff;
    display: none;
}

#bookingFormV2 .bgBlue {
    background-color: #C5F4FF;
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 3px;
}

#bookingFormV2 .bookingSummaryForm .highlight {
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: #FF6E80;
}

#bookingFormV2 .bookingSummaryForm .btn-link-save, #bookingFormV2 .bookingSummaryForm .btn-link-save:hover {
    background-color: #87E9FF;
    color: #000000;
    font-family: Heebo;
    font-size: 14px;
    font-weight: bold;
    width: 299px;
}

#bookingFormV2 .mapBar .btnClose {
    background: url(../images/sprite.png) no-repeat #d1ccd6;
    background-position: 0 -305px;
    height: 24px;
    width: 24px;
    margin-top: -4px;
}

#bookingFormV2 .mapBar .btnOk {
    background: url(../images/sprite.png) no-repeat #d1ccd6;
    width: 24px;
    height: 24px;
    float: right;
    margin: 0px 5px 5px 5px;
    background-position: 0 -510px;
}

#bookingFormV2 #sideBar #menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 72px;
    border-right: 1px solid #DFE6E8;
}

#bookingFormV2 #sideBar #menu ul {
    margin: 0;
    padding: 0;
}

#bookingFormV2 #sideBar #menu ul li {
    list-style: none;
}

#bookingFormV2 #sideBar #menu ul strong {
    text-transform: uppercase;
    font-size: 11px !important;
    display: block;
    color: #757E7F;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 15px;
    height: 15px;
}

#bookingFormV2 #sideBar #menu ul li span {
    display: inline-block;
    margin: 24px auto 0;
}

#bookingFormV2 #sideBar #menu a {
    display: block;
    text-align: center;
    font-weight: bold;
    height: 108px;
    text-decoration: none;
    position: relative;
}

#bookingFormV2 #sideBar #menu a:hover {
    text-decoration: none;
}

#bookingFormV2 #sideBar #menu a.on {
    background-color: #FFF7F9;
}

#bookingFormV2 #sideBar #menu a.on strong {
    color: #FC3446;
}

#bookingFormV2 #sideBar #menu a.first {
    height: 72px;
}

#bookingFormV2 #sideBar #menu a.first span {
    font-size: 0px !important;
    margin-top: 14px !important;
    ; }

#bookingFormV2 #sideBar hr {
    border-bottom: 1px solid #979797 !important;
    height: 1px;
    clear: both;
    margin: 0 0 15px;
}

#bookingFormV2 .sidebar-actions {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding: 20px;
    border-top: 2px solid #DFE6E8;
    right: 0;
    left: 72px;
    z-index: 11;
    background: #fff;
}

#bookingFormV2 .sidebar-actions .btn-primary, #bookingFormV2 .sidebar-actions .btn-primary:hover, #bookingFormV2 .sidebar-actions .btn-default, #bookingFormV2 .sidebar-actions .btn-default:hover {
    border: 1px solid !important;
    border-color: #929a9b !important;
    background: #fff;
    margin: 0 0 0 15px;
    font-size: 14px;
    color: #4E5454;
    padding: 0px 15px;
    text-transform: capitalize;
    font-weight: normal !important;
    height: 36px;
    line-height: 36px;
    float: none;
    font-family: inherit;
}

#bookingFormV2 .vehicleDetails .btn-more.on, #bookingFormV2 .vehicleDetails .btn-more:hover #bookingFormV2 .sidebar-actions .btn-primary, #bookingFormV2 .sidebar-actions .btn-primary:hover {
    border-color: #0AD1F2 !important;
    background-color: #F7FBFC;
    color: #0180A8;
}

#bookingFormV2 .sidebar-actions .btn-primary[disabled] {
    border: 1px solid !important;
    border-color: #929a9b !important;
    color: #4E5454;
    opacity: .5;
}

#bookingFormV2 .editAddressBar {
    background-color: #F7FBFC;
    padding: 7px 0 7px 44px;
    position: relative;
    top: -26px;
}

#bookingFormV2 .editAddressBar .btn {
    font-size: 12px;
    color: #4E5454;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
}

.editAddressBar .btn {
    height: 18px;
    color: #4E5454;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 18px;
    padding: 0;
    background: transparent;
    margin-right: 30px;
}

#bookingFormV2 .editAddressBar span {
    display: inline-block;
    vertical-align: top;
}

.bookingSummary hr {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid #DFE6E8 !important;
    margin: 10px 0 15px 0;
}

.text-muted {
    color: #929A9B;
}

#gMap .ghostToggle{
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateX(-50%);
    width: 29px;
    height: 27px;
    background:url("../images/Ghost-MarkerOFF.png") no-repeat center #fff;
    z-index: 1;
    margin-top: -55px;
    box-shadow:0 0 1px #ccc;
    border-radius: 2px 2px 0 0;
    cursor: pointer;
}

#gMap .ghostToggle:after{
    content:"";
    position:absolute;
    bottom:0;
    height:1px;
    background:#ddd;
    left:5px;
    right:5px;
}

#gMap .ghostToggle.off{
    background:url("../images/ghost-marker.png") no-repeat center #fff;
}

@media (max-width: 600px) {


    #bookingFormV2 .bookingSummaryForm{
        width: 100% !important;
        margin-left: 0px !important;
        overflow: scroll;
        height: 100% !important;
        margin-top: 0% !important;
        top: 0;
        left: 0;
    }

    #bookingFormV2 .bookingSummaryForm .btn-link-save, #bookingFormV2 .bookingSummaryForm .btn-link-save:hover
    {
        width: 109px;
        padding: 7px 0px;
        margin-left: 15px;
    }
    #bookingFormV2 h1{
        text-align:center;
    }
    #bookingFormV2 .panel-default > .panel-heading {
        padding: 13px 15px 14px 15px;
    }
    #bookingFormV2 .btn-back{
        display: block;
    }

    #bookingFormV2 .sidebar-actions{
        left: 0;
    }
    #bookingFormV2 #sideBar #menu{
        display: none;
    }
    #bookingFormV2 h2 {
        font-size: 16px;
    }

    #bookingFormV2 .confirmationBlock {
        width: auto;
    }

    #bookingFormV2 .saveAddressForm,
    #bookingFormV2 .confirmationBlock,
    #bookingFormV2 .coupon-terms-and-conditions-container {
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        margin-left: 0;
        z-index: 999;
    }

    #bookingFormV2 #sideBar {
        width: 100%;
        padding-left: 0;
    }

    #bookingFormV2 .panel-body {

    padding: 0 15px 0 15px;
}

    #bookingFormV2 #gMap {
        left: 0;
    }

    #bookingFormV2 .selectCity, #bookingFormV2 .logoSmall {
        display: none;
    }

    #bookingFormV2 .btn-map {
        display: inline-block;
    }

    #bookingFormV2 .btn-user img {
        width: 24px;
        height: 24px;
    }

    #bookingFormV2 .promoCode label {
      padding: 0px 0px 10px 15px;
    }
    #bookingFormV2 .promoCode .input-group-small {
      padding: 0 0 0 8px;
    }

    #bookingFormV2 .labourRequiredWrapper label {
      padding: 5px 1%;
    }
}

.pointer {
    cursor: pointer;
}

#googleMap {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}

.coverage-message {
    text-align: center;
    font-size: 20px;
    color: red;
}

#calendar {
    margin: 0 !important;
}

.mlr15{
    margin: 0 15px;
}

a {
    cursor: pointer !important;
}

#bookingFormV2 .timeFrameDefault h2 {
    color: #e6e6e6;
    font-size: 36px;
    font-weight: 300;
    height: auto;
    line-height: 40px;
    margin-top: 5px;
}


.sidebar-actions #addStop{
    margin: 0px;
}

#collapseWhere{}

.noScrollBody {
    overflow-y: hidden !important;
}

.scrollBody {
    overflow-y: auto !important;
}

.invalidForm {
    color: red !important;
}

.validForm {
    color: green !important;
}

.timeslotRequired {
    color: #f64656 !important;
}

.saveRouteForm {
    overflow: auto !important;
    max-height: 500px !important;
    min-width: 800px !important;
    left: calc(50% - 400px) !important;
    top: calc(50% - 250px) !important;
    margin: 0 auto !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.glyphicon {font-family: 'Glyphicons Halflings' !important;}

.timeBoard {display: table-cell;vertical-align: middle;padding: 0 6%;width: 30%;border:1px solid #ecdddd !important;}
.width30 {width: 30% !important;}
.width12 {width: 12% !important;}
.btn-time {width: 100% !important;}
.btn-time:hover {background-color: #87E9FF !important;}
#timeForm div.timepicker-hours  .disabled {color: #e4e5e6 !important;}

#bookingFormV2 .route-card {
    width: 250px;
    min-height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #e7e7eb;
}

#bookingFormV2 .route-card-header {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 3px;
    font-weight: bold;
}

#bookingFormV2 .route-card-body {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#bookingFormV2 .route-card-details {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}

#bookingFormV2 .route-card-details-bold {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#bookingFormV2 .saved-route-popup {
    top: auto;
    padding: 0px;
    max-height: 400px;
    overflow: auto;
}

#bookingFormV2 .fare-estimation-info {
    position: absolute;
    top: 10px;
    left: 35%;
    padding: 5px;
    z-index: 2;
    max-width: 15%;
    min-width: 14%;
    background: #263646;
    padding: 10px;
    color: #fff;
    opacity: 0.8;
    box-shadow: 1px 2px 4px #999;
}

#bookingFormV2 .fare-estimation-info .row {margin: 0;}
#bookingFormV2 .fare-estimation-info h4 {font-size: 12px;margin-top: 0;margin-bottom: 5px;padding-bottom: 2px;}
#bookingFormV2 .fare-estimation-info .fare {font-weight: bold;}
#bookingFormV2 .fare-estimation-info .attributes, #bookingFormV2 .fare-estimation-info .attributes b {font-size: 12px;}
#bookingFormV2 .fare-estimation-info .fare-message p {font-size: 10px;text-align: justify;margin-bottom: 0;}
@media (max-width: 1280px) {
    #bookingFormV2 .fare-estimation-info {top: 10px;left: 38%;}
}

@media (max-width: 768px) {
    #bookingFormV2 .fare-estimation-info {top: 11%;left: 1%;max-width: 60%;}
}

.landmark-input {text-align: left;}
.input-zero-margin {margin-bottom: 0 !important;}
.input-warning {color: white;font-size: 14px;}
.input-warning .fa-warning {color: rgb(255, 0, 0);}

@media (max-width: 1024px) {
    .input-warning {font-size: 12px;}
}
@media (max-width: 768px) {
    .input-warning {font-size: 12px;}
}
@media (max-width: 600px) {
    .input-warning {font-size: 12px;}
}

.labourOptions {padding: 20px 20px 0 25px;}
.labourOptions label:hover {cursor: pointer;}
.labourOptions input {width: 20px;height: 20px;vertical-align: bottom;position: relative;top: -1px;display: none;}
.labourOptions span {font-style: normal;font-weight: 400;}

.expanded-labour-panel {max-height: 450px;}
.collapsed-labour-panel {max-height: 0;}
.labourPanelWrapper {padding-top:10px;}

#bookingFormV2 .labourOptionsContainer {
    /*padding-left: 25px;
    padding-right: 10px;*/
    flex: 1;
    height: auto;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #F7FBFC;
    -webkit-transition: all 1s ease;
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    transition: max-height 0.5s;
}

#bookingFormV2 .labourOptionsContainer .labourOptions {
    overflow-y: auto;
    padding: 0 0;
    width: 100%;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption {
    width: 100%;
    margin: 0 0;
    background-color: white;
    box-shadow: 0 2px 2px 0 #C9D2D6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption input {
    display: none;
}
#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption label {
    cursor: pointer;
    padding: 5px 15px;
    flex: 1;
    margin: 0px;
}
#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption label h2 {
    color: #4E5454;
}
#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption  label .bg-RadioUnSelected {
    display: block;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption  label .bg-RadioSelected {
    display: none;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption input:checked  + label .bg-RadioUnSelected {
    display: none;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption  input:checked  + label .bg-RadioSelected {
    display: block;>
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption .image {
    width: 45px;
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
}

#bookingFormV2 .labourOptionsContainer .labourOptions .labourOption .details {
    color: #4E5454;
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
}

/* Checkbox */
#bookingFormV2 .labourRequiredWrapper {
    /*padding-left: 25px;
    padding-right: 10px;*/
    flex: 1;
    max-height: calc(100vh - 450px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #F7FBFC;
    padding-bottom: 5%;
}

#bookingFormV2 .labourRequiredWrapper {
    width: 100%;
    margin: 0 0;
    background-color: white;
    /* box-shadow: 0 2px 2px 0 #C9D2D6; */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
}

#bookingFormV2 .labourRequiredWrapper input {
    display: none;
}
#bookingFormV2 .labourRequiredWrapper label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
#bookingFormV2 .labourRequiredWrapper label {
    cursor: pointer;
    padding: 5px 15px;
    flex: 1;
    margin: 0px;
}
#bookingFormV2 .labourRequiredWrapper label .bg-CheckOFF {
    display: block;
}

#bookingFormV2 .labourRequiredWrapper label .bg-CheckON {
    display: none;
}

#bookingFormV2 .labourRequiredWrapper input:checked  + label .bg-CheckOFF {
    display: none;
}

#bookingFormV2 .labourRequiredWrapper input:checked  + label .bg-CheckON {
    display: block;
}

#bookingFormV2 .labourRequiredWrapper .image {
    width: 45px;
    height: 100%;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    cursor: pointer;
}

#bookingFormV2 .labourRequiredWrapper .details {
    color: #4E5454;
    font-family: Heebo;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    cursor: pointer;
}

#bookingFormV2 .podSelectionBlock label {
  display: flex;
  padding: 10px 5px 0px 0px;
  cursor: pointer;
}

#bookingFormV2 .podSelectionBlock label .podDisplayText {
  font-weight: 400;
  padding-left: 5px;
}

#bookingFormV2 .podSelectionBlock .podRate {
  font-size: 10px;
  padding: 0 30px;
}

font-size: 10px;
padding-left: 30px;

#bookingFormV2 .podSelectionBlock label .bg-CheckOFF {
  display: block;
}

#bookingFormV2 .podSelectionBlock label .bg-CheckON {
  display: none;
}

#bookingFormV2 .podSelectionBlock input {
  display: none;
}

#bookingFormV2 .podSelectionBlock input:checked  + label .bg-CheckOFF {
  display: none;
}

#bookingFormV2 .podSelectionBlock input:checked  + label .bg-CheckON {
  display: block;
}

#bookingFormV2 .promoCode {
    flex: 1;
    height: auto;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #fff;
}

#bookingFormV2 .promoCode label {
    padding: 0px 0px 10px 25px;
    margin: 10px 0px 0px 0px;
    flex: 1;
}

#bookingFormV2 .promoCode .input-group-small {
    padding: 0 0 0 15px;
}

#bookingFormV2 .promoCode .input-group-small div {
    padding-bottom: 10px;
}

#bookingFormV2 .promoCode .input-group-small div .input-group-btn button:disabled {
    background: #7f81816b;
}

#bookingFormV2 .promoCode .input-group-small .coupon-code-error {
  padding: 0 25px;
  font-size: 12px !important;
}
#bookingFormV2 .promoCode .confirmationMessage .more-info {
  font-size: 12px;
  font-weight: bold;
  color: #0180A8;
  float: right;
  cursor: pointer;
}

#bookingFormV2 .promoCode .confirmationMessage .more-info:hover {
  text-decoration: underline;
}

#bookingFormV2 .coupon-terms-and-conditions-list {
  margin-top: 2%;
}

#bookingFormV2 .coupon-terms-and-conditions-list ul {
  padding: 0 6%;
}
.e-discount_value {
  font-size: 10px !important;
}

.fare-disclaimer {font-size: 10px !important;margin-bottom: 0;}

.city-wrapper {
    background-color: #fff;
    border-bottom: 2px solid rgb(143, 141, 141);
}
.city-details {
    padding-top: 50px;
    padding-bottom: 50px;
}
.city {
    font-family: heebo;
    font-weight: 400;
    font-size: 16px;
}
.about-city {
    margin-bottom: 45px;
}
.city_links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.city_links li {
    list-style: none;
    font-family: heebo;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}
.city_links li a {
    color: rgb(90, 4, 116);
}

.city_links li a:hover{
    color: rgb(9, 152, 184);
}
.error-page-wrapper {
    background-color: #363636;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    flex-shrink: 0;
    flex-grow: 1;
}
.error-image {
    width: 500px;
    height: 400px;
}
.home-btn {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 30px;
    font-family: 'heebo';
    color: #f3ebdd;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    background-image: linear-gradient(to right bottom, #0acf24, #00c46c, #00b595, #00a3a7, #088fa3);
    box-shadow: 2px 2px 10px 0px rgba(61, 59, 59, 0.3);
    margin-bottom: 30px;
}
.home-btn:hover{
    box-shadow: 7px 7px 18px 0px rgba(61, 59, 59, 0.7);
    text-decoration: none;
    color: #035f36;
}
.error-footer {
    background-color: #363636 !important;
    color: white;
    width: 100%;
    margin-top: auto;
}
.error-links-panel {
    height: 100%;
    background-color: #363636;
    color: white;
}
.error-links-panel a{
    color: white;
}
.error-links-panel a:hover{
    color: rgb(63, 188, 238);
}
@media (max-width:500px) {
    .error-image {
        width: 350px;
        height: 250px;
    }
}
.vehicle-options-header {
    font-family: heebo;
    font-size: 24px;
    font-weight: 500;
    color: #4E5454;
    text-align: left;
    margin-bottom: 20px;
}
.vehicles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.vehicle-unit {
    margin: 15px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.vehicle-name {
    padding-top: 10px;
    font-family: heebo;
    font-size: 14px;
    font-weight: 500;
    color: rgb(55, 59, 59);
    justify-self: left;
}
.vehicle-photo {
    width: 90px;
    height: 90px;
    background-color: #F2F2F2;
    border-radius: 100%;
    overflow: hidden;
}
.vehicle-photo img{
    width: 90px;
}

.spinner {
  width: 70px;
  padding: 0 0 15px 0;
}

.spinner > div {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 100% !important;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
