.popover,.fade,.top,.in,#confirmation959047 {
	   // left: 27px !important;
}
.arrow{
	left: 50% !important;
}
.btn-default{
	margin-left: 15px;
	background-color: #ed9c28;
	border-color: #d58512;
}
.btn-danger{
	background-color: #47a447;
	border-color: #398439;
	margin-right: 4px;
}
