.custom-container {padding-right:0 !important; padding-left:0 !important;}
.control-label {text-align: left !important;}
.form-group {margin-bottom: 10px;}
select.form-control {padding: 6px 8px;}
.top-row {font-size: 12px; text-align: center; margin-left: 0; margin-right: 0 !important; margin-top: 4%; background: #fff;}
.coupon {margin-top: 5px;}
.coupon .table>tbody>tr>td, .coupon .table>tbody>tr>th, .coupon .table>thead>tr>td, .coupon .table>thead>tr>th{white-space: nowrap; padding: 4px; font-size: 12px; text-align: center;}
.rowHighlight {background-color: #795548 !important; color: white;}
.rowHighlight a, .rejected a {color: yellow;}
.company-dropdown {padding: 6px 9px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 0;margin-left:-1px;}
.company-clear {padding: 6px 7px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-top-left-radius: 0;border-bottom-left-radius: 0;margin-left:-1px;}
#ifsc_code, #registration_number {text-transform: uppercase;}
#registration_number::-webkit-input-placeholder {text-transform: none;}
#registration_number::-moz-placeholder {text-transform: none;}
.sidebar {border-bottom: none; border-right: 1px solid #ddd;}
.sidebar>li {float: none; cursor: pointer;}
.sidebar>li>a {text-align: center; font-size: 13px; margin-right: 0; display:block; padding: 30px 20px; border-radius: 0;}
.sidebar>li.active>a, .sidebar>li.active>a:hover, .sidebar>li.active>a:focus {background-color: #337ab7; border-color: #337ab7; color: #ffffff;}
.sidebar>li.active>a:after {content: '';position: absolute;left: 100%;top: 50%;margin-top: -13px;border-left: 0;border-bottom: 13px solid transparent;border-top: 13px solid transparent;border-left: 10px solid #337ab7;z-index: 999;}
.address-line {margin-bottom: 10px;}
.address-city, .address-pincode {margin: 10px 0 10px 0;}
.bootstrap-timepicker-widget {z-index: 1060 !important;color: black;}
.bootstrap-timepicker-widget table td input {width: 60px !important;}
.emergency-address, .reference-address {border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075);}
.reference-address>input {margin: 10px 0 10px 0;}
.ui-autocomplete {position: absolute; width: 245!important; top: 100%; left: 0; max-height: 250px; z-index: 9999 !important;overflow: auto; background-color : white;}
.ui-autocomplete li a:hover {text-decoration: none;}
#qr-wrap {margin-top: 10px;}
a.qr-code, a.qr-code:hover {color: #fff;}
.download-btn {width: 256px; position: absolute; left: 15%; top: 80%; opacity: 0; z-index: 999; border-radius: 0;}
.blurred-bg {-webkit-filter: blur(2px); -moz-filter: blur(2px); -o-filter: blur(2px); -ms-filter: blur(2px); filter: blur(2px);}
.pointer {cursor: pointer;}
.submitted .ng-invalid{border-color: #a94442;}
.custom-dropdown {max-height: 200px; height: auto; overflow-x: hidden;}
select, label, input[type="text"], input[type="password"], #company, .dropdown-menu>li>a, .help-block {font-size: 14px !important;}
input[type="checkbox"] {vertical-align: middle; position: relative !important; bottom: 3px; margin-left: 2px;}
input[type="radio"] {vertical-align: middle; position: relative !important; bottom: 3px; margin-left: 2px;}
.filter-input {padding-left: 0; padding-right: 0;}
.dropdown-menu {
    position: absolute !important;
    width: 230px !important;
}
.rowHighlight .override{background-color: #795548 !important; color: white !important;}
div.navbar-default {
    position: absolute !important;
}
.activeRowHighlight{
    background-color: lightgray;
}
.inActiveRowHighlight{
    background-color: palegoldenrod;
}