.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 30px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
  z-index: 1050;
}

.custom-container {padding-right:0 !important; padding-left:0 !important;}
.top-row {font-size: 12px; text-align: center; margin-left: 0; margin-right: 0 !important; background: #fff;padding-top: 2px;}
.coverage .table>tbody>tr>td, .coverage .table>tbody>tr>th, .coverage .table>thead>tr>td, .coverage .table>thead>tr>th{white-space: nowrap; padding: 4px; font-size: 12px; text-align: center;}
.pointer {cursor: pointer;}
input, select, textarea, label, button, form-control, .toast {font-size: 12px !important;}
textarea {resize: none;}
.toast-top-right {top: 37px !important;}
.modal-header .close {font-size: 21px !important;}
.btn-footer {width: 100px;}

/*if you are using bootstrap time-picker uncomment this style*/
/*start*/
/* .bootstrap-timepicker-widget {
    z-index: 1060 !important;
    color: black;
}
.bootstrap-timepicker-widget table td input {
    width: 60px !important;
} */
/*end*/
