.infobox .top-bar {
	margin-left: 10px;
	margin-top: 8px;
}
.infobox .address {
	margin-left: 10px;
	position: absolute;
	top: 35px;
	height: 48px;
	width: 159px;
	color: #303232;
	font-family: Heebo;
	font-size: 14px;
	line-height: 16px;
}

.infobox .title {	height: 21px;	width: 52px;	color: #0180A8;	font-family: Heebo;	font-size: 14px;	font-weight: bold;	line-height: 21px;}
.stroke-40 {
	box-sizing: border-box;
	height: 12px;
	width: 12px;
	border: 1px solid #FC3446;
}

.infobox .bottom-bar {
	position: absolute;
	bottom: 0;
	height: 36px;
	width: 224px;
	font-size: 12px;
	background-color: #F7FBFC;
}

.one-third {
	width: 33.33%;
	position: relative;
	float: left;
	line-height: 36px;
}

.infoBox:after, 
.ghost_hover_infobox:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: -1;
    bottom: -5px;
    margin-left: -5px;
    box-shadow: 0 0 5px #000;
    background: #F7FBFC;
    transform: rotate(-45deg);
}

.ghost_hover_infobox:after {
    background: #303232;
}

.infobox .address {
	height: 48px;
	width: 214px;
	color: #303232;
	font-family: Heebo;
	font-size: 13px;
	line-height: 16px;
}
 
.infobox button.save, .infobox button.saved {
    float: right;
    height: 18px;
    width: 55px;
    color: #4E5454;
    font-family: Heebo;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    margin-right: 0px;
    margin-top: 2px;
}

.infobox .add-contact, .infobox .contact {
	height: 18px; 
	color: #4E5454;
	font-family: Heebo;
	font-size: 12px !important;
	font-weight: 500;
	line-height: 18px;
    width: 100%; 
    margin-left: 0;  
    padding: 0 15px;
    cursor: pointer;
}

.infobox .contact {
padding-top: 10px;
    cursor: text;
}

.infobox .contact, .infobox .contact i.bg-Contact { 
    cursor: text;
}

.infobox button.save i, .infobox button.saved i, .infobox .add-contact i, .infobox .contact i {
    display: inline-block;
    width: 17px;
    margin: 0 2px 0 0;
    padding: 0;
    vertical-align: top;
    height: 16px;
    cursor: pointer;
}

.infobox button.save i.bg-SaveLocHover, .infobox button.saved i.bg-LocSavedHover, .infobox .add-contact i.bg-AddContactHover, .infobox .contact .edit i.bg-EditContactHover {
    display: none;
}

.infobox button.save:hover i.bg-SaveLocHover, .infobox button.saved:hover i.bg-LocSavedHover, .infobox .add-contact:hover i.bg-AddContactHover, .infobox .contact .edit:hover i.bg-EditContactHover {
    display: inline-block;
}

.infobox button.save:hover i.bg-SaveLoc, .infobox button.saved:hover i.bg-LocSaved, .infobox .add-contact:hover i.bg-AddContact, .infobox .contact .edit:hover i.bg-EditContact {
    display: none;
}

.infoBox img{
    margin: 5px !important;
}

.infoBox .title {
	height: 21px;
	color: #0180A8;
	font-family: Heebo;
	font-size: 14px !important;
	font-weight: 400;
	line-height: 21px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 83%;
}

.infoBox button{
    display:inline-block;
    font-size: 14px !important;
    color: #141515;
    width: 72px;
    white-space:nowrap;
    background: transparent;
    text-align:center;
    padding: 0;
    margin-top: 6px;
}
.infoBox button i{
    display:inline-block;
    vertical-align:middle;
}

.red {
	color: red;
}
