.custom-container {
    padding-right:0 !important;
    padding-left:0 !important;
}
.feedback {
    margin-top: 5px;
}
.feedback .table>tbody>tr>td, .feedback .table>tbody>tr>th, .feedback .table>thead>tr>td, .feedback .table>thead>tr>th{
    white-space: nowrap;
    padding: 4px; font-size: 12px;
    text-align: center;
}
.rowHighlight {
    background-color: #795548 !important;
    color: white;
}
.rowHighlight a, .rejected a {
    color: yellow;
}
.pointer {
    cursor: pointer;
}
div.navbar-default {
    position: static !important;
}
