.navbar-default {position: fixed; top:0; width: 100%; z-index: 3;}
.navbar {min-height: 45px;margin-bottom: 5px !important;}
.navbar-default .navbar-brand {padding: 7% 7%;}
.nav>li>a {padding: 11px;font-size: 12px !important;}
.sticky-wrapper {position: fixed; z-index: 999; background: #fff; width: 100%; margin-top: 3.3%; padding-top: 0; padding-bottom: 5px;}
.nav-block {margin-top: 0;}

.title-centered {display: flex;justify-content: center;position: absolute;width: 80%;left: 10%;top: 0;}
.title-centered .page-title {display: flex;align-items: center;font-family: 'Open Sans', sans-serif; color: #555; margin-top: 5px; margin-bottom: 2px;font-size:18px;}

@media only screen and (max-width: 767px) {
    .title-centered .page-title {font-size: 18px;margin: 5%;}
    .navbar-toggle {z-index: 1;border: 0;font-size: 20px;margin-bottom: 0;padding: 0 3%;}
    .navbar-brand {padding: 3% !important;}
    .nav>li {text-align: left;}
    .navbar-default .navbar-nav>li>a>.glyphicon {margin-right: 2%;}
    #bs-example-navbar-collapse-1 {position: absolute;top:1%;right:0.5%;z-index: 3;background:#fff;width: 35%;box-shadow: 0 5px 18px rgba(00, 00, 00, 0.3);}
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .navbar-toggle {margin-top: 2%;}
    .navbar-brand {padding: 2% !important;}
    .title-centered .page-title {margin: 3%;font-size: 20px;}
}
