.top-bar {
	margin-left: 10px;
	margin-top: 8px;
}
.address {
	margin-left: 10px;
	position: absolute;
	top: 35px;
	height: 48px;
	width: 159px;
	color: #303232;
	font-family: Heebo;
	font-size: 14px;
	line-height: 16px;
}

.title {	height: 21px;	width: 52px;	color: #0180A8;	font-family: Heebo;	font-size: 14px;	font-weight: bold;	line-height: 21px;}
.stroke-40 {
	box-sizing: border-box;
	height: 12px;
	width: 12px;
	border: 1px solid #FC3446;
}
.save {
	height: 18px;
	width: 27px;
	color: #4E5454;
	font-family: Heebo;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
}
.shape {
	box-sizing: border-box;
	height: 12.37px;
	width: 12.37px;
	border: 0.5px solid #FC3446;
	background-color: #FC3446;
}
.add-contact {
	height: 18px;
	width: 67px;
	color: #4E5454;
	font-family: Heebo;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	margin : 9px 127px 9px 30px;
}
.rectangle-2 {
	position: absolute;
	bottom: 0;
	height: 36px;
	width: 224px;
	background-color: #F7FBFC;
}

.infoBox:after, 
.ghost_hover_infobox:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: -1;
    bottom: -5px;
    margin-left: -5px;
    box-shadow: 0 0 5px #000;
    background: #F7FBFC;
    transform: rotate(-45deg);
}

.ghost_hover_infobox:after {
    background: #303232;
}