.centerMarker{
  position:absolute;
  pointer-events: none;
  /*url of the marker*/
  /*background:url(/images/map_marker_pickup.png) no-repeat;*/
  /*center the marker*/
  top:50%;left:50%;
  z-index:1;
  /*fix offset when needed*/
  margin-left:-51px;
  margin-top:-78px;
  width:100px;
  outline:0!important;

  /*size of the image*/
  /*
  height:72px;
  width:72px;
  cursor:pointer;
  */
}
.centerMarker:focus,.centerMarker:hover{text-decoration: none;}
.centerMarker .arrow_box{border-radius:5px;display:block;margin:0 -38px;padding:5px 8px;background-color:#404041;color:#fff;border:none;font-size:1.167em;-webkit-box-shadow: 0px 2px 4px 0px rgba(68,68,68,1);
box-shadow: 0px 2px 4px 0px rgba(68,68,68,1);}
.centerMarker .arrow_box i{border-left:1px solid #5c5c5c;float:right;height:26px;line-height:26px;margin:-4px -4px 0 0;text-align:center;width:22px}
.centerMarker .arrow_box:after,.arrow_box:before{border-width:6px;margin-left:-6px;}
.centerMarker .arrow_box:after{border-top-color:#404041}
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}


/*
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}
*/

/*
.gm-style-iw {
	width: 150px !important;
	top: 0 !important;
	/*bottom: 0 !important;
	right: 0 !important;
	left: 0 !important;
}
*/

.gm-style-iw {
	width: 200px !important;
	height: auto;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
.iw-container {
	margin-bottom: 10px;
}
.iw-title {
	width: 200px !important;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 1px 10px 1px 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
.iw-content {
	width: 200px !important;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 1px 1px 1px 1px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 186px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

