body {padding: 0;}
.dashboard header nav li {margin-left: 20px;}
table.drivers{margin-top: 10px;font-size: 0.9em;margin-bottom: 0px;}
table.drivers thead th{margin-top: 40px;color: #02bfe0;padding: 10px 15px 5px 15px;border-bottom: 1px dashed #B2C4C6;font-weight: normal;}
table.drivers tbody td{border-top: 0px none;border-bottom: 1px dashed #CADBDD;padding: 10px 15px;cursor: pointer;}
table.drivers tbody tr td span{white-space: nowrap;}
table.drivers.table-hover > tbody > tr:hover {  background-color: #d8f4f8;}
.text-progress{color: #02bfe0;}
table.drivers td img {  position: relative;  top: -2px;}
.right-align {text-align: right;}
@media (max-width: 992px) { /*xs*/
	table.drivers thead th{ padding: 10px 10px 5px 10px;} 
	table.drivers tbody td{ padding: 10px 10px;}
}
.no-driver{
	font-size: 1.286em;
    color: #02bfe0;
    text-align: center;
    margin-top: 40px;
    display: none;
}
.grid {
	width: 100%;
}
.ui-grid-cell {
	overflow: visible;
	z-index: 99999;
}
.ui-grid-header-viewport {
	overflow: hidden;
	height: 60px;
}
.gridStyle {
	border: 0px solid rgb(212,212,212);
	height: 400px;
	width:100%;
}
.ui-grid-header-cell {
	background-color: #00C0E1 !important;
	font-weight: normal;
	font-size: 14px;
}
.ui-grid-cell-contents{
	padding:5px 0 0 0;
}
.ui-grid-filter-container{
	padding: 4px
}
.ui-grid-icon-menu-image{
	display:none;
}
.distanceClass{
	text-align: right;
	padding-right: 50px;
}
.select{
	display:none;
}

.btn1-info1{color:#fff;background-color:#5bc0de;border-color:#46b8da}.btn1-info1.focus,.btn1-info1:focus{color:#fff;background-color:#31b0d5;border-color:#1b6d85}.btn1-info1:hover{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn1-info1.active,.btn1-info1:active,.open>.dropdown-toggle.btn1-info1{color:#fff;background-color:#31b0d5;border-color:#269abc}.btn1-info1.active.focus,.btn1-info1.active:focus,.btn1-info1.active:hover,.btn1-info1:active.focus,.btn1-info1:active:focus,.btn1-info1:active:hover,.open>.dropdown-toggle.btn1-info1.focus,.open>.dropdown-toggle.btn1-info1:focus,.open>.dropdown-toggle.btn1-info1:hover{color:#fff;background-color:#269abc;border-color:#1b6d85}.btn1-info1.active,.btn1-info1:active,.open>.dropdown-toggle.btn1-info1{background-image:none}.btn1-info1.disabled.focus,.btn1-info1.disabled:focus,.btn1-info1.disabled:hover,.btn1-info1[disabled].focus,.btn1-info1[disabled]:focus,.btn1-info1[disabled]:hover,fieldset[disabled] .btn1-info1.focus,fieldset[disabled] .btn1-info1:focus,fieldset[disabled] .btn1-info1:hover{background-color:#5bc0de;border-color:#46b8da}.btn1-info1 .badge{color:#5bc0de;background-color:#fff}
.btn1{display:inline-block;padding:3px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px}.btn1.active.focus,.btn1.active:focus,.btn1.focus,.btn1:active.focus,.btn1:active:focus,.btn1:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.btn1.focus,.btn1:focus,.btn1:hover{color:#333;text-decoration:none}.btn1.active,.btn1:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}.btn1.disabled,.btn1[disabled],fieldset[disabled] .btn1{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn1.disabled,fieldset[disabled] a.btn1{pointer-events:none}

.distanceclass{
 	font-weight: bold;
}
label{
	padding-left: 0;
}
.driver-dropdown {padding: 6px 9px; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); border-radius: 0;margin-left:-1px;}
.custom-dropdown {max-height: 200px; height: auto; overflow-x: hidden; font-size: 12px !important;}
#driver-search {font-size: 12px !important;}
.custom-container {padding-right:0 !important; padding-left:0 !important;}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{white-space: nowrap; padding: 4px; font-size: 12px; text-align: center;}
.pointer {cursor: pointer;}
.fa_button {cursor: pointer; color: #000000;}
.fa_button:hover {color: #000000;}
.datepicker {font-size: 12px;}
#driver_id {background-image: none !important;}
.top-row-right {display: flex; align-items: center;}
.top-row-right input {margin-right: 5px;}
.nav-tabs>li {cursor: pointer;}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #464a4c;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}

.nav-link {
    display: block;
    padding: .5em 1em;
}
.custom-container {padding-right: 0 !important; padding-left: 0 !important;}
.top-row {display:flex; align-items: center; background-color: #f5f5f5; font-size: 12px; margin: 5px 0 5px 0 !important; background: #fff;}
.map-row {display: table; border-top: 1px solid rgba(0, 0, 0, 0.18);}
.google-map {width:100%; height: 100%; position:relative; display: table-cell; background: #fff; border: 13px solid #fff;}
#tripsheet-data>table>thead>tr>th {padding-top: 2px !important; padding-bottom: 2px !important; font-size: 12px;}
.init-info-text {text-align: center;}
/* Search box */
.filter-bar {margin: 15px 0 15px 0}
.inner-addon { position: relative; }
.inner-addon .glyphicon { position: absolute; padding: 10px; pointer-events: none; }
.right-addon .glyphicon { right: 0; }
.right-addon input { padding-right: 30px; }
.search-box { float:right; margin-bottom: 10px; margin-right: 15px; padding: 0; width: 13%;}
/* isteven multi-select dropdown */
#drivers>.multiSelect>.checkboxLayer {width: 100%;}
.multiSelect .line {margin: 0 !important;width: auto !important; height: auto !important; background-color: inherit !important;}