:root {
  --font-regular: MetropolisRegular;
  --font-thin: MetropolisRegular;
  --font-bold: MetropolisBold;
  --font-medium: MetropolisMedium;
}
*,
body {
  font-family: var(--font-regular);
}

.container-fluid {
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
.navbar-header {
  padding: 0 15px;
}
.navbar-brand {
  margin-left: 1%;
}
.card {
  margin-bottom: 1.875rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
  width: 90vw;
  border-radius: 12px;
  vertical-align: middle;
  margin: 2% auto auto auto;
}
.order-number {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #efee;
  font-family: var(--font-bold);
}
.order-number span {
  margin-left: 12px;
  color: red;
}
.timeline {
  width: 100%;
  max-width: 100%;
  background: #fff;
  padding: 8% 15px;
  margin: 15px 0;
  position: relative;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 45px;
  left: calc(48% + 15px);
  bottom: 115px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}
.entry {
  clear: both;
  text-align: left;
  position: relative;
}
.entry .title {
  margin-bottom: 0.5em;
  float: left;
  width: 50%;
  padding-right: 30px;
  text-align: right;
  position: relative;
}
.entry .title:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 4px solid var(--primary-color);
  background-color: #fff;
  border-radius: 100%;
  top: 15%;
  right: -20px;
  z-index: 99;
}
.entry .title h3 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.entry .title p {
  margin: 0;
  font-size: 14px;
  color: #888;
  line-height: 21px;
}
.entry .body {
  margin: 0 0 30px;
  float: right;
  width: 50%;
  padding-left: 30px;
  padding-top: 6px;
}
.entry .body p {
  line-height: 1.4em;
  margin-bottom: 0;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul a {
  font-size: 12px;
}
.banner-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.06px;
  line-height: 36px;
  color: var(--primary-color);
  padding: 0px 0px;
  font-family: var(--font-bold);
}
.track-content {
  padding: 25px;
  margin-top: 25px;
}
.img-responsive {
  font-weight: bold;
  font-size: 20px;
}
.clearall {
  height: 15px;
}
.message-wrapper {
  font-family: var(--font-bold);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-wrapper i {
  text-align: center;
  font-size: 36px;
  color: red;
}
.message-wrapper .message {
  color: red;
}
.message-wrapper .link {
  font-size: 12px;
}

@media (min-width: 575px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 60px;
    left: calc(33% + 14px);
    bottom: 115px;
    width: 4px;
    background: #ddd;
  }
  .entry .title {
    width: 33%;
  }
  .entry .body {
    width: 66%;
  }

  .banner-title {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.06px;
    line-height: 54px;
    color: var(--primary-color);
    padding: 0px 0px;
  }
}

@media (max-width: 767px){
  .blowhorn_logo {
      width: 120px;
  }
  .mzansigo_logo {
    width: 44px;
  }
  .navbar-brand {
    margin-left: 2%;
  }
}
