* {
  font-family: Heebo;
}
body {
  font-family: Heebo;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../images/homepage/ondemand_bg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
}

.container-fluid {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.2));
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0 60px 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.logo-container {
  margin-right: auto !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  margin-left: -5px !important;
  width: 150px !important;
  display: block;
  max-width: 100%;
  height: auto;
}

.payment-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.payment-details {
  width: 50%;
  margin: auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
}

.pb-details {
  display: flex;
  flex-direction: column;
}

.pbd-header {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #0088A8;
  font-weight: 600;
}

.pbd-content {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  color: #6d6d6d;
}

.pbc-order-count, .pbc-total-payable {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.pbc-label, .pbc-value {
  width: 100%;
  text-align: center;
}

.pbc-label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.pbc-value {
  font-size: 22px;
  line-height: 33px;
  font-weight: 600;
}

.payment-methods {
  display: flex;
  justify-content: space-around;
}

.payment-methods .pm {
  width: 40%;
  display: flex;
  padding: 20px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  min-height: 40px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  color: #6d6d6d;
}

.rzrpay div {
  margin: auto auto auto 0;
}
.paytm-label, .rzrpay i {
  vertical-align: middle;
  margin: auto 0 auto auto;
  padding-right: 5px;
}
.pm img {
  vertical-align: middle;
  height: 100%;
  width: 50px;
  vertical-align: middle;
  margin: auto auto auto 0;
}
.message-status {
  display: flex;
  justify-content: center;
}

.message-container {
  background: #fff;
  border-radius: 8px;
  padding: 15px;
}
.message-container .message {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 0 15px;
}

.message-container .message i {
  display: flex;
  font-size: 1.5em;
  margin: auto 10px;
}

.message-container .message {
  color: #fff;
}

.message-container .message h2 {
  font-weight: 400;
}
.message-container p {
  color: #6b6b6b;
  line-height: 21px;
  margin: 0;
}
.link-home {
  display: flex;
  justify-content: center;
  color: #6b6b6b;
  line-height: 21px;
}
.link-a-home {
  margin-left: 15px;
}
.message-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.message-container a:hover {
  color: blue;
  text-decoration: underline;
}

#page-reload-message {
  display: flex;
  justify-content: center;
}

#page-reload-message a {
  margin-right: 8px;
}
#msg-icon {color: #fff;}

.loader-overlay {
  position: fixed;
  z-index: auto;
  margin: auto;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  background: #111;
}

.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 768px) {
  .payment-details {
    width: inherit;
    min-width: 90%;
  }
  .payment-methods {
    width: unset;
    flex-direction: column;
  }
  .payment-methods .pm {
    width: unset;
  }
  .pbc-label {
    font-size: 14px;
    line-height: 21px;
  }
  .pbc-value {
    font-size: 18px;
    line-height: 27px;
  }
  .rzrpay {
    margin-bottom: 15px;
    padding: 8px !important;
  }
  div.paytm {
    padding: 2px !important;
  }
  .message-container .message {
    font-size: 14px;
    line-height: 21px;
  }
  .loader {
    width: 30px;
    height: 30px;
  }
}
