#content {
  float: right;
  width: 811px;
}

#cleared {
  clear: both;
}
p, .reg , .userinfo, .dispersonalinfo {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}
ul.reg,ul.termsnum {
    list-style-type: decimal;
    margin-left: 10px;
    font-size: 16px;
}
ul.userinfo, ul.terms {
  list-style-type: disc;
  margin-left: 10px;
  font-size: 16px;
}
ul.subterms{
  list-style-type: lower-alpha;
  margin-left: 10px;
  font-size: 16px;
}
ul.dispersonalinfo {
	list-style-type: disc;
  margin-left: 10px;
  font-size: 16px;
}
h4{
	margin-top: 9px;
  font-size: 22px;
  line-height: 32px;
}
.left_menu p{
	font-size: 15px;
  line-height: 15px;
}
.row{
	border-bottom: 0;
  box-shadow: 0 8px 6px -8px rgba(0,0,0,.3);
}
#rowborder{
  margin: 29px 0px 18px 2px;
  font-size: 22px;
}
p.pos_fixed {
  position: fixed;
  top: 520px;
  right: 8px;
}
.headerrow{
  position: fixed;
  border-bottom: 0;
  box-shadow: 0 8px 6px -8px rgba(0,0,0,.3);
}

.left_menu{
  position: fixed;
  overflow: auto;
}
.right_doc{float: right;}
.blowhorn_log{position: fixed;margin-top: 20px;}
@media (max-width: 768px) {
  .left_menu{display: none;}
  #rowborder{float: right;font-size: 13px;}
  .blowhorn_log{position: absolute}
  .right_doc{float: left;width: 100%;}
  #gotop{display: none;}
}
@media (max-width: 425px) {
  h4{font-size: 17px;}
  p{font-size: 14px;}
}