.custom-container {padding-right:0 !important; padding-left:0 !important;}
.top-row {font-size: 12px; text-align: center; margin-left: 0; margin-right: 0 !important; background: #fff;padding-top: 2px;}
.timeslot .table>tbody>tr>td, .timeslot .table>tbody>tr>th, .timeslot .table>thead>tr>td, .timeslot .table>thead>tr>th{white-space: nowrap; padding: 4px; font-size: 12px; text-align: center;}
.pointer {cursor: pointer;}
.time-slot {margin-right: 14px;}
input[type=checkbox] {display: none;}
input[type=checkbox] + label {position:relative; cursor:pointer; padding:2px; text-align: center; width: 25px; border:1px solid #aaa; border-radius: 3px; box-shadow: inset 0 1px 3px rgba(0,0,0,.3);}
input[type=checkbox] + label:hover {border: 1px solid #4778d9!important;}
input[type=checkbox]:checked + label {background: #ddd;}
input[type='text'], select, textarea, label, button, form-control, #date, .datepicker, .toast {font-size: 12px !important;}
textarea {resize: none;}
.toast-top-right {top: 37px !important;}
.modal-header .close {font-size: 21px !important;}
