.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.main-container .header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .6);
}
.main-container .header h4 {
  font-weight: 800;
  text-transform: uppercase;
  width: 30%;
}
.logo-container {
  width: 15%;
}
.title-container {
  width: 85%;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
}
.error-container {
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}
.error-container h4 {
  margin: auto;
  color: red;
  text-transform: uppercase;
}
.summary-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  background: #e6e3e3;
}
.summary-header .key {
  font-size: 12px;
  line-height: 18px;
  color: #867e7e;
}
.summary-header .value {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.content-header {
  display: flex;
  justify-content: center;
  padding: 8px;
  background: #efebeb;
}
.content-header h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.summary-table {
  margin: 15px 25%;
  display: flex;
  flex-direction: column;
  border: 1px solid #efebeb;
}
.summary-table .summary-table-header {
  display: flex;
  justify-content: center;
  padding: 15px;
  background: #efebeb;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px
}
.summary-table .content-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #efebeb;
}
.table-th {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  border-bottom: 1px solid #efebe3;
  text-align: center;
}
.o-th {
  border-right: 1px solid #efebe3;
  width: 30%;
  padding: 10px;
}
.i-th {
  width: 70%;
  padding: 10px;
}
.table-cell {
  display: flex;
  justify-content: space-between;
}
.summary-header div {
  text-align: center;
}
.item-container {
  width: 70%;
}
.order-number {
  padding: 10px;
  background: #f3f3f3;
  width: 30%;
  display: flex;
  border-bottom: 1px solid #fff;
}
.o-val {
  margin: auto 0;
  vertical-align: middle;
}
.driver-details {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
  .main-container .header h4 {
    width: unset !important;
  }
  .logo-container {
    display: flex;
  }
  .logo-container a {
    margin: auto;
  }
  .logo-container img {
    max-width: 80px;
  }
  .summary-header {
    justify-content: space-evenly;
  }
  .value {
    font-size: 16px;
    line-height: 24px;
  }
  .summary-table {
    margin: 15px;
  }
  .otp-mobile .value {
    font-size: 24px;
  }
  .summary-header-mobile {
    padding-bottom: 0;
  }
}
