<div class="shipment-details">
    <div class="to-from">
        <div class="address">
            <div class="consignee">
                <app-invoice-shipment-entity  [title]="'consignee details'"
                    [main_content]="get_full_name_or_customer_name(consignee)"
                    [sub_content]=""
                    [detail_content]="consignee.line1">
                </app-invoice-shipment-entity>
            </div>
            <div class="consignor">
                <app-invoice-shipment-entity [title]="'CONSIGNOR DETAILS'"
                    [main_content]="get_full_name_or_customer_name(consignor)"
                    [sub_content]="get_company_name()"
                    [detail_content]="consignor.line1">
                </app-invoice-shipment-entity>
            </div>
        </div>
        <div class="gst">
            <div *ngIf="true" class="consignee"></div>
            <div *ngIf="customer.gstin" class="consignor">{{customer.gstin}}</div>
        </div>
    </div>  
    <div class="shipment-nature">
        <app-invoice-shipment-entity [title]="'nature of shipment'"
            [main_content]="get_shipments_list()" >
        </app-invoice-shipment-entity>
    </div>
</div>
