.shipment-details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;  
    .to-from {
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        .address {  
            display: flex;
            flex-direction: column;   
            .consignee {
                flex: 1;
                margin-bottom: 15px;
            }
            .consignor {
                flex: 1;
            }
        }   
        .gst {
            display: flex; 
            margin-top: 5px;   
            color: #141515;	
            font-size: 16px;
            font-weight: 500;	
            line-height: 24px;
            margin-bottom: 15px;
            .consignee {
                flex: 1;
                display: none;
            }
            .consignor {
                flex: 1;
                font-size: 12px;
            }
        } 
    }
    .shipment-nature {
        flex: 3;
    }
}

@media (min-width: 575px) {
    .shipment-details {
        flex-direction: row;
        .to-from {
            .address {
                flex-direction: row;
                .consignee {
                    margin-bottom: unset;
                }
            }   
            .gst {
                margin-bottom: unset;
                .consignee {
                    display: block;
                }
            } 
        }
    }
}