<div *ngIf="statuswiseData.length <= 0" class="error">
  <span>{{error_msg}}</span>
</div>

<table>
  <tr>
    <td class="chart-container" [ngClass]="{'hover': showInfo }">
        <canvas id="pieChart"></canvas>
        <div class="content-overlay"></div>
        <div class="content-details fadeIn-bottom">
            <table align="center" id="stats">
              <tr>
                <th>STATUS</th>
                <th>COUNT</th>
                <th>PERCENTAGE</th>
              </tr>
              <tr *ngFor="let row of info_data" align="left">
                <td>{{row.status | uppercase}}</td>
                <td align="right">{{row.count}}</td>
                <td align="right">{{row.percentage}}%</td>
              </tr>
            </table>
        </div>
    </td>
  </tr>
  <tr>
    <div class="action-button" *ngIf="statuswise_count?.length > 0">
        <button class="download-btn" (click)="download_charts($event)" id="download-chart"
        title="Download Chart">
            <i class="fa fa-bar-chart"></i>
        </button>
        <button class="download-btn" (mouseenter)="showInfo=true" (mouseleave)="showInfo=false">
            <i class="fa fa-info"></i>
        </button>
  </div>
  </tr>
</table>