.display_data{
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    color:grey;
    border: border-box;
    font-size: 14px;
    margin-left: 500px;
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}

.action-button {
    display: flex;
    justify-content: flex-end;
    
    .download-btn {
        cursor: pointer;
        background: #fff;
        border-radius: 2px;
        margin: 8px;
        border: 1px solid rgb(5, 199, 92);;
        height: 30px;
        color: rgb(5, 199, 92);
        i {
            width: 20px;
            max-width: 20px;
            height: auto;
        }
        &:hover {
            color: #fff;
            background: rgb(5, 199, 92);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
    }
}

.chart-container {
    position: relative;
    width: 620px;
    height: 357px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    .content-overlay {
        background: #ffffff;
        position: absolute;
        height: 99%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        -webkit-transition: all 0.4s ease-in-out 0s;
        -moz-transition: all 0.4s ease-in-out 0s;
        transition: all 0.4s ease-in-out 0s;
    }
    .content-details {
        position: absolute;
        text-align: center;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 15px;
        font-family: var(--font-family);
        width: 100%;
        top: 50%;
        left: 50%;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        color: black;
    }
    &.hover {
        .content-overlay{
            opacity: 1;
        }
        .content-details{
            top: 50%;
            left: 50%;
            opacity: 1;
        }
    }
    .fadeIn-bottom{
        top: 80%;
    }
}

#stats {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }
  
  #stats td, #stats th {
    padding: 8px;
    border: 1px solid #ddd
  }
  
  #stats tr:nth-child(even){background-color: #f2f2f2;}
  
  #stats th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7CDDDD;
    color: white;
  }