.error-template {padding: 40px 15px;text-align: center;}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
    svg {
        height: 20px;
        width: 20px;
    }
}
.container {
    padding: 24px;
}
.subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    .main-img {
        height: 45vh;
        width: 100%;
    }
}