.driver-vehicle-details-container {
    display: flex;
    flex-direction: column;
    .header {
        flex: 1;
        text-transform: uppercase;
        color: #0180A8;	
        	
        font-size: 13px;	
        font-weight: 900;	
        letter-spacing: 1px;	
        line-height: 19px;
    }
    .driver-vehicle-details {
        margin-top: 10px;
        display: flex;
        align-items: center;
        background-color: #F7FBFC;
        flex-direction: column;
        .vehicle {
            flex: 1;
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            width: 100%;
            .vehicle-image {
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            .vehicle-name {
                margin-left: 15px;
                color: #4E5454;	
                	
                font-size: 18px;	
                line-height: 27px;	
                text-align: right;
            }
        }
        .driver {
            display: flex;
            align-items: center;
            width: 100%;
            .driver-image {
                img {
                    width: 25px;
                    height: 23px;
                }
            }
            .driver-name {
                margin-left: 5px;
                flex: 1;
                color: #4E5454;	
                	
                font-size: 16px;                
                line-height: 24px;
                .label {
                    font-weight: 300;
                }
                .name {
                    font-weight: 500;	
                }
            }
        }
    }
}

@media (min-width: 575px) {
    .driver-vehicle-details-container {
        .driver-vehicle-details {
            flex-direction: row;
            .vehicle {
                margin-bottom: unset;
                width: unset;

            }
            .driver {
                float: right;
                width: unset;
                margin-right: 20px;
            }
        }
    }
}