<div class="driver-vehicle-details-container">
  <div class="header">driver and vehicle details</div>
  <div class="driver-vehicle-details">
    <div class="vehicle">
      <div *ngIf="truck_url" class="vehicle-image">
        <img src="{{truck_url}}" alt="vehicle-image">
      </div>
      <div class="vehicle-name">
        <span>{{truck_type}} | {{trip.vehicle_number}}</span>
      </div>      
    </div>
    <div *ngIf="driver_name" class="driver">
      <div class="driver-image">
        <img src="{{driver_avatar}}" alt="driver-avatar">
      </div>
      <div class="driver-name">
        <span class="label">Driver : <span class="name">{{driver_name|titlecase}}</span></span>
      </div>      
    </div>
  </div>
</div>
