<div class="departure-sheet">
  <div class="search-bar">
    <app-blowhorn-navbar></app-blowhorn-navbar>
    <div class="title">Generate Departure Sheet</div>
    <div class="search-section">
      <div class="middle-section">
        <input #search_text 
          class="search-text"
          type="text" 
          placeholder="Enter trip number"
          [ngClass]="error ? 'error' : 'no-error'"
          (focus)="remove_error()"
          (keyup)="enable_generate($event)"
          (mouseout)="enable_generate($event)">
        <button class="search-btn" 
          (click)="generate_departure_sheet(search_text.value.trim())"
          [disabled]="!enabled">Generate
        </button>
      </div>
    </div>
  </div>
</div>