.departure-sheet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    .search-bar {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        app-blowhorn-navbar {
            width: 100%;
        }
        .title {
            font-size: 16px;	
            font-weight: 500;	
            line-height: 1.2; 
            margin: 30px auto;
        }
        .search-section {
            margin: 30px auto;
            display: flex;
            align-items: flex-start;
            .middle-section {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 30px;
                border-radius: 3px;
                border: 1px solid lightgray;
                box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, .3);
                .search-text {
                    padding-left: 10px;
                    width: 400px;
                    height: 35px;
                    color: #4E5454;	
                    
                    font-size: 14px;	
                    font-weight: 500;		
                    line-height: 16px; 
                    text-transform: uppercase;     
                    margin-bottom: 15px;               
                }
                .search-btn {
                    padding: 10px 15px;
                    background-color: #fff;
                    cursor: pointer;
                    border: 1px solid gray;
                    text-transform: uppercase;
                    color: #4E5454;	
                    
                    font-size: 13px;	
                    font-weight: 500;		
                    line-height: 1.2; 
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    outline: none;
                    &:hover {
                        background: rgb(63, 54, 54);
                        color: #fff;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
                    }
                    &:disabled {
                        pointer-events: none;
                        color: rgb(127, 129, 129); 
                    }
                }
            }           
        }
    }
    .search-result {    
        flex: 1;
        width: 100%;
    }
}
.error {
    border: 1px solid red;
}
.no-error {
    border: 1px solid gray;
}