<div class="row">
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.total_orders.label"
        [value]="statistics.total_orders.value"
        [icon]="statistics.total_orders.icon"
        [styles]="statistics.total_orders.styles"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.delivered_orders.label"
        [value]="statistics.delivered_orders.value"
        [icon]="statistics.delivered_orders.icon"
        [styles]="statistics.delivered_orders.styles"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.sla_fullfilled.label"
        [value]="statistics.sla_fullfilled.value"
        [icon]="statistics.sla_fullfilled.icon"
        [styles]="statistics.sla_fullfilled.styles"
        ></app-statistic-card>
    </div>
    <div class="col-sm-6 col-lg-3">
        <app-statistic-card
        [label]="statistics.cod_count.label"
        [value]="statistics.cod_count.value"
        [icon]="statistics.cod_count.icon"
        [styles]="statistics.cod_count.styles"
        ></app-statistic-card>
    </div>
</div>
