.wrapper {
    border: 1px solid #F0F5F7;
    background-color: #F7FBFC;
    height: 30px;
    display: grid;
    grid-template-columns: 7fr 1fr;
    grid-column-gap: 0px;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
    .search-text {
        outline: none;
        border: none;
        height: 18px;
        min-width: 150px;
        color: #3f3636;
        background-color: #F7FBFC;
        
        font-size: 14px;
        line-height: 18px;
    }
    span {
        color: #BBC2C4;
        cursor: pointer;
    }
}