<div class="wrapper" [ngStyle]="styles">
  <div class="col-title title-invoice-number">Invoice #</div>
  <div class="col-title">Invoice State</div>
  <div class="col-title">Invoice Type</div>
  <div class="col-title">Invoice Date</div>
  <div class="col-title">Period</div>
  <div class="col-title title-total-amount">RCM Amount</div>
  <div class="col-title title-total-amount">Total Payable</div>
  <div class="col-title" *ngIf="show_auditlog">{{created_by_title}}</div>
  <div class="col-title" *ngIf="show_auditlog">{{created_time_title}}</div>
  <div class="col-title actions"></div>
</div>
