.wrapper {
    display: grid;
    height: 30px;
    align-items: center;
    background: white;
    div {
        padding-left: 10px;
        padding-right: 10px;
        color: #8B8D8E;
        
        font-size: 14px;
        line-height: 21px;
        max-width: none;
        &.title-total-amount {
            text-align: right;
        }
        &.title-boolean {
            text-align: center;
        }
    }
}
