.wrapper {
    display: grid;
    height: 30px;
    grid-template-columns: 140px 150px 140px 150px 150px 150px 135px 130px 150px auto;
    align-items: center;
    background: white;
    div {
        padding-left: 20px;
        padding-right: 20px;
        color: #8B8D8E;
        font-size: 14px;
        line-height: 21px;
    }
}
