<div class="wrapper">
  <div class="trip">Trip</div>
  <div class="driver">Driver</div>
  <div class="vehicle">Vehicle Details</div>
  <div class="scheduled">Scheduled Time</div>
  <div class="start">Start Time</div>
  <div class="end">End Time</div>
  <div *ngIf="false" class="elapsed">Time Elapsed</div>
  <div class="total">Duration</div>
  <div class="total">Status</div>
  <div class="total">Stops</div>
  <div class="filler"></div>
</div>
