.dropdown-styles {
    height: 40px;
    background: white;
    border: 1px solid #c2c2c2;
    border-radius: 2px;
    -webkit-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    -moz-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
    .hide-cross {
        display: none;
    }
    .show-cross {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        color: lightgray;
    }
    .activate-cross {
        color: grey;
    }
    .deactivate-cross {
        color: lightgray;
    }
    .dropdown-toggle-styles {
        color:rgb(63, 54, 54);
        font-size: 14px;
        width: 100%;
        height: 100%;
        text-align: left;
        font-weight: bold;
        display: table;
        padding: 6px 12px;
        &:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
        .dropdown-toggle-display-styles {
            width: 100%;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .show-clear-btn {
        padding-left: 0px;
    }
    .disabled {
        pointer-events: none;
        .content {
            color: red;
            background-color: #fff;
        }
    }
    .dropdown-menu-styles {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 5px;
        -webkit-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        -moz-box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        box-shadow: 8px 9px 7px -7px rgba(99,99,99,1);
        border-radius: 0px;
        max-height: 50vh;
        overflow: auto;
        .dropdown-item-styles {
            right: 0 !important;
            left: auto !important;
            height: 40px;
            font-size: 16px;
            color: grey;
            padding: 0px;
            display: table;
            width: 100%;
            &:hover {
                cursor: pointer;
                color: rgb(248, 249, 250);
                background: gray;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgb(247, 245, 245);
            }
            &:active {
                color: white;
                background: gray;
            }
            .content {
                width: 100%;
                height: 100%;
                padding-left: 15px;
                display: table-cell;
                vertical-align: middle;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .dropdown-menu-filter {
            width: 100%;
            height: 35px;
            vertical-align: middle;
            background: rgb(226, 239, 248);
            color: grey;
            padding-left: 15px;
            .filter-styles {
                width: 90%;
                height: 35px;
                background: rgb(226, 239, 248);

                font-size: 14px;
                color: grey;
                outline: none;
                border: none;
            }
        }
    }
}
.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .9;
    background: rgb(172, 171, 171);
    border-width: 0px;
}
.enabled {
    pointer-events: all;
    cursor: pointer;
    opacity: 1;
    background: white;
    border-width: 1px;
}
