<div dropdown
  #dropdown="bs-dropdown"
  class="dropdown dropdown-styles"
  [ngStyle]="styles['dropdown-styles']"
  (onShown)="check_filterable()"
  [ngClass]="disabled ? 'disabled' : 'enabled'">
  <div dropdownToggle
    class="btn dropdown-toggle dropdown-toggle-styles"
    [ngStyle]="styles['dropdown-toggle-styles']"
    [ngClass]="is_reset ? 'show-clear-btn' : ''"
    (click)="false">
    <div (mouseover)="activate_clear($event)"
      (mouseout)="deactivate_clear($event)"
      (click)="reset_dropdown($event)" *ngIf="show_cross">
      <span [ngClass]="{
        'show-cross': selected_id,
        'hide-cross': !selected_id,
        'activate-cross': is_activated,
        'deactivate-cross': !is_activated}"
        class="fa fa-times">
      </span>
    </div>
    <div class="dropdown-toggle-display-styles"
      [ngStyle]="styles['dropdown-toggle-display-styles']">
      <span class="content"
        [attr.data-item-id]="selected_id"
        [attr.data-item-name]="selected_name">
          {{ selected_name | capitalize }}
      </span>
    </div>
    <span class="caret dropdown-toggle-caret-style"
      [ngStyle]="styles['dropdown-toggle-caret-styles']">
    </span>
  </div>
<div>
<div *dropdownMenu
  class="dropdown-menu dropdown-menu-styles"
  [ngStyle]="styles['dropdown-menu-styles']">
  <div *ngIf="!items.length">
    <div class="dropdown-item dropdown-item-styles disabled"
      [ngStyle]="styles['dropdown-item-styles']">
      <span class="content"
        [attr.data-item-id]=""
        [attr.data-item-name]=""> No data </span>
    </div>
  </div>
  <div *ngIf="items.length">
    <div *ngIf="filterable && items.length"
      class="dropdown-menu-filter"
      (click)="on_filter_field_click($event)">
      <input
        id="filter-field"
        class="filter-styles"
        [(ngModel)]="filter_word"
        placeholder="Type to filter">
      <span class="fa fa-filter"></span>
    </div>
    <div *ngFor="let item of items | nameFilter: filter_word"
      class="dropdown-item dropdown-item-styles"
      [ngStyle]="styles['dropdown-item-styles']"
      (click)="on_dropdown_select($event, dropdown)">
      <span class="content"
        [attr.data-item-id]="item.id"
        [attr.data-item-name]="item.name">
        {{ !use_titlecase ?  item.name : (item.name | capitalize) }}
      </span>
    </div>
  </div>
</div>
