.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 50px repeat(7, minmax(150px, 1fr)) 200px;
  align-items: flex-start;
  justify-items: start;
  background-color: inherit;
  border-bottom: 1px solid rgb(226, 234, 236);
  .col {
    padding: 10px 20px;
    .gr {
      color: green;
      display: inline;
      font-weight: bold;
    }
    .yl {
      color: yellow;
      display: inline;
      font-weight: bold;
    }
    font-size: 14px;
    line-height: 21px;
    .main-row {
      color: #303232;
      padding: 0px;
      .wrapper-order{
        .number {
          display: inline-block;
        }
        .reverse-pickup {
          display: inline-block;
          margin-left: 10px;
        }
      }
      .link {
        cursor: pointer;
        color: rgb(6, 58, 170);
        text-decoration: underline;
        &:hover {
          color: #5283ec;
        }
      }
      &.customer-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .sub-row {
      padding: 0px;
      color: #757e7f;
      .link {
        cursor: pointer;
        color: rgb(6, 58, 170);
        text-decoration: underline;
        &:hover {
          color: #5283ec;
        }
      }
      .p-1 {
        margin-top: 10px;
      }
      &.status-info {
        display: flex;
        justify-content: space-evenly;
      }
    }
    .ref-no {
      color: #447df8;
      padding: 0px;
      font-size: 12px;
      cursor: pointer;
    }
    .cust-ref-no {
      color: #3cf884;
      padding: 0px;
      font-size: 12px;
    }
    .batch-id {
      color: red;
      padding: 0px;
      font-size: 12px;
    }
    &.status {
      .main-row {
        justify-content: center;
        display: flex;
      }
      .sub-row {
        text-align: center;
      }
    }
  }
  .btn-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      margin: auto 5px;
    }
  }
}

.modal-window,
.modal-window-status {
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    position: relative;
    box-shadow: 0px 0px 14px 1px rgba(255, 255, 255, 1);
    .header {
      width: 100%;
      font-size: 16px;
      color: black;
      background-color: #e2eaec;
      padding: 10px 0px;
      display: grid;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }
    .result {
      margin-top: 15px;
      width: 100%;
      max-height: 60vh;
      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
      overflow-y: auto;
      overflow-x: hidden;
      position: relative;
      .error {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: orangered;

        font-size: 16px;
        margin: 8px;
      }
      .title {
        background-color: #e2eaec;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        width: 100%;
        position: sticky;
        top: 0px;
        left: 0px;
        .record-column {
          flex: 1;
          padding: 10px;
        }
      }
      .status-row {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .record {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          width: 100%;
          .record-column {
            flex: 1;
            padding: 10px;
          }
        }
        &:nth-child(odd) {
          background-color: #f7fbfc;
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
    .modal-header {
      display: flex;
      width: 100%;
      padding: 0;
      border-bottom: 2px solid #0088A8;
      align-items: center;
      min-height: 45px;
      .modal-title-text {
          color: #0088A8;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 1.5px;
          line-height: 21px;
          text-transform: uppercase;
      }
      .close {
          display: flex;
          justify-content: flex-end;
          font-size: 14px;
          transition: transform 300ms;
          cursor: pointer;
          &:hover {
              color: orangered !important;
              transform: scale(1.5);
          }
      }
    }
  }
}

.status-tooltip {
    position: relative;
    display: inline-block;
    i {
        cursor: pointer;
        padding: 2px 4px;
        font-size: 18px;
    }
    .tooltiptext {
        visibility: hidden;
        width: 360px;
        text-align: center;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        -webkit-box-shadow: 1px 1px 17px 0px rgba(50, 50, 50, 0.55);
        -moz-box-shadow:    1px 1px 17px 0px rgba(50, 50, 50, 0.55);
        box-shadow:         1px 1px 17px 0px rgba(50, 50, 50, 0.55);
        .title {
            background-color: #e2eaec;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            width: 100%;
            .record-column {
              flex: 1;
              padding: 2px 10px;
              font-weight: 500;
              color: #0088A8;
            }
          }
          .status-row {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            .record {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              width: 100%;
              .record-column {
                flex: 1;
                padding: 2px 10px;
                font-weight: normal;
                color: #444;
              }
            }
            &:nth-child(odd) {
              background-color: #f7fbfc;
            }
            &:nth-child(even) {
              background-color: #fff;
            }
          }
    }
    &:hover {
        .tooltiptext {
            visibility: visible;
        }
    }
}

.modal-window-status {
    .wrapper {
        padding-top: 0;
        width: 360px;
        .title {
            .record-column {
                padding: 2px 10px !important;
                font-weight: 500;
            }
        }
        .record {
            .record-column {
                padding: 2px 10px !important;
            }
        }
    }
}

.rating {
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 120%;
  line-height: 1.2;
  color: #ddd;
}

.rating:not(:checked) > label:before {
  content: "★ ";
}

.rating > input:checked ~ label {
  color: #f70;
}

.modal-window-feedback {
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  opacity: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  .wrapper-feedback {
    background-color: #fff;
    width: 50%;
    margin-left: 23%;
    margin-right: 23%;
    margin-top: 10%;
    margin-bottom: 12%;
    padding: 50px;
    border-radius: 10px;
    .header {
      text-align: center;
      color: rgb(0, 207, 255);
      font-size: larger;
    }
    .customer-reviews {
      background-color: #e4faf8;
      color: rgb(156, 133, 133);
      border-radius: 5px;
      padding: 0.5rem 2rem;
      margin-right: 30px;
      margin-bottom: 50px;
      display:inline-block;
      border: solid 2px rgb(0, 207, 255);
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .p-2 {
      padding-top: 10px;
    }
    textarea {
      font-size: 18px;
    }
    .rating-actual {
      float: left;
      padding-left: 150px;
      margin-top: -50px;
    }
    .rating-actual:not(:checked) > input {
      position: absolute;
      top: -9999px;
      clip: rect(0, 0, 0, 0);
    }
    .rating-actual:not(:checked) > label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 200%;
      line-height: 1.2;
      color: #ddd;
    }
    .rating-actual:not(:checked) > label:before {
      content: "★ ";
    }
    .rating-actual > input:checked ~ label {
      color: #f70;
    }
  }
}
