<div class="wrapper"
[ngStyle]="alert_level"
[ngClass]="{'shutter-in-vertical': shipment.flash}">
  <div class="col">
    <app-blowhorn-checkbox
    [id]="shipment.id"
    [hide_label]="true"
    [checked]="shipment.checked"
    (value_changed)="selectOrder($event)"
    ></app-blowhorn-checkbox>
  </div>
  <div class="col order">
    <div class="main-row">
      <div class="wrapper-order">
        <div class="number">
          {{shipment.number}}<br/>
        <span class="link" (click)="open_details()"
        *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_view_orderlines')"
        title="Click to view more details">View Details</span>
        </div>
        <span class="fa fa-registered reverse-pickup" style="color: #FFA500" *ngIf="shipment.return_order"></span>
      </div>
    </div>
    <div *ngIf="shipment.reference_number" class="ref-no"
    (click)="open_barcode()" title="Click to generate barcode">
      {{shipment.reference_number}}
      <div class="gr" *ngIf="shipment.is_offline_order == false">(Online) </div>
      <div class="yl" *ngIf="shipment.is_offline_order == true">(Offline) </div>
    </div>
    <div *ngIf="shipment.customer_reference_number" class="cust-ref-no">{{shipment.customer_reference_number}}</div>
    <div *ngIf="shipment.batch" class="batch-id">{{'Batch: ' + shipment.batch}}</div>
  </div>
  <div class="col driver">
    <div class="main-row driver-name" *ngIf="shipment.driver && shipment.driver.name">
        {{shipment.driver.name | titlecase}}<br/>
        <div class="sub-row date">{{shipment.driver.phone}}</div>
        <span class="link" (click)="open_assets()"
        title="Click to view crates/containers associated with order"
        *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_view_assets')">
        View Assets</span>
    </div>
    <div class="main-row driver-name"
      *ngIf="shipment.allow_assign_driver && _blowhorn_service.hasPermission('shipment_orders', 'can_assign_driver')">
      <span class="link" (click)="assign_driver()"
        title="Click to assign a driver">
        Assign Driver
      </span>
    </div>
  </div>
  <div class="col date-placed">
    <div class="main-row time">{{shipment.date_placed | date: 'shortTime'}}</div>
    <div class="sub-row date">{{shipment.date_placed | date: 'EEE, dd MMM y'}}</div>
  </div>
  <div *ngIf="!shipment.return_order; else expectedPickupTime" class="col expected-delivery-time">
    <div class="main-row time">
      {{shipment.expected_delivery_time_start | date: 'shortTime' || ''}}
      {{shipment.expected_delivery_time_start && shipment.expected_delivery_time_end ? ' - ' : '' }}
      {{shipment.expected_delivery_time_end | date: 'shortTime' || ''}}
    </div>
    <div class="sub-row date">
      {{shipment.expected_delivery_time_start | date: 'EEE, dd MMM y'}}
    </div>
  </div>
  <ng-template #expectedPickupTime>
    <div *ngIf="shipment.return_order" class="col expected-delivery-time">
      <div class="main-row time">
        {{shipment.expected_pickup_time | date: 'shortTime' || ''}}
      </div>
      <div class="sub-row date">
        {{shipment.expected_pickup_time | date: 'EEE, dd MMM y'}}
      </div>
    </div>
  </ng-template>
  <div class="col delivered-time">
    <div class="main-row time">{{shipment.delivered_time | date: 'shortTime' || '--NA--'}}</div>
    <div class="sub-row date">{{shipment.delivered_time | date: 'EEE, dd MMM y'}}</div>
  </div>
  <div class="col status">
    <div class="main-row">
      <span [ngStyle]="set_color(shipment.status)">
        {{shipment.status|uppercase|replaceString}}
      </span>
    </div>
    <div class="sub-row status-info"
    *ngIf="_blowhorn_service.hasPermission('shipment_orders', 'can_view_history')">
      <span class="link" (click)="show_status_history(shipment)">View History</span>
    </div>
    <div class="sub-row">
      Attempts made: {{shipment.num_of_attempts}}
    </div>
  </div>
  <div class="col customer-name">
    <div class="main-row customer-name" title="{{shipment.customer.name | titlecase}}">
      {{shipment.customer.name | titlecase}}
    </div>
    <div *ngIf="shipment.customer.phone" class="sub-row">{{shipment.customer.phone}}</div>
    <div class="sub-row">
      <span class="link" (click)="open_cod_details()"
        title="Click to view COD details">View COD
      </span>
    </div>
    <div class="sub-row" *ngIf = "rating">
      <span>
        <fieldset class="rating">
          <input type="radio"  [checked]="rating===5" />
          <label title="Highly Satisfied!" >5 stars</label>

          <input type="radio" [checked]="rating===4" />
          <label title="Satisfied" >4 stars</label>

          <input type="radio"  [checked]="rating===3" />
          <label title="Neutral" >3 stars</label>

          <input type="radio"  [checked]="rating===2" />
          <label title="Dissatisfied" >2 stars</label>

          <input type="radio" value="1" [checked]="rating===1" />
          <label title="Highly Dissatisfied" >1 star</label>
        </fieldset>
      </span>
      <span class="link p-1" (click)="show_remarks(shipment)">View</span>
    </div>
  </div>
  <div class="col btn-grp">
    <app-blowhorn-dropdown
    *ngIf="moreActions.length"
    [headerText]="'More'"
    [options]="moreActions"
    (selectedOption)="moreActionSelected($event)">
    </app-blowhorn-dropdown>
  </div>
</div>

<div class="modal-window" #overlay_panel_shipment_statuses *ngIf="show_shipment_statuses"
  tabindex="0" (keyup)="close_search($event)" (click)="close_search($event)">
    <div class="wrapper" (click)="suppress_click($event)">
      <div class="modal-header">
        <div class="modal-title-text d-flex">
            Shipment Order Status History
            <div class="status-tooltip">
                <i class="fa fa-info-circle"></i>
                <div class="tooltiptext">
                    <div *ngIf="_status_history.length" class="title">
                        <span  class="record-column">Status</span>
                        <span class="record-column">Alias</span>
                        </div>
                        <div *ngFor="let status of _status_history; let index = index;"
                        class="status-row">
                        <div class="record">
                            <span class="record-column">{{ status.node.status }}</span>
                            <span class="record-column">{{ status_legends[status.node.status] }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div (click)="suppress_click($event)">
            <span class="fa fa-times close"
            (click)="close_search($event)"></span>
        </div>
      </div>
      <div class="result">
        <div *ngIf="_status_history.length === 0">
          <span class="error">{{_error_msg}}</span>
        </div>
        <div *ngIf="_status_history.length" class="title">
          <span  class="record-column">Status</span>
          <span class="record-column">Date</span>
          <span class="record-column"></span>
        </div>
        <div *ngFor="let status of _status_history; let index = index;"
          class="status-row">
          <div class="record">
            <span class="record-column">{{status.node.status}} <b>{{status.node.remarks ? '(' + status.node.remarks + ')' : ''}}</b></span>
            <span class="record-column">{{status.node.createdDate | date: 'd MMM y' }} at {{ status.node.createdDate | date: 'shortTime' }}</span>
            <span class="record-column">
                <button class="download-btn" (click)="openPod(status.node.file)"
                    title="Download POD" *ngIf="status.node.file">
                    <i class="fa fa-file"></i>
                </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal-window-status" #overlay_panel_shipment_statuse_mapping *ngIf="show_status_mapping_modal"
  tabindex="0" (keyup)="close_status_mapping($event)" (click)="close_status_mapping($event)">
    <div class="wrapper" (click)="suppress_click($event)">
      <div class="modal-header">
        <div class="modal-title-text">Shipment Order Status Mapping</div>
        <div (click)="suppress_click($event)">
            <span class="fa fa-times close"
            (click)="close_status_mapping($event)"></span>
        </div>
      </div>
      <div class="result">
        <div *ngIf="_status_history.length === 0">
          <span class="error">{{_error_msg}}</span>
        </div>
        <div *ngIf="_status_history.length" class="title">
          <span  class="record-column">Status</span>
          <span class="record-column">Alias</span>
        </div>
        <div *ngFor="let status of _status_history; let index = index;"
          class="status-row">
          <div class="record">
            <span class="record-column">{{ status.node.status }}</span>
            <span class="record-column">{{ status_legends[status.node.status] }}</span>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal-window-feedback"  *ngIf="show_feedback" tabindex="0"
  (keyup)="close_remarks($event)" (click)="close_remarks($event)">
    <div class="wrapper-feedback" (click)="suppress_click($event)" >
      <div class="header">
        <span class="header">CUSTOMER FEEDBACK</span>
        <span class="fa fa-times clos" (click)="close_remarks($event)"></span>
      </div>
      <div>
        <div><p style="padding-top: 50px;"><b>Customer rated</b></p></div>
        <div class="sub-row">
            <span>
                <fieldset class="rating-actual">
                    <input type="radio"  [checked]="rating===5" />
                    <label title="Highly Satisfied!" >5 stars</label>

                    <input type="radio" [checked]="rating===4" />
                    <label title="Satisfied" >4 stars</label>

                    <input type="radio"  [checked]="rating===3" />
                    <label title="Neutral" >3 stars</label>

                    <input type="radio"  [checked]="rating===2" />
                    <label title="Dissatisfied" >2 stars</label>

                    <input type="radio" value="1" [checked]="rating===1" />
                    <label title="Highly Dissatisfied" >1 star</label>
                  </fieldset>
            </span>
        </div>
      </div>
      <div>
        <div class="p-1">Improvement needed on</div>
        <div>
            <div class="customer-reviews" *ngFor="let review of customerRemarks;">
                {{review}}
            </div>
        </div>
        <br>
        <div>
            <textarea class="form-control p-2" rows="5" id="comment" name="remarks" [(ngModel)]="comments" readonly></textarea>
        </div>
      </div>
    </div>
</div>
