<div class="wrapper">
    <div class="header-icon" [ngStyle]="styles.header_icon" *ngIf="header_icon_url">
        <i class="header_icon_url" [ngStyle]="styles.header_icon.img"></i>
    </div>
    <div class="loader" *ngIf="show_loader">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="heading" [ngStyle]="styles.header">{{heading}}</div>
    <div class="details" [ngStyle]="styles.details">{{details}}</div>
    <div *ngIf="show_warning" class="warning">
        <span class="image">
            <img src="{{ constants.images.warning }}" alt="">
        </span>
        <span class="message">Warning! This cannot be undone.</span>
    </div>
    <div class="footer" *ngIf="show_footer" [ngStyle]="styles.footer">
        <div class="" *ngIf="action_buttons.decline.show">
            <app-blowhorn-button
            class="no"
            (click_fired)="proceed.emit(false)"
            [label]="action_buttons.decline.label"
            [type]="action_buttons.decline.type"
            [flat_btn]="true">
            </app-blowhorn-button>
        </div>
        <div class="" *ngIf="action_buttons.confirm.show">
            <app-blowhorn-button
            class="yes"
            (click_fired)="proceed.emit(true)"
            [label]="action_buttons.confirm.label"
            [type]="action_buttons.confirm.type"
            [flat_btn]="true">
            </app-blowhorn-button>
        </div>
    </div>
</div>
