.wrapper {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    .heading {
        color: #303232;
        
        font-size: 18px;
        font-weight: bold;
        line-height: 27px;
        margin-bottom: 15px;
    }
    .details {
        color: #0180A8;
        
        font-size: 14px;
        letter-spacing: 0.3px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .warning {
        background-color: #FFE6EE;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;
        .image {
            margin-right: 10px;
            img {
                height: 30px;
            }
        }
        .message {
            color: #CC000F;
            
            font-size: 14px;
            line-height: 21px;
        }
    }
    .loader {
        $offset: 187;
        $duration: 1.4s;
        .spinner {
            animation: rotator $duration linear infinite;
        }
        @keyframes rotator {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(270deg); }
        }
        .path {
            stroke-dasharray: $offset;
            stroke-dashoffset: 0;
            transform-origin: center;
            animation:
                dash $duration ease-in-out infinite,
                colors ($duration*4) ease-in-out infinite;
        }

        @keyframes colors {
            0% { stroke: #4285F4; }
            25% { stroke: #DE3E35; }
            50% { stroke: #F7C223; }
            75% { stroke: #1B9A59; }
            100% { stroke: #4285F4; }
        }

        @keyframes dash {
            0% { stroke-dashoffset: $offset; }
            50% {
                stroke-dashoffset: $offset/4;
                transform:rotate(135deg);
            }
            100% {
                stroke-dashoffset: $offset;
                transform:rotate(450deg);
            }
        }
    }
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}
