.nav-item {
    text-align: center;
    height: 35px;
    margin: auto 20px;
    .nav-btn {
        color: grey;
        padding: 8px 23px;
        height: 29px;
        margin: 6px auto;
        line-height: 1em;
        border: 1px solid grey;
        &:hover {
            background: gray;
            color: white;
        }
    }
}