:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .header {
        background-color: #F7FBFC;
        color: #303232;
        
        font-size: 24px;
        font-weight: 300;
        line-height: 35px;
        padding: 30px 20px 10px 20px; 
    }
    .search-bar {
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F0F5F7;
        .count {
            color: #757E7F;	
            	
            font-size: 14px;	
            letter-spacing: 0.26px;	
            line-height: 21px;
        }
        .searcher {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #fff;
            input {
                width: 200px;
                padding: 5px;
                color: rgb(61, 65, 66);	
                	font-size: 14px;	
                letter-spacing: 0.26px;	
                line-height: 21px;
                outline: none;
                border: none;
            }
            .search-icon {
                padding: 5px;
                font-size: 15px;
                color: rgb(122, 122, 122);
            }
        }
    }
    .city-panels {
        flex: 1;
        overflow-y: scroll;
        align-items: stretch;
    }
}