<div class="header">Fleet Overview</div>
<div class="search-bar">
  <span class="count">{{(allocations | vehicleNumberFilter: filter_word).length}} Trucks in total</span>
  <div class="searcher">
    <input type="text" placeholder="Search for trucks" [(ngModel)]="filter_word">
    <span class="fa fa-search search-icon"></span>
  </div>
</div>
<div class="city-panels">
  <ng-container *ngFor="let city of cities">
    <app-city-panel *ngIf="(allocations | cityFilter: city | vehicleNumberFilter: filter_word).length" [disable_assign_route]="is_assign_route"
      (is_assign_route_fired)="enable_assign_route($event)"
      [records]="allocations | cityFilter: city | vehicleNumberFilter: filter_word" [city]="city">
    </app-city-panel>
  </ng-container>
</div>
