<div class="modal fade" id="modal-manual-upload"
  tabindex="-1" role="dialog" aria-labelledby="manualUploadModalLabel"
  aria-hidden="true">
  <div class='modal-dialog modal-md'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Manual GST Portal Uploads</h4>
      </div>
      <div class="modal-body">
        <div id="email-form-container">
          <div class="row g-3">
            <div class="col-md-6">
               <div class="form-group">
               <label for="formFile">Select file:</label>
                <input type="file" id="formFile" name="supporting_doc">
               </div>
            </div>
            <div class="col-auto">
              <input type="reset" class="reset">
            </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="reasons_choice">Select the reason:</label>
                <select id="reasons_choice" name="reasonlist" onchange="set_reason_value()" required>
                  <option value="">--Select a reason --</option>
                </select>
              </div>
            </div>
          </div>
          <input id="manual_upload" type="submit" value="submit"
            class="default transition-manual_upload pull-right"
            name="_fsmtransition-status-manual_upload">
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .modal-title{font-family: copperplate;}
  .modal-content{padding: 15px;}
  .row{margin: 0;}
  .reset{    background: red;
  margin-top: 12px;
    outline: none;
    border: none;
    color: white;
    padding: 6px 15px;}
</style>
