<div class="modal fade" id="modal-send-to-customer"
  tabindex="-1" role="dialog" aria-labelledby="sendToCustomerModalLabel"
  aria-hidden="true">
  <div class='modal-dialog modal-lg'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close"
        data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title text-center">Send To Customer</h4>
      </div>
      <div class="modal-body">
        <div id="email-form-container">
          <div class="row">
            <div class="form-group">
              <label for="id_unapprove_doc">Select file:</label>
              <input type="file" name="supporting_doc" id="id_unapprove_doc">
              <div class="row">
                <p class="hard-copy-info">* Attach hard copy</p>
              </div>
              <input type="reset">
            </div>
          </div>
          <div class="row customer-contacts-block">
            <label> Customer Contacts: </label><br>
            <div id="loading-msg" class="row text-center">Loading Contacts... Be patient..</div>
            <select id="id-to_email" data-style="" class="selectpicker form-control" multiple data-max-options="2"></select>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="row additional-email-block">
                <label for="email_prompt">Additional Emails (CC):</label>
                <div class="input-group">
                  <input type="text" name="email_prompt" id="email_prompt"
                  class="form-control" placeholder="Enter the email"
                  aria-describedby="basic-addon">
                  <div class="input-group-addon">
                    <button class="btn" type="button">Add</button>
                  </div>
                </div>
              </div>
              <div class="row" id="email-id-container"></div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div id="disclaimer-block">
                <b>NOTE:</b>
                <ul>
                  <li>Mail will be sent to company invoice mail
                    and <i><b>to YOU</b></i> by default.
                  </li>
                  <li>Emails in Additional Emails
                    and company invoice mail will be added to CC.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="modal-footer modal-custom-footer">
            <button type="button" class="btn btn-danger btn-footer"
              data-dismiss="modal" style="border-radius: 0;">Cancel</button>
            <button type="button" class="btn btn-info btn-footer"
              style="border-radius: 0;" onclick="askConfirmation()">Continue</button>
          </div>
        </div>
        <div id="confirmation-block">
          <h5>Recipient list:</h5>
          <p id="confirm-recipients"></p>
          <hr>
          <h5>Additional CC emails:</h5>
          <p id="confirm-cc-emails"></p>
          <div class="modal-footer modal-custom-footer">
            <button type="button" class="btn btn-danger btn-footer"
              style="border-radius: 0;" onclick="cancelConfirmation()">Cancel</button>
            <input id="send_invoice" type="submit" value="submit"
            class="default transition-send_invoice pull-right"
            name="_fsmtransition-status-send_invoice">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
