.container {
    padding: 24px;
    .error-template {padding: 40px 15px;text-align: center;}
    .error-actions {
        margin-top:15px;
        margin-bottom:15px;
        svg {
            height: 25px;
            width: 25px;
            margin-right: 4px;
        }
        .link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .subcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        width: 100%;
        .main-img {
            height: 45vh;
            width: 100%;
        }
        .heading {
            font-weight: 700;
            color: #666;
            font-size: 1.5rem;
            .order-number, .customer-name, .highlight-text {
                color: var(--primary-color);
                display: block;
            }
        }
        .body {
            color: #666;
        }
    }
}

@media screen and (min-width: 475px) {
    .order-number, .customer-name, .highlight-text {
        display: inline !important;
    }
}
