<div class="wrapper">
    <input type="text" 
        [placeholder]="placeholder"
        (focus)="show_list_and_filter()"
        (blur)="check_item()"
        [(ngModel)]="input_model"
        (keyup)="filter_items()">
    <div class="options d-flex flex-column align-items-start justify-content-center" *ngIf="is_focus">
        <div *ngFor="let item of filtered_items" 
            (mouseover)="set_input($event, item)" 
            (mouseout)="reset_input()" 
            (click)="set_input_and_emit_item($event, item)">
            {{display_property ? item[display_property] : item}}
        </div>
        <div *ngIf="!filtered_items.length" style="pointer-events: none">No record found</div>
    </div>
</div>