.wrapper {
    position: relative;
    width: 100%;
    input {        
        background-color: rgb(240, 245, 247);
        border: none;
        outline: none;
        
        font-size: 14px;
        font-weight: 600;
        padding: 12px 15px 10px 15px;
        width: 100%;
        &:focus {
            background-color: rgb(197, 244, 255);
        }
    }
    .options {
        width: 100%;
        position: absolute;
        z-index: 10;
        border: 1px solid rgb(201, 199, 199);
        box-shadow: 0px 0px 2px 0px rgb(102, 100, 100) inset;
        background-color: #fff;
        div {
            width: 100%;
            
            font-size: 14px;
            font-weight: 600;
            padding: 10px 15px 10px 15px;
            border: 1px solid transparent;
            border-bottom: 1px solid rgb(236, 234, 234);            
            cursor: pointer;
            &:hover {
                background-color: rgb(197, 244, 255);
                border: 1px solid transparent;
                border-bottom: 1px solid rgb(236, 234, 234);   
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}