
.wrapper {
    display: grid;
    width: 100%;
    align-items: flex-start;
    justify-items: start;
    background-color: inherit;
    border-bottom: 1px solid rgb(226, 234, 236);
    &:hover {
        background-color: #dcd9d9;
    }
    .col {
        padding: 10px 10px;
        
        font-size: 13px;
        line-height: 21px;
        &.btn-grp {
            display: flex;
            align-items: center;
            // justify-content: space-between;
            .action-button {
                margin-left: 8px;
                .download-btn {
                    cursor: pointer;
                    background: #fff;
                    border-radius: 2px;
                    border: 1px solid rgb(5, 199, 92);;
                    height: 30px;
                    color: rgb(5, 199, 92);
                    i {
                        width: 20px;
                        max-width: 20px;
                        height: auto;
                    }
                    &:hover {
                        color: #fff;
                        background: rgb(5, 199, 92);
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
                    }
                }
            }
        }
        &.name-col {
            width: 300px;
        }
        .main-row {
            color: #303232;
            padding: 0px;
            overflow-wrap: break-word;
            .link {
                cursor: pointer;
                color: rgb(6, 58, 170);
                &:hover {
                    color: #5283ec;
                    text-decoration: underline;
                }
            }
            &.col-invoice-amount {
                text-align: right;
            }
            &.period {
                display: flex;
                flex-direction: column;
            }
            &.col-boolean {
                text-align: center;
                span {
                    i.fa-check {
                        color: rgb(29, 192, 29);
                    }
                    i.fa-times {
                        color: rgb(221, 45, 45);
                    }
                }
            }
        }
        .sub-row {
            padding: 0px;
            color: #757E7F;
        }
    }
    .action-btn {
        width: 100%;
    }
}
