<div class="wrapper" [ngStyle]="styles">
    <div class="col name-col">
        <div class="main-row">
            <div
            class="link"
            title="Click to view details"
            (click)="proceed_with_action('details')">
                {{invoice.invoice_number || '--'}}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="main-row">{{invoice.invoice_state}}</div>
    </div>
    <div class="col">
        <div class="main-row">{{invoice.invoice_type}}</div>
    </div>
    <div class="col">
        <div class="main-row">
            <div>{{invoice.invoice_date|date:'mediumDate'}}</div>
        </div>
    </div>
    <div class="col">
        <div class="main-row">
            <div>{{invoice.service_period_end|date:'MMM y'}}</div>
        </div>
    </div>
    <div class="col">
        <div class="main-row col-invoice-amount">
            {{ blowhornService.currency|currencySymbol }}{{ invoice.total_rcm_amount|number:'0.2' }}
        </div>
    </div>
    <div class="col">
        <div class="main-row col-invoice-amount">
            {{ blowhornService.currency|currencySymbol }}{{ invoice.total_amount|number:'0.2' }}
        </div>
    </div>
    <div class="col" *ngIf="show_auditlog">
        <div class="main-row">
            <div>{{invoice.invoice_history?.created_by || '--NA--'}}</div>
        </div>
    </div>
    <div class="col" *ngIf="show_auditlog">
        <div class="main-row">
            <div *ngIf="invoice.invoice_history?.created_time">{{invoice.invoice_history?.created_time|date:'mediumDate'}}</div>
            <div *ngIf="!invoice.invoice_history?.created_time">--NA--</div>
        </div>
    </div>
    <div class="col btn-grp">
        <div class="action-button" *ngIf="show_actions && blowhornService.hasPermission('invoices', 'can_approve_invoice')">
            <app-blowhorn-button class="action-btn"
            (click_fired)="proceed_with_action('accept')"
            [label]="button.accept.label"
            [type]="button.accept.type">
            </app-blowhorn-button>
        </div>
        <div class="action-button" *ngIf="blowhornService.hasPermission('invoices', 'can_download_documents')">
            <button class="download-btn" (click)="show_download_option=true"
            title="Download Documents">
                <i class="fa fa-download"></i>
            </button>
        </div>
    </div>
    <div class="modal-window" *ngIf="show_download_option">
        <app-invoice-download
        [invoice_number]="invoice.invoice_number"
        (click_fired)="download_documents($event)"
        (download_closed)="show_download_option=false">
        </app-invoice-download>
    </div>
</div>
