.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 224px;
    border: 1px solid #F7FBFC;
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 10px;
        .name {
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #0180A8;
            font-size: 14px;
            font-weight: bold;
            line-height: 21px;
        }
    }
    .body {
        width: 100%;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
            color: #303232;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: #F7FBFC;
        width: 100%;
        .contact {
            width: 100%;
            height: 36px;
            color: #4E5454;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            padding: 5 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .left {
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span {
                    margin-left: 5px;
                    display: inline-block;
                    font-size: 14px;
                    width: 140px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .right {
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }
}
.gm-style-iw {
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    width: 224px !important;
}
