<div class="wrapper">
    <div class="header">
      <div class="name"> Stop Details </div>
    </div>
    <div class="body">
      <span>{{ stop.address }}</span>
    </div>
    <div class="footer">
        <div class="contact" *ngIf="stop.contact.name">
          <div class="left">
            <i class="bg-Contact"></i>
            <span>{{ stop.contact.name | titlecase }}</span>
          </div>
          <div class="right">
            <span>{{ stop.contact.mobile || '--' }}</span>
          </div>
        </div>
    </div>
</div>
