<div class="wrapper">
  <div>
    <app-blowhorn-checkbox
    #select_all
    [id]="'select_all'"
    [hide_label]="true"
    [group_name]="'select_all'"
    [disabled]="false"
    [checked]="selected"
    (value_changed)="selectAll($event)"
    ></app-blowhorn-checkbox>
  </div>
  <div class="order">Order</div>
  <div class="driver">Driver</div>
  <div class="date-placed">Created Time</div>
  <div class="expected-delivery-time">Expected Delivery/Pickup</div>
  <div class="delivered-time">Delivered Time</div>
  <div class="status text-center">Status</div>
  <div *ngIf="false" class="cash_on_delivery">Amount</div>
  <div class="customer-name">Customer</div>
  <div class="filler"></div>
</div>
