.wrapper {
    display: grid;
    height: 50px;
    grid-template-columns: 50px repeat(7, minmax(150px, 1fr)) 200px;
    align-items: center;
    background: white;
    div {
        padding-left: 20px;
        padding-right: 20px;
        color: #e4eef3;
        font-size: 14px;
        line-height: 21px;
    }
}
