.shipment-entity-panel {
    display: flex;
    flex-direction: column;
    .title {
        width: 80%;
        text-transform: uppercase;
        color: #757E7F;	
        	
        font-size: 14px;	
        font-weight: 900;	
        letter-spacing: 2px;	
        line-height: 21px;
    }
    .main-content {
        width: 80%;
        margin-top: 5px;
        color: #141515;	
        	
        font-size: 16px;	
        font-weight: 500;	
        line-height: 24px;
    }
    .sub-content {
        width: 80%;
        margin-top: 5px;
        color: #141515;	
        	
        font-size: 16px;	
        line-height: 24px;
    }
    .detail-content {
        width: 80%;
        margin-top: 5px;
        color: #141515;	
        	
        font-size: 13px;	
        line-height: 19px;    
    }
}
