
<div class="shipment-entity-panel">
  <div class="title">
      {{title}}
  </div>
  <div class="main-content">
    {{main_content | titlecase }}
  </div>
  <div class="sub-content">
    {{sub_content | titlecase}}
  </div>
  <div *ngIf="detail_content" class="detail-content">
    <span>{{detail_content}}</span>
  </div>
</div>
