{% load i18n %}

<div class="mw-wrap" id="{{ name }}-mw-wrap">
    {% block container %}
        <div class="mw-header">
            {% block header %}
                <div class="mw-coordinates-wrap">
                    <a  class="mw-btn mw-btn-primary mw-btn-coordinates">{% trans "Coordinates" %} <i class="icon-down-dir" ></i></a>
                    <div class="mw-coordinates-overlay hide">
                        <label for="{{ name }}-mw-overlay-latitude">
                            {% trans "Latitude:" %}
                            <input type="text" id="{{ name }}-mw-overlay-latitude" class="form-control mw-overlay-input mw-overlay-latitude" placeholder="{% trans 'Ex: 41.015137' %}"/>
                        </label>
                        <label for="{{ name }}-mw-overlay-longitude">
                            {% trans "Longitude:" %}
                            <input type="text" id="{{ name }}-mw-overlay-longitude" class="form-control mw-overlay-input mw-overlay-longitude" placeholder="{% trans 'Ex: 28.979530' %}"/>
                        </label>
                        <a class="mw-btn mw-btn-success mw-btn-coordinates-done pull-right">{% trans "Done" %}</a>
                    </div>
                </div>

                <a class="mw-btn mw-btn-info mw-btn-my-location" >{% trans "Use My Location" %}</a>
                <a class="mw-btn mw-btn-warning mw-btn-add-marker" ><i class="icon-location"></i></a>
                <div class="mw-adress-input-wrap pull-right">
                    <input type="text" class="form-control pull-right" id="{{ name }}-mw-google-address-input" placeholder="{% trans 'Enter or update the address here' %}"/>
                </div>
            {% endblock header %}
        </div>

        <div class="mw-map-wrapper">
            <div class="mw-loader-overlay hide" >
                <div class="mw-loader"></div>
            </div>
            <div id="{{ name }}-map-elem" class="mw-map"></div>
            <div style="display: none" class="hide">
                <textarea id="{{ id }}" name="{{ name }}">{{ serialized }}</textarea>
                {% block extra_input %}
                {% endblock extra_input %}

            </div>
        </div>

        <div class="mw-footer">
            <span class="mw-help-text help-text"></span>
            <a class="mw-btn mw-btn-delete pull-right {{ serialized|yesno:"mw-btn-danger, mw-btn-default disabled" }}" ><i class="icon-trash-empty"></i></a>
        </div>
        <div class="animated-loader"></div>
    {% endblock container %}
</div>

{% block javascript %}
    <script type="application/javascript">
        (function ($) {
            var mapOptions = JSON.parse("{{ options|escapejs }}");
            var field_value = JSON.parse("{{ field_value|escapejs }}");

            var wrapElemSelector = "#{{ name }}-mw-wrap";
            var mapElemID = "{{ name }}-map-elem";
            var googleAutoInputID = mapOptions.googleAutoInputID || "{{ name }}-mw-google-address-input";
            var locationInputID = "#{{ id }}";
            var dependantInput = 'id_' + mapOptions.dependantInput;
            if (mapOptions.googleAutoInputID) {
                document.getElementById("{{ name }}-mw-google-address-input").style.display = 'none';
            }

            var mapWidgetOptions = {
                locationInput: $(locationInputID),
                wrapElemSelector: wrapElemSelector,
                locationFieldValue: field_value,
                dependantInput: document.getElementById(dependantInput),
                mapElement: document.getElementById(mapElemID),
                mapCenterLocationName: mapOptions.mapCenterLocationName,
                mapCenterLocation: mapOptions.mapCenterLocation,
                coordinatesOverlayToggleBtn: $(".mw-btn-coordinates", wrapElemSelector),
                coordinatesOverlayDoneBtn: $(".mw-btn-coordinates-done", wrapElemSelector),
                coordinatesOverlayInputs: $(".mw-overlay-input", wrapElemSelector),
                coordinatesOverlay: $(".mw-coordinates-overlay", wrapElemSelector),
                myLocationBtn: $(".mw-btn-my-location", wrapElemSelector),
                addressAutoCompleteInput: document.getElementById(googleAutoInputID),
                deleteBtn: $(".mw-btn-delete", wrapElemSelector),
                addMarkerBtn: $(".mw-btn-add-marker", wrapElemSelector),
                loaderOverlayElem: $(".mw-loader-overlay", wrapElemSelector),
                zoom: mapOptions.zoom,
                markerFitZoom: mapOptions.markerFitZoom,
                GooglePlaceAutocompleteOptions: mapOptions.GooglePlaceAutocompleteOptions,
                markerCreateTriggerNameSpace: "google_point_map_widget:marker_create",
                markerChangeTriggerNameSpace: "google_point_map_widget:marker_change",
                markerDeleteTriggerNameSpace: "google_point_map_widget:marker_delete",
                placeChangedTriggerNameSpace: "google_point_map_widget:place_changed"
            };
            new DjangoGooglePointFieldWidget(mapWidgetOptions);
            {% block extra_javascript %}

            {% endblock %}
        })(jQuery || django.jQuery);
    </script>
{% endblock javascript %}
