<div class="driver-util-modal">
    <div class="modal-header">
        <div class="modal-title-text">Driver Utilization Details</div>
        <span class="fa fa-times cross" (click)="closeModal()"></span>
    </div>
    <div class="allocation-history-modal-body">
        <div class="loader-container" *ngIf="loadingData">
            <app-mini-loader [styles]="minLoaderStyles"></app-mini-loader>
        </div>
        <div class="table-header-wrapper">
            <div class="col-title">Driver</div>
            <div class="col-title">Vehicle</div>
            <div class="col-title">Trip Number</div>
        </div>
        <ng-container *ngFor="let result of results">
            <div class="table-row-wrapper">
                <div class="col name-col">
                    <div class="main-row">{{ result.driver__name }}</div>
                </div>
                <div class="col name-col">
                    <div class="main-row">{{ result.driver__driver_vehicle }}</div>
                </div>
                <div class="col name-col">
                    <div class="main-row link" (click)="openTracking(result.trip_number)"
                        title="Click to track the trip">
                        {{ result.trip_number }}
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
