.member-card {
    display: flex;
    flex-direction: column;
    padding: 24px;
    position: relative;
    background: white;
    overflow: hidden;
    &:hover {
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    }
    .avatar {
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        line-height: 72px;
        background: var(--teal);
        border-radius: 50%;
        color: #fff;
        margin-bottom: 16px;
        position: relative;
        max-width: 320px;
        .text {
            text-transform: uppercase;
        }
        .status-icon {
            position: absolute;
            top: 5px;
            right: -40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #fff;
            height: 26px;
            border-radius: 14px;
            padding: 0 12px;
            text-transform: uppercase;
            font-size: 10px;
            &.rounded-status {
                width: 26px;
                right: -6px;
                border-radius: 50%;
                padding: 0 !important;
            }
            .text {
                color: #fff;
            }
            svg {
                position: inherit;
                color: #fff;
                width: 20px;
                height: 20px;
            }
        }
    }
    .reinvite {
        position: absolute;
        right: -270px;
        padding: 6px 10px;
        box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
        border-radius: 8px;
        background: #fff;
        z-index: 1;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        width: 260px;
        cursor: pointer;
        .reinvite-wrapper {
            align-items: center;
            width: 100%;
            margin-bottom: 8px;
            .verticle-text {
                position: absolute;
                top: -20px;
                left: -20%;
                background: #fff;
                padding: 12px;
                box-shadow: 0 7px 20px -8px rgba(150, 170, 180, 0.5);
                border-radius: 8px;
                align-items: center;
                svg {
                    width: 24px;
                    margin-right: 8px;
                    color: red;
                }
                .text {
                    text-transform: uppercase;
                    width: 80px;
                    font-size: 14px;
                    font-weight: 500;
                    color: #666;
                }
            }
            .message {
                padding-top: 25%;
                font-size: 14px;
                color: #666;
                .text {
                    margin-bottom: 8px;
                }
                .action-btn {
                    margin-left: auto;
                }
            }
        }
        &:hover, &.active-reinvite {
            right: 0;
            .verticle-text {
                box-shadow: 0 7px 20px -8px rgba(150, 170, 180, 0.5);
            }
            svg {
                color: green;
            }
            .text {
                color: #666;
            }
        }
        .loader {
            height: 22px;
        }
    }
    .name {
        font-weight: 500;
        line-height: 21px;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 8px;
        text-transform: uppercase;
        color: #423e3e;
    }
    .role {
        color: #999;
        font-size: 14px;
        padding: 2px 8px;
        text-transform: capitalize;
        border-radius: 14px;
        border: 1px solid;
        margin-bottom: 18px;
        width: fit-content;
    }
    .email,
    .phone {
        color: #423e3e;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    hr {
        width: 100%;
    }
    .footer {
        justify-content: space-between;
        .edit {
            padding: 8px 15px;
            border: 1px solid #eee;
            text-align: center;
            border-radius: 8px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
            width: 48%;
            cursor: pointer;
            &:hover {
                color: #fff;
                background: var(--primary-color);
                box-shadow: 0 4px 20px -10px var(--primary-color);
            }
        }
    }
}
@media (max-width: 475px) {
    .member-card {
        width: 100%;
    }
}
