<div class="member-card">
    <div class="avatar" [ngStyle]="{'background': avatarColor}">
        <div class="text">{{ avatarUrl }}</div>
        <div
            class="status-icon"
            [ngStyle]="{'background': statusColors[member.status]}"
            [title]="member.status">
            <div class="text">
                {{ member.status }}
            </div>
        </div>
    </div>
    <div
        *ngIf="member.is_invite_link_expired && member.status === 'invited'"
        class="reinvite"
        [ngClass]="{'active-reinvite': show.invite_loader}"
    >
        <div class="reinvite-wrapper d-flex flex-column">
            <div
                *ngIf="!show.invite_loader"
                class="d-flex verticle-text"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                </svg>
                <div class="text">re-invite</div>
            </div>
            <div class="message d-flex flex-column">
                <div class="text">
                    Invitation link has expired.<br/> Do you want to send invite link again?
                </div>
                <app-blowhorn-button class="action-btn"
                (click_fired)="resend_invite_link()"
                [label]="'Invite Now'"
                [type]="'save'">
                </app-blowhorn-button>
            </div>
        </div>
        <div class="loader" *ngIf="show.invite_loader">
            <app-mini-loader
            [styles]="min_loader_styles"
            ></app-mini-loader>
        </div>
    </div>
    <div class="name">
        {{ member.name }}
    </div>
    <div class="role">
        {{ member.is_admin ? 'Admin' : 'Member' }}
    </div>
    <div class="email">
        {{ member.email || '--NA--' }}
    </div>
    <div class="phone">
        {{ member.phone_number || '--NA--' }}
    </div>
    <hr class="inset"/>
    <div class="footer d-flex">
        <div class="edit" (click)="open_member_modal()">
            Profile
        </div>
        <div class="edit" *ngIf="member_service.has_invite_permission" (click)="open_permission_modal()">
            Permissions
        </div>
    </div>
</div>
