<div class="wrapper">
    <div class="filters">
        <div class="global-filter">
            <span class="fa fa-search"></span>
            <input class="global-inputbox"
            type="search"
            placeholder="Search by name / email / phone"
            [(ngModel)]="filter_value"
            (ngModelChange)="onSearchInputChange($event)"
            title="Type here to search">
        </div>
        <div class="role d-flex align-items-center">
            <app-dropdown-select
            [styles]="dropdown_styles"
            [selected_name]="selected_role_name ? selected_role_name : default_role_value"
            [selected_id]="selected_role_id ? selected_role_id : null"
            (value_changed)="role_changed($event)"
            [items]="roles">
            </app-dropdown-select>
        </div>
        <div class="status d-flex align-items-center">
            <app-dropdown-select
            [styles]="dropdown_styles"
            [selected_name]="selected_status_name ? selected_status_name : default_status_value"
            [selected_id]="selected_status_id ? selected_status_id : null"
            (value_changed)="status_changed($event)"
            [items]="statuses">
            </app-dropdown-select>
        </div>
        <div class="count d-flex align-items-center mx-2">
            {{ total_count  }} {{ ['Admin', 'Member'].indexOf(selected_role_name) >-1 ? selected_role_name : 'User' }}{{total_count > 1 ? 's' : ''}}
        </div>
    </div>
    <div class="d-flex">
        <div class="add-btn-holder" *ngIf="memberService.has_invite_permission">
            <app-blowhorn-button
            [label]="add_button.label"
            (click_fired)="add_member()">
            </app-blowhorn-button>
        </div>
        <div class="toggle-view">
            <i class="fa fa-list" [ngClass]="{ 'active': currentView === 'list' }" (click)="changeView('list')"></i>
            <i class="fa fa-th" [ngClass]="{ 'active': currentView === 'grid' }" (click)="changeView('grid')"></i>
        </div>
    </div>
</div>
