.wrapper {
    height: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .toggle-view {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        i {
            font-size: 14px;
            padding: 6px 8px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                background: var(--primary-color);
                cursor: not-allowed;
            }
        }
    }
    .add-btn-holder {
        margin: 0 12px;
    }
    .filters {
        display: flex;
        .global-filter {
            border: 1px solid #d8d8d8;
            border-radius: 4px;
            background-color: #F7FBFC;
            padding: 8px;
            position: relative;
            display: flex;
            align-items: center;
            width: 280px;
            span {
                opacity: 0.3;
            }
            .global-inputbox {
                padding-left: 4%;
                outline: none;
                border: none;
                min-width: 150px;
                color: #3f3636;
                background-color: #F7FBFC;
                font-size: 14px;
                width: 95%;
                padding-top: 3px;
            }
        }
        .role {
            padding: 0 15px;
        }
        .count {
            color: #999;
            font-weight: bold;
            padding: 4px 0;
        }
    }
}
