.right-bar-holder {
  margin: 0 14px 14px 14px;
  border-left: 1px solid #cecece;
  height: 100%;

  .truck-type {
    margin: 0 10px 15px 15px;

    span {
      font-size: 20px;
      font-weight: 600;
      color: #747e7f;
    }

    .vehicle-number {
      color: #4E5454;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  .driver-name {
    margin-left: 15px;
    padding: 7px 0;
    border-bottom: 1px solid #e4e4e4;
    color: #747e7f;

    .driver {

      img {
        height: 22px;
      }

      span {
        color: #4e5454;
        font-weight: 300;
        font-size: 16px;
        padding-left: 7px;
      }
    }
    .super {
      width: 30px;
      margin-left: 29px;
    }

    .name {
      font-size: 16px;
      padding-left: 29px;
      font-weight: 500;
      color: #4E5454;
      line-height: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
  }

  .driver-mobile {
    margin: 15px;

    .driver {
      img {
        height: 28px;
      }
    }

    span {
      font-size: 16px;
      font-weight: 500;
      color: #4E5454;
      line-height: 24px;
    }
  }

  .button-holder {
    margin: 0 0 0 15px;

    .button-flat {
      padding: 8px 8px;
      border: 1px solid rgb(128, 230, 247);
      font-size: 13px;
      background-color: rgb(247, 251, 252);
      font-weight: 600;
      color: rgb(14, 134, 172);
      outline: none;
      cursor: pointer;
      width: 100%;
      text-decoration: none;
      &:hover {
        background-color: var(--primary-color);
        border: none;
        padding: 9px 9px;
        color: black;
        text-decoration: none;
      }
    }
  }

  .crop {
    position: relative;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px 0 0;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.first-section {
  height: 300px;

  .with-margin-top {
    margin-top: 50px;
  }

  .order-id {
    font-size: 16px;
    font-weight: 500;
    color: #4E5454;
    line-height: 24px;
    padding: 0;
    white-space: nowrap;
  }
}

.second-section {
  margin: 15px 8px;
  height: 115px;
  position: absolute;
  bottom: 0;
  img {
    height: 60px;
  }
  .text {
    line-height: 1;
    span {
      color: #646464;
    }
  }
}

.right-bar-holder-hor {
  .truck-type-hor {
    margin-right: 21px;
    span {
      font-size: 17px;
      font-weight: 600;
      color: #5e5e5e;
    }
  }

  .driver-name-hor, .driver-mobile-hor {
    .name, .mobile {
      font-size: 16px;
      font-weight: 700;
      color: #5e5e5e;
      padding: 0 16px 0 7px;
    }
    .name {
      padding-top: 4px;
      padding-left: 4px;
      &.order-id {
        padding: 0;
        color: #4E5454;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
      }
    }
    .img-super {
      width: 56px;
      margin: auto 0px 10px 4px;
    }
    .label {
      color: #747e7f;
    }
  }
  .crop {
    position: relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 10px 0 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (max-width: 767px){
  .right-bar-holder {
    border: none;
  }
  .first-section {
    height: auto !important;
    .with-margin-top {
      margin-top: 0;
    }
  }
  .second-section {
    display: none !important;
  }
  .right-bar-holder-hor .horizontal{
    flex-direction: column;
  }
}

@media screen and (max-width: 1120px){
  .horizontal-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
