<div class="right-bar-holder" *ngIf="!horizontal; else Horizontal">
  <div class="first-section d-flex flex-column align-items-between justify-content-between">

    <div class="first-section-1">
      <div class="truck-type d-flex align-items-center justify-content-start">
        <div class="crop" style="background-color: rgb(216, 216, 216)">
          <img src="{{ truckURL }}" alt="">
        </div>
        <div class="d-flex flex-column align-items-start">
          <span>{{ truckType }}</span>
          <span class="vehicle-number">{{ vehicleNumber }}</span>
        </div>
      </div>

      <div class="driver-name d-flex flex-column align-items-start justify-content-center">
        <div class="driver d-flex align-items-center justify-content-center">
          <img src="{{ constants.images.contact }}" alt="Contact">
          <span>Driver</span>
        </div>
        <img src="{{ constants.images.super }}" class="img-responsive super" *ngIf="bhService.default_build">
        <span class="name">{{ driverName }}</span>
      </div>

      <div *ngIf="driverMobile" class="driver-mobile d-flex align-items-center justify-content-start">
        <div class="driver d-flex align-items-center justify-content-center">
          <img src="{{ constants.images.make_call }}" alt="Make Call">
        </div>
        <span>{{ driverMobile }}</span>
      </div>
    </div>

    <div class="driver-mobile with-margin-top d-flex align-items-center justify-content-start">
        <div class="driver d-flex align-items-center justify-content-center">
            <span class="order-id">Trip ID : {{orderId}}</span>
        </div>
    </div>

    <div class="first-section-1">
      <div class="button-holder d-flex align-items-center justify-content-center">
        <!--<button class="button-flat" (click)="moveToDetails()">Track Live</button>-->
        <a routerLink="/track/{{orderId}}" target="_blank" class="button-flat text-center">Track Live</a>
      </div>
    </div>

  </div>

  <div class="second-section d-flex align-items-start justify-content-center">
    <div class="d-flex align-items-center justify-content-center">
      <ngx-qrcode [qrc-value] = "trackingUrl"> </ngx-qrcode>

      <div class="text">
        <span>Scan to track on phone</span>
      </div>
    </div>
  </div>
</div>

<ng-template #Horizontal>
  <div class="right-bar-holder-hor">
    <div class="horizontal-main d-flex align-items-center justify-content-between">
      <div class="horizontal d-flex align-items-center justify-content-start">

        <div class="truck-type-hor d-flex align-items-center justify-content-center">
          <div class="crop" style="background-color: rgb(216, 216, 216)">
            <img src="{{ truckURL }}" alt="">
          </div>

          <span>{{ truckType }}</span>
        </div>

        <div class="driver-name-hor d-flex align-items-start justify-content-center">
          <div class="driver-hor d-flex align-items-center justify-content-center">
            <img src="{{ constants.images.contact }}" alt="Contact">
            <span class="label">Driver: </span>
          </div>
          <img src="{{ constants.images.super }}" class="img-responsive img-super" *ngIf="bhService.default_build">
          <span class="name">{{ driverName }}</span>
        </div>

        <div *ngIf="driverMobile" class="driver-mobile-hor d-flex align-items-center justify-content-start">
          <div class="driver-hor d-flex align-items-center justify-content-center">
            <img src="{{ constants.images.make_call }}" alt="Make Call">
            <span class="label">Contact: </span>
          </div>
          <span class="mobile">{{ driverMobile }}</span>
        </div>
      </div>

      <div class="driver-mobile-hor d-flex align-items-center justify-content-end">
        <div class="driver-hor d-flex align-items-center justify-content-end">
          <span class="name order-id">Trip ID : {{orderId}}</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
