<div class="shipment-wrapper">
    <div class="header">
        <div class="no">#</div>
        <div class="v-splitter"></div>
        <div class="customer">Customer Details</div>
        <div class="v-splitter"></div>
        <div class="track">
            <div class="company">Order Details</div>
        </div>
        <div class="v-splitter"></div>
        <div class="payment-mode">Payment Mode</div>
        <div class="v-splitter"></div>
        <div class="barcode">Bar Code</div>
        <div class="v-splitter"></div>
        <div class="note">Delivery Instructions</div>
        <div class="v-splitter"></div>
        <div class="sign">Receiver Sign</div>
    </div>
    <div class="splitter"></div>
    <div class="content" *ngFor="let shipment of shipments; let sl_no = index">
        <div class="no">{{sl_no+1}}</div>
        <div class="v-splitter"></div>
        <div class="customer">
            <div class="names">{{ shipment.customer.first_name}} {{ shipment.customer.last_name }}</div>
            <div class="address">{{ shipment.customer.line1 }}</div>
            <div class="mobile">{{ shipment.customer.phone_number }}</div>
        </div>
        <div class="v-splitter"></div>
        <div class="track">
            <div class="company" *ngIf="blowhorn_service.is_staff">{{ shipment.company }}</div>
            <div class="track_id">{{ 'Reference No: ' + shipment.tracking_id }}</div>
            <div class="track_id">{{ 'Order No: ' + shipment.order_no }}</div>
            <div class="sku-details" *ngIf="shipment.sku_details.length > 0">
                {{shipment.sku_details[0].sku__name}}:{{shipment.sku_details[0].quantity}}
            </div>
        </div>
        <div class="v-splitter"></div>
        <div class="payment-mode">{{ shipment.payment_mode }}</div>
        <div class="v-splitter"></div>
        <div class="barcode">
            <ngx-barcode6
            [bc-format]="barcode_config.format"
            [bc-value]="shipment.tracking_id"
            [bc-display-value]="barcode_config.show_value"
            [bc-height]="barcode_config.height"
            [bc-width]="barcode_config.width"
            ></ngx-barcode6>
        </div>
        <div class="v-splitter"></div>
        <div class="note">{{ shipment.delivery_instructions }}</div>
        <div class="v-splitter"></div>
        <div class="sign"></div>
    </div>
</div>
<div class="shipment-wrapper-table">
    <hr>
    <table cellpadding="4">
        <thead>
            <tr>
                <th class="no">#</th>
                <th class="customer">Customer Details</th>
                <th class="track">
                    <div class="company">Order Details</div>
                </th>
                <th class="payment-mode">Payment Mode</th>
                <th class="barcode">Barcode</th>
                <th class="note">Delivery Instructions</th>
                <th class="sign">Receiver Sign</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            <tr class="content" *ngFor="let shipment of shipments; let sl_no = index">
                <td class="no">{{sl_no+1}}</td>
                <td class="customer">
                    <div class="names">{{ shipment.customer.first_name}} {{ shipment.customer.last_name }}</div>
                    <div class="address">{{ shipment.customer.line1 }}</div>
                    <div class="mobile">{{ shipment.customer.phone_number }}</div>
                </td>
                <td class="track">
                    <div class="company" *ngIf="blowhorn_service.is_staff">{{ shipment.company }}</div>
                    <div class="track_id">{{ 'Reference No: ' + shipment.tracking_id }}</div>
                    <div class="track_id">{{ 'Order No: ' + shipment.order_no }}</div>
                    <div class="sku-details" *ngIf="shipment.sku_details.length > 0">
                        {{shipment.sku_details[0].sku__name}}:{{shipment.sku_details[0].quantity}}
                    </div>
                </td>
                <td class="payment-mode">{{ shipment.payment_mode }}</td>
                <td class="barcode">
                    <div>
                        <ngx-barcode6
                        [bc-format]="barcode_config.format"
                        [bc-value]="shipment.tracking_id"
                        [bc-display-value]="barcode_config.show_value"
                        [bc-height]="barcode_config.height"
                        ></ngx-barcode6>
                    </div>
                </td>
                <td class="note">{{ shipment.delivery_instructions }}</td>
                <td class="sign"></td>
            </tr>
        </tbody>
    </table>
</div>
