.shipment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        width: 100%;
        display: flex;
        align-items: stretch;
        background: #EBFCFF;
        color: #0180A8 ;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 21px;
        text-transform: uppercase;
        .no {
            margin: 10px;
            flex: 1;
        }
        .customer {
            margin: 10px;
            flex: 6;
        }
        .track {
            margin: 10px;
            flex: 5;
        }
        .payment-mode {
            margin: 10px;
            flex: 4
        }
        .note {
            margin: 10px;
            flex: 3;
        }
        .sign {
            margin: 10px;
            flex: 3;
        }
        .barcode{
            margin: 10px;
            flex: 3;
        }
        .v-splitter {
            display: none;
        }
    }
    .splitter {
        flex: 1;
        width: 100%;
        border: 1px solid lightgray;
        margin-top: 1px;
    }
    .content {
        width: 100%;
        display: flex;
        align-items: stretch;
        box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, .2);
        margin: 10px 0px;
        color: #141515;

        font-size: 14px;
        line-height: 21px;
        .no {
            margin: 10px;
            flex: 1;
        }
        .customer {
            flex: 6;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 10px;
            .name {
                width: 100%;
                margin-bottom: 10px;
            }
            .address {
                width: 100%;
                font-size: 13px;
                margin-bottom: 10px;
            }
            .mobile {
                width: 100%;
            }
        }
        .track {
            margin: 10px;
            flex: 5;
        }
        .payment-mode {
            margin: 10px;
            flex: 4;
        }
        .note {
            margin: 10px;
            flex: 3;
        }
        .sign {
            margin: 10px;
            flex: 3;
        }
        .v-splitter {
            display: none;
        }
        &:last-child {
            border-bottom: none;
        }
    }
}

.shipment-wrapper-table {
    display: none;
}

@media print {
    .shipment-wrapper {
        display: none;
    }
    .shipment-wrapper-table {
        display: table;
    }
    thead {
        display:table-header-group ;
        page-break-inside: avoid !important;
    }
    table {
        border-collapse: collapse;
        page-break-inside:auto;
    }
    tfoot {
        display:table-header-group ;
        page-break-inside: avoid !important;
        page-break-after: always !important;
    }
    td, th, tr {
        page-break-inside: avoid !important;
        page-break-after:auto;
    }
    table, th, td {
        border: 1px solid black;
    }
    th {

        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
    }
    td {

        font-size: 14px;
    }
    .no {
        width: 3%;
    }
    .customer {
        width: 38%;
    }
    .track {
        width: 18%;
    }
    .payment-mode {
        width: 14%;
    }
    .note {
        width: 15%;
    }
    .sign {
        width: 12%;
    }
}
