<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{ heading }}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content table-responsive">
        <div class="loader-container" *ngIf="loading">
            <app-mini-loader></app-mini-loader>
        </div>
        <table mat-table
          [dataSource]="results"
          multiTemplateDataRows
        >
            <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef class="text-uppercase"> {{ headerNames[column] }} </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="column == 'id'">{{ element.id }}</span>
                    <span *ngIf="column == 'trip_number'">{{ element.trip_number || '--' }}</span>
                    <span *ngIf="column == 'amount'">{{ bh_service.currency|currencySymbol }}{{  element.amount }}</span>
                    <span *ngIf="column == 'payment_bank_txn'">{{ element.payment_bank_txn || '--' }}</span>
                    <span *ngIf="column == 'payment_mode'">{{ element.payment_mode }}</span>
                    <span *ngIf="column == 'status'">{{ element.status  || '--' }}</span>
                    <span *ngIf="column == 'created_date'">
                        <div class="delivered-time">
                            <div class="main-row">{{ element.created_date | date: 'shortTime' || '--NA--' }}</div>
                            <div class="sub-row">{{ element.created_date | date: 'EEE, dd MMM y' }}</div>
                        </div>
                    </span>
                    <span *ngIf="column == 'delivery_hub'">{{ element.delivery_hub || '--' }}</span>
                    <span *ngIf="column == 'more'">
                        <svg *ngIf="expandedElement !== element; else collapsedIcon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                        <ng-template #collapsedIcon>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                            </svg>
                        </ng-template>
                    </span>
                </td>
            </ng-container>
        
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell class="expandable-cell" *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="events-header mb-2 mt-6 text-uppercase">Events</div>
                        <ul class="list-group">
                            <li
                                class="list-group-item d-flex justify-content-between align-items-center"
                                *ngFor="let event of element.order_payment_history"
                            >
                                <span class="sub-row">{{ event.modified_date | date: 'EEE, dd MMM y hh:mm' }}</span>
                                <span class="main-row">{{ event.new_payment_status }}</span>
                            </li>
                        </ul>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                class="example-element-row"
                [class.example-expanded-row]="expandedElement === element"
                (click)="expandedElement = expandedElement === element ? null : element">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <div class="error-message text-danger p-2 d-flex align-items-center justify-content-center" *ngIf="!loading && !results.length">
            <p>No results found.</p>
        </div>
    </div>
</div>
