.wrapper {
    background: #fff;
    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .content {
        padding: 25px;
        table {
            width: 100%;
            .main-row {
                color: #303232;
                padding: 0px;
            }
            .sub-row {
                padding: 0px;
                color: #757e7f;
            }
            tr {
                svg {
                    cursor: pointer;
                }
            }
            tr.example-detail-row {
                height: 0;
            }
            tr.example-element-row:not(.example-expanded-row):hover {
                background: whitesmoke;
            }
            tr.example-element-row:not(.example-expanded-row):active {
                background: #efefef;
            }
            .example-element-row td {
                border-bottom-width: 0;
                margin-bottom: 15px;
            }
            .example-element-detail {
                overflow: hidden;
                max-width: 50%;
            }
            .events-header {
                color: #757e7f;
            }
            ul {
                margin-bottom: 15px;                
            }
        }
    }
}
