<div>
  <div class="apikeyform">
    <app-tpi-api-key></app-tpi-api-key>
  </div>

  <div class="serviceform"> 
    <app-tpi-add-service></app-tpi-add-service>
  </div>

  <div class="suggestionform">
    <app-tpi-suggestion-form></app-tpi-suggestion-form>
  </div>

</div>