<div class="wrapper">
  <div class="header">
    <div class="name">{{stop.address.name || stop_header | titlecase}}</div>
    <div class="action" *ngIf="enable_location">
        <div class="save" 
          *ngIf="!stop.address.name" 
          (click)="edit_save_address(stop)">
          <i class="bg-SaveLoc"></i>
          <i class="bg-SaveLocHover"></i>Save
        </div>
        <div class="saved" 
          *ngIf="stop.address.name"
          (click)="edit_save_address(stop)">
          <i class="bg-LocSaved"></i>
          <i class="bg-LocSavedHover"></i>Saved
        </div>
    </div>
  </div>
  <div class="body">
    <span>{{stop.address.full_address}}</span>
  </div>
  <div class="footer">
      <div class="add-contact" 
        *ngIf="!stop.contact.name" 
        (click)="add_edit_contact(stop)">
        <i class="bg-AddContact"></i>
        <i class="bg-AddContactHover"></i> Add Contact
      </div>
      <div class="contact" *ngIf="stop.contact.name">
        <div class="left">
          <i class="bg-Contact"></i>           
          <span>{{stop.contact.name | titlecase}}</span> 
        </div> 
        <div class="right" (click)="add_edit_contact(stop)">
          <i class="bg-EditContact"></i>
          <i class="bg-EditContactHover"></i>
        </div> 
      </div>
  </div>
</div>