.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 224px;
    border: 1px solid #F7FBFC;
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px 10px;
        .name {
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #0180A8;	
            	
            font-size: 14px;	
            font-weight: bold;	
            line-height: 21px;
        }
        .action {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            
            font-size: 14px;
            font-weight: 500;
            color: #4E5454;
            .save {
                width: 100%;
                display: flex;
                align-items: center;
                justify-items: flex-end;
                cursor: pointer;
                .bg-SaveLoc {
                    display: inline-block;
                    margin-right: 3px;
                    margin-top: -4px;
                }
                .bg-SaveLocHover {
                    display:  none;
                }
                &:hover {
                    .bg-SaveLoc {
                        display: none;
                    }
                    .bg-SaveLocHover {
                        display:  inline-block;
                        margin-right: 3px;
                        margin-top: -4px;
                    }
                }
            }
            .saved {
                width: 100%;
                display: flex;
                align-items: center;
                justify-items: flex-end;
                cursor: pointer;
                .bg-LocSaved {
                    display: inline-block;
                    margin-right: 3px;
                    margin-top: -4px;
                }
                .bg-LocSavedHover {
                    display: none;
                }
                &:hover {
                    .bg-LocSaved {
                        display: none;
                    }
                    .bg-LocSavedHover {
                        display: inline-block;
                        margin-right: 3px;
                        margin-top: -4px;
                    }
                }
            }
        }
    }
    .body {
        width: 100%;
        padding: 5px 10px;        
        display: flex;
        align-items: center;
        justify-content: flex-start;
        span {
            color: #303232;	
            	
            font-size: 14px;	
            line-height: 16px;
            font-weight: 400;
        }
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;       
        background-color: #F7FBFC;       
        width: 100%;        
        .add-contact {
            width: 100%;
            height: 36px;
            color: #4E5454;	
            	
            font-size: 12px;	
            font-weight: 500;	
            line-height: 18px;
            padding: 5 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            .bg-AddContactHover {
                display: none;
                margin-right: 5px;
            }
            .bg-AddContact {
                display: inline-block;
                margin-right: 5px;
            }
            &:hover {
                .bg-AddContactHover {
                    display: inline-block;
                    margin-right: 5px;
                } 
                .bg-AddContact {
                    display: none;
                    margin-right: 5px;
                }
            }
        }
        .contact {
            width: 100%;
            height: 36px;
            color: #4E5454;	
            	
            font-size: 12px;	
            font-weight: 500;	
            line-height: 18px;
            padding: 5 10px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .left {
                margin-right: auto;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span {
                    margin-left: 5px;
                    display: inline-block;
                    font-size: 14px;	
                    width: 140px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .right {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                .bg-EditContactHover {
                    display: none;
                }
                .bg-EditContact {
                    display: inline-block;
                }
                &:hover {
                    .bg-EditContactHover {
                        display: inline-block;
                    } 
                    .bg-EditContact {
                        display: none;
                    }
                }
            }
        }
    }
}
.gm-style-iw {
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    width: 224px !important;
}