{% load staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta property="og:title" content="">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="">
    <meta property="og:locale" content="en_IN" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:site_name" content="" />
    <base href="/">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    {% endblock %}
  </head>
  <body class="{% block body_class %}parallax{% endblock %}" style="overflow-x: hidden;">
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
      <p>Use this document as a way to quick start any new project.</p>
    {% endblock content %}

    {% block modal %}{% endblock modal %}

    <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% block javascript %}
      <!-- Your stuff: Third-party javascript libraries go here -->
    {% endblock javascript %}

</body>
</html>
