{% extends "base.html" %}

{% block css %}
    <link rel='stylesheet' href="{% static 'blowhorn/css/error.css' %}">
{% endblock %}

{% block content %}
    <div class='site-block' style="background-image : url(/static/img/error_bg.jpg); position: fixed; height: 100%;  background-size: cover;" alt="blowhorn">
        <a href="/"><img src="{% static 'blowhorn/images/blowhorn_logo.png' %}" alt='blowhorn' height="120" /></a>
        <div class="site-width">
            <br> <br>
            <div class='err-block'>
                <!-- <img src="/static/img/error_panda.jpg" height="255" style="float: left; margin-left: 30px" />
                <img src='/static/img/admin.jpg'style="width: 100px;margin-left: -90px;"> -->
                <div class="error-text">
                    <font color="#00c1ef">
                        <h1>Permission denied!</h1>
                        <h2>Contact Admin!</h2>
                    </font>
                </div>
                <br />
            </div>
            <div class="home-link">
                <a href="/"><h3 class='home-linktext'>Go back to</h3>Home</a>
            </div>
        </div>
    </div>
{% endblock content %}
