{% extends "website/home_base.html" %}
{% load i18n %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}

{% block css %}
  {{ block.super }}
  <style type="text/css">
    .errorlist {list-style-type: none; color:red;padding-left: 0;}
  </style>
{% endblock css %}

{% block content %}
<div class="intro" style="background: url('/static/website/images/bg1.jpg')
no-repeat center center fixed; height: 100vh;">
 <div class="container" style="height: 100%;">
   <header class="row">
     <div class="col-sm-2 col-xs-4">
       <a href="/" title="Blowhorn">
         <img src="{% static 'website/images/logoLight2X.png' %}" alt="blowhorn logo" class="img-responsive" />
       </a>
     </div>
   </header>
   <div id="modal-password" role="dialog" aria-labelledby="modal-password">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" style="color:black;">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
          </h4>
        </div>
        <div class="modal-body text-center">
          {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
            {% if form %}
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Update" class="btn-blue" title="Update" name="action">
            </form>
            {% else %}
              <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
   </div>
 </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script type="application/javascript">
    (function ($) {
      $(document).ready(function () {
        $('#id_password1, #id_password2').addClass('form-control');
        $('input[submit]').addClass('btn-blue');
      });
    })(jQuery);
  </script>
{% endblock javascript %}
