:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .wrapper {
        height: calc(100vh - 150px);
        width: 100%;
        overflow-y: auto;
        .container {
          .upcoming-trips {
            margin: 30px 42px 0 42px;
            box-shadow: 1px 1px 3px 0 #cecece;
            background-color: white;
            position: relative;
            padding: 12px 15px 12px 12px;
          
            span {
              color: #4E5454;
              font-size: 20px;
              font-weight: 300;
              line-height: 29px;
            }
          }
          app-list-trips {
              flex-basis: 1;
              width: 100%;
          }
        }
    }
}

.modal-window {
  z-index: 999;
}
.pagination {
  margin-top: 5px;
  padding-right: 42px;
  padding-left: 38px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  app-blowhorn-pagination {
    box-shadow: 1px 1px 4px 0 #cecece;
  }
}
.fullscreen {
  height: 100% !important;
}

@media screen and (max-width: 767px){
  .upcoming-trips {
    margin: 10px 12px !important;
  }
}
