<div class="wrapper" [ngClass]="!trips.length ? 'fullscreen' : ''">
  <div class="container">
      <div class="upcoming-trips" *ngIf="trips.length > 0">
          <span>{{ trips.length }} Upcoming Trips</span>
        </div>  
        <app-list-trips [trips]="trips" [showMap]="false" [bookingMode]="true" 
        (reschedule_trip)="show_reschedule($event)"></app-list-trips>
  </div>
</div>
<div class="container" *ngIf="trips.length">
  <div class="pagination">
    <app-blowhorn-pagination #pagination 
        (data_fetched)="update_trips($event)"
        [count]="count"
        [next]="next"
        [previous]="previous">
    </app-blowhorn-pagination>
  </div>
</div>
<div *ngIf="show_details" class="modal-window">
  <app-timeslot-picker
  [trip]="selected_trip"
  (details_closed)="reschedule_window_closed($event)">
  </app-timeslot-picker>
</div>