.modal-dialog{
    max-width:100%;
    height: 100%;
    margin: 0 !important;
}

.allocation-history-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 0 20px;
    .modal-header {
        display: flex;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .cross {
            display: flex;
            justify-content: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .allocation-history-modal-body {
        .remove {
            color: red !important;
        }
        .add {
            color: rgb(5, 199, 92) !important;
        }
        .pagination {
            margin-top: 2%;
            position: absolute;
            bottom: 0;
        }
        .pagination-info {
            position: absolute;
            right: 10px;
            bottom: 10px;
            padding: 10px;
        }
        .error {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            span {
                color: red;
            }
        }

        .table-header-wrapper {
            display: grid;
            height: 30px;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            align-items: center;
            background: white;
            div {
                padding-left: 20px;
                padding-right: 20px;
                color: #8B8D8E;
                
                font-size: 14px;
                line-height: 21px;
            }
        }

        .table-row-wrapper {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            align-items: flex-start;
            justify-items: start;
            background-color: #fff;
            border-bottom: 1px solid rgb(226, 234, 236);

            &:hover {
                background-color: #dcd9d9;
            }
            .col {
                padding: 10px 20px;
                
                font-size: 14px;
                line-height: 21px;
                .main-row {
                    color: #303232;
                    padding: 0px;
                    overflow-wrap: break-word;
                    

                    &.action-buttons-wrapper {
                        display: flex;
                    }

                }
                .sub-row {
                    padding: 0px;
                    color: #757E7F;
                }
            }
        }
    }
}
.backdrop-color {
    background-color: rgba(0, 0, 0, 0.7);
}
