<div class="allocation-history-modal">
    <div class="modal-header">
        <div class="modal-title-text">allocation history - {{contract.name}}</div>
        <span class="fa fa-times cross" (click)="activeModal.dismiss('Cross click')"></span>
    </div>
    <div class="allocation-history-modal-body">
        <div class="table-header-wrapper">
            <div class="col-title">Driver</div>
            <div class="col-title">Action</div>
            <div class="col-title">Modified By</div>
            <div class="col-title">Modified Time</div>
        </div>
        <ng-container *ngFor="let history of currentPageData">
            <div class="table-row-wrapper">
                <div class="col name-col">
                    <div class="main-row">{{history.driver}}</div>
                </div>
                <div class="col">
                    <div class="main-row" [ngClass]="{'remove': history.action === 'post_remove', 'add': history.action === 'post_add'}">
                    {{(history.action === 'post_add') ? 'Added' : 'Removed'}}
                    </div>
                </div>
                <div class="col">
                    <div class="main-row">{{history.modified_by}}</div>
                </div>
                <div class="col">
                    <div class="main-row">{{history.event_time | date: 'dd-MMM-yyyy HH:mm'}}</div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="allocation_history.length <= 0" class="error">
            <span>{{error_message}}</span>
        </div>
        <div class="pagination-info" *ngIf="allocation_history.length > itemsPerPage">
            {{startItem+1}} - {{endItem>allocation_history.length ? allocation_history.length : endItem}} of {{allocation_history.length}} records
        </div>
        <ngb-pagination *ngIf="allocation_history.length > itemsPerPage"
        class="d-flex justify-content-center"
        [collectionSize]="allocation_history.length"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [(page)]="currentPage"
        [boundaryLinks]="true"
        (pageChange)="pageChanged($event)"
        ></ngb-pagination>
    </div>
</div>
