<div class="gallery">
  <div *ngFor="let item of urls" class="images">
    <a target="_blank" href="{{ item.file }}" download>
      <img src="{{ item.file }}" alt="{{ item.caption }}">
    </a>
    <div class="bottom-sheet">
      <div class="caption">{{ item.caption }}</div>
      <a class="btn-download" target="_blank" href="{{ item.file }}" download>
        <button class="download-btn"
          (click)="download_image(item.file)"
          title="Download">
          <i class="fa fa-download"></i>
        </button>
      </a>
    </div>
  </div>
</div>
