.gallery {
    display: flex;
    flex-wrap: wrap;
    div.images {
        margin: 8px;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        width: 300px;
        height: 200px;
        .bottom-sheet {
            position: absolute;
            bottom: 0;
            margin: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity:0;
            font-size: 20px;
            padding: 20px;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 8px;
            .caption {
                text-transform: capitalize;
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                vertical-align: middle;
                margin: auto 0;
            }
            a.btn-download {
                .download-btn {
                    cursor: pointer;
                    background: #fff;
                    border-radius: 2px;
                    border: 1px solid rgb(5, 199, 92);;
                    height: 30px;
                    color: rgb(5, 199, 92);
                    i {
                        width: 20px;
                        max-width: 20px;
                        height: auto;
                    }
                    &:hover {
                        color: #fff;
                        background: rgb(5, 199, 92);
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
                    }
                }
            }
        }
        img {
            width: 100%;
            -webkit-transition: all 2s ease;
            -moz-transition: all 2s ease;
            -o-transition: all 2s ease;
            -ms-transition: all 2s ease;
            transition: all 2s ease;
            filter: blur(0);
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -o-filter: blur(0);
            -ms-filter: blur(0);
            -ms-filter: blur(0px);
            &:hover {
                -webkit-transform: scale(1.33);
                -webkit-transform-origin: 50% 50%;
                -moz-transform: scale(1.33);
                transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                transform: scale(1.33);
            }
        }

        &:hover {
            .bottom-sheet {
                opacity: 1;
            }
        }
    }
}
