.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  box-shadow: 0 0 5px 3px #cecece;
  background-color: rgb(247, 251, 252);
  z-index: 100;

  .logo {
    padding: 44px 0 23px 47px;
    cursor: pointer;
    outline: none;
  }

  .nav-item {
    margin: 7px 0;
    cursor: pointer;

    .nav-link {
      font-size: 14px;
      font-weight: 600;
      color: #7b7373;
      padding: 10px 0 10px 45px;

      &.active, &:hover {
        color: black;
        font-weight: 700;
        background-color: rgb(197, 244, 255);
        border-radius: 0;
      }
    }
  }

  .user-profile {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 260px;
    padding: 22px 0 22px 45px;
    background-color: rgb(240, 245, 247);
    cursor: pointer;

    .crop {
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 10px 0 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    .user-text {
      font-weight: 600;
    }
  }

}

.toggler {
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: var(--primary-color);
  z-index: 110;

  img {
    height: 36px;
    margin: 2px;
  }
}

@media screen {
  .sidebar {
    position: fixed;
  }
}

.animate {
  -webkit-transition: left 0.3s ease-out 0.3s;
  -moz-transition: left 0.3s ease-out 0.3s;
  -o-transition: left 0.3s ease-out 0.3s;
  transition: left 0.3s ease-out 0.3s;
}

.hide-menu {
  left: -270px;
}

.show-menu {
  left: 0;
}

.move-right {
  left: 260px;
  opacity: 0.8;
}

.move-left {
  left: 0;
}

.space {
  width: 260px;
  height: 100%;
}
