<nav *ngIf="_sidebar_service.show_sidebar" 
class="d-flex flex-column align-items-between d-xs-block bg-light sidebar animate"
[ngClass]="{'hide-menu': !show_menu, 'show-menu': show_menu }">
  <div>
    <div class="logo d-flex align-items-center"
    routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a href="/"><img src="{{blowhorn_service.logo_url}}" alt=""></a>
    </div>

    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="mytrips" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">My trips</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="_sidebar_service.show_sidebar" class="toggler animate d-xs-block d-sm-block d-md-block d-lg-none d-xl-none"
  (click)="show_menu = !show_menu" [ngClass]="{'move-left': !show_menu, 'move-right': show_menu }">
  <img [src]="show_menu ? cancelIcon : blowhorn_service.logo_url"  alt="">
</div>
<div *ngIf="_sidebar_service.show_sidebar" class="space d-none d-sm-none d-md-none d-lg-block d-xl-block"></div>
