<div id="about">
  <div id="intro" class="ng-cloak">
    <blowhorn-header></blowhorn-header>
  </div>
  <div class="container">
    <div id="content-inverse" class=" col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h1>WHY WE’RE HERE</h1>
          <p class="lead">We want to build Earth’s best intra-city logistics company, by solving the toughest problems
            for our customers. </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-3">
          <p>In 2014, when we started exploring the intra-city logistics market in India, it was fragmented and
            inefficient. There was no standardised pricing, or processes. Technology could be used to create an asset
            light, efficient, logistics marketplace.
          </p>
        </div>

        <div class="col-sm-4 col-lg-3">
          <p>Spot markets for intra-city logistics had no organised player and traditional logistics companies were
            unable to provide efficiencies for fixed contracts. They were asset heavy and riddled with non-existent or
            primitive technology platforms.</p>
        </div>

        <div class="col-sm-4 col-lg-3">
          <p>We saw a need for a different kind of a company to handle large logistics problems of traditional and new
            age businesses. We believed that solving for India, is solving for the world. That is why we founded
            Blowhorn
          </p>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h1>WHAT WE DO</h1>
          <p class="lead">We provide innovative logistics solutions for a wide variety of customers, ranging from large
            ecommerce companies to small convenience stores.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-lg-3">
          <p> We are focused on creating the best logistics system to make first mile, last mile and hub deliveries
            efficient. To achieve this we have built the best intra-city transportation network, to efficiently deliver
            goods, which will be augmented by class leading technology and next generation services to efficiently
            deliver goods.
          </p>
        </div>

        <div class="col-sm-4 col-lg-3">
          <p> We believe the current
            e-commerce logistics ecosystem has limitations driven by capital intensive play, low leverage of
            technology, contextual intelligence and data. Other large and small businesses have low access to
            technology-driven, scalable logistics solutions. </p>
        </div>

        <div class="col-sm-4 col-lg-3">
          <p> We want to drive the next wave of rapid deliveries by building asset-light, scalable logistics
            infrastructure backed by our transportation network.
          </p>
        </div>
      </div>
      <hr class="visible-xs">
      <div class="row">
        <div class="col-sm-12">
          <p><a href="/solutions" class="btn-inverse">Some Solutions we provide </a></p>
          <p><a data-toggle="modal" data-target="#getApp-modal" class="btn-inverse">Download our App </a></p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h1>WHERE WE ARE HEADED</h1>
          <p class="lead">Organisations, large and small, are using Blowhorn for both their regular and cutting edge
            logistics requirements
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-lg-4 ">
          <p> With Blowhorn, e-commerce companies are piloting new business lines, electronics manufacturers are
            delivering products faster to the end consumer, small businesses are relying on Blowhorn’s spot market for
            asset-light logistics, and Individuals are easily transacting second hand goods. The supply side,
            owner-drivers, are seeing increased earnings and upskilling. This is just the beginning.
          </p>
        </div>

        <div class="col-sm-6 col-lg-4">
          <p> We are working to build a future where companies can rely on Blowhorn to manage their entire logistics
            chains, so that they can fulfill the mandate that their stakeholders need - scale reliably and deliver
            value to customers.
          </p>
        </div>

      </div>
    </div>
  </div>
  <blowhorn-footer></blowhorn-footer>
</div>
