<div class="about-page" ng-click="documentClickHandler($event)">
    <section class="container about-section ng-cloak section-height" id="intro">
      <div class="layer">
        <blowhorn-header></blowhorn-header>
      </div>
    </section>
    <div class="floating-panel">
      <div class="container contents">
        <div class="header">Hi. We're Blowhorn!</div>
        <div class="contents-card">
          <div class="title">
            <div class="header">Why we're here</div>
          </div>
          <div class="horizontal-split">
            <div class="splitter"></div>
          </div>
          <div class="text">
            We want to build Earth’s best intra-city logistics company,
            by solving the toughest problems for our customers.
            In 2014, when we started exploring the intra-city logistics market in India,
            it was fragmented and inefficient. There was no standardised pricing, or processes.
            Technology could be used to create an asset light, efficient, logistics marketplace.
            Spot markets for intra-city logistics had no organised player and traditional
            logistics companies were unable to provide efficiencies for fixed contracts.
            They were asset heavy and riddled with non-existent or primitive technology platforms.
            We saw a need for a different kind of a company to handle large logistics
            problems of traditional and new age businesses. We believed that solving for
            India, is solving for the world. That is why we founded Blowhorn.
          </div>
        </div>
        <div class="contents-card">
          <div class="title">
            <div class="header">What we do</div>
          </div>
          <div class="horizontal-split">
            <div class="splitter"></div>
          </div>
          <div class="text">
            We are focused on building a system to make all things logistics efficient. To achieve this, we have built
            the best intra city transportation network, which will be augmented by a class apart leading technology to
            deliver goods economically.<br><br>

            We learnt that the current e-commerce logistics ecosystem had limited capital intensive play, low leverage of
            technology and contextual intelligence, while other large and small businesses have low access to
            tech-driven, scalable logistics solutions. We want to drive the next wave of rapid deliveries by building
            asset light, scalable logistics infrastructure backed by our ever-so-growing transportation network.
          </div>
          <div class="learn-more-panel">
            <a class="learn-more-link" href="/solutions">
              <span class="learn-more">Learn more</span>
              <span class="learn-more-btn">
                <i class="fa fa-chevron-right"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="contents-card">
          <div class="title">
            <div class="header">Where we're headed</div>
          </div>
          <div class="horizontal-split">
            <div class="splitter"></div>
          </div>
          <div class="text">
            With Blowhorn, e-commerce companies are piloting new business lines, manufacturers are delivering products
            faster to the end consumer, small businesses are relying on our spot market for asset light logistics and
            individuals are easily transacting second-hand goods. On the supply side, owner-drivers are seeing increased
            earnings and upskilling. And we like to think that this is just the beginning.
            We are working sleepless nights to build a future where companies can rely on us to manage their entire
            logistics chain, so that they can fulfill the mandate that their stakeholders need.
          </div>
        </div>
        <div class="delivered-with">
          <span class="blue">Delivered</span>
          <span class="black">With</span>
          <span class="fa fa-heart red"></span>
        </div>
      </div>
      <div>
        <blowhorn-footer></blowhorn-footer>
      </div>
    </div>
  </div>
