<style type="text/css">
    .coupon-container{padding: 0 15px;}
    .coupon-container .main-text{font-weight: 500;}
    .coupon-container .coupons-list{height: 12vh;max-height: 30vh;overflow-y: auto;}
    .coupon-container .coupon{cursor: pointer; margin-bottom: 2px;padding: 8px 10px;border: 1px solid var(--primary-color) !important;color: var(--primary-color);}
    .coupon-container .header{font-weight: 500;margin-bottom: 4px;display: flex;justify-content: space-between;}
    .coupon-container .description{font-size: 12px;}
    .coupon-container .additional-info{font-size: 12px !important;text-align: right;padding: 2px;color: var(--secondary-color);}
    .coupon-container .coupons-list .glyphicon-ok {color: #53e853;}
</style>
<div class="coupon-container" ng-if="coupons && coupons.length">
    <div class="main-text">Available Coupons</div>
    <div class="coupons-list">
        <div class="coupon" ng-repeat="result in coupons track by $index"
        ng-click="selectCoupon({val: result.code})">
            <div class="header">
                <div class="coupon-code">{{ result.code }} <i class="glyphicon glyphicon-ok" 
                    ng-if="result.code==appliedCoupon"></i>
                </div>
                <div class="additional-info" 
                ng-click="showMore({val: result.terms_and_conditions});">More info</div>
            </div>
            <div class="description">{{ result.message }}</div>
        <div>
    </div>
    <div class="no-coupons" ng-if="!coupons.length">
        No coupons available.
    </div>
</div>
