<div class="container banner desktop hidden-xs">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 img-wrapper">
        <div class="img-container"></div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 covid-container">
        <div class="covid-19">COVID-19</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 donate-btn-wrapper">
        <div class="covid-right">
            <div class="front-line">
                <div>the</div>
                <div>blowhorn</div>
                <div>front-line</div>
            </div>
            <div class="btn-donate" ng-click="openDonationPage()">
                know more & donate
            </div>
        </div>
    </div>
</div>
<div class="container banner mobile visible-xs">
    <div class="content">
        <div class="row front-line">
            <div>the blowhorn front-line</div>
        </div>
        <div class="row">
            <div class="btn-donate" ng-click="openDonationPage()">
                know more & donate
            </div>
        </div>
    </div>
</div>
