<!-- Booking form block -->
<div id="bookingFormV2" class="fade in" ng-click="documentClickHandler($event)">
  <div class="helpSection hidden-xs" ng-show="show.help">
    <div class="option option-1">
      <div class="number">1</div>
      <div class="icon">
        <i class="bg-Logo"></i>
      </div>
      <div class="text">
        Go to home page to clone your old bookings, cancel upcoming bookings and more
      </div>
    </div>

    <div class="option option-2">
      <div class="number">2</div>
      <div class="icon">
        <i class="bg-SavedLocDrop"></i>
      </div>
      <div class="text">
        Click here to access your saved locations and more
      </div>
    </div>

    <div class="option option-3">
      <div class="number">3</div>
      <div class="icon">
        <i class="bg-Logo"></i>
      </div>
      <div class="text">
        Your Saved locations are shown on map. Click them to instantly add to your route
      </div>
    </div>

    <div class="welcomeMsg">
      <h2 ng-show="b_user_logged_in">Welcome to {{brandName}}!</h2>
      <h2 ng-show="!b_user_logged_in">Sign in for more!</h2>
      <div class="getStarted" ng-click="closeHelp()">Get Started</div>
    </div>
  </div>
  <div class="userBar" ng-if="!isDefaultBuild">
    <button class="btn btn-link btn-map" ng-click="zoomOutMarkers()">Map
      <span></span>
    </button>
    <div class="btn-group" ng-if="b_user_logged_in">
      <button type="button" data-toggle="dropdown"
        class="btn btn-default btn-user hidden-xs dropdown-toggle">
        <img ng-src="{{userAvatarUrl}}" alt="">{{ userProfile.name }}
        <span class="caret"></span>
      </button>
      <ul role="menu" class="dropdown-menu">
        <li><a ng-click="showProfile()">Profile</a></li>
        <li><a ng-click="openMyAccount()" ng-if="!is_staff_user">My Account</a></li>
        <li><a ng-click="openDashboard('menu')" ng-if="!is_staff_user">Dashboard</a></li>
        <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
    <button class="btn btn-link btn-user hidden-xs" ng-if="!b_user_logged_in"
    ng-click="openLoginModal($event)">Login</button>
    <div class="tooltip hidden-xs" ng-show="show.login_tooltip && !b_user_logged_in">
      <i></i>
      <p>Login to access your saved locations, repeat previous trips &amp; more</p>
      <button class="btn btn-link" ng-click="show.login_tooltip=false">Ok</button>
    </div>
  </div>

  <div class="mapBar">
    <button class="btn btn-link btnClose" ng-click="toggleMap()">
      <i></i>
    </button>
    Edit Stops
    <button class="btn btn-link btnOk" ng-click="toggleMap()">
      <i></i>
    </button>
  </div>

  <div class="rate-card-and-vehicle-info-container" ng-show="show.vehicle_section && show.vehicle_info">
    <div class="wrapper">
      <div class="truck-information">
        <a href="" class="close-btn">
          <span class="bg-Cancel" ng-click="more_of_vehicle=null;show.vehicle_info=false"></span>
        </a>
        <div class="vehicle-info-measurement">
          <div class="vehicle-info">
            <div class="vehiclePhoto">
              <img height="108px" src="{{more_of_vehicle.icons.detail}}">
            </div>
            <div class="vehicle-label">
              <span>{{more_of_vehicle.alias_name}}</span>
            </div>
            <div class="description">
              <span>
                {{more_of_vehicle.description}}
              </span>
            </div>
            <div class="truck-capacity"><span>Max weight: {{more_of_vehicle.dimensions.capacity}}</span></div>
          </div>
          <div class="measurement">
            <div class="truck-length dimension">L:{{more_of_vehicle.dimensions.length}}</div>
            <div class="truck-height dimension">H:{{more_of_vehicle.dimensions.height}}</div>
            <div class="truck-width dimension">B:{{more_of_vehicle.dimensions.breadth}}</div>
            <img class="dimension-image" src="/static/assets/truck/Container_light_truck.png" alt="">
          </div>
        </div>
      </div>
      <div class="rate-info">
        <span class="heading">Select Rate Package</span>
        <div class="rate-cards">
          <div class="rate-card"
            ng-repeat="rate in more_of_vehicle.packages track by $index"
            ng-click="selectRateCard(more_of_vehicle, rate)"
            ng-class="{'rate-card-selected': bookingObject.selected_contract_id === rate.contract_id}"
            ng-init="is_hover"
            ng-mouseenter="is_hover=true"
            ng-mouseleave="is_hover=false">
            <div class="rate-card-header">
              {{is_hover &&  bookingObject.selected_contract_id !== rate.contract_id ? 'Choose Package' : rate.description.base.package_title}}
            </div>
            <div class="rate-card-body">
              <div class="base-fare">
                <div class="base-fare-header">base fare</div>
                <div class="base-fare-val">
                  {{rate.currency|formatCurrency}}{{rate.description.base.base_rate_title}}
                </div>
                <div class="base-fare-tagline">
                  {{rate.description.base.base_rate_desc}}
                </div>
              </div>
              <div class="slab-fare">
                <div class="slabs">
                  <div class="slab"
                  ng-repeat="dslab in rate.description.package_extra_km">
                    <div class="slab-header">
                      {{rate.currency|formatCurrency}}{{dslab.rate_title}}
                    </div>
                    <div class="slab-tagline">
                      {{dslab.rate_desc}}
                    </div>
                  </div>
                </div>
                <div class="slab-seperator"
                ng-show="rate.description.package_extra_km.length
                && rate.description.package_extra_min"></div>
                <div class="slabs">
                  <div class="slab"
                  ng-repeat="tslab in rate.description.package_extra_min">
                    <div class="slab-header">
                      {{rate.currency|formatCurrency}}{{tslab.rate_title}}
                    </div>
                    <div class="slab-tagline">
                      {{tslab.rate_desc}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sideBar">
    <div id="menu">
      <ul>
        <li>
          <a class="first" title="{{current_build}}" ng-click="bookingFormLogoClicked()">
            <span class="bg-Logo"></span>
          </a>
        </li>
        <li>
          <a href="" title="Vehicle" ng-class="{on: show.vehicle_section, done: section.vehicle_done && !show.vehicle_section}"
            ng-click="showSection('vehicle')">
            <span class="bg-Vehicle"></span>
            <span class="bg-VehicleSelected"></span>
            <span class="bg-VehicleDone"></span>
            <strong>Vehicle</strong>
          </a>
        </li>
        <li>
          <a href="" title="Where" ng-class="{on: show.where_section, done: section.where_done && !show.where_section}"
            ng-click="showSection('where')">
            <span class="bg-Where"></span>
            <span class="bg-WhereSelected"></span>
            <span class="bg-WhereDone"></span>
            <strong>Where</strong>
          </a>
        </li>
        <li>
          <a href="" title="When" ng-class="{on: show.when_section, done: section.when_done && !show.when_section}"
            ng-click="showSection('when')">
            <span class="bg-When"></span>
            <span class="bg-WhenSelected"></span>
            <span class="bg-WhenDone"></span>
            <strong>When</strong>
          </a>
        </li>
        <li>
          <a href="" title="What" ng-class="{on: show.what_section, done: section.what_done && !show.what_section}"
            ng-click="showSection('what')">
            <span class="bg-What"></span>
            <span class="bg-WhatSelected"></span>
            <span class="bg-WhatDone"></span>
            <strong>What</strong>
          </a>
        </li>
      </ul>
    </div>
    <div class="sideBarHeader">
      <button class="btn btn-back pull-left" ng-click="goBackInBookingFormMobile(prev_section)"> </button>
      <button class="btn btn-map pull-right" ng-click="toggleMap()">Map
        <span></span>
      </button>
      <h1>Book a truck</h1>
    </div>

    <div class="panel-group" id="accordion" role="tablist">
      <div class="panel panel-default" id="vehicle" ng-show="show.vehicle_section">
        <div class="panel-heading on">
          <h2 class="panel-title">
            Select a Vehicle Type
          </h2>
        </div>
        <div id="collapseVehicle" class="panel-collapse collapse collapseVehicle in" role="tabpanel">
          <div class="panel-body ">
            <div class="vehicleList">
              <table class="table table-bordered">
                <tr ng-repeat="vc in vehicle_classes track by $index" ng-click="selectVehicleClass(vc);$parent.more_of_vehicle=vc;">
                  <td width="30px">
                    <input type="radio" id="vc-{{$index}}" name="vehicle" ng-value="vc.classification"
                    ng-model="$parent.bookingObject.selected_vehicle_class">
                    <label for="vc-{{$index}}">
                      <i class="bg-off bg-RadioUnSelected"></i>
                      <i class="bg-on bg-RadioSelected"></i>
                    </label>
                  </td>
                  <td width="72px">
                    <div class="vehiclePhoto">
                      <img width="72px" ng-src="{{vc.icons.standard}}" ng-show="$parent.bookingObject.selected_vehicle_class != vc.classification">
                      <img width="72px" ng-src="{{vc.icons.selected}}" ng-show="$parent.bookingObject.selected_vehicle_class == vc.classification">
                    </div>
                  </td>
                  <td class="vehicleDetails" width="230px">
                    <button class="btn btn-more pull-right" ng-class="{on: ($parent.more_of_vehicle==vc && $parent.show.vehicle_info)}"
                      ng-click="$event.stopPropagation(); selectVehicleClass(vc); $parent.show.vehicle_info=true; $parent.more_of_vehicle=vc;">
                      More
                    </button>
                    <span class="vehicleName">{{vc.alias_name}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="more-disclaimer">
          <span><span class="highlight">*</span> click <span class="highlight"> more </span>for details</span>
        </div>
      </div>

      <div class="panel panel-default" id="where" ng-show="show.where_section">
        <div class="panel-heading on">
          <h2 class="panel-title">
            Where are you moving
          </h2>
        </div>
        <div id="collapseWhere" class="panel-collapse collapse collapseWhere in" role="tabpanel">
          <div class="panel-body hasStops ">
            <form id="addressForm" name="addressForm" novalidate autocomplete="off" ng-class="{'has-waypoint': bookingObject.waypointMarkers.length>0}">
              <div class="form-field">
                <label for="">Picking up from</label>
                <div class="input-group" uib-dropdown ng-init="showPickup=false" is-open="showPickup">
                  <span class="locationFrom " title="Picking up from">
                    <span class="bg-BlueMarker"></span>
                  </span>
                  <!--<span class="changeOrder" title="Change Order" ng-class="{'has-waypoint': bookingObject.waypointMarkers.length>0}"></span>-->
                  <input type="text" class="form-control" id="from-address" name="from_address" placeholder="Click to enter full address"
                    ng-model="bookingObject.pickup.address.full_address" ng-model-options="{allowInvalid: true}"
                    validate-where="validate_where" google-places tabindex="1" show-save-location-option="show.save_location_option"
                    selected-city="selectedCity" selected-city-bounds="selectedCityBounds.pickup" selected-city-polygon="selectedCityPolygon.pickup"
                    open-save-address="openSaveAddress" open-add-edit-contact="openAddEditContact" calc-route="calcRoute()"
                    data="bookingObject.pickup" address="bookingObject.pickup.address" marker="bookingObject.pickup.marker"
                    position="bookingObject.pickup.position" icon="bookingObject.pickup.icon" map="map.mapBooking"
                    title="bookingObject.pickup.title" ng-class="{'has-error': addressForm.from_address.$error.validPlace}"
                    ng-focus="zoomToMarker(bookingObject.pickup.marker)" required>
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-dropdown hasTooltip" type="button" uib-dropdown-toggle ng-click="getUserAddress()">
                      <span class="bg-SavedLocDropHover"></span>
                      <span class="bg-SavedLocDropPressed"></span>
                    </button>
                    <div class="tooltip right" ng-show="!hideSavedAddressHelperText && b_user_logged_in">
                      <i></i>
                      <p>Click here to access your saved locations &amp; more</p>
                      <button class="btn btn-link" ng-click="closeTooltip()">Ok</button>
                    </div>
                  </span>
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-delete" title="Remove" type="button" ng-click="deletePickup()"
                      ng-show="bookingObject.waypointMarkers.length>0"></button>
                  </span>
                  <ul class="dropdown dropdown-menu dropdown-menu-custom savedLocations" uib-dropdown-menu role="menu">
                    <li>
                      <a class="currentLocation pointer" ng-click="useCurrentLocation(bookingObject.pickup.marker)">
                        <i class="bg-MyLocation"></i>Use my current location</a>
                    </li>
                    <li class="divider" ng-show="userProfile.saved_locations.length>0">Saved Locations</li>
                    <li ng-repeat="location in userProfile.saved_locations track by $index">
                      <a class="pointer" ng-click="selectSavedLocation(bookingObject.pickup, location)">
                        <strong>{{location.name}}</strong>
                        <small>{{location.address.full_address}}</small>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Waypoints -->
              <div class="allStops" ng-class="{'has-waypoint': bookingObject.waypointMarkers.length>0}">
                <div id="waypoints-container" sv-root sv-part="bookingObject.waypointMarkers" sv-on-sort="renameWaypoints(0)">
                  <div class="form-field" ng-repeat="w in bookingObject.waypointMarkers" sv-element>
                    <div class="input-group" uib-dropdown ng-init="showWaypoint=false" is-open="showWaypoint">
                      <span class="locationStop">
                        <span class="bg-Stop">
                          <em>{{$index+1}}</em>
                        </span>
                      </span>
                      <span class="changeOrder" title="Change Order" ng-show="bookingObject.waypointMarkers.length>1"
                        sv-handle>
                        <i class="bg-off bg-Drag"></i>
                        <i class="bg-on bg-DragHover"></i>
                        <i class="bg-down bg-DragPressed"></i>
                      </span>
                      <div ng-form="waypoint{{$index}}">
                        <input type="text" class="form-control" ng-model="w.address.full_address" ng-model-options="{allowInvalid: true}"
                          validate-where="$parent.validate_where" google-places tabindex="2" show-save-location-option="show.save_location_option"
                          selected-city="selectedCity" selected-city-bounds="selectedCityBounds.dropoff" selected-city-polygon="selectedCityPolygon.dropoff"
                          open-save-address="openSaveAddress" open-add-edit-contact="openAddEditContact" calc-route="calcRoute()"
                          data='w' address="w.address" marker="w.marker" position="w.initial_position" icon="w.icon"
                          map="map.mapBooking" title="w.title" ng-class="{'has-error': addressForm.from_address.$error.validPlace}"
                          ng-focus="zoomToMarker(w.marker)" required>
                      </div>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-dropdown" type="button" uib-dropdown-toggle>
                          <span class="bg-SavedLocDropHover"></span>
                          <span class="bg-SavedLocDropPressed"></span>
                        </button>
                      </span>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-delete" title="Remove" type="button" ng-click="deleteWaypoint($index)"></button>
                      </span>
                      <ul class="dropdown dropdown-menu dropdown-menu-custom savedLocations" uib-dropdown-menu role="menu">
                        <li>
                          <a class="currentLocation pointer" ng-click="useCurrentLocation(w.marker)">
                            <i class="bg-MyLocation"></i>Use my current location</a>
                        </li>
                        <li class="divider" ng-show="userProfile.saved_locations.length>0">Saved Locations</li>
                        <li ng-repeat="location in userProfile.saved_locations track by $index">
                          <a class="pointer" ng-click="selectSavedLocation(w, location)">
                            <strong>{{location.name}}</strong>
                            <small>{{location.address.full_address}}</small>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tooltip" style="left: -3px; top: 112px;" ng-show="displayWaypointHelp">
                <i></i>
                <p>Use these to drag and change the order of stops</p>
                <button class="btn btn-link" ng-click="hideHelperText()">Ok</button>
              </div>
              <div class="swapLocation" title="Swap" ng-click="swapPickupAndDropoff()" ng-show="(bookingObject.pickup.address.full_address || bookingObject.dropoff.address.full_address) && (bookingObject.waypointMarkers.length===0)">
                <span class="bg-ToggleHover"></span>
              </div>
              <div class="form-field">
                <label for="">Delivering to</label>
                <div class="input-group" uib-dropdown ng-init="showDropoff=false" is-open="showDropoff">
                  <span class="locationTo" title="Delivering to">
                    <span class="bg-PurpleMarker"></span>
                  </span>
                  <!--<span class="changeOrder" title="Change Order" ng-class="{'has-waypoint': bookingObject.waypointMarkers.length>0}"></span>-->
                  <input type="text" class="form-control" id="to-address" name="to_address" placeholder="Click to enter full address"
                    ng-model="bookingObject.dropoff.address.full_address" ng-model-options="{allowInvalid: true}"
                    validate-where="validate_where" google-places tabindex="3" show-save-location-option="show.save_location_option"
                    selected-city="selectedCity" selected-city-bounds="selectedCityBounds.dropoff" selected-city-polygon="selectedCityPolygon.dropoff"
                    open-save-address="openSaveAddress" open-add-edit-contact="openAddEditContact" calc-route="calcRoute()"
                    data="bookingObject.dropoff" address="bookingObject.dropoff.address" marker="bookingObject.dropoff.marker"
                    position="bookingObject.dropoff.position" icon="bookingObject.dropoff.icon" map="map.mapBooking"
                    title="bookingObject.dropoff.title" ng-class="{'has-error': addressForm.from_address.$error.validPlace}"
                    ng-focus="zoomToMarker(bookingObject.dropoff.marker)" required>
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-dropdown" type="button" uib-dropdown-toggle ng-click="getUserAddress()">
                      <span class="bg-SavedLocDropHover"></span>
                      <span class="bg-SavedLocDropPressed"></span>
                    </button>
                  </span>
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-delete" title="Remove" type="button" ng-click="deleteDropoff()"
                      ng-show="bookingObject.waypointMarkers.length>0">

                    </button>
                  </span>

                  <ul class="dropdown dropdown-menu dropdown-menu-custom savedLocations" uib-dropdown-menu role="menu">
                    <li>
                      <a class="currentLocation pointer" ng-click="useCurrentLocation(bookingObject.dropoff.marker)">
                        <i class="bg-MyLocation"></i>Use my current location</a>
                    </li>
                    <li class="divider" ng-show="userProfile.saved_locations.length>0">Saved Locations</li>
                    <li ng-repeat="location in userProfile.saved_locations track by $index">
                      <a class="pointer" ng-click="selectSavedLocation(bookingObject.dropoff, location)">
                        <strong>{{location.name}}</strong>
                        <small>{{location.address.full_address}}</small>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </form>
            <span class="track"></span>
            <div class="coverage-message" ng-show="alertMessage">
              <span>{{alertMessage}}</span>
            </div>
          </div>

          <div class="mlr15 hidden-xs">
            <hr>
            <button class="btn btn-link btn-add " id="addStop" ng-click="addWaypoint()">
              <i class="bg-off bg-AddStop"></i>
              <i class="bg-on bg-AddStopHover"></i>Add stop</button>
            <button class="btn btn-link btn-add optimizePath" ng-show="pickupAddress.full_address && dropoffAddress.full_address && (bookingObject.waypointMarkers.length>1)"
              ng-click="askConfirmation()">
              <i class="bg-off bg-Optimize"></i>
              <i class="bg-on bg-OptimizeHover"></i> Optimize Path</button>
            <button class="btn btn-link btn-add" ng-show="user_logged_in" ng-click="openSaveRoute()">
              <i class="bg-off bg-SaveRoute"></i>
              <i class="bg-on bg-SaveRouteHover"></i>Save route</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="show.when_section" id="when" ng-class="{'submitted': formsubmitted}">
        <div class="panel-heading on" role="tab" data-toggle="collapse" data-parent="#accordion" data-target="#collapseWhen"
          ng-disabled="isDisabled">
          <h2 class="panel-title">
            When do we pickup
          </h2>
        </div>
        <div id="collapseWhen" class="panel-collapse" role="tabpanel">
          <div class="panel-body">
            <form id="timeForm" name="timeForm" novalidate>
              <div class="timeSlot customCheckbox">
                <label for="now" ng-class="{on : bookingObject.selectedTimeFrame == 'now'}">
                  <input name="timeSlot" type="radio" id="now" value="now" ng-model="bookingObject.selectedTimeFrame">
                  <em>Now</em>
                </label>
                <label for="customSlot" ng-click="section.when_done=(selected_day!=null && selected_time!=null);"
                  ng-class="{on:bookingObject.selectedTimeFrame == 'later'}">
                  <input name="timeSlot" type="radio" id="customSlot" value="later" ng-model="bookingObject.selectedTimeFrame">
                  <em>Later</em>
                </label>
              </div>
              <div class="timeSlotNow" ng-show="bookingObject.selectedTimeFrame == 'now'">
                <div ng-hide="nowNotAvailable">
                  <h3>We can schedule your pick up in
                    <span>1 hour</span>
                  </h3>
                </div>
                <div ng-show="nowNotAvailable">
                  <h2>Sorry! No vehicles are available now :(</h2>
                </div>
              </div>
              <!--
              <div class="availableTimeSlotNow" ng-show="isTimeFrameSelected('tomorrow')">
                <h3>Available timeslots <span>{{showDate}}</span></h3>
              </div>-->

              <div class="timeSlot timeSlotSmall timeSlotMonth customCheckbox"
                ng-show="bookingObject.selectedTimeFrame == 'later'">
                <h6>Select a date in the next {{max_advance_booking_days}} days</h6>
                <div class="customCalendar">
                  <div ng-repeat="(monthName, days_data) in days_array">
                    <div class="month-name">{{monthName}}</div>
                    <div class="dayName">
                      <span>Mon</span>
                      <span>Tue</span>
                      <span>Wed</span>
                      <span>Thu</span>
                      <span>Fri</span>
                      <span>Sat</span>
                      <span>Sun</span>
                    </div>
                    <span
                    ng-class="{
                      on: $parent.dayIsAvailable(day),
                      selected: day !== -1 ? $parent.selected_day.isSame(day, 'day') : false,
                      today: day !== -1 ? day.isSame($parent.today, 'day') : false,
                      zeroOpacity: day == -1
                    }"
                    ng-repeat="day in days_data track by $index"
                    ng-click="day !== -1 && $parent.selectDay(day)"
                    ng-disabled="!$parent.dayIsAvailable(day)">
                      <!--  ng-disabled="(day < $parent.today || day > $parent.availability_end)">-->
                      {{day.format('DD')}}
                      <!--Show it if start of month-->
                      <!-- <em ng-show="day.date()==1">{{day.format('MMM')}}</em> -->
                    </span>
                  </div>
                </div>
              </div>
              <div ng-show="noSlots">
                <br />
                <h2>Sorry! All time slots are closed :( </h2>
              </div>
              <div ng-show="selected_day && showSlots && !noSlots" style="position: relative">
                <h6>Select a timeslot</h6>
                <div class="input-group timePickerHolder" time-picker enabled-hours="newDate" select-time-slot="selectTimeSlot"
                  timeslots="timeslots" minute-info="minutes">

                  <span class="input-group-btn" ng-class="{'width30': !selected_time, 'width12': selected_time}" title="Click here to select time">
                    <button class="btn btn-default btn-time input-group-addon" type="button" id="btn-time">
                      <span class="glyphicon glyphicon-time"></span>
                    </button>
                  </span>
                  <span ng-bind="selected_time" ng-show="selected_time" class="timeBoard"></span>
                  <input ng-model="real_selected_time" class="form-control" style="visibility: hidden;">
                </div>
                <!--<label class="{{time.status}}" ng-class="{on:isSlotActive(time.t), timeslotRequired: (time.status!=='disabled') && timeForm.$submitted && !$parent.modelTimeSlot}" ng-repeat="time in timeslots track by $index"><input name="timeSlotHours" ng-required="timeFrame!=='now'" type="radio" value="time.time" ng-disabled="time.status=='disabled'" ng-model="$parent.modelTimeSlot" ng-click="selectTimeSlot(time.t)"> <em>{{time.time}}</em></label>-->
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="panel panel-default" ng-show="show.what_section" id="what" ng-class="{'submitted': formsubmitted}">
        <!-- LABOUR OPTION BLOCK -->
        <div class="labourPanelWrapper" ng-show="availableLabourOptions.length>0">
          <div class="labourRequiredWrapper">
            <input name="isLabourRequired" id="isLabourRequired" type="checkbox" ng-click="openAvailableLabourOptions()"
              ng-model="isLabourRequired">
            <label for="isLabourRequired">
              <div class="image">
                <i class="bg-off bg-CheckOFF"></i>
                <i class="bg-on bg-CheckON"></i>
              </div>
              <h2>Loading / Unloading help needed</h2>
            </label>
          </div>
          <div class="labourOptionsContainer" ng-class="{'expanded-labour-panel': bookingObject.labourRequired,
          'collapsed-labour-panel': !bookingObject.labourRequired}">
            <div class="labourOptions">
              <div class="labourOption" ng-repeat="labour in availableLabourOptions track by $index" ng-click="selectLabour($event, labour)">
                <input type="radio" name="labour" id="{{$index}}" ng-checked="bookingObject.selectedLabour.num_of_labours==labour.num_of_labours">
                <label for="{{$index}}">
                  <div class="image">
                    <i class="bg-off bg-RadioUnSelected"></i>
                    <i class="bg-on bg-RadioSelected"></i>
                  </div>
                  <div class="details">{{labour.display_text}}</div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="promoCode">
          <label for="coupon">
            <h2>Do you have a promo code?</h2>
          </label>
          <div class="input-group input-group-small" ng-class="{'hasValue': confirmBookingForm.coupon.$invalid}">
            <div class="input-group input-group-small">
              <input id="coupon" type="search" class="form-control" placeholder="Enter promo code" ng-disabled="disableCoupon" name="coupon"
                ng-model="bookingObject.couponCode" ng-change="show.CouponInvalid=false;show.coupon_success=false"
                ng-pattern="couponregEx">
              <span class="input-group-btn">
                <button class="btn btn-default apply" type="button"
                ng-if="!show.coupon_success && !verifyingCoupon"
                ng-disabled="!bookingObject.couponCode || verifyingCoupon || show.coupon_success"
                ng-click="applyCoupon()">Apply</button>
                <button ng-if="bookingObject.couponCode" class="btn btn-default btn-verify apply" type="button"
                ng-click="removeCoupon()" title="Click to remove coupon">Remove</button>
              </span>
            </div>
            <p class="confirmationMessage" ng-show="show.coupon_success">
              <i></i>
              <b class="highlight">
                <big>Yay!</big>
              </b>
               <br>
              {{ discount_message }}
              <!-- <span class="more-info" ng-click="show.coupon_terms_and_conditions=true">More info</span> -->
            </p>
            <span class="coupon-code-error error" ng-show="show.CouponInvalid">{{invalidCoupon}}</span>
          </div>
          <div class="available-coupons col-md-12">
            <available-coupons
            coupons="couponData.data"
            select-coupon="selectCoupon(val)"
            applied-coupon="bookingObject.couponCode"
            show-more="showMore(val)">
            </available-coupons>
          </div>
        </div>
        <!-- ITEM SELECTION BLOCK -->
        <div class="panel-heading on" role="tab" ng-disabled="isDisabled" ng-click="timeForm.$submitted=true;submitForm($event, 'what'); selectPanel('what')"
          ng-class="{'submitted': formsubmitted}">
          <h2 class="panel-title">What are you moving*</h2>
        </div>
        <div id="collapseWhat" role="tabpanel">
          <div class="panel-body">
            <form id="itemsForm" name="itemsForm" novalidate>
              <h6>Select from commonly shipped items</h6>
              <div class="shippingItems customCheckbox">
                <label ng-class="{on: $parent.bookingObject.selectedItems.indexOf(item.pk)!= -1}" ng-repeat="item in items track by $index">
                  <input name="shippingItems" type="checkbox" ng-click="selectItems(item.pk)" ng-model="isItemChecked"
                    style="display:none;">
                  <em>{{item.category}}</em>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--You get a {{ discount}} on this trip-->
    <div class="sidebar-actions">
      <div style="display:inline-block; vertical-align: middle;">
        <button class="btn btn-link btn-add pull-left visible-xs" ng-show="show.where_section" id="addStop" ng-click="addWaypoint()">
          <i class="bg-off bg-AddStop"></i>
          <i class="bg-on bg-AddStopHover"></i>Add stop
        </button>
      </div>
      <!-- TODO <button class="btn btn-default">Save Draft</button>-->
      <div class="dropup" style="display:inline-block">
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-show="show.where_section && user_logged_in"
          ng-click="getSavedRoutes()">Load saved route<i class="caret"></i>
        </button>
        <ul class="dropdown-menu saved-route-popup">
          <li ng-repeat="route in routes" ng-click="getSavedRoute({route_name: route.name})">
            <div class="route-card">
              <div class="route-card-header">
                <span>{{route.name}}</span>
              </div>
              <div class="route-card-body">
                <span class="route-card-details">{{ getRoutePickup(route.stops) }} <span class="route-card-details-bold">To</span>
                  {{ getRouteDropoff(route.stops) }} <span class="route-card-details-bold"> via {{ route.stops.length -
                    2 }} stops</span>
                </span>
              </div>
            </div>
          </li>
          <li ng-show="!routes.length">
            <div class="route-card">
              <div class="route-card-header">
                <span>No route configured</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div style="display:inline-block">
        <button class="btn btn-primary" ng-disabled="!continue_is_enabled" ng-click="showSection(next_section)">Continue</button>
      </div>
    </div>
    <div class="shadow"></div>
  </div>

  <div id="gMap">
    <div class="ghostToggle" ng-class="{on: show.ghost, off: !show.ghost}" ng-click="show.ghost=!show.ghost" ng-show="b_user_logged_in"></div>
    <div google-map map="map.mapBooking" id="googleMap"></div>
  </div>
  <div class="saveAddress" ng-show="show.add_edit_contact">
    <form name="saveContactForm" ng-submit="AddEditContact(newContact); $event.stopPropagation();" novalidate>
      <div class="saveAddressForm" ng-class="{'submitted': formsubmitted}">
        <h3>Edit contact for {{address_under_edit.title}}</h3>
        <p class="highlight no-margin">{{address_under_edit.name}}</p>
        <p>{{address_under_edit.address.full_address}}</p>

        <input type="text" class="form-control focusable" name="contactName" placeholder="Contact name" ng-model="$parent.newContact.name"
          ng-class="{'error': ($parent.newContact.mobile && !$parent.newContact.name) || (saveContactForm.contactName.$error.required && saveContactForm.contactName.$dirty)}"
          ng-required="$parent.newContact.mobile">

        <div class="intl-tel-input separate-dial-code iti-sdc-3">
          <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
          <input type="text" class="form-control" name="contactMobile" placeholder="Contact phone"
          ng-model="$parent.newContact.mobile" ng-pattern="regex.mobileNumber"
          ng-class="{'error': saveContactForm.contactMobile.$error.pattern && saveContactForm.$dirty}">
        </div>
        <div ng-hide="true">
          <input type="checkbox">
          <small>Apply this contact number to all stops</small>
        </div>
        <div class="text-right" style="margin-top:60px;">
          <input type="button" class="btn btn-link" ng-click="dismissEditContactModal()" value="Cancel" />
          <button type="submit" class="btn btn-link" ng-class="{'btn-link-save': saveContactForm.$valid}" ng-disabled="saveContactForm.$invalid">Save</button>
        </div>
      </div>
    </form>
    <div class="translucent"></div>
  </div>

  <div class="saveAddress" ng-show="show.save_address">
    <form id="save-address-form" name="saveAddressForm" ng-submit="saveAddress(this)" novalidate>
      <div class="saveAddressForm" ng-class="{'submitted': formsubmitted}">
        <h3>Save Location</h3>
        <p>{{savedAddress.address.full_address}}</p>

        <input type="text" class="form-control" name="addressName" placeholder="Name for this location" ng-model="$parent.savedAddress.name"
          ng-model="savedAddress.contact.mobile" ng-change="savedAddress.error=''" ng-class="{'error': saveAddressForm.addressName.$error.required && (saveAddressForm.addressName.$dirty || saveAddressForm.$submitted)}"
          required>

        <div class="highlight mb-15">
          <small>Contact person for this location</small>
        </div>
        <input type="text" class="form-control" name="addressContactName" placeholder="Contact name" ng-model="$parent.savedAddress.contact.name"
          ng-class="{'error': saveAddressForm.addressName.$error.required && (saveAddressForm.addressName.$dirty || saveAddressForm.$submitted)}"
          ng-change="savedAddress.error=''" required>

        <div class="intl-tel-input separate-dial-code iti-sdc-3">
          <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
          <input type="text" class="form-control" name="addressContactMobile" placeholder="Contact phone"
            ng-model="$parent.savedAddress.contact.mobile"
            ng-change="savedAddress.error=''" ng-pattern="regex.mobileNumber"
            ng-class="{'error': saveAddressForm.addressContactMobile.$error.pattern && saveAddressForm.addressContactMobile.$dirty}">
        </div>

        <div ng-hide="true">
          <input type="checkbox">
          <small>Apply this contact number to all stops</small>
        </div>
        <p class="error" ng-show="savedAddress.error" ng-bind="savedAddress.error"></p>
        <div class="text-right">
          <input type="button" class="btn btn-link" ng-click="dismissSaveAddressModal()" value="Cancel" />
          <button type="submit" class="btn btn-link btn-link-save" ng-disabled="!savedAddress">Save</button>
        </div>
      </div>
    </form>
    <div class="translucent"></div>
  </div>

  <div class="bookingSummary" ng-show="show.booking_summary">
    <form name="bookingSummaryForm" novalidate>
      <div class="bookingSummaryForm">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Booking Summary</h3>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
            <p class="highlight">Where</p>
            <p>{{bookingObject.pickup.address.full_address}}
              <strong class="bgBlue">to</strong> {{bookingObject.dropoff.address.full_address}}
              <span class="bgBlue" ng-show="bookingObject.waypointMarkers.length > 0">via
                <strong>{{bookingObject.waypointMarkers.length}} stop(s)</strong>
              </span>
            </p>
            <hr>
            <div class="row">
              <div class="col-xs-6">
                <p class="highlight">Vehicle</p>
                <p class="summary-text">
                  <img src="" class="img-circle pull-left" alt=""> {{bookingObject.selected_vehicle_class}}
                </p>
              </div>
              <div class="col-xs-6">
                <p class="highlight">When</p>
                <p class="summary-text" ng-show="bookingObject.selectedTimeFrame=='now'">Now</p>
                <p class="summary-text" ng-show="bookingObject.selectedTimeFrame!='now'">
                  {{bookingObject.selected_datetime.format('DD MMMM, hh:mm A')}}
                </p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-6">
                <p class="highlight">Estimated Fare</p>
                <div class="spinner" ng-if="show.loadingFare">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
                </div>
                <div class="estimated-fare-text" ng-if="!show.loadingFare">
                  {{currency|formatCurrency}}{{bookingObject.estimatedInitFare + (bookingObject.tipForPartner || 0.0)}}
                  <i class="glyphicon glyphicon-info-sign" title="Click to view more info about fare"
                  ng-click="showFareInfo()"></i>
                </div>
              </div>
              <div class="col-xs-6">
                <p class="highlight">Labour</p>
                <div ng-show="bookingObject.selectedLabour">
                  Driver {{bookingObject.selectedLabour.num_of_labours > 1 ? '+ ' +
                  (bookingObject.selectedLabour.num_of_labours-1) : 'Only' }}
                  @ {{currency|formatCurrency}}{{bookingObject.selectedLabour.total_labour_cost}}
                </div>
                <div ng-show="!bookingObject.selectedLabour">--NA--</div>
              </div>
            </div>
            <hr>
            <div class="row" ng-show="bookingObject.couponCode && discount_value>0">
              <div class="col-xs-6">
                <p class="highlight">Coupon</p>
                <div>{{bookingObject.couponCode | uppercase}}</div>
                <p class="fare-disclaimer">Saving {{currency|formatCurrency}}{{discount_value}} on this order.</p>
              </div>
            </div>
            <hr ng-show="discount_value>0">
            <div class="row">
              <div class="col-sm-12" ng-show="isPodApplicable">
                <p class="highlight">Proof of delivery</p>
                <div class="podSelectionBlock">
                  <input name="isPodRequired" id="isPodRequired"
                  type="checkbox" ng-model="bookingObject.podRequired">
                  <label for="isPodRequired">
                    <div class="image">
                      <i class="bg-off bg-CheckOFF"></i>
                      <i class="bg-on bg-CheckON"></i>
                    </div>
                    <div class="podDisplayText">Document required</div>
                  </label>
                  <div class="podRate">Additional Cost: {{currency|formatCurrency}}{{podCost}}</div>
                </div>
              </div>
            </div>
          </div>
          <hr ng-if="isPodApplicable" class="visible-xs">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="row">
              <div class="col-xs-12">
                <p class="highlight">Payment Mode</p>
                <div class="radio-group payment-mode-group">
                  <div class="radio-payment-mode">
                    <input type="radio" name="paymentMode" id="paymentModeCash"
                      ng-checked="bookingObject.payment_mode === 'Cash'">
                    <label for="paymentModeCash" ng-click="setPaymentMode($event, 'Cash')">
                      <div class="image">
                        <i class="bg-off bg-RadioUnSelected"></i>
                        <i class="bg-on bg-RadioSelected"></i>
                      </div>
                      <div class="text">Cash</div>
                    </label>
                  </div>
                  <div class="radio-payment-mode">
                    <input type="radio" name="paymentMode" id="paymentModeOnline"
                      ng-checked="bookingObject.payment_mode === 'Online'">
                    <label for="paymentModeOnline" ng-click="setPaymentMode($event, 'Online')">
                      <div class="image">
                        <i class="bg-off bg-RadioUnSelected"></i>
                        <i class="bg-on bg-RadioSelected"></i>
                      </div>
                      <div class="text">Online</div>
                    </label>
                  </div>
                  <div class="radio-payment-mode paymode-account-balance"
                    ng-if="b_user_logged_in">
                    <div class="input-container">
                      <input type="radio" name="paymentMode" id="paymentModeWallet"
                        ng-checked="bookingObject.payment_mode === 'Wallet'">
                      <label for="paymentModeWallet" ng-click="setPaymentMode($event, 'Wallet')">
                        <div class="image">
                          <i class="bg-off bg-RadioUnSelected"></i>
                          <i class="bg-on bg-RadioSelected"></i>
                        </div>
                        <div class="text">
                          Wallet
                          <div class="amount">
                            Available Balance: {{currency|formatCurrency}}{{userProfile.wallet_available_balance || 0}}
                          </div>
                        </div>
                      </label>
                    </div>
                    <div class="account-balance">
                      <div class="low-balance-message"
                        ng-show="userProfile.wallet_available_balance<bookingObject.estimatedInitFare">
                        <div class="text">Low balance.</div>
                        <a href="/myaccount" target="_self">Recharge Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p class="highlight">Tip your delivery associate <i class="glyphicon glyphicon-info-sign"
                  title="Click for more info" ng-click="showTipInfo()"></i>
                </p>
                <p class="fare-disclaimer tip-disclaimer">Thank your delivery associate with the tip</p>
                <div class="tip-options">
                  <div class="tip-input-group">
                    <div class="currency">
                      <div style="font-size: 14px;">{{ currency|formatCurrency }}</div>
                    </div>
                    <input type="text" name="driver_tip" id="driver-tip" class="form-control small"
                    placeholder="Enter your amount" ng-model="bookingObject.tipForPartner" positive-number-only>
                  </div>
                  <div class="tip-chip-container">
                    <div class="chip" ng-class="{'selected': tip === bookingObject.tipForPartner}"
                    ng-repeat="tip in tipOptions track by $index" ng-click="selectTip(tip)">
                    {{ currency|formatCurrency }}{{ tip }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr ng-if="!b_user_logged_in && !isDefaultBuild"]>
            <div ng-if="!b_user_logged_in && !isDefaultBuild">
              <p class="highlight">Name</p>
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                  <input type="text" class="form-control small" placeholder="Enter your name"
                  name="guestName" ng-model="bookingObject.guestName"
                  ng-required="!b_user_logged_in"
                  ng-class="{'error': bookingSummaryForm.guestName.$error.required && bookingSummaryForm.$dirty}">
                </div>
              </div>
              <div>
                <p class="highlight">Mobile Number</p>
                <p class="text-muted small">We will send you an OTP on your mobile number for verification </p>
                <div class="row bookingSummaryForm-mobile">
                  <div class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                    <div class="intl-tel-input separate-dial-code iti-sdc-3">
                      <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
                      <input type="text" class="form-control small" placeholder="Enter mobile number" name="phoneNumber"
                      ng-model="bookingObject.mobileNum" ng-required="!b_user_logged_in"
                      ng-pattern="regex.mobileNumber"
                      ng-class="{'error': bookingSummaryForm.phoneNumber.$error.pattern && bookingSummaryForm.$dirty}">
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-muted hide" style="margin-top:130px;">
                <p class="no-margin small">Please note </p>
                <p class="small no-margin">We will send you an OTP on your mobile number for verification</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <hr>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="red" ng-if="!b_user_logged_in && !isDefaultBuild">
              You're not logged in. <a href="/" target="_self">Click here to login</a>
            </div>
            <div style="display: flex;justify-content: flex-end;">
              <button class="btn btn-link" ng-click="show.booking_summary=false">Cancel</button>
              <button class="btn btn-link btn-link-save" ng-click="show.booking_summary=false;bookMyTruck()"
                ng-show="b_user_logged_in" ng-disabled="bookingObject.disableSubmit">Book my truck</button>
              <button class="btn btn-link btn-link-save" ng-disabled="!bookingObject.mobileNum || !bookingObject.guestName"
                ng-click="show.booking_summary=false;verifyMobile();show.booking_otp=true" ng-show="!b_user_logged_in && !isDefaultBuild">
                Book my truck
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="translucent"></div>
  </div>

  <div class="bookingSummary bookingOtpVerify" ng-show="show.booking_otp">
    <form name="bookingOtp" novalidate="">
      <div class="bookingSummaryForm">
        <a href="" class="pull-right bg-Cancel" ng-click="show.booking_otp=false;show.booking_summary=true"></a>
        <h3>Verify your mobile number</h3>
        <p class="text-muted small">Enter the One-time password we sent to your mobile number</p>
        <p>
          <input type="text" class="form-control" placeholder="Enter OTP" name="otp" maxlength="6" ng-pattern="otpregEx"
            ng-model="bookingObject.otpNum" ng-change="show.otp_invalid=false" ng-keypress="bookingOtpKeypress($event)"
            ng-class="{'error': bookingOtp.$dirty && bookingOtp.otp.$error.pattern}">
        </p>
        <p class="error" ng-show="show.otp_invalid">Sorry that was an invalid code. Try again</p>
        <p class="text-muted small"> Did not get it ?
          <a href="" class="highlight" ng-click="resendOtp()">Resend</a>
        </p>
        <button class="btn btn-link btn-link-save" ng-disabled="!bookingObject.otpNum" ng-click="show.booking_otp=false;verifyOtpAndBook()">Book
          my truck</button>
      </div>
    </form>
    <div class="translucent"></div>
  </div>
  <div class="coupon-terms-and-conditions" ng-show="show.coupon_terms_and_conditions">
    <div class="coupon-terms-and-conditions-container">
      <a href="" class="pull-right bg-Cancel" ng-click="show.coupon_terms_and_conditions=false"></a>
      <div class="coupon-terms-and-conditions-list">
        <h3>Terms And Conditions </h3>
        <ul>
          <li ng-repeat="m in moreData track by $index">{{m}}</li>
        </ul>
      </div>
    </div>
    <div class="translucent"></div>
  </div>
  <div class="saveRoute" ng-show="show.save_route">
    <form name="saveRouteForm" ng-submit="saveRoute()" novalidate>
      <div class="saveRouteForm form-field">
        <h3>Save Route</h3>
        <fieldset ng-disabled="show.save_route_success">
          <div class="row">
            <div class="col-sm-12">
              <label for="">Picking up from</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <span class="locationFrom " title="Picking up from">
                <span class="bg-BlueMarker"></span>
              </span>
              <span class="changeOrder " title="Change Order" ng-show="false">
                <i class="bg-off bg-Drag"></i>
                <i class="bg-on bg-DragHover"></i>
                <i class="bg-down bg-DragPressed"></i>
              </span>
              <div class="input-group">
                <input type="text" class="form-control intro-form-fixer" ng-model="saveRouteObject.pickup.address.full_address"
                  required />
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="text" ng-model="saveRouteObject.pickup.contact.name" class="form-control" placeholder="Contact Name">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <div class="intl-tel-input separate-dial-code iti-sdc-3">
                  <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
                  <input type="text" ng-model="saveRouteObject.pickup.contact.mobile"
                    class="form-control" placeholder="Contact"
                    name="phoneNumberPickup" ng-pattern="regex.mobileNumber"
                    ng-class="{'error': saveRouteForm.phoneNumberPickup.$error.pattern && saveRouteForm.phoneNumberPickup.$dirty}">
                  </div>
              </div>
            </div>
          </div>
          <div id="waypoints-container-save">
            <div class="row" ng-repeat="w in saveRouteObject.waypointMarkers">
              <div class="col-xs-6">
                <span class="locationStop">
                  <span class="bg-Stop">
                    <em>{{$index+1}}</em>
                  </span>
                </span>
                <span class="changeOrder " title="Change Order" ng-show="false">
                  <i class="bg-off bg-Drag"></i>
                  <i class="bg-on bg-DragHover"></i>
                  <i class="bg-down bg-DragPressed"></i>
                </span>
                <div class="input-group">
                  <div ng-form="waypoint{{$index}}">
                    <input type="text" class="form-control intro-form-fixer" ng-model="w.address.full_address" required />
                  </div>
                </div>

              </div>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" ng-model="w.contact.name" class="form-control" placeholder="Contact Name">
                </div>
              </div>
              <div class="col-xs-3">
                <div class="input-group">
                  <div class="intl-tel-input separate-dial-code iti-sdc-3">
                    <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
                    <input type="text" ng-model="w.contact.mobile"
                      class="form-control" placeholder="Contact" name="phoneNumber{{$index+1}}"
                      ng-pattern="regex.mobileNumber"
                      ng-class="{'error': saveRouteForm.phoneNumber{{$index+1}}.$error.pattern && saveRouteForm.phoneNumber{{$index+1}}.$dirty}">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <label for="">Delivering to</label>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <span class="locationTo" title="Delivering to">
                <span class="bg-PurpleMarker"></span>
              </span>
              <span class="changeOrder " title="Change Order" ng-show="false">
                <i class="bg-off bg-Drag"></i>
                <i class="bg-on bg-DragHover"></i>
                <i class="bg-down bg-DragPressed"></i>
              </span>
              <div class="input-group">
                <input type="text" class="form-control intro-form-fixer" required ng-model="saveRouteObject.dropoff.address.full_address" />
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <input type="text" ng-model="saveRouteObject.dropoff.contact.name" class="form-control" placeholder="Contact Name">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <div class="intl-tel-input separate-dial-code iti-sdc-3">
                  <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
                  <input type="text" ng-model="saveRouteObject.dropoff.contact.mobile"
                    class="form-control" placeholder="Contact" ng-pattern="regex.mobileNumber"
                    name="phoneNumberDropoff" ng-class="{'error': saveRouteForm.phoneNumberDropoff.$error.pattern && saveRouteForm.phoneNumberDropoff.$dirty}">
                </div>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="row" style="margin-top:30px;" ng-show="!show.save_route_success">
          <div class="col-xs-6">
            <input type="text" id="route_name" class="form-control" placeholder="Type route name" style="margin-top:18px;"
              ng-model="route_name" required>
          </div>
          <div class="col-xs-6">
            <div class="text-right">
              <button class="btn btn-link" ng-click="closeSaveRoute()">Cancel</button>
              <button type="submit" ng-disabled="saveRouteForm.$invalid" class="btn btn-link btn-link-save">Save</button>
            </div>
          </div>
        </div>
        <div clas="row" ng-show="show.save_route_msg">
          <center>
            <span id="save-route-msg"></span>
          </center>
        </div>
        <div class="row" ng-show="show.save_route_success">
          <div class="pull-right">
            <button class="btn btn-link" ng-click="closeSaveRoute()">Close</button>
          </div>
        </div>
      </div>
    </form>

    <div class="translucent"></div>
  </div>

  <div class="confirmOptimization" ng-show="showConfirmation">
    <div class="confirmationBlock">
      <h3>Optimize waypoints</h3>
      <p>{{message}}</p>
      <div class="text-right">
        <button class="btn btn-link" ng-click="closeConfirmationDialog()">{{cancelBtnText}}</button>
        <button class="btn btn-link btn-link-save" ng-click="optimizePath()" ng-hide="cancelBtnText==='OK'">OK</button>
      </div>
    </div>
    <div class="translucent"></div>
  </div>

  <div class="confirmOptimization" ng-show="show.fare_info">
    <div class="confirmationBlock summary-info-block">
      <h3>Fare Info</h3>
      <div class="fare-info">
        <div class="fare-line">
          <div class="heading">{{selectedRateCardInfo.base.base_rate_desc}}</div>
          <div class="value">{{selectedRateCard.currency|formatCurrency}}{{selectedRateCardInfo.base.amount}}</div>
        </div>
        <div class="fare-line" ng-repeat="dslab in selectedRateCardInfo.package_extra_km">
          <div class="heading">{{dslab.rate_desc}}</div>
          <div class="value">{{selectedRateCard.currency|formatCurrency}}{{dslab.rate_title}}</div>
        </div>
        <div class="fare-line" ng-repeat="dtime in selectedRateCardInfo.package_extra_min">
          <div class="heading">{{dtime.rate_desc}}</div>
          <div class="value">{{selectedRateCard.currency|formatCurrency}}{{dtime.rate_title}}</div>
        </div>
      </div>
      <p class="fare-disclaimer" ng-if="!show.loadingFare && bookingObject.selectedLabour">* Including labour charge</p>
      <div class="text-right">
        <button class="btn btn-link" ng-click="show.fare_info=false;">OK</button>
      </div>
    </div>
    <div class="translucent"></div>
  </div>

  <div class="confirmOptimization" ng-show="show.tip_info">
    <div class="confirmationBlock summary-info-block">
      <h3>More info</h3>
      <div class="tip-info">
        <p class="tip-content">
          Our delivery associate works hard to ensure your package
          reaches you on time. Leave them a tip as token of your appreciation.
        </p>
        <ul>
          <li>Choose or enter preferred tip amount</li>
          <li>Delivery associate will get the tip with his/her payment</li>
        </ul>
      </div>
      <div class="text-right">
        <button class="btn btn-link" ng-click="show.tip_info=false;">OK</button>
      </div>
    </div>
    <div class="translucent"></div>
  </div>
</div>

<div id="otp-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="otp-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
        <i class="modal-register-header-logo"></i>
      </div>
      <!-- Register Otp Begins Page Here -->
      <div id="register-otp" class="modal-body text-center">
        <h5>Enter the One time password(OTP) to verify your Mobile</h5>
        <form id="otp-form" class="row" name="signupOtpForm" novalidate>
          <div class="col-xs-12" hidden>
            <input id="otp-email" type="text" class="form-control modal-form-fixer" placeholder="Email" name="email"
              ng-model="otp.email">
          </div>
          <div class="col-xs-12 mobile-number">
            <div class="intl-tel-input separate-dial-code iti-sdc-3">
              <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
              <input id="otp-mobile" type="tel" class="form-control modal-form-fixer"
              placeholder="Mobile" name="mobile" required ng-readonly="{{otp.mobileReadonly}}"
              ng-model="otp.mobile" ng-keydown="telephoneOnKeydown($event)">
            </div>
          </div>
          <div class="col-xs-12">
            <input id="otp-otp" type="text" class="form-control modal-form-fixer" minlength="4" maxlength="4" placeholder="OTP" name="otp" required
              ng-model="otp.otp" ng-change="otpErrors.error=''">
          </div>
          <div class="danger">
            <p ng-show="otpErrors.error" ng-bind="otpErrors.error"></p>
          </div>
          <div class="col-xs-12">
            <input id="btn-otp-verify" type="submit" class="btn-blue" value="Verify" title="Verify" name="Verify"
              ng-click="verifySignupOtp($event)">
          </div>
        </form>
      </div>
      <!-- Register Otp Ends Page Here -->
    </div>
  </div>
</div>

<div id="completed" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="message-modal" aria-hidden="true"
  data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">

    <div id="exit-wait" ng-show="exit_screen==='wait'">
      <img class="exit-img" src="/static/website/images/loader.svg" height="100" alt="Processing...">
      <h3>We are booking your truck</h3>
      <!-- TODO <button href="#" class="btn">Cancel</button> -->
    </div>

    <div id="exit-done" ng-show="exit_screen==='done'">
      <div class="modal-content">
        <div class="modal-header">
          <i class="modal-header-image"></i>
        </div>
        <div class="modal-body">
          <h2>Your booking is done</h2>
          <h6>BOOKING ID : {{ friendly_id }}</h6>

          <div class="qrCode text-center">
            <p>
              <qr text="tracking_url" size="100" alt="{{ friendly_id }}"></qr>
            </p>
            <p>
              <small>Scan this to track
                <br> your trip</small>
            </p>
          </div>
          <div class="row text-center">
            You will get a notification <br>
            when the trip starts
          </div>
          <div class="row text-center">
            <a href="#" id="link-later"
             class="btn-link" data-dismiss="modal"
             title="{{ bookingConfirmedNextLinkText }}"
             ng-click="openDashboard('bookingConfirmed')">
             {{ bookingConfirmedNextLinkText }}</a>
          </div>
        </div>
      </div>
    </div>

    <div id="exitmsg-signup" ng-show="exit_screen==='signup'">
      <div class="modal-content">
        <div class="modal-header">
          <i class="modal-header-image"></i>
        </div>
        <div class="modal-body">
          <h2>Your booking is done</h2>
          <h6>BOOKING ID : {{ friendly_id }}</h6>
          <h3> Sign up and get more out of {{brandName}} </h3>
          <h4>Track your shipment in real time
            <br />Save frequent addresses
            <br />Get Invoices</h4>
          <div class="row signup-wrapper">
            <form name="emailForm" novalidate>
              <div class="input-group">
                <input id="signup" name="signup" type="email" placeholder="Your email id" class="form-control modal-form-fixer"
                  required />
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-continue btn-signup" title="sign me up" type="button">sign up</button>
                </span>
              </div>
            </form>
          </div>
          <div class="row text-center">
            <a id="link-later" class="btn-link" data-dismiss="modal" title="I'll do this later">Go back to home page</a>
          </div>
        </div>
      </div>
    </div>

    <div id="exitmsg-tryagain" ng-show="exit_screen==='fail'">
      <div class="modal-content">
        <div class="modal-header">
          <i class="modal-header-image"></i>
        </div>
        <div class="modal-body">
          <h2 ng-show="!booking_error_msg">Sorry
            <br> Your booking did not go through.</h2>
          <p ng-show="!booking_error_msg" class="text-center">Please try again later</p>
          <h2 ng-show="booking_error_msg">{{booking_error_msg}}</h2>
          <!-- <a href="/contact" class="reachSupport"> Reach Support</a> -->
          <div class="row text-center">
            <a id="link-later" class="btn-link" href="#" data-dismiss="modal" title="Go back">Go back</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
