<div class="home-page" ng-click="documentClickHandler($event)" ng-class="no_scroll ? 'scroll-no' : 'scroll-yes'">
    <div>
        <section class="booking-section ng-cloak" 
        id="intro" ng-class="view_mode === 'enterprise' ? 'enterprise-bg' : 'ondemand-bg'" ng-style="introStyles">
        <div class="layer">
            <blowhorn-header ng-if="!isInEmbed"></blowhorn-header>
            <div class="main-content container" ng-show="!show.booking_form">
                <div class="ondemand-enterprise">
                    <div class="tab-bar" ng-if="!isInEmbed">
                        <div class="tab-btn" ng-click="set_view_mode('ondemand')" ng-class="{'tab-bar-active': view_mode === 'ondemand'}">
                        Online Booking</div>
                        <div class="tab-btn" ng-click="set_view_mode('enterprise')" ng-class="{'tab-bar-active': view_mode === 'enterprise'}">For
                        Enterprises</div>
                    </div>
                    <div class="tab-content" ng-show="view_mode === 'ondemand'">
                        <div class="ondemand-tab">
                            <div class="banner-title">Moving Mzansi forward.</div>
                            <div class="banner-title">One city at a time!</div>
                            <div class="banner-sub-title">
                                <span class="before-flip">Disrupting logistics in </span>
                                <span class="flip-right" id="cityName"><b>{{cityName}}</b></span><span></span>
                            </div>
                            <div class="pickup-dropoff-wrapper">
                                <form name="booking" novalidate class="pickup-dropoff">
                                    <div class="row row-eq-height">
                                        <div class="col-sm-12 col-md-4">
                                            <div class="dropdown-toggle select-city inputs" type="button"
                                                data-toggle="dropdown">
                                                <div class="city">
                                                    <img class="img-responsive"
                                                        src="/static/website/images/homepage/Map_marker@2x.png" alt="">
                                                    <span>{{selectedCity || 'Select City'}}
                                                    </span>
                                                    <span class="caret"></span>
                                                </div>
                                            </div>
                                            <ul class="dropdown-menu ">
                                                <li ng-repeat="city in city_list"><a class="pointer"
                                                    ng-class="{active:isCitySelected(city)}"
                                                    ng-click="selectCity(city, true)">{{city}}</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="inputs">
                                                <div class="pickup">
                                                    <img class="img-responsive"
                                                        ng-src="{{pickupOvalIcon}}" alt="">
                                                    <input id="instant-from" name="from" type="text"
                                                        placeholder="Pick up area/address " class="form-control address-input"
                                                        ng-if="instant_init" ng-disabled="selectedCity==null" required
                                                        ng-class="{'error':booking.from.$invalid && booking.$submitted}"
                                                        ng-model="bookingObject.pickup.address.full_address"
                                                        ng-change="validate_where()" google-places-simple
                                                        selected-city="selectedCity"
                                                        selected-city-bounds="selectedCityBounds.pickup"
                                                        selected-city-polygon="selectedCityPolygon.pickup"
                                                        coverage-areas="coverage_areas" address="bookingObject.pickup.address"
                                                        position="bookingObject.pickup.position"
                                                        marker="bookingObject.pickup.marker" next="instant-to" />
                                                </div>
                                            </div>

                                            <span class="input-warning" ng-show="bookingObject.pickup.address.error">
                                                <i class="fa fa-warning"></i> {{bookingObject.pickup.address.error}}
                                            </span>
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <div class="inputs">
                                                <div class="dropoff">
                                                    <img class="img-responsive"
                                                        ng-src="{{dropoffOvalIcon}}" alt="">
                                                    <input id="instant-to" name="to" ng-if="instant_init" type="text"
                                                        placeholder="Drop off area/address" class="form-control address-input"
                                                        ng-disabled="selectedCity==null" required
                                                        ng-class="{'error':booking.to.$invalid && booking.$submitted}"
                                                        ng-model="bookingObject.dropoff.address.full_address"
                                                        ng-change="validate_where()" google-places-simple
                                                        selected-city="selectedCity"
                                                        selected-city-bounds="selectedCityBounds.dropoff"
                                                        selected-city-polygon="selectedCityPolygon.dropoff"
                                                        coverage-areas="coverage_areas" address="bookingObject.dropoff.address"
                                                        position="bookingObject.dropoff.position"
                                                        marker="bookingObject.dropoff.marker" next="book" />
                                                </div>
                                            </div>
                                            <span class="input-warning" ng-show="bookingObject.dropoff.address.error">
                                                <i class="fa fa-warning"></i> {{bookingObject.dropoff.address.error}}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row row-eq-height">
                                        <div class="book-btn-wrapper col-sm-12">
                                            <button id="book" name="book" title="book" class="book"
                                                ng-click="proceedToBookingScreen()">
                                                Book My Truck
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" ng-show="view_mode === 'enterprise'">
                        <div class="enterprise-tab container">
                            <div class="row">
                                <div class="enterprise-left col-sm-7 col-md-8 col-lg-8">
                                    <div class="banner-title">Intra<span style="padding:0px 3px 0 6px">-</span>city delivery of
                                    </div>
                                    <div class="banner-title">YOUR goods, OUR way!</div>
                                    <div class="banner-sub-title"><span class="flip-left" id="weDoItAll"
                                            style="padding-right: 5px;">{{weDoItAll}}.</span>We
                                        do it
                                        all.</div>
                                </div>
                                <div class="enterprise-right col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                    <form class="enterprise-form" name="enterpriseForm"
                                        ng-submit="contact_us_send(contact_us, 'enterprise_send')">
                                        <div class="inputs-ent top-input">
                                            <div class="name">
                                                <img class="img-responsive" src="/static/website/images/homepage/user@2x.png"
                                                    alt="">
                                                <input type="text" placeholder="Enter Name" ng-model="contact_us.name"
                                                    name="contatcName" required>
                                            </div>
                                        </div>
                                        <div class="inputs-ent">
                                            <div class="contact-no">
                                                <img class="img-responsive"
                                                    src="/static/website/images/homepage/phone-receiver@2x.png" alt="">
                                                <input type="text" placeholder="Enter Phone No." ng-model="contact_us.phone"
                                                    name="contactNumber" required minlength="10" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="inputs-ent">
                                            <div class="email-id">
                                                <img class="img-responsive"
                                                    src="/static/website/images/homepage/black-back-closed-envelope-shape@2x.png"
                                                    alt="">
                                                <input type="email" placeholder="Enter Email ID" ng-model="contact_us.email"
                                                    name="contactEmail" required>
                                            </div>
                                        </div>
                                        <div class="call-back" ng-class="enterprise_send ? 'show-success' : 'hide-success'">
                                            <button class="call-back-front" type="submit"
                                                ng-disabled="enterpriseForm.$invalid">Submit and request callback</button>
                                            <div class="call-back-back">
                                                Submitted
                                            </div>
                                        </div>
                                    </form>
                                    <div class="why-wait">
                                        Why wait? Plethora of features await you!
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll-down">
                        <span class="fa fa-arrow-down arrow"></span>
                        <span>Scroll down for more</span>
                    </div>
                </div>
            </div>
        </div>
        </section>
    </div>
</div>
