<div id="career">
  <div id="intro" class="ng-cloak">
    <blowhorn-header></blowhorn-header>
  </div>
  <div class="container">
   <div id="content-inverse" class=" col-sm-offset-1">
     <div class="row">
       <div class="col-xs-12 col-md-12">
         <h1>WE ARE PROBLEM SOLVERS</h1>
         <p class="lead">We have a culture where people take responsibility, identify key problems and find elegant solutions to them. Our teams are small and agile. We are all focused on solving the toughest problems our customers face. Educational backgrounds do not have a direct bearing on how well you do at Blowhorn.
         </p>
       </div>
     </div>
     <div class="row">
       <div class="col-xs-12">
         <h2>COMMON REQUIREMENTS FOR ALL ROLES ARE AS FOLLOWS</h2>
       </div>
       <div class="col-xs-12">
         <ul>
           <li>Passion for Blowhorn’s mission</li>
           <li>Strong analytic/process mindset</li>
           <li>Willing to put in the time to get a task done</li>
           <li>Deal well with stress while maintaining a positive attitude</li>
           <li>Champion customer delight</li>
           <li>Able to stay humble</li>
           <li>Respectful of all internal customers</li>
           <li>Organized, efficient, and willing to get better at both</li>
           <li>Not afraid to speak your mind and be assertive when necessary</li>
           <li>Not afraid of constructive criticism</li>
           <li>Able to absorb detail but still see the big picture</li>
           <li>Adaptive and introspective; willing to both learn and teach</li>
         </ul>
       </div>
     </div>
     <div class="row">
       <div class="col-xs-12">
         <h2 class="highlight">CURRENT OPENINGS</h2>
       </div>
     </div>
     <div class="row">
			<!--
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h2>UI DEVELOPER</h2>
            <p><strong>Bangalore</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare</p>
            <p><a href="" class="btn-apply">APPLY</a></p>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-1">
            <h2>UI DEVELOPER</h2>
            <p><strong>Bangalore</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare</p>
            <p><a href="" class="btn-apply">APPLY</a></p>
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4">
            <h2>UI DEVELOPER</h2>
            <p><strong>Bangalore</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare</p>
            <p><a href="" class="btn-apply">APPLY</a></p>
        </div>

        <div class="col-xs-12 col-sm-5 col-md-4 col-sm-offset-1">
            <h2>UI DEVELOPER</h2>
            <p><strong>Bangalore</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare</p>
            <p><a href="" class="btn-apply">APPLY</a></p>
        </div>
      -->

      <div class="col-xs-12 col-sm-5 col-md-4" ng-repeat="job in jobs">
        <h2>{{job.title}}</h2>
        <p><strong>{{job.location.city}}</strong></p>
        <!--<p>{{job.description}}</p>-->
        <p><a href="{{job.hosted_url}}" class="btn-apply">APPLY</a></p>
      </div>
    </div>
  </div>
</div>
<blowhorn-footer></blowhorn-footer>
</div>
