<div class="career-page" ng-click="documentClickHandler($event)">
  <section class="container career-section ng-cloak section-height" id="intro">
    <div class="layer">
      <blowhorn-header></blowhorn-header>
    </div>
  </section>
  <div class="floating-panel">
    <div class="container contents">
      <div class="header"> Your Pathway to Logistics
      </div>
      <div class="sub-header">Thinking of a career in logistics? We can assure you that we will go miles together,
        literally!
      </div>
      <div class="">
        <div class="row">
          <div class="col-xs-12">
            <div class="career-card">
              <div class="text">At Blowhorn, we aim to work towards a common goal - for
                the internal stakeholders and for the external ones too. We are driven
                towards our passion to create the best logistics network in the country
                and are always looking out for a tribe that supports our cause!
              </div><br><br>
              <div class="text">
                We are hiring for multiple openings across board, if you fit the bill, go ahead and apply for one.
              </div>
            </div>
          </div>
        </div>
        <div class="jobs-panel">
          <div class="job-card" ng-repeat="job in jobs">
            <div class="text">{{job.title}}</div>
            <p class="text"><strong>{{job.location.city}}</strong></p>
            <p><a href="{{job.hosted_url}}" class="btn-apply">APPLY</a></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="career-card">
              <div class="text">No matter where you’re based out of or what team
                you belong to, you’ll always be a part of a mission driven clan
                working towards solving critical problems and making logistics
                a hassle-free industry to belong to.
              </div><br><br>
              <div class="text">Don’t find something that you’re looking for?
                Shoot an email to <a href="mailto:shoutout@blowhorn.com">shoutout@blowhorn.com</a>
                with your CV and/or portfolio and our team will reach out to you.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <blowhorn-footer></blowhorn-footer>
    </div>
  </div>
</div>
