<div class="contacts-page" ng-click="documentClickHandler($event)">
  <section class="container contacts-section ng-cloak section-height" id="intro">
    <div class="layer">
      <blowhorn-header></blowhorn-header>
    </div>
  </section>
  <div class="floating-panel">
    <div class="container contents">
      <div class="header"> Connect with us everywhere!
      </div>
      <div class="sub-header">The good, the bad, the ugly - we would love to hear it all from you.
      </div>
      <div class="">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="contacts-card">
              <div class="title">Want to grow your business with us?</div>
              <div class="horizontal-split">
                <div class="splitter"></div>
              </div>
              <div class="body">
                Interested in our services? We can help you in more ways than one! Just pick up the phone and talk to
                one of our members of the sales team.<br>
                <div class="contact-options">
                  <a href="tel:08045683500" target="_self" class="ng-binding"><img src="/static/website/images/CallUs.png"
                      alt="">080-4568-3500</a>
                </div>
                <br>
                or shoot us an email to <br>
                <div class="contact-options">
                  <a href="mailto:shoutout@blowhorn.com" target="_self">
                    <img src="/static/website/images/EMail.png" alt="">shoutout@blowhorn.com
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="contacts-card">
              <div class="title">Customers Delight Team</div>
              <div class="horizontal-split">
                <div class="splitter"></div>
              </div>
              <div class="body">
                It’s okay to be confused. Whether you are a business or a human being, we cater to everyone. Whatever
                your query be, we are here to help you!

              </div>
              <div class="talktous">
                <a data-toggle="modal" data-target="#contact-modal">Write to us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <blowhorn-footer></blowhorn-footer>
    </div>
  </div>
</div>
