<div class="faq-page" ng-click="documentClickHandler($event)">
  <section class="container faq-section ng-cloak section-height" id="intro">
    <div class="layer">
      <blowhorn-header></blowhorn-header>
    </div>
  </section>
  <div class="floating-panel">
    <div class="container contents">
      <div class="header">Frequently Asked Questions</div>
      <div class="contents-card">
        <div class="tab-bar">
          <div class="tab-btn" ng-click="setFaqTab('c2c');"
          ng-class="{'tab-bar-active': faq_tab === 'c2c'}">
            On Demand Booking
          </div>
          <div class="tab-btn" ng-click="setFaqTab('enterprise');"
          ng-class="{'tab-bar-active': faq_tab === 'enterprise'}">
            For Enterprises
          </div>
        </div>

        <div id="accordion" class="panel-group" role="tablist">

          <div class="panel panel-default"
          ng-repeat="q in faq track by $index">
            <div class="panel-heading" role="tab"
              id="faqCardHeading{{$index}}{{faq_tab}}">
              <div class="panel-title title">
                <div
                class="header"
                data-toggle="collapse"
                data-parent="#accordion"
                aria-expanded="true"
                data-target="#faqContent{{$index}}{{faq_tab}}"
                aria-expanded="true"
                aria-controls="faqContent{{$index}}{{faq_tab}}"
                ng-click="zoom=!zoom"
                role="button" ng-click="$event.preventDefault()">
                {{q.header}}
                <i class="more-less glyphicon glyphicon-plus"></i>
                </div>
              </div>
            </div>
            <div
            id="faqContent{{$index}}{{faq_tab}}"
            aria-labelledby="faqCardHeading{{$index}}{{faq_tab}}"
            class="panel-collapse collapse" role="tabpanel">
              <div class="panel-body" bind-html-compile="q.content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
