<footer ng-show="!show.booking_form">
  <div class="container" id="contactus">
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2">
        <ul class="list-unstyled footer-nav">
          <li>
            <a href="/about" title="About Us">About Blowhorn</a>
          </li>
          <!--<li><a href="#" title="Why we are here">Why we are here</a></li>-->
          <li>
            <a href="/solutions" title="Solutions">Solutions</a>
          </li>
          <li>
            <a href="/team" title="People & Values">People &amp; Values</a>
          </li>
          <li>
            <a href="/careers" title="Careers">Careers</a>
          </li>
          <li>
            <a href="/faq" title="Frequently Asked Questions">FAQs</a>
          </li>
          <li>
            <a href="/newsroom" title="Newsroom">Newsroom</a>
          </li>
          <li>
            <a href="/blog" target="_blank" title="Blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <ul class="list-unstyled footer-contact-list">
          <li ng-repeat="city in city_list">
            <div class="city-contact">
              <div style="margin-right: auto">
                <a href="/city/{{city.replace(' ', '-')}}" class="pointer" ng-class="{active:isCitySelected(city)}"
                  ng-click="selectCity(city, true)">{{city}}</a>
              </div>
              <div>
                <a href="tel:{{cityContactDetails[city]}}">{{cityContactDetails[city]}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="row">
          <div class="col-sm-12">
            <strong>Contact Us</strong>
            <hr>
          </div>
        </div>
        <div class="footer-contact-us">
          <div style="margin-right: auto;">
            <ul class="list-unstyled">
              <li> Send us an email </li>
              <li>
                <a href="mailto:shoutout@blowhorn.com">
                  <img src="/static/website/images/EMail.png" alt="Send us an email" style="margin-left: -4px">
                  shoutout@blowhorn.com</a>
              </li>
            </ul>
          </div>
          <div class="">
            <ul class="list-unstyled ">
              <li> Reach us on social media</li>
              <li>
                <div class="contact-social-links">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/Blowhornlog" title="Facebook" target="_blank">
                        <span class="icon icon-facebook"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/blowhornlog" title="Instagram" target="_blank">
                        <span class="icon fa fa-instagram"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/blowhornlog" title="Twitter" target="_blank">
                        <span class="icon icon-twitter"></span>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/company/blowhorn" title="Linkedin" target="_blank">
                        <span class="icon icon-linkedin"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  pull-right">
        <strong>Download apps</strong>
        <hr>
        <div class="app-download">
          <a href="https://itunes.apple.com/in/app/blowhorn-mini-trucks-on-hire/id1251408316?mt=8" target="_self">
            <img src="/static/website/images/applestore-badge.png"
              style="width:100px; margin-right:5px; margin-bottom:5px;" alt="">
          </a>
          <a href='https://play.google.com/store/apps/details?id=net.blowhorn.app&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'
            target="_self">
            <img src="/static/website/images/google-play-badge.png" alt="" style="height:30px; margin-bottom:5px;">
          </a>
        </div>
      </div>
      <div class="col-xs-12 copyrightdiv">
        <hr>
        <span class="copyright">Copyright 2020 © Blowhorn.
          <br class="visible-xs"> All rights reserved.
        </span>
        <span class="pull-right"><a href="/termsofservice" target="_self" title="Terms of Use | Privacy Policy">Terms
            of Use | Privacy Policy</a></span>
      </div>
    </div>
  </div>
</footer>
