<div>
	<div class="top-bar">
		<div class="title" >{{data.name}}</div> 
	</div> 
	<div class="address" style="color: #757E7F; font-size:12px;"> 
		{{data.address.full_address}}
	</div> 
	<div style="color: #BBC2C4;font-size: 12px;clear: both;margin-top: 55px;margin-left: 10px;font-weight: 300;">Make this location</div>
	<div class="rectangle-2" style="text-align:center">  
		<button ng-click="setThisLocation(data, 'pickup')"><i class="bg-Pickup"></i> Pickup</button>
		<button ng-click="setThisLocation(data, 'drop')" ><i class="bg-DropOff"></i> Drop</button>
		<button ng-click="setThisLocation(data, 'stop')" ><i class="bg-Stop"></i> Stop</button>
	</div> 
</div>
