<div style="background-color:#303232; margin:-10px 0px; height:61px;padding:1px;" class="ghost_hover_infobox">
	<div class="top-bar">
		<div class="title" style="color:#fff;">{{data.name}}</div> 
	</div> 
	<div style="font-size:9px; padding-left:10px;color:#757E7F;">Click to book a trip from or to here!</div>
</div>
