<div class="container" style="background-color: transparent" ng-if="!isInEmbed">
  <header class="header-panel ng-cloak" style="padding-bottom: 20px;">
    <div class="header-main">
      <span id="header-toggle-menu" class="visible-xs toggle-menu header-burger">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </span>
      <span title="{{brandName}}" class="header-logo">
        <a ng-click="selectCity(null, false)">
          <img ng-src="{{logoUrl}}" alt="{{brandName}}"
            class="img-responsive blowhorn_logo"/></a>
      </span>
      <span class="header-singup">
        <a class="sign-up visible-xs" ng-hide="b_user_logged_in" ng-click="openRegistrationModal($event)">Sign
          Up</a>
      </span>
    </div>
    <div class="header-nav">
      <nav class="pull-right" style="z-index: 2">
        <ul>
          <li class="visible-xs" ng-show="b_user_logged_in && !is_staff_user">
            <a class="pointer" id="btn-bulkpay" href="/myaccount" target="_self">
              <div>My Account</div>
              <div class="due-amount">Balance: <i class="fa fa-inr"></i>{{userProfile.wallet_available_balance || 0}}</div>
            </a>
          </li>
          <li class="hidden-xs"><a ng-click="openDocsPage()" title="API Documentation">API Docs</a></li>
          <li class="visible-xs"> <a ng-click="openDocsPage()"> API Docs</a> </li>
          <li class="visible-xs"> <a href="/about"> About</a> </li>
          <li class="visible-xs"><a href="/faq" title="Frequently Asked Questions">FAQs</a></li>
          <li class="hidden-xs dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> About</a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-logout">
              <li>
                <a href="/about" title="Why we’re here">Why we’re here</a>
              </li>

              <li>
                <a href="/solutions" title="Solutions">Solutions</a>
              </li>

              <li>
                <a href="/team" title="People &amp; Values">People &amp; Values</a>
              </li>

              <li>
                <a href="/careers" title="Careers">Careers</a>
              </li>

              <li>
                <a href="/faq" title="Frequently Asked Questions">FAQs</a>
              </li>

              <li>
                <a href="/newsroom" title="Newsroom">Newsroom</a>
              </li>

              <li>
                <a href="/blog" target="_blank" title="Blog">Blog</a>
              </li>

            </ul>

          </li>
          <li class="hidden-xs"><a href="/contact" title="Contact Us">Contact</a></li>
          <li class="visible-xs"><a href="/newsroom">Newsroom</a></li>
          <li ng-show="b_user_logged_in && !is_staff_user && !b_myfleet_required" class="hidden-xs">
            <a href="dashboard/mytrips" id="btn-dashboard"
            title="My Bookings" target="_self">Dashboard</a>
          </li>
          <li class="visible-xs" ng-show="b_user_logged_in"><a href="/accounts/logout/" target="_self"> Logout</a></li>
          <li class=" hidden-xs" ng-click="toggleBand($event, 'track')"><a class="btn-track pointer" title="track">Track
              Booking <span class="arrow-down"></span></a>
            <div id="track-bookingdiv" class='offer-div' ng-show="bandId==='track'">
              <div class='link-div booking-track'>
                <form id="track-booking" method="get" action="">
                  <div class="trackgroup">
                    <input name="booking_id" id="booking_id" ng-model="track.booking_id" type="text" ng-click="$event.stopPropagation()"
                      placeholder="Booking ID" class="form-control trackinput" ng-keypress="checkKey($event)" required />
                    <button id='track-btn' class='btn btn-info track-btn' ng-disabled="!track.booking_id" ng-click="trackBooking($event)">Track</button>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li ng-hide="b_user_logged_in"> <a href="#" ng-click="openLoginModal($event)"> Login </a> </li>
          <li class="hidden-xs" ng-hide="b_user_logged_in"><a class="sign-up" ng-hide="b_user_logged_in" ng-click="openRegistrationModal($event)">Sign
              Up</a></li>
          <li ng-show="b_myfleet_required"><a href="dashboard" id="btn-myfleet" title="My Fleet" target="_self">Dashboard</a></li>
          <li class="hidden-xs dropdown" ng-hide="!b_user_logged_in"><a id="btn-logout" title="Profile" class="dropdown-toggle pointer"
              data-toggle="dropdown" aria-expanded="true">
              <img id="user-pic" src="/static/website/images/avatar.png" alt="{{userProfile.name}}" /> <span class="hidden-xs">
                {{userProfile.name}} </span></a>
            <ul class="dropdown-menu arrow-top" role="menu" aria-labelledby="btn-logout">
              <li class="visible-xs" ng-show="b_user_logged_in && !is_staff_user && !b_myfleet_required">
                <a href="mytrips" id="btn-dashboard" title="My Trips" target="_self">My Trips</a>
              </li>
              <li role="presentation" ng-if="b_user_logged_in">
                <a class="pointer" id="btn-profile" role="menuitem" ng-click="showProfile()"
                  tabindex="-1">View Profile</a>
              </li>
              <li role="presentation" ng-if="b_user_logged_in && !is_staff_user">
                <a class="pointer" id="btn-bulkpay" href="/myaccount" target="_self">
                  <div>My Account</div>
                  <div class="due-amount">Balance: <i class="fa fa-inr"></i>{{userProfile.wallet_available_balance || 0}}</div>
                </a>
              </li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/accounts/logout/" target="_self"> Logout</a></li>
            </ul>
          </li>
          <li><a data-toggle="modal" data-target="#getApp-modal" class="get-the-app" title="Get the app"><i></i>Get the
              app</a></li>
        </ul>
        <div class="mobile-profile visible-xs ng-binding" ng-show="b_user_logged_in">
          <img id="user-pic" ng-src="/static/website/images/avatar.png" alt="" class="pull-left">
          {{userProfile.name}}
          <br>
          <a class="pointer" id="btn-profile" ng-click="showProfile()" tabindex="-1">Profile</a>
        </div>
        <div class="translucent" ng-click="toggleSideBar()"></div>
      </nav>
    </div>
  </header>
</div>

<div id="contact-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <img src="/static/website/images/apple-touch-icon-57x57.png" alt="">
        <h4 class="modal-title">Contact us</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12">
              <h6>Write to us</h6>

              <div ng-show="contact_us.message_sent">
                Thank you for writing to us!. We'll get back to you as soon as possible.
              </div>
              <form ng-hide="contact_us.message_sent">
                <input type="text" ng-model="contact_us.name" class="form-control" placeholder="Your name">
                <input type="text" ng-model="contact_us.email" class="form-control" placeholder="Your email" required>
                <input type="text" ng-model="contact_us.phone" class="form-control" placeholder="Your phone">
                <textarea name="" ng-model="contact_us.message" class="form-control" cols="30" rows="5" placeholder="Your message"></textarea>
                <button class="btn btn-blue btn-block" ng-disabled="contact_us.disabled" ng-click="contact_us_send(contact_us)">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="getApp-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="getApp-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <img src="/static/website/images/apple-touch-icon-57x57.png" alt="">
        <h4 class="modal-title">Get the {{brandName}} App</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12 col-sm-5 hidden-xs  col-sm-offset-1">
              <img src="/static/website/images/popup-app-screens.png" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-5">

              <h6>Book your truck on the move</h6>
              <p class="mb30">Download the {{brandName}} app on your smartphone</p>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" ng-model="get_the_app.mobile" placeholder="Phone no."
                    minlength="10" maxlength="10">
                  <span class="input-group-addon"><button class="btn btn-blue" ng-disabled="get_the_app.disabled"
                      ng-click="get_the_app_get(get_the_app)">Send</button></span>
                </div>
              </div>
              <p>Enter your phone number and get a link to install the app</p>
              <hr>
              <p>Or download from the app stores</p>
              <p><a href="https://itunes.apple.com/in/app/blowhorn-mini-trucks-on-hire/id1251408316?mt=8" target="_self">
                  <img src="/static/website/images/applestore-badge.png" style="width:100px; margin-right:15px; margin-bottom:5px;"
                    alt="">
                </a>
                <a href="https://play.google.com/store/apps/details?id=net.blowhorn.app&amp;hl=en&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
                  target="_self">
                  <img src="/static/website/images/google-play-badge.png" alt="" style="height:30px; margin-bottom:5px;">
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="password-recover" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="recover-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Password Recovery</h4>
      </div>
      <div class="modal-body text-center">
        <form id="password-recover-form" class="row" name="recover" ng-submit="resetPassword()">
          <div class="col-xs-12">
            <div style="margin-bottom:10px;">Enter your email address and we'll send you an email to reset your
              password</div>
            <input id="recovery-email" type="email" class="form-control modal-form-fixer" placeholder="Email ID" name="email"
              ng-model="recoveryEmail" ng-change="resetRecoveryForm()" required>
          </div>
          <div class="danger col-xs-12">
            <p id="password-recovery-message" ng-show="passwordRecoveryMessage" ng-bind="passwordRecoveryMessage"></p>
          </div>
          <div class="col-xs-12">
            <input id="btn-password-recover" type="submit" class="btn-blue" value="recover" title="recover" name="recover">
          </div>
          <a class="forgot-password link-red" data-toggle="modal" data-dismiss="modal" data-target="#login-modal" title="Go back to login menu">Go
            back to login menu</a>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="social-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="social-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
            class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Sign Up</h4>
      </div>
      <div class="modal-body text-center">
        <form id="social-form" class="row" name="socia-form" method="get">
          <div class="col-xs-12">
            <input id="social-name" type="text" class="form-control modal-form-fixer" placeholder="Name" name="name"
              required>
          </div>
          <div class="col-xs-12">
            <input id="social-email" type="text" class="form-control modal-form-fixer" placeholder="Email ID" name="email"
              required>
          </div>
          <div class="col-xs-12">
            <input id="social-mobile" type="tel" class="form-control modal-form-fixer" placeholder="Mobile" name="mobile"
              required>
          </div>
          <div class="col-xs-12" hidden>
            <input id="social-type" type="text" class="form-control modal-form-fixer" placeholder="Type" name="social_type"
              required>
          </div>
          <div class="col-xs-12">
            <input id="btn-social-login" type="button" class="btn-blue" value="Sign Up" title="signup" name="signup">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
        <i class="modal-login-header-logo"></i>
      </div>
      <div class="modal-body text-center">
        <h5>Have a {{ brandName }} account?</h5>
        <form id="login-form" class="row" name="loginForm" ng-submit="signIn($event)">

          <div class="col-xs-12 mobile-number" style="margin-bottom: 15px;">
            <div class="separate-dial-code iti-sdc-3" ng-class="{'intl-tel-input' : primaryLoginFieldType === 'phone'}">
              <div class="flag-container">
                <div class="selected-flag" title="" ng-if="primaryLoginFieldType === 'phone'">
                  <div class="iti-flag {{country_code|lowercase}}"></div>
                  <div class="selected-dial-code">{{isd_dialing_code}}</div>
                </div>
              </div>
              <input
              id="primary-login-field"
              type="text"
              class="form-control modal-form-fixer"
              placeholder="Email / Phone Number"
              name="primaryLoginField"
              ng-model="primaryLoginField"
              ng-keyup="checkInputType()"
              ng-pattern="/^(?:\d{9,10}|[a-zA-Z0-9_\.]+@[a-zA-Z0-9_\.]+\.[a-zA-Z0-9]+/"
              ng-class="{'initial-left-padding' : primaryLoginFieldType === 'email'}"
              required>
            </div>
          </div>
          <div class="col-xs-12" ng-if="primaryLoginFieldType === 'email'">
            <input id="password" type="password" class="form-control modal-form-fixer" placeholder="Password" name="password"
              ng-model="password" ng-change="resetLoginErrorMessage()" required>
            <button class="show-password" title="Show Password">
              <i class="bg-EyeOFFDark"></i>
              Show Password</button>
          </div>
          <div class="danger col-xs-12">
            <p id="login-message"></p>
          </div>
          <div class="col-xs-12">
            <input
              id="input-login"
              type="submit"
              class="btn-blue"
              value="{{submitBtnText}}"
              title="{{submitBtnText}}"
              ng-click="signIn($event)"
              ng-disabled="submitting || loginForm.$invalid">
          </div>
          <a class="forgot-password link-red" ng-if="primaryLoginFieldType === 'email'" data-toggle="modal" data-dismiss="modal" data-target="#password-recover"
            ng-click="resetRecoveryForm()" title="Forgot your Password?">Forgot your Password?</a>
        </form>
        <div class="social-links row">
          <div class="text-center has-divider"><span>or login with</span></div>
          <div class="social-btn-container">
            <a class="btn-fb" ng-click="openAuthPage('/accounts/facebook/login/', 'facebook', 'login')" title="Login using Facebook" target="_self"><span class="icon icon-facebook"></span>Facebook</a>
            <a class="btn-gplus" ng-click="openAuthPage('/accounts/google/login/', 'google', 'login')" title="Login using Google" target="_self"><span class="fa fa-google"></span>Google</a>
          </div>
        </div>
        <div class="text-center no-account">
          Don't have a account? <span><a title="Sign Up" ng-click="openRegistrationModal($event)"> Sign Up </a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="register-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="register-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
        <i class="modal-register-header-logo"></i>
      </div>
      <!-- Register Otp Begins Page Here -->
      <div id="register-otp" class="modal-body text-center" ng-show="registerPanelName==='otp'">
        <h5>Enter the One time password(OTP) to verify your Mobile</h5>
        <form id="otp-form" class="row" name="signupOtpForm" novalidate>
          <div class="col-xs-12" hidden>
            <input id="otp-email" type="text" class="form-control modal-form-fixer" placeholder="Email" name="email"
              ng-model="otp.email">
          </div>
          <div class="col-xs-12 mobile-number">
            <div class="intl-tel-input separate-dial-code iti-sdc-3">
              <country-code country-code-a2="country_code" isd-dialing-code="isd_dialing_code"></country-code>
              <input id="otp-mobile" type="tel" class="form-control modal-form-fixer"
              placeholder="Mobile" name="mobile" required ng-readonly="{{otp.mobileReadonly}}"
              ng-model="otp.mobile" ng-keydown="telephoneOnKeydown($event)">
            </div>
          </div>
          <div class="col-xs-12">
            <input id="otp-otp" type="text" class="form-control modal-form-fixer" placeholder="OTP" name="otp" required
              ng-model="otp.otp" ng-change="otpErrors.error=''">
          </div>
          <div class="danger">
            <p ng-show="otpErrors.error" ng-bind="otpErrors.error"></p>
          </div>
          <div class="col-xs-12">
            <input id="btn-otp-verify" type="submit" class="btn-blue" value="Verify" title="Verify" name="Verify"
              ng-click="verifySignupOtp($event)">
          </div>
        </form>
      </div>
      <!-- Register Otp Ends Page Here -->
    </div>
  </div>
</div>
<div id="profile-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="profile-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body text-center">
        <form id="profile-form" class="row" name="profileForm" ng-submit="updateProfile($event)">
          <div class="col-xs-12">
            <input id="profile-email" ng-model="profile.email" type="text" class="form-control modal-form-fixer"
              placeholder="Email" name="email">
          </div>
          <div class="col-xs-12">
            <input id="profile-name" ng-model="profile.name" type="text" class="form-control modal-form-fixer"
              placeholder="Name" name="name" ng-change="profile.error=''" required>
          </div>
          <div class="col-xs-12 mobile-number" style="margin-bottom: 15px;">
            <div class="intl-tel-input separate-dial-code iti-sdc-3">
              <div class="flag-container">
                <div class="selected-flag" title="">
                  <div class="iti-flag {{country_code|lowercase}}"></div>
                  <div class="selected-dial-code">{{isd_dialing_code}}</div>
                </div>
              </div>
              <input id="profile-mobile" ng-model="profile.mobile" type="tel"
              class="form-control modal-form-fixer"
              placeholder="Mobile" name="mobile" required
              ng-change="profile.error=''" ng-keydown="telephoneOnKeydown($event)">
            </div>
          </div>
          <div class="col-xs-12 roundedTwo" ng-if="!disable_category">
            <input id="am-business-user" type="checkbox" class="form-control modal-form-fixer" name="isBusinessUser"
              ng-model="profile.is_business_user" ng-change="isBusinessUser(profile)" ng-readonly="!profile.is_org_admin">
            <label for="am-business-user">I'm a business user</label>
          </div>
          <div class="col-xs-12" ng-if="profile.legal_name">
            <input id="profile-legal-name" type="text" class="form-control modal-form-fixer" name="legalname"
              placeholder="Company" ng-model="profile.legal_name" ng-change="profile.error = ''"
              ng-required="profile.is_business_user"
              ng-readonly="!profile.is_org_admin">
          </div>
          <div class="col-xs-12" ng-if="!isDefaultBuild">
            <select
              name="state"
              class="form-control modal-form-fixer"
              ng-options="item.id as item.name for item in states"
              ng-model="profile.state"
              ng-change="profile.error = ''"
              ng-required="profile.gstin && !isDefaultBuild"
            >
              <option value="">State / Province</option>
            </select>
          </div>
          <div class="col-xs-12" ng-if="profile.gstin">
            <input id="profile-gstin" type="text" class="form-control modal-form-fixer" name="gstin"
            placeholder="{{gstinPlaceholder}}"
            ng-model="profile.gstin" ng-change="profile.error=''" ng-readonly="!profile.is_org_admin">
          </div>
          <h5 id="profile-message" class="text-danger" ng-show="profile.error" ng-bind="profile.error"></h5>
          <div class="col-xs-12">
            <input id="profile-update-btn" type="submit" class="btn-blue" value="Update" title="Update" name="Update"
              ng-click="updateProfile($event)"><br>
            <a id="btn-changepassword" role="menuitem" tabindex="-1" class="link-red" ng-click="changePassword($event)"><span>Change
                Password</span></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="modal-password" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-password" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Change password</h4>
      </div>
      <div class="modal-body text-center">
        <form id="password-form" class="row" name="password-form" ng-submit="saveNewPassword($event)">
          <div class="col-xs-12">
            <input id="pass-oldpassword" type="password" class="form-control modal-form-fixer" placeholder="Old Password"
              name="pass-oldpassword" ng-model="passwordDetails.oldPassword" ng-change="setPasswordErrorMessage('')"
              required>
          </div>
          <div class="col-xs-12">
            <input id="pass-password" type="password" class="form-control modal-form-fixer" placeholder="New Password"
              name="pass-password" ng-model="passwordDetails.password" ng-change="setPasswordErrorMessage('')" required>
          </div>
          <div class="col-xs-12">
            <input id="pass-repassword" type="password" class="form-control modal-form-fixer" placeholder="Confirm Password"
              name="pass-repassword" ng-model="passwordDetails.repassword" ng-change="setPasswordErrorMessage('')"
              required>
          </div>
          <div class="danger">
            <p id="changepassword-message" ng-show="pwdErrorMessage" ng-bind="pwdErrorMessage" class="danger"></p>
          </div>
          <div class="col-xs-12">
            <input type="submit" value="Update" class="btn-blue" title="Update" name="Update" ng-click="saveNewPassword($event)">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
