<div class="home-page">
  <div class="homeLoader" ng-if="showHomeLoader">
    <div class="home-loader-wrapper bh-modal">
      <div class="loader"></div>
      <div class="loader-inner"></div>
    </div>
  </div>
  <booking-form></booking-form>
</div>
