<div id="infobox">
  <div class="top-bar">
    <div class="title">{{data.title}}
      <button class="save pull-right" ng-show="showSaveLocationOption && !data.saved" ng-click="openSaveAddress(data)"><i class="bg-SaveLoc"></i><i class="bg-SaveLocHover"></i>Save</button>
      <button class="saved pull-right" ng-show="showSaveLocationOption && data.saved" ng-click="openSaveAddress(data)"><i class="bg-LocSaved"></i><i class="bg-LocSavedHover"></i>Saved</button>
    </div>
  </div> 
  <div class="address" ng-hide="true"> 
    {{data.address.full_address || 'Drag/Double Click to get the address'}}
  </div> 
  <textarea class="address" ng-model="data.address.full_address"></textarea> 
  <div class="rectangle-2"> 
    <div class="add-contact" ng-show="!data.contact.name" ng-click="openAddEditContact(data)"><i class="bg-AddContact"></i><i class="bg-AddContactHover"></i> Add Contact</div>
    <div class="contact" ng-show="data.contact.name">
      <div class="pull-left"><i class="bg-Contact"></i>           
        <span style="display: inline-block; width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{data.contact.name}}</span> 
      </div> 
      <div class="edit pull-right" ng-click="openAddEditContact(data)"><i class="bg-off bg-EditContact"></i><i class="bg-on bg-EditContactHover"></i></div> 
    </div>
  </div> 
</div>
