
<div ng-include="'/static/website/html/home/home.html'" onload="loaded=true"></div>
<div id="message-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="message-modal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        <h4 class="modal-title">Message</h4>
      </div>
      <div class="modal-body text-center">
        <h5 id="message" hidden></h5>
      </div>
    </div>
  </div>
</div>
