<div class="news-page" ng-click="documentClickHandler($event)">
  <section class="container news-section ng-cloak section-height" id="intro">
    <div class="layer">
      <blowhorn-header></blowhorn-header>
    </div>
  </section>
  <div class="floating-panel">
    <div class="container contents">
      <div class="header">In the News</div>
      <div class="sub-header">
        Read all the latest updates and news articles
      </div><!-- subheader -->
      <div class="contents-card">
        <div class="card news-card no-news" ng-if="show.no_news">
          <div>No news found</div>
        </div>
        <div class="card news-card" ng-repeat="item in newsroom.results">
          <div class="left-part">
            <div class="thumbnail"
              style="background-image: url({{item.thumbnail}})">
            </div>
            <div class="share-container hidden-xs">
              <button ng-click="shareNews('facebook', item)">
                <i class="fa fa-facebook-f facebook"></i>
              </button>
              <button ng-click="shareNews('twitter', item)">
                <i class="fa fa-twitter twitter"></i>
              </button>
              <button ng-click="shareNews('linkedin', item)">
                <i class="fa fa-linkedin linkedin"></i>
              </button>
              <!--<button><i class="fa fa-instagram instagram"></i></button>-->
            </div>
          </div><!-- left part -->
          <div class="center-part">
            <div class="news-heading">{{item.heading}}</div>
            <div class="published-date">{{item.published_date |date: 'MMM dd, yyyy'}}</div>
            <div class="divider"></div>
            <div class="news-body">{{item.body}}</div>
          </div><!-- center part -->
          <div class="right-part">
            <div class="publisher-logo hidden-xs">
              <img src="{{item.publishers_logo}}"
                alt="publisher-logo">
            </div>
            <div class="btn-flat btn-read-more"
              ng-click="openOriginalNews(item.article_link)">
              read more
            </div>
            <div class="share-mobile visible-xs">
              <button ng-click="shareNews('facebook', item)">
                <i class="fa fa-facebook-f facebook"></i>
              </button>
              <button ng-click="shareNews('twitter', item)">
                <i class="fa fa-twitter twitter"></i>
              </button>
              <button ng-click="shareNews('whatsapp', item)">
                <i class="fa fa-whatsapp whatsapp"></i>
              </button>
              <button ng-click="shareNews('linkedin', item)">
                <i class="fa fa-linkedin linkedin"></i>
              </button>
            </div>
          </div><!-- right part -->
        </div><!-- card ng-repeat -->
        <div class="load-more-news" ng-if="newsroom.next_page && !show.loading_news">
          <div class="btn-flat" ng-click="loadMoreNews()">Load More News</div>
        </div>
        <div class="card news-card placeholder-animation-container"
          ng-if="show.loading_news">
          <div class="left-part">
            <div class="thumbnail-placeholder placeholder-item"></div>
            <div class="share-option hidden-xs placeholder-item">
            </div>
          </div><!-- left part -->
          <div class="center-part">
            <div class="news-heading placeholder-item"></div>
            <div class="published-date placeholder-item"></div>
            <div class="divider"></div>
            <div class="news-body placeholder-item"></div>
          </div><!-- center part -->
          <div class="right-part">
            <div class="publisher-logo hidden-xs placeholder-item"></div>
            <div class="btn-flat btn-read-more placeholder-item"></div>
            <div class="share-mobile visible-xs placeholder-item"></div>
          </div><!-- right part -->
        </div><!-- card loader -->
      </div> <!-- card-container -->
    </div> <!-- container contents -->
    <blowhorn-footer></blowhorn-footer>
  </div> <!-- floating-panel -->
</div>
