<div id="solutions">
  <div id="intro" class="ng-cloak">
    <blowhorn-header></blowhorn-header>
    <div class="container">
     <div id="content-inverse" class="col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 col-md-9">
          <h1>SOLUTIONS</h1>
          <p class="lead">We have a transportation layer to handle both fixed and spot requirements. We are adding capabilities on the transportation layer to expand our logistics offerings.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-lg-3">
          <h2>FIXED CONTRACTS</h2>
          <p>Reach out to us at <br> shoutout@blowhorn.com
          <br> or {{defaultContact}}
         </p>

         <p>or share your phone number <a data-toggle="modal" data-target="#contact-modal"> here </a>  and we will get back to you at the earliest.</p>
         <!-- <p><input type="text" class="form-control"></p>-->
       </div>

       <div class="col-sm-4 col-lg-3 col-lg-offset-1">
        <p><h2>SPOT SOLUTIONS</h2></p>
        <p><a data-toggle="modal" data-target="#getApp-modal" class="btn-inverse">Download our App </a></p>
      </div>
    </div>
    <hr>
    <div class="row">
     <div class="col-xs-12 col-md-6  col-lg-5">
      <h1>BUILDING FOR INDIA IS <br class="hidden-xs"> BUILDING FOR THE WORLD</h1>
      <p>India is a large vast market with challenges which other emerging markets face. Designing technology solutions which the ‘semi-literate/illiterate’ can use, reimagining hubs and spokes, upskilling the drivers are some of the challenges unique to a vast majority of people in emerging markets. Despite the challenges, we manage to pull off activities which set a global benchmark. For once, the innovations are coming from India.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-lg-4 ">
      <h1>INNOVATION IS OUR <br class="hidden-xs"> CORE COMPETENCY</h1>
      <p>
        As logisticians and technologists, we had a chance to develop the business with a clean slate. To achieve this, we relooked at the business from scratch, built the technology stack in-house and continue to constantly update the platform. The platform is built to scale. We have collaborated with global brands to showcase some of our innovations.
      </p>
    </div>
  </div>
</div>
</div>
</div>
<blowhorn-footer></blowhorn-footer>
</div>
