<div class="solutions-page" ng-click="documentClickHandler($event)">
    <section class="container solutions-section ng-cloak section-height" id="intro">
      <div class="layer">
        <blowhorn-header></blowhorn-header>
      </div>
    </section>
    <div class="floating-panel">
      <div class="container contents">
        <div class="header"> Our Enterprise Solutions
        </div>
        <div class="">
          <div class="solutions-card">
            <div class="text">We have a transportation layer to handle both fixed and adhoc requirements. Everyday our
              team is constantly working towards adding capabilities on the transportation layer to expand our logistics
              offerings. With new and emerging businesses in the market, it not only helps us learn, but also innovate
              these offerings, so we can cater to all your logistics need under one roof.
            </div>
          </div>
          <div class="fixed-card">
            <div class="title">
              <div class="text">For fixed contract</div>
            </div>
            <div class="horizontal-split">
              <div class="splitter"></div>
            </div>
            <div class="inner-card-panel">
              <div class="inner-card">
                <div class="text" style="margin-bottom:15px;">Reach out to us at</div>
                <div class="text" style="margin-bottom:15px;"><strong>shoutout@blowhorn.com </strong></div>
                <div class="text" style="margin-bottom:15px;">or</div>
                <div class="text" style="margin-bottom:15px;"><strong>080 3965 9966</strong></div>
              </div>
              <div class="inner-card">
                <form class="inner-card-form" id="solutions-contact-form" name="solutionsContactForm" novalidate
                  ng-submit="contact_us_send({name: solutionContact.fullname, phone: solutionContact.contactNumber}, 'solutions_send')">
                  <div class="form-group input-fillname" ng-class="{'has-error': solutionsContactForm.contactFullname.$invalid &&
                              !solutionsContactForm.contactFullname.$pristine}">
                    <input class="blowhorn-input" id="contact-fullname" name="contactFullname" placeholder="Enter Full Name"
                      ng-model="solutionContact.fullname" required>
                  </div>
                  <div class="form-group input-contact-number" ng-class="{'has-error': solutionsContactForm.contactNumber.$invalid &&
                  !solutionsContactForm.contactNumber.$pristine}">
                    <input class="blowhorn-input" id="contact-number" placeholder="Enter Contact Number" name="contactNumber"
                      ng-model="solutionContact.contactNumber" required maxlength="10" minlength="10">
                  </div>
                  <p class="error">{{solutionContact.error}}</p>
                  <div class="send-button-panel" ng-class="solutions_send ? 'show-success' : 'hide-success'">
                    <button class="send-button" type="submit" ng-disabled="solutionsContactForm.$invalid">Send</button>
                    <div class="send-button-message">
                      Sent
                    </div>
                  </div>
                </form>
                <p class="footer-text">Sit back and relax! We’ll call you soon</p>
              </div>
            </div>
          </div>
          <div class="fixed-card">
            <div class="title">
              <div class="text">Our enterprise features</div>
            </div>
            <div class="horizontal-split">
              <div class="splitter"></div>
            </div>
            <div class="solutions-panel">
              <div class="offer-card" ng-repeat="i in solutionsCards" style="margin:15px;">
                <div class="card-main">
                  <div class="card-image-holder">
                    <img class="img-responsive" lazy-load lazy-src="{{i.src}}">
                    <span>{{i.header}}</span>
                  </div>
                  <div class="card-content">
                    <p>{{i.content}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <blowhorn-footer></blowhorn-footer>
      </div>
    </div>
  </div>
  