<div id="team">
  <div id="intro" class="ng-cloak">
    <blowhorn-header></blowhorn-header>
  </div>
  <div class="container-fluid">
    <div class="team-photo">
    </div>
  </div>

  <div class="container">
    <div id="content-inverse" class=" col-sm-offset-1">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <h1>CLOSE KNIT TEAM DRIVEN BY VALUES AND MISSION FOCUS</h1>
          <p class="lead">We are a technology driven logistics company. We prioritise capabilities and motivation over
            educational background. At our offices around India, we have assembled teams that combine practical
            experience in logistics and operations, building large scale technology systems and process excellence. We
            also have a distributed engineering team working on the future of technology solutions.
          </p>
        </div>
      </div>
      <!--
    <div class="row">
       <div class="col-xs-12">
           <h1>MEET OUR PEOPLE</h1>
       </div>

        <div class="col-xs-12 col-sm-3 team-member">
        <p>
        <span>
        <img src="images/team-img-mithun.jpg" class="img-responsive" alt="">
        <span>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare “ </span>
        </span>
        </p>
        <h2>NAME</h2>
        <p>Designnation</p>

        </div>

        <div class="col-xs-12 col-sm-3 team-member">
                <p>
        <span>
        <img src="images/team-img-mithun.jpg" class="img-responsive" alt="">
        <span>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare “ </span>
        </span>
        </p>
        <h2>NAME</h2>
        <p>Designnation</p>
        </div>

                <div class="col-xs-12 col-sm-3 team-member">
        <p>
        <span>
        <img src="images/team-img-mithun.jpg" class="img-responsive" alt="">
        <span>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacus elit, pretium eu quam in, ornare “ </span>
        </span>
        </p>
        <h2>NAME</h2>
        <p>Designnation</p>
        </div>


    </div>
  -->

      <div class="row">
        <div class="col-xs-12 col-md-10">
          <h1>SHARED VALUES</h1>
          <p class="lead">We have 14 values which define the way we work and lead. We use them regularly to guide our
            decision making, ranging from deciding on product roadmaps to hiring talent.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>01</h4>
          <h5>Let Data be your Guide</h5>
          <p>Use data driven decisions. Augmenting Intuition with data validation works well</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>02</h4>
          <h5>Enjoy your freedom to take decisions, learn from your mistakes and move on</h5>
          <p>You have the freedom and space to take decisions. It is ok to make mistakes, as long as we learn and move
            on.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>03</h4>
          <h5>Think big. Be fearless. Challenge the status quo</h5>
          <p>Don’t be scared to try new things. Think big. You are actively encouraged to challenge convention and what
            ‘has been’</p>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>04</h4>
          <h5>Put yourself in the other person's shoes. Empathise</h5>
          <p>Learn to see the challenges from the other end. Use empathy to understand and solve conflicts</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>05</h4>
          <h5>Delight our customers by delivering on our promises</h5>
          <p>Customer delight for Blowhorn is defined by delivering on the promises we have made to our customer. We
            are happy to redirect customers to other service providers who are better suited for jobs, where we do not
            foresee fulfilling the customer promise. As a corollary we take responsibilities of what we can handle
          </p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>06</h4>
          <h5>Don’t wait. Act</h5>
          <p>Don’t be scared to try new things. Think big. You are actively encouraged to challenge convention and what
            ‘has been’</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>07</h4>
          <h5>Do the right thing, even when no one is looking</h5>
          <p>Ethics are the foundations of a lasting business. There will be situations where ambiguity will creep in
            and we will not be watching you all the time. Just do the right thing.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>08</h4>
          <h5>Take control, see it to the end</h5>
          <p>Treat the company’s challenges as your own. Ensure that you finish what you start</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>09</h4>
          <h5>Stay Grounded</h5>
          <p>Being receptive to views and ideas of others. Good and bad things happen, but that should not change the
            way we treat our internal and external customers</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>10</h4>
          <h5>Pursue creative ideas that have the potential to change the world of logistics</h5>
          <p>Experiment. Devise new solutions to existing problems. Explore new markets. Blowhorn is your lab and your
            toolbox</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>11</h4>
          <h5>Collaborate, Ideate
            and Execute</h5>
          <p>Startups are a team sport. Execution of ideas matters. You cannot do it alone. Collaboration is the way
            ahead</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>12</h4>
          <h5>Be Tenacious</h5>
          <p>Don't give up in the face of challenges, keep going on.... Onward!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <h4>13</h4>
          <h5>Do more with less</h5>
          <p>Frugality is what has helped us survive against superior funded competitors and large incumbents. Frugal
            is not cheap. Frugal is doing more with less.</p>
        </div>

        <div class="col-xs-12 col-sm-3">
          <h4>14</h4>
          <h5>Have fun!</h5>
          <p>Building a business is hard. However, do not forget to have fun. Blow the horn!</p>
        </div>
      </div>
    </div>
  </div>
  <blowhorn-footer></blowhorn-footer>
</div>
