<div class="team-page" ng-click="documentClickHandler($event)">
    <section class="container team-section ng-cloak section-height" id="intro">
      <div class="layer">
        <blowhorn-header></blowhorn-header>
      </div>
    </section>
    <div class="floating-panel">
      <div class="container contents">
        <div class="header">Value Driven Flat Structure</div>
        <div class="">
          <div class="team-card">
            <div class="text">Our values define the way we work, our approach towards people we work with and everything
              else in between. We don’t just use it to take day-to-day decisions, but also hiring exceptional talent. We
              ensure that every person who becomes a part of Blowhorn is driven by at least one value. While we think it
              is a good practise to put these values to use in our professional life, but it’s so much etched in our
              minds that we also end up using it in our personal lives.
            </div>
          </div>
          <div class="contents-card">
            <div class="title">
              <div class="header">Shared Values</div>
            </div>
            <div class="horizontal-split">
              <div class="splitter"></div>
            </div>
            <div class="text">We have 14 values which define the way we work and lead.
              We use them regularly to guide our decision making, ranging from deciding
              on product roadmaps to hiring talent.
            </div>
            <div class="values-panel">
              <div class="value-card" ng-repeat="val in teamValues">
                <h4>{{$index+1}}</h4>
                <h5>{{val.header}}</h5>
                <p>{{val.content}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <blowhorn-footer></blowhorn-footer>
      </div>
    </div>
  </div>
  