<div class="wrapper">
  <div class="modal-header">
    <div class="modal-title-text">Share invoice</div>
    <div (click)="suppress_event($event)">
      <span
        class="fa fa-times cross"
        (click)="close_fired_modal($event)"
      ></span>
    </div>
  </div>
  <div class="content">
    <div class="modal-body">
      <div class="loader-container" *ngIf="isSubmitting">
        <app-mini-loader [styles]="min_loader_styles"></app-mini-loader>
      </div>
      <span class="order-id">Trip ID : {{ trip.order_id }}</span>
      <app-user-list (setUsersList)="setUsersList($event)"></app-user-list>
      <div class="message">
        <div [ngClass]="{'success': success, 'error': !success}" *ngIf="message" [@fadeInOut]>
          {{message}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button-flat" (click)="close_fired_modal($event)">
        Cancel
      </button>
      <button
        type="button"
        class="button-flat button-blue"
        (click)="shareInvoice()"
        [disabled]="usersShare.length === 0 || isSubmitting || message">
        Share
      </button>
    </div>
  </div>
</div>
