.wrapper {
    background: #fff;
    width: 90vw;
    .modal-header {
        display: flex;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .cross {
            display: flex;
            justify-content: flex-end;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .modal-body {
        .loader-container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(255, 255, 255, 0.5);
            z-index: 1;
        }
        .message {
            display: flex;
            justify-content: center;
            padding: 15px;
            text-transform: initial;
            height: 48px;
            .success {
                color: green;
            }
            .error {
                color: red;
            }
        }
    }
}
@media (min-width: 677px) {
    .wrapper {
        width: 500px;
    }
}