:host {
    width: 100%;
    flex: 1;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            font-size: 16px;	
            font-weight: 500;	
            line-height: 1.2; 
            margin: 30px auto;
        }
        .download-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px auto;
            padding: 30px;
            border-radius: 3px;
            border: 1px solid lightgray;
            box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, .3);
            span {
                font-size: 14px;	
                font-weight: 500;	
                line-height: 1.2; 
            }
            .download {
                margin-top: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                .list {
                    justify-self: right;
                    margin: 10px;
                }
                .fetch_btn {
                    position: relative;
                    justify-self: left;
                    padding: 10px 15px;
                    padding-right: 25px;
                    background-color: #fff;
                    cursor: pointer;
                    border: 1px solid gray;
                    text-transform: uppercase;
                    height: 40px; 
                    color: #4E5454;	
                    	
                    font-size: 13px;	
                    font-weight: 500;		
                    line-height: 1.2; 
                    margin: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 2px;
                    outline: none;
                    &:hover {
                        background: rgb(63, 54, 54);
                        color: #fff;
                        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
                    }
                    &:disabled {
                        pointer-events: none;
                        color: rgb(127, 129, 129); 
                    }
                }
            }
        }
        .upload-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 30px auto;
            padding: 30px;
            border-radius: 2px;
            border: 1px solid lightgray;
            box-shadow: 3px 4px 6px 0px rgba(0, 0, 0, .3);
            span {
                	
                font-size: 14px;	
                font-weight: 500;		
                line-height: 1.2; 
                margin-bottom: 15px;
            }
            .upload-form {
                display: flex;
                align-items: center;
                justify-content: center;
                app-blowhorn-message {
                    width: 450px;
                    margin: 5px 10px;
                }
                app-blowhorn-button {
                    margin: 10px;
                    margin-bottom: 0px;
                    height: 30px;
                }
            }
            
        }    
    }    
}