<div class="wrapper">
  <div class="title">Shipment Order Template</div>
  <div class="download-section">
    <span>Download shipment order template</span>
    <div class="download">
        <app-dropdown-select class="list"
          [items]="customer_list"
          [filterable]="true"
          [selected_name]="'All Customers'"
          [styles]="customer_styles"
          (value_changed)="customer_selected($event)">
        </app-dropdown-select>
        <app-dropdown-select class="list"
          [items]="sku_orientations"
          [selected_name]="'Select SKU orientation in template'"
          [styles]="customer_styles"
          (value_changed)="sku_orientation_selected($event)">
        </app-dropdown-select>
        <button class="fetch_btn" 
          (click)="get_template()"
          [disabled]="!selected_id">Get Template <i class="fa fa-download to-right"></i>
        </button>
    </div>
  </div>
  <div class="upload-section">
    <span>Upload shipment orders</span>
    <form class="upload-form">
        <app-dropdown-select class="list"
          [items]="sku_orientations"
          [selected_name]="'Select SKU orientation in template'"
          [styles]="customer_styles"
          (value_changed)="sku_orientation_selected_upload($event)">
        </app-dropdown-select>
        <app-blowhorn-upload #file_upload [id]="'shipment_orders'"
          (file_changed)="file_changed($event)"
          (upload_file)="upload_file($event)">
        </app-blowhorn-upload>
    </form>
    <app-blowhorn-message *ngIf="show_message"
      [type]="type" [heading]="heading" [message]="message"
      (close_fired)="reset($event)">
    </app-blowhorn-message>
    <app-blowhorn-button *ngIf="show_message" [label]="'Reset'" (click_fired)="reset($event)"></app-blowhorn-button>
  </div>
</div>