* {
    
}
.container-fluid {
    
    .container {
        .logo-container {
            padding: 15px 0;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            height: 80px;
            .logo-bh {
                width: 146px;
                height: 38px;
            }
            .logo-sos {
                width: 120px;
                height: 85px;
            }
        }
        .screen-1 {
            .heading {
                color: #EB7A7A;
                font-weight: bold;
                font-size: 36px;
                line-height: 54px;
                margin-bottom: 15px;
                
            }
            .gallery-container {
                display: flex;
                margin-bottom: 15px;
                .image-holder {
                    width: 275px;
                    height: 208px;
                    border-radius: 8px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom;
                }
                .gallery-thumbnail-container {
                    padding: 0 15px;
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 250px;
                    img {
                        height: 95px;
                        width: 95px;
                        border-radius: 8px;
                        margin: 0 auto 0 auto;
                    }
                }
            }
            .content-container {
                
                padding: 15px 0;
                .tag-content {
                    display: flex;
                    justify-content: space-between;
                    max-width: 45%;
                    .heading {
                        
                        color: #434343;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 30px;
                    }
                    .price-holder {
                        display: flex;
                        flex-direction: column;
                        color: #434343;
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 37px;
                        justify-content: space-between;
                        
                        .init-cost {
                            text-align: right;
                        }
                        .final-cost {
                            padding-right: 75px;
                        }
                    }
                    .price-tag-line {
                        
                        color: #000000;
                        font-size: 12px;
                        line-height: 14px;
                        border: 1px solid #979797;
                        opacity: 0.47;
                        border-radius: 4px;
                        background-color: #D8D8D8;
                        padding: 4px 8px;
                        margin-bottom: 15px;
                    }
                }
                .main-content {
                    font-size: 16px;
                }
                .note {
                    margin: 15px 0;
                    font-size: 14px;
                }
            }
            .button-holder {
                display: flex;
                justify-content: center;
                
                button:hover {
                    background-color: #c90303;
                }
            }
        }
        .screen-2 {
            form {
                display: flex;
                justify-content: center;
                .card {
                    min-width: 380px;
                    min-height: 345px;
                    border-radius: 8px;
                    background-color: #fff;
                    margin: 10px;
                    padding: 25px;
                    display: flex;
                    justify-content: flex-start;
                    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
                    .heading {
                        display: flex;
                        margin-bottom: 15px;
                        .text {
                            
                            color: #EB7A7A;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 19px;
                            width: 100%;
                        }
                        .line {
                            position: relative;
                            width: 100%;
                        }
                        .line::before {
                            content: '';
                            border: 1px solid #979797;
                            width: 100%;
                            position: absolute;
                            right: 0;
                            top: 40%;
                        }
                    }
                    .input-group {
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 15px;
                        label {
                            
                            color: #434343;
                            font-size: 12px;
                            line-height: 14px;
                        }
                        input {
                            
                            height: 42px;
                            width: 100%;
                            padding: 0 10px;
                            border-radius: 3px;
                            background-color: #FFFFFF;
                            border: 1px solid #DCE1EA;
                        }
                        .form-input-error {
                            
                            border: none;
                            background: none;
                        }
                    }
                }
            }
            .button-holder {
                
                display: flex;
                justify-content: space-between;
                padding: 10px 15%;
            }
        }
        .screen-3 {
            background: #fff;
            display: flex;
            color: red;
            font-weight: bolder;
            padding: 10% 0;
            .message {
                font-size: 18px;
                margin: auto;
                vertical-align: middle;
            }
        }
        .input-group {
            p {
                font-size: 10px;
                color: red;
            }
        }
        .hide {
            display: none;
        }
        .highlight {
            border: 3px solid #EB7A7A;
        }
        .topMargin {
            margin-top: auto !important;
        }
    }
    .payment-options-window {
        display: flex;
        flex-direction: column;
        min-width: 320px;
        border: 1px solid #979797;
        border-radius: 8px;
        background-color: #FFFFFF;
        padding: 20px;
        .header {
            
            color: #EB7A7A;
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            margin-bottom: 15px;
        }
        .cost-info {
            margin-bottom: 30px;
            .heading {
                
                color: #434343;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                text-transform: uppercase;
                margin-bottom: 15px;
            }
            .price-holder {
                display: flex;
                color: #434343;
                font-size: 16px;
                font-weight: 500;
                line-height: 27px;
                .price-label {
                    margin-right: 15px;
                }
                .init-cost {
                    margin-right: 15px;
                }
                .strike {
                    position: relative;
                    display: inline-block;
                }
                .strike::before {
                    content: '';
                    border-bottom: 2px solid red;
                    width: 100%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                }
                .final-cost {
                    padding-right: 75px;
                }
            }
            .price-tag-line {
                color: #434343;
                font-size: 16px;
                font-weight: 500;
                line-height: 27px;
            }
        }
        .payment-button-container {
            .btn-holder {
                margin-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .container-fluid {
        padding: inherit;
        .container {
            padding: 0 15px;
            .logo-container {
                height: 65px;
                margin-bottom: 15px;
                .logo-bh {
                    width: 110px;
                    height: 28.5px;
                }
                .logo-sos {
                    width: 75px;
                    height: 53px;
                }
            }
            .screen-1 {
                .heading {
                    
                    color: #EB7A7A;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 37px;
                    margin-bottom: 10px;
                }
                .gallery-container {
                    display: flex;
                    margin-bottom: 5px;
                    .image-holder {
                        height: 130px;
                        width: 130px;
                        border-radius: 8px;
                        img {
                            height: inherit;
                            width: inherit;
                            border-radius: inherit;
                        }
                    }
                    .gallery-thumbnail-container {
                        padding: 0 15px;
                        display: flex;
                        flex-wrap: wrap;
                        max-width: 230px;
                        img {
                            height: 63px;
                            width: 63px;
                            border-radius: 8px;
                        }
                    }
                }
                .content-container {
                    
                    padding: 10px 0;
                    .tag-content {
                        max-width: unset;
                        .heading {
                            
                            color: #434343;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 21px;
                        }
                        .price-holder {
                            
                            display: flex;
                            color: #434343;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 37px;
                            justify-content: space-between;
                            .strike {
                                position: relative;
                                display: inline-block;
                            }
                            .strike::before {
                                content: '';
                                border-bottom: 2px solid red;
                                width: 100%;
                                position: absolute;
                                right: 0;
                                top: 50%;
                            }
                            .final-cost {
                                padding-right: 30px;
                            }
                        }
                        .price-tag-line {
                            
                            color: #000000;
                            font-size: 12px;
                            line-height: 18px;
                            border: 1px solid #979797;
                            opacity: 0.47;
                            border-radius: 4px;
                            background-color: #D8D8D8;
                            padding: 2px 4px;
                        }
                    }
                    .main-content {
                        font-size: 12px;
                        line-height: 18px;
                        text-align: justify;
                    }
                    .note {
                        margin: 15px 0;
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .button-holder {
                    display: flex;
                    justify-content: center;
                    
                    button:hover {
                        background-color: #c90303;
                    }
                }
            }
            .screen-2 {
                width: inherit;
                margin-top: 15px;
                form {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: inherit;
                    .card {
                        width: inherit;
                        min-width: unset;
                        min-height: unset;
                        display: flex;
                        justify-content: flex-start;
                        background-color: #fff;
                        margin: 0;
                        box-shadow: unset;
                        border: none;
                        padding: 0;
                        &.personal-info-container {
                            margin: 8px 0;
                        }
                        .heading {
                            display: flex;
                            margin-bottom: 15px;
                            
                            .text {
                                color: #EB7A7A;
                                font-size: 16px;
                                font-weight: 600;
                                line-height: 19px;
                                width: 100%;
                            }
                            .line {
                                position: relative;
                                width: 100%;
                            }
                            .line::before {
                                content: '';
                                border: 1px solid #979797;
                                width: 100%;
                                position: absolute;
                                right: 0;
                                top: 40%;
                            }
                        }
                        .input-group {
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 15px;
                            label {
                                
                                color: #434343;
                                font-size: 12px;
                                line-height: 14px;
                            }
                            input {
                                
                                height: 42px;
                                width: 100%;
                                padding: 0 10px;
                                border-radius: 3px;
                                background-color: #FFFFFF;
                                border: 1px solid #DCE1EA;
                            }
                            .form-input-error {
                                
                                border: none;
                                background: none;
                            }
                        }
                    }
                }
                .button-holder {
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 15px 0;
                    
                }
            }
            .hide {
                display: none;
            }
        }
        .payment-options-window {
            display: flex;
            flex-direction: column;
            min-width: 320px;
            border: 1px solid #979797;
            border-radius: 8px;
            background-color: #FFFFFF;
            padding: 20px;
            .header {
                
                color: #EB7A7A;
                font-size: 16px;
                font-weight: 500;
                line-height: 19px;
                margin-bottom: 15px;
            }
            .cost-info {
                margin-bottom: 30px;
                .heading {
                    
                    color: #434343;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
                .price-holder {
                    display: flex;
                    color: #434343;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 27px;
                    .price-label {
                        margin-right: 15px;
                    }
                    .init-cost {
                        margin-right: 15px;
                    }
                    .strike {
                        position: relative;
                        display: inline-block;
                    }
                    .strike::before {
                        content: '';
                        border-bottom: 2px solid red;
                        width: 100%;
                        position: absolute;
                        right: 0;
                        top: 50%;
                    }
                    .final-cost {
                        padding-right: 75px;
                    }
                }
                .price-tag-line {
                    color: #434343;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 27px;
                }
            }
            .payment-button-container {
                .btn-holder {
                    
                    margin-bottom: 15px;
                }
            }
        }
    }
}
