<div class="container-fluid">
    <div class="container">
        <div class="logo-container">
            <img class="logo-bh" href="/" src="...">
            <img class="logo-sos" src="...">
        </div>
        <div class="screen-1" *ngIf="currentScreen==='home_view'">
            <div class="heading">Surprise your loved one</div>
            <div class="gallery-container">
                <div class="image-holder"
                    [ngStyle]="{'background-image': 'url('+selected_image_url+')'}">
                </div>
                <div class="gallery-thumbnail-container">
                    <img *ngFor="let src of gallary; let index = index"
                    src="{{src}}"
                    [class.highlight]="src===selected_image_url"
                    [class.topMargin]="index===2 || index===3"
                    (mouseover)="selected_image_url=src"
                    (click)="selected_image_url=src">
                </div>
            </div> <!-- gallery-container -->

            <div class="content-container">
                <div class="tag-content">
                    <div class="heading">
                        Box of flowers from <br>
                        Shades Of Spring
                    </div>
                    <div class="price-holder">
                        <div class="init-cost">₹399</div>
                        <div class="price-tag-line">Free Delivery</div>
                    </div>
                </div>
                <div class="main-content">
                    This Valentine's day gift your loved one an exclusively handcrafted bouquet of freshest red roses, carnations and pretty gypsophilia, tied together and neatly placed in a cardboard box. These boxes protect the flowers from heat and damage as our Blowhorn partner delivers it to you fresh. The classy and rustic look  crafted by Shades of Spring will be delivered at the doorstep of your Valentine.
                </div>
            </div> <!-- content-container -->

            <div class="button-holder">
                <app-blowhorn-button
                class="home-button"
                [label]="button.home.label"
                [type]="button.home.type"
                [styles]="home_button_styles"
                (click_fired)="openBookingForm()">
                </app-blowhorn-button>
            </div>
        </div>  <!-- screen-1 -->

        <div class="screen-2" [ngClass]="{'hide': currentScreen!=='form_view'}">
            <form #order_form="ngForm" autocomplete="off">
                <div class="personal-info-container card">
                    <div class="heading">
                        <div class="text">Personal Info</div>
                        <div class="line"></div>
                    </div>
                    <div class="input-group">
                        <label for="customer_name">Your name</label>
                        <input type="text"
                        #customerName="ngModel"
                        name="customer_name"
                        pattern="[a-zA-z\s]+"
                        placeholder="Name"
                        required
                        [(ngModel)]="customer_name"
                        [ngClass]="{'invalid': customerName.touched && !customerName.valid}">
                        <div *ngIf="customerName.touched && (!customerName.value || !customerName.valid)"
                            class="form-input-error">
                            <div *ngIf="customerName.touched && !customerName.value">
                            This field is required
                            </div>
                            <div *ngIf="customerName.touched && !customerName.valid">
                            Only alphabets and spaces are allowed.
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="customer_number">Contact number</label>
                        <input type="text"
                        name="customer_number"
                        #customerNumber="ngModel"
                        required
                        pattern="[1-9][0-9]{9}"
                        maxLength="10"
                        minLength="10"
                        placeholder="Contact Number"
                        [(ngModel)]="customer_number"
                        [ngClass]="{'invalid': customerNumber.touched && !customerNumber.valid}">
                        <div *ngIf="customerNumber.touched && !customerNumber.valid"
                            class="form-input-error">
                            Enter a valid 10 digit number.
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="customer_email">Email ID</label>
                        <input type="text"
                        name="customer_email"
                        #customerEmail="ngModel"
                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$"
                        placeholder="Email"
                        [(ngModel)]="customer_email"
                        [ngClass]="{'invalid': customerEmail.touched && !customerEmail.valid}">
                        <div *ngIf="customerEmail.touched && (!customerEmail.value || !customerEmail.valid)" class="form-input-error">
                            <div *ngIf="customerEmail.touched && !customerEmail.value">This field is required</div>
                            <div *ngIf="customerEmail.touched && !customerEmail.valid">Please, enter a valid email</div>
                        </div>
                    </div>
                </div>
                <div class="delivery-info-container card">
                    <div class="heading">
                        <div class="text">Delivery Details</div>
                        <div class="line"></div>
                    </div>
                    <div class="input-group">
                        <label for="deliver_to">Your Valentine</label>
                        <input type="text"
                        #deliverTo="ngModel"
                        name="deliver_to"
                        pattern="[a-zA-z\s]+"
                        placeholder="Your Valentine"
                        required
                        [(ngModel)]="deliver_to"
                        [ngClass]="{'invalid': deliverTo.touched && !deliverTo.valid}">
                        <div *ngIf="deliverTo.touched && (!deliverTo.value || !deliverTo.valid)"
                            class="form-input-error">
                            <div *ngIf="deliverTo.touched && !deliverTo.value">
                            This field is required
                            </div>
                            <div *ngIf="deliverTo.touched && !deliverTo.valid">
                            Only alphabets and space are allowed.
                            </div>
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="deliver_number">Contact number</label>
                        <input type="text"
                        name="deliver_number"
                        #deliverNumber="ngModel"
                        required pattern="[1-9][0-9]{9}"
                        maxLength="10"
                        minLength="10"
                        placeholder="Contact Number"
                        [(ngModel)]="deliver_number"
                        [ngClass]="{'invalid': deliverNumber.touched && !deliverNumber.valid}">
                        <div *ngIf="deliverNumber.touched && !deliverNumber.valid"
                            class="form-input-error">
                            Enter a valid 10 digit number.
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="shipping_address">Delivery Address</label>
                        <input type="text"
                        name="shipping_address"
                        #deliveryAddress="ngModel"
                        placeholder="Delivery Address"
                        [(ngModel)]="shipping_address"
                        [ngClass]="{'invalid': deliveryAddress.touched && !deliveryAddress.valid}">
                        <p style="font-size: 10px;color: red;">
                            <b>OUR CUPIDS ARE DELIVERING ONLY IN BENGALURU</b>
                        </p>
                        <div *ngIf="deliveryAddress.touched && !deliveryAddress.valid"
                            class="form-input-error">
                            Delivery address is required
                        </div>
                    </div>

                    <div class="input-group">
                        <label for="delivery_timeslot">Delivery Slot</label>
                        <app-dropdown-select
                        [styles]="dropdown_styles"
                        [selected_name]="delivery_timeslot ? delivery_timeslot : 'Select timeslot for delivery'"
                        [selected_id]="delivery_timeslot_id ? delivery_timeslot_id : null"
                        [items]="available_timeslots"
                        (value_changed)="timeslot_changed($event)">
                        </app-dropdown-select>
                        <p *ngIf="slot_msg">{{slot_msg}}</p>
                    </div>
                </div>
            </form>
            <div class="button-holder">
                <app-blowhorn-button
                class="home-button"
                [label]="button.back.label"
                [type]="button.back.type"
                [icon]="button.back.icon"
                [styles]="button.back.icon_styles"
                [flat_btn]="button.back.flat_btn"
                (click_fired)="currentScreen='home_view'">
                </app-blowhorn-button>
                <app-blowhorn-button
                class="home-button"
                [label]="button.continue.label"
                [type]="button.continue.type"
                [icon]="button.continue.icon"
                [styles]="button.continue.icon_styles"
                [flat_btn]="button.continue.flat_btn"
                [disabled]="!customerName.valid
                || !customerNumber.valid
                || !customerEmail.valid
                || !deliverTo.valid
                || !deliverNumber.valid
                || !shipping_address
                || !delivery_timeslot_id"
                (click_fired)="openPaymentOptions()">
                </app-blowhorn-button>
            </div>
        </div>  <!-- screen-2 -->

        <div class="screen-3" [ngClass]="{'hide': currentScreen ==='home_view' || currentScreen ==='form_view'}">
            <div class="message">
            Thank you for an overwhelming response. Our cupids are busy delivering all your orders.
            </div>
        </div>

        <div class="modal-window" *ngIf="show_payment_window">
            <div class="payment-options-window">
                <div class="header">ORDER DETAILS
                    <div class="close"
                    (click)="show_payment_window=false">&times;</div>
                </div>
                <div class="cost-info">
                    <div class="price-holder">
                        <div class="price-label">Cost:</div>
                        <div class="init-cost">₹{{trip.total_payable}}</div>
                    </div>
                </div>
                <div class="header">CHOOSE PAYMENT METHOD</div>
                <div class="payment-button-container">
                    <div class="btn-holder">
                        <app-blowhorn-button
                        class="home-button"
                        [label]="button.paytm.label"
                        [type]="button.paytm.type"
                        [icon]="button.paytm.icon"
                        [styles]="button.paytm.icon_styles"
                        [flat_btn]="button.paytm.flat_btn"
                        (click_fired)="proceedToPaytm()">
                        </app-blowhorn-button>
                    </div>
                    <div class="btn-holder">
                        <app-blowhorn-button
                        class="home-button"
                        [label]="button.razorpay.label"
                        [type]="button.razorpay.type"
                        [icon]="button.razorpay.icon"
                        [styles]="button.razorpay.icon_styles"
                        [flat_btn]="button.razorpay.flat_btn"
                        (click_fired)="proceedToRazorpay()">
                        </app-blowhorn-button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="message.show" class="modal-window">
            <div class="message-panel">
                <app-blowhorn-message
                [type]="message.type"
                [heading]="message.header"
                [message]="message.content"
                (close_fired)="closeMessageModal()">
                </app-blowhorn-message>
            </div>
        </div>

    </div> <!-- main-container -->
</div>
