<div class="conatiner-fluid">
  <div>
    <app-shipment-report-navbar
      (filter_changed)="filter_changed($event)"
    ></app-shipment-report-navbar>
  </div>

  <div class="main" *ngIf="!order_present">
    <app-search-error></app-search-error>
  </div>

  <div
    class="wrapper1"
    [ngClass]="{
        'wrapper1': order_present,
        'hidden': !order_present
    }"
  >
    <div class="row">
      <div class="col-lg-12">
        <app-reports2-analytics-data></app-reports2-analytics-data>
      </div>
    </div>
    <div class="row">
      <div class="column column-1 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Order Status</div>
          <div class="card-body piechart">
            <app-reports2-pie-chart></app-reports2-pie-chart>
          </div>
        </div>
      </div>

      <div class="column column-2 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Order Delivery Performance</div>
          <br />
          <div class="card-body">
            <app-report2-order-deliveryperformance></app-report2-order-deliveryperformance>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="column column-1 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Order Placed</div>
          <div class="card-body piechart">
            <app-report2-order-placed></app-report2-order-placed>
          </div>
        </div>
      </div>

      <div class="column column-2 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Order Creation Trend</div>
          <div class="card-body">
            <app-report2-order-creation-trend></app-report2-order-creation-trend>
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="row">
      <div class="column column-1 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">SLA Status Trend</div>
          <br />
          <div class="card-body piechart">
            <app-report2-sla></app-report2-sla>
          </div>
        </div>
      </div>

      <div class="column column-2 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">SLA Fulfillment Distribution</div>
          <div class="card-body">
            <app-report2-order-samedaydelivery-distribution></app-report2-order-samedaydelivery-distribution>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column column-1 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Orders & Attempts</div>
          <div class="card-body piechart">
            <app-report2-order-attempts></app-report2-order-attempts>
          </div>
        </div>
      </div>

      <div class="column column-2 col-lg-6 col-md-6">
        <div class="card">
          <div class="card-header">Orders & COD</div>
          <div class="card-body">
            <app-report2-order-paymentmode></app-report2-order-paymentmode>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-row">
      <div class="column">
        <div class="card">
          <div class="card-header">Dispatch Stats</div>
          <div class="card-body">
            <app-report2-auto-dispatch></app-report2-auto-dispatch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
