.container-fluid{
    background-color: #f9f8f8;
}

.hidden {
    display:none;
}

.card{
    border:none;
}

.wrapper1{
    background-color:#f9f8f8;
    padding: 12px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 18px;
    padding: 7px;
    text-align: center;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
    background-color: #fff;
    background-clip: border-box;
    border-radius: .428rem;
}

.report_table{
    margin-top:-12px;
}

.card-header{
    font-weight: 500;
    font-size: 1.285rem;
    line-height: 1.2;
    color: #5e5873;
    text-align: left;
    background-color: #fff;
}

.column-1{
    margin-left:32px;
    margin-right:18px;
}

.column-2{
    margin-right:32px;
}
.heatmap-body {
    height: 800px;
}
