:root {
    --main-bg-color: coral;
    --primary-color: #0068C9;
    --primary-color-dark: #0070c0;
    --primary-color-light: #c5e3ff;
    --secondary-color: #FFC000;
    --primary-text-color: #fff;
    --gradient-btn: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --bg-gradient: linear-gradient(135deg, #0070c0, #fff);
    --logo-url: url(/static/website/images/mzansigo/logo/logo.png);
    --logo-dark-url: url(/static/website/images/mzansigo/logo/logo_dark.png);
    --box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
    --logo-width: 38px;
    --fa-icon-color: var(--primary-text-color);

    /* Font */
    --font-regular: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    --font-thin: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    --font-bold: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    --font-medium: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;

    /* Alert Colors */
    --info: #52b9e9;
    --success: #4caf50;
    --warning: #f88529;
    --danger: #FF6E80;
}
