{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
</head>

<body>
  <br><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="{{img_path}}" class="img-responsive">
      </div>
    </div>
</body>

</html>
