{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/blowhorn.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/privacyterms.css' %}">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="/" title="Blowhorn">
          <img src="{% static 'website/images/blowhorn_logo_black.png' %}"
               width="135" height="104" alt="Blowhorn logo"
               class="img-responsive blowhorn_log">
        </a>
      </div>
      <div class="col-sm-8">
        <p id="rowborder" class="text-center"><b>{{title}}</b></p>
      </div>
    </div>

    <div class="col-sm-8">
      {{content}}
    </div>
  </div>
</body>
</html>

