.wrapper {
    background: #fff;
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .modal-header {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .close {
            display: flex;
            justify-content: flex-end;
            font-size: 14px;
            transition: transform 300ms;
            cursor: pointer;
            &:hover {
                color: orangered !important;
                transform: scale(1.5);
            }
        }
    }
    .error {
        font-weight: 350;
        vertical-align: middle;
        margin: auto;
        color: red;
        font-style: italic;
    }

    .success {
        font-weight: 350;
        vertical-align: middle;
        margin: auto;
        color: green;
        font-style: italic;
    }

    .content {
        display: flex;
        padding: 25px;
        .main-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #434343;
            font-size: 14px;
            padding: 5px 5px;
            width: 25%;
            text-align: center;
            .text-label {
                font-weight: 500;
                text-transform: capitalize;
                color: #8B8D8E;
            }
        }
    }
    .header {
        padding: 10px 20px;
        font-weight: 500;
        border-bottom: 2px solid #0088A8;
        color: #0088A8;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 21px;
        text-transform: uppercase;
    }
    .order-lines {
        .wrapper-heading {
            display: grid;
            height: 45px;
            grid-template-columns: 250px repeat(auto-fit, minmax(50px, 1fr));
            align-items: center;
            background: white;
            div {
                padding-left: 20px;
                padding-right: 20px;
                color: #8B8D8E;
                font-size: 14px;
                line-height: 21px;
                &.number-col {
                    text-align: right;
                }
            }
        }
        .sku-body {
            max-height: 42vh;
            height: 42vh;
            overflow-y: auto;
            .wrapper-row {
                display: grid;
                width: 100%;
                grid-template-columns: 250px repeat(auto-fit, minmax(50px, 1fr));
                align-items: flex-start;
                justify-items: start;
                background-color: #fff;
                border-bottom: 1px solid rgb(226, 234, 236);
                .col {
                    padding: 10px 20px;
                    font-size: 14px;
                    line-height: 21px;
                    .main-row {
                        color: #303232;
                        padding: 0px;
                        &.number-col {
                            text-align: right;
                        }
                        &.left-padding-5 {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
.table-container-layout {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    padding-left: 100px;
}
.button-layout {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-block-start: 20px;
    justify-content: center;
}
.main-input {
    padding-left: 100px;
    width: 95%;
    padding-block-end: 20px;
    mat-panel-title {
        font-variant-caps: all-small-caps;
        font-size: 1.2rem;
        font-weight: 600;
    }
    .iform-title{
        font-variant-caps: all-petite-caps;
        font-size: large;
        font-style: italic;
        font-weight: 500;
        background-color: #0088A8;
        color: white;
        padding: 10px;
    }
    .iform-body{
        padding: 5px;
    }
    .input-form-field{
        margin: 10px 30px 10px 10px;
        .bg-color {
            color: #0088A8;
            cursor: pointer;
        }
        .expansion-title {
            flex-grow: 0 !important;
        }
    }
}
.mat-table {
    overflow: auto;
    max-height: 500px;
    width: 95%;
    .mat-header-row{
        background-color: #0088A8;
        .mat-header-cell {
            color: white;
            font-variant-caps: all-small-caps;
            font-size: 1rem;
        }
    }
}
.close-button {
    border: none;
    background-color: white;
    font-size: x-small;
}
.submit-button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #0088A8;
    width: 120px;
    height: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    margin-left: 30px;
}
.button-padding {
    margin-left: 0px !important;
}
