<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">{{heading}}</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal($event)"></span>
        </div>
    </div>
    <div class="content">
        <div class="main-text" *ngIf="!show_order_number">
            <div class="text-label">Payment Mode:</div>
            <div class="text-val">
                {{details.total_cost === 0 ? 'Prepaid' : 'COD ' + ( details.payment_mode ? '(' + details.payment_mode + ')' : '')}}
            </div>
        </div>
        <div class="main-text">
            <div class="text-label">Cash On Delivery Amount:</div>
            <div class="text-val">
                {{bh_service.currency|currencySymbol}}{{details.total_cost}}
            </div>
        </div>
        <div class="main-text">
            <div class="text-label">Amount Paid Online:</div>
            <div class="text-val">{{bh_service.currency|currencySymbol}}{{details.amount_paid_online}}</div>
        </div>
        <div class="main-text">
            <div class="text-label">Cash Collected:</div>
            <div class="text-val">{{bh_service.currency|currencySymbol}}{{details.cash_collected}}</div>
        </div>
        <div class="main-text">
            <div class="text-label">OTP:</div>
            <div class="text-val">{{details.otp}}</div>
        </div>
    </div>
    <div class="order-lines">
        <div class="main-input" *ngIf="show_all_buttons">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title >Add order line</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="iform-title">
                        <mat-label>Basic</mat-label>
                    </div>
                    <div class="iform-body">
                        <mat-form-field class="input-form-field">
                            <mat-label>Product Name</mat-label>
                            <input matInput type="text" [(ngModel)]="newOrderLine.item_name" autocomplete="off" required>
                            <button class='close-button' mat-button *ngIf="newOrderLine.item_name" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.item_name=''">
                                <mat-icon>close</mat-icon>
                            </button>
                            <br>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>HSN/SAC</mat-label>
                            <input matInput type="text" [(ngModel)]="newOrderLine.hsn_code" maxlength="10" autocomplete="off" required>
                            <button class='close-button' mat-button *ngIf="newOrderLine.hsn_code" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.hsn_code=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>Quantity</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.item_quantity" autocomplete="off" min="0" oninput="this.value = Math.abs(this.value)" required>
                            <button class='close-button' mat-button *ngIf="newOrderLine.item_quantity" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.item_quantity=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="iform-title">
                        <mat-label>Price</mat-label>
                    </div>
                    <div class="iform-body">
                        <mat-form-field class="input-form-field">
                            <mat-label>Unit Price</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.item_price_per_each" autocomplete="off" min="0" oninput="this.value = Math.abs(this.value)" required>
                            <button class='close-button' mat-button *ngIf="newOrderLine.item_price_per_each" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.item_price_per_each=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>CGST(%)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.cgst" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.cgst" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.cgst=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>SGST(%)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.sgst" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.sgst" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.sgst=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>IGST(%)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.igst" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.igst" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.igst=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <!-- Discount fields -->
                        <mat-form-field class="input-form-field">
                            <mat-label>Discount Type</mat-label>
                            <mat-select [(ngModel)]="newOrderLine.discount_type">
                                <mat-option *ngFor="let item of discountTypes" [value]="item.value" class="text-capitalize">{{ item.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="input-form-field">
                            <mat-label>Discount Value ({{ newOrderLine.discount_type && newOrderLine.discount_type.value === 'fixed' ? '&#8377;' : '%' }})</mat-label>
                            <input
                                matInput
                                type="number"
                                [(ngModel)]="newOrderLine.discounts"
                                [required]="newOrderLine.discount_type"
                                [disabled]="!newOrderLine.discount_type"
                                [max]="newOrderLine.discount_type && newOrderLine.discount_type.value !== 'fixed' ? 100 : newOrderLine.item_price_per_each"
                                min="0"
                                autocomplete="off"
                            >
                            <button class='close-button' mat-button *ngIf="newOrderLine.discounts" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.discounts=0">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="iform-title">
                        <div>Weight & Dimension</div>
                    </div>
                    <div class="iform-body">
                        <mat-form-field class="input-form-field">
                            <mat-label>Length (in cm)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.length" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.length" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.length=''">
                                <mat-icon>close</mat-icon>
                            </button>
                            <br>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>Breadth (in cm)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.breadth" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.breadth" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.breadth=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>Height (in cm)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.height" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.height" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.height=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                    <div class="iform-body">
                        <mat-form-field class="input-form-field">
                            <mat-label>Volume (in cc)</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.volume" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.item_name" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.volume=''">
                                <mat-icon>close</mat-icon>
                            </button>
                            <br>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>Weight</mat-label>
                            <input matInput type="number" [(ngModel)]="newOrderLine.weight"  min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off">
                            <button class='close-button' mat-button *ngIf="newOrderLine.hsn_code" matSuffix mat-icon-button aria-label="Clear" (click)="newOrderLine.weight=''">
                                <mat-icon>close</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field class="input-form-field">
                            <mat-label>UOM</mat-label>
                            <mat-select [(ngModel)]="newOrderLine.uom" >
                                <mat-option *ngFor="let unit of uomList" [value]='unit'>{{ unit }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="input-form-field">
                        <button class="submit-button button-padding" mat-raised-button (click)="addRow()">Add</button>
                    </div>
                    <div class="input-form-field error" *ngIf="validationError">
                        {{ validationError }}
                    </div>
                    <div class="input-form-field success" *ngIf="validationSuccess">
                        {{ validationSuccess }}
                    </div>
                </mat-expansion-panel>  
            </mat-accordion>
        </div>
        <div class="table-container-layout">
            <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox
                        (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox
                        (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Position Column -->
                <ng-container matColumnDef="id" >
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="sku">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="element.sku" [disabled]="!element.disabled" autocomplete="off" required/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- HSN Code Column -->
                <ng-container matColumnDef="hsn_code">
                    <mat-header-cell *matHeaderCellDef>HSN/SAC</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="element.hsn_code" [disabled]="!element.disabled" maxlength="10" autocomplete="off" required/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="element.quantity" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off" required/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- Unit Price Column -->
                <ng-container matColumnDef="each_item_price">
                    <mat-header-cell *matHeaderCellDef>Unit Price</mat-header-cell>
                    <mat-cell *matCellDef="let element; let i = index;">
                    <mat-form-field>
                        <input type="text" matInput [(ngModel)]="element.each_item_price" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off" required/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- CGST -->
                <ng-container matColumnDef="cgst">
                    <mat-header-cell *matHeaderCellDef>CGST(%)</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="element.cgst" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off"/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- SGST -->
                <ng-container matColumnDef="sgst">
                    <mat-header-cell *matHeaderCellDef>SGST(%)</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="element.sgst" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off"/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- IGST -->
                <ng-container matColumnDef="igst">
                    <mat-header-cell *matHeaderCellDef>IGST(%)</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-form-field>
                            <input type="number" matInput [(ngModel)]="element.igst" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="discount_type">
                    <mat-header-cell *matHeaderCellDef>Discount Type</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-form-field>
                            <!-- <input type="text" matInput [(ngModel)]="element.discount_type" [disabled]="!element.disabled" autocomplete="off"/> -->
                            <mat-select [(ngModel)]="element.discount_type" [disabled]="!element.disabled">
                                <mat-option *ngFor="let item of discountTypes" [value]="item.value" class="text-capitalize">{{ item.label }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="discounts">
                    <mat-header-cell *matHeaderCellDef>Discount Value</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-form-field>
                            <input type="number" matInput [(ngModel)]="element.discounts" [disabled]="!element.disabled" min="0" autocomplete="off"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- Volume -->
                <ng-container matColumnDef="volume">
                    <mat-header-cell *matHeaderCellDef>Volume(in cc)</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-form-field>
                            <input type="number" matInput [(ngModel)]="element.volume" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>

                <!-- Weight -->
                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef>Weight</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                    <mat-form-field>
                        <input type="number" matInput [(ngModel)]="element.weight" [disabled]="!element.disabled" min="0" oninput="this.value = Math.abs(this.value)" autocomplete="off"/>
                    </mat-form-field>
                    </mat-cell>
                </ng-container>
                <!-- UOM -->
                <ng-container matColumnDef="uom">
                    <mat-header-cell *matHeaderCellDef>UOM</mat-header-cell>
                    <mat-cell *matCellDef="let element;">
                        <mat-form-field>
                            <input type="text" matInput [(ngModel)]="element.uom" [disabled]="!element.disabled" autocomplete="off"/>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>            
                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                <mat-row (click)="editElement(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator style="width: 96%;" [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
        </div>
        <div class="button-layout" >
            <button class="submit-button" mat-raised-button (click)="close_fired_modal($event)">BACK</button>
            <button *ngIf="show_all_buttons && this.dataSource.data.length !== 0" class="submit-button" mat-raised-button (click)="updateData()">UPDATE</button>
            <button *ngIf="show_all_buttons && this.dataSource.data.length !== 0" class="submit-button" mat-raised-button (click)="deleteData()">DELETE</button>
        </div>
    </div>
</div>
