.header {
  display: flex;
  padding: 12px 8px;
  margin-bottom: 8px;
  background: #eee;
  h6 {
    margin-bottom: 0;
  }
}
.row-header {
  padding: 6px;
  color: #333;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.system-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .system {
    border: 1px solid #eee;
    border-radius: 12px;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 12px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .text {
      display: flex;
      align-items: center;
    }
    .icon {
      font-size: 24px;
    }
    &:hover {
      background: var(--primary-color);
      color: #fff;
    }
  }
}
.bordered-line {
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
}
.border-right {
  border-right: 1px solid #ccc;
}
.selected {
  background: var(--primary-color);
  color: #fff;
}
.module {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  .text {
    display: flex;
    align-items: center;
  }
  .icon {
    font-size: 24px;
  }
  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  opacity: 0;
  position: absolute;
  left: 4px;
  top: 5px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.select-all {
  display: flex;
  .text {
    margin-right: 4px;
  }
}
.no-permissions {
  display: flex;
  justify-content: center;
}
.select-all-container {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
  align-items: center;
}
.permission-level {
  margin-bottom: 8px;
  margin-left: 0;
  display: flex;
}
.permission-level-value {
  width: 33%;
  margin-right: 12px;
}
.subheader {
  font-weight: 500;
  margin-bottom: 4px;
}
.overflow-container {
    max-height: 500px;
    overflow-y: auto;
}
.panel-description {
  justify-content: flex-end;
  align-items: center;
}
.global-perm-container {
  min-height: 40vh;
  background: #f9f9f9;
  padding: 6px;
}
.global-selected-display {
  margin-top: 12px;
  padding: 6px 12px;
  border: 1px solid #aaa;
  border-radius: 4px;
  height: 30vh;
  max-height: 30vh;
  overflow-y: auto;
  background: #fff;
  .message {
    justify-content: center !important;
    text-align: center;
    padding: 10% 10%;
    color: #e83131;
  }
  .global-selected-display__item {
    align-items: center;
    padding: 10px 8px;
    background: #fff;
    i {
      margin-left: 8px;
      color: #e83131;
      cursor: pointer;
    }
    .check-mark {
      margin-right: 8px;
      width: 20px;
      color: green;
    }
  }
}
.module-body-wrapper {
  min-height: 40vh;
  .module-body {
    background: #f9f9f9;
    padding: 12px;
    display: grid;
    grid-row-gap: 20px;
    .checkbox-permissions {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
      grid-gap: 12px;
      padding: 12px 0;
    }
  }
}
