<div class="container-fluid">
  <div class="row">
    <mat-accordion style="width:100%;">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="row-header">Global Permission Levels</div>
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            Selected regions will be populated to all modules and all previously stored values will be overridden.
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="d-flex global-perm-container">
          <div
            class="permission-level-value"
            *ngFor="let row of globalPermissionLevels; let index = index"
          >
            <app-dropdown-multiselect
              [placeholder]="'Select ' + row.name"
              [data]="row.options"
              [settings]="globalDropdownSettings"
              [(ngModel)]="row.selectedOptions"
              (select)="globalPermissionLevelChanged(row)"
              (deSelect)="globalPermissionLevelChanged(row)"
              (selectAll)="globalPermissionLevelChanged(row)"
              (deSelectAll)="globalPermissionLevelChanged(row)"
            ></app-dropdown-multiselect>
            <div class="global-selected-display">
              <div class="d-flex justify-content-center message" *ngIf="!row.selectedOptions.length">
                Select one or more {{ row.name }}. It will be populated accross all modules.
              </div>
              <div
                class="d-flex global-selected-display__item"
                *ngFor="let item of row.selectedOptions; let pIndex = index"
                [ngStyle]="pIndex !== 0 ? {'border-top': '1px solid #ddd'} : {}"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="check-mark" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <div class="value">{{ item.name }}</div>
                <!-- <i class="fa fa-times" (click)="removePermRemoved(row, item)"></i> -->
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="row-header" style="padding: 10px 25px;">Module Permissions</div>
  </div>
  <div class="row">
    <mat-accordion #accordion="matAccordion" style="width: 100%;">
      <mat-expansion-panel *ngFor="let module of displayModules">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="group-header">
              {{ module.name }}
            </div>
          </mat-panel-title>
          <mat-panel-description class="panel-description">
            Assigned: {{ module.selectedPermCount }} | Total: {{ module.permissions ? module.permissions.length : 0 }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="module-body-wrapper">
          <div class="module-body">
            <div
              *ngIf="module.permissionLevels && module.permissionLevels.length"
            >
              <mat-card>
                <div class="sub-header">
                  Permission Level
                </div>
                <div class="permission-level">
                  <div
                    class="permission-level-value"
                    *ngFor="let row of module.permissionLevels; let index = index"
                  >
                    <app-dropdown-multiselect
                      [placeholder]="'Select ' + row.name"
                      [data]="row.options"
                      [settings]="dropdownSettings"
                      [(ngModel)]="row.selectedOptions"
                      (select)="permissionLevelChanged()"
                      (deSelect)="permissionLevelChanged()"
                    ></app-dropdown-multiselect>
                  </div>
                </div>
              </mat-card>
            </div>
            <mat-card>
              <div class="card-heading" *ngIf="module.permissions && module.permissions.length">
                <mat-checkbox
                  class="example-margin"
                  color="warn"
                  [(ngModel)]="module.all"
                  [indeterminate]="someComplete(module)"
                  (change)="selectAllPermissionsForModule($event, module)"
                >
                  Select All
                </mat-checkbox>
              </div>
              <mat-divider></mat-divider>
              <div class="checkbox-permissions">
                <div
                  class="permission"
                  *ngFor="let perm of module.permissions"
                >
                  <mat-checkbox
                    class="example-margin"
                    color="warn"
                    [(ngModel)]="perm.active"
                    (ngModelChange)="permChanged(module)"
                  >
                    {{ perm.name }}
                  </mat-checkbox>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
