<div class="wrapper">
  <div class="heading" [ngStyle]="styles.header">Please try again later</div>
  
  <div class="footer" [ngStyle]="styles.footer">
      <div class="" *ngIf="action_buttons.decline.show">
          <app-blowhorn-button
          class="no"
          (click_fired)="submitForm(false)"
          [label]="action_buttons.decline.label"
          [type]="action_buttons.decline.type"
          [flat_btn]="true">
          </app-blowhorn-button>
      </div>
  </div>
</div>
