.wrapper {
    padding: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    .route{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex: 4.5;
        .id {
            text-transform: uppercase;
            color: #C9D2D6;	
            	
            font-size: 12px;	
            font-weight: 900;	
            letter-spacing: 1px;	
            line-height: 18px;
        }
        .name {
            color: #303232;	
            	
            font-size: 21px;	
            font-weight: 500;	
            line-height: 31px;
        }
        .details {
            color: #0180A8;	
            	
            font-size: 13px;	
            font-weight: 500;	
            letter-spacing: 1px;	
            line-height: 19px;
        }
    }
    .contact {
        flex: 4.5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .header {
            text-transform: uppercase;
            color: #C9D2D6;	
            	
            font-size: 12px;	
            font-weight: 900;	
            letter-spacing: 1px;	
            line-height: 18px;
        }
        .name {
            color: #4E5454;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
        }
        .number {
            color: #757E7F;	
            	
            font-size: 14px;	
            line-height: 21px;
        }
        .add-contact {
            padding: 1px 0px;
            text-decoration: #1080A8 underline;
            color: #0180A8;	
            	
            font-size: 14px;	
            font-weight: 500;	
            line-height: 21px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .view {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .7);
        .map {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            padding: 10px 15px;
            &:hover {
                cursor: pointer;
            }
        }
        .list {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            padding: 10px 15px;            
            &:hover {
                cursor: pointer;
            }
        }
        .active {
            background-color: var(--primary-color);
        }
    }
}