<div *ngIf="route" class="wrapper">
  <div class="route">
    <div class="id">route {{route.id}}</div>
    <div class="name">{{route.name}}</div>
    <div class="details">
      <span *ngIf="route && route.distance">{{_route_service.get_meter_to_km(route.distance)}} KM </span> via {{route.stops.length - 2}} Stops
    </div>
  </div>
  <div class="contact">
    <div class="header">route contact</div>
    <div class="name">{{route.contact.name}}</div>
    <div class="number">{{route.contact.mobile}}</div>
    <div *ngIf="!route.contact.name && !route.contact.mobile" class="add-contact"
      (click)="open_contact_form()">Add contact</div>
    <div *ngIf="route.contact.name || route.contact.mobile" class="add-contact"
      (click)="open_contact_form()">Edit contact</div>
  </div>
  <div class="view">
    <div class="map" 
      [ngClass]="{ active: map_active }"
      (click)="fire_view_changed(true)">
      <span class="fa fa-map-marker"></span>
    </div>
    <div class="list" 
      [ngClass]="{ active: !map_active}">
      <span class="fa fa-list"></span>
    </div>
  </div>
</div>
<div *ngIf="show_save_contact" class="modal-window">
  <app-save-contact 
    #contact_form
    [contact_name]="route.contact.name"
    [contact_number]="route.contact.mobile"
    [heading]="'Edit contact for ' + route.name"
    (form_close)="close_contact_form()"
    (form_save)="update_route_contact($event)">
  </app-save-contact>
</div>