<div class="info-window">
  <div class="general-details">
    <div class="text-holder">
      <span class="main-text link-profile" (click)="open_driver_profile(locDetail)">{{locDetail.profile.name}}</span>
      <span class="sub-text">{{locDetail.profile.mobile}}</span>
      <span class="sub-text">{{locDetail.profile.vehicle_class}}</span>
      <span class="main-text">{{locDetail.extras.customer_name}}</span>
      <span class="main-text" *ngIf="locDetail.extras?.trip_number">
        <a href="track/{{locDetail.extras?.trip_number}}" target="_blank">{{locDetail.extras.trip_number}}</a>
      </span>
      <span class="sub-text" [ngClass]="locDetail.location.is_late_update ? 'red' : ''">{{gps_human_readable}}</span>
    </div>
    <div class="truck-icon-holder">
      <span class="registration-number">{{locDetail.profile.vehicle_number}}</span>
    </div>
  </div>
  <div class="extra-details">
    <div class="sub-text">
      <i class="fa fa-{{locDetail?.device_details?.battery_info?.icon}}"
      [ngClass]="locDetail?.device_details?.battery_info?.style_class"></i>
      {{locDetail?.device_details?.battery_info?.batteryLevel || 'NA'}} %
    </div>
    <div class="sub-text">{{locDetail.location.mSpeed | number: '1.1-2'}} kmph</div>
    <div class="sub-text">{{locDetail.location.distance_km | number: '1.1-2'}} kms</div>
  </div>
</div>
