.info-window {
    min-width: 180px;
    overflow: hidden;

    .lg-dialog {
        max-width: 1000px;
    }

    .general-details {
        display: flex;

        .text-holder {
            .link-profile {
                font-weight: 500;
                color: #007bff;
                background-color: transparent;
                cursor: pointer;
            }
        }

        .main-text {
            font-weight: bold;
            display: block;
        }

        .sub-text {
            display: block;
        }

        .truck-icon-holder {
            position: relative;
            width: 100px;
            max-width: 100px;
            height: 100px;
            .truck-icon {
                width: 100px;
                max-width: 100px;
                height: 80px;
            }
            .registration-number {
                display: flex;
                position: relative;
                left: 20%;
                font-weight: 500;
            }
        }

        .red {
            color: red;
        }
    }

    .extra-details {
        display: flex;

        &:first-child {
            padding-left: 0;
        }

        .sub-text {
            padding: 0 5px;
        }

        .fa {
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .battery-empty {
            color: rgb(241, 30, 30);
        }
        .battery-quarter {
            color: rgb(255, 189, 67);
        }
        .battery-half {
            color: rgb(82, 199, 245);
        }
        .battery-three-quarter {
            color: rgb(10, 10, 230);
        }
        .battery-full {
            color: rgb(83, 248, 83);
        }

    }

}
