<div class="wrapper">
    <div class="menu">
        <app-configuration-menu></app-configuration-menu>
    </div>  
    <div class="config-panel">
        <router-outlet></router-outlet>
    </div>
</div>