:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1;
    display: flex; 
    .menu {
        flex-basis: 15%;
        z-index: 46;
        box-shadow: inset -8px 0px 16px -8px #C9D2D6;
        height: 100%;
    }
    .config-panel {
        flex-basis: 85%;
        z-index: 48;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}