<div class="wrapper"
[ngClass]="{
    'success': type === 'success',
    'error': type === 'error'
}"
[ngStyle]="styles.wrapper">
  <div class="heading" *ngIf="heading" [ngStyle]="styles.heading">
    <span class="heading-span">{{heading}}</span>
    <span class="fa fa-times cross" (click)="close()"></span>
  </div>
  <div class="message" *ngIf="error_list.length || message" [ngStyle]="styles.message">
    <span class="msg-span" *ngIf="message">{{message}}</span>
    <span class="msg-span">
        <span class="error-row" *ngFor="let item of error_list">
            Row Number: {{item.row_number}}, Column: {{item.column}}
        </span>
    </span>
    <span *ngIf="!heading" class="fa fa-times cross" (click)="close()"></span>
  </div>
</div>
