.wrapper {
    text-transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    position: relative;
    .heading {
        width: 100%;
        padding: 10px;
        z-index: 20;
        display: flex;
        align-items: center;
        justify-content: center;
        .heading-span {
            font-size: 14px;
            font-weight: 500;
        }
        .cross {
            margin-left: auto;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            transition: transform 300ms;
            &:hover {
                transform: scale(1.5);
                color: orangered;
            }
        }
    }
    .message {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 50vh;
        overflow-y: scroll;
        max-width: 50vw;
        .msg-span {
            font-size: 14px;
            font-weight: 500;
            .error-row {
                display: block;
            }
        }
        .cross {
            margin-left: auto;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
            transition: transform 300ms;
            &:hover {
                transform: scale(1.5);
                color: orangered;
            }
        }
    }
}

.success {
    border: 1px solid rgb(0, 167, 0);
    .heading {
        background-color:  rgba(4, 167, 4, 0.5);
        box-shadow: 0px 0px 5px 0px rgb(4, 141, 4);
        .heading-span {
            color: rgb(10, 100, 10);
        }
    }
    .message {
        background-color:  rgba(97, 233, 97, 0.5);
        .msg-span {
            color: rgb(10, 100, 10);
        }
    }
}
.error {
    border: 1px solid rgb(136, 3, 3);
    .heading {
        background-color:  rgba(234, 33, 33, 0.5);
        box-shadow: 0px 0px 5px 0px rgb(172, 3, 3);
        .heading-span {
            color: rgb(158, 19, 19);
        }
    }
    .message {
        background-color:  rgba(245, 95, 95, .5);
        .msg-span {
            color: rgb(158, 19, 19);
        }
    }
}
