.wrapper {
    display: inline-block;
    width: 34px;
    height: 40px;
    padding: 2px 4px 0px 4px;
    background: #eee;
    .country-code {
        text-align: center;
        vertical-align: middle;
        line-height: 40px;
        color: #777;
    }
}