:host {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 2px;
        
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        line-height: 18px;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid gray;
        color: #4E5454;
        background-color: #fff;
        outline: none;
        &:hover {
            background: rgb(63, 54, 54);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
        }
        &:disabled {
            color: rgb(127, 129, 129);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(127, 129, 129)!important;
            }
        }
    }
    .edit {
        border: 1px solid rgb(41, 113, 248);
        color: rgb(75, 123, 255);
        background-color: #fff;
        &:hover {
            background-color:rgb(75, 123, 255);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(3, 0, 172, 0.3);
        }
        &:disabled {
            background-color: rgb(134, 205, 247);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(134, 205, 247)!important;
            }
        }
    }
    .delete {
        border: 1px solid rgb(161, 3, 3);
        color: rgb(201, 3, 3);
        background-color: #fff;
        &:hover {
            background-color: rgb(201, 3, 3);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(155, 2, 2, 0.3);
        }
        &:disabled {
            background-color: rgb(243, 174, 174);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(243, 174, 174) !important;
            }
        }
    }
    .save {
        border: 1px solid rgb(1, 129, 59);
        color: rgb(5, 199, 92);
        background-color: #fff;
        &:hover {
            background-color: rgb(5, 199, 92);
            color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0, 145, 0, 0.3);
        }
        &:disabled {
            background-color: rgb(170, 245, 195);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(170, 245, 195)!important;
            }
        }
    }
    .info {
        border: 1px solid #0088A8;
        background-color: #0088A8;
        color: #fff;
        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(0, 145, 0, 0.3);
            background-color: #0088A8;
        }
        &:disabled {
            background-color: rgb(122, 182, 196);
            pointer-events: none;
            .icon-holder {
                background-color: rgb(122, 182, 196)!important;
            }
        }
    }
    .footer_btn {
        width: 100% !important;
        height: 100% !important;
    }
    .proceed_btn {
        background: #fff;
        border: 1px solid #0088A8;
        &:hover {
            background: #0088A8;
            color: #fff;
        }
    }
    .flat_btn {
        border: none;
        background: #fff;
        &:hover {
            background: #fff;
            color: rgb(63, 54, 54);
            border: 1px solid rgb(63, 54, 54);
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .3);
            &:disabled {
                color: rgb(63, 54, 54);
                .icon-holder {
                    background-color: rgb(63, 54, 54)!important;
                }
            }
        }
        &.edit {
            color: rgb(41, 113, 248);
            &:hover {
                background: #fff;
                border: 1px solid rgb(41, 113, 248);
            }
            &:disabled {
                color: rgb(134, 205, 247);
                pointer-events: none;
                .icon-holder {
                    background-color: rgb(134, 205, 247)!important;
                }
            }
        }
        &.proceed_btn {
            color: #0088A8;
            &:hover {
                background: #fff;
                border: 1px solid #0088A8;
            }
            &:disabled {
                color: #b2dbe4;
                .icon-holder {
                    background-color: #b2dbe4!important;
                }
            }
        }
        .save {
            color: rgb(5, 199, 92);
            &:hover {
                background: #fff;
                border: 1px solid rgb(5, 199, 92);
            }
            &:disabled {
                color: rgb(170, 245, 195);
                pointer-events: none;
                .icon-holder {
                    background-color: rgb(170, 245, 195)!important;
                }
            }
        }
        &.delete {
            color: rgb(201, 3, 3);
            &:hover {
                background: #fff;
                border: 1px solid rgb(201, 3, 3);
            }
            &:disabled {
                color: rgb(243, 174, 174);
                pointer-events: none;
                .icon-holder {
                    background-color: rgb(243, 174, 174)!important;
                }
            }
        }
        &.info {
            color: #0088A8;
            background-color: #fff;
            &:hover {
                border: none;
                box-shadow: none;
                background-color: none;
            }
            &:disabled {
                color: rgb(122, 182, 196);
                pointer-events: none;
                .icon-holder {
                    background-color: rgb(122, 182, 196)!important;
                }
            }
        }
    }
}
