<button
  class="wrapper"
  (click)="clicked($event)"
  [disabled]="disabled"
  [ngStyle]="styles.wrapper"
  [ngClass]="{
    'info': type === 'info',
    'edit': type === 'edit',
    'delete': type === 'delete',
    'save': type === 'save',
    'proceed_btn': type === 'proceed',
    'footer_btn': footer_btn,
    'flat_btn': flat_btn
    }">
  <div
    class="icon-holder"
    [ngStyle]="styles.icon_holder"
    *ngIf="icon.src || icon.class"
  >
    <img src="{{icon.src}}" *ngIf="icon.src" [ngStyle]="styles.icon" />
    <i class="{{icon.class}}" *ngIf="icon.class" [ngStyle]="styles.icon"></i>
  </div>
  <div class="label-holder" [ngStyle]="styles.label">{{label}}</div>
</button>
