<div class="stop d-flex flex-column align-items-start justify-content-between"
[ngClass]="{'with-distance': !firstStop }"
[ngStyle]="{'z-index': index}" *ngIf="stop.address" #stopElem>
  <div class="distance distance-done" *ngIf="stop.status === 'done' && !firstStop && stop.distance">{{ stop.distance | number : '1.1-1' }} km in {{stop.travel_time}}</div>
  <div class="distance" *ngIf="stop.status !== 'done' && !firstStop && stop.estimated_distance">{{ stop.estimated_distance | number : '1.1-1' }} km</div>
  <div class="w-100 d-flex align-items-start justify-content-between">
    <div class="liner-info d-flex align-items-start justify-content-start">
      <div class="liner" [ngClass]="{changeWidth: !stop.time || stop.address.length < 30 }">
        <span class="icon">
          <img class="small-image-stop" *ngIf="stop.address && stop.status =='done' && name=='pickup'" src="{{ pickup_done_big }}" alt="Pickup">
          <img *ngIf="stop.status && stop.status=='done' && name=='stop'" src="{{ stop_done_big }}" style="left: 6px;" alt="Stop">
          <img class="small-image-stop" *ngIf="stop.status=='done' && name=='dropoff'" src="{{ drop_done_big }}" alt="Dropoff">
          <img class="small-image-stop" *ngIf="stop.status!='done' && name=='pickup'" src="{{ pickup_marker }}" alt="Pickup">
          <img *ngIf="stop.status!='done' && name=='stop'" src="{{ stop_marker }}" alt="Stop">
          <img class="small-image-stop" *ngIf="stop.status!='done' && name=='dropoff'" src="{{ dropoff_marker }}" alt="Dropoff">
        </span>
        <span class="index" *ngIf="isStop && stop.status != 'done'">{{ index }}</span>
        <div class="line" *ngIf="stop.address && !lastStop" [ngClass]="{'solid': stop.status === 'done'}" [ngStyle]="{height: 150 + 'px', 'z-index': index+1}"></div>
      </div>
    </div>

    <div class="info d-flex flex-column align-items-start justify-content-start"> 
      <span class="pickup-name" *ngIf="stop.name">{{ stop.name }}</span>
      <span class="address" [ngClass]="{small: stop.name}" *ngIf="stop.address">{{ stop.address }}</span>
    </div>

    <div class="timing d-flex flex-column align-items-end justify-content-start">
      <span class="time time-red" *ngIf="stop.status != 'done' && !etaCompleted">...</span>
      <span class="time time-red" [ngClass]="{'time-red': stop.status !== 'done'}" *ngIf="stop.time && etaCompleted">
        {{ stop.time }}
      </span>
      <span class="time" *ngIf="stop.status !== 'done' && stop.time">Estd Arrival</span>
      <span class="waiting" *ngIf="stop.wait_duration">{{ stop.wait_duration }}</span>
    </div>
  </div>

  <div class="contact-info d-flex align-items-center justify-content-center"
       *ngIf="stop.contact.name && stop.contact.mobile">
    <img src="{{ contact }}" alt="Contact">
    <span>{{ stop.contact.name }} | {{ stop.contact.mobile }}</span>
  </div>
  <div class="w-100 d-flex align-items-start justify-content-between">
    <div class="d-flex flex-column align-items-center justify-content-start"></div>
    <div class="more-info d-flex flex-column align-items-center justify-content-start" *ngIf="stop.extras && stop.extras.time">
      <a class="more-info-text" (click)="showExtraDetails(extraInformationModal, stop)">More Info</a>
    </div>
  </div>
</div>

<ng-template #extraInformationModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Extra Information</h4>
    <hr>
  </div>
  <div class="modal-body d-flex flex-column align-items-start justify-content-center">
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.sign_file_url">
      <a href="{{selectedStop.extras.sign_file_url}}" target="_blank">
        <img src="{{selectedStop.extras.sign_file_url}}" height="150" width="150"/>
      </a>
      <span><b>Sign</b></span>
    </div>
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.pod_file_url">
      <a href="{{selectedStop.extras.pod_file_url}}" target="_blank">
        <img src="{{selectedStop.extras.pod_file_url}}" height="150" width="150"/>
      </a>
      <span><b>Proof Of Delivery</b></span>
    </div>
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.order_status">
      <span class="d-flex"><b>Status: </b> {{selectedStop.extras.order_status}}</span>
    </div>
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.cod">
      <span class="d-flex"><b>COD: </b>
        <span [ngClass]="{'status-pending': stop.status !== 'done'}">{{selectedStop.extras.cod || 0}}</span>
      </span>
    </div>
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.cash_collected">
      <span class="d-flex"><b>Cash Collected: </b> {{selectedStop.extras.cash_collected || 0}}</span>
    </div>
    <div class="d-flex justify-content-start" *ngIf="selectedStop.extras.time">
      <span class="d-flex"><b>Time: </b> {{selectedStop.extras.time}}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button-flat button-blue" (click)="d('Cross click')">Ok</button>
  </div>
</ng-template>
