.stop {
  background-color: white;
  margin: 10px 0;
  border: 1px solid rgb(229, 236, 238);
  padding: 10px 5px 5px 5px;
  width: 100%;
  min-height: 100px;
  position: relative;
  background-image: none;

  &.with-distance {
    margin-top: 43px;
  }

  .liner, .info, .timing {
    margin: 0;
    padding: 0;
  }

  .liner-info {
    position: absolute;
    left: 0;
  }

  .contact-info {
    margin-left: 50px;

    img {
      width: 16px;
    }
    span {
      color: #4E5454;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  .liner {
    position: relative;
    width: 60px;
    margin-right: 30px;

    &.changeWidth {
      width: 55px;
    }

    .icon{
      img {
        position: absolute;
        top: 0;
        left: 6px;
        height: 40px;
        z-index: 1
      }
    }

    .index {
      position: absolute;
      top: 8px;
      left: 21px;
      font-size: 16px;
      font-weight: 500;
      z-index: 1
    }

    .line {
      width: 1px;
      border: 1px dashed #535353;
      position: absolute;
      z-index: 1;
      top: 34px;
      left: 25px;

      .solid {
        border: 1px solid #535353;
      };
    }

    .small-image-stop {
      height: 44px !important;
      left: 3px !important;
    }
  }

  .distance {
    position: absolute;
    top: -39px;
    left: 53px;
    background-color: #DFE6E8;
    border-radius: 18px;
    z-index: 1;
    color: #4E5454;
    font-size: 14px;
    line-height: 21px;
    padding: 5px 8px;
  }

  .distance-done {
    background-color: #C5F4FF !important;
  }

  .info {
    max-width: 200px;
    margin-left: 50px;
    .pickup-name {
      color: rgb(14, 114, 182);
      font-size: 15px;
      font-weight: 700;
    }

    .address {
      color: #4E5454;
      font-size: 14px;
      line-height: 21px;

      &.small {
        font-size: 13px;
      }
    }
  }

  .timing {
    margin-right: 10px;
    max-width: 100px;

    .time {
      color: #4E5454;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }

    .time-red {
      color: #FC3446;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: right;
    }

    .waiting {
      font-size: 11px;
      color: #adbcbd;
    }

    .time, .waiting {
      white-space: nowrap;
    }
  }

  .more-info {
    margin-right: 10px;
    max-width: 100px;
    cursor: pointer;
    .more-info-text {
      color: #64b2ca;
      font-size: 10px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}

.status-pending {
  color: #FC3446;
}

@media screen and (max-width: 767px) {
  .timing {
    align-items: start !important;
  }

  .liner {
    &.changeWidth {
      width: 60px !important;
    }
    .icon {
      img {
        right: 5px !important;
      }
    }

    .index {
      right: 12px !important;
    }

    .line {
      right: 15px !important;
    }

    .distance {
      right: 0px !important;
    }
  }
}

@media screen and (max-width: 374px){
  .liner.changeWidth {
    width: 48px !important;
  }
}
