<div class="pod-modal">
  <div class="modal-header">
    <div class="modal-title-text">Proof Of Delivery</div>
    <span class="fa fa-times cross" (click)="details_closed.emit(true)"></span>
  </div>
  <div class="gallery-container" *ngIf="image_urls.length">
    <div *ngFor="let item of grouped_urls | keys" class="pod-list">
        <div class="card-body">
            <div class="stop-details card-title">
                {{ item.value.length ? item.value[0].order + ' - ' + item.value[0].address : '--NA--' }}
            </div>
            <div class="card-text">
                <app-gallery [urls]="item.value"></app-gallery>
            </div>
        </div>
    </div>
  </div>
  <div class="no-data-message-container" *ngIf="image_urls.length<=0">
    <div class="message">No data found</div>
  </div>
</div>
