.pod-modal {
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fafafa;
  padding: 0 20px;
  overflow: scroll;
  z-index: 222;
  .modal-header {
    display: flex;
    margin-bottom: 10px;
    padding: 0px 12px;
    border-bottom: 2px solid #0088a8;
    align-items: center;
    min-height: 45px;
    .modal-title-text {
      color: #0088a8;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1.5px;
      line-height: 21px;
      text-transform: uppercase;
    }
    .cross {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      transition: transform 300ms;
      cursor: pointer;
      &:hover {
          color: orangered !important;
          transform: scale(1.5);
      }
    }
  }

  .gallery-container {
    .pod-list {
      border-radius: 8px;
      background: #fff;
      margin-bottom: 12px;
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      .stop-details {
        padding-left: 10px;
        color: #0088a8;
      }
    }
  }

  .no-data-message-container {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .message {
      margin: auto;
      color: red;
      font-size: 19px;
      text-transform: inherit;
    }
  }
  a:link {
    text-decoration: none;
  }
}
