<div class="wrapper">
  <div class="filter-item city">
    <app-dropdown-select
      [styles]="city_styles"
      [selected_name]="selected_city_name ? selected_city_name : 'All Cities'"
      [selected_id]="selected_city_id ? selected_city_id : null"
      [items]="cities"
      (value_changed)="city_changed($event)">
    </app-dropdown-select>
  </div>
  <div class="filter-item status">
    <app-dropdown-select
      [styles]="status_styles"
      [selected_name]="selected_status_name ? selected_status_name : 'All Statuses'"
      [selected_id]="selected_status_id ? selected_status_id : null"
      [items]="statuses"
      (value_changed)="status_changed($event)">
    </app-dropdown-select>
  </div>
  <div class="filter-item vehicle">
    <app-dropdown-select
      [styles]="vehicle_type_styles"
      [selected_name]="selected_vehicle_type_name ? selected_vehicle_type_name : 'All Vehicle Types'"
      [selected_id]="selected_vehicle_type_id ? selected_vehicle_type_id : null"
      [items]="vehicle_types"
      (value_changed)="vehicle_type_changed($event)">
    </app-dropdown-select>
  </div>
  <div class="filter-item customer">
      <app-dropdown-select
        [styles]="customer_type_styles"
        [selected_name]="selected_customer_type_name ? selected_customer_type_name : 'All Customer Types'"
        [selected_id]="selected_customer_type_id ? selected_customer_type_id : null"
        [items]="customer_types"
        (value_changed)="customer_type_changed($event)">
      </app-dropdown-select>
    </div>
  <div class="date-range filter-item">
    <div class="clear"
      [ngClass]="date_range[0] && date_range[1] ? 'show-cross fa fa-times' : 'hide-cross'"
      (click)="reset_date($event)">
    </div>
    <input  class="date-range-field"
      [ngClass]="{'left-margin': !(date_range[0] && date_range[1])}"
      #drp_heatmap="bsDaterangepicker"
      bsDaterangepicker
      [(ngModel)]="date_range"
      placeholder="select date range"
      (ngModelChange)="date_changed($event)"
      [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY'}"
      readonly>
    <span class="fa fa-calendar" (click)="drp_heatmap.toggle()"></span>
  </div>
  <div class="filter-item location">
    <app-blowhorn-checkbox [id]="'Pickup'"
      [group_name]="'location'"
      [checked]="show_pickup"
      (value_changed)="pickup_changed($event)">
    </app-blowhorn-checkbox>
    <app-blowhorn-checkbox [id]="'Dropoff'"
      [group_name]="'location'"
      [checked]="show_dropoff"
      (value_changed)="dropoff_changed($event)">
    </app-blowhorn-checkbox>
  </div>
  <div class="filter-item cancellation-reason">
    <app-dropdown-select
        [disabled]="selected_status_name !== ORDER_CANCELLED"
        [styles]="cancellation_reason_styles"
        [selected_name]="selected_reason_name ? selected_reason_name : 'Cancellation Reason'"
        [selected_id]="selected_reason_id ? selected_reason_id : null"
        [items]="cancellation_reasons"
        (value_changed)="cancellation_reason_changed($event)">
    </app-dropdown-select>
  </div>
  <div class="filter-item radius">
    <label for="radius">Radius :</label>
    <input name="radius" type="number" [(ngModel)]="radius" min="1" (keydown)="check_radius($event)">
  </div>
  <div class="filter-item switch">
    <div class="switch-item">
      <label for="markercluster">
          <input type="radio"
            name="view"
            id="markercluster"
            value="heatmap"
            (click)="switch_view($event)"
            [checked]="true">
            Heatmap
      </label>
    </div>
    <div class="switch-item">
        <label for="heatmap">
          <input type="radio"
            id="heatmap"
            name="view"
            value="markercluster"
            (click)="switch_view($event)">
            Marker Cluster
        </label>
    </div>
  </div>
  <div class="filter-item total">{{total_orders}} Orders</div>
  <div *ngIf="selected_city_id" class="filter-item limits">
      <app-blowhorn-checkbox [id]="'city_limits'"
        [label]="'Show city limits'"
        [group_name]="'limts'"
        [disabled]="!enable_limits"
        [checked]="show_limits"
        (value_changed)="show_hide_limits($event)">
      </app-blowhorn-checkbox>
    </div>
  <app-blowhorn-heatmap
    [data_set]="data_set"
    [center]="center"
    [zoom]="12"
    [radius]="radius"
    [opacity]=".7"
    [show_heatmap]="show_heatmap"
    [show_marker_cluster]="show_marker_cluster"
    [show_limits]="show_limits"
    [city]="selected_city_id"
    (map_is_ready)="initialize($event)">
  </app-blowhorn-heatmap>
  <app-whats-new
    [app_title]="app_title"
    [app_code]="app_code"
    [version]="version"
    [whats_new]="whats_new"
    ></app-whats-new>
</div>
