:host {
    width: 100%;
    flex: 1;
}
.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    position: relative;
    app-blowhorn-heatmap {
        flex: 1;
    }
}
.filter-item {
    padding: 5px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 20px;
    z-index: 10;
    background-color: #fff;
}
.city {
    padding: 0px;
    left: 20px;
}
.hub {
    padding: 0px;
    left: 190px;
}
.status {
    padding: 0px;
    left: 180px;
}
.vehicle {
    padding: 0px;
    left: 390px;
}
.customer {
    padding: 0px;
    left: 550px;
}
.date-range {
    left: 710px;
    height: 40px;
    border-radius: 2px;
    input {
        outline: none;
        border: none;

        font-size: 15px;
        font-weight: 400;
        position: relative;
    }
    span {
        margin-left: 3px;
        color: gray;
        cursor: pointer;
    }
}
.location {
    height: 40px;
    left: 935px;
    background-color: #fff;
}
.cancellation-reason {
    left: 1108px;
    height: 40px;
}
.total {
    left: 365px;
    height: 40px;
    bottom: 20px;
    top: auto;
}
.radius {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 20px;
    input {
        border: none;
        outline: none;
        width: 50px;
        padding-left: 5px;
    }
    label {
        margin-bottom: 0px;
    }
}
.limits {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 365px;
    input {
        border: none;
        outline: none;
        padding-right: 5px;
    }
    label {
        margin-bottom: 0px;
    }
}
.switch {
    height: 40px;
    top: auto;
    bottom: 20px;
    left: 140px;
    .switch-item {
        color: black;
        font-weight: 500;
        font-size: 14px;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        input {
            border: none;
            outline: none;
            cursor: pointer;
        }
        label {
            margin-bottom: 0px;
            cursor: pointer;
        }
    }
}
.left-margin {
    margin-left: 15px;
}
.show-cross {
    width: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightgray;
    cursor: pointer;
    margin-right: 3px;
    &:hover {
        color: gray;
    }
}
.hide-cross {
    display: none;
}
