{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'website/css/mzansigo/variable.css' %}">
  <style type="text/css">
    body{font-family: var(--font-family);counter-reset:page;}
    .rowborder{font-weight: 700;}
    .left{text-align:left;}
    .center{text-align:center;}
    .justify{text-align:justify;}
    .margin-left-20{margin-left:20px;}
    .margin-left-40{margin-left:40px;}
    .margin-left-80{margin-left:80px;}
    .logo-container{min-height: 120px;padding: 30px;}
    .heading{margin-top: 10px;}
    div.page{page-break-before:always; counter-increment:page;margin-bottom: 30px;}
    div.page:after{display:block; text-align:center; content:counter(page)}
    div.first.page{page-break-before:avoid}
    div.page1{counter-increment:page}
    div.page1:after{display:block; text-align:center; content:counter(page)}
  </style>
</head>
<body>
  <center>
    <div class="container" id="content">
      <div class="row logo-container">
        <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2">
          <a href="{{homepage_url}}" title="logo">
            <img src="/static/website/images/mzansigo/logo/logo.png" 
              width="60" alt="logo" class="img-responsive">
          </a>
        </div>
        <div class="col-lg-10 col-md-8 col-sm-8 col-xs-8">
          <h3 class="heading hidden-xs">SUPPLY OF SERVICES AGREEMENT</h3>
          <h4 class="heading visible-xs">SUPPLY OF SERVICES AGREEMENT</h4>
        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> <!--<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>-->
         <center><u>SUPPLY OF SERVICES AGREEMENT</u></center>
         <p>between</p>
         <p><b>MZANSIGO SOUTH AFRICA (PTY) LTD</b></p>
         <p>with Registration No. 2016/514145/07</p>
         <p>of The Woodmill Lifestyle Centre, Vredenburg Rd, Devonvallei, Stellenbosch, 7600, South</p>
         <p><b>(“MzansiGo”)</b></p>
         <p>and</p>
         <p><b>Driver Partner</b> (Details Available on Section 1 of 5 of form MzansiGo: Service Partner Sign-Up)</p>
         <p>Driver Partner Name</p>
         <p><b>[As per the sign-up details]</b></p>
         <p>with South African Identity No. as per completed form</p>
         <p>or with foreign Passport No. containing relevant South African work permit as per completed form</p>
         <p>residing at as per completed form</p>
         <p><b>(“Driver Partner”)</b></p>
         <p>(individually regarded as a “<b>party</b>” and collectively as the “<b>parties</b>”)</p>
        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
           <div>1. <span class="margin-left-20"><b>TERMS AND CONDITIONS</b></span></div>
           <div class=" justify margin-left-40">1.1<span class="margin-left-20">
             This document sets out the terms and conditions (“<b>the Terms</b>”) that govern the commercial
             relationship between MzansiGo and the Driver Partner, in instances where the Website user
             wishes to purchase the services from the Driver Partner, from time to time, as part of the Driver
             Partner’s inclusion and advertisement on the applicable MzansiGo online platforms (collectively the
             “<b>Website</b>”).</span><br/><br/></div>
           <div class=" justify margin-left-40">1.2<span class="margin-left-20">
             The Driver Partner’s registration on the Website and/or acceptance or completion of any Booking,
             Driver Service request, or similar commercial agreement via MzansiGo and/or the Website and its
             users, indicates the Driver Partner’s explicit/tacit acceptance of the Terms.</span><br/><br/></div>
           <div class=" justify margin-left-40">1.3<span class="margin-left-20">
             The Terms are subject to any additional written agreement entered into and signed between
             MzansiGo and the Driver Partner.</span><br/><br/></div>
           <div class=" justify margin-left-40">1.4<span class="margin-left-20">
             The terms “you", “Driver Partner” and “your” are used interchangeably in these Terms and refer to
             the Driver Partner and its team or helpers, if any, or its possession, as applicable. Accordingly, the
             use of the terms “us”, “our” or “we” refer to MzansiGo or its possession, as applicable.</span><br/><br/></div>

           <div>2. <span class="margin-left-20"><b>INTRODUCTION AND RELATIONSHIP BETWEEN PARTIES</b></span></div>
           <div class=" justify margin-left-40">2.1<span class="margin-left-20">
             The Website and/or MzansiGo Services constitute a technology marketplace platform that enables
             private users of MzansiGo’s Website and/or MzansiGo’s Services to search for and order
             on-demand or scheduled household or other object moving and/or removal services (“<b>Driver
             Services</b>”) and bookings (“<b>Booking/s</b>”) from you, the independent third-party Driver Partner and
             your team or helpers under agreement with MzansiGo or certain of MzansiGo’s affiliates (“<b>Driver
             Partner</b>”). The Website and/or MzansiGo Services do not form part of any private transaction
             between the user and Driver Partner, but is merely used to facilitate the private engagement
             between those private parties.</span><br/><br/></div>
           <div class=" justify margin-left-40">2.2<span class="margin-left-20">
             <b>THE RELATIONSHIP BETWEEN THE PARTIES IS GOVERNED BY THE TERMS AND DOES
               NOT CONSTITUTE AN EMPLOYER/EMPLOYEE, JOINT VENTURE, AGENCY, PARTNERSHIP,
               OR SIMILAR TYPE RELATIONSHIP. THE DRIVER PARTNER IS AT ALL TIMES AN
               INDEPENDENT CONTRACTOR WHO WORKS WITH MZANSIGO, AND AS SUCH, IS IN
               CONTROL OF THEIR OWN WORK SCHEDULE, CLIENTS AND TOOLS, AMONGST OTHER
               WORK FEATURES.</b></span><br/><br/></div>
           <div class=" justify margin-left-40">2.3<span class="margin-left-20">
             <b>When rendering and organising their Driver Services via the Website or otherwise, the
               Driver Partner will be privately transacting and engaging with the Website’s users, and not
               with MzansiGo. As such, all obligations pertaining to consumer protection and service
               rights relating to the Driver Services rendered to a user, will be exclusively between the
               Driver Partner and the user.</b></span><br/><br/></div>
           <div class=" justify margin-left-40">2.4<span class="margin-left-20">
             <b>MZANSIGO ITSELF DOES NOT PROVIDE DELIVERY OR REMOVAL OR DRIVER SERVICES
               IN ANY WAY, AND ALL SUCH BOOKINGS ORDERED AND/OR DRIVER SERVICES
               FACILITATED VIA THE WEBSITE ARE PROVIDED BY INDEPENDENT THIRD-PARTY DRIVER
               PARTNERS WHO ARE NOT EMPLOYED BY MZANSIGO OR ANY OF ITS AFFILIATES.
               ACCORDINGLY, ALL LIABILITY AND RESPONSIBILITIES RELATING TO THE PRIVATE
               TRANSACTION ENTERED INTO BETWEEN A USER AND PARTNER DRIVER ARE
               EXCLUSIVELY BETWEEN THEM ONLY. Accordingly, the Driver Partner is the seller and/or
               service provider to the user, and the user is the buyer from the Driver Partner; MzansiGo
               and the Website are merely a limited payment agent and facilitator for both parties to
               conduct their private transaction.</b></span><br/><br/></div>


        </div>
      </div>

      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div>3. <span class="margin-left-20"><b>BOOKINGS AND DRIVER PARTNER PROFILE ON THE WEBSITE</b></span></div>
          <div class=" justify margin-left-40">3.1<span class="margin-left-20">
            In relation to the ordering user:</span><br/><br/></div>
            <div class=" justify margin-left-80">3.1.1<span class="margin-left-20">
              After registering on the Website, the Website creates a profile for the ordering user and
              the user is able to enter certain Booking details (including dates, items, locations and
              needs).</span><br/><br/></div>
          <div class=" justify margin-left-80">3.1.2<span class="margin-left-20">
            The user makes a request for a Booking using the relevant prompts and a Driver Partner
            team gets automatically assigned to the user based on the nearest available Driver
            Partner. Accordingly, the user does not choose their Driver Partner for the Booking, but
            one gets assigned. Once the Booking is confirmed, the user gets notified of the assigned
            Driver Partner’s details, such as their vehicle registration number, names, estimated time
            of arrival and their contact details.</span><br/><br/></div>
          <div class=" justify margin-left-40">3.2<span class="margin-left-20">
            In relation to the Driver Partner user:</span><br/><br/></div>
          <div class=" justify margin-left-80">3.2.1<span class="margin-left-20">
            After registering on the Website, the Website creates a profile for the Driver Partner and
            the Driver Partner is able to enter and upload their personal and business details.</span><br/><br/></div>
          <div class=" justify margin-left-80">3.2.2<span class="margin-left-20">
            The Website proceeds to offer the Driver Partner a Booking service request created by a
            user, which the Driver Partner can then accept or reject based on their availability.</span><br/><br/></div>
          <div class=" justify margin-left-80">3.2.3<span class="margin-left-20">
            Driver Partners will be responsible for all of the actions of their team or helpers working
            for them.</span><br/><br/></div>

          <div>4. <span class="margin-left-20"><b>THE DRIVER SERVICES</b></span></div>
          <div class=" justify margin-left-40">The Driver Partner will provide the following as part of the Driver
            Services they offer:<br/><br/></div>
          <div class=" justify margin-left-40">4.1<span class="margin-left-20">
            provide MzansiGo with all necessary information on the Bookings and Driver Services the Driver
            Partner will provide on the Website, relevant information, documentation or media as required by
            the Website, as well as applicable rates for a Booking;</span><br/><br/></div>
          <div class=" justify margin-left-40">4.2<span class="margin-left-20">
            timeously accept and complete all Bookings and/or Driver Services ordered by a user through the
            MzansiGo Website with the Driver Partner from time to time;</span><br/><br/></div>
          <div class=" justify margin-left-40">4.3<span class="margin-left-20">
            in their discretion as an independent service provider, ensure that each ordering user has signed a
            comprehensive indemnity form in favour of the Driver Partner prior to the Driver Partner providing
            the Driver Services for that user;</span><br/><br/></div>
          <div class=" justify margin-left-40">4.4<span class="margin-left-20">
            allow, and grant to, MzansiGo a right to the Driver Partner’s trade name and/or logo to be used only
            on the Website and/or by MzansiGo when advertising or describing the Driver Services on the
            Website or to other Driver Partners and/or Website users; and</span><br/><br/></div>
          <div class=" justify margin-left-40">4.5<span class="margin-left-20">
            provide correct and up-to-date information regarding the Driver Services, prices, availability,
            Booking details, Driver Partner descriptions, vehicle type, loading capacity, experience and user
            feedback regarding a negative experience to MzansiGo and/or the Website when necessary or
            requested, or in the case that applicable information has changed for whatsoever reason.</span><br/><br/></div>
        </div>
      </div>

      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div>5. <span class="margin-left-20"><b>DRIVER PARTNER VERIFICATION AND RATINGS</b></span></div>
          <div class=" justify margin-left-40">In relation to Driver Partner verification, the following is noted:<br/><br/></div>
          <div class=" justify margin-left-40">5.1<span class="margin-left-20">
            After the Driver Partner has registered on the Website, it is their responsibility to submit the
            required documentation to MzansiGo in order to be verified. The documents required for verification
            pertain specifically to proof of identity, police clearance certificate, AA/Dekra roadworthy certificate
            and driver’s license (“<b>Verification Documents</b>”).</span><br/><br/></div>
          <div class=" justify margin-left-40">5.2<span class="margin-left-20">
            After MzansiGo has received the Verification Documents, they will be reviewed, and the Driver
            Partner will either be verified or any outstanding documents will be requested via email and/or
            SMS.</span><br/><br/></div>
          <div class=" justify margin-left-40">5.3<span class="margin-left-20">
            MzansiGo will endeavour to complete Driver Partner verifications within 7 (seven) calendar days of
            the Driver Partner uploading the Verification Documents.</span><br/><br/></div>
          <div class=" justify margin-left-40">5.4<span class="margin-left-20">
            Please be aware that your submission to verification is not a guarantee that you or your profile will
            be placed on the Website, nor your Driver Services made available via the Website. The successful
            and complete listing of your Driver Services and/or profile on the Website is always within
            MzansiGo’s sole discretion and is dependent on various factors, and you should have no
            expectation of being completely on-boarded to the Website merely by submission of your profile
            information or Verification Documents to MzansiGo.</span><br/><br/></div>
          <div class=" justify margin-left-40">5.5<span class="margin-left-20">
            It is expressly noted that should a Driver Partner register, but not upload their Verification
            Documents within 7 (seven) calendar days, MzansiGo retains the right to delete their profile from
            the Website.</span><br/><br/></div>
          <div class=" justify margin-left-40">5.6<span class="margin-left-20">
            No unverified Driver Partner will be listed publicly on the Website.</span><br/><br/></div>
          <div class=" justify margin-left-40">In relation to Driver Partner ratings, the following is noted:<br/><br/></div>
          <div class=" justify margin-left-40">5.7<span class="margin-left-20">
            The User is prompted automatically via SMS and email to provide feedback on the MzansiGo
            experience after a load is completed, where same rating may be provided to you privately or on the
            Website.</span><br/><br/></div>

          <div>6. <span class="margin-left-20"><b>PAYMENT TO THE DRIVER PARTNER FOR DRIVER SERVICES RENDERED</b></span></div>
          <div class=" justify margin-left-40">6.1<span class="margin-left-20">
            The Driver Partner, in return for rendering their Driver Services to a user, will receive fees from the
            relevant user (“<b>Fees</b>”), by using the MzansiGo Services and/or the Website and its relevant
            payment services. These charges are paid by the user to the Driver Partner via the Website, where
            MzansiGo will operate as only the Driver Partner’s limited payment collection agent. Any payment
            of Fees by the user to the Driver Partner via the Website will be considered in all regards as a
            payment directly from a user to the Driver Partner.</span><br/><br/></div>
          <div class=" justify margin-left-40">6.2<span class="margin-left-20">
            MzansiGo will add <b>25%</b> (twenty five percent) to the Fees as a commission, and another <b>R25.00</b>
            (twenty five Rand) as a processing fee, collectively known as the “<b>Commission</b>,” for the user’s use
            of the Website services and/or the Website. The Fee plus the Commission shall be known as the
            “<b>Charges</b>”. The Charges will also be inclusive of any tax, as applicable.</span><br/><br/></div>
          <div class=" justify margin-left-40">6.3<span class="margin-left-20">
            The Fees will be paid to the Driver Partner bi-monthly and into the South African bank account
            listed in this agreement only. This payment will include the Fees for any Bookings completed from
            the period of the previous payment until the next payment date.</span><br/><br/></div>

        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div class=" justify margin-left-40">6.4<span class="margin-left-20">
            MzansiGo specifically acknowledges its responsibility in ensuring that payments are made
            timeously, but also acknowledges that it can bear no responsibility for any delays in the Driver
            Partner’s receiving of said payments due to public holidays, any issue relating to any banking
            system, any transfer delays between banks, any delays due to force majeure, or any other reason
            reasonably out of MzansiGo’s direct control.</span><br/><br/></div>
          <div class=" justify margin-left-40">6.5<span class="margin-left-20">
            It is the sole responsibility of the Driver Partner to collect and pay any relevant, applicable income
            tax or taxes associated with advertising and selling of their Driver Services on the Website,
            including ensuring that any Fees represented to MzansiGo or in the Website/MzansiGo Services,
            includes these taxes or fees.</span><br/><br/></div>
          <div class=" justify margin-left-40">6.6<span class="margin-left-20">
            It is the sole responsibility of the Driver Partner to notify MzansiGo should their banking details
            change in any way, where MzansiGo will not be liable for any payments made into erroneous bank
            accounts.</span><br/><br/></div>

          <div>7. <span class="margin-left-20"><b>PERIOD OF SERVICES AND TERMINATION</b></span></div>
          <div class=" justify margin-left-40">7.1<span class="margin-left-20">
            The Driver Services shall commence on the date that the Terms were signed (“<b>Commencement
            Date</b>”) and shall continue indefinitely, subject to termination as provided for below.</span><br/><br/></div>
          <div class=" justify margin-left-40">7.2<span class="margin-left-20">
            The Terms shall terminate should:</span><br/><br/></div>
          <div class=" justify margin-left-80">7.2.1<span class="margin-left-20">
            either party give the other party 1 (one) day’s written notice to such effect; or</span><br/><br/></div>
          <div class=" justify margin-left-80">7.2.2<span class="margin-left-20">
            the parties mutually agree in writing to terminate the Terms; or</span><br/><br/></div>
          <div class=" justify margin-left-80">7.2.3<span class="margin-left-20">
            either party becomes entitled to cancel the Terms in accordance with clause 12, pursuant
            to an unremedied breach of the Terms.</span><br/><br/></div>
          <div class=" justify margin-left-40">7.3<span class="margin-left-20">
            Upon termination for any reason:</span><br/><br/></div>
          <div class=" justify margin-left-80">7.3.1<span class="margin-left-20">
            the Driver Partner and any intellectual property relating to them will be removed and
            deleted from the Website and MzansiGo’s databases;</span><br/><br/></div>
          <div class=" justify margin-left-80">7.3.2<span class="margin-left-20">
            MzansiGo will pay the Driver Partner any outstanding and legitimately due Fees,
            timeously and in full within 14 (fourteen) days’ from the termination; and</span><br/><br/></div>
          <div class=" justify margin-left-80">7.3.3<span class="margin-left-20">
            neither party will represent itself as being affiliated with the other, nor utilise the limited
            authorised intellectual property rights assigned to either under the Terms.</span><br/><br/></div>

          <div>8. <span class="margin-left-20"><b>GENERAL OBLIGATIONS OF MZANSIGO</b></span></div>
          <div class=" justify margin-left-40">MzansiGo undertakes to the Driver Partner that it and/or the
            Website, as the case may be, will:<br/><br/></div>
          <div class=" justify margin-left-40">8.1<span class="margin-left-20">
            ensure that all Driver Services performed by the Driver Partner are detailed to credit or attribute the
            Driver Partner, including the use of the Driver Partner’s name and/or picture next to their Service
            options offered on the Website;</span><br/><br/></div>
          <div class=" justify margin-left-40">8.2<span class="margin-left-20">
            undertake to assist the Driver Partner to successfully complete the load by providing assistance in
            terms of finding the accurate pickup and delivery location, ensuring the correct User contact
            information is provided and contacting the User directly to retain information essential for the
            completion of the Booking. All issues experienced by the Driver Partner, website, application or
            User related can be directed to admin@mzansigo.co.za. The Driver Partner may also directly
            contact the MzansiGo office on 081 432 2300 for all questions;</span><br/><br/></div>

        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div class=" justify margin-left-40">8.3<span class="margin-left-20">
            ensure that the Website is active, running and bug free at all times, where such control is within
            MzansiGo’s purview;</span><br/><br/></div>
          <div class=" justify margin-left-40">8.4<span class="margin-left-20">
            continue to develop the Website with the Driver Partner’s and the users’ best interests in mind;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">8.5<span class="margin-left-20">
            motivate the user to consistently and accurately rate the Driver Partner MzansiGo experience and
            provide feedback on the service levels experienced;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">8.6<span class="margin-left-20">
            provide the Driver Partner with consistent exposure to relevant markets;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">8.7<span class="margin-left-20">
            ensure that the Driver Partner is paid in full by the user for all orders for Driver Services and/or
            Bookings placed with the Driver Partner, as per clause 6 above;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">8.8<span class="margin-left-20">
            provide the Driver Partner with clear, timeous and reasonable instructions and directions where
            necessary; and
          </span><br/><br/></div>
          <div class=" justify margin-left-40">8.9<span class="margin-left-20">
            positively promote the Driver Partner and their available Driver Services on the Website and
            through its business and customer network generally.
          </span><br/><br/></div>

          <div>9. <span class="margin-left-20"><b>GENERAL OBLIGATIONS OF THE DRIVER PARTNER
          </b></span></div>
          <div class=" justify margin-left-40">The Driver Partner warrants to MzansiGo in relation to
            their Driver Services that they:
          <br/><br/></div>
          <div class=" justify margin-left-40">9.1<span class="margin-left-20">
            shall render their Driver Services in accordance with the Terms and shall act in such a manner as
            they reasonably consider to be most beneficial to the interests of MzansiGo and the users;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.2<span class="margin-left-20">
            shall never directly or indirectly, or attempt, to circumvent MzansiGo and/or the Website by
            privately contacting and/or providing/advertising its services to users of the Website and/or
            Services without using the Website and/or Services as provided;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.3<span class="margin-left-20">
            shall provide their Driver Services as per the exact description and specifications of the Bookings,
            as detailed by the Driver Partner to MzansiGo and/or on the Website;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.4<span class="margin-left-20">
            shall maintain and be responsible for any registration or access to the Website required to render
            the Driver Services or its general transactional services to a user;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.5<span class="margin-left-20">
            shall immediately and always inform MzansiGo of any negative or potentially negative user or
            Service experience which may cause damage to its and/or MzansiGo’s reputation or goodwill;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.6<span class="margin-left-20">
            shall, during their regular trading hours, use all of their effort to be available to receive and
            subsequently provide the Driver Services placed by a user and/or the Website;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.7<span class="margin-left-20">
            shall perform their Driver Services as required and in adherence with any Booking placed, to the
            best of their ability;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.8<span class="margin-left-20">
            shall provide MzansiGo with correct information relating to any and all Driver Services and/or
            Bookings made available to MzansiGo and/or on the Website for sale;
          </span><br/><br/></div>

        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div class=" justify margin-left-40">9.9<span class="margin-left-20">
            shall notify MzansiGo immediately when any Booking option is no longer available as advertised,
            for any reason, and/or update their profile and/or Website availability to reflect the changes;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.10<span class="margin-left-20">
            shall provide MzansiGo with any updates or changes to any information relating to their Driver
            Services, immediately upon such changes occurring;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.11<span class="margin-left-20">
            are reasonably experienced, organised, financed, equipped, qualified, licensed and able to render
            their Driver Services in each and every respect, and shall ensure that they maintain any such
            required licensing, permitting and/or qualification for as long as they render their Driver Services;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.12<span class="margin-left-20">
            shall provide MzansiGo with their banking details, which information shall be used to facilitate the
            payment of Fees as well as any other fees or payments, from the user and/or MzansiGo;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.13<span class="margin-left-20">
            shall undertake all Driver Services strictly in accordance with any and all laws, rules and codes
            applicable to the Driver Partner’s qualifications, actions or location of Driver Services rendered;
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.14<span class="margin-left-20">
            shall exercise due care, diligence and skill in the provision of their Driver Services; and
          </span><br/><br/></div>
          <div class=" justify margin-left-40">9.15<span class="margin-left-20">
            shall not do anything or allow any act to be done which does or is reasonably and foreseeably likely
            to prejudice the good name and reputation of MzansiGo or the users, failing which, the Driver
            Partner will immediately be deemed to be committing a material breach of the Terms.
          </span><br/><br/></div>

          <div>10. <span class="margin-left-20"><b>DISSATISFACTION, CANCELLATIONS AND REFUNDS
          </b></span></div>
          <div class=" justify margin-left-40">The following is noted in the event that the user purchases Driver Services from the Driver Partner using the
            Website:
          <br/><br/></div>
          <div class=" justify margin-left-40">10.1<span class="margin-left-20">
            Should a dispute or dissatisfaction arise between the Driver Partner and a user using the Driver
            Services, the Driver Partner can contact MzansiGo directly on 081 432 2300 or
            <a href="mailto:admin@mzansigo.co.za">admin@mzansigo.co.za</a> to provide reasonable support. MzansiGo will then attempt to assist the
            Driver Partner and the user to resolve their issue in its own discretion by acting as merely a
            communication channel between both parties, but with the Driver Partner acknowledging and
            agreeing that such a dispute is privately between themselves and the relevant user ].
          </span><br/><br/></div>
          <div class=" justify margin-left-40">10.2<span class="margin-left-20">
            In the event that the Driver Services are not performed in accordance with its stated Booking
            specifications, in contradiction to MzansiGo’s Code of Conduct, or of poor quality as reported by
            the user or in MzansiGo’s sole discretion, and same issue/s were brought to the attention of
            MzansiGo by a user, or out of its own discovery, MzansiGo will notify the Driver Partner of such
            defect and investigate such claims fairly. The following procedure will be followed:
          </span><br/><br/></div>
          <div class=" justify margin-left-80">10.2.1<span class="margin-left-20">
            Pending payment of Fees related to the specific Booking in question will be retained until
            the investigation is complete.
          </span><br/><br/></div>
          <div class=" justify margin-left-80">10.2.2<span class="margin-left-20">
            Should the Driver Partner be found guilty of misconduct in any way whatsoever in
            MzansiGo’s sole discretion, the user will be refunded 100% (one hundred percent) of the
            Fees and the Driver Partner will forfeit all payment for this Booking.
          </span><br/><br/></div>

        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div class=" justify margin-left-40">10.3<span class="margin-left-20">
            It is specifically noted that both the user and the Driver Partner are of equal value to MzansiGo.
            Any investigation will aim to be objective and fair and to mediate with the best interest of all parties
            involved. If at all possible, MzansiGo will aim to conclude the investigation before the next payment
            date to the Driver Partner. Should MzansiGo not be able to do so, it will notify all parties as soon as
            it is aware that it will not be able to meet the deadline.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">10.4<span class="margin-left-20">
            The Driver Partner will immediately apologise to the user for any confirmed defective experience,
            and, should it later be demanded by MzansiGo to appease the Website user, take any reasonable
            blame for the unsatisfactory or late Driver Services performed by the Driver Partner.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">10.5<span class="margin-left-20">
            Notwithstanding the above, should a user receive Driver Services which they deem as
            unacceptable and are entitled to reject under applicable laws, the user and Driver Partner will
            engage with each other as the private parties to the transaction and reach an amicable solution
            amongst themselves. MzansiGo does not have to, but reserves the right to, become involved in any
            such dispute in order to assist the private parties reach a solution. MzansiGo is however under no
            obligation to do so.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">10.6<span class="margin-left-20">
            As part of the MzansiGo Services, a user may elect to cancel their request for Driver Services at
            any time prior to 12 (twelve) hours, in which case the user may be charged a reasonable
            cancellation fee, which they will be made aware of around the time of cancellation. This
            cancellation fee may be less than or up to the full amount of the Driver Services ordered due to the
            nature of individual Driver Services.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">10.7<span class="margin-left-20">
            All Fees that are part of a cancellation fee will be paid as per clause 6 above.
          </span><br/><br/></div>

          <div>11. <span class="margin-left-20"><b>LIABILITY AND INDEMNIFICATION
          </b></span></div>
          <div class=" justify margin-left-40">11.1<span class="margin-left-20">
            Each party warrants to the other party that any information, including but not limited to, images,
            documents, Booking information, MzansiGo/Driver Services information or design files, provided to
            a party in connection with the MzansiGo/Driver Services is free from any copyright and/or does not
            infringe upon any rights of any third party to which the information belongs.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">11.2<span class="margin-left-20"><b>
            Apart from instances of fraud or gross negligence, MzansiGo will not be liable for loss,
            damage, injury, death or delay, including loss of profits, income and consequential
            damages, suffered by the Driver Partner as a result of these Terms, the rendering of their
            Driver Services and/or the use of the Website or negligence in respect thereof.
          </b></span><br/><br/></div>
          <div class=" justify margin-left-40">11.3<span class="margin-left-20"><b>
            The Driver Partner agrees to hold harmless and indemnify MzansiGo against any losses,
            expenses, claims, injury, death, damage or delay, including loss of income and
            consequential damages, suffered by the Driver Partner or any user or third party arising as a
            result of the Driver Partner’s breach of these Terms, or their or a user’s use of the Driver
            Services, Booking and/or the Website.
          </b></span><br/><br/></div>

          <div>12. <span class="margin-left-20"><b>BREACH
          </b></span></div>
          <div class=" justify margin-left-40">12.1<span class="margin-left-20">
            Either party (“<b>the innocent party</b>”) shall have the right, at its election, to terminate the Terms
            forthwith by notice in writing to the other party (“<b>the breaching party</b>”) in the event that:
          </span><br/><br/></div>
          <div class=" justify margin-left-80">12.1.1<span class="margin-left-20">
            the breaching party commits any breach or permit the commission of any breach of any
            material obligation or warranty contained in the Terms and, in respect of such a breach
            capable of remedy, fail to remedy that breach within 7 (seven) calendar days after the
            giving of written notice to that effect by the innocent party to the breaching party; or
          </span><br/><br/></div>


        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div class=" justify margin-left-80">12.1.2<span class="margin-left-20">
            the breaching party repeatedly breaches any of the terms and/or conditions of the Terms
            in such a manner as to justify the innocent party in holding that the breaching party’s
            conduct is inconsistent with the intention or ability of the breaching party to carry out the
            provisions of the Terms.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">12.2<span class="margin-left-20">
            In the event of cancellation of the Terms in the circumstances contemplated in clause 12.1, written
            notice of any such cancellation shall be given and such cancellation shall take effect on the giving
            of such notice.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">12.3<span class="margin-left-20">
            The cancellation of the Terms or exercising of any right conferred by this clause 12 shall be without
            prejudice to any claims hereunder then accrued or to any further or other rights or remedies of
            either party, whether under the Terms or otherwise in law, and whether for damages or otherwise.
          </span><br/><br/></div>

          <div>13. <span class="margin-left-20"><b>SERVICE PERFORMANCE REVIEW
          </b></span></div>
          <div class=" justify margin-left-40">The parties shall conduct a quarterly review from the Commencement Date, of the Driver Services rendered by the
            Driver Partner and of the performance of the Driver Partner in terms of these Terms, from which review MzansiGo
            shall be entitled to impose additional service level standards and requirements on the Driver Partner in respect of
            the Driver Services which shall be deemed to be incorporated herein once MzansiGo notifies the Driver Partner
            requesting such actions.
          <br/><br/></div>


          <div>14. <span class="margin-left-20"><b>INTELLECTUAL PROPERTY PROTECTION
          </b></span></div>
          <div class=" justify margin-left-40">14.1<span class="margin-left-20">
            Both parties will allow and grant to the other party a right to use each other’s trade name and logo
            to be used only on the Website and/or by the relevant party when advertising and/or describing the
            Driver Partner’s Services on the Website, or MzansiGo’s services or the Website or to other Driver
            Partners and/or Website users. No other rights relating to any other intellectual property belonging
            to the Driver Partner or MzansiGo are granted to the other party, unless expressly done so in
            writing between the parties.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">14.2<span class="margin-left-20">
            All material, information, data, software, icons, text, graphics, lay-outs, images, sound clips,
            advertisements, video clips, trade names, logos, trade marks, designs, booking flow, copyright
            and/or service marks (as well as the organisation and layout of the Website) together with the
            underlying software code of the Website and/or MzansiGo are owned (or co-owned or licensed, as
            the case may be) by MzansiGo, its members, associates and/or partners, whether directly or
            indirectly, and as such, are protected from infringement by domestic and international legislation
            and treaties.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">14.3<span class="margin-left-20">
            Subject to the rights afforded to the Driver Partner in these Terms, all other rights to all intellectual
            property on the Website or of MzansiGo’s are expressly reserved. The Driver Partner may not
            copy, download, print, modify, alter, publish, broadcast, distribute, sell or transfer any intellectual
            property, content, graphics or other material on the Website or the underlying software code, or of
            MzansiGo’s generally, whether in whole or in part, without the written consent of MzansiGo first
            being granted to them, which consent may be refused at the discretion of MzansiGo. No
            modification of any intellectual property or content or graphics is permitted.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">14.4<span class="margin-left-20"><b>
            MzansiGo reserves the right to make improvements or changes to the intellectual property,
            information, artwork, graphics and other materials on the Website, including that of a Driver
            Partner in their advert/profile, or to suspend or terminate the Website, at any time without
            notice; provided that any transaction already concluded through the Website will not be
            affected by such suspension or termination (as the case may be).
          </b></span><br/><br/></div>


        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div>15. <span class="margin-left-20"><b>FORCE MAJEURE
          </b></span></div>
          <div class=" justify margin-left-40">If either party is prevented from or hindered or delayed in performing any obligation under these Terms by reason of
            any circumstance beyond its reasonable control (including but not limited to, acts of god, governmental restraints,
            strikes, labour disputes, war, extreme weather, electrical load-shedding, fire, flood, riot, sabotage and terrorism), it
            shall be excused performance to the extent affected by the circumstances concerned so long as it shall both give
            notice to the user and the other party of those circumstances promptly after they first affected performance and use
            all reasonable commercial endeavours to remove or avoid their cause or effect, and/or ameliorate the context
            and/or to still provide their services as soon as possible, if possible.
          <br/><br/></div>

          <div>16. <span class="margin-left-20"><b>CONFIDENTIALITY
          </b></span></div>
          <div class=" justify margin-left-40">16.1<span class="margin-left-20">
            Neither party shall during or after the provision of their services use to the prejudice or detriment of
            the other party, or divulge to any person any material, client list, business method, trade secret or
            any other confidential information concerning the business affairs of the other party which may
            have come into its possession or knowledge during the course of this agreement or provision of the
            MzansiGo/Driver Services.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">16.2<span class="margin-left-20">
            The parties may only advertise their affiliation specifically as agreed between them and only on the
            terms specified between them.
          </span><br/><br/></div>

          <div>17. <span class="margin-left-20"><b>DISPUTE RESOLUTION
          </b></span></div>
          <div class=" justify margin-left-40">17.1<span class="margin-left-20">
            Should any dispute, disagreement or claim arise between the parties (“dispute”) concerning the
            Terms, its termination and/or cancellation and/or rectification, the parties shall endeavour to resolve
            the dispute amicably, by negotiation, and with the best interests of both parties in mind.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">17.2<span class="margin-left-20">
            Should the parties fail to resolve such dispute in the aforesaid manner or within such further period
            as the parties may agree to in their negotiation, the parties will approach an independent industry
            expert who shall mediate the discussion between the parties to seek a mutually beneficial solution.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">17.3<span class="margin-left-20">
            Should the dispute still not be resolved, the parties shall submit the dispute to final arbitration for
            resolution in accordance with the rules of the Arbitration Foundation of Southern Africa (“AFSA”) by
            an arbitrator or arbitrators appointed by AFSA utilising such expedited proceedings as may be
            available in terms of such rules.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">17.4<span class="margin-left-20">
            Any arbitration shall be held in Cape Town, South Africa.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">17.5<span class="margin-left-20">
            Notwithstanding anything to the contrary contained in this clause 17, either party shall be entitled to
            approach and seek relief from any competent court having jurisdiction.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">17.6<span class="margin-left-20">
            The parties both agree that in no circumstance will either party publicize a dispute on any public
            platform, including social media platforms, or to any unrelated third party. The parties understand
            that any publicity of this nature can cause serious damage to the other party, which damage may
            result in a financial damages claim against the infringing party.
          </span><br/><br/></div>

          <div>18. <span class="margin-left-20"><b>NO CESSION OR ASSIGNMENT
          </b></span></div>
          <div class=" justify margin-left-40">
            The Driver Partner shall not be entitled to cede, assign, transfer or delegate all or any of their rights, obligations,
            interests in, under or in terms of the Terms to any third party without the prior written consent of MzansiGo.
          <br/><br/></div>


        </div>
      </div>
      <div class="row page">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 justify">
          <div>19. <span class="margin-left-20"><b>SERVICE ADDRESS
          </b></span></div>
          <div class=" justify margin-left-40">
            Each of the parties choose as their services address for the purposes of the giving of any notice, the payment of
            any sum, the serving of any process and for any other purposes arising from the Terms at their respective
            addresses outlined in this agreement and/or specifically identified in writing between the parties from time to time.
          <br/><br/></div>

          <div>20. <span class="margin-left-20"><b>GENERAL
          </b></span></div>
          <div class=" justify margin-left-40">20.1<span class="margin-left-20">
            <b>Survival of Rights, Duties and Obligations:</b> Termination of the Terms for any cause whatsoever
            shall not release either party from any liability which at the time of termination has already accrued
            to the other or which thereafter may accrue in respect of any act or omission prior to such
            termination.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">20.2<span class="margin-left-20">
            <b>Variation of the Terms:</b> No alteration, consensual cancellation, variation of, or addition to the
            Terms shall be of any force or effect unless reduced to writing and signed by both parties.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">20.3<span class="margin-left-20">
            <b>Counterparts:</b> The Terms may be signed in any number of counterparts, all of which taken
            together shall constitute one and the same instrument.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">20.4<span class="margin-left-20">
            <b>Governing law:</b> The Terms shall be governed by and interpreted in accordance with the law of the
            Republic of South Africa only. All disputes, actions and other matters in connection with the Terms
            shall be determined in accordance with such law.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">20.5<span class="margin-left-20">
            <b>Indulgences:</b> No indulgence, leniency or extension of time which any party (“the grantor”) may
            grant or show to the other shall operate as an estoppel or in any way prejudice the grantor or
            preclude the grantor from exercising any of its rights in the future.
          </span><br/><br/></div>
          <div class=" justify margin-left-40">20.5<span class="margin-left-20">
            <b>Cumulative Rights and Remedies:</b> The rights and remedies of the parties under the Terms are
            cumulative and in addition to any rights and remedies provided by law.
          </span><br/><br/></div>
          <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          <center style="bottom:0;"><b>[THE REMAINDER OF THIS PAGE IS LEFT INTENTIONALLY BLANK]</b><br/><br/></center>
          <div><b>I acknowledge that I have read and understood the Terms and agree to be bound by the terms of same by
replying yes on the relevant confirmation question.</b<</div>
        </div>
      </div>
    </div>
  </center>
  <script src="{% static 'website/js/lib/jquery-1.8.3.min.js' %}"></script>
  <script src="{% static 'website/js/lib/jquery-ui.min.js' %}"></script>
</body>
</html>
