{% extends "base.html" %}
{% load static %}

{% block css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
<link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet"/>
<link href="{% static "admin/changelog/themes/"|add:current_build|add:".css" %}" rel="stylesheet" />
<link href="{% static 'admin/changelog/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'website/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  {% if current_build == 'blowhorn' %}
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/metropolis" type="text/css"/>
  {% endif %}
{% endblock %}

{% block content %}
  {% include 'admin/changelog/partials/navbar.html' %}
  {% include 'admin/changelog/partials/main.html' %}
  <p class="pos_fixed hidden-xs">
    <img id="gotop" src="{% static 'website/images/up-fast.png' %}"/>
    <div class="block"></div>
  </p>
{% endblock %}

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script>
    var products = {{ products|safe }};
    var statuses = {{ statuses|safe }};
  </script>
  <script src="{% static 'admin/changelog/main.js' %}"></script>
  <script type="text/javascript">
    $('#gotop').hover(function () {
      $('body, html').animate({scrollTop: '-=12000'}, 3000);
    }, function () {
      $('body, html').stop();
    });
  </script>
{% endblock %}
