<div class="shipments-panel">
    <app-shipment-order-list-view-filter
    (filter_changed)="filter_changed($event)"
    (search_fired)="search()"
    (export_fired)="export($event)"
    (print_fired)="print_label($event)"
    (routes_fired)="get_routes($event)">
    </app-shipment-order-list-view-filter>
    <app-shipment-order-list-view-grid-title [checked]="allOrdersSelected">
    </app-shipment-order-list-view-grid-title>
    <div class="shipments-grid">
        <ng-container *ngFor="let shipment of shipments">
            <app-shipment-order-list-view-grid-row
            [shipment]="shipment"
            [status_colors]="status_colors"
            [alert_config]="alert_config"
            [status_legends]="status_legends_master_data"
            (order_number_clicked)="open_details($event)"
            (pod_clicked)="show_documents($event)"
            (driver_clicked)="open_assets($event)"
            (barcode_clicked)="open_barcode($event)"
            (assign_driver_clicked)="open_assign_driver($event)"
            (selected)="order_selected($event, shipment)"
            (cod_clicked)="open_cod($event)"
            ></app-shipment-order-list-view-grid-row>
        </ng-container>
        <div *ngIf="shipments.length <= 0" class="error">
            <span>{{ error_msg }}</span>
        </div>
    </div>
    <div *ngIf="shipments.length" class="pagination">
        <app-blowhorn-pagination #pagination
        (data_fetched)="update_shipments($event)"
        [count]="count"
        [next]="next"
        [previous]="previous"
        [page_size]="100">
        </app-blowhorn-pagination>
    </div>
</div>
<div *ngIf="show_image_viewer" class="image-panel" tabindex="0"
#overlay_panel_image (mouseover)="focus_panel($event, models.document)"
(click)="close_fired($event, models.document)"
(keyup)="close_fired($event, models.document)">
    <app-blowhorn-image-viewer [document_links]="document_links"
        (close_fired)="close_fired($event, models.document)">
    </app-blowhorn-image-viewer>
</div>

<div *ngIf="show.assets" class="assets-panel image-panel" tabindex="0"
    #overlay_panel_assets
    (mouseover)="focus_panel($event, models.assets)"
    (keyup)="close_fired($event, models.assets)">
    <app-shipment-assets
    [number]="shipment.number"
    [field]="'order_number'"
    [heading]="'Asset Details: ' + shipment.number"
    (close_fired)="close_fired($event, models.assets)">
    </app-shipment-assets>
</div>

<div *ngIf="show.details" class="details-panel image-panel" tabindex="0"
    #overlay_panel_details
    (mouseover)="focus_panel($event, models.details)"
    (keyup)="close_fired($event, models.details)">
    <app-shipment-editable-orderlines
    [heading]="'Order Details: ' + shipment.number"
    (close_fired)="close_fired($event, models.details)"
    ></app-shipment-editable-orderlines>
</div>

<div *ngIf="show.barcode" class="details-panel image-panel" tabindex="0"
  #overlay_panel_barcode
    (mouseover)="focus_panel($event, models.barcode)"
    (keyup)="close_fired($event, models.barcode)">
    <app-barcode
    [heading]="'Order number: ' + shipment.number"
    [value]="shipment.reference_number"
    [height]="80"
    [filename]="shipment.reference_number||shipment.number"
    (close_fired)="close_fired($event, models.barcode)"
    ></app-barcode>
</div>

<div *ngIf="show.cod" class="details-panel image-panel" tabindex="0"
  #overlay_panel_cod
    (mouseover)="focus_panel($event, models.cod)"
    (keyup)="close_fired($event, models.cod)">
    <app-cod-details
    [heading]="'Cash on Delivery Payment Details - ' + shipment.number"
    [shipment]="shipment"
    (close_fired)="close_fired($event, models.cod)"
    ></app-cod-details>
</div>

<div *ngIf="show.assign_driver" class="details-panel image-panel" tabindex="0"
    #overlay_panel_assign_driver
    (mouseover)="focus_panel($event, models.assign_driver)"
    (keyup)="close_fired($event, models.assign_driver)">
    <app-assign-driver
    [shipment]="shipment"
    (trip_created)="trip_created($event)"
    (close_fired)="close_fired($event, models.assign_driver)"
    ></app-assign-driver>
</div>
