{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction Failed</title>
	<link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
	<style>
		.row{margin:0}.wrapper{background:#f8f8ff;padding:1%;margin-top:5%;border-radius:4px}.failure-heading{padding:1%;background:#ffc967;border:1px solid orange;border-radius:4px}.success-heading{padding:1%;background:#a8e898;border:1px solid #34fc03;border-radius:4px}.success-heading>.fa-check-circle{color:#228b22}.failure-heading>.fa-warning{color:red}.order-details-wrapper{border:1px solid #ccdccc;border-radius:4px;margin-top:1%}.order-details-wrapper>.row>h4{margin-left:15px;margin-bottom:0;font-weight:700}.mLabel{font-weight:700}.container{width:100%}@media only screen and (min-width:768px){.container{width:50%}}.action-btn-container{padding:15px 0 0 8px;display:flex;justify-content:center}.action-btn-container button{width:100px}@media only screen and (min-width:768px){.container{width:50%}}#djDebug{display:none}.intro{background:url(/static/website/images/bg2.jpg) center center fixed;height:100vh}
	</style>
</head>
<body>
<div class="intro" style="background: url('/static/website/images/bg2.jpg') center center fixed; height: 100vh;">
	<div class="container">
		<div class="wrapper">
			<div class="row failure-message">
				<h4 class="failure-heading">
                    <i class="fa fa-warning"></i> Sorry, your transaction has been cancelled.
                </h4>
				<div class="row">The transaction cannot be completed successfully. Please try again.</div>
                <div class="action-btn-container">
                    <button class="btn btn-info" onclick="performClick('test')">Ok</button>
                </div>
			</div>
        </div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
<script>
	function performClick() {window.location.href = '/relief?app=true';}
  </script>
</body>
</html>
