{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you</title>
    <link href="{% static 'website/css/bootstrap.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900" rel="stylesheet">
    <style>
        .row{margin:0}.wrapper{background:#f8f8ff;padding:1%;margin-top:5%;border-radius:4px}.failure-heading{padding:1%;background:#ffc967;border:1px solid orange;border-radius:4px}.success-heading{padding:1%;background:#a8e898;border:1px solid #34fc03;border-radius:4px}.success-heading>.fa-check-circle{color:#228b22}.failure-heading>.fa-warning{color:red}.order-details-wrapper{border:1px solid #ccdccc;border-radius:4px;margin-top:1%}.order-details-wrapper>.row>h4{margin-left:15px;margin-bottom:0;font-weight:700}.mLabel{font-weight:700}.container{width:100%}.action-btn-container{padding:15px;display:flex;justify-content:center}@media only screen and (min-width:768px){}#djDebug{display:none}.intro{height: 100vh;background:url(/static/website/images/bg2.jpg) center center fixed;}
    </style>
</head>
<body>
    <div class="intro">
        <div class="container" style="padding: 15px;">
            <div class="row">
                <img src="{% static 'donation/thank_you.jpg' %}" class="img-responsive"
                style="max-width: 100%;width: auto;height: auto;display: block;">
            </div>
            <div class="action-btn-container">
                <button class="btn btn-info" onclick="performClick('test')" style="font-size: 28px;padding: 15px;">
                    BACK TO HOME
                </button>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
</body>
<script>
    function performClick() {window.location.href = '/relief?app=true';}
</script>
</html>
