<div class="flag-container">
    <div class="selected-flag" title="">
        <div class="iti-flag {{ countryCodeA2|lowercase }}"></div>
        <div class="selected-dial-code">{{ isdDialingCode }}</div>
    </div>
</div>
