{% load mathfilters %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:200,300,400,500,600,700,800,900" rel="stylesheet">
    <style>
      @media only screen and (max-width: 630px) {
        .main-container {width: 100%;}
        .blackback {border-bottom: 1px solid #eee;}
        .sub-container {width: 100%;padding: 10px;background-color: #000;}
        .no-padding {padding: 0px;}
        .no-margin {margin: 0px;}
        .footer {width: 100%;padding: 5px 5px;border-top: 1px solid #eee;}
        .sliptter {padding: 20px 0px 0px 0px;}
        .top-bottom-padding {padding: 5px 0px;}
        .top-bottom-padding-20 {padding: 10px 0px;}
        .top-bottom-padding-40 {padding: 20px 0px;}
        .footer-text {color: #555;font-family: 'Heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 13px;font-weight: 500;}
        .footer-link {font-family: 'Heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 13px;font-weight: 500;color: rgb(82, 161, 235);text-decoration: none}
        .big-screen {display: none !important;height: 0px;width: 0px;}
        .img-content {width: 100%;}
      }
      @media only screen and (min-width: 631px) {
        .main-container {width: 100%;background: #eee;padding: 15px;}
        .sub-container {width: 600px;box-shadow: 0 0px 10px 4px rgba(0, 0, 0, .15);}
        .blackback {border-bottom: 1px solid #eee;padding: 5px 20px;}
        .img-content {width: 595px;}
        .no-padding {padding: 0px;}
        .no-margin {margin: 0px;}
        .footer {width: 100%;padding: 10px 20px;border-top: 1px solid #eee;}
        .sliptter {padding: 20px 0px 0px 0px;}
        .top-bottom-padding {padding: 5px 0px;}
        .top-bottom-padding-20 {padding: 10px 0px;}
        .top-bottom-padding-40 {padding: 20px 0px;}
        .footer-text {color: #555;font-family: 'Heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 13px;font-weight: 500;}
        .footer-link {font-family: 'Heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 13px;font-weight: 500;color: rgb(82, 161, 235);text-decoration: none;}
        .small-screen {display: none !important;height: 0px;width: 0px;}
      }
      .logo-container{padding: 10px;}
      .blank-line{padding: 15px;}
      .img-content img {width: 100%;}
    </style>
  </head>
  <body>
    <div class="main-container">
      <center>
        <div class="sub-container" style="background: #fff;">
            <table class="blackback" style="width: 100%;">
              <tr class="no-padding">
                <td align="left" class="logo-container">
                  <a href="https://blowhorn.com">
                    <img class="logo" src="https://testblowhorn.s3.us-east-2.amazonaws.com/resource/logo.png" alt="logo"
                    width="{{ logo.styles.width }}" height="{{ logo.styles.height }}">
                  </a>
                </td>
                <td align="right" class="top-bottom-padding">
                  {% include 'website/emails/social.html' with social_links=social_links %}
                </td>
              </tr>
            </table>
            <table>
              <tbody>
                <tr>
                  <td valign="top" class="img-content">
                    <img src="https://testblowhorn.s3.us-east-2.amazonaws.com/resource/thank_you.jpg"
                    class="big-screen">
                    <img src="https://testblowhorn.s3.us-east-2.amazonaws.com/resource/thank_you_mobile.jpg"
                    class="small-screen">
                  </td>
                </tr>
                <tr>
                  <td>
                    <table>
                      <tr colspan="2">
                        <td style="font-weight: bold;font-weight: bold;padding: 8px;font-size: 14px;">
                          Transaction Details
                        </td>
                      </tr>
                      <tr>
                        <td style="font-weight: bold;padding: 8px;color: #777;">Transation ID</td>
                        <td>{{ txn_id }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table>
              <tr>
                <td style="font-family:Heebo;color: #222222;">Download the {{ brand_name }} app<td>
              </tr>
              <tr>
                <td>
                  <p><a href="{{app_links.ios.url}}" target="_blank" style="text-decoration: none;">
                      <img src="{{app_links.ios.img}}" style="width:100px; margin-right:15px; margin-bottom:5px;">
                    </a>
                    <a href="{{app_links.android.url}}" target="_blank"  style="text-decoration: none;">
                      <img src="{{app_links.android.img}}" style="height:30px; margin-bottom:5px;">
                    </a>
                  </p>
                </td>
              </tr>
            </table>
            <table class="footer big-screen">
                <tr class="top-bottom-padding-40">
                  <td rowspan="2" align="left" class="top-bottom-padding-40">
                    {% include 'website/emails/social.html' with social_links=social_links %}
                  </td>
                  <td valign="middle" align="right" class="top-bottom-padding-40">
                    <span class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> for any queries.</span>
                  </td>
                </tr>
            </table>
            <table class="footer small-screen">
              <tr class="top-bottom-padding">
                <td valign="middle" class="top-bottom-padding-40" align="left" colspan="3">
                    <span  class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> for any queries.</span>
                </td>
                <td align="right" class="top-bottom-padding-40">
                    {% include 'website/emails/social.html' with social_links=social_links %}
                </td>
              </tr>
          </table>
        </div>
      </center>
    </div>
  </body>
</html>
