<style>
    .social-link{padding: 10px;color: #fff !important; text-decoration: underline; font-size: 11px;}
    .social-link img{outline: none; text-decoration: none;height: 20px;width: 20px;}
</style>
{% if social_links.facebookId %}
<a href="facebook.com/{{social_links.facebookId}}" target="_blank" class="social-link" style="color: #fff !important">
    <img src="http://storage.googleapis.com/blowhorn/facebook@2x.png" width="40px">
</a>
{% endif %}
{% if social_links.twitterId %}
<a href="twitter.com/{{social_links.twitterId}}" target="_blank" class="social-link" style="color: #fff !important">
    <img src="http://storage.googleapis.com/blowhorn/twitter@2x.png" width="40px">
</a>
{% endif %}
{% if social_links.linkedinId %}
<a href="linkedin.com/{{social_links.linkedinId}}" target="_blank" class="social-link" style="color: #fff !important">
    <img src="http://storage.googleapis.com/blowhorn/linked-in@2x.png" width="40px">
</a>
{% endif %}
