<!DOCTYPE html>
<html>
  <head>
    <style>
      @page {
        size: A4;
        margin: 30px 30px;
      }
      .label {
        text-transform: uppercase;
        color: #0180A8;
        font-family: Heebo;
        font-size: 12px;
        font-weight: 900;
        line-height: 1;
      }
      .content {
        color: #000000;
        font-family: Heebo;
        font-size: 16px;
      }
      .title {
        color: #141515;
        font-family: Heebo;
        font-size: 30px;
        line-height: 1.2;
      }
      table {
          border-collapse: collapse;
          border-spacing: 0;
          border: 1px solid black;
        width: 100%;
      }
      tr {
			  border: 1px solid black;
			}
      td {
        text-align: left;
        padding: 0.2em 0.2em 0.2em 0.5em;
      }
    </style>
  </head>
  <body>
    <table class="header">
      <tr>
        <td colspan="2">
          <span class="title">
            Invoice Batch Upload to GST Portal
          </span>
        </td>
      </tr>
    </table>
    <table>
      <tr>

          <th class="content">Invoice Number</th>
          <th class="content">Remarks</th>

        <tbody>
          <tr>
            <th class="content" colspan="2">Invoices failed to upload on GST Portal</th>
          </tr>
          {% for row in failed_uploads %}
            <tr>
              <td class="label">{{ row.invoice_number }}</td>
              <td class="content">{{ row.remarks }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </tr>
    </table>
  </body>
</html>
