{% load mathfilters %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <link href="https://fonts.googleapis.com/css?family=Heebo:200,300,400,500,600,700,800,900" rel="stylesheet">
    <style>
      @media only screen and (max-width: 630px) {
        .main-container {width: 100%;}
        .blackback {border-bottom: 1px solid #eee;}
        .sub-container {width: 100%;padding: 10px;background-color: #000;}
        .total-cost {font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 40px;font-weight: 500;color: #5a5a5a;padding: 5px 0px;}
        .info-text {font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';font-size: 14px;font-weight: 500;color: #808080;padding: 5px 0px;}
        .no-padding {
          padding: 0px;
        }
        .no-margin {
          margin: 0px;
        }
        .pickup-dropoff {
          background-color: rgb(238, 234, 238);
          padding: 5px 5px;
          width: 100%;
          margin: 0px;
          height: 100px;
        }
        .pickup-dropoff-img {
          height: 100px;
          padding-right: 5px;
          padding-top: 3px;
        }
        .date-time {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
          color: #5a5a5a;
        }
        .address {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 12px;
          font-weight: 500;
          color: #808080;
        }
        .trip-driver {
          width: 100%;
          padding: 5px 5px;
          background-color: #f8f7f9;
        }
        .driver-img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .driver-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 16px;
          font-weight: 500;
          color: #2e2c2c;
          line-height: 1.5;
        }
        .trip-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
        }
        .trip-value {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .map {
          width: 100%;
          background-color: rgb(238, 234, 238);
        }
        .map-img {
          height: 200px;
          width: 100%;
        }
        .fare-breakup {
          width: 100%;
          background-color: #fff;
          padding: 5px 5px;
        }
        .fare-header {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 25px;
          font-weight: 500;
          color: #444444;
        }
        .fare-type {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #8a8888;
        }
        .fare-value {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .footer {
          width: 100%;
          padding: 5px 5px;
          border-top: 1px solid #eee;
        }
        .sliptter {
          padding: 20px 0px 0px 0px;
        }
        .top-bottom-padding {
          padding: 5px 0px;
        }
        .top-bottom-padding-20 {
          padding: 10px 0px;
        }
        .top-bottom-padding-40 {
          padding: 20px 0px;
        }
        .footer-text {
          color: #555;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
        }
        .footer-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .invoice-details {
          width: 100%;
          background-color: rgb(238, 234, 238);
          padding: 5px 5px;
        }
        .invoice-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: #727171;
          padding: 5px 0px;
          line-height: 1.3;
        }
        .invoice-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .paid {
          color: rgb(8, 167, 8);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .not-paid {
          color: rgb(216, 79, 16);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .payment-mode {
          color: rgb(48, 44, 42);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
        }
        .date {
          text-decoration: none;
        }
        .big-screen {
          display: none !important;
          height: 0px;
          width: 0px;
        }
      }
      @media only screen and (min-width: 631px) {
        .main-container {
          width: 100%;
          background: #eee;
          padding: 15px;
        }
        .sub-container {
          width: 420px;
          box-shadow: 0 0px 10px 4px rgba(0, 0, 0, .15);
        }
        .blackback {
          border-bottom: 1px solid #eee;
          padding: 5px 20px;
        }
        .total-cost {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 40px;
          font-weight: 500;
          color: #5a5a5a;
          padding: 5px 0px;
        }
        .info-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
          padding: 5px 0px;
        }
        .no-padding {
          padding: 0px;
        }
        .no-margin {
          margin: 0px;
        }
        .pickup-dropoff {
          background-color: #fdfcfd;
          padding: 10px 50px;
          width: 100%;
          margin: 0px;
          height: 80px;
        }
        .pickup-dropoff-img {
          height: 60px;
          padding-right: 15px;
          padding-top: 3px;
        }
        .date-time {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
          color: #5a5a5a;
        }
        .address {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 12px;
          font-weight: 500;
          color: #808080;
        }
        .trip-driver {
          width: 100%;
          padding: 10px 50px;
          background-color: #fdfcfd;
        }
        .driver-img {
          height: 50px;
          width: 50px;
          border-radius: 50%;
        }
        .driver-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 16px;
          font-weight: 500;
          color: #2e2c2c;
          line-height: 1.5;
        }
        .trip-header {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #808080;
        }
        .trip-value {
          padding: 5px 0px;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .map {
          width: 100%;
          background-color: rgb(238, 234, 238);
        }
        .map-img {
          height: 350px;
          width: 100%;
        }
        .fare-breakup {
          width: 100%;
          background-color: #fff;
          padding: 10px 50px;
        }
        .fare-header {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 25px;
          font-weight: 500;
          color: #444444;
        }
        .fare-type {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #8a8888;
        }
        .fare-value {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 14px;
          font-weight: 500;
          color: #444444;
        }
        .footer {
          width: 100%;
          padding: 10px 20px;
          border-top: 1px solid #eee;
        }
        .sliptter {
          padding: 20px 0px 0px 0px;
        }
        .top-bottom-padding {
          padding: 5px 0px;
        }
        .top-bottom-padding-20 {
          padding: 10px 0px;
        }
        .top-bottom-padding-40 {
          padding: 20px 0px;
        }
        .footer-text {
          color: #555;
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
        }
        .footer-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 13px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .invoice-details {
          width: 100%;
          background-color: rgb(238, 234, 238);
          padding: 10px 50px;
        }
        .invoice-text {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: #727171;
          padding: 5px 0px;
          line-height: 1.3;
        }
        .invoice-link {
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
          color: rgb(82, 161, 235);
          text-decoration: none
        }
        .paid {
          color: rgb(8, 167, 8);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .not-paid {
          color: rgb(216, 79, 16);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 500;
        }
        .payment-mode {
          color: rgb(48, 44, 42);
          font-family: 'heebo', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', 'sans-serif';
          font-size: 15px;
          font-weight: 600;
        }
        .date {
          text-decoration: none;
        }
        .small-screen {
          display: none !important;
          height: 0px;
          width: 0px;
        }
      }
      .logo-container{padding: 10px;}
      .blank-line{padding: 15px;}
      .customer-name{padding: 10px 0px 15px 20px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;color: #5a5a5a;}
      .account-email {padding: 0 0px 0 20px;color: #555;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .action-heading{padding-left:20px;font-size:20px;font-weight:700;line-height:26.5px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .heading-amount{text-align:left;color:#333333;font-size:28px;line-height:26px;padding:0px 0px 0px 20px;font-weight:normal;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .account-heading,.paymentmode-heading{color: #555;padding-left:20px;font-size:12px;font-weight:600;line-height:18px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .wallet-info{padding-left:20px;font-size:16px;font-weight:600;line-height:23px;color:#222;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .account-info,.paymentmode-info{padding-left:20px;font-size:16px;font-weight:600;line-height:24px;color:#222;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .timestamp{color:#999999;padding-left:20px;font-size:12px;line-height:18px;letter-spacing:0.3px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .transaction-id {color:#999999;padding-left:20px;font-size:12px;line-height:18px;letter-spacing:0.3px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .wallet-balance-heading{color:#222222;padding-left:20px;font-size:15px;line-height:24px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .wallet-balance-amount{padding-left:20px;font-size:20px;line-height:26.5px;color:#222;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .link-to-wallet{color:#00b9f5;font-weight:600;font-size:15px;padding:0px 0px 0px 20px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
      .link-to-wallet .link{text-decoration:none;color:#00b9f5;font-size:15px;font-family: Heebo, 'Arial Narrow Bold', sans-serif;}
    </style>
  </head>
  <body>
    <div class="main-container">
      <center>
        <div class="sub-container" style="background: #fff;">
            <table class="blackback" style="width: 100%;">
              <tr class="no-padding">
                <td align="left" class="logo-container">
                  <a href="{{homepage_url}}">
                    <img class="logo" src="{{logo.url}}" alt="logo" width="{{ logo.styles.width }}" height="{{ logo.styles.height }}">
                  </a>
                </td>
                <td align="right" class="top-bottom-padding">
                  {% include 'website/emails/social.html' with social_links=social_links %}
                </td>
              </tr>
            </table>
            <table class="main-content">
              <tr>
                <td class="customer-name" align="left">Hi {{customer_name}},</td>
              </tr>
              <tr>
                <td class="action-heading" align="left" style="color: {{transaction_details.heading.color}} ">{{ transaction_details.heading.text }}</td>
              </tr>
              <tr><td align="center"></td></tr>
              <tr>
                <td>
                  <table width="380" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="heading-amount" valign="top" height="26">
                          {{ currency.symbol }}{{ amount | floatformat:2 }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
              <tr>
                <td class="account-heading" align="left">{{ account_info.label }}</td>
              </tr>
              <tr>
                <td align="left" class="wallet-info">{{ account_info.sub_label }}</td>
              </tr>
              <tr>
                <td class="account-email" align="left">{{ account_info.value }}</td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
              <tr>
                <td class="paymentmode-heading" align="left">Via</td>
              </tr>
              <tr>
                <td class="paymentmode-info" align="left">{{ payment_mode }}</td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
              <tr>
                <td class="timestamp" align="left">{{ transaction_time }}</td>
              </tr>
              <tr>
                <td class="transaction-id" align="left">Transaction ID: {{ transaction_id }}</td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
              <tr>
                <td class="wallet-balance-heading" align="left">Your updated <span class="il">{{ brand_name }} </span> Wallet balance</td>
              </tr>
              <tr>
                <td class="wallet-balance-amount" align="left">
                  {{ currency.symbol }}{{ available_balance|floatformat:2 }}
                </td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
              <tr>
                <td>
                  <table width="380" border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td class="link-to-wallet">
                          <a class="link" href="{{ link_to_wallet }}" target="_blank">
                            My Account &nbsp;&nbsp;❯
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr><td class="blank-line" align="center"></td></tr>
            </table>
            <table>
              <tr><td style="font-family:Heebo;color: #222222;">Download the {{ brand_name }} app<td></tr>
                <tr>
                  <td>
                    <p><a href="{{app_links.ios.url}}" target="_blank" style="text-decoration: none;">
                        <img src="{{app_links.ios.img}}" style="width:100px; margin-right:15px; margin-bottom:5px;" alt="">
                      </a>
                      <a href="{{app_links.android.url}}" target="_blank"  style="text-decoration: none;">
                        <img src="{{app_links.android.img}}" alt="" style="height:30px; margin-bottom:5px;">
                      </a>
                    </p>
                  </td>
                </tr>
            </table>
            <table class="footer big-screen">
                <tr class="top-bottom-padding-40">
                  <td rowspan="2" style="width:50px; padding-right:10px;display: none;" class="top-bottom-padding-40" valign="middle">
                    <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/support@2x.png" align="left" height="41" width="45">
                  </td>
                  <td valign="bottom">
                    <span class="footer-text" style="font-size: 14px;">{{ brand_name }} Support</span>
                  </td>
                  <td rowspan="2" style="width:50px;display:none;" valign="middle">
                    <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/give@2x.png" alt=""  align="left" height="41" width="41">
                  </td>
                  <td rowspan="2" align="right" class="top-bottom-padding-40">
                    {% include 'website/emails/social.html' with social_links=social_links %}
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <span class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> about your experience.</span>
                  </td>
                </tr>
            </table>
            <table class="footer small-screen">
              <tr class="top-bottom-padding">
                <td rowspan="2" style="width:50px; padding-right:10px;" class="top-bottom-padding" valign="middle">
                  <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/support@2x.png" align="left" height="41" width="45">
                </td>
                <td valign="middle" class="top-bottom-padding" align="right" colspan="2">
                  <span class="footer-text" style="font-size: 14px;">{{ brand_name }} Support</span>
                </td>
              </tr>
              <tr class="top-bottom-padding">
                <td valign="middle" class="top-bottom-padding" align="right" colspan="3">
                  <span  class="footer-text"><a class="footer-link" href="mailto:{{feedback.contact_mail}}?subject={{feedback.subject}}">Contact us</a> about your experience.</span>
                </td>
              </tr>
              <tr class="top-bottom-padding-40">
                <td style="width:50px" valign="middle" class="top-bottom-padding">
                  <img src="http://d1a3f4spazzrp4.cloudfront.net/receipt-new/give@2x.png" alt=""  align="left" height="41" width="41">
                </td>
                <td align="right" class="top-bottom-padding">
                  {% include 'website/emails/social.html' with social_links=social_links %}
                </td>
              </tr>
          </table>
        </div>
      </center>
    </div>
  </body>
</html>
