<table>
  <tr>
    <div class="table-header">
      <div class="title"> Trip Stats </div>
      <div class="dropdown-filter">
        <div class="filter-options">
            <app-dropdown-select
            [styles]="filter_options_styles"
            [selected_name]="selected_option_name ? selected_option_name : '----------'"
            [selected_id]="selected_option_id ? selected_option_id : null"
            [items]="options"
            [disabled]="option_disabled || false"
            (value_changed)="option_changed($event)">
            </app-dropdown-select>
        </div>
        <div class="filter-options">
            <app-dropdown-select
            [styles]="filter_options_styles"
            [selected_name]="selected_chart_name ? selected_chart_name : '----------'"
            [selected_id]="selected_chart_id ? selected_chart_id : null"
            [items]="chart_types"
            [disabled]="type_disabled || false"
            (value_changed)="chart_type_changed($event)">
            </app-dropdown-select>
        </div>
      </div>
    </div>
  </tr>
    <tr>
      <td *ngIf="chart_data">
        <canvas style="width: 800px; height: 300px;" id="tripstatschart"></canvas>
      </td>
    </tr>
</table>
