table{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: white;
    height: 100%;
    width: 100%;
    .dropdown-filter {
        display: flex;
    }

    .table-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #eee;
        .title {
            font-variant: all-petite-caps;
            font-size: x-large;
            font-weight: 400;
        }
    }
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}