<div class="wrapper">
    <div class="quick-filter">
        <div class="chip" *ngFor="let f of quickFilters" (click)="applyQuickFilter(f.val, false)"
            [ngClass]="{'selected': f.val===selected_quick_filter}">{{f.label}}
        </div>
    </div>
    <div class="beta-notice">
        NOTE: This is in beta version
    </div>
</div>