.wrapper {
    display: flex;
    height: 100px;
    background-color:white;
    justify-content: space-between;
    padding: 15px;
    .quick-filter {
        height: 50px;
        max-width: 50%;
        padding: 8px 20px;
        background: white;
        display: flex;
        align-items: center;
        justify-items: start;
        flex-flow: wrap;
        .chip {
            padding: 4px 8px;
            margin: 0 4px;
            border-radius: 16px;
            border: 1px solid #ccc;
            cursor: pointer;
            width: 115px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 18px;
            text-transform: uppercase;
            &:hover, &.selected {
                background-color: var(--primary-color);
                color: #fff;
            }
        }
        
    }
    .beta-notice {
        font-size: 13px;
        color: var(--danger);
    }
    .filter {
        height: 50px;
        padding-right: 20px;
        padding-left: 20px;
        background: white;
        display: flex;
        align-items: center;
        justify-items: start;
        flex-flow: wrap;
        .city {
            flex-basis: 70px;
        }
        .hub {
            flex-basis: 80px;
            margin-left: 10px;
        }
        .order {
            position: relative;
            margin-left: 10px;
            flex-basis: 100px;
            border: 1px solid #F0F5F7;
            background-color: #F7FBFC;
            height: 30px;
            display: grid;
            grid-template-columns: 2fr 15fr;
            grid-column-gap: 0px;
            align-items: center;
            justify-items: center;
            padding-left: 2px;
            padding-right: 2px;
            .order-no {
                outline: none;
                border: none;
                height: 18px;
                color: #3f3636;
                background-color: #F7FBFC;
                font-size: 13px;
                line-height: 18px;
                padding-left: 16px;
            }
            span {
                position: absolute;
                left: 1px;
                top: 50%;
                transform: translateY(-50%);
                color: #BBC2C4;
                cursor: pointer;
            }
            .hide-cross {
                display: none;
            }
            .show-cross {
                display: block;
                padding-left: 2px;
                padding-right: 2px;
                color: lightgray;
            }
            .activate-cross {
                color: grey;
            }
            .deactivate-cross {
                color: lightgray;
            }
        }
        .batch {
            flex-basis: 130px;
        }
        .status {
            flex-basis: 80px;
            margin-left: 10px;
        }
        .search-btn-holder {
            display: flex;
            align-items: center;
            margin-left: 5px;
            .search-btn, .export-btn {
                border: 1px solid gray;
                padding-left: 5px;
                padding-right: 5px;
                text-transform: uppercase;
                height: 30px;
                color: #4E5454;
                
                font-size: 12px;
                font-weight: 500;
                line-height: 21px;
                flex: 1;
                display: flex;
                align-items: center;
                span {
                    flex: 1;
                    text-align: center;
                }
                &:hover {
                    cursor: pointer;
                    background: rgb(63, 54, 54);
                    color: #e6faff;
                }
            }
        }
    }
}
