<div class="wrapper row">
  <div class="col-md-8">
    <div class="row status-report">
      <div class="table-header">
        <div class="title"> Status Report </div>
        <div class="dropdown-filter">
          <div class="filter-options">
            <app-dropdown-select
            [styles]="chart_options_styles"
            [selected_name]="selected_chart_name ? selected_chart_name : '----------'"
            [selected_id]="selected_chart_id ? selected_chart_id : null"
            [items]="chart_types"
            [disabled]="type_disabled || false"
            (value_changed)="chart_type_changed($event)">
            </app-dropdown-select>
          </div>
        </div>
      </div>
    </div>
    <div class="row chart">
      <div class="chart-container col-md-12">
          <div class="chart-wrapper" *ngIf="statuswiseData.length > 0">
            <canvas id="tripstatuschart"></canvas>
          </div>
          <div *ngIf="statuswiseData.length <= 0" class="error">
            <span>{{error_msg}}</span>
          </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <app-trip-status-table [rows]="statuswise_count" *ngIf="statuswise_count.length"></app-trip-status-table>
  </div>
</div>
