.wrapper {
    margin-top: 18px;
    .status-report {
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
        .dropdown-filter {
            display: flex;
        }
    
        .table-header {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            background-color: white;
            width: 100%;
            border-bottom: 1px solid #eee;
            align-items: center;
            .title {
                font-variant: all-petite-caps;
                font-size: x-large;
                font-weight: 400;
            }
        }
    }
}

.error {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    span {
        color: red;
    }
}
.chart {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    .chart-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.chart-container {
    position: relative;
    width: 500px;
    height: 350px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}