<div class="before-pickup d-flex flex-column" *ngIf="position == 'on-way-pickup'">

  <div class="left-line d-flex align-items-start justify-content-start">
    <img class="sub-ico" src="{{ constants.images.default_truck }}">
    <div class="line d-flex align-items-center justify-content-center">
      <div class="line-left"></div>
    </div>
  </div>

  <span class="before-pickup-text">On the way to pickup point</span>
</div>

<div class="stop-start d-flex flex-column" *ngIf="position == 'stop-start'">
  <div class="done-line d-flex align-items-start justify-content-start">
    <span class="point d-flex align-items-center">
      <img [src]="stop.status != 'done' ? constants.markers.pickup : constants.markers.pickup_done_big_2x">
      Pickup
    </span>
    <div class="line d-flex align-items-center justify-content-center" *ngIf="!noLine">
      <div class="part-line"></div>
      <span class="done d-none d-sm-none d-md-none d-lg-none d-xl-block" *ngIf="stopsDone > 0">{{ stopsDone }} more {{ stopsDone > 1 ? 'stops' : 'stop' }} done</span>
      <span class="done d-none d-sm-none d-md-none d-lg-block d-xl-none" *ngIf="stopsDone > 0">{{ stopsDone }} done</span>
      <span class="done d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" *ngIf="stopsDone > 0">{{ stopsDone }}</span>
    </div>
  </div>

  <span class="name" *ngIf="stop.name">{{ stop.name }}</span>
  <span class="address" *ngIf="stop.address">{{ stop.address }}</span>
  <span class="time-status" *ngIf="stop.time && stop.status === 'done'">
  <img src="{{ constants.images.confirm_blue }}" alt="">{{ stop.time }}</span>
  <span class="time" *ngIf="stop.time && stop.status !== 'done'">Arriving : {{ stop.time }}</span>
</div>

<div class="stop-next d-flex flex-column" *ngIf="position == 'stop-next'">
  <div class="left-line d-flex align-items-start justify-content-start">

    <span class="point d-flex align-items-center">
      <img src="{{ constants.markers.stop }}">
      Stop {{ stopsDone + 1 }}
    </span>
    <span class="line d-flex align-items-center justify-content-center">
      <span class="line-left"></span>
      <span class="done d-none d-sm-none d-md-none d-lg-none d-xl-block" *ngIf="stopsLeft - 1 > 0">{{ stopsLeft - 1 }} more {{ stopsLeft - 1 > 1 ? 'stops' : 'stop' }}</span>
      <span class="done d-none d-sm-none d-md-none d-lg-block d-xl-none" *ngIf="stopsLeft - 1 > 0">{{ stopsLeft - 1 }}</span>
      <span class="done d-xs-block d-sm-block d-md-block d-lg-none d-xl-none" *ngIf="stopsLeft - 1 > 0">{{ stopsLeft - 1 }}</span>
    </span>
  </div>

  <span class="name" *ngIf="stop.name">{{ stop.name }}</span>
  <span class="address" *ngIf="stop.address">{{ stop.address }}</span>
  <span class="next">Next Stop</span>
  <span class="time" *ngIf="stop.time">Arriving : {{ stop.time }}</span>
</div>

<div class="stop-end d-flex flex-column" *ngIf="position == 'stop-end'">
  <span class="point">
    <img [src]="stop.status != 'done' ? constants.markers.dropoff : constants.markers.dropoff_done_big_2x">
    Delivery
  </span>
  <span class="name" *ngIf="stop.name">{{ stop.name }}</span>
  <span class="address" *ngIf="stop.address">{{ stop.address }}</span>
  <span class="time-status" *ngIf="stop.time && stop.status === 'done'">
    <img src="{{ constants.images.confirm_blue }}" alt="">{{ stop.time }}</span>
  <span class="time" *ngIf="stop.time && stop.status !== 'done'">Arriving : {{ stop.time }}</span>
</div>
