.time-status {
  font-size: 16px;
  font-weight: 700;
  color: rgb(4, 130, 169);

  img {
    height: 23px;
  }
}

.time {
  color: #757E7F;
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
}

.before-pickup-text {
  color: #4E5454;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.point {
  color: #4E5454;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  white-space: nowrap;
}

.address, .name {
  color: #4E5454;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  max-width: 150px;
}

.stop-next, .stop-start, .before-pickup {
  .left-line, .done-line {
    width: 100%;

    .line {
      width: 100%;
      text-align: center;
      position: relative;
      margin: 0 7px;
      height: 21px;

      .left, .done {
        white-space: nowrap;
        font-size: 11px;
        border: 1px solid #adbcbd;
        border-radius: 10px;
        color: #7b7373;
        padding: 2px 6px;
        background-color: white;
        z-index: 2;
      }

      .line-left {
        position: absolute;
        height: 1px;
        top: 50%;
        content: "";
        width: 100%;
        display: block;
        z-index: 1;
        border-top: 2px dashed #FF6E80;
      }

      .part-line {
        position: absolute;
        height: 1px;
        top: 50%;
        background: #00c3ff;
        content: "";
        width: 100%;
        display: block;
        z-index: 1;
      }
    }
  }

  .next {
    color: rgb(252, 52, 70);
    white-space: nowrap;
  }
}

@media screen and (max-width: 575px) {
  .stop-start, .stop-next {
    width: 200px;
  }
}

.stop-start {
  .point img {
    width: 23px;
    margin-right: 5px;
  }
}

.stop-next {
  .point img {
    width: 20px;
    margin-right: 3px;
  }
}

.stop-end {
  .point img {
    width: 23px;
    margin-right: 2px;
  }
}

.sub-ico {
  width: 100px;
}
