<div class="pincode-modal">
    <div class="modal-header">
        <div class="modal-title-text">Pincodes</div>
        <span class="fa fa-times cross" (click)="closeModal()"></span>
    </div>
    <div class="modal-body">
        <div class="body">
            <div class="pincode" *ngFor="let pincode of row.pincodes">
                {{ pincode }}
            </div>
            <div *ngIf="!row.pincodes.length" class="error-msg d-flex flex-column justify-content-center align-items-center">
                <h6>No pincodes configured.</h6>
                <p>Contact SPOC from Blowhorn team.</p>
            </div>
        </div>
    </div>
</div>
