.pincode-modal {
    width: 50vw;
    height: 50vh;
    background: #fff;
    padding: 0 20px;
    .modal-body {
        height: 50vh;
        overflow-y: auto;
        .body {
            padding: 12px 0;
            display: flex;
            flex-wrap: wrap;
            .pincode {
                display: inline-block;
                background: #666;
                padding: 6px 12px;
                border-radius: 32px;
                font-size: 13px;
                margin: 4px;
                color: #fff;
                letter-spacing: 1.2px;
            }
        }
        .error-msg {
            color: red;
            height: 100%;
            width: 100%;
        }
    }
}
