<div *ngIf="route" class="wrapper">
  <div class="id">{{route.id}}</div>
  <div class="route-info">
    <span class="header">{{route.name}}</span>
    <span class="details">
      <span class="from">{{from_address}} to </span>
      <span class="to"> {{to_address}} </span>
      <span class="stops">via {{total_stops - 2}} stops</span> 
    </span>
  </div>
</div>
