.wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    .id {
        flex: 2;
        color: #4E5454;	
        	
        font-size: 14px;	
        font-weight: 500;	
        letter-spacing: 1px;	
        line-height: 21px;
    }
    .route-info {   
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;     
        .header {
            color: #4E5454;	
            	
            font-size: 14px;	
            font-weight: 500;	
            letter-spacing: 1px;
        }
        .details {
            width: 80%;
            color: #BBC2C4;
            	
            font-size: 12px;	
            line-height: 18px;
            .from {

            }
            .to {

            }
            .stops {
                color: #0180A8;	
            }
        }
    }
}