<div class="wrapper">
  <div class="summary-panel">
      <app-routes-summary
          [routes]="routes"
          [selected_route]="selected_route">
      </app-routes-summary>
  </div>
  <div *ngIf="routes.length" class="detail-panel">
    <div class="map-list">
      <div class="list" *ngIf="!map_view">
          <div class="header">
            <app-route-detail-list-header
                [route]="selected_route"
                (view_changed)="switch_to_map()">
            </app-route-detail-list-header>
          </div>
          <app-route-detail-list
              [route]="selected_route">
          </app-route-detail-list>
      </div>
      <div class="map" *ngIf="map_view">
          <app-route-detail-map [route]="selected_route"></app-route-detail-map>
          <app-route-detail-map-header-card [route]="selected_route"></app-route-detail-map-header-card>
          <div class="view">
            <div class="map-view" 
                [ngClass]="{ active: map_view}">
                <span class="fa fa-map-marker"></span>
            </div>
            <div class="list-view" 
                [ngClass]="{ active: !map_view}"
                (click)="switch_to_list()">
                <span class="fa fa-list"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="footer">
        <app-route-detail-footer [map_view]="map_view"
            [route]="selected_route">
        </app-route-detail-footer>
    </div>
  </div>
</div>
