:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.wrapper {
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    .summary-panel {
        position: relative;
        flex: 3.5;
        box-shadow: 8px 16px 16px -8px #C9D2D6;
        z-index: 46;
        height: 100%;
        overflow-y: scroll;
    }
    .detail-panel {
        opacity: 1;
        flex: 8;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 46;        
        .map-list {
            box-shadow: inset 8px 0px 16px -8px #C9D2D6;
            background-color: #F7FBFC;
            width: 100%;
            flex: 1;
            overflow: auto;
            .list {
                .header {
                    z-index: 50;
                    width: 100%;
                    position: sticky;
                    top: 0px;
                    background-color: #F7FBFC;
                    box-shadow: inset 8px 0px 16px -8px #C9D2D6;
                }
            }
            .map {
                height: 100%;
                position: relative;
                app-route-detail-map {
                    height: 100%;
                }
                app-route-detail-map-header-card {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                }
                .view {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: flex;
                    height: 35px;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .7);
                    .map-view {
                        z-index: 52;
                        background-color: #fff;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        padding: 10px 15px;
                        &:hover {
                            cursor: pointer;
                        }
                        app-route-detail-map {
                            height: 100%;
                        }
                    }
                    .list-view  {
                        z-index: 52;
                        background-color: #fff;
                        display: flex;
                        flex: 1;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        padding: 10px 15px;            
                        &:hover {
                            cursor: pointer;
                        }
                    }
                    .active {
                        background-color: var(--primary-color);
                    }
                }
                
            }
        }
        .footer {
            z-index: 55;
            border-top: 1px solid #C9D2D6;            
            width: 100%;
            padding: 15px 0px;
            box-shadow: 4px -8px 16px -8px #C9D2D6;
        }
    }
}