<div class="invoice-details-modal">
    <div class="modal-header">
        <div class="modal-title-text">invoice details</div>
        <span class="fa fa-times cross" (click)="details_closed.emit(true)"></span>
    </div>
    <div class="invoice-details-modal-body">
        <div class="invoice-basic-details">
            <div class="main-text">
                <div class="text-label">invoice no.:</div>
                <div class="text-val">{{invoice.invoice_number}}</div>
            </div>
            <div class="main-text">
                <div class="text-label">invoice state:</div>
                <div class="text-val">{{invoice.invoice_state}}</div>
            </div>
            <div class="main-text">
                <div class="text-label">period start:</div>
                <div class="text-val">{{invoice.service_period_start|date:'mediumDate'}}</div>
            </div>
            <div class="main-text">
                <div class="text-label">period end:</div>
                <div class="text-val">{{invoice.service_period_end|date:'mediumDate'}}</div>
            </div>
            <div class="main-text">
                <div class="text-label">sent on:</div>
                <div class="text-val">{{invoice.invoice_date|date:'mediumDate'}}</div>
            </div>
        </div>
        <div class="calc-header">
            <div class="calc-header-text">calculation & breakdowns</div>
        </div>
        <div class="calc-body">
            <div class="calc-content">
                <div class="main-text">
                    <div class="calc-label">Base Amount (A):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.charges_basic|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">Slab Charges (B):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.charges_service|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">Taxable Adjustment (C):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.taxable_adjustment|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">Non Taxable Adjustment (D):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.non_taxable_adjustment|number:'0.2'}}</div>
                </div>
                <div class="seperater-line"></div>
                <div class="total-text">
                    <div class="calc-label">Total Service Charges (E=A+B+C+D):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.total_service_charge|number:'0.2'}}</div>
                </div>
            </div>
            <div class="calc-content">
                <div class="main-text">
                    <div class="calc-label">Taxable Amount (F=A+B+C):</div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.taxable_amount|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">
                        CGST@<span>{{invoice.cgst_percentage|number:'0.1'}}%</span> (G)
                    </div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.cgst_amount|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">
                        SGST@<span>{{invoice.sgst_percentage|number:'0.1'}}%</span> (H)
                    </div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.sgst_amount|number:'0.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">
                        IGST@<span>{{invoice.igst_percentage|number:'0.1'}}%</span> (I)
                    </div>
                    <div class="calc-val">{{ blowhorn_service.currency|currencySymbol }}{{invoice.igst_amount|number:'.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">Toll Charges (J):</div>
                    <div class="calc-val">{{ blowhorn_service.currency|currencySymbol }}{{invoice.total_toll_charges|number:'.2'}}</div>
                </div>
                <div class="main-text">
                    <div class="calc-label">Parking Charges (K):</div>
                    <div class="calc-val">{{ blowhorn_service.currency|currencySymbol }}{{invoice.total_parking_charges|number:'.2'}}</div>
                </div>
                <div class="seperater-line"></div>
                <div class="total-text">
                    <div class="calc-label">Total Payable L=E+G+H+I+J+K:</div>
                    <div class="calc-val">{{ blowhorn_service.currency|currencySymbol }}{{invoice.total_amount|number:'0.2'}}</div>
                </div>
                <div class="total-text">
                    <div class="calc-label">
                        <div class="calc-label">Tax Payable under RCM:</div>
                    </div>
                    <div class="calc-val">
                        {{ blowhorn_service.currency|currencySymbol }}{{invoice.total_rcm_amount|number:'0.2'}}
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-wrapper">
            <div class="action-button" *ngIf="blowhorn_service.hasPermission('invoices', 'can_download_documents')">
                <app-blowhorn-button class="action-btn"
                (click_fired)="download_documents('invoice')"
                [label]="button.download_invoice.label"
                [type]="button.download_invoice.type"
                [styles]="button.download_mis.icon_styles"
                [icon]="button.download_invoice.icon">
                </app-blowhorn-button>
            </div>
            <div class="action-button" *ngIf="blowhorn_service.hasPermission('invoices', 'can_download_documents')">
                <app-blowhorn-button class="action-btn"
                (click_fired)="download_documents('mis')"
                [label]="button.download_mis.label"
                [type]="button.download_mis.type"
                [styles]="button.download_mis.icon_styles"
                [icon]="button.download_mis.icon">
                </app-blowhorn-button>
            </div>
            <div class="action-button" *ngIf="show_actions && blowhorn_service.hasPermission('invoices', 'can_approve_invoice')">
                <app-blowhorn-button class="action-btn"
                (click_fired)="proceed_with_action('accept')"
                [label]="button.accept.label"
                [type]="button.accept.type">
                </app-blowhorn-button>
            </div>
        </div>
        <div class="seperater-line"></div>
        <div class="paginator-wrapper">
            <div class="page page-next">
                <app-blowhorn-button class="action-btn"
                (click_fired)="paginator_clicked.emit('prev')"
                [label]="paginator.prev.label"
                [type]="paginator.prev.type"
                [icon]="paginator.prev.icon"
                [styles]="paginator.prev.icon_styles"
                [flat_btn]="paginator.prev.flat_btn"
                [disabled]="!prev_available">
                </app-blowhorn-button>
            </div>
            <div class="page page-next">
                <app-blowhorn-button class="action-btn"
                (click_fired)="paginator_clicked.emit('next')"
                [label]="paginator.next.label"
                [type]="paginator.next.type"
                [icon]="paginator.next.icon"
                [styles]="paginator.next.icon_styles"
                [flat_btn]="paginator.next.flat_btn"
                [disabled]="!next_available">
                </app-blowhorn-button>
            </div>
        </div>
    </div>
</div>
