.invoice-details-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 0 20px;
    .modal-header {
        display: flex;
        margin-bottom: 10px;
        padding: 10px 20px;
        border-bottom: 2px solid #0088A8;
        align-items: center;
        min-height: 45px;
        .modal-title-text {
            color: #0088A8;
            
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.5px;
            line-height: 21px;
            text-transform: uppercase;
        }
        .cross {
            display: flex;
            justify-content: flex-end;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .invoice-details-modal-body {
        .invoice-basic-details {
            display: flex;
            flex-direction: column;
            max-width: 30%;
            padding: 10px 20px;
        }
        .main-text {
            display: flex;
            justify-content: space-between;
            color: #434343;
            
            font-size: 14px;
            padding: 5px 0;
            .text-label {
                width: 50%;
                font-weight: 500;
                text-transform: capitalize;
            }
            .text-val {
                width: 50%;
            }
            .calc-label {
                text-align: left;
            }
            .calc-val {
                text-align: right;
            }
        }

        .calc-header {
            display: flex;
            margin-bottom: 10px;
            padding: 10px 20px;
            border-bottom: 2px solid #0088A8;
            .calc-header-text {
                color: #0088A8;
                
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1.5px;
                line-height: 21px;
                text-transform: uppercase;
            }
        }
        .calc-body {
            display: flex;
            justify-content: space-between;
            width: 72%;
            .calc-content {
                width: 50%;
                padding: 10px 25px;
            }
        }
        .btn-wrapper {
            display: flex;
            justify-content: center;
            // padding: 15px;
            .action-button {
                padding: 10px;
            }
        }
        .paginator-wrapper {
            display: flex;
            justify-content: space-between;
            .page {
                display: flex;
                padding: 10px;
            }
        }

        .seperater-line {
            box-sizing: border-box;
            height: 2px;
            margin: 5px 0;
            width: 100%;
            border: 1px solid #979797;
            opacity: 0.3;
        }
        .seperater {
            margin: 5px;
        }
        .total-text {
            display: flex;
            justify-content: space-between;
            color: #434343;
            
            font-size: 14px;
            font-weight: 500;
            padding: 0 0 10px 0;
            .calc-label {
                text-align: left;
            }
            .calc-val {
                text-align: right;
            }
        }
    }
}
