{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls %}

{% block extrahead %}
{{ block.super }}
  <style>
    tr.selected {
      border-color: #EFEDC8;
      background-color: #FFFDDB;
    }
  </style>
  <script src="{% static 'website/js/lib/toastr.js' %}"></script>
  <script src="{% static 'website/js/lib/jquery.playSound.js' %}"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>

  <script type="application/javascript">
    var orderTypeSpot = "{{order_type_spot}}";
    var messageTypeNew = "{{message_type_new}}";
    // URL used for getting firebase auth token
    var firebaseAuthTokenUrl =
      "{% url 'firebase-token' token_id='admin-bookings-tracking' %}";

    var config = {
      apiKey: "{{firebase_apikey}}",
      authDomain: "{{firebase_authdomain}}",
      databaseURL: "{{firebase_database_url}}",
      storageBucket: "{{firebase_storagebucket}}",
      messagingSenderId: "{{firebase_messagingsenderid}}"
    };
    firebase.initializeApp(config);
    $ = django.jQuery;
    $(document).ready(function () {
      $("tr").click(function(){
        $(this).addClass("selected").siblings().removeClass("selected");
    });
    });
  </script>
  <script src="{% static 'website/js/sprintf.js' %}"></script>
  <script src="{% static 'website/js/lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'admin/js/spot_order.js' %}"></script>
{% endblock %}
