<div class="wrapper">
    <div class="modal-header">
        <div class="modal-title-text">request additional vehicle</div>
        <div (click)="suppress_event($event)">
            <span class="fa fa-times close"
            (click)="close_fired_modal(false)"></span>
        </div>
    </div>
    <div class="content" mat-dialog-content>
        <div class="loader-container" *ngIf="submitting" [@slideInOut]>
            <app-mini-loader
            [styles]="loaderStyles"
            [font_awesome_spinner]="'fa-spinner fa-pulse'">
            </app-mini-loader>
        </div>
        <form name="form" class="full-width" #f="ngForm"
            novalidate [@slideInOut]>
            <div *ngIf="!no_contracts">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <mat-form-field style="width: 100%;">
                            <mat-select
                            name="city"
                            placeholder="City"
                            [(ngModel)]="selected_city_id"
                            (ngModelChange)="filter_dropdowns()"
                            required>
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{ city.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <mat-form-field style="width: 100%;">
                            <mat-select
                            name="hub"
                            placeholder="Hub"
                            [(ngModel)]="selected_hub_id"
                            [disabled]="!hubs.length"
                            required>
                                <mat-option *ngFor="let hub of hubs" [value]="hub.id">
                                    {{ hub.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <mat-form-field style="width: 100%;">
                            <mat-select
                            placeholder="Preferred Vehicle Class"
                            required
                            [(ngModel)]="selected_vclass_id"
                            [disabled]="!vehicle_classes.length"
                            name="vehicle_class">
                                <mat-option *ngFor="let vclass of vehicle_classes" [value]="vclass.id">
                                    {{ vclass.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <mat-form-field style="width: 100%;">
                            <div style="white-space: pre;">
                                <input
                                placeholder="Number of Vehicles"
                                type="number"
                                min="1"
                                max="5"
                                value="1"
                                name="numberOfVehicles"
                                matInput
                                required
                                [(ngModel)]="numberOfVehicle"
                                #numberOfVehicles/>
                            </div>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group d-flex datepicker">
                        <input
                        bsDatepicker
                        name="pickupDate"
                        type="text"
                        placeholder="Pickup Date"
                        #dp="bsDatepicker"
                        matInput
                        placement="top"
                        [bsConfig]="{
                            dateInputFormat: 'DD/MM/YYYY',
                            containerClass: 'theme-blue'
                        }"
                        [minDate]="minDate"
                        [maxDate]="maxDate"
                        [(ngModel)]="pickupDate"
                        (ngModelChange)="date_changed()"
                        readonly
                        required>
                        <i class="fa fa-calendar" (click)="dp.toggle()"></i>
                    </div>
                    <div class="col-md-6 form-group d-flex">
                        <timepicker
                        matInput
                        name="pickupTime"
                        [(ngModel)]="pickupTime"
                        [min]="minTime"
                        [max]="maxTime"
                        [minuteStep]="minuteStep"
                        [showMeridian]="false"
                        [showSpinners]="false"
                        [disabled]="!pickupDate">
                        </timepicker>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="alert.messages.length" [@slideInOut]>
                <div class="col-md-12">
                    <ngb-alert
                    [type]="alert.type"
                    (close)="close_alert(alert)">
                        <div class="row" *ngFor="let m of alert.messages">
                            {{ m }}
                        </div>
                    </ngb-alert>
                </div>
            </div>
            <div class="modal-footer">
                <app-blowhorn-button
                [label]="dismiss_button.label"
                [disabled]="dismiss_button.disabled"
                (click_fired)="close_fired_modal(false)">
                </app-blowhorn-button>
                <span class="clear"></span>
                <app-blowhorn-button
                *ngIf="!no_contracts"
                [label]="submit_button.label"
                [type]="submit_button.type"
                [disabled]="(
                    !selected_city_id ||
                    !selected_hub_id ||
                    !numberOfVehicle ||
                    !pickupDate ||
                    !pickupTime ||
                    !selected_vclass_id
                )"
                (click_fired)="onSubmit()">
                </app-blowhorn-button>
            </div>
        </form>
    </div>
</div>
