.wrapper {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    .error {
        font-weight: 500;
        vertical-align: middle;
        margin: auto;
        color: red;
    }
    .content {
        display: flex;
        padding: 25px 25px 0 25px;
        position: relative;
        .loader-container {
            z-index: 1;
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
        .full-width {
            width: 100%;
        }
        .datepicker {
            input {
                height: 34px;
                vertical-align: middle;
                margin: auto;
                border-bottom: 1px solid #ccc;
            }
            i {
                height: 34px;
                vertical-align: middle;
                margin: auto;
                padding-top: 5%;

            }
        }
    }
}
