.map-pos, .gmap-container, agm-map {
  height: 100%;
  width: 100%;
}

.btn-marker-save-flat {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 12px 12px;
  border: 1px solid var(--primary-color);
  border-radius: none;
  font-size: 13px;
  background-color: var(--primary-color);
  font-weight: 600;
  color: black;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: rgb(255, 255, 255);
    border-radius: none;
    padding: 12px 12px;
    color: black;
  }
}
