<div class="map-pos d-flex align-items-center justify-content-center">
  <div class="gmap-container">

    <!-- AGM MAP - MAIN AGM DIRECTIVE FOR A MAP -->
    <agm-map
      [clickableIcons]="false"
      (mapReady)="onMapReady($event)"
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [scrollwheel]="scrollwheel"
      [streetViewControl]="false">

      <!-- LOOP THROUGH ALL MARKERS AND SOLVE STATUS ISSUES-->
      <agm-marker *ngIf="!isConfigPresent || dashboardConfig.markers.pickup.show"
        [latitude]="trip.pickup.location.lat"
        [longitude]="trip.pickup.location.lng"
        [iconUrl]="trip.pickup.status != 'done'? pickupMarkerImg : pickupMarkerDoneImg"
        [markerDraggable]="allowModification"
        (dragEnd)="markerDragEnd(trip.pickup, $event)">
        <agm-info-window>
            <app-info-window [stop]="trip.pickup"></app-info-window>
        </agm-info-window>
      </agm-marker>
      <agm-marker
        [latitude]="trip.dropoff.location.lat"
        [longitude]="trip.dropoff.location.lng"
        [iconUrl]="trip.dropoff.status != 'done' ? {
            url: dropoffMarkerImg,
            scaledSize: {
              height: 40,
              width: 40
            }
          } : {
            url: dropoffMarkerDoneImg,
            scaledSize: {
              height: 40,
              width: 40
            }
        }"
        [markerDraggable]="allowModification"
        (dragEnd)="markerDragEnd(trip.dropoff, $event)">
        <agm-info-window>
            <app-info-window [stop]="trip.dropoff"></app-info-window>
        </agm-info-window>
      </agm-marker>

      <div class="markers" *ngFor="let m of markers; let i = index">
        <agm-marker
          [latitude]="m.location.lat"
          [longitude]="m.location.lng"
          [label]="(i+1).toString()"
          [iconUrl]="m.status != 'done'? stopMarkerImg : stopMarkerDoneImg"
          [markerDraggable]="allowModification"
          (dragEnd)="markerDragEnd(m, $event)">
          <agm-info-window>
            <app-info-window [stop]="m"></app-info-window>
          </agm-info-window>
        </agm-marker>
      </div>

      <!-- SHOW ROUTES -->

      <!--
      <div class="routes" *ngFor="let rst of routes; let i of index">
        <agm-map-directions
          [origin_lat]="rst[0]"
          [origin_lng]="rst[1]"
          [destination_lat]="rst[2]"
          [destination_lng]="rst[3]"
        ></agm-map-directions>
      </div>
      -->

      <agm-polyline [strokeWeight]="strokeWeight" [strokeColor]="strokeColor">
        <div *ngFor="let p of trace">
          <agm-polyline-point [latitude]="p.lat" [longitude]="p.lng">
          </agm-polyline-point>
        </div>
      </agm-polyline>
    </agm-map>
    <button class="btn-marker-save-flat" *ngIf="allowModification && displaySaveButton" [disabled]="disableSaveBtn"
    (click)="updateOrder(trip.order_id, trip.pickup.location, trip.dropoff.location, markers)">
    {{ disableSaveBtn ? 'Saving Location...' : 'Save Marker Location' }}
  </button>
  </div>
</div>
