<div class="blowhorn-navbar" [ngStyle]="navbar_styles">
  <div class="logo" *ngIf="show_logo">
    <a href="/admin">
      <img src="{{_blowhorn_service.logo_url}}" alt="logo">
    </a>
  </div>
  <div class="links" [ngStyle]="link_styles">
    <app-nav-link *ngFor="let link of links"
      [router_link]="link.link"
      [link_text]="link.text"
      (active_link_text)="link_clicked($event)">
    </app-nav-link>
  </div>  
  <app-dropdown-user *ngIf="show_user"
    [username]="username"
    [styles]="username_styles">
  </app-dropdown-user>
</div>
