.blowhorn-navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .6);
    position: sticky;
    top: 42px;
    left: 0;
    background-color: #fff;
    z-index: 1;
    .logo {
        padding-left: 5px;
        justify-self: left;
        margin-right: auto;
    }
    .links {
        flex: 1;
        margin: 0px 25px;
        padding: 0px;
        align-self: stretch;
        display: flex;
        align-items: stretch;
        justify-items: flex-start;
        app-nav-link {
            margin: 0px 10px;
        }
    }
    app-dropdown-user {
        margin-left: auto;
        justify-self: right;
        padding-right: 5px;
    }
}
