<div class="modal fade" id="modal-route-trace" tabindex="-1" role="dialog" aria-labelledby="routeTraceModalLabel"
    aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Route Trace</h4>
            </div>
            <div class="modal-body">
                <div class="checkbox-container">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="routeTraceTypes" id="routeTraceType1" value="trip">
                        <label class="form-check-label" for="routeTraceType1">Processed GPS points</label>
                        <span>-</span><div class="circle red-circle"></div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="routeTraceTypes" id="routeTraceType2" value="mongo">
                        <label class="form-check-label" for="routeTraceType2">Raw GPS points</label>
                        <span>-</span><div class="circle blue-circle"></div>
                    </div>
                </div>
                <div class="loader"></div>
                <div class="message">No GPS points available.</div>
                <div id="map-container" style="height: 600px;width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<style>
    .checkbox-container {margin-bottom: 15px;border-bottom: 1px solid #eee;display: flex;justify-content: space-around;align-items: center;padding: 10px 0;}
    .checkbox-container .circle {width: 20px;height: 20px;border-radius: 50%;display: inline-block;margin-right: 10px;}
    .checkbox-container .form-check {display: flex; justify-content: center; align-items: center;}
    .checkbox-container .form-check-label + span {margin-right: 4px;}
    .checkbox-container .form-check-label {margin: 0 8px;}
    .checkbox-container .red-circle {background-color: red;}
    .checkbox-container .blue-circle {background-color: blue;}
    .message {text-align: center;font-size: 20px;font-weight: bold;color: rgb(167, 18, 18);margin-top: 20px;}
    .loader {border: 16px solid #f3f3f3;border-top: 16px solid #3498db;border-radius: 50%;width: 120px;height: 120px;animation: spin 2s linear infinite;margin: auto;}
    @keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
</style>
