<div class="report-configuration-modal">
  <div class="modal-header">
    <div class="modal-title-text">{{header_text}}</div>
    <div (click)="activeModal.dismiss('Cross click')">
        <span class="fa fa-times cross"
        (click)="activeModal.dismiss('Cross click')"></span>
    </div>
  </div>

  <div class="report-configuration-modal-body">
    <div class="report-configuration-content-wrapper">
      <form name="form">
        <div class="inline-item switch">
          <span>Category</span>&nbsp;&nbsp;&nbsp;
          <span class="asterisk_input">  </span>
          <app-dropdown-select
            [styles]="report_type_styles"
            [selected_name]="selected_category ? selected_category : '-----'"
            [show_cross]="false"
            [items]="category_options"
            (value_changed)="report_category_changed($event)">
          </app-dropdown-select>
        </div>

        <div class="inline-item switch">
          <span>Report Type</span>&nbsp;&nbsp;&nbsp;
          <span class="asterisk_input">  </span>
          <app-dropdown-select
            [styles]="report_type_styles"
            [selected_name]="selected_report_name ? selected_report_name : '-----'"
            [selected_id]="selected_report_id ? selected_report_id : null"
            [show_cross]="false"
            [items]="report_options"
            (value_changed)="report_type_changed($event)">
          </app-dropdown-select>
        </div>

        <div class="inline-item switch">
          <span>City</span>&nbsp;&nbsp;&nbsp;
          <app-dropdown-select
            [styles]="report_type_styles"
            [selected_name]="selected_city_name ? selected_city_name : '-----'"
            [selected_id]="selected_city_id ? selected_city_id : null"
            [show_cross]="false"
            [items]="cities"
            (value_changed)="city_changed($event)">
          </app-dropdown-select>
        </div>

        <div class="inline-item switch">
          <span>Aggregation Period</span>&nbsp;&nbsp;&nbsp;
          <span class="asterisk_input">  </span>
          <app-dropdown-select
            [styles]="report_type_styles"
            [selected_name]="selected_period_name ? selected_period_name : '-----'"
            [selected_id]="selected_period_id ? selected_period_id : null"
            [show_cross]="false"
            [items]="periodlist"
            (value_changed)="period_changed($event)">
          </app-dropdown-select>
        </div>

        <div class="inline-item switch">
          <span>Schedule </span>&nbsp;&nbsp;&nbsp;
          <span class="asterisk_input">  </span>
          <div class="switch-item" >
              <label for="daily" [ngClass]="{'selected': schedule_type === 'daily'}">
                  <input type="radio"
                  name="schedule_type"
                  id="daily"
                  value="daily"
                  [(ngModel)]="schedule_type"
                  >
                  Daily
              </label>
          </div>
          <div class="switch-item">
              <label for="weekly" [ngClass]="{'selected': schedule_type === 'weekly'}">
                  <input type="radio"
                  id="weekly"
                  name="schedule_type"
                  value="weekly"
                  [(ngModel)]="schedule_type"
                  >
                  Weekly
              </label>
          </div>
        </div>

        <div class="inline-item switch" *ngIf="schedule_type == 'weekly'">
          <span>Scheduled Day of week</span>&nbsp;&nbsp;&nbsp;
          <app-dropdown-select
            [styles]="weekday_styles"
            [selected_name]="selected_weekday_name ? selected_weekday_name : '-----'"
            [selected_id]="selected_weekday_id ? selected_weekday_id : null"
            [show_cross]="false"
            [items]="weekday_options"
            (value_changed)="weekday_changed($event)">
          </app-dropdown-select>
        </div>
        
        <div class="error" *ngIf="formError">
          {{ formError }}
        </div>

        <mat-progress-bar mode="indeterminate" *ngIf="show.request_loader"></mat-progress-bar>
        
        <div class="modal-footer" >
            <app-blowhorn-button
                [label]="submit_button.label"
                [type]="submit_button.type"
                [disabled]="submit_button.disabled"
                (click_fired)="save_schedule()">
            </app-blowhorn-button>

            <span class="clear"></span>
            <app-blowhorn-button
                [label]="dismiss_button.label"
                [disabled]="dismiss_button.disabled"
                (click_fired)="activeModal.dismiss('Cross click')">
            </app-blowhorn-button>
            <span class="clear"></span>
        </div>

      </form>

    </div>
  </div>
</div>
