<div class="wrapper">
    <div class="filters">
        <div class="global-filter">
            <span class="fa fa-search"></span>
            <input class="global-inputbox"
            type="search"
            placeholder="Search by name"
            [(ngModel)]="filter_value"
            (ngModelChange)="filter_value_changed($event)"
            title="Type here to search">
        </div>
    </div>
    <div class="add-btn-holder" *ngIf="memberService.has_invite_permission">
        <app-blowhorn-button
        [label]="add_button.label"
        (click_fired)="add_group()">
        </app-blowhorn-button>
    </div>
</div>
