.member-modal-body {
    padding: 20px;
    border: 1px solid white;
    background-color: #fff;
}
.modal-footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 15px 10px 10px 10px;
}
.clear {
    padding: 5px;
}
.success {
    border: none !important;
}
.error {
    border: none !important;
}

.backdrop-color {
    background-color: rgba(0, 0, 0, 0.7);
}
.status-button-wrapper {
    app-blowhorn-button {
        margin-right: 8px;
    }
}
.btn-save {
    min-width: 80px;
}
