<div class="modal-header">
    <div class="modal-title-text">{{ headerText }}</div>
    <div (click)="dismiss($event)">
        <span class="fa fa-times cross"
        (click)="dismiss($event)"></span>
    </div>
</div>
<div class="member-modal-body">
    <form
        [formGroup]="memberForm"
        autocomplete="off"
        novalidate
        class="d-flex flex-column"
        (ngSubmit)="onSubmit(memberForm.value)"
    >
        <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" id="name">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
            <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 60 characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" id="email">
            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">Enter a valid email</mat-error>
            <mat-error *ngIf="hasError('email', 'pattern')">Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Mobile" formControlName="phone_number" id="phone_number" maxlength="10" minlength="10">
            <mat-error *ngIf="hasError('phone_number', 'required')">Mobile is required</mat-error>
            <mat-error *ngIf="hasError('phone_number', 'pattern')">Enter a mobile number</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="none">
            <input matInput hidden [readonly]="allowToEdit" />
            <mat-slide-toggle formControlName="is_admin" id="is_admin" color="primary">
                Is Admin?
            </mat-slide-toggle>
        </mat-form-field>
        <div
            class="modal-footer"
            [ngClass]="member && _member_service.has_invite_permission ? 'justify-content-between' : 'justify-content-end'"
        >
            <div class="d-flex status-button-wrapper"*ngIf="member && _member_service.has_invite_permission">
                <app-blowhorn-button
                *ngFor="let item of statusPipeline[member.status]"
                [label]="item.label"
                [type]="item.type"
                [disabled]="!allowToEdit"
                (click_fired)="updateStatus(item)">
                </app-blowhorn-button>
            </div>
            <app-blowhorn-button
            class="btn-save"
            [label]="submit_button.label"
            [type]="submit_button.type"
            [disabled]="submit_button.disabled || !allowToEdit">
            </app-blowhorn-button>
        </div>
    </form>
    <app-blowhorn-message
    *ngIf="alert.show_message"
    [message]="alert.message"
    [type]="alert.type"
    (close_fired)="alert.show_message=false">
    </app-blowhorn-message>
</div>
