.container-fluid {
    background-color: #F7FBFC;
    padding: 0;
}
.column {
    display: flex;

    .row {
        display: flex;
    }

    .areachart-adjustment {
        margin-top: -17px;
    }

    .piechart-adjustment {
        margin-top: 18px;
    }

    .contract-chart {
        margin-left: 3px;
        margin-block-start: 10px;
    }
}
.main-wrapper {
    padding: 10px 15px;
}
.no-padding {
    padding: 0;
}