<div class="container-fluid">
  <div>
    <app-shipment-report-navbar
      (filter_changed)="filter_changed($event)"
    ></app-shipment-report-navbar>
  </div>

  <div class="main" *ngIf="!trips_present">
    <app-search-error></app-search-error>
  </div>

  <div *ngIf="trips_present">
    <div class="main-wrapper">
        <app-tbr-topinfo-tile></app-tbr-topinfo-tile>

        <div class="row">
            <div class="col-md-5 no-padding">
                <app-tbr-tileinfo-display></app-tbr-tileinfo-display>
            </div>
            <div class="col-md-7">
                <app-tbr-status-stats></app-tbr-status-stats>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <app-tbr-contracttype-stats></app-tbr-contracttype-stats>
            </div>
            <div class="col-md-8">
                <app-tbr-area-chart></app-tbr-area-chart>
            </div>
        </div>
    </div>
<div>
