<div class="subscribe">
    <h1>Feel free to drop email address of partner you want us to integrate. We will <span>onboard the partner </span>with us.</h1>
  
    <form>
      <input type="email" placeholder="Email Address" name="email" [(ngModel)]='partner_email'>
      <input type="submit" value="Subscribe" (click)="submit_partner_email()">
    </form>
  </div>