.subscribe {
    background-color: #f9f7fb;
    padding: 20px 20px;
}

.subscribe h1 {
    font-size: 1rem;
    color: #3e4146;
    line-height: 130%;
    letter-spacing: 0.07rem;
    margin-bottom: 30px;
  }
  
  .subscribe h1 span {
    color: #f66867;
  }
  
  .subscribe form {
    overflow: hidden;
  }
 
  .subscribe form input {
    width: 100%;
    float: left;
    padding: 5px 5px;
    text-align: center;
    font-family: inherit;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    outline: 0;
  }

  .subscribe form input[type=email] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  @media (min-width: 768px) {
    .subscribe form input[type=email] {
      margin-bottom: 0px;
      width: 75%;
      border-right-width: 0px;
    }
  }

  .subscribe form input[type=email]:focus {
    border-color: #3e4146;
  }

  .subscribe form input[type=submit] {
    background-color: #af96d3;
    color: #ffffff;
    border: 1px solid #af96d3;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  @media (min-width: 768px) {
    .subscribe form input[type=submit] {
      width: 25%;
    }
  }

  .subscribe form input[type=submit]:hover {
    cursor: pointer;
    background-color: #7349af;
    border-color: #7349af;
  }