{% extends "admin/change_list.html" %}
{% load static humanize customer_tags currency_filters %}

{% block content_title %}
<h1> Invoice Summary </h1>
{% endblock %}

{% block extrahead %}
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{% static 'admin/css/summary.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link href="{% static 'website/css/theme.materialize.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'website/css/dragtable.mod.min.css' %}" rel="stylesheet" type="text/css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{% static 'website/js/lib/jquery.tablesorter.min.js' %}"></script>
  <script src="{% static 'website/js/lib/jquery.tablesorter.widgets.min.js' %}"></script>
  <script src="{% static 'website/js/lib/widget-math.js' %}"></script>
  <script src="{% static 'website/js/lib/widget-output.min.js' %}"></script>
  <script src="{% static 'website/js/lib/widget-cssStickyHeaders.min.js' %}"></script>
  <script src="{% static 'admin/js/customer/invoice_summary.js' %}"></script>
  <script>
    var status_list = "{{statuses | safe}}";
  </script>
{% endblock %}
{% block result_list %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 summary-container">
      <div class="legend-row">
        <div class="version-info">v7.0.4</div>
        <div class="legend-container">
        {% include 'admin/customer/invoice/partials/legend.html' %}
        </div>
      </div>
      <div class="tabpanel tab-header invoice_tab_list">
        {% include 'admin/customer/invoice/partials/tabs.html' %}
      </div>
      <div class="tab-content" id="nav-tabContent">
        {% for st in results %}
        <div class="tab-pane fade show" role="tabpanel" id="content-{{ forloop.counter0 }}"></div>
        {% endfor %}
      </div>
      <div id="loading">
        <img id="icon-loading" src="{% static 'assets/Assets-Common/Blowhorn_seal_blue.png' %}">
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block pagination %}{% endblock %}
